<!-- COMPOUND COMPONENT -->
<div class="slds-hide slds-p-horizontal_none slds-size_1-of-1 slds-theme_shade image menu-border placeholder placeholder-component-12" id="placeholder-component-12">
    <!-- mini menu -->
    <div class="slds-grid slds-grid_align-center">
        <div class="mini-menu 2slds-hide slds-grid slds-grid_align-center">
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-dragdrop-component" title="Move">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                    </svg> <span class="slds-assistive-text">Move</span> </button>
            </div>
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-edit-component" title="Edit">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                    </svg> <span class="slds-assistive-text">Edit</span> </button>
            </div>
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-delete-component" title="Delete">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                    </svg> <span class="slds-assistive-text">Delete</span> </button>
            </div>
        </div>
    </div>
    <!-- /mini menu -->
    <div class="2slds-align_absolute-center slds-p-around_medium slds-grid slds-wrap 2placeholder slds-grid_vertical">
        <div class="slds-align_absolute-center" style="color:#fff">Image Carousel</div>
        <div class="w3-content w3-display-container">
            <div class="mySlides slds-theme_shade  slds-align_absolute-center" style="width:100%"><h2>Headline1</h2><p>Content</p></div>

            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        </div>
    </div>
    {% include "_inc_modal-delete-component.html" ignore missing %}
    {% include "_inc_modal-properties-component-2column.html" ignore missing %} </div>
<!-- /COMPOUND COMPONENT -->
