<!-- MODAL 2COLUMN COMPONENT -->
<div class="2slds-hide js-modal" id="component-settings-2column">
    <section role="dialog" tabindex="-1" class="slds-modal slds-modal_large slds-fade-in-open " aria-labelledby="header44" aria-describedby="modal-content-id-3">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button--icon slds-modal__close slds-button--icon-inverse js-close" title="Close">
                    <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="header43" class="slds-text-heading--medium">Component Settings: Custom 2Column Component</h2>
            </header>
            <div class="slds-modal__content slds-p-around--medium slds-text-align_center" id="modal-content-id-3">
                <!-- COMPONENT SETTINGS -->

                    <ul class="slds-accordion">
                    <li class="slds-accordion__list-item">
                        <section class="slds-accordion__section slds-is-open">
                        <div class="slds-accordion__summary">
                            <h3 class="slds-text-heading_small slds-accordion__summary-heading">
                            <button aria-controls="accordion-details-01" aria-expanded="true" class="slds-button slds-button_reset slds-accordion__summary-action">
                                <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                </svg>
                                <span class="slds-truncate" title="Accordion summary">Section 1</span>
                            </button>
                            </h3>
                            <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small slds-shrink-none" aria-haspopup="true">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                            </svg>
                            <span class="slds-assistive-text">More Options</span>
                            </button>
                        </div>
                        <div aria-hidden="false" class="slds-accordion__content slds-text-align_left" id="accordion-details-01">
                            <!-- ACCORDDION 1 CONTENT -->
                                <!--legend class="slds-form-element__label removed--slds-text-title_caps">Location</legend-->
                                <div class="slds-form slds-form_stacked">
                                    <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="input-unique-id">Image Text</label>
                                        <div class="slds-form-element__control">
                                            <textarea id="input-unique-id" class="slds-textarea" placeholder="Here enter the description text to be shown on top of the image"></textarea>
                                        </div>
                                    </div>

                                    <div class="slds-form-element">
                                        <span class="slds-form-element__label" id="file-selector-id">Choose Background Image</span>
                                        <div class="slds-form-element__control">
                                            <div class="slds-file-selector slds-file-selector_files">
                                            <div class="slds-file-selector__dropzone">
                                                <input type="file" class="slds-file-selector__input slds-assistive-text" accept="image/png" id="file-upload-input-01" aria-describedby="file-selector-id">
                                                <label class="slds-file-selector__body" for="file-upload-input-01">
                                                <span class="slds-file-selector__button slds-button slds-button_neutral">
                                                    <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#upload"></use>
                                                    </svg>Upload Files</span>
                                                <span class="slds-file-selector__text slds-medium-show">or Drop Files</span>
                                                </label>
                                            </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            <!-- /ACCORDDION 1 CONTENT -->
                        </div>
                        </section>
                    </li>
                    <li class="slds-accordion__list-item">
                        <section class="slds-accordion__section">
                        <div class="slds-accordion__summary">
                            <h3 class="slds-text-heading_small slds-accordion__summary-heading">
                            <button aria-controls="accordion-details-02" aria-expanded="false" class="slds-button slds-button_reset slds-accordion__summary-action">
                                <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                </svg>
                                <span class="slds-truncate" title="Accordion summary">Section 2</span>
                            </button>
                            </h3>
                            <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small slds-shrink-none" aria-haspopup="true">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                            </svg>
                            <span class="slds-assistive-text">More Options</span>
                            </button>
                        </div>
                        <div aria-hidden="true" class="slds-accordion__content  slds-text-align_left" id="accordion-details-02">
                            <!-- ACCORDDION 1 CONTENT -->
                            2
                            <!-- /ACCORDDION 1 CONTENT -->
                        </div>
                        </section>
                    </li>
                    <li class="slds-accordion__list-item">
                        <section class="slds-accordion__section">
                        <div class="slds-accordion__summary">
                            <h3 class="slds-text-heading_small slds-accordion__summary-heading">
                            <button aria-controls="accordion-details-03" aria-expanded="false" class="slds-button slds-button_reset slds-accordion__summary-action">
                                <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                </svg>
                                <span class="slds-truncate" title="Accordion summary">Section 3</span>
                            </button>
                            </h3>
                            <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small slds-shrink-none" aria-haspopup="true">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                            </svg>
                            <span class="slds-assistive-text">More Options</span>
                            </button>
                        </div>
                        <div aria-hidden="false" class="slds-accordion__content  slds-text-align_left" id="accordion-details-03">
                            <!-- ACCORDDION 1 CONTENT -->
                            3
                            <!-- /ACCORDDION 1 CONTENT -->
                        </div>
                        </section>
                    </li>
                    </ul>

                <!-- /COMPONENT SETTINGS -->
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral js-close" id="button-page-cancel">Cancel</button>
                <button class="slds-button slds-button_neutral js-close" id="button-page-delete">Save</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop--open"></div>
</div>
<!-- /MODAL 2COLUMN COMPONENT -->

{#
<!-- MODAL 2COLUMN COMPONENT -->
<div class="2slds-hide" id="component-settings-2column">
    <section role="dialog" tabindex="-1" class="slds-modal slds-modal_large slds-fade-in-open " aria-labelledby="header44" aria-describedby="modal-content-id-3">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button--icon slds-modal__close slds-button--icon-inverse js-close" title="Close">
                    <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="header43" class="slds-text-heading--medium">Component Settings: Custom 2Column Component</h2>
            </header>
            <div class="slds-modal__content slds-p-around--medium slds-text-align_center" id="modal-content-id-3">
                <!-- COMPONENT SETTINGS -->

                    <ul class="slds-accordion">
                    <li class="slds-accordion__list-item">
                        <section class="slds-accordion__section slds-is-open">
                        <div class="slds-accordion__summary">
                            <h3 class="slds-text-heading_small slds-accordion__summary-heading">
                            <button aria-controls="accordion-details-01" aria-expanded="true" class="slds-button slds-button_reset slds-accordion__summary-action">
                                <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                </svg>
                                <span class="slds-truncate" title="Accordion summary">Section 1</span>
                            </button>
                            </h3>
                            <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small slds-shrink-none" aria-haspopup="true">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                            </svg>
                            <span class="slds-assistive-text">More Options</span>
                            </button>
                        </div>
                        <div aria-hidden="false" class="slds-accordion__content slds-text-align_left" id="accordion-details-01">
                            <!-- ACCORDDION 1 CONTENT -->
                                <!--legend class="slds-form-element__label removed--slds-text-title_caps">Location</legend-->
                                <div class="slds-form slds-form_stacked">
                                    <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="input-unique-id">Image Text</label>
                                        <div class="slds-form-element__control">
                                            <textarea id="input-unique-id" class="slds-textarea" placeholder="Here enter the description text to be shown on top of the image"></textarea>
                                        </div>
                                    </div>

                                    <div class="slds-form-element">
                                        <span class="slds-form-element__label" id="file-selector-id">Choose Background Image</span>
                                        <div class="slds-form-element__control">
                                            <div class="slds-file-selector slds-file-selector_files">
                                            <div class="slds-file-selector__dropzone">
                                                <input type="file" class="slds-file-selector__input slds-assistive-text" accept="image/png" id="file-upload-input-01" aria-describedby="file-selector-id">
                                                <label class="slds-file-selector__body" for="file-upload-input-01">
                                                <span class="slds-file-selector__button slds-button slds-button_neutral">
                                                    <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#upload"></use>
                                                    </svg>Upload Files</span>
                                                <span class="slds-file-selector__text slds-medium-show">or Drop Files</span>
                                                </label>
                                            </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            <!-- /ACCORDDION 1 CONTENT -->
                        </div>
                        </section>
                    </li>
                    <li class="slds-accordion__list-item">
                        <section class="slds-accordion__section">
                        <div class="slds-accordion__summary">
                            <h3 class="slds-text-heading_small slds-accordion__summary-heading">
                            <button aria-controls="accordion-details-02" aria-expanded="false" class="slds-button slds-button_reset slds-accordion__summary-action">
                                <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                </svg>
                                <span class="slds-truncate" title="Accordion summary">Section 2</span>
                            </button>
                            </h3>
                            <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small slds-shrink-none" aria-haspopup="true">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                            </svg>
                            <span class="slds-assistive-text">More Options</span>
                            </button>
                        </div>
                        <div aria-hidden="true" class="slds-accordion__content  slds-text-align_left" id="accordion-details-02">
                            <!-- ACCORDDION 1 CONTENT -->
                            2
                            <!-- /ACCORDDION 1 CONTENT -->
                        </div>
                        </section>
                    </li>
                    <li class="slds-accordion__list-item">
                        <section class="slds-accordion__section">
                        <div class="slds-accordion__summary">
                            <h3 class="slds-text-heading_small slds-accordion__summary-heading">
                            <button aria-controls="accordion-details-03" aria-expanded="false" class="slds-button slds-button_reset slds-accordion__summary-action">
                                <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                </svg>
                                <span class="slds-truncate" title="Accordion summary">Section 3</span>
                            </button>
                            </h3>
                            <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small slds-shrink-none" aria-haspopup="true">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                            </svg>
                            <span class="slds-assistive-text">More Options</span>
                            </button>
                        </div>
                        <div aria-hidden="false" class="slds-accordion__content  slds-text-align_left" id="accordion-details-03">
                            <!-- ACCORDDION 1 CONTENT -->
                            3
                            <!-- /ACCORDDION 1 CONTENT -->
                        </div>
                        </section>
                    </li>
                    </ul>

                <!-- /COMPONENT SETTINGS -->
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral js-close" id="button-page-cancel">Cancel</button>
                <button class="slds-button slds-button_neutral js-close" id="button-page-delete">Save</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop--open"></div>
</div>
<!-- /MODAL 2COLUMN COMPONENT -->
#}
