<!-- MODAL BANNER -->
<div class="2slds-hide component-banner" id="select-banner">
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open  slds-modal_large " aria-labelledby="header44" aria-describedby="modal-content-id-3">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button--icon slds-modal__close slds-button--icon-inverse js-close-modal-id-3 trigger-close" title="Close" id="trigger-close">
                    <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="header43" class="slds-text-heading--medium">Select Media</h2>
            </header>
            <div class="slds-modal__content slds-p-around--medium slds-text-align_center" id="modal-content-id-3">

                <div class="slds-tabs_default">
                    <ul class="slds-tabs_default__nav" role="tablist">
                        <li class="slds-tabs_default__item slds-active" title="Item One" role="presentation">
                            <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-media">Content</a>
                        </li>
                        <li class="slds-tabs_default__item" title="Item Two" role="presentation">
                            <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-rules">Rules</a>
                        </li>
                    </ul>
                    <div id="tab-media-content" class="slds-tabs_default__content" role="tabpanel" aria-labelledby="tab-default-1__item">




                        <div class="slds-grid">
                            <!-- LEFT -->
                            <div class="">
                                    <div class="demo-only">
                                    <nav class="slds-nav-vertical" aria-label="Sub page">
                                        <div class="slds-form-element slds-p-horizontal_large">
                                            {#
                                            <label class="slds-form-element__label slds-assistive-text" for="input-id-01">Filter navigation items</label>
                                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                                                <svg class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                                                </svg>
                                                <input type="search" id="input-id-01" placeholder="Quick Find" class="slds-input">
                                            </div>
                                            #}
                                            <button class="slds-button  slds-button_neutral">
                                                <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#upload"></use>
                                                </svg>Upload Image
                                            </button>
                                        </div>
                                        <div class="slds-nav-vertical__section">
                                        <h2 id="entity-header" class="slds-nav-vertical__title removed--slds-text-title_caps">Asset Libraries</h2>
                                        <ul>
                                            <li class="slds-nav-vertical__item slds-is-active"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header" aria-current="page">Library Name Item</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Library Name Item</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Other Asset Library Name</a></li>
                                        </ul>
                                        </div>
                                    </nav>
                                    </div>
                            </div>
                            <!-- /LEFT -->

                            <!-- CENTER -->
                            <div class="slds-col slds-p-left_small slds-p-right_small">
                                    <div class="slds-p-bottom_small slds-text-align_left">
                                    <a href="javascript:void(0);" class="slds-box slds-box_link slds-box_x-small slds-media">
                                        <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center slds-m-left_xx-small">
                                        <span class="slds-icon_container slds-icon-utility-knowledge_base" title="Description of icon when needed">
                                        {#
                                            <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#knowledge_base"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Description of icon</span>
                                        #}
                                            <img src="assets/fashion1.jpg" width="100" />
                                        </span>
                                        </div>
                                        <div class="slds-media__body slds-border_left slds-p-around_small">
                                        <h2 class="slds-truncate slds-text-heading_small" title="Share the knowledge">Blouse-Flowers.jpg</h2>
                                        <p class="slds-m-top_small">800kB</p>
                                        <p class="slds-m-top_small">12.12.2017-23:50PM</p>
                                        </div>
                                    </a>
                                    </div>
                                    <div class="slds-p-bottom_small slds-text-align_left">
                                    <a href="javascript:void(0);" class="slds-box slds-box_link slds-box_x-small slds-media">
                                        <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center slds-m-left_xx-small">
                                        <span class="slds-icon_container slds-icon-utility-knowledge_base" title="Description of icon when needed">
                                        {#
                                            <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#knowledge_base"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Description of icon</span>
                                        #}
                                            <img src="assets/fashion2.jpg" width="100" />
                                        </span>
                                        </div>
                                        <div class="slds-media__body slds-border_left slds-p-around_small">
                                        <h2 class="slds-truncate slds-text-heading_small" title="Share the knowledge">Blouse-Flowers.jpg</h2>
                                        <p class="slds-m-top_small">800kB</p>
                                        <p class="slds-m-top_small">12.12.2017-23:50PM</p>
                                        </div>
                                    </a>
                                    </div>

                            </div>
                            <!-- /CENTER -->

                            <!-- RIGHT -->
                            <div class="2slds-border_left slds-col slds-p-around_small 2slds-p-right_small  slds-theme_shade">
                                <h3 class="slds-text-heading--medium slds-m-bottom--x-small" data-reactid="21">Merchstein Suggestion</h3>
                                <span class="text-body--default slds-m-bottom--x-small">We found and image which might suit your needs even better!</span>

                                <div class="slds-p-around_small">

                                        <fieldset class="slds-form-element">
                                            <div class="slds-visual-picker slds-visual-picker_medium">
                                                <input type="radio" id="visual-picker-15" name="options" value="on">
                                                <label for="visual-picker-15">
                                                    <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                                                    <span>
                                                        <img src="assets/fashion2.jpg" width="100" />
                                                    </span>
                                                    </span>
                                                    <span class="slds-visual-picker__body">
                                                    <span class="slds-text-heading_small">Dress-dark.jpg</span>
                                                    <span class="slds-text-title">800kB</br>
                                                        12.12.2017 23:54:00PM</span>
                                                    </span>
                                                    <span class="slds-icon_container slds-visual-picker__text-check">
                                                    <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                                    </svg>
                                                    </span>
                                                </label>
                                                </div>
                                        </fieldset>


                                </div>



                            </div>
                            <!-- /RIGHT -->

                        </div>





                    </div>
                    <div id="tab-rules-content" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item">
                        <!-- RULES -->
                        <div class="slds-form slds-form_compound">
                            <div class="slds-form-element__row slds-grid">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="select-01">
                                    <!--abbr class="slds-required" title="required">*</abbr-->Customer Groups:</label>
                                    <div class="slds-form-element__control">
                                    <div class="slds-select_container">
                                        <select class="slds-select" id="select-01">
                                        <option selected="selected">Everyone</option>
                                        <option>Customer Group A</option>
                                        <option>Customer Group B</option>
                                        </select>
                                    </div>
                                    </div>
                                </div>

                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="select-01">
                                    Display from:</label>
                                    <div class="slds-form-element__control">
                                    <input type="text" id="input-unique-id" class="slds-input" placeholder="--/--/----">
                                    </div>
                                </div>
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="select-01">
                                    Display to:</label>
                                    <div class="slds-form-element__control">
                                    <input type="text" id="input-unique-id" class="slds-input" placeholder="--/--/----">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /RULES -->
                    </div>
                </div>



{#
<div class="slds-tabs_default">
                    <ul class="slds-tabs_default__nav" role="tablist">
                    <li class="slds-tabs_default__item" title="Item One" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="false" aria-controls="tab-default-1" id="tab-default-1__item">Media</a></li>
                    <li class="slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Rules</a></li>
                    </ul>





                    <div id="tab-default-1" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item" id="select-banner-tab-media">
                        <!-- MEDIA -->
                         MEDIA
                        <!-- /MEDIA -->
                    </div>
                    <div id="tab-default-2" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item" id="select-banner-tab-rules">
                        <!-- RULES -->
                        RULES
                        <div class="slds-form slds-form_compound">
                            <div class="slds-form-element__row slds-grid">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="select-01">
                                    <!--abbr class="slds-required" title="required">*</abbr-->Customer Groups:</label>
                                    <div class="slds-form-element__control">
                                    <div class="slds-select_container">
                                        <select class="slds-select" id="select-01">
                                        <option selected="selected">Everyone</option>
                                        <option>Customer Group A</option>
                                        <option>Customer Group B</option>
                                        </select>
                                    </div>
                                    </div>
                                </div>

                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="select-01">
                                    Display from:</label>
                                    <div class="slds-form-element__control">
                                    <input type="text" id="input-unique-id" class="slds-input" placeholder="--/--/----">
                                    </div>
                                </div>
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="select-01">
                                    Display to:</label>
                                    <div class="slds-form-element__control">
                                    <input type="text" id="input-unique-id" class="slds-input" placeholder="--/--/----">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /RULES -->
                    </div>
                    #}
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button--neutral trigger-cancel" id="trigger-cancel">Cancel</button>
                <button class="slds-button slds-button--neutral trigger-select" id="trigger-select">Select</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop--open"></div>
</div>
<!-- /MODAL BANNER -->
