//
// Prototype styles (using the Sass CSS preprocessor)
//
//
// First, we're importing the design system from the npm package
//
$static-font-path: '/assets/fonts/webfonts';
@import 'node_modules/@salesforce-ux/design-system/scss/index'; //
// Then, we're importing some styles via Sass partials (filenames starting with a "_")
//
@import 'footer'; //

// We can also add styles directly in this file, like so:
//
// Push down the global navigation below the header using a placeholder element
.app-header-placeholder {
    // A note on Design Tokens in Sass:
    //
    // $height-header is a Sass variable pointing to a Design Token
    // Design tokens are listed at:
    // https://www.lightningdesignsystem.com/design-tokens/
    //
    // This is how you leverage Design Tokens in Sass:
    height: $height-header;
}

html.list-view {
    background-color: #afc5de;
}

.slds-brand-band:before {
    background-image: url('/assets/banner-brand-default.png'), linear-gradient(to top, rgba(32, 92, 159, 0), #205c9f);
    background-repeat: repeat-x;
    background-position: top left;
}

.slds-brand-band:after {
    background-image: none;
}

// Wrap the prototype in a scrollable container
.app-wrapper {
    overflow: auto;
    position: absolute;
    -webkit-overflow-scrolling: touch;
    /*top: $height-context-bar + $height-header;*/
    top: 7rem;
    bottom: 0;
    right: 0;
    left: 0;
}


/*if no global header above content is 2.5rem space - needs fix*/

#noglobalheader {
    top: 2.5rem;
}

#tools {
    background: #f7f9fb;
    /*height: 100vh;*/
    height: auto;
}

// Style the Contextbar Color CC style
.slds-context-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*
    height: 2.5rem;
    */
    background-color: white;
    border-top: 1px solid #d8dde6;
    border-bottom: 3px solid #84bd00;
    color: #16325c;
    position: relative;
    /*
    padding: 0 0 0 1.5rem;
    */
}

.slds-context-bar__item.slds-is-active:after,
.slds-context-bar__item.slds-is-active:before {
    background: #84BD00;
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
}

.slds-context-bar__item.slds-is-active,
.slds-context-bar__item:not(.slds-no-hover):hover {
    border-bottom: 3px solid #84BD00;
}

.slds-context-bar__item.slds-is-active {
    border-left: 1px solid #d8dde6;
    border-right: 1px solid #d8dde6;
    border-bottom-color: #f7f9fb;
}

.slds-notify-container,
.slds-notify_container {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10000;
}


//typography
.font_xx-small {
    font-size: $font-size-heading-xx-small;
}

.font_x-small {
    font-size: $font-size-heading-x-small;
}

.font_small {
    font-size: $font-size-heading-small;
}

.font_medium {
    font-size: $font-size-heading-medium;
}



.slds-grow {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}



/* CUSTOM CSS for alpine */

body {
    /*margin: 0;*/
    background-color: #F8F8F8;
}

a {
    color: #000;
}

/* header */


.header {
    background-color: #F8F8F8;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
    display: flex;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 1.5em 0.8em;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    /*float: left;*/
    font-size: 2em;
    /*padding: 10px 20px;*/
    padding: 0.6em;
    text-decoration: none;
}

/* menu */

#logo {
    width: 100%;
    text-align: center;
}

#logo img {
    max-width: 5em;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon {
    cursor: pointer;
    float: left;
    padding: 2.4em 1em;
    position: relative;
    user-select: none;
}

.header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    top: -5px;
}


#categories {
    width: auto;
    max-width: 2em;
    order: -1;
    /*
            align-items: center;
            justify-content: space-between;
            display: flex
            */
}

#usermenu{
    display: inline-flex;
}
#usermenu ul {
    display: inline-flex;
}

#usermenu ul ul{
    display: block;
}

#user-menu-dropdown{
    position: absolute;
    top: 60px;
    left: calc(100% - 250px);    
    display: none;
}


/*icons*/
svg.slds-icon.slds-icon-text-default.slds-icon_small {
    max-width: 1.5em;
}


/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    /*max-height: 240px;*/
    width: 100vw;
    max-height: 90vh;

}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}



/* full screen search box */

/* The overlay effect with black background */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
    position: relative;
    top: 10%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

/* Close button */
.overlay .closebtn {
    position: absolute;
    top: 1vh;
    right: 3vw;
    font-size: 3em;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}


/*BADGE*/
.badge-green {
    position: absolute;
    background: #4BCA81;
    width: 12px;
    height: 12px;
    top: 35px;
    right: 45px;
    border-radius: 100%;
    /* content: '1'; */
    /* text-align: center; */
    display: inline-flex;
    align-items: center;        
    padding-left: 3px;
}



/* 48em = 768px @ 16pt font */
@media (min-width: 48em) {
    .header li a {
        /*padding: 20px 30px;*/
        padding: 1.5em 0.8em;
    }

    #categories {
        text-align: center;
        width: 100%;
        float: none;
    }

    .header .menu {
        clear: none;
        max-height: none;
        display: inline-flex;
    }

    .header .menu-icon {
        display: none;
    }

    #logo {
        order: 1;
        width: auto;
        text-align: left;
    }

    #categories {
        text-align: center;
        width: 100%;
        max-width: 90vw;
        order: 2;
        padding: 0.5rem;
    }

    #usermenu {
        order: 3;
        padding: 0.5rem;
    }

    /*BADGE*/
    .badge-green {
        top: 43px;
        right: 53px;
        padding-left: 3px;
    }
    
    
    
}



/*font colors*/
.font-white {
    color: #fff;
}

.font-grey {
    color: #f4f4f4;
}


/* icon badges */
.badge-check {
    background: green;
    border-radius: 100%;
}

.w3-badge,
.w3-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

.w3-badge {
    border-radius: 50%
}

/* banner */
.dark {
    background: rgba(0, 0, 0, 0.8);
}

.section-divider {
    width: fit-content;
    margin: auto;
    text-align: center;
    position: relative;
    padding-left: 2em;
    padding-right: 2em;
}

.section-divider:before {
    content: "";
    display: block;
    min-width: 2em;
    height: 2px;
    background: #EAB930;
    position: absolute;
    left: 0;
    top: 50%;
}

.section-divider:after {
    content: "";
    display: block;
    min-width: 2em;
    height: 2px;
    background: #EAB930;
    position: absolute;
    right: 0;
    top: 50%;
}

.title {
    padding: 0 2em;
}


/* AD BANNER */

.ad-banner-static {
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.banner-home{
    min-height: 80vh;
    min-width: 100vw;
    background: url(/assets/ad.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}


.banner-cats{
    min-height: 40vh;
    min-width: 100vw;
}



.categories-home{
    min-height: 40vh;
    position: relative
}

.cat-tile-link{
    width: 100%;
}

.cat-tile-overlay{
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline;
    cursor: pointer;
    align-content: baseline;
}

.cat-tile-overlay div{
    margin-top: 8em;
}

.cat-tile-overlay:hover{
    opacity: 0.8;
}



.categories-home_energy{
    background: url(/assets/categories/cat-energy.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.categories-home_blends{
    background: url(/assets/categories/cat-blends.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.categories-home_nutrition{
    background: url(/assets/categories/cat-nutrition.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.banner-about_us{
    min-height: 60vh;
    min-width: 100vw;
    background: url(/assets/about-us.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.banner-tagline {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 0.5em;
    
    align-self: center;
    position: absolute;
    text-align: center;    
}


.blogtile{
    /*background: #F5F5F5;*/
    background: #fff;
    min-height: 20rem;
}

.producttile:hover{
    cursor: pointer;
}




/*from pages*/
.fill-black {
    filter: brightness(0%)
}

.pdp-brand {
    max-width: 12em;
}

.star-small{
    max-height: 1.2em;
}




/*FOOTER*/
.social-footer-icons {
    max-height: 1.5em;
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(50%) contrast(100%);
}

footer .small {
    max-width: 50%;
}

/*BLOG TILE*/
.blog-image-tile {
    max-height: 10rem;
}

/*COOKIE CONSENT*/
#cookieConsent {
    z-index: 200;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    background: #fff;
    padding: 1rem;
    opacity: 0;
}

/*VIDEO*/
.video-container {
    height: 40vw;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#videoControls{
    display: inline-flex;
    top: 2em;
    left: 2em;    
}

#video_playIcon{
    display: none;
}


/*MODAL NEW ADDRESS*/
#newAddress{
    display: none;
}

