//
// Prototype styles (using the Sass CSS preprocessor)
//
//
// First, we're importing the design system from the npm package
//
$static-font-path: '/assets/fonts/webfonts';
@import 'node_modules/@salesforce-ux/design-system/scss/index'; //
// Then, we're importing some styles via Sass partials (filenames starting with a "_")
//
@import 'footer'; //
// We can also add styles directly in this file, like so:
//
// Push down the global navigation below the header using a placeholder element
.app-header-placeholder {
    // A note on Design Tokens in Sass:
    //
    // $height-header is a Sass variable pointing to a Design Token
    // Design tokens are listed at:
    // https://www.lightningdesignsystem.com/design-tokens/
    //
    // This is how you leverage Design Tokens in Sass:
    height: $height-header;
}

html.list-view {
    /*background-color: #afc5de;*/
    background-color: #205c9f;
}


/*
.slds-brand-band:before {
  background-image: url("/assets/banner-brand-default.png'),linear-gradient(to top,rgba(32, 92, 159, 0), #205c9f");
  background-repeat: repeat-x;
  background-position: top left;
}
*/

.slds-brand-band:before {
    background-image: url(/assets/banner-brand-default.png), -webkit-gradient(linear, left bottom, left top, from(rgba(32, 92, 159, 0)), to(#205c9f));
    background-image: url(/assets/banner-brand-default.png), linear-gradient(to top, rgba(32, 92, 159, 0), #205c9f);
    background-repeat: repeat-x;
    background-position: top left;
}

.slds-brand-band:after {
    background-image: none;
}

// Wrap the prototype in a scrollable container
.app-wrapper {
    overflow: auto;
    position: absolute;
    -webkit-overflow-scrolling: touch;
    top: $height-context-bar + $height-header;
    bottom: 0;
    right: 0;
    left: 0;
}


/*if no global header above content is 2.5rem space - needs fix*/

#noglobalheader {
    top: 2.5rem;
}

#tools {
    background: #f7f9fb;
    height: 100vh;
}

// Style the Contextbar Color CC style
.slds-context-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*
    height: 2.5rem;
    */
    background-color: white;
    border-top: 1px solid #d8dde6;
    border-bottom: 3px solid #84bd00;
    color: #16325c;
    position: relative;
    /*
    padding: 0 0 0 1.5rem;
    */
}

.slds-context-bar__item.slds-is-active:after,
.slds-context-bar__item.slds-is-active:before {
    background: #84BD00;
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
}

.slds-context-bar__item.slds-is-active,
.slds-context-bar__item:not(.slds-no-hover):hover {
    border-bottom: 3px solid #84BD00;
}

.slds-context-bar__item.slds-is-active {
    border-left: 1px solid #d8dde6;
    border-right: 1px solid #d8dde6;
    /*border-bottom-color: #f7f9fb;*/
}

.slds-notify-container,
.slds-notify_container {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10000;
}

.slds-template_default {
    padding: 0.75rem;
}

.slds-grow {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


/*SIDEBAR */

#sidebar-navigator {
    min-width: 230px;
}

.layout-table-fix::after {
    position: absolute;
    content: '';
    display: block;
    height: calc(100% - (5 * 0.75rem));
    top: calc(5 * 0.75rem);
    left: 0.75rem;
    width: calc(100% - (2 * 0.75rem));
    background-color: #fafaf9;
    z-index: -1;
}

.propagating-circle {
    position: absolute;
    top: 200px;
    left: 200px;
    border-radius: 50%;
    border: 1px solid black;
}


/*delay classes. One for each div*/

.delay-p5s {
    -webkit-animation-delay: 0.5s;
}

.delay-1s {
    -webkit-animation-delay: 1s;
}

.delay-1p5s {
    -webkit-animation-delay: 1.5s;
}

.delay-2s {
    -webkit-animation-delay: 2s;
}


/*Give this class to each pinger circle as well*/

.ping {
    animation-name: ping;
    -webkit-animation-name: ping;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    visibility: visible;
}


/*expand the circle from zero to 100px*/

@-webkit-keyframes ping {
    0% {
        height: 0;
        width: 0;
        bottom: 0;
    }
    100% {
        height: 100px;
        width: 100px;
        top: 150px;
        left: 150px;
    }
}

@keyframes pinger {
    0% {
        height: 0;
        width: 0;
        bottom: 0;
    }
    100% {
        height: 100px;
        width: 100px;
        top: 150px;
        left: 150px;
    }
}

//EINSTEIN BG
.einstein_bg {
    /*background:url('assets/einstein_bg.png') fixed no-repeat bottom right;*/
}

//IMAGE SELECTED