//
// Prototype styles (using the Sass CSS preprocessor)
//

//
// First, we're importing the design system from the npm package
//
$static-font-path: '/assets/fonts/webfonts';

$color-background-context-bar-brand-accent: rgb(132, 189, 0);

@import 'node_modules/@salesforce-ux/design-system/scss/index';

//
// Then, we're importing some styles via Sass partials (filenames starting with a "_")
//
@import 'footer';
@import 'layout';

//
// We can also add styles directly in this file, like so:
//

// Push down the global navigation below the header using a placeholder element
.app-header-placeholder {
  // A note on Design Tokens in Sass:
  //
  // $height-header is a Sass variable pointing to a Design Token
  // Design tokens are listed at:
  // https://www.lightningdesignsystem.com/design-tokens/
  //
  // This is how you leverage Design Tokens in Sass:
  height: $height-header;
}

// Wrap the prototype in a scrollable container
// .app-wrapper, .page-content {
//   overflow: auto;
//   position: absolute;
//   -webkit-overflow-scrolling: touch;
//   top: $height-context-bar + $height-header;
//   bottom: 0;
//   right: 0;
//   left: 0;
// }

// .page-content {
//   top: 105px;
// }

.content-frame-container {
  overflow: hidden;
  flex: 1;
  position: relative;
}

.content-frame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.app-wrapper {
  min-height: calc(100vh - #{$height-context-bar + $height-header});
}


.is-disabled {
  opacity: .4;
}

.rotate-45 {
  transform: rotate(45deg);
}

.slds-icon {
  transition: all .2s ease;
}

#gain-value {
    &::before {
    content: "25%";
  }

> span {
  margin-left: .1em;
  display: inline-block;
  height: 1rem;
  width: 25%;
  background-color: #04844b;
  transition: all .2s ease;
  }
}

#gain-value.new > span {
  width: 12%;
}

#gain-value.new {
    &::before {
    content: "12%";
  }
}

.value-mods {
  > li {
      // display: inline;
  }
}

.slds-panel_filters {
  min-width: 300px;
  max-width: 300px;
  width: 300px;
  // margin-left: 0;
}

.is-active,
.is-active:focus,
.is-active:hover {
    background-color: rgb(0, 95, 178);
    color: rgb(255, 255, 255);
}

tr.is-new {
  font-weight: bold;
}

#assign-to {
  z-index: 9999;
}

 .slds-button-tool {
  width: auto;
  padding: 0 .2rem;
 }


.popover-footer-trigger {
  text-align: right;
}

.slds-tree__item {
  position: relative;
}

.slds-button_assign {
  // display: none;
    padding: 0 .5rem;
    font-size: 0.65rem;
        position: absolute;
    right: 1rem;

  .slds-tree__item:hover & {
    display: inline-block;
  }
}


.sidebar {
      flex: 1 1;
      min-width: 15rem;
      max-width: 15rem;
    border-right: 1px solid #d8dde6;
}

