//
// Prototype styles (using the Sass CSS preprocessor)
//

//
// First, we're importing the design system from the npm package
//
$static-font-path: "/assets/fonts/webfonts";

@import "node_modules/@salesforce-ux/design-system/scss/index";

//
// Then, we're importing some styles via Sass partials (filenames starting with a "_")
//
@import "footer";

//
// We can also add styles directly in this file, like so:
//

// Push down the global navigation below the header using a placeholder element
.app-header-placeholder {
  // A note on Design Tokens in Sass:
  //
  // $height-header is a Sass variable pointing to a Design Token
  // Design tokens are listed at:
  // https://www.lightningdesignsystem.com/design-tokens/
  //
  // This is how you leverage Design Tokens in Sass:
  height: $height-header;
}

// Wrap the prototype in a scrollable container
.app-wrapper {
  overflow: auto;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  top: $height-context-bar + $height-header;
  bottom: 0;
  right: 0;
  left: 0;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
}

.banner {
  > .boxed {
    position: relative;
    margin-bottom: $spacing-small;
    background-image: url("http://placekitten.com/1200/900");
    background-size: cover;
    background-position: 50%;

    &::before {
      display: block;
      content: "";
      width: 100%;
      padding-top: calc(400 / 1024 * 100%);
    }
  }

  .title {
    font-weight: bold;
    text-transform: uppercase;

    margin-top: 20%;
    text-align: left;
    padding-left: $spacing-small;
    padding-right: $spacing-small;
    background-color: $color-background-notification-badge-focus;
    display: inline-block;
    letter-spacing: 1px;
    float: left;

    @include mq-medium-min {
      font-size: $font-size-heading-x-large;
    }
  }

  .sub {
    clear: both;
    text-align: left;
    padding-left: $spacing-small;
    padding-right: $spacing-small;
    background-color: $color-background-notification-badge-focus;
    display: inline-block;
    float: left;
  }
}

.square {
  text-align: center;

  > .boxed {
    position: relative;
    margin-bottom: $spacing-small;
    background-image: url("http://placekitten.com/900/900");
    background-size: cover;
    background-position: 50%;

    &::before {
      display: block;
      content: "";
      width: 100%;
      padding-top: calc(800 / 800 * 100%);
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: block;
      content: "";
      background: linear-gradient(to bottom, transparent 0%,rgba(0, 0, 0, 0.2) 50%);
      padding-top: calc(400 / 800 * 100%);
      z-index: 10;
    }
  }

  .title {
    font-weight: bold;
    position: relative;
    margin-top: 65%;
    margin-bottom: $spacing-small;
    z-index: 20;
  }

  .slds-button {
    position: relative;
    z-index: 20;
  }
}

.rect {
  > .boxed {
    position: relative;
    margin-bottom: $spacing-small;
    background-image: url("http://placekitten.com/900/400");
    background-size: cover;
    background-position: 50%;

    &::before {
      display: block;
      content: "";
      width: 100%;
      padding-top: calc(400 / 800 * 100%);
    }
  }

  .title {
    font-weight: bold;
    margin-top: 20%;
    text-align: left;
    padding-left: $spacing-small;
    padding-right: $spacing-small;
    background-color: $color-background-notification-badge-focus;
    display: inline-block;
    float: left;

    @include mq-medium-min {
      font-size: $font-size-heading-large;
    }
  }

  .sub {
    clear: both;
    text-align: left;
    padding-left: $spacing-small;
    padding-right: $spacing-small;
    background-color: $color-background-notification-badge-focus;
    display: inline-block;
    letter-spacing: 1px;
    float: left;
  }
}

.slot {
  text-align: center;

  > .boxed {
    position: relative;
    margin-bottom: $spacing-small;
    background-image: url("http://placekitten.com/300/600");
    background-size: cover;
    background-position: 50%;

    &::before {
      display: block;
      content: "";
      width: 100%;
      padding-top: calc(800 / 400 * 100%);
    }
  }

  .title {
    font-weight: bold;
    margin-top: 120%;
    padding-left: $spacing-small;
    padding-right: $spacing-small;
    background-color: $color-background-notification-badge-focus;
    display: inline-block;

    @include mq-medium-min {
      font-size: $font-size-heading-large;
    }
  }

  .sub {
    padding-left: $spacing-small;
    padding-right: $spacing-small;
    background-color: $color-background-notification-badge-focus;
    display: inline-block;
  }
}
