
        <div class="slds-scoped-notification slds-media slds-media_center slds-theme_error" role="status">
            <div class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-error" title="error">
                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#error"></use>
                    </svg>
                    <span class="slds-assistive-text">error</span>
                </span>
            </div>
            <div class="slds-media__body">
                <p>It looks as if duplicates exist for this lead.
                    <a href="javascript:void(0);">View Duplicates.</a>
                </p>
            </div>
        </div>


        <div class="slds-scoped-notification slds-media slds-media_center slds-theme_success" role="status">
            <div class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-success" title="success">
                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#success"></use>
                    </svg>
                    <span class="slds-assistive-text">success</span>
                </span>
            </div>
            <div class="slds-media__body">
                <p>Success! Your entry has been duplicated.
                    <a href="javascript:void(0);">View Duplicates.</a>
                </p>
            </div>
        </div>


        <div class="slds-scoped-notification slds-media slds-media_center slds-theme_warning" role="status">
            <div class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-warning" title="warning">
                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#warning"></use>
                    </svg>
                    <span class="slds-assistive-text">warning</span>
                </span>
            </div>
            <div class="slds-media__body">
                <p>It looks as if duplicates exist for this lead.
                    <a href="javascript:void(0);">View Duplicates.</a>
                </p>
            </div>
        </div>


        <div class="slds-scoped-notification slds-media slds-media_center slds-scoped-notification_dark" role="status">
            <div class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-info" title="information">
                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                    </svg>
                    <span class="slds-assistive-text">information</span>
                </span>
            </div>
            <div class="slds-media__body">
                <p>It looks as if duplicates exist for this lead.
                    <a href="javascript:void(0);">View Duplicates.</a>
                </p>
            </div>
        </div>
