<div class="slds-hide" id="collections">

  <div class="product-list slds-scrollable_y" style="max-height: 50vh;">

    <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom product-tile">
      <div class="slds-media__body">
        <p>Asia<span class="slds-m-left_x-small"><svg class="slds-button__icon show-sites-tooltip" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
          </svg></span>
          <br>
          <span class="slds-text-body_small slds-color__text_gray-8">Contains 9 sites</span>
        </p>
      </div>
      <div class="slds-media__figure slds-media__figure_reverse">
        <div class="slds-checkbox_add-button">
          <input type="checkbox" class="slds-assistive-text" id="add-Red Snapper - Fresh, Whole1" value="on">
          <label for="add-Red Snapper - Fresh, Whole1" class="slds-checkbox_faux">
            <span class="slds-assistive-text">Add Collection</span>
          </label>
        </div>
      </div>
    </div>

    <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom product-tile">
        <div class="slds-media__body">
          <p>North America<span class="slds-m-left_x-small"><svg class="slds-button__icon show-sites-tooltip" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
            </svg></span>
            <br>
            <span class="slds-text-body_small slds-color__text_gray-8">Contains 7 sites</span>
          </p>
        </div>
        <div class="slds-media__figure slds-media__figure_reverse">
          <div class="slds-checkbox_add-button">
            <input type="checkbox" class="slds-assistive-text" id="add-Red Snapper - Fresh, Whole12" value="on">
            <label for="add-Red Snapper - Fresh, Whole12" class="slds-checkbox_faux">
              <span class="slds-assistive-text">Add Collection</span>
            </label>
          </div>
        </div>
      </div>    

      <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom product-tile">
          <div class="slds-media__body">
            <p>Europe<span class="slds-m-left_x-small"><svg class="slds-button__icon show-sites-tooltip" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
              </svg></span>
              <br>
              <span class="slds-text-body_small slds-color__text_gray-8">Contains 6 sites</span>
            </p>
          </div>
          <div class="slds-media__figure slds-media__figure_reverse">
            <div class="slds-checkbox_add-button">
              <input type="checkbox" class="slds-assistive-text" id="add-Red Snapper - Fresh, Whole13" value="on">
              <label for="add-Red Snapper - Fresh, Whole13" class="slds-checkbox_faux">
                <span class="slds-assistive-text">Add Collection</span>
              </label>
            </div>
          </div>
        </div>      

    <div class="slds-text-align_center slds-m-top_medium slds-m-bottom_medium">
      <button class="slds-button slds-button_neutral toggle-create-collection-modal">Create New</button>
    </div>
  </div>


</div>