<div class="slds-tabs_default slds-hide" id="picker-tabs">
  <div id="tab-default-1" class="slds-tabs_default__content slds-hide slds-p-top_none slds-p-bottom_none" role="tabpanel" aria-labelledby="tab-default-1__item">
    <div class="product-list slds-scrollable_y" style="max-height: 50vh;">
      {% for product in lol %}
      <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom product-tile">
        <div class="slds-media__figure">
          <span class="slds-avatar slds-avatar_medium"><img alt="Person name" src="{{ product.img }}" title="{{ product.name }}"></span>
        </div>
        <div class="slds-media__body">
          <p>{{ product.name }} <br/><span class="slds-text-body_small slds-color__text_gray-8">SKU 2493765494984</span>
          </p>
        </div>
        <div class="slds-media__figure slds-media__figure_reverse">
          <div class="slds-checkbox_add-button">
            <input type="checkbox" class="slds-assistive-text" id="add-{{ product.name }}1" value="on">
            <label for="add-{{ product.name }}1" class="slds-checkbox_faux">
              <span class="slds-assistive-text">Add product</span>
            </label>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="slds-text-align_center slds-m-top_medium slds-m-bottom_medium slds-hide">
        <button class="slds-button slds-button_neutral">Show more</button>
      </div>

<table class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_fixed-layout slds-hide">
  <thead>
    <tr class="slds-text-title_caps">
      <th scope="col" style="width: 4em;">
        <div class="slds-assistive-text" title="Opportunity Name">Img</div>
      </th>
      <th scope="col" style="width: 45%;">
        <div class="slds-truncate" title="Account Name">Name</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Close Date">SKU</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Stage">Price</div>
      </th>
      <th scope="col" style="width: 4em;">
        <div class="slds-assistive-text" title="Confidence">Select</div>
      </th>
    </tr>
  </thead>
  <tbody>
  {% for product2 in lol %}
    <tr>
      <th scope="row" data-label="Opportunity Name">
        <span class="slds-avatar slds-avatar_medium"><img alt="Person name" src="{{ product2.img }}" title="{{ product2.name }}"></span>
      </th>
      <td data-label="Account Name">
        <div class="slds-truncate" title="Cloudhub">{{ product2.name }}</div>
      </td>
      <td data-label="Close Date">
        <div class="slds-truncate" title="4/14/2015">4/14/2015</div>
      </td>
      <td data-label="Confidence">
        <div class="slds-truncate" title="20%">20€</div>
      </td>
      <td data-label="Amount">
          <div class="slds-checkbox_add-button">
            <input type="checkbox" class="slds-assistive-text" id="add-{{ product.name }}1" value="on">
            <label for="add-{{ product.name }}1" class="slds-checkbox_faux">
              <span class="slds-assistive-text">Add product</span>
            </label>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


    </div>
  </div>
  <div id="tab-default-2" class="slds-tabs_default__content slds-hide slds-p-top_none" role="tabpanel" aria-labelledby="tab-default-2__item">

{% include "_commerce-selector-content-2.html" %}

  </div>
</div>

<div id="empty-state" class="slds-hide">
<img id="placeholder-img" class="slds-align_absolute-center slds-m-top_medium slds-m-bottom_xx-large" src="assets/empty-2.svg" />
<p id="empty-state-text" class="slds-text-heading_large slds-text-align_center slds-m-bottom_large" style="width: 100%;">Start a search for products.</p>
</div>
