<a href="pdp.html?id={{ product.id }}">
    <div class="producttile slds-m-bottom_small" style="text-align:center">
        <div class="producttile-image slds-p-bottom_medium"><img src="/assets/products/drinks/{{ product.image }}.jpg" alt="{{ product.product_name }}" /></div>
        <h4 class="slds-text-heading--medium"><strong>{{ product.product_name }}</strong></h4>
        <p class="slds-p-top_medium"><span>flavor / {{ product.image }} oz</span></p>
        <p><span class="tile-price">$ {{ product.new_price }}</span></p>
    </div>
</a>