<div class="slds-tabs_default slds-hide" id="picker-tabs">
  <div id="tab-default-1" class="slds-tabs_default__content slds-show slds-p-top_none slds-p-bottom_none" role="tabpanel" aria-labelledby="tab-default-1__item">
    <div class="product-list slds-scrollable_y" style="max-height: 50vh;">
      {% for product in lol %}
      <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom slds-hide product-tile">
        <div class="slds-media__figure">
          <span class="slds-avatar slds-avatar_medium"><img alt="Person name" src="{{ product.img }}" title="{{ product.name }}"></span>
        </div>
        <div class="slds-media__body">
          <p class="slds-text-heading_xsmall">{{ product.name }}</p>
        </div>
        <div class="slds-media__figure slds-media__figure_reverse">
          <div class="slds-checkbox_add-button">
            <input type="checkbox" class="slds-assistive-text" id="add-{{ product.name }}1" value="on">
            <label for="add-{{ product.name }}1" class="slds-checkbox_faux">
              <span class="slds-assistive-text">Add product</span>
            </label>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="slds-text-align_center slds-m-top_medium slds-m-bottom_medium slds-hide">
        <button class="slds-button slds-button_neutral">Show more</button>
      </div>
    </div>
  </div>
  <div id="tab-default-2" class="slds-tabs_default__content slds-hide slds-p-top_none" role="tabpanel" aria-labelledby="tab-default-2__item">

{% include "_commerce-selector-content-2.html" %}

  </div>
</div>

<div id="empty-state" class="slds-hide">
<img id="placeholder-img" class="slds-align_absolute-center slds-m-top_medium slds-m-bottom_xx-large" src="assets/empty-2.svg" />
<p id="empty-state-text" class="slds-text-heading_large slds-text-align_center slds-m-bottom_large" style="width: 100%;">Start a search for products or categories.</p>
</div>
