<script>
    var_pagetitle='orders';
</script>

        <!-- PRIMARY CONTENT WRAPPER -->



<!-- TASK GUIDANCE - PROCESS -->
    <div class="slds slds-p-top--small slds-p-left--small slds-p-right--small">
        <div class="slds-grid">
        <div class="slds-tabs--path" role="application">
            <ul class="slds-tabs--path__nav" role="tablist">
            <li class="slds-tabs--path__item slds-is-complete" role="presentation">
                <a class="slds-tabs--path__link" id="tabs-path-104" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                <span class="slds-tabs--path__stage">
                    <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                    </svg>
                </span>
                <span class="slds-tabs--path__title">Select Customer</span>
                </a>
            </li>
            <li class="slds-tabs--path__item slds-is-complete" role="presentation">
                <a class="slds-tabs--path__link" id="tabs-path-104" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                <span class="slds-tabs--path__stage">
                    <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                    </svg>
                </span>
                <span class="slds-tabs--path__title">Select Bill To Address</span>
                </a>
            </li>
            <li class="slds-tabs--path__item slds-is-current" role="presentation">
                <a class="slds-tabs--path__link" id="tabs-path-104" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                <span class="slds-tabs--path__stage">
                    <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                    </svg>
                </span>
                <span class="slds-tabs--path__title">Select Ship To Address</span>
                </a>
            </li>
            <li class="slds-tabs--path__item slds-is-incomplete" role="presentation">
                <a class="slds-tabs--path__link" id="tabs-path-104" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                <span class="slds-tabs--path__stage">
                    <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                    </svg>
                </span>
                <span class="slds-tabs--path__title">Add Product to Basket</span>
                </a>
            </li>
            <li class="slds-tabs--path__item slds-is-incomplete" role="presentation">
                <a class="slds-tabs--path__link" id="tabs-path-105" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                <span class="slds-tabs--path__stage">
                    <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                    </svg>
                </span>
                <span class="slds-tabs--path__title">Select Shipment Method</span>
                </a>
            </li>
            <li class="slds-tabs--path__item slds-is-incomplete" role="presentation">
                <a class="slds-tabs--path__link" id="tabs-path-105" aria-controls="content-path-1" aria-selected="false" tabindex="-1" role="tab" href="javascript:void(0);" aria-live="assertive">
                <span class="slds-tabs--path__stage">
                    <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                    </svg>
                </span>
                <span class="slds-tabs--path__title">Submit Order</span>
                </a>
            </li>
            </ul>
        </div>
        </div>


    </div>
    <!-- /TASK GUIDANCE - PROCESS -->



<div class="slds slds-p-around--small">

        <div class="csc slds-grid slds-wrap slds-grid--pull-padded">
          <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--2-of-12">
              <div class="csc myapp slds-m-top--large">
              <article class="slds-card">
                <div class="slds-card__header">
                  <header class="slds-media slds-media--center slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                      <svg aria-hidden="true" class="slds-icon slds-icon-standard-contact slds-icon--small">
                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
                      </svg>
                    </div>
                    <div class="slds-media__body slds-truncate">
                      <h2>
                        <a href="javascript:void(0);" class="slds-text-link--reset">
                          <span class="slds-text-heading--small">Customer</span>
                        </a>
                      </h2>
                    </div>
                  </header>
                </div>
                <div class="slds-card__body">
                  <div class="slds-no-flex slds-p-left--medium  slds-p-right--medium">
                    <a href="javascript:void();">
                    <p class="truncate">The DudeLebowski
                    <p class="truncate">36 Washington Street</p>
                    <p class="truncate">United States58769</p>
                    <p class="truncate">Los AngelesMA</p>
                    </a>
                  </div>
                </div>
              </article>
              </div>
          </div>
            <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--2-of-12">
                <div class="csc myapp slds-m-top--large">
                    <article class="slds-card">
                        <div class="slds-card__header">
                            <header class="slds-media slds-media--center slds-has-flexi-truncate">
                                <div class="slds-media__figure">
                                    <svg aria-hidden="true" class="slds-icon slds-icon-standard-contact slds-icon--small">
                                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
                                    </svg>
                                </div>
                                <div class="slds-media__body slds-truncate">
                                    <h2>
                <a href="javascript:void(0);" class="slds-text-link--reset">
                  <span class="slds-text-heading--small">Bill to</span>
                </a>
              </h2> </div>
                            </header>
                        </div>
                        <div class="slds-card__body">
                            <div class="slds-no-flex slds-p-left--medium slds-p-right--medium">
                                <a href="javascript:void();">
                                <p class="truncate">The DudeLebowski
                                <p class="truncate">36 Washington Street</p>
                                <p class="truncate">United States58769</p>
                                <p class="truncate">Los AngelesMA</p>
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <!-- SHIPMENT -->
        <div class="csc myapp slds-m-top--large">
            <article class="slds-card">
                <div class="slds-card__header slds-grid">
                    <header class="slds-media slds-media--center slds-has-flexi-truncate">
                        <div class="slds-media__figure slds-media--center">
                            <svg aria-hidden="true" class="slds-icon slds-icon-standard-contact slds-icon--small">
                                <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom42"></use>
                            </svg>
                        </div>
                        <div class="slds-media__body slds-truncate">
                            <h2>
    							<span class="slds-text-heading--small">Shipment 1</span>
							</h2> </div>
                    </header>
                    <div class="slds-no-flex">
                        <button class="slds-button slds-button--neutral">Add Products</button>
                    </div>
                </div>
                <div class="slds-card__body">
                    <div class="slds-card__body--inner slds-grid slds-wrap slds-grid--pull-padded">
                        <div class="slds-tile slds-media slds-card__tile slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--1-of-8 slds-hint-parent">
                            <div class="slds-media__figure">
                                <div class="slds-icon_container"> <a href="javascript:void();" id="billto-request">Select Ship To</a> </div>
                            </div>
                        </div>
                        <div class="slds-size--1-of-2 slds-medium-size--7-of-8 slds-hint-parent">
                            <table class="slds-table slds-table--bordered slds-no-row-hover slds-table--cell-buffer">
                                <thead>
                                    <tr class="slds-text-title--caps">
                                        <th scope="col">
                                            <div class="slds-truncate" title="Name">Name</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Availability">Availability</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Quantity">Quantity</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Price">Price</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Tax">Tax</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Total">Total</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="slds-hint-parent">
                                        <td colspan="6">
                                            <div class="slds-truncate" title="adam@company.com"><a href="">Add Products ...</a></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="slds-card__footer">
                        <div class="slds-grid slds-grid--align-end slds-grid--pull-padded">
                            <div>Shipping Method: </div>
                            <div>&nbsp;</div>
                            <div><a href="">Select Shipping Method</a></div>
                        </div>
                    </div>
            </article>
            <!-- /SHIPMENT -->
            <div class="slds-grid slds-m-top--large"> </div>
            <div class="slds-grid slds-wrap slds-grid--pull-padded">
                <div class="slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--3-of-12"> </div>
                <div class="slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--1-of-6 slds-large-size--9-of-12  slds-grid--align-end" style="background: red"> </div>
            </div>
            <section class="slds-clearfix">
                <!-- ORDER NOTES -->
                <div class="slds-float--left">
                    <p class="slds-p-top--small">
                        <button class="slds-button slds-button--neutral">Add Note</button>
                    </p>
                </div>
                <!-- /ORDER NOTES -->
                <div class="slds-float--right">
                    <table class="slds-table slds-table--cell-buffer">
                        <tr class="slds-m-right--large">
                            <td class="slds-text-title">Items Total:</td>
                            <td class="slds-text-body--small slds-text-align--right">$ 00.00</td>
                        </tr>
                        <tr class="slds-m-right--large">
                            <td class="slds-text-body--small slds-table--bordered">Discounted Items Total:</td>
                            <td class="slds-text-body--small slds-table--bordered slds-text-align--right">$ 00.00</td>
                        </tr>
                        <tr class="slds-m-right--large">
                            <td class="slds-text-title slds-table--bordered">Shipping Total:</td>
                            <td class="slds-text-body--small slds-table--bordered slds-text-align--right">$ 00.00</td>
                        </tr>
                        <tr class="slds-m-right--large">
                            <td class="slds-text-title">Tax Total:</td>
                            <td class="slds-text-body--small slds-text-align--right">$ 00.00</td>
                        </tr>
                        <tr class="slds-m-right--large">
                            <td class="slds-table--bordered slds-text-heading--small"><b>Order Total</b></td>
                            <td class="slds-table--bordered slds-text-heading--small slds-text-align--right"><b>$ 00.00</b></td>
                        </tr>
                    </table>
                </div>
            </section>
</div>








<!-- POPOVER SHIP TO -->
<section class="slds-popover slds-nubbin--left slds-show" role="dialog" aria-describedby="dialog-body-id-52" id="popover_billto">
  <button class="slds-button slds-button--icon-small slds-float--right slds-popover__close slds-button--icon" title="Close dialog">
    <svg class="slds-button__icon" aria-hidden="true">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
    </svg>
    <span class="slds-assistive-text">Close dialog</span>
  </button>
   <header class="slds-popover__header">
    <h2 id="dialog-heading-id-51" class="slds-text-heading--small">Ship To Addresses</h2>
  </header>
  <div class="slds-popover__body">
    <div class="slds-grid">
        <div class="slds-col">
            <p class="truncate">The DudeLebowski
            <p class="truncate">36 Washington Street</p>
            <p class="truncate">United States58769</p>
            <p class="truncate">Los AngelesMA</p>
            <p class="truncate"><a href="javascript:void();">Set as Bill To Address</a></p>
        </div>
        <div class="slds-col slds-grid--vertical-align-center">
            <button class="slds-button slds-button--neutral button_select_address toggle_billto">Select</button>
        </div>
    </div>
  </div>
  <footer class="slds-popover__footer slds-align--central">
    <button class="slds-button slds-button--neutral">Add Address</button>
  </footer>
</section>

<!-- /POPOVER SHIP TO -->


<script>
 //popover bill to address
        new Tether({
            element: '#popover_billto',
            target: '#billto-request',
            attachment: 'middle left',
            targetAttachment: 'bottom left',
            offset: '6px -100px'
        });
</script>
	
<style>
    .csc .slds-popover {
        /*
    z-index: 1000;
    top: 250px;
    position: absolute;
    left: 70px;
		*/
        display: none;
    }
</style>