
<script>
    var_pagetitle='orders';
</script>

        
<!-- PRIMARY CONTENT WRAPPER -->
    <div class="slds slds-p-around--small">        
        <div class="slds-grid slds-grid--align-start">

            <div class="slds-p-around--small">
                <div class="slds-p-small">
                    <ul class="slds-has-dividers--bottom-space">
                      <li class="slds-item">Order No: 00000000101</li>
                        <li class="slds-item">Creation Date: 2/29/2016 4:43 pm</li>
                    </ul>
                </div>
            </div>

            <div class="slds-p-around--small">
                <div class="slds-p-small">
                    <ul class="slds-has-dividers--bottom-space">
                    <li class="slds-item">Status: OPEN</li>
                    <li class="slds-item">Confirmation Status: NOTCONFIRMED</li>
                    <li class="slds-item">Export Status: NOTEXPORTED</li>
                    </ul>
                </div>
            </div>

            <div class="slds-p-around--small">
                <div class="slds-p-small">
                    <ul class="slds-has-dividers--bottom-space">
                    <li class="slds-item">Shipping Status: NOTSHIPPED</li>
                    <li class="slds-item">Payment Status: NOTPAID</li>
                    </ul>
                </div>
            </div>
    </div>
        
        
    <!-- SHIPMENT -->
        <article class="slds-card">
            <div class="slds-card__header slds-grid">
                <header class="slds-media slds-media--center slds-has-flexi-truncate">
                    <div class="slds-media__figure slds-media--center">
                        <svg aria-hidden="true" class="slds-icon slds-icon-standard-contact slds-icon--small">
                            <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom42"></use>
                        </svg>
                    </div>
                    <div class="slds-media__body slds-truncate">
                        <h2>
    							<span class="slds-text-heading--small">Shipment 1</span>
							</h2> </div>
                </header>
                <div class="slds-no-flex">
                    <button class="slds-button slds-button--neutral">Add Products</button>
                </div>
            </div>
            <div class="slds-card__body">
                <div class="slds-card__body--inner slds-grid slds-wrap slds-grid--pull-padded">
                    <div class="slds-tile slds-media slds-card__tile slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--1-of-8 slds-hint-parent">
                        <div class="slds-media__figure">
                            <div class="slds-icon_container"> Jeff Lebowski </br> Lane 10 </br> United States </br> 11898 </br> Los Angeles CA </div>
                        </div>
                    </div>
                    <div class="slds-size--1-of-2 slds-medium-size--7-of-8 slds-hint-parent">
                        <table class="slds-table slds-table--bordered slds-no-row-hover slds-table--cell-buffer">
                            <thead>
                                <tr class="slds-text-title--caps">
                                    <th scope="col">
                                        <div class="slds-truncate" title="Name">Name</div>
                                    </th>
                                    <th scope="col">
                                        <div class="slds-truncate" title="Availability">Availability</div>
                                    </th>
                                    <th scope="col">
                                        <div class="slds-truncate" title="Quantity">Quantity</div>
                                    </th>
                                    <th scope="col">
                                        <div class="slds-truncate" title="Price">Price</div>
                                    </th>
                                    <th scope="col">
                                        <div class="slds-truncate" title="Tax">Tax</div>
                                    </th>
                                    <th scope="col">
                                        <div class="slds-truncate" title="Total">Total</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="slds-hint-parent">
                                    <th scope="row">
                                        <div class="slds-grid">
                                            <div class="slds-grid slds-truncate" title=""> <span class="slds-avatar slds-avatar--large">
												<img src="/assets/images/nintendo-mario-kart-nintendods.jpg" border="0" />
											</span> </div>
                                            <ul>
                                                <li>Mario Kart (for Nintendo DS)</li>
                                                <li><span class="slds-text-body--small">nintendo-mario-kart-nintendods</span></li>
                                            </ul>
                                        </div>
                                    </th>
                                    <td>
                                        <div class="slds-truncate" title="">Available (98)</div>
                                    </td>
                                    <td>
                                        <div class="slds-truncate" title="Director of Operations">2</div>
                                    </td>
                                    <td>
                                        <div class="slds-truncate" title="adam@company.com">$ 29.99</div>
                                    </td>
                                    <td>
                                        <div class="slds-truncate" title="adam@company.com">$ 3.00</div>
                                    </td>
                                    <td>
                                        <div class="slds-truncate" title="adam@company.com">$ 59.98</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="slds-card__footer">
                    <div class="slds-grid slds-grid--align-end slds-grid--pull-padded">
                        <div>Shipping Method: Super Saver</div>
                        <div> <span class="slds-icon_container">
                    			<svg aria-hidden="true" class="slds-icon slds-icon-text-error slds-icon--x-small">
                        		<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#moneybag"></use>
                    			</svg>
                    			<span class="slds-assistive-text">Adjustment</span> </span> $ 100.00 </div>
                    </div>
                </div>
        </article>
        <!-- /SHIPMENT -->
        
        
        <!-- SHIPMENT -->
        <div class="csc myapp slds-m-top--large">
            <article class="slds-card">
                <div class="slds-card__header slds-grid">
                    <header class="slds-media slds-media--center slds-has-flexi-truncate">
                        <div class="slds-media__figure slds-media--center">
                            <svg aria-hidden="true" class="slds-icon slds-icon-standard-contact slds-icon--small">
                                <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom42"></use>
                            </svg>
                        </div>
                        <div class="slds-media__body slds-truncate">
                            <h2>
    							<span class="slds-text-heading--small">Shipment 1</span>
							</h2> </div>
                    </header>
                    <div class="slds-no-flex">
                        <button class="slds-button slds-button--neutral">Add Products</button>
                    </div>
                </div>
                <div class="slds-card__body">
                    <div class="slds-card__body--inner slds-grid slds-wrap slds-grid--pull-padded">
                        <div class="slds-tile slds-media slds-card__tile slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--1-of-8 slds-hint-parent">
                            <div class="slds-media__figure">
                                <div class="slds-icon_container"> The Dude Lebowski </br> 36 Washington Street </br> United States </br> 58769 </br> Los Angeles CA </div>
                            </div>
                        </div>
                        <div class="slds-size--1-of-2 slds-medium-size--7-of-8 slds-hint-parent">
                            <table class="slds-table slds-table--bordered slds-no-row-hover slds-table--cell-buffer">
                                <thead>
                                    <tr class="slds-text-title--caps">
                                        <th scope="col">
                                            <div class="slds-truncate" title="Name">Name</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Availability">Availability</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Quantity">Quantity</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Price">Price</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Tax">Tax</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Total">Total</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="slds-hint-parent">
                                        <th scope="row">
                                            <div class="slds-grid">
                                                <div class="slds-grid slds-truncate" title=""> <span class="slds-avatar slds-avatar--large">
												<img src="/assets/images/nintendo-wii-console.jpg" border="0">
											</span> </div>
                                                <ul>
                                                    <li>Nintendo Wii™ Game Console</li>
                                                    <li><span class="slds-text-body--small">nintendo-wii-console</span></li>
                                                    <li><span class="slds-text-body--small">Extended Warranty: 3 Year Warranty</span></li>
                                                </ul>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="slds-truncate" title="">Available (98)</div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate" title="Director of Operations">2</div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate" title="adam@company.com">$ 29.99</div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate" title="adam@company.com">$ 3.00</div>
                                        </td>
                                        <td>
                                            <div class="slds-truncate" title="adam@company.com">$ 59.98</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="slds-card__footer">
                        <div class="slds-grid slds-grid--align-end slds-grid--pull-padded">
                            <div>Shipping Method: Ground</div>
                            <div> <span class="slds-icon_container">
                                <svg aria-hidden="true" class="slds-icon slds-icon-text-error slds-icon--x-small">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#moneybag"></use>
                                </svg>
                                <span class="slds-assistive-text">Warning Icon</span> </span> $ 7.99 </div>
                        </div>
                    </div>
            </article>
            <!-- /SHIPMENT -->



            <div class="slds-grid slds-m-top--large"> </div>
            <div class="slds-grid slds-wrap slds-grid--pull-padded">
                <div class="slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--3-of-12"> </div>
                <div class="slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--1-of-6 slds-large-size--9-of-12  slds-grid--align-end" style="background: red"> </div>
            </div>
            <section class="slds-clearfix">
                <!-- ORDER NOTES -->
                <div class="slds-float--left">
                    <div class="slds-media">
                        <div class="slds-media__body">
                            <div class="slds-media slds-media--timeline slds-timeline__media--note">
                                <div class="slds-media__figure slds-timeline__icon">
                                    <div class="slds-icon_container">
                                        <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-standard-note">
                                            <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#note"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="slds-media__body">
                                    <p class="slds-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <ul class="slds-list--horizontal slds-wrap">
                                        <li class="slds-m-right--large"> <span class="slds-text-title">User:</span> <span class="slds-text-body--small"><a href="javascript:void(0);">Admin</a></span> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="slds-media__figure slds-media__figure--reverse">
                            <div class="slds-timeline__actions">
                                <p class="slds-timeline__date">Feb 24 2016</p>
                            </div>
                        </div>
                    </div>
                    <div class="slds-media">
                        <div class="slds-media__body">
                            <div class="slds-media slds-media--timeline slds-timeline__media--note">
                                <div class="slds-media__figure slds-timeline__icon">
                                    <div class="slds-icon_container">
                                        <svg aria-hidden="true" class="slds-icon slds-icon--small slds-icon-standard-note">
                                            <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#note"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="slds-media__body">
                                    <p class="slds-truncate">Ut faucibus sodales felis id imperdiet. Nunc.</p>
                                    <ul class="slds-list--horizontal slds-wrap">
                                        <li class="slds-m-right--large"> <span class="slds-text-title">User:</span> <span class="slds-text-body--small"><a href="javascript:void(0);">Admin</a></span> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="slds-media__figure slds-media__figure--reverse">
                            <div class="slds-timeline__actions">
                                <p class="slds-timeline__date">Feb 10 2016</p>
                            </div>
                        </div>
                    </div>
                    <p class="slds-p-top--small">
                        <button class="slds-button slds-button--neutral">Add Note</button>
                    </p>
                </div>
                <!-- /ORDER NOTES -->
                <div class="slds-float--right">
                    <table class="slds-table slds-table--cell-buffer">
                        <tr class="slds-m-right--large">
                            <td class="slds-text-title">Items Total:</td>
                            <td class="slds-text-body--small slds-text-align--right">$ 279.96</td>
                        </tr>
                        <tr class="slds-m-right--large">
                            <td class="slds-text-body--small slds-table--bordered slds-text-color--error">Adjustment:</td>
                            <td class="slds-text-body--small slds-table--bordered slds-text-color--error slds-text-align--right">-$ 78.00</td>
                        </tr>
                        <tr class="slds-m-right--large">
                            <td class="slds-text-body--small slds-table--bordered">Discounted Items Total:</td>
                            <td class="slds-text-body--small slds-table--bordered slds-text-align--right">$ 201.96</td>
                        </tr>
                        <tr class="slds-m-right--large">
                            <td class="slds-text-title slds-table--bordered">Shipping Total:</td>
                            <td class="slds-text-body--small slds-table--bordered slds-text-align--right">$ 209.98</td>
                        </tr>
                        <tr class="slds-m-right--large">
                            <td class="slds-text-title">Tax Total:</td>
                            <td class="slds-text-body--small slds-text-align--right">$ 20.60</td>
                        </tr>
                        <tr class="slds-m-right--large">
                            <td class="slds-table--bordered slds-text-heading--small"><b>Order Total</b></td>
                            <td class="slds-table--bordered slds-text-heading--small slds-text-align--right"><b>$ 432.54</b></td>
                        </tr>
                    </table>
                </div>
            </section>
            </div>


            <!-- / PRIMARY CONTENT WRAPPER -->
        </div>


