    <!-- TOP SECTION -->
    <div class="slds-grid slds-border_bottom slds-grid slds-page-header__detail-row slds-m-top_none slds-m-bottom_none slds-grid_vertical-align-top">
      <div class="slds-col slds-p-horizontal_small">
        <!-- LOCALE SELECT -->
          <div class="slds-form-element">
              <label class="slds-form-element__label" for="combobox-unique-id">Locale</label>
              <div class="slds-form-element__control">
                <div class="slds-combobox_container slds-size_xsmall">
                  <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-picklist" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                      <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="All" readonly="">
                      <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                        <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                        </svg>
                        <span class="slds-assistive-text">Description of icon</span>
                      </span>
                    </div>
                    <div id="listbox-unique-id" role="listbox">
                      <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                        <li role="presentation" class="slds-listbox__item">
                          <span id="listbox-option-unique-id-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                            <span class="slds-media__figure">
                              <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                              </svg>
                            </span>
                            <span class="slds-media__body">
                              <span class="slds-truncate" title="Option A"> Option A</span>
                            </span>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        <!-- /LOCALE SELECT -->
      </div>
      <div class="slds-col slds-p-horizontal_small">
        <!-- CUSTOMER GROUPS SELECT -->
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="combobox-unique-id">Customer Groups</label>
              <div class="slds-form-element__control">
                <div class="slds-combobox_container slds-size_xsmall">
                  <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-picklist" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                      <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Select an Option" readonly="">
                      <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                        <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                        </svg>
                        <span class="slds-assistive-text">Description of icon</span>
                      </span>
                    </div>
                    <div id="listbox-unique-id" role="listbox">
                      <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                        <li role="presentation" class="slds-listbox__item">
                          <span id="listbox-option-unique-id-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                            <span class="slds-media__figure">
                              <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                              </svg>
                            </span>
                            <span class="slds-media__body">
                              <span class="slds-truncate" title="Option A"> Option A</span>
                            </span>
                          </span>
                        </li>
                        <li role="presentation" class="slds-listbox__item">
                          <span id="listbox-option-unique-id-02" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                            <span class="slds-media__figure">
                              <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                              </svg>
                            </span>
                            <span class="slds-media__body">
                              <span class="slds-truncate" title="Option B"> Option B</span>
                            </span>
                          </span>
                        </li>
                        <li role="presentation" class="slds-listbox__item">
                          <span id="listbox-option-unique-id-03" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                            <span class="slds-media__figure">
                              <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                              </svg>
                            </span>
                            <span class="slds-media__body">
                              <span class="slds-truncate" title="Option ABCDEFGHIJKLMNOPQRSTUVWXYZ"> Option ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
                            </span>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <!-- /CUSTOMER GROUPS SELECT -->
      </div>
      <div class="slds-col slds-p-horizontal_small slds-hide">
        <!-- DATE SELECT -->
          <div class="slds-form-element slds-dropdown-trigger slds-dropdown-trigger_click slds-is-closed">
            <label class="slds-form-element__label" for="date-input-id">Page is visible</label>
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
              <input type="text" id="date-input-id" placeholder="Always" class="slds-input">
              <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" title="Select a date">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#event"></use>
                </svg>
                <span class="slds-assistive-text">Select a date</span>
              </button>
            </div>
            <div aria-hidden="false" aria-label="Date picker: June" class="slds-datepicker slds-dropdown slds-dropdown_left" role="dialog">
              <div class="slds-datepicker__filter slds-grid">
                <div class="slds-datepicker__filter_month slds-grid slds-grid_align-spread slds-grow">
                  <div class="slds-align-middle">
                    <button class="slds-button slds-button_icon slds-button_icon-container" title="Previous Month">
                      <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#left"></use>
                      </svg>
                      <span class="slds-assistive-text">Previous Month</span>
                    </button>
                  </div>
                  <h2 aria-atomic="true" aria-live="assertive" class="slds-align-middle" id="month">June</h2>
                  <div class="slds-align-middle">
                    <button class="slds-button slds-button_icon slds-button_icon-container" title="Next Month">
                      <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#right"></use>
                      </svg>
                      <span class="slds-assistive-text">Next Month</span>
                    </button>
                  </div>
                </div>
                <div class="slds-shrink-none">
                  <label class="slds-assistive-text" for="select-01">Pick a Year</label>
                  <div class="slds-select_container">
                    <select class="slds-select" id="select-01">
                      <option>2014</option>
                      <option>2015</option>
                      <option>2016</option>
                    </select>
                  </div>
                </div>
              </div>
              <table aria-labelledby="month" aria-multiselectable="true" class="slds-datepicker__month" role="grid">
                <thead>
                  <tr id="weekdays">
                    <th id="Sunday" scope="col">
                      <abbr title="Sunday">Sun</abbr>
                    </th>
                    <th id="Monday" scope="col">
                      <abbr title="Monday">Mon</abbr>
                    </th>
                    <th id="Tuesday" scope="col">
                      <abbr title="Tuesday">Tue</abbr>
                    </th>
                    <th id="Wednesday" scope="col">
                      <abbr title="Wednesday">Wed</abbr>
                    </th>
                    <th id="Thursday" scope="col">
                      <abbr title="Thursday">Thu</abbr>
                    </th>
                    <th id="Friday" scope="col">
                      <abbr title="Friday">Fri</abbr>
                    </th>
                    <th id="Saturday" scope="col">
                      <abbr title="Saturday">Sat</abbr>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td aria-disabled="true" aria-selected="false" class="slds-disabled-text" role="gridcell">
                      <span class="slds-day">31</span>
                    </td>
                    <td aria-selected="false" role="gridcell" tabindex="0">
                      <span class="slds-day">1</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">2</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">3</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">4</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">5</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">6</span>
                    </td>
                  </tr>
                  <tr>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">7</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">8</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">9</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">10</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">11</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">12</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">13</span>
                    </td>
                  </tr>
                  <tr>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">14</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">15</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">16</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">17</span>
                    </td>
                    <td aria-selected="false" class="slds-is-today" role="gridcell">
                      <span class="slds-day">
                        <span class="slds-assistive-text">Today: </span>18</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">19</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">20</span>
                    </td>
                  </tr>
                  <tr class="">
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">21</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">22</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">23</span>
                    </td>
                    <td aria-selected="false" class="" role="gridcell">
                      <span class="slds-day">24</span>
                    </td>
                    <td aria-selected="false" class="" role="gridcell">
                      <span class="slds-day">25</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">26</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">27</span>
                    </td>
                  </tr>
                  <tr>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">28</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">29</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">30</span>
                    </td>
                    <td aria-disabled="true" aria-selected="false" class="slds-disabled-text" role="gridcell">
                      <span class="slds-day">1</span>
                    </td>
                    <td aria-disabled="true" aria-selected="false" class="slds-disabled-text" role="gridcell">
                      <span class="slds-day">2</span>
                    </td>
                    <td aria-disabled="true" aria-selected="false" class="slds-disabled-text" role="gridcell">
                      <span class="slds-day">3</span>
                    </td>
                    <td aria-disabled="true" aria-selected="false" class="slds-disabled-text" role="gridcell">
                      <span class="slds-day">4</span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="7" role="gridcell">
                      <span class="slds-show_inline-block slds-text-link slds-p-bottom_x-small">Today</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <!-- /DATE SELECT -->
      </div>
      <div class="slds-p-horizontal_small slds-size_1-of-2 slds-medium-size_5-of-6 slds-large-size_9-of-12">
        <!-- TIMELINE -->
        <div class="slds-form-element">
            <label class="slds-form-element__label" for="combobox-unique-id">Timeline</label>
            <div class="slds-progress-bar slds-progress-bar_x-small" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25%" role="progressbar">
              <span class="slds-progress-bar__value">
                <span class="slds-assistive-text">Range Selected: None</span>
              </span>
            </div>

        </div>
        <!-- /TIMELINE -->
      </div>
    </div>
    <!-- /TOP SECTION -->
