
<div class="slds-panel slds-grid slds-grid--vertical slds-nowrap slds-p-around--small">
  <div class="slds-form--stacked slds-grow slds-scrollable--y">
    <div class="slds-panel__section slds-has-divider--bottom">
      <div class="slds-media">
        <div class="slds-media__figure">
          <label class="slds-checkbox" for="completed">
            <input type="checkbox" name="checkbox" id="completed" checked="" />
            <span class="slds-checkbox--faux"></span>
            <span class="slds-assistive-text">Holiday Rules</span>
          </label>
        </div>
        <div class="slds-media__body">
          <p class="slds-truncate slds-text-heading--small" title="Follow up on &#x27;15 contact"><a href="javascript:void(0);">Holiday Rules</a></p>
        </div>
      </div>
    </div>
<ul id="sortable">
   
<li class="ui-state-default">
        <div class="slds-panel__section slds-has-divider--bottom slds-grid slds-grid--align-spread">
            <div class="slds-media slds-col slds-p-horizontal--small">
                <div class="slds-media__figure">
                    <span class="slds-icon_container" title="Drag item vertically">
                        <svg class="slds-icon slds-icon--x-small slds-icon-text-default" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#rows"></use>
                        </svg>
                        <span class="slds-assistive-text">Drag item verically</span>
                    </span>
                </div>
                <div class="slds-grid slds-wrap slds-grid--pull-padded">
                    <div class="slds-media__body slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
                    <p class="slds-truncate slds-text-heading--small" title="Follow up on &#x27;15 contact">Exclude Site</p>
                    <p class="slds-truncate slds-text-body--regular slds-text-color--weak" title="Follow up on &#x27;15 contact">Exclude Site with Attribute</p>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-p-horizontal--small ">

                        <div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-is-closed">
                            <button class="slds-button slds-button--icon-border-filled" aria-haspopup="true" title="Show More">
                                <svg class="slds-button__icon" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                </svg>
                                <span class="slds-assistive-text">Show More</span>
                            </button>
                            <div class="slds-dropdown slds-dropdown--right">
                                <ul class="slds-dropdown__list" role="menu">
                                <li class="slds-dropdown__item" role="presentation">
                                    <a href="javascript:void(0);" class="show_modal-oms" role="menuitem" tabindex="0">
                                    <span class="slds-truncate">Edit</span>
                                    </a>
                                </li>
                                <li class="slds-dropdown__item" role="presentation">
                                    <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate">Delete</span>
                                    </a>
                                </li>
                                </ul>
                            </div>
                       </div>            

            </div>
        </div>    
    </li>

    <li class="ui-state-default">
        <div class="slds-panel__section slds-has-divider--bottom slds-grid slds-grid--align-spread">
            <div class="slds-media slds-col slds-p-horizontal--small">
                <div class="slds-media__figure">
                    <span class="slds-icon_container" title="Drag item vertically">
                        <svg class="slds-icon slds-icon--x-small slds-icon-text-default" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#rows"></use>
                        </svg>
                        <span class="slds-assistive-text">Drag item verically</span>
                    </span>
                </div>
                <div class="slds-grid slds-wrap slds-grid--pull-padded">
                    <div class="slds-media__body slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
                    <p class="slds-truncate slds-text-heading--small" title="Follow up on &#x27;15 contact">Select Catalog</p>
                    <p class="slds-truncate slds-text-body--regular slds-text-color--weak" title="Follow up on &#x27;15 contact">Select Catalog</p>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-p-horizontal--small ">

                        <div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-is-closed">
                            <button class="slds-button slds-button--icon-border-filled" aria-haspopup="true" title="Show More">
                                <svg class="slds-button__icon" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                </svg>
                                <span class="slds-assistive-text">Show More</span>
                            </button>
                            <div class="slds-dropdown slds-dropdown--right">
                                <ul class="slds-dropdown__list" role="menu">
                                <li class="slds-dropdown__item" role="presentation">
                                    <a href="javascript:void(0);" class="show_modal-oms" role="menuitem" tabindex="0">
                                    <span class="slds-truncate">Edit</span>
                                    </a>
                                </li>
                                <li class="slds-dropdown__item" role="presentation">
                                    <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate">Delete</span>
                                    </a>
                                </li>                                
                                </ul>
                            </div>
                       </div>            

            </div>
        </div>    
    </li>

    <li class="ui-state-default">
        <div class="slds-panel__section slds-has-divider--bottom slds-grid slds-grid--align-spread">
            <div class="slds-media slds-col slds-p-horizontal--small">
                <div class="slds-media__figure">
                    <span class="slds-icon_container" title="Drag item vertically">
                        <svg class="slds-icon slds-icon--x-small slds-icon-text-default" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#rows"></use>
                        </svg>
                        <span class="slds-assistive-text">Drag item verically</span>
                    </span>
                </div>
                <div class="slds-grid slds-wrap slds-grid--pull-padded">
                    <div class="slds-media__body slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
                    <p class="slds-truncate slds-text-heading--small" title="Follow up on &#x27;15 contact">Select Catalog</p>
                    <p class="slds-truncate slds-text-body--regular slds-text-color--weak" title="Follow up on &#x27;15 contact">Ranks sites with more inventory higher than sites with less inventory. This is done to increase the likelihood that the selected site will actually be able to fulfilll the order.</p>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-p-horizontal--small ">

                        <div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-is-closed">
                            <button class="slds-button slds-button--icon-border-filled" aria-haspopup="true" title="Show More">
                                <svg class="slds-button__icon" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                </svg>
                                <span class="slds-assistive-text">Show More</span>
                            </button>
                            <div class="slds-dropdown slds-dropdown--right">
                                <ul class="slds-dropdown__list" role="menu">
                                <li class="slds-dropdown__item" role="presentation">
                                    <a href="javascript:void(0);" class="show_modal-oms" role="menuitem" tabindex="0">
                                    <span class="slds-truncate">Edit</span>
                                    </a>
                                </li>
                                <li class="slds-dropdown__item" role="presentation">
                                    <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate">Delete</span>
                                    </a>
                                </li>
                                </ul>
                            </div>
                       </div>            

            </div>
        </div>    
    </li>

 <li class="ui-state-default">
        <div class="slds-panel__section slds-has-divider--bottom slds-grid slds-grid--align-spread">
            <div class="slds-media slds-col slds-p-horizontal--small">
                <div class="slds-media__figure">
                    <span class="slds-icon_container" title="Drag item vertically">
                        <svg class="slds-icon slds-icon--x-small slds-icon-text-default" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#rows"></use>
                        </svg>
                        <span class="slds-assistive-text">Drag item verically</span>
                    </span>
                </div>
                <div class="slds-grid slds-wrap slds-grid--pull-padded">
                    <div class="slds-media__body slds-p-horizontal--small slds-size--1-of-2 slds-medium-size--5-of-6 slds-large-size--8-of-12">
                    <p class="slds-truncate slds-text-heading--small" title="Follow up on &#x27;15 contact">Exclude APO/FPO Addresses</p>
                    <p class="slds-truncate slds-text-body--regular slds-text-color--weak" title="Follow up on &#x27;15 contact">The allocation process will not allocated shipping orders with APO/FPO addresses.</p>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-p-horizontal--small ">

                        <div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-is-closed">
                            <button class="slds-button slds-button--icon-border-filled" aria-haspopup="true" title="Show More">
                                <svg class="slds-button__icon" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                </svg>
                                <span class="slds-assistive-text">Show More</span>
                            </button>
                            <div class="slds-dropdown slds-dropdown--right">
                                <ul class="slds-dropdown__list" role="menu">
                                <li class="slds-dropdown__item" role="presentation">
                                    <a href="javascript:void(0);" class="show_modal-oms" role="menuitem" tabindex="0">
                                    <span class="slds-truncate">Edit</span>
                                    </a>
                                </li>
                                <li class="slds-dropdown__item" role="presentation">
                                    <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate">Delete</span>
                                    </a>
                                </li>
                                </ul>
                            </div>
                       </div>            

            </div>
        </div>    
    </li>   
</ul>

<div class="slds-grid slds-grid--align-center slds-p-around--small">
    <button class="slds-button slds-button--neutral">Add Clause
    <svg class="slds-button__icon slds-button__icon--right" aria-hidden="true">
        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
    </svg>
    </button>
</div>


   


  </div>
</div>

