<div class="page-content">

    <div id="product-tile-placeholder" class="slds-hide">
        <div class="slds-p-horizontal_small">
            <!-- PLACEHOLDER -->
            <div class="slds-p-horizontal_small slds-size_1-of-1">
                <div class="slds-align_absolute-center slds-align_absolute-center slds-p-around_medium slds-grid slds-wrap slds-grid_pull-padded">
                    <div class="slds-size_1-of-1 slds-align_absolute-center">
                        <img src="http://via.placeholder.com/200x200" />
                    </div>
                    <div class="slds-align_absolute-center slds-size_1-of-1 slds-text-heading_medium slds-p-bottom_x-small">Product Name</div>
                    <div class="slds-align_absolute-center slds-size_1-of-1 slds-text-heading_small slds-p-bottom_x-small">Price</div>
                </div>
            </div>
            <!-- /PLACEHOLDER -->
        </div>
    </div>

       {% include "_placeholder-product-tile.html" %}
       {% include "_placeholder-banner-simple.html" %}
       {% include "_placeholder-textbox.html" %}

    <!-- REGION 1 -->
    <div class="slds-grid slds-wrap slds-grid_pull-padded slds-border_bottom slds-m-top_none sortable" id="Region_1">
        <div class="slds-p-horizontal_small slds-size_1-of-1 slds-hide component-placeholder">
        <!-- FLYOUT -->
        <div class="flyout slds-hide slds-grid slds-wrap slds-grid_pull-padded  slds-grid_align-center slds-p-around_medium slds-align_absolute-center">
          <div class="popmenu slds-grid slds-wrap slds-grid_pull-padded 2slds-p-around_medium">
              <div class="2slds-size_1-of_4 slds-p-around_small"><h1 class="slds-text-size_small">Text Component</h1></div>
              <div class="2slds-size_1-of_4 slds-p-around_small">
                  <span class="slds-icon_container slds-icon-utility-edit" title="Description of icon when needed">
                  <a href="javascript:void();" class="component-edit">
                    <svg class="slds-icon slds-icon-text-default slds-icon_x-small" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                    </svg>
                    <span class="slds-assistive-text">Description of icon</span>
                  </span>
                  </a>
              </div>
              <div class="2slds-size_1-of_4 slds-p-around_small">
                  <span class="slds-icon_container slds-icon-utility-delete" title="Description of icon when needed">
                  <a href="javascript:void();" class="component-delete">
                    <svg class="slds-icon slds-icon-text-default slds-icon_x-small" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                    </svg>
                    <span class="slds-assistive-text">Description of icon</span>
                  </span>
                  </a>
              </div>
          </div>
        </div>
        <!-- /FLYOUT -->
        <!-- PLACEHOLDER -->

        <div class="slds-p-horizontal_small slds-size_1-of-1">
          <div class="slds-align_absolute-center slds-align_absolute-center slds-p-around_medium slds-grid slds-wrap slds-grid_pull-padded">
            <div class="slds-size_1-of-1 slds-align_absolute-center">
              <span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
                <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#text_color"></use>
                </svg>
                <span class="slds-assistive-text">Description of icon</span>
              </span>
            </div>
            <div class="slds-align_absolute-center slds-size_1-of-1">Text Block</div>
            </div>
        </div>
        <!-- /PLACEHOLDER -->
        </div>
        <div class="slds-p-horizontal_small slds-size_1-of-1 slds-hide slds-hide slds-p-around_small component-in-page slds-m-bottom--x-small">
          <!-- COMPONENT -->
            <h1 class="slds-text-heading--large slds-m-bottom--x-small">Heading - h1</h1>
            <p>Lorem ipsum dolor sit amet,
                <strong>strong</strong> adipisicing elit, sed do
                <em>emphasis</em> tempor incididunt ut
                <u>underlined</u> et dolore
                <strike>strikethrough</strike> aliqua. Ut
                <sub>subscript</sub> ad
                <sup>superscript</sup> veniam,
                <abbr>quis</abbr> nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                <a href="#">link</a> in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h2 class="slds-text-heading--medium slds-m-bottom--x-small">Heading - h2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul>
                <li>Unordered list item</li>
                <li>Unordered list item</li>
                <li>Unordered list item</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam,
                <a href="#">https://url.com/document/d/1dSOGKlCQtSG73NcSJB7qCJVjvjGNqc3L2Rw/ed</a>
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>

          <!-- /COMPONENT -->
        </div>
        <div class="slds-p-horizontal_small slds-size_1-of-1">
          <!-- PLUS -->
              <button class="slds-button slds-align_absolute-center slds-button--icon-container slds-button_icon-border slds-button_icon-border-filled component-plus slds-m-bottom_small slds-m-top_small" style="" aria-haspopup="true" title="Add Component" id="Region_1_Add">
                  <svg class="slds-button__icon" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                  </svg>
                  <span class="slds-assistive-text">Add Components</span>
              </button>
              <div class="slds-dropdown slds-dropdown--center slds-dropdown—fluid slds-nubbin_top slds-dropdown_large slds-p-around_small slds-hide component-select">
                <!-- SEARCH -->
                <div class="slds-form-element">
                  <label class="slds-form-element__label slds-assistive-text" for="combobox-unique-id">Search</label>
                  <div class="slds-form-element__control">
                    <div class="slds-combobox_container">
                      <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                          <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="">
                          <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                            </svg>
                            <span class="slds-assistive-text">Description of icon</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /SEARCH -->

                <ul class="slds-dropdown__list" role="menu">
                  <li class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
                    <span class="slds-text-title_caps">Text</span>
                  </li>
                  <li class="slds-dropdown__item" role="presentation">
                    <a href="javascript:void(0);" class="select-textbox" role="menuitem" class="show_component"  tabindex="0">
                      <span class="slds-truncate" title="Table View">Rich Text Block</span>
                      <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#text_color"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
                    <span class="slds-text-title_caps">Commerce</span>
                  </li>
                  <li class="slds-dropdown__item" role="presentation">
                    <a href="javascript:void(0);" role="menuitem" class="add-product"  tabindex="0">
                      <span class="slds-truncate" title="Table View">Product Tile</span>
                      <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#process"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
                    <span class="slds-text-title_caps">Banners</span>
                  </li>
                  <li class="slds-dropdown__item" role="presentation">
                    <a href="javascript:void(0);" role="menuitem" class="select-banner-simple"  tabindex="0">
                      <span class="slds-truncate" title="Table View">Simple Banner</span>
                      <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="slds-dropdown__item" role="presentation">
                    <a href="javascript:void(0);" role="menuitem" class="show_component"  tabindex="-1">
                      <span class="slds-truncate" title="Kanban Board">Info Banner</span>
                      <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="slds-dropdown__item" role="presentation">
                    <a href="javascript:void(0);" role="menuitem" class="show_component"  tabindex="-1">
                      <span class="slds-truncate" title="List View">Interactive Banner</span>
                      <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                      </svg>
                    </a>
                  </li>
                </ul>

              </div>


          <!-- /PLUS -->
        </div>


    </div>
    <!-- /REGION 1 -->

    <!-- REGION 2 -->
    <div class="slds-grid slds-border_bottom slds-m-top_none" id="Region_1">
      <div class="slds-col slds-align_absolute-center slds-m-around_none">
          <div class="slds-context-bar__icon-action slds-dropdown-trigger slds-dropdown-trigger--click  slds-p-around_medium" aria-expanded="true">
              <button class="slds-button slds-button--icon-container slds-button_icon-border slds-button_icon-border-filled" aria-haspopup="true" title="Add Component" id="Region_1_Add">
                  <svg class="slds-button__icon" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                  </svg>
                  <span class="slds-assistive-text">Add Components</span>
              </button>
              <div class="slds-dropdown slds-dropdown--center slds-dropdown—fluid slds-nubbin_top slds-dropdown_large slds-p-around_small">
                <!-- SEARCH -->
                <div class="slds-form-element">
                  <label class="slds-form-element__label slds-assistive-text" for="combobox-unique-id">Search</label>
                  <div class="slds-form-element__control">
                    <div class="slds-combobox_container">
                      <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                          <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="">
                          <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                            </svg>
                            <span class="slds-assistive-text">Description of icon</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /SEARCH -->

                <ul class="slds-dropdown__list" role="menu">
                  <li class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
                    <span class="slds-text-title_caps">Banners</span>
                  </li>
                  <li class="slds-dropdown__item" role="presentation">
                    <a href="javascript:void(0);" role="menuitem" class="show_component"  tabindex="0">
                      <span class="slds-truncate" title="Table View">Simple Banner</span>
                      <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="slds-dropdown__item" role="presentation">
                    <a href="javascript:void(0);" role="menuitem" class="show_component"  tabindex="-1">
                      <span class="slds-truncate" title="Kanban Board">Info Banner</span>
                      <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="slds-dropdown__item" role="presentation">
                    <a href="javascript:void(0);" role="menuitem" class="show_component"  tabindex="-1">
                      <span class="slds-truncate" title="List View">Interactive Banner</span>
                      <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                      </svg>
                    </a>
                  </li>
                </ul>

              </div>
          </div>
      </div>
    </div>
    <!-- /REGION 2 -->



  <!-- iframe src="http://puma.com/de/de/select/stampd" width="100%" height="100%" style="border: 0; height: calc(100vh - 195px); pointer-events: none;"></iframe -->
  <!-- <iframe src="composer_files/saved_resource.html" width="100%" height="100%" style="border: 0; height: calc(100vh - 195px); pointer-events: none;"></iframe>   -->
</div>
