<!-- EDITOR -->
<div class="slds-grid--vertical" id="editor">

<!-- HEADER -->
<div class="slds-grid slds-hide" id="header">
    <div class="slds-col slds-align_absolute-center">
        <div class="marker slds-grid">
            <button class="slds-button">
                <svg class="slds-button__icon slds-button__icon_left slds-button__icon_large" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#lock"></use>
                </svg>HEADER
            </button>
        </div>
    </div>
</div>

<!-- /HEADER -->


    <!-- REGION A -->
    <div class="slds-col">
        <div class="slsd-border slds-col slds-border-top region  slds-align_absolute-center slds-grid--vertical region" id="regionA" style="">
            <div>
                hier jetzt
                {% include "_inc_header-editor.html" ignore missing %}

            </div>
            <div class="slds-col slds-size-1-of-1 placeholder-container" style="width:100%"></div>
            <div class="slds-col slds-size-1-of-1">
                {% include "_inc_menu-components.html" ignore missing %}
            </div>
            <div class="slds-hide placeholder-library">
                {% include "_inc_placeholder_component-4.html" ignore missing %}
                {% include "_inc_placeholder_component-5.html" ignore missing %}
                {% include "_inc_placeholder_component-6.html" ignore missing %}
                {% include "_inc_placeholder_component-7.html" ignore missing %}
                {% include "_inc_placeholder_component-8.html" ignore missing %}
                {% include "_inc_placeholder_component-9.html" ignore missing %}
                {% include "_inc_placeholder_component-10.html" ignore missing %}
                {% include "_inc_placeholder_component-11.html" ignore missing %}
                {% include "_inc_placeholder_component-12.html" ignore missing %}
            </div>
                {% include "_inc_modal-properties-component-4.html" ignore missing %}
                {% include "_inc_modal-properties-component-5.html" ignore missing %}
                {% include "_inc_modal-properties-component-6.html" ignore missing %}
                {% include "_inc_modal-properties-component-7.html" ignore missing %}
                {% include "_inc_modal-properties-component-8.html" ignore missing %}
                {% include "_inc_modal-properties-component-9.html" ignore missing %}
                {% include "_inc_modal-properties-component-10.html" ignore missing %}
                {% include "_inc_modal-properties-component-11.html" ignore missing %}
                {% include "_inc_modal-properties-component-12.html" ignore missing %}

                {% include "_inc_modal-delete-component-4.html" ignore missing %}
                {% include "_inc_modal-delete-component-5.html" ignore missing %}
                {% include "_inc_modal-delete-component-6.html" ignore missing %}
                {% include "_inc_modal-delete-component-7.html" ignore missing %}
                {% include "_inc_modal-delete-component-8.html" ignore missing %}
                {% include "_inc_modal-delete-component-9.html" ignore missing %}
                {% include "_inc_modal-delete-component-10.html" ignore missing %}
                {% include "_inc_modal-delete-component-11.html" ignore missing %}
                {% include "_inc_modal-delete-component-12.html" ignore missing %}


        </div>
    </div>
    <!-- /REGION A -->


</div>

<!-- FOOTER -->
<div class="slds-grid slds-hide" id="_footer-layout">
    <div class="slds-col slds-align_absolute-center">
        <div class="marker slds-grid">
            <button class="slds-button">
                <svg class="slds-button__icon slds-button__icon_left slds-button__icon_large" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#lock"></use>
                </svg>FOOTER
            </button>
        </div>
    </div>
</div>

<!-- /FOOTER -->



<!-- /EDITOR -->
