<div class="slds-panel slds-grid">
    <div class="slds-form--stacked slds-grow 2slds-scrollable--y slds-grid slds-grid--vertical">
        <div class="slds-filters">
            <div class="slds-filters__header slds-grid slds-has-divider--bottom">
                <h2 class="slds-align-middle slds-text-heading--small">Filters</h2>
                <button class="slds-button slds-col--bump-left slds-button--icon slds-button--icon-small" title="Close Filter Panel" id="filterbutton">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#forward"></use>
                </svg> <span class="slds-assistive-text">Close Filter Panel</span> </button>
            </div>

            <div class="slds-filters__body" id="filter-request">
                <!-- Checkbox for Development Mode only -->
                <div class="slds-grid slds-has-divider--bottom slds-p-bottom--small">
                    <ul class="slds-list_vertical slds-list_vertical-space" role="tree" aria-labelledby="treeheading" aria-activedescendant="tree0-node1">
                        <li role="treeitem" aria-level="1">
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <span class="slds-checkbox">
                                    <input type="checkbox" name="options" id="checkbox-001"  />
                                    <label class="slds-checkbox__label" for="checkbox-001">
                                        <span class="slds-checkbox--faux"></span>
                                        <span class="slds-form-element__label">Measure Expression</span>
                                    </label>
                                    </span>
                                </div>
                            </div>    
                        </li>
                        <li role="treeitem" aria-level="1">
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <span class="slds-checkbox">
                                    <input type="checkbox" name="options" id="checkbox-001"  />
                                    <label class="slds-checkbox__label" for="checkbox-001">
                                        <span class="slds-checkbox--faux"></span>
                                        <span class="slds-form-element__label">Enable Detailed Script</span>
                                    </label>
                                    </span>
                                </div>
                            </div>    
                        </li>
                    </ul>
                </div>
                <!-- /Checkbox for Development Mode only -->

                 <!-- REQUEST -->
                <div class="slds-section slds-is-open slds-border--bottom slds-p-bottom--small">
                    <div class="slds-grid slds-grid--vertical-align-center">
                        <div class="slds-column">
                            <button class="slds-button">
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="slds-column slds-p-bottom--none">
                            <div class="slds-form-element">
                                <span class="slds-checkbox">
                                <input type="checkbox" name="options" id="checkbox-000"  />
                                <label class="slds-checkbox__label" for="checkbox-000">
                                    <span class="slds-checkbox--faux"></span>
                                    <span class="slds-form-element__label">REQUEST</span>
                                    <span class="slds-badge slds-float--right slds-m-left--medium">2 selected</span>
                                </label>
                                </span> 
                            </div>                                                                           
                        </div>
                    </div>
                    
                    <div class="slds-section__content slds-p-left--medium slds-p-top--none">                        
                        <ul class="slds-list--vertical slds-is-nested">
                            <li class="slds-list__item slds-p-around--small">
                                <div class="slds-form-element slds-m-left--xlarge">
                                    <div class="slds-form-element__control">
                                        <span class="slds-checkbox">
                                        <input type="checkbox" name="options" id="checkbox-101"  />
                                        <label class="slds-checkbox__label" for="checkbox-101">
                                            <span class="slds-checkbox--faux"></span>
                                            <span class="slds-form-element__label">HTTP</span>
                                        </label>
                                        </span>
                                    </div>
                                </div>
                                <ul class="slds-list--vertical slds-is-nested">                        
                                    <!-- CHILD ELEMENTS -->
                                    <li class="slds-list__item">
                                    <div class="slds-form-element  slds-p-top--small">
                                        <div class="slds-form-element__control">
                                            <span class="slds-checkbox">
                                            <input type="checkbox" name="options" id="checkbox-102" checked="" />
                                            <label class="slds-checkbox__label" for="checkbox-102">
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label">SF_PAGE</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                    </li>                        
                                    <li class="slds-list__item">                        
                                    <div class="slds-form-element slds-p-top--small">
                                        <div class="slds-form-element__control">
                                            <span class="slds-checkbox">
                                            <input type="checkbox" name="options" id="checkbox-103"  />
                                            <label class="slds-checkbox__label" for="checkbox-103">
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label">BMP_PAGE</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                    </li>                        
                                    <li class="slds-list__item">
                                    <div class="slds-form-element  slds-p-top--small">
                                        <div class="slds-form-element__control">
                                            <span class="slds-checkbox">
                                            <input type="checkbox" name="options" id="checkbox-104"  />
                                            <label class="slds-checkbox__label" for="checkbox-104">
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label">FILE</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                    </li>                        
                                    <li class="slds-list__item">
                                    <div class="slds-form-element  slds-p-top--small">
                                        <div class="slds-form-element__control">
                                            <span class="slds-checkbox">
                                            <input type="checkbox" name="options" id="checkbox-105" checked=""  />
                                            <label class="slds-checkbox__label" for="checkbox-105">
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label">ONREQUEST</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                    </li>                        
                                    <li class="slds-list__item">
                                    <div class="slds-form-element  slds-p-top--small">
                                        <div class="slds-form-element__control">
                                            <span class="slds-checkbox">
                                            <input type="checkbox" name="options" id="checkbox-106"  />
                                            <label class="slds-checkbox__label" for="checkbox-106">
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label">REST_SHOP</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                    </li>                        
                                    <li class="slds-list__item">
                                    <div class="slds-form-element  slds-p-top--small">
                                        <div class="slds-form-element__control">
                                            <span class="slds-checkbox">
                                            <input type="checkbox" name="options" id="checkbox-107"  />
                                            <label class="slds-checkbox__label" for="checkbox-107">
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label">REST_DATA</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                    </li>                        
                                    <li class="slds-list__item">
                                    <div class="slds-form-element  slds-p-top--small">
                                        <div class="slds-form-element__control">
                                            <span class="slds-checkbox">
                                            <input type="checkbox" name="options" id="checkbox-108"  />
                                            <label class="slds-checkbox__label" for="checkbox-108">
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label">REST_META</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                    </li>                        
                                    <li class="slds-list__item">
                                    <div class="slds-form-element  slds-p-top--small">
                                        <div class="slds-form-element__control">
                                            <span class="slds-checkbox">
                                            <input type="checkbox" name="options" id="checkbox-109"  />
                                            <label class="slds-checkbox__label" for="checkbox-109">
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label">REST_BATCH</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                    </li>                        
                                    <!-- /CHILD ELEMENTS END -->
                                    </ul>
                                    </li>
                                <ul>
                            </li>
                        <li class="slds-list__item slds-p-around--small">
                                <div class="slds-form-element slds-m-left--xlarge">
                                    <div class="slds-form-element__control">
                                        <span class="slds-checkbox">
                                        <input type="checkbox" name="options" id="checkbox-110"  />
                                        <label class="slds-checkbox__label" for="checkbox-110">
                                            <span class="slds-checkbox--faux"></span>
                                            <span class="slds-form-element__label">EVENT</span>
                                        </label>
                                        </span>
                                    </div>
                                </div>                        
                            </li>
                        </ul>                        
                    </div>
                </div>
                 <!-- /REQUEST -->


                
                <!-- JOB -->
                <div class="slds-section slds-is-closed slds-border--bottom slds-p-bottom--small slds-p-left--large">
                    <div class="slds-grid slds-grid--vertical-align-center">
                        <div class="slds-form-element">
                            <div class="slds-column slds-p-bottom--none">
                                <span class="slds-checkbox">
                                <input type="checkbox" name="options" id="checkbox-200"  />
                                <label class="slds-checkbox__label" for="checkbox-200">
                                    <span class="slds-checkbox--faux"></span>
                                    <span class="slds-form-element__label">JOB</span>
                                </label>
                                </span>                                                
                            </div>
                        </div>                            
                    </div>
                </div>                    
                <!-- /JOB -->                                



                <!-- VIEW -->
                <div class="slds-section slds-is-closed slds-border--bottom slds-p-bottom--small">
                    <div class="slds-grid slds-grid--vertical-align-center">
                        <div class="slds-column">
                            <button class="slds-button">
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="slds-column slds-p-bottom--none">
                            <div class="slds-form-element">
                                <span class="slds-checkbox">
                                <input type="checkbox" name="options" id="checkbox-300"  />
                                <label class="slds-checkbox__label" for="checkbox-300">
                                    <span class="slds-checkbox--faux"></span>
                                    <span class="slds-form-element__label">VIEW</span>
                                </label>
                                </span>                    
                            </div>                                
                        </div>
                    </div>
                    
                    <div class="slds-section__content slds-p-left--medium slds-p-top--none">                        
                        <ul class="slds-list--vertical slds-is-nested">
                            <li class="slds-list__item slds-p-around--small">
                                <div class="slds-form-element slds-m-left--xlarge">
                                    <div class="slds-form-element__control">
                                        <span class="slds-checkbox">
                                        <input type="checkbox" name="options" id="checkbox-301"  />
                                        <label class="slds-checkbox__label" for="checkbox-301">
                                            <span class="slds-checkbox--faux"></span>
                                            <span class="slds-form-element__label">ISML</span>
                                        </label>
                                        </span>
                                    </div>
                                </div>                                
                            </li>
                        <li class="slds-list__item slds-p-around--small">
                                <div class="slds-form-element slds-m-left--xlarge">
                                    <div class="slds-form-element__control">
                                        <span class="slds-checkbox">
                                        <input type="checkbox" name="options" id="checkbox-302"  />
                                        <label class="slds-checkbox__label" for="checkbox-302">
                                            <span class="slds-checkbox--faux"></span>
                                            <span class="slds-form-element__label">VELOCITY</span>
                                        </label>
                                        </span>
                                    </div>
                                </div>                        
                            </li>
                        </ul>                        
                    </div>
                </div>
                 <!-- /VIEW -->

                <!-- PIPELINE -->
                <div class="slds-section slds-is-closed slds-border--bottom slds-p-bottom--small slds-p-left--large">
                    <div class="slds-grid slds-grid--vertical-align-center">
                        <div class="slds-form-element">
                            <div class="slds-column slds-p-bottom--none">
                                <span class="slds-checkbox">
                                <input type="checkbox" name="options" id="checkbox-400"  />
                                <label class="slds-checkbox__label" for="checkbox-400">
                                    <span class="slds-checkbox--faux"></span>
                                    <span class="slds-form-element__label">PIPELINE</span>
                                </label>
                                </span>                                                
                            </div>
                        </div>                            
                    </div>
                </div>                    
                <!-- /PIPELINE -->                                

                <!-- SCRIPT -->
                <div class="slds-section slds-is-closed slds-border--bottom slds-p-bottom--small">
                    <div class="slds-grid slds-grid--vertical-align-center">
                        <div class="slds-column">
                            <button class="slds-button">
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="slds-column slds-p-bottom--none">
                            <div class="slds-form-element">
                                <span class="slds-checkbox">
                                <input type="checkbox" name="options" id="checkbox-500"  />
                                <label class="slds-checkbox__label" for="checkbox-500">
                                    <span class="slds-checkbox--faux"></span>
                                    <span class="slds-form-element__label">SCRIPT</span>
                                </label>
                                </span>                    
                            </div>                                
                        </div>
                    </div>
                    
                    <div class="slds-section__content slds-p-left--medium slds-p-top--none">                        
                        <ul class="slds-list--vertical slds-is-nested">
                            <li class="slds-list__item slds-p-around--small">
                                <div class="slds-form-element slds-m-left--xlarge">
                                    <div class="slds-form-element__control">
                                        <span class="slds-checkbox">
                                        <input type="checkbox" name="options" id="checkbox-501"  />
                                        <label class="slds-checkbox__label" for="checkbox-501">
                                            <span class="slds-checkbox--faux"></span>
                                            <span class="slds-form-element__label">SCRIPT_EXPRESSION</span>
                                        </label>
                                        </span>
                                    </div>
                                </div>                                
                            </li>
                        <li class="slds-list__item slds-p-around--small">
                                <div class="slds-form-element slds-m-left--xlarge">
                                    <div class="slds-form-element__control">
                                        <span class="slds-checkbox">
                                        <input type="checkbox" name="options" id="checkbox-502"  />
                                        <label class="slds-checkbox__label" for="checkbox-502">
                                            <span class="slds-checkbox--faux"></span>
                                            <span class="slds-form-element__label">SCRIPT_CONTROLLER</span>
                                        </label>
                                        </span>
                                    </div>
                                </div>                        
                            </li>
                            <li class="slds-list__item slds-p-around--small">
                                <div class="slds-form-element slds-m-left--xlarge">
                                    <div class="slds-form-element__control">
                                        <span class="slds-checkbox">
                                        <input type="checkbox" name="options" id="checkbox-501"  />
                                        <label class="slds-checkbox__label" for="checkbox-501">
                                            <span class="slds-checkbox--faux"></span>
                                            <span class="slds-form-element__label">SCRIPT_LINE</span>
                                        </label>
                                        </span>
                                    </div>
                                </div>                                
                            </li>
                        <li class="slds-list__item slds-p-around--small">
                                <div class="slds-form-element slds-m-left--xlarge">
                                    <div class="slds-form-element__control">
                                        <span class="slds-checkbox">
                                        <input type="checkbox" name="options" id="checkbox-502"  />
                                        <label class="slds-checkbox__label" for="checkbox-502">
                                            <span class="slds-checkbox--faux"></span>
                                            <span class="slds-form-element__label">SCRIPT_FUNCTION</span>
                                        </label>
                                        </span>
                                    </div>
                                </div>                        
                            </li>
                        </ul>                        
                    </div>
                </div>
                 <!-- /SCRIPT -->

                <!-- OBJECT_PATH -->
                <div class="slds-section slds-is-closed slds-border--bottom slds-p-bottom--small slds-p-left--large">
                    <div class="slds-grid slds-grid--vertical-align-center">
                        <div class="slds-form-element">
                            <div class="slds-column slds-p-bottom--none">
                                <span class="slds-checkbox">
                                <input type="checkbox" name="options" id="checkbox-600"  />
                                <label class="slds-checkbox__label" for="checkbox-600">
                                    <span class="slds-checkbox--faux"></span>
                                    <span class="slds-form-element__label">OBJECT_PATH</span>
                                </label>
                                </span>                                                
                            </div>
                        </div>                            
                    </div>
                </div>                    
                <!-- /OBJECT_PATH --> 

                <!-- SERVICE -->
                <div class="slds-section slds-is-closed slds-border--bottom slds-p-bottom--small slds-p-left--large">
                    <div class="slds-grid slds-grid--vertical-align-center">
                        <div class="slds-form-element">
                            <div class="slds-column slds-p-bottom--none">
                                <span class="slds-checkbox">
                                <input type="checkbox" name="options" id="checkbox-700"  />
                                <label class="slds-checkbox__label" for="checkbox-700">
                                    <span class="slds-checkbox--faux"></span>
                                    <span class="slds-form-element__label">SERVICE</span>
                                </label>
                                </span>                                                
                            </div>
                        </div>                            
                    </div>
                </div>                    
                <!-- /SERVICET_PATH --> 

                <!-- METHOD -->
                <div class="slds-section slds-is-closed slds-border--bottom slds-p-bottom--small slds-p-left--large">
                    <div class="slds-grid slds-grid--vertical-align-center">
                        <div class="slds-form-element">
                            <div class="slds-column slds-p-bottom--none">
                                <span class="slds-checkbox">
                                <input type="checkbox" name="options" id="checkbox-800"  />
                                <label class="slds-checkbox__label" for="checkbox-800">
                                    <span class="slds-checkbox--faux"></span>
                                    <span class="slds-form-element__label">METHOD</span>
                                </label>
                                </span>                                                
                            </div>
                        </div>                            
                    </div>
                </div>                    
                <!-- /METHOD --> 


                 <!-- RESOURCE -->
                <div class="slds-section slds-is-closed slds-border--bottom slds-p-bottom--small">
                    <div class="slds-grid slds-grid--vertical-align-center">
                        <div class="slds-column">
                            <button class="slds-button">
                                <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="slds-column slds-p-bottom--none">
                            <div class="slds-form-element">
                                <span class="slds-checkbox">
                                <input type="checkbox" name="options" id="checkbox-900"  />
                                <label class="slds-checkbox__label" for="checkbox-900">
                                    <span class="slds-checkbox--faux"></span>
                                    <span class="slds-form-element__label">RESOURCE</span>
                                </label>
                                </span> 
                            </div>                                                                           
                        </div>
                    </div>
                    
                    <div class="slds-section__content slds-p-left--medium slds-p-top--none">                        
                        <ul class="slds-list--vertical slds-is-nested">
                            <li class="slds-list__item slds-p-around--small">
                                <div class="slds-form-element slds-m-left--xlarge">
                                    <div class="slds-form-element__control">
                                        <span class="slds-checkbox">
                                        <input type="checkbox" name="options" id="checkbox-901"  />
                                        <label class="slds-checkbox__label" for="checkbox-901">
                                            <span class="slds-checkbox--faux"></span>
                                            <span class="slds-form-element__label">SQL</span>
                                        </label>
                                        </span>
                                    </div>
                                </div>
                                <ul class="slds-list--vertical slds-is-nested">                        
                                    <!-- CHILD ELEMENTS -->
                                    <li class="slds-list__item">
                                    <div class="slds-form-element  slds-p-top--small">
                                        <div class="slds-form-element__control">
                                            <span class="slds-checkbox">
                                            <input type="checkbox" name="options" id="checkbox-902" checked="" />
                                            <label class="slds-checkbox__label" for="checkbox-9 02">
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label">DML</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                    </li>                        
                                    <li class="slds-list__item">                        
                                    <div class="slds-form-element slds-p-top--small">
                                        <div class="slds-form-element__control">
                                            <span class="slds-checkbox">
                                            <input type="checkbox" name="options" id="checkbox-903"  />
                                            <label class="slds-checkbox__label" for="checkbox-903">
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label">DDL</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                    </li>                        
                                    <li class="slds-list__item">
                                    <div class="slds-form-element  slds-p-top--small">
                                        <div class="slds-form-element__control">
                                            <span class="slds-checkbox">
                                            <input type="checkbox" name="options" id="checkbox-904"  />
                                            <label class="slds-checkbox__label" for="checkbox-904">
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label">TCL</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                    </li>                        
                                    <li class="slds-list__item">
                                    <div class="slds-form-element  slds-p-top--small">
                                        <div class="slds-form-element__control">
                                            <span class="slds-checkbox">
                                            <input type="checkbox" name="options" id="checkbox-905" checked=""  />
                                            <label class="slds-checkbox__label" for="checkbox-905">
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label">STORED_PROCEDURE</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                    </li>                        
                                    <li class="slds-list__item">
                                    <div class="slds-form-element  slds-p-top--small">
                                        <div class="slds-form-element__control">
                                            <span class="slds-checkbox">
                                            <input type="checkbox" name="options" id="checkbox-906"  />
                                            <label class="slds-checkbox__label" for="checkbox-906">
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label">REST_SHOP</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                    </li>                        
                                    <li class="slds-list__item">
                                    <div class="slds-form-element  slds-p-top--small">
                                        <div class="slds-form-element__control">
                                            <span class="slds-checkbox">
                                            <input type="checkbox" name="options" id="checkbox-907"  />
                                            <label class="slds-checkbox__label" for="checkbox-907">
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label">REST_DATA</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                    </li>                        
                                    <li class="slds-list__item">
                                    <div class="slds-form-element  slds-p-top--small">
                                        <div class="slds-form-element__control">
                                            <span class="slds-checkbox">
                                            <input type="checkbox" name="options" id="checkbox-908"  />
                                            <label class="slds-checkbox__label" for="checkbox-908">
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label">REST_META</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                    </li>                        
                                    <li class="slds-list__item">
                                    <div class="slds-form-element  slds-p-top--small">
                                        <div class="slds-form-element__control">
                                            <span class="slds-checkbox">
                                            <input type="checkbox" name="options" id="checkbox-909"  />
                                            <label class="slds-checkbox__label" for="checkbox-909">
                                                <span class="slds-checkbox--faux"></span>
                                                <span class="slds-form-element__label">REST_BATCH</span>
                                            </label>
                                            </span>
                                        </div>
                                    </div>
                                    </li>                        
                                    <!-- /CHILD ELEMENTS END -->
                                    </ul>
                                    </li>
                                <ul>
                            </li>                       
                        </ul>                        
                    </div>
                </div>
                 <!-- /RESOURCE -->



                <!-- RPC -->
                <div class="slds-section slds-is-closed slds-border--bottom slds-p-bottom--small slds-p-left--large">
                    <div class="slds-grid slds-grid--vertical-align-center">
                        <div class="slds-form-element">
                            <div class="slds-column slds-p-bottom--none">
                                <span class="slds-checkbox">
                                <input type="checkbox" name="options" id="checkbox-1000"  />
                                <label class="slds-checkbox__label" for="checkbox-1000">
                                    <span class="slds-checkbox--faux"></span>
                                    <span class="slds-form-element__label">RPC</span>
                                </label>
                                </span>                                                
                            </div>
                        </div>                            
                    </div>
                </div>                    
                <!-- /RPC --> 


            <!-- Clear All Filters -->
            <!-- div class="slds-filters__footer slds-grid slds-shrink-none"><a href="javascript:void(0);">Clear All</a></div-->
            <!-- /Clear All Filters -->
        </div>
    </div>
</div>




<script>
    var checkbox = document.getElementById('checkbox-101');checkbox.indeterminate = true;
</script>

