        <!-- FOOTER -->

        <footer class="slds-grid slds-grid_vertical-align-center slds-grid_align-center slds-wrap slds-gutters slds-gutters_medium slds- slds-p-around_large" style="background: #000; color: #fff">
            <div class="slds-col slds-size_1-of-2 slds-medium-size_1-of-5 slds-large-size_2-of-12">
                <h3 class="slds-text-heading--medium slds-p-bottom_medium">Information</h3>
                <p class="slds-p-bottom_small">Privacy Notice</p>
                <p class="slds-p-bottom_small">Cookie Preferences</p>
                <p class="slds-p-bottom_large">Terms & Conditions</p>
            </div>
            <div class="slds-col slds-size_1-of-2  slds-medium-size_1-of-5 slds-large-size_2-of-12">
                <h3 class="slds-text-heading--medium slds-p-bottom_medium">Site</h3>
                <p class="slds-p-bottom_small">Categories</p>
                <p class="slds-p-bottom_small">About Us</p>
                <p class="slds-p-bottom_small">Blog</p>
                
            </div>
            <div class="slds-col slds-size_1-of-1  slds-medium-size_2-of-5 slds-large-size_4-of-12 slds-align_absolute-center slds-p-around_large"><img src="/assets/logo-group_white.svg" alt="Alpine Group Logo" class="logo small" /></div>

            
            <div class="slds-col slds-size_1-of-1  slds-medium-size_1-of-5 slds-large-size_4-of-12">
                <h3 class="slds-text-heading--medium slds-p-bottom_small">Subscribe now!</h3>
                <p class="slds-p-bottom_small">sign up for our newsletter</p>
                <form class="slds-p-bottom_small">
                    <div class="slds-form-element">
                      <div class="slds-form-element__control">
                        <input type="text" id="text-input-id-1" placeholder="Enter your email address" required="" class="slds-input" />
                      </div>
                    </div>                
                </form>
                <div class="slds-grid">
                    <ul class="slds-list_horizontal slds-has-inline-block-links_space">
                        <li class="slds-item slds-m-right_small"><img src="/assets/social-media/facebook.svg" class="social-footer-icons" /></li>
                        <li class="slds-item slds-m-right_small"><img src="/assets/social-media/instagram.svg"  class="social-footer-icons" /></li>
                        <li class="slds-item slds-m-right_small"><img src="/assets/social-media/pinterest.svg"  class="social-footer-icons" /></li>
                        <li class="slds-item"><img src="/assets/social-media/twitter.svg"  class="social-footer-icons" /></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- //FOOTER -->
