        <!-- FOOTER -->

        <footer class="slds-grid slds-grid_vertical-align-center slds-grid_align-center slds-wrap slds-gutters slds-gutters_medium slds- slds-p-around_large" style="background: #000; color: #fff">
            <div class="slds-col slds-size_1-of-2 slds-medium-size_1-of-5 slds-large-size_2-of-12">
                <h3 class="slds-text-heading--medium slds-p-bottom_medium">Information</h3>
                <p class="slds-p-bottom_small"><a href="privacy.html" class="2slds-text-heading--small font-white">Privacy Notice</a></p>
                <p class="slds-p-bottom_small"><a href="consent.html" class="2slds-text-heading--small font-white">Cookie Preferences</a></p>
                <p class="slds-p-bottom_large"><a href="terms.html" class="2slds-text-heading--small font-white">Terms & Conditions</a></p>
            </div>
            <div class="slds-col slds-size_1-of-2  slds-medium-size_1-of-5 slds-large-size_2-of-12">
                <h3 class="slds-text-heading--medium slds-p-bottom_medium">Site</h3>
                <p class="slds-p-bottom_small"><a href="plp.html" class="2slds-text-heading--small font-white">Categories</a></p>
                <p class="slds-p-bottom_small"><a href="about.html" class="2slds-text-heading--small font-white">About Us</a></p>
                <p class="slds-p-bottom_small"><a href="blog.html" class="2slds-text-heading--small font-white">Blog</a></p>

            </div>
            <div class="slds-col slds-size_1-of-1  slds-medium-size_2-of-5 slds-large-size_4-of-12 slds-align_absolute-center slds-p-around_large"><img src="/assets/logo-group_white.svg" alt="Alpine Group Logo" class="logo small" /></div>


            <div class="slds-col slds-size_1-of-1  slds-medium-size_1-of-5 slds-large-size_4-of-12">
                <h3 class="slds-text-heading--medium slds-p-bottom_small">Subscribe now!</h3>
                <p class="slds-p-bottom_small" id="subscribe-desc">sign up for our newsletter</p>
                <form class="slds-p-bottom_small">
                    <div class="slds-form-element">
                        <div class="slds-form-element__control">
                            <input type="text" id="text-input-id-newsletter" aria-labelledby="subscribe-desc" placeholder="Enter your email address" required="" class="slds-input" />
                        </div>
                    </div>
                </form>
                <div class="slds-grid">
                    <ul class="slds-list_horizontal slds-has-inline-block-links_space">
                        <li class="slds-item slds-m-right_small"><img src="/assets/social-media/facebook.svg" class="social-footer-icons" alt="Link to Facebook" /></li>
                        <li class="slds-item slds-m-right_small"><img src="/assets/social-media/instagram.svg" class="social-footer-icons" alt="Link to Instagram" /></li>
                        <li class="slds-item slds-m-right_small"><img src="/assets/social-media/pinterest.svg" class="social-footer-icons" alt="Link to Pinterest" /></li>
                        <li class="slds-item"><img src="/assets/social-media/twitter.svg" class="social-footer-icons" alt="Link to Twitter" /></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- //FOOTER -->


        <!-- COOKIE CONSENT -->
        <div id="cookieConsent">
            <div class="cookie-content">
                <h1 class="slds-text-heading--medium slds-p-bottom_medium"><strong>About Cookies On This Site</strong></h1>
                <p class="1slds-text-heading--small slds-p-bottom_medium">We use cookies and other technologies to collect data about your browser, device, and location.
                    We share this data with advertising, social media and analytics partners to help us understand how the site is used and to personalize our content and the advertising you see on this and other sites.
                    For more information see our <a>Privacy Policy</a></p>
                <div class="slds-grid slds-gutters slds-gutters_x-medium">
                    <div><button class="slds-button slds-button_brand slds-m-right_small" onclick="closeCookies()">OK</button></div>
                    <div><button class="slds-button">Cookie Settings</button></div>
                </div>

            </div>
        </div>
        <!-- //COOKIE CONSENT -->




        <!-- SEARCH MODAL -->
        <div id="searchOverlay" class="overlay">
            <a href="#" class="closebtn" onclick="closeSearch()" title="Close Overlay">
                <span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
                    <svg class="slds-icon slds-icon-text-weak slds-icon_medium" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text" id="search-desc">Search in our site</span>
                </span>
            </a>
            <div class="overlay-content">
                <form>
                    <div class="slds-form-element slds-grid slds-hide">
                        <div class="slds-col slds-form-element__control slds-input-has-icon slds-input-has-icon_right slds-text-heading--medium">
                            <svg class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                            </svg>
                            <input type="text" id="text-input-id-search" aria-labelledby="search-desc" placeholder="What are you looking for?" class="slds-input" />
                        </div>
                    </div>
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="text-input-id-1">Input Label</label>
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                            <svg class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                            </svg>
                            <input type="text" id="text-input-id-1" placeholder="Placeholder Text" class="slds-input" />
                        </div>
                    </div>
                    <div class="slds-text-align_left slds-p-top_medium slds-p-bottom_medium">
                        <h3 class="slds-text-heading--medium font-grey slds-p-bottom_medium">Popular Searches</h3>
                        <ul>
                            <li class="slds-p-bottom_small"><a href="" class="slds-text-heading--small font-white">Energy Drinks</a></li>
                            <li class="slds-p-bottom_small"><a href="" class="slds-text-heading--small font-white">Energy</a></li>
                            <li class="slds-p-bottom_small"><a href="" class="slds-text-heading--small font-white">Bars</a></li>
                        </ul>
                    </div>
                </form>

            </div>
        </div>
        <!-- //SEARCH MODAL -->