
<div class="slds-grid">
    <!-- LEFT -->
    <div class="slds-col2">
        <div class="slds-tree_container" role="application">
            <h4 class="slds-text-title_caps" id="treeheading">Asset Libraries</h4>
            <ul class="slds-tree" role="tree" aria-labelledby="treeheading">
                <li id="tree0-node0" role="treeitem" aria-level="1" class="select_collectionA slds-is-selected">
                    <div class="slds-tree__item">
                        <button class="slds-button slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                            <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                            </svg>
                            <span class="slds-assistive-text">Toggle</span>
                          </button>
                          <a href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Folder">Older Material</a>
                    </div>
                </li>
                <li role="treeitem" aria-level="1" aria-expanded="true" aria-label="Tree Branch">
                      <div class="slds-tree__item">
                        <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-hidden="true" tabindex="-1" title="Expand Tree Branch">
                          <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
                          </svg>
                          <span class="slds-assistive-text">Expand Tree Branch</span>
                        </button>
                        <span class="slds-size_1-of-1">
                          <span class="slds-tree__item-label slds-truncate" title="Tree Branch">Collections</span>
                        </span>
                      </div>
                      <ul role="group">
                        <li role="treeitem" aria-level="2" aria-selected="false" class="select_collectionB">
                          <div class="slds-tree__item">
                            <button class="slds-button slds-button_icon slds-m-right_x-small slds-is-disabled" aria-hidden="true" tabindex="-1" title="Expand Tree Item">
                              <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
                              </svg>
                              <span class="slds-assistive-text">Expand Tree Item</span>
                            </button>
                            <span class="slds-size_1-of-1">
                              <span class="slds-tree__item-label slds-truncate" title="Tree Item">Spring Collection 2018</span>
                            </span>
                          </div>
                        </li>
                        <li role="treeitem" aria-level="2" aria-selected="false" class="select_collectionD">
                          <div class="slds-tree__item">
                            <button class="slds-button slds-button_icon slds-m-right_x-small slds-is-disabled" aria-hidden="true" tabindex="-1" title="Expand Tree Item">
                              <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
                              </svg>
                              <span class="slds-assistive-text">Expand Tree Item</span>
                            </button>
                            <span class="slds-size_1-of-1">
                              <span class="slds-tree__item-label slds-truncate" title="Tree Item">Fall Collection 2018</span>
                            </span>
                          </div>
                        </li>
                      </ul>
                    </li>


                <li id="tree0-node3" role="treeitem" aria-level="1" class="select_collectionC">
                    <div class="slds-tree__item">
                        <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                          <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                          </svg>
                          <span class="slds-assistive-text">Toggle</span>
                        </button>
                        <a href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Folder">_temp media</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /LEFT -->
    <!-- CENTER -->


    <!-- COLLECTION A -->
    <div class="slds-p-left_small slds-p-right_small slds-text-align_left slds-col collectionA">
      <div class="slds-size-1-of-1 slds-col slds-text-align_center">
        <img src="/assets/empty_page.svg" />
        <p>
          <h2 class="slds-text-heading_large">Sorry, here are no images available</h2>
          <p class="slds-text-heading_small">
            Why not uploading some ...
          </p>
        </p>
      </div>
    </div>
    <!-- //COLLECTION A -->

    <!-- COLLECTION B -->
    <div class="slds-p-left_small slds-p-right_small slds-text-align_left slds-col collectionB slds-hide">
      <div class="slds-size-1-of-1 slds-col">
                <ul class="slds-grid slds-grid_pull-padded" style="display: flex; flex-wrap: wrap;">
                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_1-of-6 slds-p-around_small">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/slide1.jpg" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="slide1.jpgf">slide1.jpg</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>
                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_1-of-6 slds-p-around_small">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/slide2.jpg" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="slide2.jpgf">slide2.jpg</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>
                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_1-of-6 slds-p-around_small">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/slide3.jpg" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="slide3.jpgf">slide3.jpg</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>

                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_1-of-6 slds-p-around_small">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/left-top.jpg" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="left-top.jpgf">left-top.jpg</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>
                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_1-of-6 slds-p-around_small">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/left-bottom.jpg" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="left-bottom.jpgf">left-bottom.jpg</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>
                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_1-of-6 slds-p-around_small">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/right.jpg" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="right.jpgf">right.jpg</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>


                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_1-of-6 slds-p-around_small">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/banner1.jpg" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="banner1.jpgf">banner1.jpg</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>
                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_1-of-6 slds-p-around_small">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/slide2.jpg" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="slide2.jpgf">slide2.jpg</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>
                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_1-of-6 slds-p-around_small">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/slide3.jpg" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="slide3.jpgf">slide3.jpg</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>


                </ul>
              </div>









    </div>
    <!-- //COLLECTION B -->

    <!-- COLLECTION C -->
    <div class="slds-p-left_small slds-p-right_small slds-text-align_left slds-col collectionC slds-hide">
      <div class="slds-size-1-of-1 slds-col slds-text-align_center">
        <img src="/assets/empty_page.svg" />
        <p>
          <h2 class="slds-text-heading_large">Sorry, here are no images available</h2>
          <p class="slds-text-heading_small">
            Why not uploading some ...
          </p>
        </p>
      </div>

    </div>
    <!-- //COLLECTION C -->


    <!-- COLLECTION D -->
    <div class="slds-p-left_small slds-p-right_small slds-text-align_left slds-col collectionD slds-hide">
      <div class="slds-size-1-of-1 slds-col">
                <ul class="slds-grid slds-grid_pull-padded" style="display: flex; flex-wrap: wrap;">
                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_1-of-6 slds-p-around_small">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/banner-top.png" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="banner-top.pngf">banner-top.png</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>
                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_1-of-6 slds-p-around_small">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/second-one.jpg" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="second-one.jpgf">second-one.jpg</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>
                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_1-of-6 slds-p-around_small">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/landing_3.jpg" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="landing_3.jpgf">landing_3.jpg</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>

                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_1-of-6 slds-p-around_small">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/landing_homepage-3-large.jpg" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="landing_homepage-3-large.jpg">landing_homepage-3-large.jpg</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>
                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_1-of-6 slds-p-around_small">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/landing_homepage-4-large.jpg" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="landing_homepage-4-large.jpg">landing_homepage-4-large.jpg</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>
                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_1-of-6 slds-p-around_small">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/landing_homepage-5-large.jpg" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="landing_homepage-5-large.jpg">landing_homepage-5-large.jpg</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>


                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_1-of-6 slds-p-around_small">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/landing_large.jpg" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="landing_large.jpgf">landing_large.jpg</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>
                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-3 slds-hide">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/landing_red-shoes.jpg" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="landing_red-shoes.jpg">landing_red-shoes.jpg</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>
                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-3 slds-hide">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/landing_red.png" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="landing_red.png">landing_red.png</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>
                    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-3 slds-hide">
                        <div class="slds-file slds-file_card">
                          <figure>
                            <a href="javascript:void(0);" class="slds-file__crop slds-file__crop_1-by-1">
                              <img src="/assets/landing_shoes.jpg" alt="Description of the image" class="image-thumb">
                            </a>
                            <figcaption class="slds-file__title slds-file__title_card">
                              <div class="slds-media slds-media_small slds-media_center">
                                <div class="slds-media__figure slds-line-height_reset">
                                  <span class="slds-icon_container" title="pdf">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                    </svg>
                                    <span class="slds-assistive-text">jpg</span>
                                  </span>
                                </div>
                                <div class="slds-media__body">
                                  <span class="slds-file__text slds-truncate" title="landing_shoes.jpg">landing_shoes.jpg</span>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                    </li>


                </ul>
              </div>









    </div>

    <!-- //COLLECTION D -->



















    <!-- /CENTER -->
</div>
