    <!-- panel-preview-settings -->
<div class="2slds-hide slds-p-around_small slds-grid modal" style="background:#f7f9fb; min-height:90px;" id="modal-id-102">
        <div class="slds-grid slds-p-around_small slds-col">
            <div class="slds-col"><span class="slds-text-heading--medium">Preview Settings</span></div>
        </div>
        <div  class="slds-p-left_small slds-p-right_small slds-p-bottom_small">
            <div class="slds-form slds-form_compound">
                <div class="slds-form-element__row slds-grid">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="select-01">
                        <!--abbr class="slds-required" title="required">*</abbr-->Customer Groups:</label>
                        <div class="slds-form-element__control">
                        <div class="slds-select_container">
                            <select class="slds-select" id="select-01">
                            <option selected="selected">Everyone</option>
                            <option>Customer Group A</option>
                            <option>Customer Group B</option>
                            </select>
                        </div>
                        </div>
                    </div>

                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="select-01">
                        Display from:</label>
                        <div class="slds-form-element__control">
                        <input type="text" id="input-unique-id" class="slds-input" placeholder="--/--/----">
                        </div>
                    </div>
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="select-01">
                        Display to:</label>
                        <div class="slds-form-element__control">
                        <input type="text" id="input-unique-id" class="slds-input" placeholder="--/--/----">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div  class="slds-p-left_small slds-p-right_small slds-p-bottom_small">
            <button class="slds-button slds-button_neutral slds-m-top_large">Apply Settings</button>
        </div>
        <div class="2slds-col">
            <div class="">
                <button class="slds-button slds-button_icon slds-col_bump-left slds-button_icon slds-button_icon-small js-close-modal-id-102" title="Close Filter Panel">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close Filter Panel</span>
                </button>
            </div>
        </div>
    </div>
    <!-- /panel-preview-settings -->


{#
<footer class="slds-utility-bar_container" aria-label="Preview Settings">

  <h2 class="slds-assistive-text">Preview Settings</h2>
  <div class="slds-utility-bar slds-p-around_small"  id="preview-settings">
    <div class="slds-utility-bar__item">
            <div class="slds-form-element__row slds-grid">
                <div class="slds-form-element slds-col">
                    <label class="slds-form-element__label" for="select-01">
                    <!--abbr class="slds-required" title="required">*</abbr-->Customer Groups:</label>
                    <div class="slds-form-element__control">
                    <div class="slds-select_container">
                        <select class="slds-select" id="select-01">
                        <option selected="selected">Everyone</option>
                        <option>Customer Group A</option>
                        <option>Customer Group B</option>
                        </select>
                    </div>
                    </div>
                </div>

                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="select-01">
                    Display from:</label>
                    <div class="slds-form-element__control">
                    <input type="text" id="input-unique-id" class="slds-input" placeholder="--/--/----">
                    </div>
                </div>
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="select-01">
                    Display to:</label>
                    <div class="slds-form-element__control">
                    <input type="text" id="input-unique-id" class="slds-input" placeholder="--/--/----">
                    </div>
                </div>
            </div>
    </div>
    <div class="slds-utility-bar__item">
        <div class="slds-form-element">
            <button class="slds-button slds-button_neutral">Button</button>
        </div>
    </div>
  </div>
</footer>
#}

