<div class="slds-form-element slds-p-bottom_small">
    <label class="slds-form-element__label" for="input-unique-id">Header Text</label>
    <div class="slds-form-element__control">
        <input type="text" class="slds-input-header slds-input" placeholder="">
    </div>
</div>
<div class="demo-only" style="min-height: 180px;">
    <div class="slds-rich-text-editor slds-form-element slds-grid slds-grid_vertical slds-nowrap">
        <div role="toolbar" class="slds-rich-text-editor__toolbar slds-shrink-none">
            <div class="slds-grid" role="group" aria-label="Format font family &amp; size">
                <div class="slds-rich-text-editor__select">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label slds-assistive-text" for="font-family">Choose a Font</label>
                        <div class="slds-form-element__control">
                            <div class="slds-combobox_container">
                                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-size_x-small" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                                        <input type="text" class="slds-input slds-combobox__input" id="font-family" aria-controls="family-listbox" autocomplete="off" role="textbox" placeholder="Select an Option" readonly="" value="Font">
                                        <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                                            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Description of icon</span>
                                        </span>
                                    </div>
                                    <div id="listbox-unique-id" role="listbox">
                                        <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                                            <li role="presentation" class="slds-listbox__item">
                                                <span id="listbox-option-unique-id-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                                    <span class="slds-media__body">
                                                        <span class="slds-truncate" title="Times New Roman"> Times New Roman</span>
                                                    </span>
                                                </span>
                                            </li>
                                            <li role="presentation" class="slds-listbox__item">
                                                <span id="listbox-option-unique-id-02" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                                    <span class="slds-media__body">
                                                        <span class="slds-truncate" title="Arial"> Arial</span>
                                                    </span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-rich-text-editor__select">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label slds-assistive-text" for="font-size">Choose a Font Size</label>
                        <div class="slds-form-element__control">
                            <div class="slds-combobox_container">
                                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-size_xx-small" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                                        <input type="text" class="slds-input slds-combobox__input" id="font-size" aria-controls="size-listbox" autocomplete="off" role="textbox" placeholder="Select an Option" readonly="" value="Size" tabindex="-1">
                                        <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                                            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Description of icon</span>
                                        </span>
                                    </div>
                                    <div id="family-listbox" role="listbox">
                                        <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                                            <li role="presentation" class="slds-listbox__item">
                                                <span id="listbox-option-unique-id-03" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                                    <span class="slds-media__body">
                                                        <span class="slds-truncate" title="12px"> 12px</span>
                                                    </span>
                                                </span>
                                            </li>
                                            <li role="presentation" class="slds-listbox__item">
                                                <span id="listbox-option-unique-id-04" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                                    <span class="slds-media__body">
                                                        <span class="slds-truncate" title="14px"> 14px</span>
                                                    </span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul aria-label="Format text" class="slds-button-group-list">
                <li>
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled" tabindex="-1" title="Provide description of action">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#bold"></use>
                        </svg>
                        <span class="slds-assistive-text">Bold</span>
                    </button>
                </li>
                <li>
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled" tabindex="-1" title="Provide description of action">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#italic"></use>
                        </svg>
                        <span class="slds-assistive-text">Italic</span>
                    </button>
                </li>
                <li>
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled" tabindex="-1" title="Provide description of action">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#underline"></use>
                        </svg>
                        <span class="slds-assistive-text">Underline</span>
                    </button>
                </li>
                <li>
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled" tabindex="-1" title="Provide description of action">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#strikethrough"></use>
                        </svg>
                        <span class="slds-assistive-text">Strike Through</span>
                    </button>
                </li>
            </ul>
            <ul aria-label="Format background &amp; text color" class="slds-button-group-list">
                <li>
                    <button tabindex="-1" class="slds-button slds-button_icon slds-button_icon-more slds-button_icon-more-filled" aria-haspopup="true">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#text_background_color"></use>
                        </svg>
                        <svg class="slds-button__icon slds-button__icon_x-small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                        </svg>
                        <span class="slds-assistive-text">Background Color</span>
                    </button>
                </li>
                <li>
                    <button tabindex="-1" class="slds-button slds-button_icon slds-button_icon-more slds-button_icon-more-filled" aria-haspopup="true">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#text_color"></use>
                        </svg>
                        <svg class="slds-button__icon slds-button__icon_x-small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                        </svg>
                        <span class="slds-assistive-text">Text Color</span>
                    </button>
                </li>
            </ul>
            <ul aria-label="Format body" class="slds-button-group-list">
                <li>
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled" tabindex="-1" title="Provide description of action">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#richtextbulletedlist"></use>
                        </svg>
                        <span class="slds-assistive-text">Bulleted List</span>
                    </button>
                </li>
                <li>
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled" tabindex="-1" title="Provide description of action">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#richtextnumberedlist"></use>
                        </svg>
                        <span class="slds-assistive-text">Numbered List</span>
                    </button>
                </li>
                <li>
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled" tabindex="-1" title="Provide description of action">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#richtextindent"></use>
                        </svg>
                        <span class="slds-assistive-text">Indent</span>
                    </button>
                </li>
                <li>
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled" tabindex="-1" title="Provide description of action">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#richtextoutdent"></use>
                        </svg>
                        <span class="slds-assistive-text">Outdent</span>
                    </button>
                </li>
            </ul>
            <ul aria-label="Align text" class="slds-button-group-list">
                <li>
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled" tabindex="-1" title="Provide description of action">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#left_align_text"></use>
                        </svg>
                        <span class="slds-assistive-text">Left Align Text</span>
                    </button>
                </li>
                <li>
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled" tabindex="-1" title="Provide description of action">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#center_align_text"></use>
                        </svg>
                        <span class="slds-assistive-text">Center Align Text</span>
                    </button>
                </li>
                <li>
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled" tabindex="-1" title="Provide description of action">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#right_align_text"></use>
                        </svg>
                        <span class="slds-assistive-text">Right Align Text</span>
                    </button>
                </li>
            </ul>
            <ul aria-label="Insert content" class="slds-button-group-list">
                <li>
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled" tabindex="-1" title="Provide description of action">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#emoji"></use>
                        </svg>
                        <span class="slds-assistive-text">Add Emoji</span>
                    </button>
                </li>
                <li>
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled" tabindex="-1" title="Provide description of action">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                        </svg>
                        <span class="slds-assistive-text">Add Image</span>
                    </button>
                </li>
                <li>
                    <div class="slds-dropdown-trigger slds-dropdown-trigger_click" id="link-menu">
                        <button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="Show More"  id="rtf_button_link">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#link" />
                            </svg>
                            <span class="slds-assistive-text">Add Link</span>
                        </button>
                        <div class="slds-dropdown slds-dropdown_left">
                            <ul class="slds-dropdown__list" role="menu">
                                <li class="slds-dropdown__item" role="presentation">
                                    <a href="javascript:void(0);" role="menuitem" tabindex="0">
                                        <span class="slds-truncate" title="Menu Item One">Menu Item One</span>
                                    </a>
                                </li>
                                <li class="slds-dropdown__item" role="presentation">
                                    <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                        <span class="slds-truncate" title="Menu Item Two">Menu Item Two</span>
                                    </a>
                                </li>
                                <li class="slds-dropdown__item" role="presentation">
                                    <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                        <span class="slds-truncate" title="Menu Item Three">Menu Item Three</span>
                                    </a>
                                </li>
                                <li class="slds-has-divider_top-space" role="separator"></li>
                                <li class="slds-dropdown__item" role="presentation">
                                    <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                        <span class="slds-truncate" title="Menu Item Four">Menu Item Four</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </li>
            </ul>
            <ul aria-label="Remove Formatting" class="slds-button-group-list">
                <li>
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled" tabindex="-1" title="Provide description of action">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#remove_formatting"></use>
                        </svg>
                        <span class="slds-assistive-text">Remove Formatting</span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="slds-rich-text-editor__textarea slds-grid">
            <div aria-label="Compose text" contenteditable="true" class="slds-rich-text-area__content slds-text-color_weak slds-grow"></div>
        </div>
    </div>
</div>


<div class="slds-hide rtf-link" style="height: 640px;">
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Add Link</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <div class="slds-grid">
                    <div>
                        <div class="demo-only" style="width: 320px;">
                            <nav class="slds-nav-vertical" aria-label="Sub page">
                                <div class="slds-nav-vertical__section">
                                    <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Reports</h2>
                                    <ul>
                                        <li class="slds-nav-vertical__item slds-is-active"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header" aria-current="page">Recent</a></li>
                                        <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Web Link</a></li>
                                        <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Products/Catalogs</a></li>
                                        <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Pages</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral">Cancel</button>
                <button class="slds-button slds-button_brand">Save</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</div>
