<section id="popover-customer-groups" class="editor slds-hide tether-box slds-popover slds-nubbin_top-left modal" role="dialog"
aria-labelledby="dialog-heading-id-preview-settings" aria-describedby="dialog-body-id-preview-settings">
    <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon trigger-close-modal" title="Close settings">
      <svg class="slds-button__icon" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
      </svg>
      <span class="slds-assistive-text">Close dialog</span>
    </button>
    <header class="slds-popover__header">
        <h2 id="dialog-heading-id-10" class="slds-text-heading_small">Show Content only visible to:</h2>
    </header>
    <div class="slds-popover__body" id="dialog-body-id-preview-settings">
        <p>
            <div class="slds-form" id="content-customer-groups">
                <div class="slds-form-element slds-p-bottom_small">
                    <legend class="slds-form-element__legend slds-form-element__label">Customer Groups:</legend>
                    <div class="slds-form-element__control">
                        <span class="slds-checkbox">
                      <input type="checkbox" class="cg" name="options[]" id="banner-checkbox_everyone" value="Everyone">
                      <label class="slds-checkbox__label" for="banner-checkbox_everyone">
                        <span class="slds-checkbox_faux"></span>
                        <span class="slds-form-element__label">Everyone</span>
                        </label>
                        </span>
                        <span class="slds-checkbox">
                      <input type="checkbox" class="cg" name="options[]" id="banner-checkbox_customergroupa" value="CustomergroupA">
                      <label class="slds-checkbox__label" for="banner-checkbox_customergroupa">
                        <span class="slds-checkbox_faux"></span>
                        <span class="slds-form-element__label">Registered Users</span>
                        </label>
                        </span>
                        <span class="slds-checkbox">
                      <input type="checkbox" class="cg" name="options[]" id="banner-checkbox_customergroupb" value="CustomergroupB">
                      <label class="slds-checkbox__label" for="banner-checkbox_customergroupb">
                        <span class="slds-checkbox_faux"></span>
                        <span class="slds-form-element__label">Unregistered Users</span>
                        </label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="slds-form slds-hide" id="content-show-date">
                <div class="slds-form-element slds-p-bottom_small">
                    <label class="slds-form-element__label" for="select-01"> Display from:</label>
                    <div class="slds-form-element__control">
                        <input type="text" class="slds-input input-rules-from display-from" placeholder="--/--/----"> </div>
                </div>
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="select-02"> Display to:</label>
                    <div class="slds-form-element__control">
                        <input type="text" class="slds-input input-rules-to display-to" placeholder="--/--/----"> </div>
                </div>

            </div>
        </p>
    </div>
    <footer class="slds-popover__footer slds-text-align_right">
        <button class="slds-button slds-button_neutral trigger-close-modal">Cancel</button>
        <button class="slds-button slds-button_brand trigger-close-modal">Apply</button>
    </footer>
</section>







<section id="popover-date" class="slds-hide tether-boxB slds-popover slds-nubbin_top-left modal" role="dialog"
aria-labelledby="dialog-heading-id-preview-settings" aria-describedby="dialog-body-id-preview-settings">
    <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon trigger-close-modal" title="Close settings">
      <svg class="slds-button__icon" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
      </svg>
      <span class="slds-assistive-text">Close dialog</span>
    </button>
    <header class="slds-popover__header">
        <h2 id="dialog-heading-id-10" class="slds-text-heading_small">Show Content only visible on:</h2>
    </header>
    <div class="slds-popover__body" id="dialog-body-id-preview-settings">
        <p>
            <div class="slds-form" id="content-customer-groups">
                <div class="slds-form-element slds-p-bottom_small">
                    <div class="slds-form-element__control">
                        <div class="slds-form-element 1slds-p-bottom_small">
                            <!--label class="slds-form-element__label" for="select-01"> Display from:</label-->
                            <div class="slds-form-element__control">
                                <input type="text" class="slds-input input-rules-from display-from" placeholder="--/--/----"> </div>
                            </div>
                    </div>
                </div>
            </div>
        </p>
    </div>
    <footer class="slds-popover__footer slds-text-align_right">
        <button class="slds-button slds-button_neutral trigger-close-modal">Cancel</button>
        <button class="slds-button slds-button_brand trigger-close-modal">Apply</button>
    </footer>
</section>




<section id="popover-more" class="slds-hide tether-boxC slds-popover slds-nubbin_top-left modal" role="dialog"
aria-labelledby="dialog-heading-id-preview-settings" aria-describedby="dialog-body-id-preview-settings">
    <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon trigger-close-modal" title="Close settings">
      <svg class="slds-button__icon" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
      </svg>
      <span class="slds-assistive-text">Close dialog</span>
    </button>
    <header class="slds-popover__header">
        <h2 id="dialog-heading-id-10" class="slds-text-heading_small">Filter Preview</h2>
    </header>
    <div class="slds-popover__body" id="dialog-body-id-preview-settings">
        <p>

           <div class="slds-form" id="content-customer-groups">
                <div class="slds-form-element slds-p-bottom_small">
                    <legend class="slds-form-element__legend slds-form-element__label">Only show content visible to Customer Groups:</legend>
                    <div class="slds-form-element__control">
                        <span class="slds-checkbox">
                      <input type="checkbox" class="cg" name="options[]" id="banner-checkbox_everyone" value="Everyone" checked>
                      <label class="slds-checkbox__label" for="banner-checkbox_everyone">
                        <span class="slds-checkbox_faux"></span>
                        <span class="slds-form-element__label">Everyone</span>
                        </label>
                        </span>
                        <span class="slds-checkbox">
                      <input type="checkbox" class="cg" name="options[]" id="banner-checkbox_customergroupa" value="CustomergroupA">
                      <label class="slds-checkbox__label" for="banner-checkbox_customergroupa">
                        <span class="slds-checkbox_faux"></span>
                        <span class="slds-form-element__label">Registered Users</span>
                        </label>
                        </span>
                        <span class="slds-checkbox">
                      <input type="checkbox" class="cg" name="options[]" id="banner-checkbox_customergroupb" value="CustomergroupB">
                      <label class="slds-checkbox__label" for="banner-checkbox_customergroupb">
                        <span class="slds-checkbox_faux"></span>
                        <span class="slds-form-element__label">Unregistered Users</span>
                        </label>
                        </span>
                    </div>
                </div>
            </div>


            <div class="slds-form" id="content-customer-groups">
                <div class="slds-form-element slds-p-bottom_small">
                    <div class="slds-form-element__control">
                        <div class="slds-form-element 1slds-p-bottom_small">
                            <label class="slds-form-element__label" for="select-01">Only show content visible on:</label>
                            <div class="slds-form-element__control">
                                <input type="text" class="slds-input input-rules-from display-filter" placeholder="--/--/----"> </div>
                            </div>
                    </div>
                </div>
            </div>
        </p>
    </div>
    <footer class="slds-popover__footer slds-text-align_right">
        <button class="slds-button slds-button_neutral trigger-close-modal">Cancel</button>
        <button class="slds-button slds-button_brand trigger-close-modal">Apply</button>
    </footer>
</section>
