{% include "_inc_locked_css.html" %}

<footer>
  <div class="container">
    <div class="footer-container row">
      <div class="footer-item col-sm-3 store">
        <!-- dwMarker="linclude" dwTemplateTitle="/default//components/content/contentAsset.isml (app_storefront_base)" dwTemplateURL="http://localhost:60606/target=/app_storefront_base/cartridge/templates/default//components/content/contentAsset.isml" -->

        <!-- dwMarker="dw-object-rinclude"
        data="{&quot;TemplateURL&quot;:&quot;http://localhost:60606/target=/app_storefront_base/cartridge/templates/default/components/content/contentAssetInc.isml&quot;,&quot;IsController&quot;:true,&quot;PipelineURL&quot;:&quot;http://localhost:60606/target=/plugin_experience/cartridge/controllers/Page.js&amp;start=Include&quot;,&quot;PageProcessingTime&quot;:6,&quot;PageCacheExpires&quot;:&quot;07/07/2018
        12:31 pm&quot;,&quot;TemplateTitle&quot;:&quot;/default/components/content/contentAssetInc.isml (app_storefront_base)&quot;,&quot;PipelineTitle&quot;:&quot;Page-Include (plugin_experience)&quot;}" -->
        <!-- dwMarker="rinclude" dwPipelineTitle="Page-Include (plugin_experience)" dwPipelineURL="http://localhost:60606/target=/plugin_experience/cartridge/controllers/Page.js&start=Include" dwIsController="true"
        dwTemplateTitle="/default/components/content/contentAssetInc.isml (app_storefront_base)" dwTemplateURL="http://localhost:60606/target=/app_storefront_base/cartridge/templates/default/components/content/contentAssetInc.isml" -->
        <div class="content-asset">
          <!-- dwMarker="content" dwContentID="ce38b143cfd5b6ae325630d833" -->
          <a href="https://ecom-2015183130.vpod.t.force.com/s/RefArch/stores?showMap=true&amp;horizontalView=true&amp;lang=default&amp;isForm=true" class="menu-footer locate-store">
            <h3>Locate Store</h3>
          </a>
          <span class="content">The Store Locator is designed to help you find the closest store near you.</span>
        </div>
        <!-- End content-asset -->

      </div>
      <div class="footer-item col-sm-3 collapsible-xs">
        <!-- dwMarker="linclude" dwTemplateTitle="/default//components/content/contentAsset.isml (app_storefront_base)" dwTemplateURL="http://localhost:60606/target=/app_storefront_base/cartridge/templates/default//components/content/contentAsset.isml" -->

        <!-- dwMarker="dw-object-rinclude"
        data="{&quot;TemplateURL&quot;:&quot;http://localhost:60606/target=/app_storefront_base/cartridge/templates/default/components/content/contentAssetInc.isml&quot;,&quot;IsController&quot;:true,&quot;PipelineURL&quot;:&quot;http://localhost:60606/target=/plugin_experience/cartridge/controllers/Page.js&amp;start=Include&quot;,&quot;PageProcessingTime&quot;:5,&quot;PageCacheExpires&quot;:&quot;07/07/2018
        12:31 pm&quot;,&quot;TemplateTitle&quot;:&quot;/default/components/content/contentAssetInc.isml (app_storefront_base)&quot;,&quot;PipelineTitle&quot;:&quot;Page-Include (plugin_experience)&quot;}" -->
        <!-- dwMarker="rinclude" dwPipelineTitle="Page-Include (plugin_experience)" dwPipelineURL="http://localhost:60606/target=/plugin_experience/cartridge/controllers/Page.js&start=Include" dwIsController="true"
        dwTemplateTitle="/default/components/content/contentAssetInc.isml (app_storefront_base)" dwTemplateURL="http://localhost:60606/target=/app_storefront_base/cartridge/templates/default/components/content/contentAssetInc.isml" -->
        <div class="content-asset">
          <!-- dwMarker="content" dwContentID="f004d4d0fae799a475645eb0d3" -->
          <h3>
            <a class="title" href="#">Account</a>
          </h3>
          <ul class="menu-footer content">
            <li>
              <a href="https://ecom-2015183130.vpod.t.force.com/s/RefArch/account?lang=default" title="Go to My Account">My Account</a>
            </li>
            <li>
              <a href="https://ecom-2015183130.vpod.t.force.com/s/RefArch/orders?lang=default" title="Go to Check Order">Check Order</a>
            </li>
            <li>
              <a href="#" title="Go to Wish List">Wish List</a>
            </li>
            <li>
              <a href="#" title="Go to Gift Registry">Gift Registry</a>
            </li>
          </ul>
          <!-- END: footer-account -->
        </div>
        <!-- End content-asset -->

      </div>
      <div class="footer-item col-sm-3 collapsible-xs">
        <!-- dwMarker="linclude" dwTemplateTitle="/default//components/content/contentAsset.isml (app_storefront_base)" dwTemplateURL="http://localhost:60606/target=/app_storefront_base/cartridge/templates/default//components/content/contentAsset.isml" -->

        <!-- dwMarker="dw-object-rinclude"
        data="{&quot;TemplateURL&quot;:&quot;http://localhost:60606/target=/app_storefront_base/cartridge/templates/default/components/content/contentAssetInc.isml&quot;,&quot;IsController&quot;:true,&quot;PipelineURL&quot;:&quot;http://localhost:60606/target=/plugin_experience/cartridge/controllers/Page.js&amp;start=Include&quot;,&quot;PageProcessingTime&quot;:5,&quot;PageCacheExpires&quot;:&quot;07/07/2018
        12:31 pm&quot;,&quot;TemplateTitle&quot;:&quot;/default/components/content/contentAssetInc.isml (app_storefront_base)&quot;,&quot;PipelineTitle&quot;:&quot;Page-Include (plugin_experience)&quot;}" -->
        <!-- dwMarker="rinclude" dwPipelineTitle="Page-Include (plugin_experience)" dwPipelineURL="http://localhost:60606/target=/plugin_experience/cartridge/controllers/Page.js&start=Include" dwIsController="true"
        dwTemplateTitle="/default/components/content/contentAssetInc.isml (app_storefront_base)" dwTemplateURL="http://localhost:60606/target=/app_storefront_base/cartridge/templates/default/components/content/contentAssetInc.isml" -->
        <div class="content-asset">
          <!-- dwMarker="content" dwContentID="cd40c912bc7d276e44d9481b6f" -->
          <h3>
            <a class="title" href="#">Customer Service</a>
          </h3>
          <ul class="menu-footer content">
            <li>
              <a href="#" title="Go to Contact Us">Contact Us</a>
            </li>
            <li>
              <a href="#" title="Go to Gift Certificates">Gift Certificates</a>
            </li>
            <li>
              <a href="#" title="Go to Help">Help</a>
            </li>
            <li>
              <a href="#" title="Go to Site Map">Site Map</a>
            </li>
          </ul>
          <!-- END: footer_support -->
        </div>
        <!-- End content-asset -->

      </div>
      <div class="footer-item col-sm-3 collapsible-xs">
        <!-- dwMarker="linclude" dwTemplateTitle="/default//components/content/contentAsset.isml (app_storefront_base)" dwTemplateURL="http://localhost:60606/target=/app_storefront_base/cartridge/templates/default//components/content/contentAsset.isml" -->

        <!-- dwMarker="dw-object-rinclude"
        data="{&quot;TemplateURL&quot;:&quot;http://localhost:60606/target=/app_storefront_base/cartridge/templates/default/components/content/contentAssetInc.isml&quot;,&quot;IsController&quot;:true,&quot;PipelineURL&quot;:&quot;http://localhost:60606/target=/plugin_experience/cartridge/controllers/Page.js&amp;start=Include&quot;,&quot;PageProcessingTime&quot;:4,&quot;PageCacheExpires&quot;:&quot;07/07/2018
        12:31 pm&quot;,&quot;TemplateTitle&quot;:&quot;/default/components/content/contentAssetInc.isml (app_storefront_base)&quot;,&quot;PipelineTitle&quot;:&quot;Page-Include (plugin_experience)&quot;}" -->
        <!-- dwMarker="rinclude" dwPipelineTitle="Page-Include (plugin_experience)" dwPipelineURL="http://localhost:60606/target=/plugin_experience/cartridge/controllers/Page.js&start=Include" dwIsController="true"
        dwTemplateTitle="/default/components/content/contentAssetInc.isml (app_storefront_base)" dwTemplateURL="http://localhost:60606/target=/app_storefront_base/cartridge/templates/default/components/content/contentAssetInc.isml" -->
        <div class="content-asset">
          <!-- dwMarker="content" dwContentID="84e51061fad1928fae4dc64e7d" -->
          <h3>
            <a class="title" href="#">About</a>
          </h3>
          <ul class="menu-footer content">
            <li>
              <a href="https://ecom-2015183130.vpod.t.force.com/s/RefArch/about%20commerce%20cloud/about-us.html?lang=default" title="Go to About Us">About Us</a>
            </li>
            <li>
              <a href="https://ecom-2015183130.vpod.t.force.com/s/RefArch/customer%20service/privacy%20%26%20security/privacy-policy.html?lang=default" title="Go to Privacy">Privacy</a>
            </li>
            <li>
              <a href="https://ecom-2015183130.vpod.t.force.com/s/RefArch/customer%20service/terms%20%26%20conditions/terms.html?lang=default" title="Go to Terms">Terms</a>
            </li>
            <li>
              <a href="https://ecom-2015183130.vpod.t.force.com/s/RefArch/about%20commerce%20cloud/join%20us/jobs-landing.html?lang=default" title="Go to Jobs">Jobs</a>
            </li>
          </ul>
          <!-- END: footer_about -->
        </div>
        <!-- End content-asset -->

      </div>
    </div>
    <hr class="hidden-xs-down">
    <div class="row">
      <div class="col-lg-4 col-sm-5 push-sm-7 push-lg-8 social">
        <!-- dwMarker="slot" dwContentID="footer-column-m" dwContext="global"-->

        <ul class="social-links">
          <li>
            <a class="fa fa-linkedin-square fa-3x" title="Go to LinkedIn" href="https://www.linkedin.com/company/demandware" target="_blank"></a>
          </li>
          <li>
            <a class="fa fa-facebook-square fa-3x" title="Go to Facebook" href="https://www.facebook.com/demandware" target="_blank"></a>
          </li>
          <li>
            <a class="fa fa-twitter-square fa-3x" title="Go to Twitter" href="https://twitter.com/demandware" target="_blank"></a>
          </li>
          <li>
            <a class="fa fa-youtube-square fa-3x" title="Go to YouTube" href="https://www.youtube.com/user/demandware" target="_blank"></a>
          </li>
        </ul>

        <button class="back-to-top" title="Back to top" aria-hidden="true">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-inverse fa-stack-2x"></i>
            <i class="fa fa-arrow-up fa-stack-1x"></i>
          </span>
        </button>
      </div>
      <div class="col-lg-8 col-sm-7 pull-sm-5 pull-lg-4 copyright-notice">
        <!-- dwMarker="linclude" dwTemplateTitle="/default//components/content/contentAsset.isml (app_storefront_base)" dwTemplateURL="http://localhost:60606/target=/app_storefront_base/cartridge/templates/default//components/content/contentAsset.isml" -->

        <!-- dwMarker="dw-object-rinclude"
        data="{&quot;TemplateURL&quot;:&quot;http://localhost:60606/target=/app_storefront_base/cartridge/templates/default/components/content/contentAssetInc.isml&quot;,&quot;IsController&quot;:true,&quot;PipelineURL&quot;:&quot;http://localhost:60606/target=/plugin_experience/cartridge/controllers/Page.js&amp;start=Include&quot;,&quot;PageProcessingTime&quot;:4,&quot;PageCacheExpires&quot;:&quot;07/07/2018
        12:31 pm&quot;,&quot;TemplateTitle&quot;:&quot;/default/components/content/contentAssetInc.isml (app_storefront_base)&quot;,&quot;PipelineTitle&quot;:&quot;Page-Include (plugin_experience)&quot;}" -->
        <!-- dwMarker="rinclude" dwPipelineTitle="Page-Include (plugin_experience)" dwPipelineURL="http://localhost:60606/target=/plugin_experience/cartridge/controllers/Page.js&start=Include" dwIsController="true"
        dwTemplateTitle="/default/components/content/contentAssetInc.isml (app_storefront_base)" dwTemplateURL="http://localhost:60606/target=/app_storefront_base/cartridge/templates/default/components/content/contentAssetInc.isml" -->
        <div class="content-asset">
          <!-- dwMarker="content" dwContentID="f5da1a972cf5fba4db11d78b08" -->
          <div class="copyright">© 2004-2018 Commerce Cloud, a Salesforce company. All Rights Reserved.</div>
          <div class="postscript">This is a demo store only. Orders made will NOT be processed.</div>
          <!-- SG.2.0.0 -->
        </div>
        <!-- End content-asset -->

      </div>
    </div>
  </div>
</footer>
