<!-- COMPOUND COMPONENT -->
<div class="slds-hide slds-p-horizontal_none slds-size_1-of-1 slds-theme_shade image menu-border placeholder placeholder-component-10" id="placeholder-component-10">
    <!-- mini menu -->
    <div class="slds-grid slds-grid_align-center">
        <div class="mini-menu 2slds-hide slds-grid slds-grid_align-center">
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-dragdrop-component" title="Move">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1101010/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                    </svg> <span class="slds-assistive-text">Move</span> </button>
            </div>
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-edit-component" title="Edit">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1101010/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                    </svg> <span class="slds-assistive-text">Edit</span> </button>
            </div>
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-delete-component" title="Delete">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1101010/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                    </svg> <span class="slds-assistive-text">Delete</span> </button>
            </div>
        </div>
    </div>
    <!-- /mini menu -->
    <div class="2slds-align_absolute-center slds-p-around_medium slds-grid slds-wrap 2placeholder slds-grid_vertical">
        <div class="slds-align_absolute-center" style="color:#fff">Image Carousel</div>
        <div class="slds-grid slds-align_absolute-center">
                <div style="width:100%; color: #fff">
                    <
                </div>
                <div class="slds-col"  style="width:80%; color: #fff">
                    <h2 class="slds-text-heading--large slds-m-bottom--x-small">Headline1</h2><p>Content</p>
                </div>
                <div style="width:100%; color: #fff">
                >
                </div>
        </div>
    </div>
    {% include "_inc_modal-delete-component.html"   %}
    {% include "_inc_modal-properties-component-2column.html"   %} </div>
<!-- /COMPOUND COMPONENT -->
