<div class="region" id="region1" style="width:100%">
  <!-- CANVAS -->
  <div class="demo-only" style="padding-top:2rem">
    <div class="dropzone" id="dropzone1">
      <div class="slds-drop-zone__label">
        <div class="slds-media slds-media_center">
          <div class="slds-media__figure">
            <span class="slds-icon_container slds-icon-utility-builder slds-current-color">
              <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#builder"></use>
              </svg>
            </span>
          </div>
          <div class="slds-media__body">
            <h2>Region 1</h2>
          </div>
        </div>
      </div>

      <div class="list-group slds-col slds-grid_vertical edit-mode" style="">
          <ul id="listEditor" class="slds-grid slds-grid_vertical slds-col"  style="min-height:40px;">
            hier der content
          </ul>
      </div>

    </div>
  </div>
  <!-- /CANVAS -->
</div>
