<div class="slds-p-horizontal_none slds-size_1-of-1 slds-theme_shade image menu-border slds-size_1-of-1 placeholder placeholder-component-4">
    <div class="edit_view"></div>
    <div class="delete_view"></div>
    <!-- TEXT COMPONENT PLACEHOLDER -->
    <!-- mini menu -->
    <div class="slds-grid slds-grid_align-center">
        <div class="mini-menu 2slds-hide slds-grid slds-grid_align-center text-component">
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-dragdrop-component" title="Move">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                    </svg> <span class="slds-assistive-text">Move</span> </button>
            </div>
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-edit-component" title="Edit">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                    </svg> <span class="slds-assistive-text">Edit</span> </button>
            </div>
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-delete-component" title="Delete">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                    </svg> <span class="slds-assistive-text">Delete</span> </button>
            </div>
        </div>
    </div>
    <!-- /mini menu -->


    <div class="slds-grid">
        <div class="slds-size_1-of-1 slds-large-size_1-of-1 slds-p-bottom_small">
            <div class="slds-grid">
                <div class="slds-p-horizontal_small slds-size_1-of-2 slds-medium-size_1-of-1 slds-large-size_1-of-2 sub-container">
                    <div class="slds-p-horizontal_small slds-size_1-of-1">
                        <ul class="sub slds-grid-vertical">
                        </ul>
                    </div>
                    <div class="slds-p-horizontal_small slds-size_1-of-1 sub-mini-menu">
                        <button class="slds-button slds-button_neutral add-sub-text-dummy">Add Text</button>
                        <button class="slds-button slds-button_neutral add-sub-image-dummy">Add Category</button>
                        <button class="slds-button slds-button_neutral add-sub-image-dummy">Add Image</button>
                        <button class="slds-button slds-button_neutral add-sub-video-dummy">Add Video</button>
                    </div>
                </div>
                <div class="slds-p-horizontal_small slds-size_1-of-2 slds-medium-size_1-of-1 slds-large-size_1-of-2 sub-container">
                    <div class="slds-p-horizontal_small slds-size_1-of-1">
                        <ul class="sub slds-grid-vertical">
                        </ul>
                    </div>
                    <div class="slds-p-horizontal_small slds-size_1-of-1 sub-mini-menu">
                        <button class="slds-button slds-button_neutral add-sub-text-dummy">Add Text</button>
                        <button class="slds-button slds-button_neutral add-sub-image-dummy">Add Category</button>
                        <button class="slds-button slds-button_neutral add-sub-image-dummy">Add Image</button>
                        <button class="slds-button slds-button_neutral add-sub-video-dummy">Add Video</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    {#
    <div class="slds-align_absolute-center slds-align_absolute-center slds-p-around_medium slds-grid slds-wrap">
        <div class="slds-size_1-of-2 slds-align_absolute-center region container-left sub-container">
            <div class="">
            </div>
            <div class="">
                <button class="slds-button slds-button_neutral add-sub-text-dummy">Add Text</button>
                <button class="slds-button slds-button_neutral add-sub-image-dummy">Add Image</button>
            </div>
        </div>
        <div class="slds-size_1-of-2 slds-align_absolute-center region container-right sub-container">
            <ul class="sub slds-grid-vertical">
            </ul>
            <div class="sub-menu slds-p-horizontal_small slds-size_1-of-2 slds-medium-size_3-of-6 slds-large-size_6-of-12">
                <button class="slds-button slds-button_neutral add-sub-text-dummy">Add Text</button>
                <button class="slds-button slds-button_neutral add-sub-image-dummy">Add Image</button>
            </div>
        </div>
    </div>
    #}
    <!-- /TEXT COMPONENT PLACEHOLDER -->
</div>






