<hr class="fav_line" />
<!-- FAVORITES -->
<div class="fav_heading">
	<div class="fav_header"><span class="overview_title">Favorites</span></div>
	<div class="fav_action">
    <svg viewBox="0 0 448 512">
        <use xlink:href="#icon-edit"></use>
    </svg>
  </div>
</div>







													<div class="fav_container">
														<div class="fav_list_container">
															<ul class="fav_list">
																<a href="">
																	<li class="fav_item">
																		<div class="content">
																			<div class="fav_icon">
																					<img src="/assets/product_ico.gif" border="0" />
																			</div>
																			<div class="fav_title" title="Products">
																					Products
																			</div>
																			<div class="fav_description" title="Manage the products of the organization. Manage the products of the organization. Manage the products of the organization. Manage the products of the organization. Manage the products of the organization.">
																				 Manage the products of the organization.
																			</div>

																		</div>
																	</li>
																</a>
																<a href="">
																	<li class="fav_item">
																		<div class="content">
																			<div class="fav_icon">
																					<img src="/assets/product_ico.gif" border="0" />
																			</div>
																			<div class="fav_title" title="Customer Service Center Preferences">
																					Customer Service Center Preferences
																			</div>
																			<div class="fav_description" title="Manage the products of the organization. Manage the products of the organization. Manage the products of the organization. Manage the products of the organization. Manage the products of the organization.">
																				 Manage the Customer Service Center preferences for this site.
																			</div>

																		</div>
																	</li>
																</a>


															</ul>
														</div>
													</div>


<!-- /FAVORITES -->
<hr class="fav_line" />


<div class="fav_heading">
	<div class="fav_header"><span class="overview_title">News</span></div>
</div>
