<div id="cat-pick" class="slds-hide editor">
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-list-builder" aria-labelledby="id-of-modalheader-h2" aria-describedby="modal-content-id-1">
      <div class="slds-modal__container">
        <header class="slds-modal__header">
          <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse hrhr-1 show_component trigger-close-modal" title="Close">
            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2 id="id-of-modalheader-h2" class="slds-text-heading_medium">Categories</h2>
        </header>
        <div class="slds-modal__content">
          <div class="slds-p-vertical_x-small slds-p-horizontal_medium slds-shrink-none slds-theme_shade slds-border_bottom" id="select-search">
            <div class="slds-form-element">
              <label class="slds-form-element__label slds-assistive-text" for="combobox-unique-id">Search</label>
              <div class="slds-form-element__control">
                <div class="slds-combobox_container">
                  <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                      <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id2" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Search by name or ID">
                      <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                        <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                        </svg>
                        <span class="slds-assistive-text">Description of icon</span>
                      </span>
                    </div>
                    <div id="listbox-unique-id" role="listbox">
                      <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                        <li role="presentation" class="slds-listbox__item">
                          <span id="listbox-option-unique-id-01" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                            <span class="slds-media__figure">
                              <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                                </svg>
                                <span class="slds-assistive-text">Description of icon</span>
                          </span>
                          </span>
                          <span class="slds-media__body">
                              <span class="slds-listbox__option-text slds-listbox__option-text_entity">Acme</span>
                          <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Account • San Francisco</span>
                          </span>
                          </span>
                        </li>
                        <li role="presentation" class="slds-listbox__item">
                          <span id="listbox-option-unique-id-02" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                            <span class="slds-media__figure">
                              <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                                </svg>
                                <span class="slds-assistive-text">Description of icon</span>
                          </span>
                          </span>
                          <span class="slds-media__body">
                              <span class="slds-listbox__option-text slds-listbox__option-text_entity">Salesforce.com, Inc.</span>
                          <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Account • San Francisco</span>
                          </span>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slds-grid">
            <div class="slds-col">
              <div class="slds-tabs_default" id="picker-tabs">
                <div id="tab-default-2" class="slds-tabs_default__content slds-p-top_none slds-show" role="tabpanel" aria-labelledby="tab-default-2__item">
                  <ul>
                    <li>
                      <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom product-tile_beta">
                        <div class="slds-media__body">
                          <button class="slds-button is-opened slds-button_icon slds-button_icon slds-button_icon-x-small slds-m-right_x-small2 trigger-nested" aria-hidden="true" tabindex="-1" title=" " id="trigger-nested">
                            <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                            </svg><span class="slds-assistive-text">Expand Acme Corporation</span></button><span>Womens</span>
                        </div>
                        <div class="slds-media__figure slds-media__figure_reverse">
                          <div class="slds-checkbox_add-button">
                            <input type="checkbox" class="checker slds-assistive-text" id="womens" value="on">
                            <label for="womens" class="slds-checkbox_faux hrhr">
                              <span class="slds-assistive-text">Add Category</span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <ul>
                        <li>
                          <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom product-tile_beta slds-is-child" aria-level="2">
                            <div class="slds-media__body">
                              <p class="slds-text-heading_xsmall2">
                                <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-x-small slds-m-right_x-small2 trigger-nested is-opened" aria-hidden="true" tabindex="-1" title=" " id="trigger-nested-2">
                                  <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                  </svg><span class="slds-assistive-text">Expand Shoes</span></button>
                                  <span class="slds-text-body_small slds-color__text_gray-8 cat-path slds-hide">Site Catalog 1<br></span>Clothing</p>
                            </div>
                            <div class="slds-media__figure slds-media__figure_reverse">
                              <div class="slds-checkbox_add-button">
                                <input type="checkbox" class="checker slds-assistive-text is-child" id="clothing" value="on">
                                <label for="clothing" class="slds-checkbox_faux">
                                  <span class="slds-assistive-text">Add Category</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom product-tile_beta slds-is-child" aria-level="3">
                            <div class="slds-media__body">
                              <p class="slds-text-heading_xsmall2">
                                <span class="slds-text-body_small slds-color__text_gray-8 cat-path slds-hide">Site Catalog 1 &gt; Shoes<br></span>Outfits
                              </p>
                            </div>
                            <div class="slds-media__figure slds-media__figure_reverse">
                              <div class="slds-checkbox_add-button">
                                <input type="checkbox" class="checker slds-assistive-text is-child" id="outfits" value="on">
                                <label for="outfits" class="slds-checkbox_faux">
                                  <span class="slds-assistive-text">Add Category</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom product-tile_beta slds-is-child" aria-level="3">
                            <div class="slds-media__body">
                              <p class="slds-text-heading_xsmall2">
                                <span class="slds-text-body_small slds-color__text_gray-8 cat-path slds-hide">Site Catalog 1 &gt; Shoes<br></span>Tops
                              </p>
                            </div>
                            <div class="slds-media__figure slds-media__figure_reverse">
                              <div class="slds-checkbox_add-button">
                                <input type="checkbox" class="checker slds-assistive-text is-child" id="tops" value="on">
                                <label for="tops" class="slds-checkbox_faux">
                                  <span class="slds-assistive-text">Add Category</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom product-tile_beta slds-is-child" aria-level="3">
                            <div class="slds-media__body">
                              <p class="slds-text-heading_xsmall2">
                                <span class="slds-text-body_small slds-color__text_gray-8 cat-path slds-hide">Site Catalog 1 &gt; Shoes<br></span>Dresses
                              </p>
                            </div>
                            <div class="slds-media__figure slds-media__figure_reverse">
                              <div class="slds-checkbox_add-button">
                                <input type="checkbox" class="checker slds-assistive-text is-child" id="dresses" value="on">
                                <label for="dresses" class="slds-checkbox_faux">
                                  <span class="slds-assistive-text">Add Category</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom product-tile_beta slds-is-child" aria-level="3">
                            <div class="slds-media__body">
                              <p class="slds-text-heading_xsmall2">
                                <span class="slds-text-body_small slds-color__text_gray-8 cat-path slds-hide">Site Catalog 1 &gt; Shoes<br></span>Bottoms
                              </p>
                            </div>
                            <div class="slds-media__figure slds-media__figure_reverse">
                              <div class="slds-checkbox_add-button">
                                <input type="checkbox" class="checker slds-assistive-text is-child" id="bottoms" value="on">
                                <label for="bottoms" class="slds-checkbox_faux">
                                  <span class="slds-assistive-text">Add Category</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom product-tile_beta slds-is-child" aria-level="3">
                            <div class="slds-media__body">
                              <p class="slds-text-heading_xsmall2">
                                <span class="slds-text-body_small slds-color__text_gray-8 cat-path slds-hide">Site Catalog 1 &gt; Shoes<br></span>Jackets & Coats
                              </p>
                            </div>
                            <div class="slds-media__figure slds-media__figure_reverse">
                              <div class="slds-checkbox_add-button">
                                <input type="checkbox" class="checker slds-assistive-text is-child" id="jackets_coats" value="on">
                                <label for="jackets_coats" class="slds-checkbox_faux">
                                  <span class="slds-assistive-text">Add Category</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom product-tile_beta slds-is-child" aria-level="3">
                            <div class="slds-media__body">
                              <p class="slds-text-heading_xsmall2">
                                <span class="slds-text-body_small slds-color__text_gray-8 cat-path slds-hide">Site Catalog 1 &gt; Shoes<br></span>Feeling Red
                              </p>
                            </div>
                            <div class="slds-media__figure slds-media__figure_reverse">
                              <div class="slds-checkbox_add-button">
                                <input type="checkbox" class="checker slds-assistive-text is-child" id="feeling_red" value="on">
                                <label for="feeling_red" class="slds-checkbox_faux">
                                  <span class="slds-assistive-text">Add Category</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </li>

                        <li>
                          <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom product-tile_beta slds-is-child" aria-level="2">
                            <div class="slds-media__body">
                              <p class="slds-text-heading_xsmall2">
                                <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-x-small slds-m-right_x-small2 trigger-nested is-opened" aria-hidden="true" tabindex="-1" title=" " id="trigger-nested-3">
                                  <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                  </svg><span class="slds-assistive-text">Expand Acme Corporation</span></button>
                                <span class="slds-text-body_small slds-color__text_gray-8 cat-path slds-hide">Site Catalog 1<br></span>Jewelry</p>
                            </div>
                            <div class="slds-media__figure slds-media__figure_reverse">
                              <div class="slds-checkbox_add-button">
                                <input type="checkbox" class="checker slds-assistive-text is-child" id="jewelry" value="on">
                                <label for="jewelry" class="slds-checkbox_faux">
                                  <span class="slds-assistive-text">Add Category</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom product-tile_beta slds-is-child" aria-level="3">
                            <div class="slds-media__body">
                              <p class="slds-text-heading_xsmall2"><span class="slds-text-body_small slds-color__text_gray-8 cat-path slds-hide">Site Catalog 1 &gt; Electronics<br></span>Earrings</p>
                            </div>
                            <div class="slds-media__figure slds-media__figure_reverse">
                              <div class="slds-checkbox_add-button">
                                <input type="checkbox" class="checker slds-assistive-text is-child" id="earrings" value="on">
                                <label for="earrings" class="slds-checkbox_faux">
                                  <span class="slds-assistive-text">Add Category</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom product-tile_beta slds-is-child" aria-level="3">
                            <div class="slds-media__body">
                              <p class="slds-text-heading_xsmall2"><span class="slds-text-body_small slds-color__text_gray-8 cat-path slds-hide">Site Catalog 1 &gt; Electronics<br></span>Bracelets</p>
                            </div>
                            <div class="slds-media__figure slds-media__figure_reverse">
                              <div class="slds-checkbox_add-button">
                                <input type="checkbox" class="checker slds-assistive-text is-child" id="bracelets" value="on">
                                <label for="bracelets" class="slds-checkbox_faux">
                                  <span class="slds-assistive-text">Add Category</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom product-tile_beta slds-is-child" aria-level="3">
                        <div class="slds-media__body">
                          <p class="slds-text-heading_xsmall2"><span class="slds-text-body_small slds-color__text_gray-8 cat-path slds-hide">Site Catalog 1 &gt; Electronics<br></span>Necklaces</p>
                        </div>
                        <div class="slds-media__figure slds-media__figure_reverse">
                          <div class="slds-checkbox_add-button">
                            <input type="checkbox" class="checker slds-assistive-text is-child" id="necklaces" value="on">
                            <label for="necklaces" class="slds-checkbox_faux">
                              <span class="slds-assistive-text">Add Category</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="slds-modal__footer">
          <button class="slds-button slds-button_neutral hrhr-1 trigger-close-modal">Cancel</button>
          <button class="slds-button slds-button_brand hrhr-1" disabled="" id="assign-success">Select</button>
        </footer>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open "></div>
  </div>
