<div class="slds-p-horizontal_none slds-size_1-of-1 slds-theme_shade  menu-border placeholder slds-size_1-of-1 placeholder-component-product">
    <!-- PRODUCT COMPONENT PLACEHOLDER -->
    <!-- mini menu -->
    <div class="slds-grid slds-grid_align-center">
        <div class="mini-menu 2slds-hide slds-grid slds-grid_align-center target-component">
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-dragdrop-component" title="Move">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                    </svg> <span class="slds-assistive-text">Move</span> </button>
            </div>
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-edit-component" title="Edit">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                    </svg> <span class="slds-assistive-text">Edit</span> </button>
            </div>
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-delete-component" title="Delete">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                    </svg> <span class="slds-assistive-text">Delete</span> </button>
            </div>
        </div>
    </div>
    <!-- /mini menu -->

    <div class="slds-p-around_medium slds-grid slds-wrap">
        <div class="linked-product slds-hide"></div>
        <div class="slds-size_1-of-1 image-holder focal-holder" style="background-repeat: none;">
          <div class="content slds-grid slds-col">
              <div class="slds-grid slds-grid_vertical slds-align_absolute-center">
                <div class="slds-grid slds-grid_vertical">
                  <div class="slds-text-heading_medium banner-header-product title"></div>
                  <div class="slds-align_center slds-m-top_small">
                    <button class="slds-button slds-button_neutral slds-align_absolute-center">Shop Now</button>

                  </div>
                </div>
              </div>
          </div>
          <span class="slds-file__icon slds-icon_container no-image" title="image">
            <svg class="slds-icon slds-file__loading-icon slds-icon_large" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image" />
            </svg>
        </span>
        </div>
    </div>
    <!-- /PRODUCT COMPONENT PLACEHOLDER -->
</div>
