<div class="slds-hide modal-id-2">
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-slide-up-open" aria-labelledby="header43" aria-describedby="modal-content-id-1">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button--icon slds-modal__close slds-button--icon-inverse js-close-modal-id-2" title="Close">
                    <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="header43" class="slds-text-heading--medium">New Page</h2>
            </header>

            <div class="slds-modal__content slds-p-around--medium slds-p-bottom--large" id="modal-content-id-2">
                <!-- FORM 1 -->
                    <div class="slds-form slds-form_compound">
                        <fieldset class="slds-form-element">
                            <div class="slds-form-element__group">
                                <div class="slds-form-element__row">
                                    <div class="slds-form-element slds-size_1-of-2">
                                        <label class="slds-form-element__label" for="input-013"><abbr class="slds-required" title="required">*</abbr>Page Name</label>
                                        <div class="slds-form-element__icon">
                                            <button aria-describedby="help" class="slds-button slds-button_icon">
                                                <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                                                </svg>
                                                <span class="slds-assistive-text">Help</span>
                                            </button>
                                        </div>
                                        <input type="text" id="input-pagename" class="slds-input" placeholder="Given Page Name"
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Given Page Name'"
                                        >
                                    </div>
                                    <div class="slds-form-element slds-size_1-of-2">
                                        <label class="slds-form-element__label" for="input-013"><abbr class="slds-required" title="required">*</abbr>ID (URL Suffix)</label>
                                        <div class="slds-form-element__icon">
                                            <button aria-describedby="help" class="slds-button slds-button_icon">
                                                <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                                                </svg>
                                                <span class="slds-assistive-text">Help</span>
                                            </button>
                                        </div>
                                        {#
                                        <input type="text" id="input-pageid" class="slds-input" placeholder="Page ID"
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Page ID'"
                                        >
                                        #}
                                        <div class="slds-form-element__control slds-col">
                                              <span class="slds-form-element__static slds-border_bottom" style="width:100%" id="input-pageid">Read Only</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                <!-- /FORM 1 -->



                <!-- FORM 2 -->
                <div class="slds-form slds-form_stacked slds-scrollable_y" id="form_step-1">
                    <label>Select a Page Type</label>
                    <fieldset class="slds-form-element slds-p-top_small">
                        <!-- legend class="slds-form-element__legend slds-form-element__label">Select a Page Type</legend -->
                        <div class="slds-form-element__control">

                          <div class="slds-visual-picker slds-visual-picker_large slds-m-right--large">
                              <input type="radio" id="visual-picker-302" name="options" checked>
                              <label for="visual-picker-302">
                                  <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                                      <span class="">
                                          <img src="/assets/layout_2.svg" alt="layout text" width="120">
                                      </span>
                                  </span>
                                  <span class="slds-visual-picker__body">
                                      <span class="slds-text-heading_small">Fixed Layout</span>
                                      <span class="slds-text-title">Full-width page layout with fixed rows and columns.</span>
                                  </span>
                                  <span class="slds-icon_container slds-visual-picker__text-check">
                                  <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                  </svg>
                                  </span>
                              </label>
                          </div>



                            <div class="slds-visual-picker slds-visual-picker_large 2slds-m-right--small">
                                <input type="radio" id="visual-picker-301" name="options" value="static">
                                <label for="visual-picker-301">
                                    <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                                        <span class="">
                                            <img src="/assets/layout_0.svg" alt="layout text" width="120">
                                        </span>
                                    </span>
                                    <span class="slds-visual-picker__body">
                                        <span class="slds-text-heading_small">Basic Layout</span>
                                        <span class="slds-text-title">Full-width single region template.</span>
                                    </span>
                                    <span class="slds-icon_container slds-visual-picker__text-check">
                                    <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                    </span>
                                </label>
                            </div>


                            <div class="slds-visual-picker slds-visual-picker_medium slds-hide">
                                <input type="radio" id="visual-picker-303" name="options" value="flexible">
                                <label for="visual-picker-303">
                                    <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                                        <span class="">
                                            <img src="/assets/layout_3.svg" alt="layout text" width="120">
                                        </span>
                                    </span>
                                    <span class="slds-visual-picker__body">
                                        <span class="slds-text-heading_small">Product Details Page</span>
                                        <span class="slds-text-title">Full-width header with a subheader above a right sidebar and main column.</span>
                                    </span>
                                    <span class="slds-icon_container slds-visual-picker__text-check">
                                    <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </fieldset>

                </div>
                <!-- /FORM 2 -->
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral js-close-modal-id-2">Cancel</button>
                <button class="slds-button slds-button--brand js-save-modal-new-page">Save &amp; Create</button>
            </footer>








        </div>
    </section>
    <div class="slds-backdrop slds-backdrop--open"></div>
</div>
