<!-- MODAL GANTT DETAIL -->
<div class="slds-hide modal-id-1">
  <section role="dialog" tabindex="-1" class="slds-modal slds-modal_large slds-fade-in-open " aria-labelledby="header44" aria-describedby="modal-content-id-1">
    <div class="slds-modal__container">
      <header class="slds-modal__header">
        <button class="slds-button slds-button--icon slds-modal__close slds-button--icon-inverse js-close-modal-id-1" title="Close" id="button-page-cancel">
                    <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
        <h2 id="header43" class="slds-text-heading--medium">Campaign Name: Details</h2>
      </header>
      <div class="slds-modal__content slds-p-around--medium slds-text-align_center" id="modal-content-id-1">



<style>
  .slds-gutters .slds-col .slds-col{
    margin: 1px;
    border-radius: 4px;
    padding: 4px;
  }
  div.month{
    background: #f3f2f2;
  }
  div.campaign{
    background: #ff9a3c;
  }
  div.campaign .not-started{
    background: red;
  }
</style>


        <div class="slds-grid slds-wrap slds-gutters">


                    <div class="slds-col slds-size_1-of-12">
                      <div class="slds-col month">January</div>
                    </div>
                    <div class="slds-col slds-size_1-of-12">
                      <div class="slds-col month">February</div>
                    </div>
                    <div class="slds-col slds-size_1-of-12">
                      <div class="slds-col month">March</div>
                    </div>
                    <div class="slds-col slds-size_1-of-12">
                      <div class="slds-col month">April</div>
                    </div>
                    <div class="slds-col slds-size_1-of-12">
                      <div class="slds-col month">May</div>
                    </div>
                    <div class="slds-col slds-size_1-of-12">
                      <div class="slds-col month">June</div>
                    </div>
                    <div class="slds-col slds-size_1-of-12">
                      <div class="slds-col month">July</div>
                    </div>
                    <div class="slds-col slds-size_1-of-12">
                      <div class="slds-col month">August</div>
                    </div>
                    <div class="slds-col slds-size_1-of-12">
                      <div class="slds-col month">September</div>
                    </div>
                    <div class="slds-col slds-size_1-of-12">
                      <div class="slds-col month">October</div>
                    </div>
                    <div class="slds-col slds-size_1-of-12">
                      <div class="slds-col month">November</div>
                    </div>
                    <div class="slds-col slds-size_1-of-12">
                      <div class="slds-col month">December</div>
                    </div>




          <div class="slds-col slds-size_1-of-12">
            <div class="slds-col campaign">Campaign 1</div>
          </div>
          <div class="slds-col slds-size_1-of-12">
            <div class="slds-col campaign">Campaign 1</div>
          </div>
          <div class="slds-col slds-size_1-of-12">
            <div class="slds-col campaign">Campaign 1</div>
          </div>
          <div class="slds-col slds-size_1-of-12">
            <div class="slds-col campaign">Campaign 1</div>
          </div>
          <div class="slds-col slds-size_1-of-12">
            <div class="slds-col campaign">Campaign 1</div>
          </div>
          <div class="slds-col slds-size_1-of-12">
            <div class="slds-col campaign">Campaign 1</div>
          </div>
          <div class="slds-col slds-size_1-of-12">
            <div class="slds-col campaign">Campaign 1</div>
          </div>
          <div class="slds-col slds-size_1-of-12">
            <div class="slds-col campaign">Campaign 1</div>
          </div>
          <div class="slds-col slds-size_1-of-12">
            <div class="slds-col campaign">Campaign 1</div>
          </div>
          <div class="slds-col slds-size_1-of-12">
            <div class="slds-col campaign">Campaign 1</div>
          </div>
          <div class="slds-col slds-size_1-of-12">
            <div class="slds-col campaign">Campaign 1</div>
          </div>
          <div class="slds-col slds-size_1-of-12">
            <div class="slds-col campaign">Campaign 1</div>
          </div>




          <div class="slds-col slds-size_2-of-12">
            <div class="slds-col campaign">Campaign 2</div>
          </div>
          <div class="slds-col slds-size_2-of-12">
            <div class="slds-col campaign">Campaign 2</div>
          </div>
          <div class="slds-col slds-size_2-of-12">
            <div class="slds-col campaign">Campaign 2</div>
          </div>
          <div class="slds-col slds-size_2-of-12">
            <div class="slds-col campaign">Campaign 2</div>
          </div>
          <div class="slds-col slds-size_2-of-12">
            <div class="slds-col campaign">Campaign 2</div>
          </div>
          <div class="slds-col slds-size_2-of-12">
            <div class="slds-col campaign">Campaign 2</div>
          </div>


          <div class="slds-col slds-size_3-of-12">
            <div class="slds-col campaign">Campaign 3</div>
          </div>
          <div class="slds-col slds-size_3-of-12">
            <div class="slds-col campaign">Campaign 3</div>
          </div>
          <div class="slds-col slds-size_3-of-12">
            <div class="slds-col campaign">Campaign 3</div>
          </div>
          <div class="slds-col slds-size_3-of-12">
            <div class="slds-col campaign">Campaign 3</div>
          </div>


          <div class="slds-col slds-size_4-of-12">
            <div class="slds-col campaign">Campaign 4</div>
          </div>
          <div class="slds-col slds-size_4-of-12">
            <div class="slds-col campaign">Campaign 4</div>
          </div>
          <div class="slds-col slds-size_4-of-12">
            <div class="slds-col campaign">Campaign 4</div>
          </div>


          <div class="slds-col slds-size_5-of-12">
            <div class="slds-col campaign">Campaign 5</div>
          </div>
          <div class="slds-col slds-size_5-of-12">
            <div class="slds-col campaign">Campaign 5</div>
          </div>
          <div class="slds-col slds-size_2-of-12">
            <div class="slds-col campaign">Campaign 5</div>
          </div>


          <div class="slds-col slds-size_6-of-12">
            <div class="slds-col campaign">Campaign 6</div>
          </div>
          <div class="slds-col slds-size_6-of-12">
            <div class="slds-col campaign">Campaign 6</div>
          </div>


          <div class="slds-col slds-size_7-of-12">
            <div class="slds-col campaign">Campaign 7</div>
          </div>
          <div class="slds-col slds-size_5-of-12">
            <div class="slds-col campaign">Campaign 7</div>
          </div>


          <div class="slds-col slds-size_8-of-12">
            <div class="slds-col campaign">Campaign 8</div>
          </div>
          <div class="slds-col slds-size_4-of-12">
            <div class="slds-col campaign">Campaign 8</div>
          </div>


          <div class="slds-col slds-size_9-of-12">
            <div class="slds-col campaign">Campaign 9</div>
          </div>
          <div class="slds-col slds-size_3-of-12">
            <div class="slds-col campaign">Campaign 9</div>
          </div>


          <div class="slds-col slds-size_10-of-12">
            <div class="slds-col campaign">Campaign 10</div>
          </div>
          <div class="slds-col slds-size_2-of-12">
            <div class="slds-col campaign">Campaign 10</div>
          </div>


          <div class="slds-col slds-size_11-of-12">
            <div class="slds-col campaign">Campaign 11</div>
          </div>
          <div class="slds-col slds-size_1-of-12">
            <div class="slds-col campaign">Campaign 11</div>
          </div>


          <div class="slds-col slds-size_5-of-12">
            <div class="slds-col campaign">Start: 12.12.2018 23:00 PM</div>
          </div>
          <div class="slds-col slds-size_2-of-12">
            <hr />
          </div>
          <div class="slds-col slds-size_5-of-12">
            <div class="slds-col campaign">End: 12.12.2018 23:00 PM</div>
          </div>


          <div class="slds-col slds-size_5-of-12">
            <div class="slds-box slds-text-align--left">
              <p><h2 class="slds-text-heading_medium">Start Date:</h2></p>
              <p><h3 class="slds-text-heading_small">12.12.2018 23:00 PM</h3></p>
            </div>
          </div>
          <div class="slds-col slds-size_2-of-12">
            <hr />
          </div>
          <div class="slds-col slds-size_5-of-12 slds-text-align--left">
            <div class="slds-box">
              <p><h2 class="slds-text-heading_medium">End Date:</h2></p>
              <p><h3 class="slds-text-heading_small">12.12.2018 23:00 PM</h3></p>
            </div>
          </div>




          <div class="slds-col slds-size_12-of-12">
            <div class="slds-col campaign">Continuous</div>
          </div>

          <div class="slds-col slds-size_12-of-12">
            <div class="slds-col campaign not-started">Continuous Not Started</div>
          </div>



        </div>






      </div>
      <footer class="slds-modal__footer">
        <button class="slds-button slds-button--neutral js-close-modal-id-1" id="button-page-cancel">Close</button>
      </footer>
    </div>
  </section>
  <div class="slds-backdrop slds-backdrop--open"></div>
</div>
<!-- /MODAL GANTT DETAIL -->
