<div id="tab-default-1" class="slds-tabs_default__content" role="tabpanel" aria-labelledby="tab-default-1__item">
    <div class="slds-text-heading_medium slds-p-bottom--medium">Implementation Notes</div>
    <p>Searches for catalogs.</p>
    <p>The query attribute specifies a complex query that can be used to narrow down the search. These are the list of searchable attributes:</p>
    <p>id - String name - String description - String creation_date - DateTime</p>
    <p>There are two additional fields that can be used as search filters. They are not attributes in CatalogWO object, but can be used as filters to query catalogs based on site assignments.</p>
    <p>is_master_catalog - Boolean is_storefront_catalog - Boolean</p>
    <p>On using is_master_catalog in the search query, catalogs without any site assignments are returned. On using is_storefront_catalog in the search query, catalogs with one or more site assignments are returned.</p>
    <p>The output of the query can also be sorted. These are the list of sortable attributes:</p>
    <p>id - String name - String description - String creation_date - DateTime</p>
</div>
