<div class="slds-hide" id="dummy_container">


    <!-- TEXT -->
    <ul class="my_text_dummy">
        <li class="">
            {% include "_inc_placeholder_component-4.html" ignore missing %}
        </li>
    </ul>
    <ul class="my_text_navigator">
        <li>
            <div class="2slds-border_top 2slds-border_left slds-border_bottom 2slds-border_right slds-grid">
                <div class="slds-p-around_xx-small slds-p-left_small ">
                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#justify_text"></use>
                    </svg>
                    <span class="slds-assistive-text">Drag & Drop</span>
                </div>
                <div class="slds-p-around_xx-small slds-truncate">
                    <a id="tree0-node1__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Component Name">Rich Text</a>
                </div>
                <div class="slds-hide slds-p-around_xx-small">
                    <button class="slds-button slds-button_icon slds-button_icon slds-m-left_x-small" aria-controls="tree0-node1" title="Toggle">
                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clock"></use>
                        </svg>
                        <span class="slds-assistive-text">Rules</span>
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <!-- IMAGE -->
    <ul class="my_image_dummy">
        <li class="">
            {% include "_inc_placeholder_component-5.html" ignore missing %}
        </li>
    </ul>
    <ul class="my_image_navigator">
        <li>
            <div class="2slds-border_top 2slds-border_left slds-border_bottom 2slds-border_right slds-grid">
                <div class="slds-p-around_xx-small slds-p-left_small ">
                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#justify_text"></use>
                    </svg>
                    <span class="slds-assistive-text">Drag & Drop</span>
                </div>
                <div class="slds-p-around_xx-small slds-truncate">
                    <a id="tree0-node1__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Component Name">Image</a>
                </div>
                <div class="slds-p-around_xx-small">
                    <button class="slds-hide slds-button slds-button_icon slds-button_icon slds-m-left_x-small" aria-controls="tree0-node1" title="Toggle">
                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clock"></use>
                        </svg>
                        <span class="slds-assistive-text">Rules</span>
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <!-- TARGETED_BANNER -->
    <ul class="my_targeted_banner_dummy">
        <li class="">
            {% include "_inc_placeholder_component-34.html" ignore missing %}
        </li>
    </ul>
    <ul class="my_targeted_banner_navigator">
        <li>
            <div class="2slds-border_top 2slds-border_left slds-border_bottom 2slds-border_right slds-grid">
                <div class="slds-p-around_xx-small slds-p-left_small ">
                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#justify_text"></use>
                    </svg>
                    <span class="slds-assistive-text">Drag & Drop</span>
                </div>
                <div class="slds-p-around_xx-small slds-truncate">
                    <a id="tree0-node1__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Component Name">Targeted Banner</a>
                </div>
                <div class="slds-p-around_xx-small">
                    <button class="slds-hide slds-button slds-button_icon slds-button_icon slds-m-left_x-small" aria-controls="tree0-node1" title="Toggle">
                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clock"></use>
                        </svg>
                        <span class="slds-assistive-text">Rules</span>
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <!-- VIDEO -->
    <ul class="my_video_dummy">
        <li class="">
            {% include "_inc_placeholder_component-33.html" ignore missing %}
        </li>
    </ul>
    <ul class="my_video_navigator">
        <li>
            <div class="2slds-border_top 2slds-border_left slds-border_bottom 2slds-border_right slds-grid">
                <div class="slds-p-around_xx-small slds-p-left_small ">
                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#justify_text"></use>
                    </svg>
                    <span class="slds-assistive-text">Drag & Drop</span>
                </div>
                <div class="slds-p-around_xx-small slds-truncate">
                    <a id="tree0-node1__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Component Name">Video</a>
                </div>
                <div class="slds-p-around_xx-small">
                    <button class="slds-hide slds-button slds-button_icon slds-button_icon slds-m-left_x-small" aria-controls="tree0-node1" title="Toggle">
                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clock"></use>
                        </svg>
                        <span class="slds-assistive-text">Rules</span>
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <!-- USP -->
    <ul class="my_usp_dummy">
        <li class="">
            {% include "_inc_placeholder_component-32.html" ignore missing %}
        </li>
    </ul>
    <ul class="my_usp_navigator">
        <li>
            <div class="2slds-border_top 2slds-border_left slds-border_bottom 2slds-border_right slds-grid">
                <div class="slds-p-around_xx-small slds-p-left_small ">
                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#justify_text"></use>
                    </svg>
                    <span class="slds-assistive-text">Drag & Drop</span>
                </div>
                <div class="slds-p-around_xx-small slds-truncate">
                    <a id="tree0-node1__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Component Name">USP</a>
                </div>
                <div class="slds-hide slds-p-around_xx-small">
                    <button class="slds-button slds-button_icon slds-button_icon slds-m-left_x-small" aria-controls="tree0-node1" title="Toggle">
                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clock"></use>
                        </svg>
                        <span class="slds-assistive-text">Rules</span>
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <!-- SLIDER -->
    <ul class="my_slider_dummy">
        <li class="">
            {% include "_inc_placeholder_component-31.html" ignore missing %}
        </li>
    </ul>
    <ul class="my_slider_navigator">
        <li>
            <div class="2slds-border_top 2slds-border_left slds-border_bottom 2slds-border_right slds-grid">
                <div class="slds-p-around_xx-small slds-p-left_small ">
                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#justify_text"></use>
                    </svg>
                    <span class="slds-assistive-text">Drag & Drop</span>
                </div>
                <div class="slds-p-around_xx-small slds-truncate">
                    <a id="tree0-node1__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Component Name">Slider</a>
                </div>
                <div class="slds-hide slds-p-around_xx-small">
                    <button class="slds-button slds-button_icon slds-button_icon slds-m-left_x-small" aria-controls="tree0-node1" title="Toggle">
                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clock"></use>
                        </svg>
                        <span class="slds-assistive-text">Rules</span>
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <!-- 2 COLUMNS -->
    <ul class="my_2col_dummy">
        <li class="">
            {% include "_inc_placeholder_component-30.html" ignore missing %}
        </li>
    </ul>
    <ul class="my_2col_navigator">
        <li>
            <div class="2slds-border_top 2slds-border_left slds-border_bottom 2slds-border_right slds-grid">
                <div class="slds-p-around_xx-small slds-p-left_small ">
                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#justify_text"></use>
                    </svg>
                    <span class="slds-assistive-text">Drag & Drop</span>
                </div>
                <div class="slds-p-around_xx-small slds-truncate">
                    <a id="tree0-node1__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Component Name">Layout 2 Columns</a>
                </div>
                <div class="slds-p-around_xx-small">
                    <button class="slds-hide slds-button slds-button_icon slds-button_icon slds-m-left_x-small" aria-controls="tree0-node1" title="Toggle">
                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clock"></use>
                        </svg>
                        <span class="slds-assistive-text">Rules</span>
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <!-- PRODUCT -->
    <ul class="my_product_dummy">
        <li class="">
            {% include "_inc_placeholder_component-35.html" ignore missing %}
        </li>
    </ul>
    <ul class="my_product_navigator">
        <li>
            <div class="2slds-border_top 2slds-border_left slds-border_bottom 2slds-border_right slds-grid">
                <div class="slds-p-around_xx-small slds-p-left_small ">
                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#justify_text"></use>
                    </svg>
                    <span class="slds-assistive-text">Drag & Drop</span>
                </div>
                <div class="slds-p-around_xx-small slds-truncate">
                    <a id="tree0-node1__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Component Name">Product</a>
                </div>
                <div class="slds-p-around_xx-small">
                    <button class="slds-hide slds-button slds-button_icon slds-button_icon slds-m-left_x-small" aria-controls="tree0-node1" title="Toggle">
                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clock"></use>
                        </svg>
                        <span class="slds-assistive-text">Rules</span>
                    </button>
                </div>
            </div>
        </li>
    </ul>



</div>



{# {% include "_inc_modal-delete-component.html" ignore missing %} #}
