<div class="slds-page-header slds-page-header--object-home">
    <div>
        <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-media_center slds-grow">
                    <div class="slds-media__figure">
                      <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
                        <svg class="slds-icon" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#campaign" />
                        </svg>
                      </span>
                    </div>
                    <div class="slds-media__body">
                        <div>
                            <nav role="navigation" aria-label="Breadcrumbs">
                                <ol class="slds-breadcrumb slds-line-height_reset">
                                    <li class="slds-breadcrumb__item"><span>Operations</span></li>
                                </ol>
                            </nav>
                            <h1 class="slds-page-header__title slds-m-right--small slds-truncate slds-align-middle" title="Jobs & Schedules">Jobs & Schedules</h1></div>
                    </div>
                </div>
            </div>
            <!-- MENU INCL DROPDOWN -->
            <div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom--xx-small">
              <div class="slds-button-group2" role="group">
                <button class="slds-button slds-button_neutral" id="js-open-modal-id-2">New</button>
                <div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-button_last slds-is-closed" id="ab-test--list-actions">
                  <button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="Show More" id="ab-test--list-actions-trigger">
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down" />
                    </svg>
                    <span class="slds-assistive-text">Show More</span>
                  </button>
                  <div class="slds-dropdown slds-dropdown_right slds-hide">
                    <ul class="slds-dropdown__list" role="menu">
                      <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                          <span class="slds-truncate" title="Enable">Enable</span>
                        </a>
                      </li>
                      <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                          <span class="slds-truncate" title="Disable">Disable</span>
                        </a>
                      </li>
                      <li class="slds-has-divider_top-space" role="separator"></li>
                      <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                          <span class="slds-truncate" title="Disable">Run</span>
                        </a>
                      </li>
                      <li class="slds-has-divider_top-space" role="separator"></li>
                      <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                          <span class="slds-truncate" title="Disable">Normal Priority</span>
                        </a>
                      </li>
                      <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                          <span class="slds-truncate" title="Disable">High Priority</span>
                        </a>
                      </li>
                      <li class="slds-has-divider_top-space" role="separator"></li>
                      <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                          <span class="slds-truncate" title="Delete">Delete</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /MENU INCL DROPDOWN -->
        </div>
        <div class="slds-grid">
            <div class="slds-col slds-align-bottom">
                <p class="slds-page-header__info">2 results • <span id="sorted_txt">sorted by ID (asc)</span></p>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-bottom">
                <div class="slds-form-element__control">
                    <div class="slds-input-has-icon slds-input-has-icon--right">
                        <svg aria-hidden="true" class="slds-input__icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                        </svg>
                        <input id="lookup-330" class="slds-lookup__search-input slds-input" type="search" placeholder="Search Jobs & Schedules" aria-owns="lookup-330" role="combobox" aria-activedescendent="" aria-expanded="false" aria-autocomplete="list">
                    </div>
                </div>
                <div>
                    <button class="slds-button slds-button--icon-border slds-m-left--xx-small delete-trigger slds-button--last js-open-modal-id-1 button-sidebar">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
                        </svg><span class="slds-assistive-text">Delete</span></button>

                </div>
            </div>
        </div>
    </div>
</div>
