<!-- COMPOUND COMPONENT -->
<div class="slds-hide slds-p-horizontal_none slds-size_1-of-1 slds-theme_shade image menu-border placeholder placeholder-component-11" id="placeholder-component-11">
    <!-- mini menu -->
    <div class="slds-grid slds-grid_align-center">
        <div class="mini-menu 2slds-hide slds-grid slds-grid_align-center">
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-dragdrop-component" title="Move">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                    </svg> <span class="slds-assistive-text">Move</span> </button>
            </div>
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-edit-component" title="Edit">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                    </svg> <span class="slds-assistive-text">Edit</span> </button>
            </div>
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-delete-component" title="Delete">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                    </svg> <span class="slds-assistive-text">Delete</span> </button>
            </div>
        </div>
    </div>
    <!-- /mini menu -->
    <div class="2slds-align_absolute-center slds-p-around_medium slds-grid slds-wrap 2placeholder slds-grid_vertical">
        <div class="slds-align_absolute-center" style="color:#fff">Column Content Block</div>
    </div>
    <div class="slds-grid slds-grid_2pull-padded-medium">
        <div class="slds-col 2slds-p-horizontal_medium region" id="sub-left">
            <!-- LINKS -->{#{% include "_inc_modal-properties-component-2column-sub.html" ignore missing %}#}
            <div class="slds-hide slds-p-horizontal_none slds-size_1-of-1 slds-theme_shade image menu-border textbox-placeholder placeholder" id="left-placeholder">
                <!-- mini menu -->
                <div class="slds-grid slds-grid_align-center">
                    <div class="mini-menu 2slds-hide slds-grid slds-grid_align-center">
                        <div>
                            <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-dragdrop-component" title="Move">
                                <svg class="slds-button__icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                                </svg> <span class="slds-assistive-text">Move</span> </button>
                        </div>
                        <div>
                            <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-edit-component" title="Edit">
                                <svg class="slds-button__icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                                </svg> <span class="slds-assistive-text">Edit</span> </button>
                        </div>
                        <div>
                            <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-delete-component" title="Delete">
                                <svg class="slds-button__icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                                </svg> <span class="slds-assistive-text">Delete</span> </button>
                        </div>
                    </div>
                </div>
                <!-- /mini menu -->
                <div class="slds-align_absolute-center slds-align_absolute-center slds-p-around_medium slds-grid slds-wrap placeholder" id="left-placeholder-component">
                    <div class="slds-size_1-of-1 slds-align_absolute-center">
                        <svg class="slds-button__icon slds-button__icon--large  slds-icon_large" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#text_color"></use>
                        </svg>
                    </div>
                    <div>Rich Text Box</div>
                </div>
                <div class="slds-hide contentholder" id="left-placeholder-content">Demo Content here</div>
            </div>
            <div class="slds-dropdown-trigger slds-p-around_small  slds-dropdown-trigger--click slds-m-left--xx-small slds-align_absolute-center" aria-expanded="false">
                <!--BUTTON-->
                {% include "_inc_menu-components.html" ignore missing %}
                <!--/BUTTON-->
            </div>
        </div>
        <div class="slds-col 2slds-p-horizontal_medium region" id="sub-right">
            <!-- RECHTS -->{#{% include "_inc_modal-properties-component-2column-sub.html" ignore missing %}#}
            <div class="slds-hide slds-p-horizontal_none slds-size_1-of-1 slds-theme_shade image menu-border textbox-placeholder placeholder" id="right-placeholder">
                <!-- mini menu -->
                <div class="slds-grid slds-grid_align-center">
                    <div class="mini-menu 2slds-hide slds-grid slds-grid_align-center">
                        <div>
                            <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-dragdrop-component" title="Move">
                                <svg class="slds-button__icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                                </svg> <span class="slds-assistive-text">Move</span> </button>
                        </div>
                        <div>
                            <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-edit-component" title="Edit">
                                <svg class="slds-button__icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                                </svg> <span class="slds-assistive-text">Edit</span> </button>
                        </div>
                        <div>
                            <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-delete-component" title="Delete">
                                <svg class="slds-button__icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                                </svg> <span class="slds-assistive-text">Delete</span> </button>
                        </div>
                    </div>
                </div>
                <!-- /mini menu -->
                <div class="slds-align_absolute-center slds-align_absolute-center slds-p-around_medium slds-grid slds-wrap placeholder" id="right-placeholder-component">
                    <div class="slds-size_1-of-1 slds-align_absolute-center">
                        <svg class="slds-button__icon slds-button__icon--large  slds-icon_large" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#text_color"></use>
                        </svg>
                    </div>
                    <div>Rich Text Box</div>
                </div>
                <div class="slds-hide contentholder" id="right-placeholder-content">Demo Content here</div>
            </div>
            <div class="slds-dropdown-trigger slds-p-around_small  slds-dropdown-trigger--click slds-m-left--xx-small slds-align_absolute-center" aria-expanded="false">
                <!--BUTTON-->
                {% include "_inc_menu-components.html" ignore missing %}
                <!--/BUTTON-->
            </div>
        </div>
        {% include "_inc_button_component.html" ignore missing %}

    </div>
    {% include "_inc_modal-delete-component.html" ignore missing %}
    {% include "_inc_modal-properties-component-2column.html" ignore missing %} </div>
<!-- /COMPOUND COMPONENT -->
