<hr class="fav_line" />
<!-- FAVORITES EMPTY -->
<div class="fav_heading">
	<div class="fav_header"><span class="overview_title">Favorites</span></div>
	<div class="fav_action">
    <svg viewBox="0 0 448 512">
        <use xlink:href="#icon-edit"></use>
    </svg>
  </div>
</div>
<div class="fav_container">
	<div class="fav_empty">
		<h3>Speed up your day!</h3>
		<p><a href="index-full.html">Add your favorite Business Manager</a> modules to your homepage.</p>
	</div>
</div>
<!-- /FAVORITES EMPTY -->
