<!-- EDITOR -->
<div class="modal-editor-product editor slds-hide product-component-editor">
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-describedby="modal-content-id-product" class="slds-modal slds-fade-in-open slds-modal_medium">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse trigger-close-modal" title="Close">
                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Category</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium modal-content-id-product  slds-grow">
              <!--  MEDIA SELECTION CONTENT-->
              <div class="editor">
                  <div class="slds-tabs_default">
                      <ul class="slds-tabs_default__nav" role="tablist">
                          <li class="slds-tabs_default__item tab_general" title="Item One" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-product1" id="tab-default-product1__item">Content</a></li>
                          <li class="slds-tabs_default__item tab_rules" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-product2" id="tab-default-product2__item">Rules</a></li>
                          <li class="slds-hide slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-product3" id="tab-default-product3__item">Localization</a></li>
                      </ul>

                      <div id="tab-default-product1" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-product1__item">
                          <!-- CONTENT -->
                          <ul>
                            <legend>Category Link</legend>
                            <li class="slds-p-bottom_small">
                              <div class="slds-form-element">
                                <label class="slds-form-element__label" for="text-input-id-1">Selected Category</label>
                                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                                  <input type="text" id="" class="slds-input product-link" placeholder="" />
                                  <!--button class="slds-input__icon slds-input__icon_right slds-button slds-button_icon add-product"-->
                                  <button class="slds-input__icon slds-input__icon_right slds-button slds-button_icon add-product">
                                    <svg class="slds-button__icon slds-icon-text-light" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/action-sprite/svg/symbols.svg#add_relationship" />
                                    </svg>
                                    <span class="slds-assistive-text">Clear</span>
                                  </button>
                                </div>
                              </div>
                            </li>
                            <legend class="slds-form-element__label slds-form-element__legend slds-text-title_caps">Text Blocks</legend>
                            <li class="slds-p-bottom_small">
                              <div class="slds-form-element">
                                <label class="slds-form-element__label" for="text-input-id-1">Banner Text Header</label>
                                <div class="slds-form-element__control">
                                  <input type="text" class="slds-input text-banner-header-product" placeholder="" />
                                </div>
                              </div>
                            </li>
                            <li class="slds-p-bottom_small">
                              <div class="slds-form-element">
                                <legend class="slds-form-element__label slds-form-element__legend slds-text-title_caps">Image</legend>
                                <label class="slds-form-element__label" for="text-input-id-1">Media</label>
                                <div style="width: 20rem;">
                                  <div class="slds-file slds-file_card">
                                    <figure class="">
                                      <div class="slds-file__crop set-focal-point">
                                          <div class="circle slds-hide">
                                            <div class="circle-in" class="circle"></div>
                                          </div>
                                          <img src="/assets/placeholder.png" alt="" class="image-figure-thumb" style="font-size: 39px;" />
                                      </div>
                                      <figcaption class="slds-file__title slds-file__title_card">
                                              <div class="slds-media slds-media_small slds-media_center slds-grid slds-col">
                                                  <div class="slds-media__body slds-col">
                                                    <span class="slds-file__text slds-truncate file-name" title="No Image assigned">No Image assigned</span>
                                                  </div>
                                                  <div class="slds-media__figure slds-p-left--large">
                                                      <div class="slds-text-align_center">
                                                          <button class="slds-button icon-add slds-button_icon 2slds-button_icon-border-filled slds-button_icon-x-small add-image" title="Add Image">
                                                              <svg class="slds-button__icon" aria-hidden="true">
                                                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                                                              </svg>
                                                              <span class="slds-assistive-text">Add Image</span>
                                                          </button>

                                                          <button class="slds-hide icon-edit slds-button slds-button_icon slds-button_icon slds-button_icon-x-small select-image" title="Select Image">
                                                              <svg class="slds-button__icon" aria-hidden="true">
                                                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                                                              </svg>
                                                              <span class="slds-assistive-text">Edit Image</span>
                                                          </button>
                                                          <button class="slds-hide icon-clear slds-button slds-button_icon slds-button_icon slds-button_icon-x-small remove-image" title="Remove Image">
                                                              <svg class="slds-button__icon" aria-hidden="true">
                                                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                                                              </svg>
                                                              <span class="slds-assistive-text">Clear Image</span>
                                                          </button>
                                                      </div>
                                                  </div>
                                              </div>
                                          </figcaption>
                                    </figure>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="slds-p-bottom_small">
                              <div class="slds-form-element">
                                <label class="slds-form-element__label" for="text-input-id-1">Media Alt Text</label>
                                <div class="slds-form-element__control">
                                  <input type="text" id="text-input-id-1" class="slds-input" placeholder="" />
                                </div>
                              </div>
                            </li>
                          </ul>
                          <!-- /CONTENT -->
                      </div>
                      <div id="tab-default-product2" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-product2__item">
                          <!-- RULES -->
                          {# include "_inc_rules.html"   #}
                          <div class="slds-p-bottom_small">
                              <div class="slds-form slds-form_compound">
                                  <div class="slds-form-element__row slds-grid">
                                    <div class="slds-form-element">
                                        <legend class="slds-form-element__legend slds-form-element__label">Customer Groups:</legend>
                                        <div class="slds-form-element__control">
                                          <span class="slds-checkbox">
                                            <input type="checkbox" class="cg" name="options[]" id="product-checkbox_everyone" value="Everyone">
                                            <label class="slds-checkbox__label" for="product-checkbox_everyone">
                                              <span class="slds-checkbox_faux"></span>
                                              <span class="slds-form-element__label">Everyone</span>
                                            </label>
                                          </span>
                                          <span class="slds-checkbox">
                                            <input type="checkbox" class="cg" name="options[]" id="product-checkbox_customergroupa" value="CustomergroupA">
                                            <label class="slds-checkbox__label" for="product-checkbox_customergroupa">
                                              <span class="slds-checkbox_faux"></span>
                                              <span class="slds-form-element__label">Customer Group A</span>
                                            </label>
                                          </span>
                                          <span class="slds-checkbox">
                                            <input type="checkbox" class="cg" name="options[]" id="product-checkbox_customergroupb" value="CustomergroupB">
                                            <label class="slds-checkbox__label" for="product-checkbox_customergroupb">
                                              <span class="slds-checkbox_faux"></span>
                                              <span class="slds-form-element__label">Customer Group B</span>
                                            </label>
                                          </span>
                                        </div>
                                    </div>

                                      <div class="slds-form-element">
                                          <label class="slds-form-element__label" for="select-01"> Display from:</label>
                                          <div class="slds-form-element__control">
                                              <input type="text" class="slds-input input-rules-from display-from" placeholder="--/--/----"> </div>
                                      </div>
                                      <div class="slds-form-element">
                                          <label class="slds-form-element__label" for="select-02"> Display to:</label>
                                          <div class="slds-form-element__control">
                                              <input type="text" class="slds-input input-rules-to display-to" placeholder="--/--/----"> </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <!-- /RULES -->
                      </div>
                  </div>
              </div>
              <!--  /MEDIA SELECTION CONTENT-->
            </div>
            <footer class="slds-modal__footer slds-grid">
                <div class="slds-hide">
                    <button class="slds-button slds-button--neutral trigger-delete-component">Delete Component</button>
                </div>
                <div class="slds-col">
                    <button class="slds-button slds-button_neutral trigger-close-modal">Cancel</button>
                    <button class="slds-button slds-button_brand trigger-save-modal">Save</button>
                </div>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</div>
<!-- /EDITOR -->



{#
<!-- PRODUCT PICKER EDITOR -->
<div class="modal-editor-36 editor slds-hide productpicker-component-editor">
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-describedby="modal-content-id-36" class="slds-modal slds-modal_large slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse trigger-close-modal" title="Close">
                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Product Tile</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium modal-content-id-36">
                <!--  EDITOR CONTENT-->


                <div class="editor">
                    <div class="slds-tabs_default">
                        <ul class="slds-tabs_default__nav" role="tablist">
                            <li class="slds-tabs_default__item 2slds-is-active" title="Item One" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-361" id="tab-default-361__item">Content</a></li>
                            <li class="slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-362" id="tab-default-362__item">Rules</a></li>
                        </ul>

                        <div id="tab-default-361" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-361__item">
                            <!-- CONTENT -->
                            {% include "_inc_productselected.html"   %}
                            <!-- /CONTENT -->
                        </div>
                        <div id="tab-default-362" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-362__item">
                            <!-- RULES -->
                            {% include "_inc_rules.html"   %}
                            <!-- /RULES -->
                        </div>
                    </div>
                </div>


                <!--  /EDITOR CONTENT-->
            </div>
            <footer class="slds-modal__footer slds-grid">
                <div>
                    <button class="slds-button slds-button--neutral trigger-delete-component">Delete Component</button>
                </div>
                <div class="slds-col">
                    <button class="slds-button slds-button_neutral trigger-close-modal">Cancel</button>
                    <button class="slds-button slds-button_brand trigger-close-modal">Save</button>
                </div>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</div>
<!-- /EDITOR -->
<!-- /PRODUCT PICKER EDITOR -->
#}
