<div class="list-group-item slds-col slds-size_1-of-1" data-type="category" style="">
    <div class="ghost-dummy">
      <!-- here should be the dummy display while mouse moving around -->
    </div>
    <div class="slds-grid slds-grid_vertical-align-center add-mediaselector-dummy add-component tool">
        <div class="slds-p-right_small my-handle">
          <span class="slds-icon_container 2slds-icon-custom-custom5 slds-m-left_small" title="Category">
              <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-light" aria-hidden="true">
                <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#product"></use>
              </svg>
              <span class="slds-assistive-text">Category</span>
          </span>
        </div>
        <div class="">
            <span class="slds-truncate component_name" title="Category">Category</span>
        </div>
    </div>


    <div class="slds-drop-zone component placeholder">
        <div class="slds-drop-zone__container" tabindex="-1">
            <div class="slds-drop-zone__label slds-drop-zone__label_container">
                <div class="slds-media slds-media_center">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-utility-connected_apps slds-current-color button-trigger-action--edit-component-category">
                            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#connected_apps"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <h2>
                            <button class="slds-drop-zone__label_button slds-button_reset button-trigger-action--edit-component-category">
                                <span class="slds-assistive-text">Edit: </span>
                                <span>Category</span>
                            </button>
                        </h2>
                    </div>
                </div>
            </div>
            <!-- COMPONENT -->
            <div class="slds-p-around_small placeholder">
                <h1 class="slds-heading_medium slds-p-top_small">Category</h1>
                <p>
                    <span class="slds-icon_container null slds-icon__svg--default">
                          <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                              <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#product"></use>
                          </svg>
                    </span>
                </p>
            </div>
            <div class="slds-p-around_small placed_content slds-hide image-holder focal-holder">
                <div class="content">
                    <div class="slds-text-heading_medium title banner-header"></div>
                    <div class="slds-text-heading_small sub banner-sub"></div>
                </div>
                <img src="" class="slds-hide image-holder" style="width:100%;">
            </div>

            <!-- /COMPONENT -->
            <div class="slds-drop-zone__actions">
                <div class="slds-button-group" role="group">
                    <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small" title="Move">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                        </svg>
                        <span class="slds-assistive-text">Move</span>
                    </button>
                    <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small button-trigger-action--delete-component" title="Remove Component">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                        </svg>
                        <span class="slds-assistive-text">Remove Component</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-grid structure">
        <!-- Navigator Catalog -->
        <div class="slds-tree__item nav slds-p-left_large slds-grid slds-col">
          <div class="">
            <span class="slds-icon_container slds-m-left_small" title="Sort Component">
                <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-light" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#rows"></use>
                </svg>
                <span class="slds-assistive-text">Sort Component</span>
            </span>
          </div>

          <div class="my-handle">
            <span class="slds-icon_container slds-m-left_small" title="Banner">
                <svg class="slds-icon slds-icon slds-icon_small slds-icon-text-light" aria-hidden="true">
                  <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#product"></use>
                </svg>
                <span class="slds-assistive-text">Category</span>
            </span>
          </div>

          <div class="slds-col hoverme">
            <span class="slds-truncate slds-p-left_small component_name" title="Banner">Category</span>
          </div>

          <div class="slds-hide">
            <span class="slds-icon_container slds-m-left_small button-trigger-action--edit-component-" title="Edit Properties">
                <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-light" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                </svg>
                <span class="slds-assistive-text">Category</span>
            </span>
          </div>

          <div class="slds-m-right_small">
            <span class="slds-icon_container slds-m-left_small trash" title="Delete Component">
                <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-light" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                </svg>
                <span class="slds-assistive-text">Category</span>
            </span>
          </div>
        </div>
        <!-- /Navigator Catalog -->
    </div>
</div>
