$(document).ready(function() {
//- start



//DUMMY PAGE FUNCTIONALITY
var closest_region = undefined;
var activeComponent = undefined;
var activePickerbase = undefined;

var cloneCountA = 0;
var cloneCountB = 0;

var longtext = undefined;
var selected_image = undefined;
var selected_video = undefined;
var selected_text = undefined;
var selected_header = undefined;
var selected_sub_header = undefined;

var selected_product_name = undefined;
var selected_product_brand = undefined;
var selected_product_price = undefined;
var selected_product_id = undefined;
var selected_product_image = undefined;

var seomax_a = 160;
var seomax_b = 70;


var $win = $(window); // or $box parent container
var $box = $('#component-selecta');
var $boxb = $('#language-selecta');
var $boxc = $('#device-selecta');
var $boxd = $('.sub-left').closest('.slds-dropdown-trigger');
var $boxe = $('.sub-right .slds-dropdown-trigger');

var show_recommendation = false;

//var $box = $('.slds-dropdown-trigger');
var copytext = undefined;


//counter for components
var regionlimit = 0;
$('#regionlimit').text(regionlimit);


//TOP TOOLBAR
 $('#language-selecta').click(function(){
     $('#language-selecta').next('.slds-dropdown-trigger--click').toggleClass('slds-is-open');
     /*
     $('*').click(function(){
        $('#language-selecta').next('.slds-dropdown-trigger--click').toggleClass('slds-is-open');
     });
     */
 });






//HIDE ALL MENUS
$(function() {
    $win.on('click.Bst', function(event) {
        //MAIN COMPONENT SELECT
        if (
            $box.has(event.target).length == 0 //checks if descendants of $box was clicked
            &&
            !$box.is(event.target) //checks if the $box itself was clicked
            &&
            $($box).hasClass('slds-is-open')
        ) {
            $($box).toggleClass('slds-is-open')
        }
        //LOCALIZATION SELECT
        if (
            $boxb.has(event.target).length == 0 //checks if descendants of $box was clicked
            &&
            !$boxb.is(event.target) //checks if the $box itself was clicked
            &&
            $($boxb).hasClass('slds-is-open')
        ) {
            $($boxb).toggleClass('slds-is-open')
        }
        //DEVICE SELECT
        if (
            $boxc.has(event.target).length == 0 //checks if descendants of $box was clicked
            &&
            !$boxc.is(event.target) //checks if the $box itself was clicked
            &&
            $($boxc).hasClass('slds-is-open')
        ) {
            $($boxc).toggleClass('slds-is-open')
        }
        //SUB LEFT SELECT
        if (
            $boxd.has(event.target).length == 0 //checks if descendants of $box was clicked
            &&
            !$boxd.is(event.target) //checks if the $box itself was clicked
            &&
            $($boxd).hasClass('slds-is-open')
        ) {
            $($boxd).toggleClass('slds-is-open')
        }
        //SUB RIGHT SELECT
        if (
            $boxe.has(event.target).length == 0 //checks if descendants of $box was clicked
            &&
            !$boxe.is(event.target) //checks if the $box itself was clicked
            &&
            $($boxe).hasClass('slds-is-open')
        ) {
            $($boxe).toggleClass('slds-is-open')
        }


    });

    return false;
});



//COUNT SEO CHARS

$('#spn-id-seo_description').html(seomax_a + '  Remaining');
$('#textarea-id-seo_description').keyup(function() {
    var lenght1 = $('#textarea-id-seo_description').val().length;
    var remaining = seomax_a - lenght1;
    $('#spn-id-seo_description').html(remaining + '  Remaining');
    if (remaining < 0) {
        $('#spn-id-seo_description').css('opacity', '0.4').css('color', 'red');
    } else {
        $('#spn-id-seo_description').css('opacity', '1').css('color', 'black');
    }
    if (remaining < 10) {
        $('#spn-id-seo_description').addClass('slds-destructive');
    } else {
        $('#spn-id-seo_description').removeClass('slds-destructive');
    }

});
$('#spn-id-seo_title').html(seomax_b + '  Remaining');
$('#input-seo_title').keyup(function() {
    var lenght2 = $('#input-seo_title').val().length;
    var remaining_b = seomax_b - lenght2;
    $('#spn-id-seo_title').html(remaining_b + '  Remaining');
    if (remaining_b < 0) {
        $('#spn-id-seo_title').css('opacity', '0.4').css('color', 'red');
    } else {
        $('#spn-id-seo_title').css('opacity', '1').css('color', 'black');
    }
    if (remaining_b < 10) {
        $('#spn-id-seo_title').css('color', 'red');
    } else {
        $('#spn-id-seo_title').css('color', 'black');
    }

});


//CREATE PAGE TOAST
$('button.close-toast-2').click(function() {
    $('#created-toast').toggleClass('slds-hide');
});

//BACK TO LIST
$('#back-to-list').click(function() {
    location.href = 'page-list.html';
});


//SCREEN SIZES
$('#trigger-phone').click(function() {
    $('#device-selecta li').removeClass('slds-is-selected');
    $(this).closest('li').addClass('slds-is-selected');

    $('.page-content').css('max-width', '320px');
    $('#tools .slds-dropdown-trigger').toggleClass('slds-is-open');

});
$('#trigger-tablet').click(function() {
    $('#device-selecta li').removeClass('slds-is-selected');
    $(this).closest('li').addClass('slds-is-selected');

    $('.page-content').css('max-width', '800px');
    $('#tools .slds-dropdown-trigger').toggleClass('slds-is-open');
});
$('#trigger-desktop').click(function() {
    $('#device-selecta li').removeClass('slds-is-selected');
    $(this).closest('li').addClass('slds-is-selected');

    $('.page-content').css('max-width', '100%');
    $('#tools .slds-dropdown-trigger').toggleClass('slds-is-open');
});


//LOCALES
$('#trigger-us').click(function() {
    $('#language-selecta li').removeClass('slds-is-selected');
    $(this).closest('li').addClass('slds-is-selected');
});
$('#trigger-fr').click(function() {
    $('#language-selecta li').removeClass('slds-is-selected');
    $(this).closest('li').addClass('slds-is-selected');
    $('#locale-warning').toggleClass('slds-hide');

});
$('#trigger-de').click(function() {
    $('#language-selecta li').removeClass('slds-is-selected');
    $(this).closest('li').addClass('slds-is-selected');
});

//FILTER VIEW
$('#trigger_preview').click(function() {
    $('#poppinD').toggleClass('slds-hide');
});
$('.js-close-filter-view').click(function() {
    $('#poppinD').toggleClass('slds-hide');
});

$('#poppinD button').click(function() {
    $('#poppinD').toggleClass('slds-hide');
});


//PREVIEW
$('#trigger-preview').click(function() {
    $('.slds-button--icon-more').toggleClass('slds-hide');
    $('.region').toggleClass('region region-off');
    $('#editor').toggleClass('editor-off');
    $('#trigger-back-to-edit').toggleClass('slds-hide');
    $('#trigger-preview').toggleClass('slds-hide');
    $('#tools').toggleClass('slds-hide');
    $('.mini-menu').toggleClass('slds-hide');
    $('.sub-mini-menu').toggleClass('slds-hide');
    $('.placeholder').toggleClass('placeholder placeholder-off');
    $('#trigger-publish').toggleClass('slds-hide');
    $('#sidebar-navigator').toggleClass('slds-hide');
    $('.placeholder-component-38 .sub-mini-menu').addClass('slds-hide');
});
$('#trigger-back-to-edit').click(function() {
    $('.slds-button--icon-more').toggleClass('slds-hide');
    $('.region-off').toggleClass('region-off region');
    $('.editor-off').toggleClass('editor-off editor');
    $('#trigger-back-to-edit').toggleClass('slds-hide');
    $('#trigger-preview').toggleClass('slds-hide');
    $('#tools').toggleClass('slds-hide');
    $('.mini-menu').toggleClass('slds-hide');
    $('.sub-mini-menu').toggleClass('slds-hide');
    $('.placeholder-off').toggleClass('placeholder-off placeholder');
    $('#trigger-publish').toggleClass('slds-hide');
    $('#sidebar-navigator').toggleClass('slds-hide');
    $('.placeholder-component-38 .sub-mini-menu').addClass('slds-hide');
});


//PUBLISH
$('#trigger-publish').click(function() {
    $('#modal-id-101').toggleClass('slds-hide');
});
$('#modal-id-101 #trigger-close').click(function() {
    $('#modal-id-101').toggleClass('slds-hide');
});
$('#modal-id-101 #trigger-cancel').click(function() {
    $('#modal-id-101').toggleClass('slds-hide');
});
$('#modal-id-101 #trigger-publish').click(function() {
    $('#modal-id-101').toggleClass('slds-hide');
    $('#toast-page-published').toggleClass('slds-hide');
    $('#trigger-publish').toggleClass('slds-hide');
    //$('#trigger-preview').toggleClass('slds-hide');
    $('#trigger-published').toggleClass('slds-hide');
    $('#not_published').toggleClass('slds-hide');
    $('#page_published').toggleClass('slds-hide');
    $('#badge-offline').toggleClass('slds-hide');
    $('#badge-online').toggleClass('slds-hide');
});
$('#toast-page-published .close-toast-2').click(function() {
    $('#toast-page-published').toggleClass('slds-hide');
});


//UNPUBLISH
$('#trigger-published').click(function() {
    $('#modal-id-unpublish').toggleClass('slds-hide');
});
$('#modal-id-unpublish #trigger-close').click(function() {
    $('#modal-id-unpublish').toggleClass('slds-hide');
});
$('#modal-id-unpublish #trigger-cancel').click(function() {
    $('#modal-id-unpublish').toggleClass('slds-hide');
});
$('#modal-id-unpublish #trigger-publish').click(function() {
    $('#modal-id-unpublish').toggleClass('slds-hide');
    $('#toast-page-unpublished').toggleClass('slds-hide');
    $('#trigger-publish').toggleClass('slds-hide');
    $('#trigger-preview').toggleClass('slds-hide');
    $('#trigger-published').toggleClass('slds-hide');
    $('#not_published').toggleClass('slds-hide');
    $('#page_published').toggleClass('slds-hide');
    $('#badge-offline').toggleClass('slds-hide');
    $('#badge-online').toggleClass('slds-hide');
});

$('#toast-page-unpublished .close-toast-2').click(function() {
    $('#toast-page-unpublished').toggleClass('slds-hide');
});


//TRIGGER DELETE PAGE
$('.js-open-modal-id-1').click(function() {
    $('.modal-id-1').toggleClass('slds-hide');
    $('.slds-dropdown-trigger').removeClass('slds-is-open');
    $('.slds-dropdown-trigger').addClass('slds-is-closed');
});

//DELETE PAGE MODAL
$('.modal-id-1 button.js-close-modal-id-1').click(function() {
    $('.modal-id-1').toggleClass('slds-hide');
    $('#toast-id-1').toggleClass('slds-hide');
});

//CLOSE DELETE TOAST
$('#js-close-toast-id-1').click(function() {
    $('#toast-id-1').toggleClass('slds-hide');
});

//TRIGGER NEW PAGE
$('#js-open-modal-id-2').click(function() {
    $('.modal-id-2').toggleClass('slds-hide');
});

//NEW PAGE MODAL
$('.js-close-modal-id-2').click(function() {
    $('.modal-id-2').toggleClass('slds-hide');
});
$('.js-close-modal-id-100').click(function() {
    $('.modal-id-100').toggleClass('slds-hide');
});
$('#js-open-modal-100').click(function() {
    $('.modal-id-100').toggleClass('slds-hide');
});

//SIDEBAR
$('#button-page-navigator').click(function() {
    $('#sidebar-navigator').toggleClass('slds-hide');
});
$('#button-close-navigator').click(function() {
    $('#modal-page-navigator').toggleClass('slds-hide');
});
$('#button-preview-settings').click(function() {
    $('#modal-id-102').toggleClass('slds-hide');
});
$('#button-close-navigator').click(function() {
    $('#sidebar-navigator').toggleClass('slds-hide');
});


//MODAL PREVIEW SETTINGS
$('#modal-id-102 .js-close-modal-id-102').click(function() {
    $('#modal-id-102').toggleClass('slds-hide');
});


//sort at the same time navigator and component
var currentIndex;
$(function() {
    $('.list').sortable({
        start: function(event, ui) {
            currentIndex = ui.helper.index();
        },
        change: function(event, ui) {
            var indexCount = ui.item.parent().find('li:not(.ui-sortable-helper)');
            var sortClass = '.' + ui.item.attr('class').split(' ')[0];
            var parent = $('.list').not(ui.item.parent());

            if (currentIndex > ui.placeholder.index()) {
                parent.find('li').eq(indexCount.index(ui.placeholder)).before(parent.find(sortClass));
            } else
                parent.find('li').eq(indexCount.index(ui.placeholder)).after(parent.find(sortClass));
            currentIndex = ui.placeholder.index();
        }
    });
    $('.list').disableSelection();
});


//delete component and navigator item all together
$('.delete-component .js-close-modal-id-0').click(function() {
    //$(this).closest('li').find('.delete-component').toggleClass('slds-hide');
    $('.delete-component').toggleClass('slds-hide');

    return false;
});


//MODAL HANDLERS
$('.trigger-close-modal').click(function() {
    banner_header = undefined;
    banner_sub = undefined;

    $(this).closest('.editor').toggleClass('slds-hide');
    return false;
});




//IMAGE SELECT
$('.image-thumb').click(function() {
    //selected_image = $(this).find('h2').text();
    selected_image = $(this).closest('a').find('img').attr('src');
    $('.slds-file_card').removeClass('selected');
    $(this).closest('.slds-file_card').addClass('selected');

    return false;
});



//HOVER LI ITEM
$('.list>li').hover(function() {
    var myClass = $(this).attr('class');
    $('.' + myClass).css({
        border: '3px solid red',
        color: 'red'
    });
});







//LOADER PAGE LIST
$(function() {
    $('.spinner').delay(3000).fadeOut('slow');
    $('#page_list').delay(4000).fadeIn('slow');
});


//OCAPI modal__close
$('.js-close-modalA').click(function() {
    //open dialog for selecting an image
    $('#modalA').toggleClass('slds-hide');
});

$('.js-run-modalB').click(function() {
    //open dialog for selecting an image
    $('#modalB').toggleClass('slds-hide');
    //$('#modal-content-id-1B-loader').delay(6000).toggleClass('slds-hide');
    //$('#modal-content-id-1B-stuff').delay(4000).toggleClass('slds-hide');
});

$('.js-close-modalB').click(function() {
    //open dialog for selecting an image
    $('#modalB').toggleClass('slds-hide');
});


$('.action_level_1').click(function() {
    //open dialog for selecting an image
    $('#row-2').toggleClass('slds-hide');
});



$('.action_level_2').click(function() {
    //open dialog for selecting an image
    $('#row-3').toggleClass('slds-hide');
    $('#row-loader').toggleClass('slds-hide');
});


$('.js-copy-modalA').click(function() {
    //open dialog for selecting an image
    $('#textarea-body').toggleClass('slds-hide');
    $('#textarea-empty').toggleClass('slds-hide');
    $('#modalA').toggleClass('slds-hide');
});

$('#author').click(function() {
    $('#help').toggleClass('slds-hide');
});


$('#component-selecta').click(function() {
    $('.region_component_selector').toggleClass('slds-hide');
});


$('.region_component_selector .js-close-dropdown').click(function() {
    //$(this'.region_component_selector').addClass('slds-hide');
    //$(this).closest('.region_component_selector').addClass('slds-hide');
    $('.region_component_selector').toggleClass('slds-hide');
});

/*
$('.js-close-dropdown').click(function() {
    //$(this'.region_component_selector').addClass('slds-hide');
    //$(this).closest('.region_component_selector').addClass('slds-hide');
});
*/

$('#rtf_button_link').click(function() {
    $('#link-menu').toggleClass('slds-is-open');
});



//check rules
$('.input-rules-from').blur(function() {
    if (!$(this).val()) {
        //$(this).parents('p').addClass('warning');
    } else {
        $('#navigator .' + activeComponent + ' .rules-icon').toggleClass('slds-hide');
        $('.slds-marker').toggleClass('slds-hide');

    }
});

//edit rules from click on clock
$('.rules-text-icon button').click(function() {
    /*
    new Tether({
        element: '.help-text',
        target: '.rules-text-icon button',
        attachment: 'bottom center',
        targetAttachment: 'bottom center'
    });
    */
    $('.help-text').toggleClass('slds-hide');
    //now attach here the popover and show it!
});


$(function() {
    $(".clickspot").draggable();
    //$('.clickspot').drag().drag();
});


/*
$('.clickspot').drag("init", function(ev, dd) {
    if (this.id == "test-drag") {
        return $(".clickspot").addClass("selected");
    }
}).drag(function(ev, dd) {
    if (ev.target.id == "test-drag") {
        $(this).css({
            top: dd.offsetY,
            left: dd.offsetX
        });
    }
});
*/




//rules page
//check rules
$('#page-rule-from').blur(function() {
    if (!$(this).val()) {
        //$(this).parents('p').addClass('warning');
    } else {
        $('#toast-rules').toggleClass('slds-hide');
    }
});


$('#toast-rules .close-toast-2').click(function() {
    $('#toast-rules').toggleClass('slds-hide');
});








//SET FOCAL Point
// Credit: https://github.com/jonom/jquery-focuspoint
// Credit: https://github.com/jonom/jquery-focuspoint

//$('.focal-holder').css('background-image','url('+$('.set-focal-point').attr('src')+')');

$('.set-focal-point').click(function(e){

  var imageW = $(this).width();
  var imageH = $(this).height();

  //Calculate FocusPoint coordinates
  var offsetX = e.pageX - $(this).offset().left;
  var offsetY = e.pageY - $(this).offset().top;

  //Calculate CSS Percentages
  var percentageX = (offsetX/imageW)*100;
  //var percentageY = (offsetY/imageH)*100;
  //there must be a bug in here ... why is *10 working???
  var percentageY = (offsetY/imageH)*10;
  var backgroundPosition = percentageX.toFixed(0) + '% ' + percentageY.toFixed(0) + '%';

  //Move indicator
  $('.circle').css('top',(offsetY-10)+'px');
  $('.circle').css('left',(offsetX-10)+'px');
  // Set positioning
  $('.focal-holder').css('background-position',backgroundPosition);


});

// Hide image while resizing
var resizing = false;
$(window).resize(function(){
  if(resizing !== false) {
    clearTimeout(resizing);
    $('img').css('opacity', 0);
 }
 resizing = setTimeout(function() {
   $('img').css('opacity', 1);
 }, 1000);

});


$('#input-pagename').keyup(function(e) {
    var txtVal = $(this).val();
    //$('p').html("123.This is,, :ravi".replace(/[\. ,:-]+/g, "-"));

    //$('#input-pageid').val(txtVal);
    //$('#input-pageid').html(txtVal);
    $('#input-pageid').html(txtVal.replace(/[\. ,:-]+/g, "-"));
});




$('.button--add-component').click(function() {
  closest_region = $(this).closest('.region').attr('id');
  $('.region_component_selector').toggleClass('slds-hide');
  return false;
});


//MEDIA SELECTOR
$('.add-mediaselector-dummy').click(function() {
    selected_image = undefined;
    $('.mediaselector-component-editor .image-figure-thumb').attr('src', '/assets/placeholder.png');
    $('.mediaselector-component-editor .file-name').html('No Image assigned');


    var component_placeholder = $('#dummy_container .my_mediaselector_dummy li').clone(true, true).addClass('item' + cloneCountA++);
    var navigator_placeholder = $('#dummy_container .my_mediaselector_navigator li').clone(true, true).addClass('item' + cloneCountB++);

    //component_placeholder.appendTo('#region').hide().fadeIn(600);
    component_placeholder.appendTo('#'+closest_region+' ul').hide().fadeIn(600);
    navigator_placeholder.appendTo('#'+closest_region+'_links ul').hide().fadeIn(600);

    //now open editor
    activeComponent = undefined;
    activeComponent = $(component_placeholder).attr('class');

    //add 1 to component count
    regionlimit = regionlimit + 1;
    $('#regionlimit').text(regionlimit);

    $('.region_component_selector').toggleClass('slds-hide');
    $('.mediaselector-component-editor').toggleClass('slds-hide');

    $('.modal-content-id-37 .tab_general').addClass('slds-active');


    return false;
});

//BANNER COMPONENT
$('.mediaselector-component-editor .image-figure, .add-image').click(function() {
    $('.media-picker').toggleClass('slds-hide');
    $('.mediaselector-component-editor').toggleClass('slds-hide');
});
$('.media-component button.js-trigger-edit-component').click(function() {
    activeComponent = undefined;
    activeComponent = $(this).closest('li').attr('class');
    return false;
});
$('.media-component-editor button.trigger-save-modal').click(function() {

    selected_text = $('.slds-rich-text-area__content').html();
    selected_header = $('.slds-input-header').val();

    $('.' + activeComponent + ' .text-holder').html(selected_text);
    $('.' + activeComponent + ' .header-holder').html(selected_header);

    return false;
});

//IMAGE SELECT
$('.image-thumb').click(function() {
    //selected_image = $(this).find('h2').text();
    selected_image = $(this).closest('a').find('img').attr('src');
    $('.slds-file_card').removeClass('selected');
    $(this).closest('.slds-file_card').addClass('selected');
    return false;
});

//IMAGE SAVE
$('.picker .trigger-save-modal').click(function() {
    $('.mediaselector-component-editor .image-figure-thumb').attr('src', selected_image);
    $('.mediaselector-component-editor .file-name').text(selected_image);
    $('.picker').addClass('slds-hide');
    $('.circle').toggleClass('slds-hide');
    $('.mediaselector-component-editor').toggleClass('slds-hide');

});

//NOW CLOSE PICKER AND SET IMAGE
$('.mediaselector-component-editor .trigger-save-modal').click(function() {
    $('.mediaselector-component-editor').toggleClass('slds-hide');
    $('.' + activeComponent + ' .image-holder').css('background-image', 'url(' + selected_image + ')');
    $('.' + activeComponent + ' .image-holder span.no-image').addClass('slds-hide');

    banner_header = undefined;
    banner_sub = undefined;
    banner_header = $('#text-banner-header').val();
    banner_sub = $('#text-banner-sub').val();

    $('.' + activeComponent + ' .banner-header').html(banner_header);
    $('.' + activeComponent + ' .banner-sub').html(banner_sub);

    $('#text-banner-header').val('');
    $('#text-banner-sub').val('');
});


//BANNER COMPONENT EDIT
$('.placeholder-component-37 .js-trigger-edit-component').click(function() {
    activeComponent = undefined;
    activeComponent = $(this).closest('li').attr('class');

    //GET IMAGE
    imgUrl = $(this).closest('.placeholder').find('.image-holder').css('background-image');
    patt=/\"|\'|\)/g;
    selected_image = '/assets/'+imgUrl.split('/').pop().replace(patt,'');

    //GET TEXTS
    banner_header = $('.' + activeComponent).find('.title').text();
    banner_sub =    $('.' + activeComponent).find('.sub').text();

    $('.mediaselector-component-editor .image-figure-thumb').attr('src', selected_image);

    //SET TAB
    $('.modal-content-id-37 .tab_general').addClass('slds-active');


    $('.mediaselector-component-editor #text-banner-header').val(banner_header);
    $('.mediaselector-component-editor #text-banner-sub').val(banner_sub);
    $('.mediaselector-component-editor').toggleClass('slds-hide');
});

//DELETE ANY COMPONENT
$('button.js-trigger-delete-component').click(function() {
    activeComponent = undefined;
    activeComponent = $(this).closest('li').attr('class');
    $('.delete-component').toggleClass('slds-hide');

    return false;
});
$('.delete-component .action-delete-component').click(function() {
    /*
        var removeit = $(this).closest('li').attr('class');

        $(this).closest('li').find('.delete-component').toggleClass('slds-hide');
        $('li.'+ removeit).fadeOut(600, function(){
            $('li.'+ removeit).remove();
        });
    */

    $('.delete-component').toggleClass('slds-hide');
    $('li.' + activeComponent).fadeOut(600, function() {
        $('li.' + activeComponent).remove();
    });

    //add 1 to component count
    regionlimit = regionlimit - 1;
    $('#regionlimit').text(regionlimit);


    return false;
});



//GALLERY BROWSING

$('.select_collectionA').click(function() {
  $('.select_collectionA').addClass('slds-is-selected');
  $('.collectionA').removeClass('slds-hide');

  $('.select_collectionB').removeClass('slds-is-selected');
  $('.collectionB').addClass('slds-hide');

  $('.select_collectionC').removeClass('slds-is-selected');
  $('.collectionC').addClass('slds-hide');

  $('.select_collectionD').removeClass('slds-is-selected');
  $('.collectionD').addClass('slds-hide');

    return false;
});


$('.select_collectionB').click(function() {
  $('.select_collectionB').addClass('slds-is-selected');
  $('.collectionB').removeClass('slds-hide');

  $('.select_collectionA').removeClass('slds-is-selected');
  $('.collectionA').addClass('slds-hide');

  $('.select_collectionC').removeClass('slds-is-selected');
  $('.collectionC').addClass('slds-hide');

  $('.select_collectionD').removeClass('slds-is-selected');
  $('.collectionD').addClass('slds-hide');

    return false;
});


$('.select_collectionC').click(function() {
  $('.select_collectionC').addClass('slds-is-selected');
  $('.collectionC').removeClass('slds-hide');

  $('.select_collectionB').removeClass('slds-is-selected');
  $('.collectionB').addClass('slds-hide');

  $('.select_collectionA').removeClass('slds-is-selected');
  $('.collectionA').addClass('slds-hide');

  $('.select_collectionD').removeClass('slds-is-selected');
  $('.collectionD').addClass('slds-hide');

    return false;
});

$('.select_collectionD').click(function() {
  $('.select_collectionD').addClass('slds-is-selected');
  $('.collectionD').removeClass('slds-hide');

  $('.select_collectionB').removeClass('slds-is-selected');
  $('.collectionB').addClass('slds-hide');

  $('.select_collectionA').removeClass('slds-is-selected');
  $('.collectionA').addClass('slds-hide');

  $('.select_collectionC').removeClass('slds-is-selected');
  $('.collectionC').addClass('slds-hide');
    return false;
});



//SET FOCAL Point
// Credit: https://github.com/jonom/jquery-focuspoint
// Credit: https://github.com/jonom/jquery-focuspoint

//$('.focal-holder').css('background-image','url('+$('.set-focal-point').attr('src')+')');

$('.set-focal-point').click(function(e){

  var imageW = $(this).width();
  var imageH = $(this).height();

  //Calculate FocusPoint coordinates
  var offsetX = e.pageX - $(this).offset().left;
  var offsetY = e.pageY - $(this).offset().top;

  //Calculate CSS Percentages
  var percentageX = (offsetX/imageW)*100;
  //var percentageY = (offsetY/imageH)*100;
  //there must be a bug in here ... why is *10 working???
  var percentageY = (offsetY/imageH)*10;
  var backgroundPosition = percentageX.toFixed(0) + '% ' + percentageY.toFixed(0) + '%';

  //Move indicator
  $('.circle').css('top',(offsetY-10)+'px');
  $('.circle').css('left',(offsetX-10)+'px');
  // Set positioning
  $('.focal-holder').css('background-position',backgroundPosition);

  //alert(offsetY+'px');

});

// Hide image while resizing
var resizing = false;
$(window).resize(function(){
  if(resizing !== false) {
    clearTimeout(resizing);
    $('img').css('opacity', 0);
 }
 resizing = setTimeout(function() {
   $('img').css('opacity', 1);
 }, 1000);

});


//- end js
});
