<!-- EDITOR HEADER -->
<div class="slds-grid slds-wrap 2slds-grid_pull-padded slds-p-around--small  slds-grid_vertical-align-center">
    <div class="slds-p-horizontal_small 2slds-size_1-of-5 2slds-medium-size_1-of-6 2slds-large-size_2-of-12">
        <span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
            <img src="/assets/sign-in.svg" style="height:20px;" />
            <span class="slds-assistive-text">Login</span>
        </span>
        Login</div>
    <div class="slds-p-horizontal_small 2slds-size_1-of-5 2slds-medium-size_1-of-6 2slds-large-size_2-of-12">
        <img src="/assets/flag-usa.svg" style="height:20px; width:auto" />
        USA
    </div>
    <div class="slds-p-horizontal_small 2slds-size_1-of-5 2slds-medium-size_2-of-6 2slds-large-size_6-of-12 slds-col slds-text-align--center"><img src="/assets/2016sf_CommerceCloud_logo_RGB.png" style="height:50px" /></div>
    <div class="slds-p-horizontal_small 2slds-size_1-of-5 2slds-medium-size_1-of-6 2slds-large-size_2-of-12">
        <div class="slds-form-element__control">
            <div class="slds-input-has-icon slds-input-has-icon--right">
                <svg aria-hidden="true" class="slds-input__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                </svg>
                <input id="lookup-330" class="slds-lookup__search-input slds-input" type="search" placeholder="Search Keywords, Brands etc" aria-owns="lookup-330" role="combobox" aria-activedescendent="" aria-expanded="false" aria-autocomplete="list">
            </div>
        </div>
    </div>
    <div class="slds-p-horizontal_small 2slds-size_1-of-5 2slds-large-size_1-of-6 slds-hide" id="mini-cart">
        <img src="/assets/shopping-bag.svg" style="height:20px; width:auto" />
        No Items.
    </div>
</div>

<!-- /EDITOR HEADER -->
