<div class="slds-p-bottom_small">
    <span class="slds-media slds-listbox__option slds-listbox__option_plain">
    <h3 class="slds-text-title_caps" role="presentation">Media Components</h3>
    </span>                          
</div>
<div id="text1" class="block slide">
    <!-- SMALL -->
    <div class="small slds-p-around_small">
            <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
            <svg class="slds-icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
            </svg>
            <span class="slds-assistive-text">Description of icon</span>
            </span>
            <span class="slds-truncate" title="Table View">Simple Banner</span>
    </div>
    <!-- /SMALL -->
    <!-- LARGE -->              
    <div class="slds-hide large slds-p-around_small slds-grid">        
        <div class="slds-col">
            <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                <svg class="slds-icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                </svg>
                <span class="slds-assistive-text">Description of icon</span>
            </span>
            <span class="slds-truncate" title="Table View">Simple Banner</span>
        </div>
        <div class="slds-col_bump-left">
            <div class="slds-button-group" role="group">
            <button class="slds-button slds-button_icon slds-button_icon-border show_component" aria-pressed="false" title="Edit">
                <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                </svg>
                <span class="slds-assistive-text">Edit A</span>
            </button>
            <button class="slds-hide slds-button slds-button_icon slds-button_icon-border" aria-pressed="false" title="Copy">
                <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#copy"></use>
                </svg>
                <span class="slds-assistive-text">Duplicate</span>
            </button>
            <button class="slds-button slds-button_icon slds-button_icon-more delete_component" aria-haspopup="true" title="Delete">
                <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                </svg>
                <span class="slds-assistive-text">Provide description of action</span>
            </button>
            </div>            
        </div>            

    </div>
    <!-- /LARGE -->                            
    <!-- CONTENT -->              
    <div class="slds-hide content image slds-p-around_small slds-grid">
    </div>
    <!-- /CONTENT -->
</div>

