<div class="slds-hide modal-id-2">
    <section role="dialog" tabindex="-1" class="slds-modal slds-modal_large slds-fade-in-open slds-slide-up-open" aria-labelledby="header43" aria-describedby="modal-content-id-1">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button--icon slds-modal__close slds-button--icon-inverse js-close-modal-id-2" title="Close">
                    <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="header43" class="slds-text-heading--medium">New A/B Test</h2>
            </header>

            <div class="slds-modal__content slds-p-around--medium slds-p-bottom--large slds-text-align_center" id="modal-content-id-2">
              <div class="editor">
                  <!--div class="slds-tabs_default slds-hide">
                      <ul class="slds-tabs_default__nav" role="tablist">
                          <li class="slds-tabs_default__item 2slds-is-active" title="Item One" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">General</a></li>
                          <li class="slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Slot Configurations</a></li>
                          <li class="slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">Promotions</a></li>
                          <li class="slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-4" id="tab-default-4__item">Sorting Rules</a></li>
                          <li class="slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-5" id="tab-default-5__item">Keyword Search Sorting Rules</a></li>
                      </ul>

                      <div id="tab-default-1" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">
                        {% include "tab-general.html" ignore missing %}
                      </div>
                      <div id="tab-default-2" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item">
                        {% include "tab-slot.html" ignore missing %}
                      </div>
                      <div id="tab-default-3" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-3__item">
                        {% include "tab-promotions.html" ignore missing %}
                      </div>
                      <div id="tab-default-4" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-4__item">
                        {% include "tab-sorting.html" ignore missing %}
                      </div>
                      <div id="tab-default-5" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-5__item">
                        {% include "tab-keywordsorting.html" ignore missing %}
                      </div>
                  </div-->
                  {% include "tab-general.html" ignore missing %}
            </div>


          </div>
          <footer class="slds-modal__footer">
              <button class="slds-button slds-button_neutral js-close-modal-id-2">Cancel</button>
              <button class="slds-button slds-button--neutral  js-save-modal-id-2">Save & New</button>
              <a href="campaign-detail.html"><button class="slds-button slds-button--brand  2js-save-modal-id-2">Save</button></a>
          </footer>








        </div>
    </section>
    <div class="slds-backdrop slds-backdrop--open"></div>
</div>
