<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-md visible-lg" href="/"></a>
        <a class="navbar-brand-mobile visible-sm visible-xs" href="/"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="/shop/mens" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-tp-id="_TRK_MzAzNTIx">Men</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/shop/mens"><strong>All Mens</strong></a></li>
              <li><a href="/shop/mens/accessories">Accessories</a></li>
              <li><a href="/shop/mens/footwear">Footwear</a></li>
              <li><a href="/shop/mens/jackets">Jackets</a></li>
              <li><a href="/shop/mens/pants-shorts">Pants &amp; Shorts</a></li>
              <li><a href="/shop/mens/shirts-sweaters">Shirts &amp; Sweaters</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/shop/womens" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-tp-id="_TRK_MzA2NDY3">Women</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/shop/womens"><strong>All Womens</strong></a></li>
              <li><a href="/shop/womens/accessories">Accessories</a></li>
              <li><a href="/shop/womens/footwear">Footwear</a></li>
              <li><a href="/shop/womens/jackets">Jackets</a></li>
              <li><a href="/shop/womens/pants-shorts">Pants &amp; Shorts</a></li>
              <li><a href="/shop/womens/shirts-sweaters">Shirts &amp; Sweaters</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/shop/kids" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-tp-id="_TRK_MzAzNTIy">Kids</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/shop/kids"><strong>All Kids</strong></a></li>
              <li><a href="/shop/kids/accessories">Accessories</a></li>
              <li><a href="/shop/kids/footwear">Footwear</a></li>
              <li><a href="/shop/kids/jackets">Jackets</a></li>
              <li><a href="/shop/kids/pants-shorts">Pants &amp; Shorts</a></li>
              <li><a href="/shop/kids/shirts-sweaters">Shirts &amp; Sweaters</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/shop/gear" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-tp-id="_TRK_MzA2NDY4">Gear</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/shop/gear"><strong>All Gear</strong></a></li>
              <li><a href="/shop/gear/bags-backpacks">Bags &amp; Backpacks</a></li>
              <li><a href="/shop/gear/luggage-duffels">Luggage &amp; Duffels</a></li>
              <li><a href="/shop/gear/sleeping-bags">Sleeping Bags</a></li>
              <li><a href="/shop/gear/tents">Tents</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/shop/electronics" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-tp-id="_TRK_MzA2NDY5">Electronics</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/shop/electronics"><strong>All Electronics</strong></a></li>
              <li><a href="/shop/electronics/activity-trackers">Activity Trackers</a></li>
              <li><a href="/shop/electronics/headphones">Headphones</a></li>
              <li><a href="/shop/electronics/handheld-gps">Handheld GPS</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/shop/energy-and-nutrition" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-tp-id="_TRK_MzAzNTIz">Energy &amp; Nutrition</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/shop/energy-and-nutrition"><strong>All Energy &amp; Nutrition</strong></a></li>
              <li><a href="/shop/energy-and-nutrition/coffee">Coffee</a></li>
              <li><a href="/shop/energy-and-nutrition/energy-bars">Energy Bars</a></li>
              <li><a href="/shop/energy-and-nutrition/energy-drinks">Energy Drinks</a></li>
              <li><a href="/shop/energy-and-nutrition/energy-gels">Energy Gels</a></li>
              <li><a href="/shop/energy-and-nutrition/hydration-drinks">Hydration Drinks</a></li>
              <li><a href="/shop/energy-and-nutrition/protein-drinks">Protein Drinks</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="search-container">
              <form role="search" action="/search" method="get" class="search-form ui search" novalidate="novalidate" _lpchecked="1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="14px" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search" color="#fff"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                <label class="search-label" for="q">Search</label>
                <input type="text" class="search-input" id="q" name="q" value="" placeholder="Search" autocomplete="off" aria-invalid="false">
                <div class="results"></div>
              </form>
            </div>
          </li>
          <li id="community">
            <a href="https://community.ntoretail.com/" target="_blank">Community</a>
          </li>
          <li id="account">

            <a href="/login">Account</a>

          </li>
          <li id="cart">
            <a href="/cart">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16px" viewBox="0 0 24 24" fill="#fff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart" color="#fff"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>

            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>






{#
<!-- EDITOR HEADER -->
<div class="slds-grid slds-col slds-grid_vertical slds-text-align_center page-header-section" style="opacity:0.2">
  <div class="slds-grid header-banner" id="static-banner">
    <div class="slds-col">
      FREE 2-Day SHIPPING FOR ORDERS OVER $300
    </div>
  </div>
  <div class="slds-grid slds-wrap slds-p-around--small  slds-grid_vertical-align-center" id="editor-header">
      <div class="slds-p-horizontal_small">
          <span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
              <img src="/assets/sign-in.svg" style="height:20px;" />
              <span class="slds-assistive-text">Login</span>
          </span>
          Login</div>
      <div class="slds-p-horizontal_small slds-hide">
          <img src="/assets/flag-usa.svg" style="height:20px; width:auto" />
          USA
      </div>
      <div class="slds-p-horizontal_small slds-col slds-text-align--center"><img src="/assets/2016sf_CommerceCloud_logo_RGB.png" style="height:50px" /></div>
      <div class="slds-p-horizontal_small">
          <div class="slds-form-element__control">
              <div class="slds-input-has-icon slds-input-has-icon--right">
                  <svg aria-hidden="true" class="slds-input__icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                  </svg>
                  <input id="lookup-330" class="slds-lookup__search-input slds-input" type="search" placeholder="Search Keywords, Brands etc" aria-owns="lookup-330" role="combobox" aria-activedescendent="" aria-expanded="false" aria-autocomplete="list">
              </div>
          </div>
      </div>
      <div class="region slds-hide" id="region-header" style="
                                 width: 6rem;
                                 text-align: center;
                                 height: 4rem;
                                 padding-top: 1rem;
                                 ">
          <button class="slds-button slds-button_neutral slds-button--icon-more toggle-tooltip orange" aria-describedby="title" title="Add Component" id="trigger-minibasket">
              <svg class="slds-button__icon" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
              </svg>
              <span class="slds-assistive-text">Add Component</span>
          </button>
      </div>
      <div class="slds-p-horizontal_small 2slds-size_1-of-5 2slds-large-size_1-of-6 2slds-hide" id="mini-cart">
          <img src="/assets/shopping-bag.svg" style="height:20px; width:auto" />
          No Items.
      </div>
  </div>
  <div class="slds-grid main-menu">
    <div class="slds-p-around_small">
      <button class="slds-button 2slds-button_neutral">New Arrivals
        <svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
        </svg>
      </button>
    </div>
    <div class="slds-p-around_small">
      <button class="slds-button 2slds-button_neutral">Womens
        <svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
        </svg>
      </button>
    </div>
    <div class="slds-p-around_small">
      <button class="slds-button 2slds-button_neutral">Mens
        <svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
        </svg>
      </button>
    </div>
    <div class="slds-p-around_small">
      <button class="slds-button 2slds-button_neutral">Electronics
        <svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
        </svg>
      </button>

    </div>
    <div class="slds-p-around_small">
      <button class="slds-button 2slds-button_neutral">Top Sellers
        <svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
        </svg>
      </button>

    </div>
    <div class="slds-col">

    </div>
  </div>
</div>
<!-- /EDITOR HEADER -->
#}
