<div class="slds-hide modal-id-2">
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-slide-up-open" aria-labelledby="header43" aria-describedby="modal-content-id-1">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button--icon slds-modal__close slds-button--icon-inverse js-close-modal-id-2" title="Close">
                    <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="header43" class="slds-text-heading--medium">New Campaign</h2>
            </header>

            <div class="slds-modal__content slds-p-around--medium slds-p-bottom--large slds-text-align_center" id="modal-content-id-2">
              <div class="editor">


                <div class="slds-text-align_left" 2style="width: 440px;">
                  <div class="slds-form slds-form_compound">
                    <fieldset class="slds-form-element">
                      <div class="slds-form-element__group">
                        <div class="slds-form-element__row">
                          <div class="slds-form-element slds-size_1-of-1">
                            <label class="slds-form-element__label" for="input-01">
                              <abbr class="slds-required" title="required">*</abbr>
                              ID</label>
                            <input type="text" placeholder="Campaign ID" id="input-01" class="slds-input" />
                          </div>
                        </div>
                        <div class="slds-form-element__row">
                          <div class="slds-form-element slds-size_1-of-1">
                            <label class="slds-form-element__label" for="input-03">Description</label>
                            <textarea class="slds-textarea"></textarea>
                          </div>
                        </div>

                      </div>
                    </fieldset>
                    <fieldset class="slds-form-element slds-hide">
                      <legend>Campaign is enabled</legend>
                      <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size_1-of-1">
                          <label class="slds-checkbox_toggle slds-grid slds-col">
                            <!--span class="slds-form-element__label slds-m-bottom_none">Enabled</span-->
                            <input type="checkbox" name="checkbox" aria-describedby="toggle-desc" value="on">
                            <span id="toggle-desc" class="slds-checkbox_faux_container slds-col" aria-live="assertive">
                              <span class="slds-checkbox_faux"></span>
                              <span class="slds-checkbox_on">Enabled</span>
                              <span class="slds-checkbox_off">Disabled</span>
                            </span>
                         </label>
                        </div>

                      </div>

                    </fieldset>

                  </div>
                </div>



            </div>


          </div>
          <footer class="slds-modal__footer">
              <button class="slds-button slds-button_neutral js-close-modal-id-2">Cancel</button>
              <button class="slds-button slds-button--neutral  js-save-modal-id-2 action">Save & New</button>
              <a href="campaign-detail.html"><button class="slds-button slds-button--brand  2js-save-modal-id-2 action">Save</button></a>
          </footer>








        </div>
    </section>
    <div class="slds-backdrop slds-backdrop--open"></div>
</div>
