    <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_col-bordered">
        <thead>
            <tr class="removed--slds-text-title_caps">
                <th scope="col" class="">
                    <div class="slds-truncate" title="Opportunity Name"> </div>
                </th>
                <th scope="col" class="">
                    <div class="slds-truncate" title="Account Name">en-US (selected locale)</div>
                </th>
                <th scope="col" class="">
                    <div class="slds-truncate" title="Close Date">en-UK</div>
                </th>
                <th scope="col" class="">
                    <div class="slds-truncate" title="Stage">en-BEL</div>
                </th>
                <th scope="col" class="">
                    <div class="slds-truncate" title="Confidence">de-DE</div>
                </th>
                <th scope="col" class="">
                    <div class="slds-truncate" title="Amount">de-CH</div>
                </th>
                <th scope="col" class="">
                    <div class="slds-truncate" title="Amount">fr-CH</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" data-label="Opportunity Name" class="">
                    <div class="slds-truncate" title="Cloudhub">Header</div>
                </th>
                <td data-label="Account Name" class="">
                    <div class="slds-truncate" title="Cloudhub"><textarea id="textarea-id-01" class="slds-textarea" placeholder="Placeholder Text"></textarea></div>
                </td>
                <td data-label="Account Name" class="">
                    <div class="slds-truncate" title="Cloudhub"><textarea id="textarea-id-02" class="slds-textarea" placeholder="Placeholder Text"></textarea></div>
                </td>
                <td data-label="Account Name" class="">
                    <div class="slds-truncate" title="Cloudhub"><textarea id="textarea-id-03" class="slds-textarea" placeholder="Placeholder Text"></textarea></div>
                </td>
                <td data-label="Account Name" class="">
                    <div class="slds-truncate" title="Cloudhub"><textarea id="textarea-id-04" class="slds-textarea" placeholder="Placeholder Text"></textarea></div>
                </td>
                <td data-label="Account Name" class="">
                    <div class="slds-truncate" title="Cloudhub"><textarea id="textarea-id-05" class="slds-textarea" placeholder="Placeholder Text"></textarea></div>
                </td>
                <td data-label="Account Name" class="">
                    <div class="slds-truncate" title="Cloudhub"><textarea id="textarea-id-06" class="slds-textarea" placeholder="Placeholder Text"></textarea></div>
                </td>
            </tr>
            <tr>
                <th scope="row" data-label="Opportunity Name" class="">
                    <div class="slds-truncate" title="Cloudhub">Body Text</div>
                </th>
                <td data-label="Account Name" class="">
                    <div class="slds-truncate" title="Cloudhub"><textarea id="textarea-id-11" class="slds-textarea" placeholder="Placeholder Text"></textarea></div>
                </td>
                <td data-label="Account Name" class="">
                    <div class="slds-truncate" title="Cloudhub"><textarea id="textarea-id-12" class="slds-textarea" placeholder="Placeholder Text"></textarea></div>
                </td>
                <td data-label="Account Name" class="">
                    <div class="slds-truncate" title="Cloudhub"><textarea id="textarea-id-13" class="slds-textarea" placeholder="Placeholder Text"></textarea></div>
                </td>
                <td data-label="Account Name" class="">
                    <div class="slds-truncate" title="Cloudhub"><textarea id="textarea-id-14" class="slds-textarea" placeholder="Placeholder Text"></textarea></div>
                </td>
                <td data-label="Account Name" class="">
                    <div class="slds-truncate" title="Cloudhub"><textarea id="textarea-id-15" class="slds-textarea" placeholder="Placeholder Text"></textarea></div>
                </td>
                <td data-label="Account Name" class="">
                    <div class="slds-truncate" title="Cloudhub"><textarea id="textarea-id-16" class="slds-textarea" placeholder="Placeholder Text"></textarea></div>
                </td>
            </tr>
        </tbody>
    </table>



{#
    <div class="slds-form-element slds-p-around_small">
        <label class="slds-form-element__label" for="textarea-id-01">en-US (selected locale)</label>
        <div class="slds-form-element__control">

        </div>
    </div>

    <div class="slds-form-element slds-p-around_small">
        <label class="slds-form-element__label" for="textarea-id-02">en-UK</label>
        <div class="slds-form-element__control">
            <textarea id="textarea-id-02" class="slds-textarea" placeholder="Placeholder Text"></textarea>
        </div>
    </div>

    <div class="slds-form-element slds-p-around_small">
        <label class="slds-form-element__label" for="textarea-id-03">en-BEL</label>
        <div class="slds-form-element__control">
            <textarea id="textarea-id-03" class="slds-textarea" placeholder="Placeholder Text"></textarea>
        </div>
    </div>

    <div class="slds-form-element slds-p-around_small">
        <label class="slds-form-element__label" for="textarea-id-04">de-DE</label>
        <div class="slds-form-element__control">
            <textarea id="textarea-id-04" class="slds-textarea" placeholder="Placeholder Text"></textarea>
        </div>
    </div>

    <div class="slds-form-element slds-p-around_small">
        <label class="slds-form-element__label" for="textarea-id-05">de-CH</label>
        <div class="slds-form-element__control">
            <textarea id="textarea-id-05" class="slds-textarea" placeholder="Placeholder Text"></textarea>
        </div>
    </div>

<div class="slds-grid slds-p-around_small"></div>

#}


