<div>
  <ul id="component_list" class="2list" role="menu">
    <li class="slds-dropdown__header slds-truncate layout_title" title="Menu Sub Heading" role="separator">
        <span class="slds-text-title_caps">Layout</span>
    </li>
    <li class="slds-dropdown__item layout_rows draggable" role="presentation" 2id="drag_row">
        <a href="javascript:void(0);" class="add-row add-component" role="menuitem" tabindex="0">
            <span class="slds-truncate" title="Table View">Row</span>
            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#layout"></use>
            </svg>
        </a>
        <div class="component component_row slds-hide" style="padding-top:2rem;">
          <div class="slds-drop-zone">
            <div class="slds-drop-zone__container 2slds-is-hovered" tabindex="-1">
              <div class="slds-drop-zone__label slds-drop-zone__label_container">
                <div class="slds-media slds-media_center">
                  <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-utility-connected_apps slds-current-color">
                      <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#connected_apps"></use>
                      </svg>
                    </span>
                  </div>
                  <div class="slds-media__body">
                    <h2>
                      <button class="slds-drop-zone__label_button slds-button_reset button-trigger-action--edit-component">
                        <span class="slds-assistive-text">Edit: </span>
                        <span>Row</span>
                      </button>
                    </h2>
                  </div>
                </div>
              </div>
              <article class="slds-card slds-m-bottom_small">
                <header>

                </header>
                <div class="slds-card__body slds-card__body_inner slds-text-align_center">
                  <h1 class="slds-heading_medium slds-p-top_small">Row Placeholder</h1>
                  <ul class="sort3 list slds-drop-zone ui-droppable ui-sortable" style="height:2rem;width:100%;margin-top: 1rem;">

                  </ul>
                </div>
                <footer class="slds-card__footer"><button class="slds-button slds-button_neutral"></button></footer>
              </article>


              <div class="slds-drop-zone__actions">
                <div class="slds-button-group" role="group">
                  <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small  button-trigger-action--move-component" title="Move">
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                    </svg>
                    <span class="slds-assistive-text">Move</span>
                  </button>
                  <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small button-trigger-action--delete-component" title="Close">
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
    </li>

    <li class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
        <span class="slds-text-title_caps">Content</span>
    </li>
    <li class="slds-dropdown__item draggable" role="presentation" 2id="drag_banner">
        <a href="javascript:void(0);" class="add-mediaselector-dummy add-component" role="menuitem" tabindex="0">
            <span class="slds-truncate" title="Table View">Banner</span>
            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#description"></use>
            </svg>
        </a>
        <div class="component component_banner slds-hide" style="padding-top:2rem;">
          <div class="slds-drop-zone">
            <div class="slds-drop-zone__container 2slds-is-hovered" tabindex="-1">
              <div class="slds-drop-zone__label slds-drop-zone__label_container">
                <div class="slds-media slds-media_center">
                  <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-utility-connected_apps slds-current-color">
                      <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#connected_apps"></use>
                      </svg>
                    </span>
                  </div>
                  <div class="slds-media__body">
                    <h2>
                      <button class="slds-drop-zone__label_button slds-button_reset  button-trigger-action--edit-component">
                        <span class="slds-assistive-text">Edit: </span>
                        <span>Banner</span>
                      </button>
                    </h2>
                  </div>
                </div>
              </div>
              <article class="slds-card slds-m-bottom_small">
                <header>

                </header>
                <div class="slds-card__body slds-card__body_inner slds-text-align_center">
                  <h1 class="slds-heading_medium slds-p-top_small">Banner Placeholder</h1>
                </div>
                <footer class="slds-card__footer"></footer>
              </article>


              <div class="slds-drop-zone__actions">
                <div class="slds-button-group" role="group">
                  <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small  button-trigger-action--move-component" title="Move">
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                    </svg>
                    <span class="slds-assistive-text">Move</span>
                  </button>
                  <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small button-trigger-action--delete-component" title="Close">
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
    </li>
    <li class="slds-dropdown__item draggable" role="presentation">
        <a href="javascript:void(0);" class="add-product-dummy add-component" role="menuitem" tabindex="0" 2id="drag_category">
            <span class="slds-truncate" title="Table View">Category</span>
            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#product"></use>
            </svg>
        </a>
        <div class="component component_product slds-hide" style="padding-top:2rem;">
          <div class="slds-drop-zone">
            <div class="slds-drop-zone__container 2slds-is-hovered" tabindex="-1">
              <div class="slds-drop-zone__label slds-drop-zone__label_container">
                <div class="slds-media slds-media_center">
                  <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-utility-connected_apps slds-current-color">
                      <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#connected_apps"></use>
                      </svg>
                    </span>
                  </div>
                  <div class="slds-media__body">
                    <h2>
                      <button class="slds-drop-zone__label_button slds-button_reset button-trigger-action--edit-component">
                        <span class="slds-assistive-text">Edit: </span>
                        <span>Product</span>
                      </button>
                    </h2>
                  </div>
                </div>
              </div>
              <article class="slds-card slds-m-bottom_small">
                <header>

                </header>
                <div class="slds-card__body slds-card__body_inner slds-text-align_center">
                  <h1 class="slds-heading_medium slds-p-top_small">Category Placeholder</h1>
                </div>
                <footer class="slds-card__footer"></footer>
              </article>


              <div class="slds-drop-zone__actions">
                <div class="slds-button-group" role="group">
                  <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small  button-trigger-action--move-component" title="Move">
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                    </svg>
                    <span class="slds-assistive-text">Move</span>
                  </button>
                  <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small button-trigger-action--delete-component" title="Close">
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
    </li>
  </ul>
</div>



  </ul>
