<div class="slider-sample">
    <div class="slds-grid  slds-grid_vertical-align-center">
        <div class="slds-hide">
            <span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
                <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronleft"></use>
                </svg>
                <span class="slds-assistive-text">Description of icon</span>
            </span>
        </div>
        <div class="slds-col">
            <!-- IMAGE A -->
            <div class="sliderA">
                <img src="/assets/slide1.jpg" style="min-width:100%; height: auto;" />
            </div>

            <!-- /IMAGE A -->
            <!-- IMAGE B -->
            <div class="slds-hide sliderB">
                <img src="/assets/slide2.jpg" style="min-width:100%; height: auto;" />
            </div>
            <!-- /IMAGE B -->
            <!-- IMAGE C -->
            <div class="slds-hide sliderC">
                <img src="/assets/slide3.jpg" style="min-width:100%; height: auto;" />
            </div>
            <!-- /IMAGE C -->
        </div>
        <div class="slds-hide">
            <span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
                <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                </svg>
                <span class="slds-assistive-text">Description of icon</span>
            </span>
        </div>
    </div>
    <div class="slds-grid">
        <div class="slds-align_absolute-center slds-p-top_small">
            <button class="slds-button slds-button_icon trigger-sliderA sliderButton">

            </button>
            <button class="slds-button slds-button_icon trigger-sliderB sliderButton">

            </button>
            <button class="slds-button slds-button_icon trigger-sliderC sliderButton">

            </button>
        </div>
    </div>
</div>
