<div style="position: relative; height: 9px;">
    <div class="slds-builder-header_container">
        <header class="slds-builder-header">
            <div class="slds-builder-header__item">
                <div class="slds-builder-header__item-label slds-media slds-media_center">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-utility-builder slds-current-color">
              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#builder"/>
              </svg>
            </span>
                    </div>
                    <div class="slds-media__body">Commerce Builder</div>
                </div>
            </div>
            <nav class="slds-builder-header__item slds-builder-header__nav">
                <ul class="slds-builder-header__nav-list">
                    <li class="slds-builder-header__nav-item">
                        <a href="javascript:void(0);" class="slds-builder-header__item-action slds-media slds-media_center">
                            <span class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-settings slds-current-color">
                  <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings"/>
                  </svg>
                </span>
                            </span>
                            <span class="slds-media__body">
                <span class="slds-truncate" title="Settings">Page Settings</span>
                            </span>
                        </a>
                    </li>
                    <li class="slds-builder-header__nav-item">
                        <button class="slds-button slds-builder-header__item-action slds-media slds-media_center" aria-haspopup="true" title="Click to open menu">
              <span class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-page slds-current-color">
                  <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#page"/>
                  </svg>
                </span>
              </span>
              <span class="slds-media__body">
                <span class="slds-truncate" title="Dropdown">Page Name</span>
                <span class="slds-icon_container slds-icon-utility-chevrondown slds-current-color slds-m-left_small">
                  <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"/>
                  </svg>
                </span>
              </span>
            </button>
                    </li>
                </ul>
            </nav>
            <div class="slds-builder-header__item">
                <h1 class="slds-builder-header__item-label slds-hide">Page Type</h1>
            </div>
            <div class="slds-builder-header__item slds-builder-header__utilities">
                <div class="slds-builder-header__utilities-item">
                    <a href="javascript:void(0);" class="slds-builder-header__item-action slds-media slds-media_center">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-utility-back slds-current-color">
                <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#back"/>
                </svg>
              </span>
                        </div>
                        <div class="slds-media__body">Back</div>
                    </a>
                </div>
                <div class="slds-builder-header__utilities-item">
                    <a href="javascript:void(0);" class="slds-builder-header__item-action slds-media slds-media_center">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-utility-help slds-current-color">
                <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#help"/>
                </svg>
              </span>
                        </div>
                        <div class="slds-media__body">Help</div>
                    </a>
                </div>
            </div>
        </header>
        <div class="slds-builder-toolbar" role="toolbar">
            <div class="slds-builder-toolbar__item-group" aria-label="Canvas Actions">
            </div>
            <div class="slds-builder-toolbar__item-group slds-m-left_none" aria-label="Edit actions">
                <div class="slds-button-group">
                    <button class="slds-button slds-button_icon slds-button_icon-border" title="Toggle Page Structure Panel" tabindex="-1" id="button-navigator">
                      <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#list"/>
                      </svg>
                        <span class="slds-assistive-text">Toggle Page Structure Panel</span>
                    </button>
                </div>
            </div>
            <div class="slds-col slds-text-align_center">

<div class="slds-button-group" role="group">
    <button class="slds-button slds-button_neutral" id="trigger-preview-desktop">
        <svg class="slds-button__icon slds-button__icon" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#desktop"></use>
        </svg><!-- Desktop -->
    </button>
    <button class="slds-button slds-button_neutral" id="trigger-preview-tablet_landscape">
        <svg class="slds-button__icon slds-button__icon" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#tablet_landscape"></use>
        </svg><!-- Tablet -->
    </button>
    <button class="slds-button slds-button_neutral" id="trigger-preview-tablet_portrait">
        <svg class="slds-button__icon slds-button__icon" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#tablet_portrait"></use>
        </svg><!-- Desktop -->
    </button>
    <button class="slds-button slds-button_neutral" id="trigger-preview-phone_landscape">
        <svg class="slds-button__icon slds-button__icon" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#phone_landscape"></use>
        </svg><!-- Desktop -->
    </button>
    <button class="slds-button slds-button_neutral" id="trigger-preview-phone_portrait">
        <svg class="slds-button__icon slds-button__icon" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#phone_portrait"></use>
        </svg><!-- Desktop -->
    </button>
</div>


            </div>
            <div class="slds-builder-toolbar__actions" aria-label="Document actions">
                <button class="slds-button" id="status_txt" 2disabled>Saved 1min ago.</button>
                <div class="slds-button-group">
                    <button id="trigger-preview-options" class="slds-button slds-button_icon slds-button_icon-more" aria-haspopup="true" title="More Options">
                      <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings" />
                      </svg>
                      <svg class="slds-button__icon slds-button__icon_x-small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down" />
                      </svg>
                      <span class="slds-assistive-text">Preview Settings</span>
                    </button>
                    <button id="trigger-preview" class="slds-button slds-button_neutral">
                        Preview
                    </button>
                    <button id="trigger-edit" class="slds-button slds-button_neutral slds-hide">
                        Back to Edit
                    </button>
                </div>





                <button class="slds-button slds-button_neutral slds-hide"></button>
                <button class="slds-button slds-button_brand">Publish</button>
            </div>
        </div>
    </div>
</div>
