<!-- EDITOR -->
<div class="modal-editor-38 editor slds-hide shopableselector-component-editor">
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-describedby="modal-content-id-38" class="slds-modal slds-modal_large slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse trigger-close-modal" title="Close">
                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Shopable Image</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium modal-content-id-38">
                <!--  MEDIA SELECTION CONTENT-->


                    <div class="editor">
                        <div class="slds-tabs_default">
                            <ul class="slds-tabs_default__nav" role="tablist">
                                <li class="slds-tabs_default__item 2slds-is-active" title="Item One" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-381" id="tab-default-381__item">Content</a></li>
                                <li class="slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-382" id="tab-default-382__item">Rules</a></li>
                                <li class="slds-hide slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-383" id="tab-default-383__item">Localization</a></li>
                            </ul>

                            <div id="tab-default-381" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-381__item">
                                <!-- CONTENT -->
                                <ul>
                                  <li class="slds-p-bottom_small">
                                    <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="text-input-id-1">Media</label>
                                    <div style="width: 40rem;">
                                      <div class="slds-file slds-file_card">
                                        <figure class="shopableback">
                                        <div class="clickspot slds-hide" id='test-drag'>
                                            <div class="ring ping"></div>
                                            <div class="slds-grid slds-grid_align-center">
                                                <div class="mini-menu 2slds-hide slds-grid slds-grid_align-center image-component">
                                                    <div>
                                                        <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-edit-component" title="Edit">
                                                            <svg class="slds-button__icon" aria-hidden="true">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                                                            </svg> <span class="slds-assistive-text">Edit</span> </button>
                                                    </div>
                                                    <div>
                                                        <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-delete-component" title="Delete">
                                                            <svg class="slds-button__icon" aria-hidden="true">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                                                            </svg> <span class="slds-assistive-text">Delete</span> </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                          <a href="javascript:void(0);" class="slds-file__crop image-figure slds-hide">
                                              <img src="/assets/placeholder.png" alt="+" class="image-figure-thumb" style="font-size: 39px;" />
                                          </a>
                                          <figcaption class="slds-file__title slds-file__title_card">
                                            <div class="slds-media slds-media_small slds-media_center">
                                              <div class="slds-media__figure slds-line-height_reset">
                                                <span class="slds-icon_container" title="pdf">
                                                  <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image" />
                                                  </svg>
                                                  <span class="slds-assistive-text">pdf</span>
                                                </span>
                                              </div>
                                              <div class="slds-media__body">
                                                <span class="slds-file__text slds-truncate file-name" title="No Image assigned">No Image assigned</span>
                                              </div>
                                            </div>
                                          </figcaption>
                                        </figure>
                                          <div class="slds-file__actions-menu">
                                              <div class="slds-button-group" role="group">
                                                  <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-x-small add-image" title="Add Image">
                                                      <svg class="slds-button__icon" aria-hidden="true">
                                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                                                      </svg>
                                                      <span class="slds-assistive-text">Add Image</span>
                                                  </button>
                                                  <button class="slds-hide slds-button slds-button_icon slds-button_icon slds-button_icon-x-small" aria-haspopup="true" title="More Actions">
                                                      <svg class="slds-button__icon" aria-hidden="true">
                                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                                      </svg>
                                                      <span class="slds-assistive-text">More Actions</span>
                                                  </button>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                  </div>

                                  </li>

                                  <li class="slds-p-bottom_small">
                                    <div class="slds-form-element">
                                      <!--label class="slds-form-element__label" for="text-input-id-1">Add Clickspot</label-->
                                      <div class="slds-form-element__control">
                                          <button class="slds-button slds-button_neutral button-add-clickspot">Add Clickspot</button>
                                      </div>
                                    </div>
                                  </li>

                                </ul>
                                <!-- /CONTENT -->
                            </div>
                            <div id="tab-default-382" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-382__item">
                                <!-- RULES -->
                                {% include "_inc_rules.html" ignore missing %}
                                <!-- /RULES -->
                            </div>
                        </div>
                    </div>


                    <!--  /MEDIA SELECTION CONTENT-->
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral trigger-close-modal">Cancel</button>
                <button class="slds-button slds-button_brand trigger-save-modal">Save</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</div>
<!-- /EDITOR -->
