<div class="slds-hide modal-id-2">
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-slide-up-open" aria-labelledby="header43" aria-describedby="modal-content-id-1">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button--icon slds-modal__close slds-button--icon-inverse js-close-modal-id-2" title="Close">
                    <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="header43" class="slds-text-heading--medium">New Page</h2>
            </header>




            <div class="slds-modal__content slds-p-around--medium slds-p-bottom--large" id="modal-content-id-2">
                <!-- FORM 1 -->
                <div class="slds-form slds-form_stacked slds-p-bottom_small" id="form_step-1">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="input-id-02">
                            <abbr class="slds-required" title="required">*</abbr>
                            Page Name
                        </label>
                        <div class="slds-form-element__control">
                            <input type="text" id="input-id-02" class="slds-input" placeholder="Page Name">
                        </div>
                    </div>
                </div>
                <!-- /FORM 1 -->
                <!-- FORM 2 -->
                <div class="slds-form slds-form_stacked slds-scrollable_y" id="form_step-1">
                    <label>Select a Page Type</label>
                    <fieldset class="slds-form-element slds-p-top_small">
                        <!-- legend class="slds-form-element__legend slds-form-element__label">Select a Page Type</legend -->
                        <div class="slds-form-element__control">
                            <div class="slds-visual-picker slds-visual-picker_medium 2slds-m-right--small">
                                <input type="radio" id="visual-picker-301" name="options">
                                <label for="visual-picker-301">
                                    <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                                        <span class="">
                                            <img src="/assets/layout_1.svg" alt="layout text" width="120">
                                        </span>
                                    </span>
                                    <span class="slds-visual-picker__body">
                                        <span class="slds-text-heading_small">Campaign Landing Page</span>
                                        <span class="slds-text-title">Full-width header above a left sidebar and main column.</span>
                                    </span>
                                    <span class="slds-icon_container slds-visual-picker__text-check">
                                    <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                    </span>
                                </label>
                            </div>

                            <div class="slds-visual-picker slds-visual-picker_medium 2slds-m-right--small">
                                <input type="radio" id="visual-picker-302" name="options">
                                <label for="visual-picker-302">
                                    <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                                        <span class="">
                                            <img src="/assets/layout_2.svg" alt="layout text" width="120">
                                        </span>
                                    </span>
                                    <span class="slds-visual-picker__body">
                                        <span class="slds-text-heading_small">Category Landing Page</span>
                                        <span class="slds-text-title">Full-width header above a right sidebar and main column.</span>
                                    </span>
                                    <span class="slds-icon_container slds-visual-picker__text-check">
                                    <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                    </span>
                                </label>
                            </div>

                            <div class="slds-visual-picker slds-visual-picker_medium">
                                <input type="radio" id="visual-picker-303" name="options">
                                <label for="visual-picker-303">
                                    <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                                        <span class="">
                                            <img src="/assets/layout_3.svg" alt="layout text" width="120">
                                        </span>
                                    </span>
                                    <span class="slds-visual-picker__body">
                                        <span class="slds-text-heading_small">Product Details Page</span>
                                        <span class="slds-text-title">Full-width header with a subheader above a right sidebar and main column.</span>
                                    </span>
                                    <span class="slds-icon_container slds-visual-picker__text-check">
                                    <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                    </span>
                                </label>
                            </div>
                        </div>

                        <div class="slds-form-element__control">
                            <div class="slds-visual-picker slds-visual-picker_medium 2slds-m-right--small">
                                <input type="radio" id="visual-picker-304" name="options">
                                <label for="visual-picker-304">
                                    <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                                        <span class="">
                                            <img src="/assets/layout_1.svg" alt="layout text" width="120">
                                        </span>
                                    </span>
                                    <span class="slds-visual-picker__body">
                                        <span class="slds-text-heading_small">Campaign Landing Page</span>
                                        <span class="slds-text-title">Full-width header above a left sidebar and main column.</span>
                                    </span>
                                    <span class="slds-icon_container slds-visual-picker__text-check">
                                    <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                    </span>
                                </label>
                            </div>

                            <div class="slds-visual-picker slds-visual-picker_medium 2slds-m-right--small">
                                <input type="radio" id="visual-picker-305" name="options">
                                <label for="visual-picker-305">
                                    <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                                        <span class="">
                                            <img src="/assets/layout_2.svg" alt="layout text" width="120">
                                        </span>
                                    </span>
                                    <span class="slds-visual-picker__body">
                                        <span class="slds-text-heading_small">Category Landing Page</span>
                                        <span class="slds-text-title">Full-width header above a right sidebar and main column.</span>
                                    </span>
                                    <span class="slds-icon_container slds-visual-picker__text-check">
                                    <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                    </span>
                                </label>
                            </div>

                            <div class="slds-visual-picker slds-visual-picker_medium">
                                <input type="radio" id="visual-picker-306" name="options">
                                <label for="visual-picker-306">
                                    <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                                        <span class="">
                                            <img src="/assets/layout_3.svg" alt="layout text" width="120">
                                        </span>
                                    </span>
                                    <span class="slds-visual-picker__body">
                                        <span class="slds-text-heading_small">Product Details Page</span>
                                        <span class="slds-text-title">Full-width header with a subheader above a right sidebar and main column.</span>
                                    </span>
                                    <span class="slds-icon_container slds-visual-picker__text-check">
                                    <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                    </span>
                                </label>
                            </div>
                        </div>

                        <div class="slds-form-element__control">
                            <div class="slds-visual-picker slds-visual-picker_medium 2slds-m-right--small">
                                <input type="radio" id="visual-picker-307" name="options">
                                <label for="visual-picker-307">
                                    <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                                        <span class="">
                                            <img src="/assets/layout_1.svg" alt="layout text" width="120">
                                        </span>
                                    </span>
                                    <span class="slds-visual-picker__body">
                                        <span class="slds-text-heading_small">Campaign Landing Page</span>
                                        <span class="slds-text-title">Full-width header above a left sidebar and main column.</span>
                                    </span>
                                    <span class="slds-icon_container slds-visual-picker__text-check">
                                    <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                    </span>
                                </label>
                            </div>

                            <div class="slds-visual-picker slds-visual-picker_medium 2slds-m-right--small">
                                <input type="radio" id="visual-picker-308" name="options">
                                <label for="visual-picker-308">
                                    <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                                        <span class="">
                                            <img src="/assets/layout_2.svg" alt="layout text" width="120">
                                        </span>
                                    </span>
                                    <span class="slds-visual-picker__body">
                                        <span class="slds-text-heading_small">Category Landing Page</span>
                                        <span class="slds-text-title">Full-width header above a right sidebar and main column.</span>
                                    </span>
                                    <span class="slds-icon_container slds-visual-picker__text-check">
                                    <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                    </span>
                                </label>
                            </div>

                            <div class="slds-visual-picker slds-visual-picker_medium">
                                <input type="radio" id="visual-picker-309" name="options">
                                <label for="visual-picker-309">
                                    <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                                        <span class="">
                                            <img src="/assets/layout_3.svg" alt="layout text" width="120">
                                        </span>
                                    </span>
                                    <span class="slds-visual-picker__body">
                                        <span class="slds-text-heading_small">Product Details Page</span>
                                        <span class="slds-text-title">Full-width header with a subheader above a right sidebar and main column.</span>
                                    </span>
                                    <span class="slds-icon_container slds-visual-picker__text-check">
                                    <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                    </span>
                                </label>
                            </div>
                        </div>

                    </fieldset>
                </div>
                <!-- /FORM 2 -->

            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral js-close-modal-id-2">Cancel</button>
                <a href="page-editor.html">
                    <button class="slds-button slds-button--brand  js-close-modal-id-2">Save &amp; Create</button>
                </a>
            </footer>








        </div>
    </section>
    <div class="slds-backdrop slds-backdrop--open"></div>
</div>
