<!-- CATEGORY TILES PROPERTIES -->
<div class="slds-hide modal-id-6">
    <section role="dialog" tabindex="-1" class="slds-modal slds-modal_large slds-fade-in-open " aria-labelledby="header66" aria-describedby="modal-content-id-6">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button--icon slds-modal__close slds-button--icon-inverse js-close-modal-id-6" title="Close">
                    <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="header66" class="slds-text-heading--medium">Category Tiles</h2>
            </header>
            <div class="slds-modal__content slds-p-around--medium" id="modal-content-id-6">
                <div class="slds-border_bottom slds-p-bottom_small">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="text-input-id-1">Component Name</label>
                        <div class="slds-form-element__control">
                            <input type="text" id="text-input-id-1" class="slds-input" placeholder="Category Tiles">
                        </div>
                    </div>
                </div>
                <div class="">
                    <label class="slds-p-top_small slds-form-element__label" for="input-unique-id">Rules</label>
                    <div class="slds-p-bottom_small">
                        <div class="slds-form slds-form_compound">
                            <div class="slds-form-element__row slds-grid">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="select-01">
                                        <!--abbr class="slds-required" title="required">*</abbr-->Customer Groups:</label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <select class="slds-select" id="select-01">
                                                <option selected="selected">Everyone</option>
                                                <option>Customer Group A</option>
                                                <option>Customer Group B</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="select-01">
                                        Display from:</label>
                                    <div class="slds-form-element__control">
                                        <input type="text" id="input-unique-id" class="slds-input" placeholder="--/--/----">
                                    </div>
                                </div>
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="select-01">
                                        Display to:</label>
                                    <div class="slds-form-element__control">
                                        <input type="text" id="input-unique-id" class="slds-input" placeholder="--/--/----">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button--neutral js-close-modal-id-6">Cancel</button>
                <button class="slds-button slds-button_brand js-save-modal-id-6">Save</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop--open"></div>
</div>









{#
<div class="slds-hide modal-id-6">
    <section role="dialog" tabindex="-1" class="slds-modal slds-modal_large slds-fade-in-open " aria-labelledby="header66" aria-describedby="modal-content-id-6">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button--icon slds-modal__close slds-button--icon-inverse js-close-modal-id-6" title="Close">
                    <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="header66" class="slds-text-heading--medium">Category Tiles</h2>
            </header>
            <div class="slds-modal__content slds-p-around--medium" id="modal-content-id-6">
                <div class="slds-border_bottom slds-p-bottom_small">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="text-input-id-1">Component Name</label>
                        <div class="slds-form-element__control">
                            <input type="text" id="text-input-id-1" class="slds-input" placeholder="Category Tiles">
                        </div>
                    </div>
                </div>
                <div class="slds-tabs_default">
                    <ul class="slds-tabs_default__nav" role="tablist">
                        <li class="slds-tabs_default__item" title="Item One" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="false" aria-controls="tab-default-61" id="tab-default-61__item">Content</a></li>
                        <li class="slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-62" id="tab-default-62__item">Rules</a></li>
                    </ul>
                    <div id="tab-default-61" class="slds-tabs_default__content" role="tabpanel" aria-labelledby="tab-default-61__item">
                        <!-- 1 -->
                        <ul class="slds-accordion">
                            <li class="slds-accordion__list-item">
                                <section class="slds-accordion__section slds-is-open">
                                    <div class="slds-accordion__summary">
                                        <h3 class="slds-text-heading_small slds-accordion__summary-heading">
                                            <button aria-controls="accordion-details-01" aria-expanded="true" class="slds-button slds-button_reset slds-accordion__summary-action">
                                                <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                                </svg>
                                                <span class="slds-truncate" title="Accordion summary">Tile 1 - Text</span>
                                            </button>
                                        </h3>
                                        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small slds-shrink-none" aria-haspopup="true">
                                            <svg class="slds-button__icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                            </svg>
                                            <span class="slds-assistive-text">More Options</span>
                                        </button>
                                    </div>
                                    <div aria-hidden="false" class="slds-accordion__content" id="accordion-details-01">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="text-input-id-1">Header</label>
                                            <div class="slds-form-element__control">
                                                <input type="text" id="text-input-id-1" class="slds-input" placeholder="Tile 1 Header">
                                            </div>
                                        </div>
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="text-input-id-1">Content</label>
                                            <div class="slds-form-element__control">
                                                <textarea id="textarea-id-01" class="slds-textarea" placeholder="Tile 1 Text"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </li>
                            <li class="slds-accordion__list-item">
                                <section class="slds-accordion__section">
                                    <div class="slds-accordion__summary">
                                        <h3 class="slds-text-heading_small slds-accordion__summary-heading">
                                            <button aria-controls="accordion-details-02" aria-expanded="false" class="slds-button slds-button_reset slds-accordion__summary-action">
                                                <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                                </svg>
                                                <span class="slds-truncate" title="Accordion summary">Tile 1 - Image</span>
                                            </button>
                                        </h3>
                                        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small slds-shrink-none" aria-haspopup="true">
                                            <svg class="slds-button__icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                            </svg>
                                            <span class="slds-assistive-text">More Options</span>
                                        </button>
                                    </div>
                                    <div aria-hidden="true" class="slds-accordion__content" id="accordion-details-02">Accordion details - B</div>
                                </section>
                            </li>
                            <li class="slds-accordion__list-item">
                                <section class="slds-accordion__section">
                                    <div class="slds-accordion__summary">
                                        <h3 class="slds-text-heading_small slds-accordion__summary-heading">
                                            <button aria-controls="accordion-details-03" aria-expanded="false" class="slds-button slds-button_reset slds-accordion__summary-action">
                                                <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                                </svg>
                                                <span class="slds-truncate" title="Accordion summary">Tile 1 - Link</span>
                                            </button>
                                        </h3>
                                        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small slds-shrink-none" aria-haspopup="true">
                                            <svg class="slds-button__icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                            </svg>
                                            <span class="slds-assistive-text">More Options</span>
                                        </button>
                                    </div>
                                    <div aria-hidden="true" class="slds-accordion__content" id="accordion-details-03">Accordion details - C</div>
                                </section>
                            </li>

                            <li class="slds-accordion__list-item">
                                <section class="slds-accordion__section">
                                    <div class="slds-accordion__summary">
                                        <h3 class="slds-text-heading_small slds-accordion__summary-heading">
                                            <button aria-controls="accordion-details-01" aria-expanded="true" class="slds-button slds-button_reset slds-accordion__summary-action">
                                                <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                                </svg>
                                                <span class="slds-truncate" title="Accordion summary">Tile 2 - Text</span>
                                            </button>
                                        </h3>
                                        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small slds-shrink-none" aria-haspopup="true">
                                            <svg class="slds-button__icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                            </svg>
                                            <span class="slds-assistive-text">More Options</span>
                                        </button>
                                    </div>
                                    <div aria-hidden="false" class="slds-accordion__content" id="accordion-details-01">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="text-input-id-1">Header</label>
                                            <div class="slds-form-element__control">
                                                <input type="text" id="text-input-id-1" class="slds-input" placeholder="Tile 1 Header">
                                            </div>
                                        </div>
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="text-input-id-1">Content</label>
                                            <div class="slds-form-element__control">
                                                <textarea id="textarea-id-01" class="slds-textarea" placeholder="Tile 1 Text"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </li>
                            <li class="slds-accordion__list-item">
                                <section class="slds-accordion__section">
                                    <div class="slds-accordion__summary">
                                        <h3 class="slds-text-heading_small slds-accordion__summary-heading">
                                            <button aria-controls="accordion-details-02" aria-expanded="false" class="slds-button slds-button_reset slds-accordion__summary-action">
                                                <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                                </svg>
                                                <span class="slds-truncate" title="Accordion summary">Tile 2 - Image</span>
                                            </button>
                                        </h3>
                                        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small slds-shrink-none" aria-haspopup="true">
                                            <svg class="slds-button__icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                            </svg>
                                            <span class="slds-assistive-text">More Options</span>
                                        </button>
                                    </div>
                                    <div aria-hidden="true" class="slds-accordion__content" id="accordion-details-02">Accordion details - B</div>
                                </section>
                            </li>
                            <li class="slds-accordion__list-item">
                                <section class="slds-accordion__section">
                                    <div class="slds-accordion__summary">
                                        <h3 class="slds-text-heading_small slds-accordion__summary-heading">
                                            <button aria-controls="accordion-details-03" aria-expanded="false" class="slds-button slds-button_reset slds-accordion__summary-action">
                                                <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                                </svg>
                                                <span class="slds-truncate" title="Accordion summary">Tile 2 - Link</span>
                                            </button>
                                        </h3>
                                        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small slds-shrink-none" aria-haspopup="true">
                                            <svg class="slds-button__icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                            </svg>
                                            <span class="slds-assistive-text">More Options</span>
                                        </button>
                                    </div>
                                    <div aria-hidden="true" class="slds-accordion__content" id="accordion-details-03">Accordion details - C</div>
                                </section>
                            </li>

                            <li class="slds-accordion__list-item">
                                <section class="slds-accordion__section">
                                    <div class="slds-accordion__summary">
                                        <h3 class="slds-text-heading_small slds-accordion__summary-heading">
                                            <button aria-controls="accordion-details-01" aria-expanded="true" class="slds-button slds-button_reset slds-accordion__summary-action">
                                                <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                                </svg>
                                                <span class="slds-truncate" title="Accordion summary">Tile 3 - Text</span>
                                            </button>
                                        </h3>
                                        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small slds-shrink-none" aria-haspopup="true">
                                            <svg class="slds-button__icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                            </svg>
                                            <span class="slds-assistive-text">More Options</span>
                                        </button>
                                    </div>
                                    <div aria-hidden="false" class="slds-accordion__content" id="accordion-details-01">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="text-input-id-1">Header</label>
                                            <div class="slds-form-element__control">
                                                <input type="text" id="text-input-id-1" class="slds-input" placeholder="Tile 1 Header">
                                            </div>
                                        </div>
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label" for="text-input-id-1">Content</label>
                                            <div class="slds-form-element__control">
                                                <textarea id="textarea-id-01" class="slds-textarea" placeholder="Tile 1 Text"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </li>
                            <li class="slds-accordion__list-item">
                                <section class="slds-accordion__section">
                                    <div class="slds-accordion__summary">
                                        <h3 class="slds-text-heading_small slds-accordion__summary-heading">
                                            <button aria-controls="accordion-details-02" aria-expanded="false" class="slds-button slds-button_reset slds-accordion__summary-action">
                                                <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                                </svg>
                                                <span class="slds-truncate" title="Accordion summary">Tile 3 - Image</span>
                                            </button>
                                        </h3>
                                        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small slds-shrink-none" aria-haspopup="true">
                                            <svg class="slds-button__icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                            </svg>
                                            <span class="slds-assistive-text">More Options</span>
                                        </button>
                                    </div>
                                    <div aria-hidden="true" class="slds-accordion__content" id="accordion-details-02">Accordion details - B</div>
                                </section>
                            </li>
                            <li class="slds-accordion__list-item">
                                <section class="slds-accordion__section">
                                    <div class="slds-accordion__summary">
                                        <h3 class="slds-text-heading_small slds-accordion__summary-heading">
                                            <button aria-controls="accordion-details-03" aria-expanded="false" class="slds-button slds-button_reset slds-accordion__summary-action">
                                                <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                                </svg>
                                                <span class="slds-truncate" title="Accordion summary">Tile 3 - Link</span>
                                            </button>
                                        </h3>
                                        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small slds-shrink-none" aria-haspopup="true">
                                            <svg class="slds-button__icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                            </svg>
                                            <span class="slds-assistive-text">More Options</span>
                                        </button>
                                    </div>
                                    <div aria-hidden="true" class="slds-accordion__content" id="accordion-details-03">Accordion details - C</div>
                                </section>
                            </li>


                        </ul>
                        <!-- /1 -->



                        <!-- 1 -->
                        <div class="slds-grid">
                            <div class="slds-border_right" style="width: 200px;">
                                <!-- NAV TAB -->
                                <nav class="slds-nav-vertical" aria-label="Sub page">
                                    <div class="slds-nav-vertical__section">
                                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Slide 1</h2>
                                        <ul>
                                            <li class="slds-nav-vertical__item slds-is-active"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Image</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Text</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Link</a></li>
                                        </ul>
                                    </div>
                                    <div class="slds-nav-vertical__section">
                                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Slide 2</h2>
                                        <ul>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Image</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Text</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Link</a></li>
                                        </ul>
                                    </div>
                                    <div class="slds-nav-vertical__section">
                                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Slide 3</h2>
                                        <ul>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Image</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Text</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Link</a></li>
                                        </ul>
                                    </div>
                                    <div class="slds-nav-vertical__section">
                                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Slide 4</h2>
                                        <ul>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Image</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Text</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Link</a></li>
                                        </ul>
                                    </div>
                                    <div class="slds-nav-vertical__section">
                                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Slide 5</h2>
                                        <ul>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Image</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Text</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Link</a></li>
                                        </ul>
                                    </div>
                                    <div class="slds-nav-vertical__section">
                                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Slide 6</h2>
                                        <ul>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Image</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Text</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Link</a></li>
                                        </ul>
                                    </div>
                                    <div class="slds-nav-vertical__section">
                                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Slide 7</h2>
                                        <ul>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Image</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Text</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Link</a></li>
                                        </ul>
                                    </div>
                                    <div class="slds-nav-vertical__section">
                                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Slide 8</h2>
                                        <ul>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Image</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Text</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Link</a></li>
                                        </ul>
                                    </div>
                                </nav>
                                <!-- /NAV TAB -->
                            </div>
                            <div class="slds-p-around_small">
                                <!-- CONTENT TAB -->
                                {% include "_inc_gallery.html" ignore missing %}
                                <!-- /CONTENT TAB -->
                            </div>
                        </div>
                        <!-- /1 -->



                    </div>
                    <div id="tab-default-62" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-62__item">
                        <!-- 2 -->

                        <div class="slds-p-bottom_small">
                            <div class="slds-form slds-form_compound">
                                <div class="slds-form-element__row slds-grid">
                                    <div class="slds-form-element">
                                        <label class="slds-form-element__label" for="select-01">
                                            <!--abbr class="slds-required" title="required">*</abbr-->Customer Groups:</label>
                                        <div class="slds-form-element__control">
                                            <div class="slds-select_container">
                                                <select class="slds-select" id="select-01">
                                                    <option selected="selected">Everyone</option>
                                                    <option>Customer Group A</option>
                                                    <option>Customer Group B</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="slds-form-element">
                                        <label class="slds-form-element__label" for="select-01">
                                            Display from:</label>
                                        <div class="slds-form-element__control">
                                            <input type="text" id="input-unique-id" class="slds-input" placeholder="--/--/----">
                                        </div>
                                    </div>
                                    <div class="slds-form-element">
                                        <label class="slds-form-element__label" for="select-01">
                                            Display to:</label>
                                        <div class="slds-form-element__control">
                                            <input type="text" id="input-unique-id" class="slds-input" placeholder="--/--/----">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <!-- /2 -->
                    </div>
                </div>
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button--neutral js-close-modal-id-6">Cancel</button>
                <button class="slds-button slds-button_brand js-save-modal-id-6">Save</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop--open"></div>
</div>
#}






