<!-- mini menu -->    
<div class="slds-grid slds-grid_align-center">
    <div class="mini-menu slds-grid slds-grid_align-center">
        <div>
            <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small dragdrop" title="Select a date">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                </svg>
                <span class="slds-assistive-text">Drag Drop</span>
            </button>        
        </div>
        <div>
            <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small edit" title="Select a date">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                </svg>
                <span class="slds-assistive-text">Drag Drop</span>
            </button>        
        </div>
        <div>
            <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small delete" title="Select a date">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                </svg>
                <span class="slds-assistive-text">Drag Drop</span>
            </button>        
        </div>
    </div>
</div>    
<!-- mini menu -->    
