<!-- EINSTEIN COMPONENT EDITOR -->
<div class="modal-editor-40 editor slds-hide einstein-component-editor">
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-describedby="modal-content-id-40" class="slds-modal slds-modal_medium slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse trigger-close-modal" title="Close">
                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Einstein Product Recommendation Component</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium modal-content-id-40">
                <!--  EDITOR CONTENT-->


                <div class="editor">
                    <div class="slds-tabs_default">
                        <ul class="slds-tabs_default__nav" role="tablist">
                            <li class="slds-tabs_default__item 2slds-is-active" title="Item One" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-401" id="tab-default-401__item">Content</a></li>
                            <li class="slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-402" id="tab-default-402__item">Rules</a></li>
                        </ul>

                        <div id="tab-default-401" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-401__item">
                            <!-- CONTENT -->


                            <div class="slds-grid">
                            <div class="slds-p-around_small slds-grid slds-col list-empty">
                                <div class="slds-p-horizontal_small slds-size_1-of-1 slds-large-size_1-of-1 2slds-text-align_center">
                                        <div class="slds-form-element__group">
                                        <div class="slds-form-element__row slds-p-bottom_small">
                                            <div class="slds-form-element slds-size_1-of-1">
                                                <label class="slds-form-element__label" for="input-03">Title:</label>
                                                <input type="text" id="input-03" class="slds-input">
                                            </div>
                                        </div>
                                        <div class="slds-form-element__row slds-p-bottom_small">
                                            <div class="slds-form-element slds-size_1-of-1">
                                                <label class="slds-form-element__label" for="input-03">Amount of results shown on the page:</label>
                                                <select class="slds-select">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="slds-form-element__row slds-p-bottom_small">
                                            <div class="slds-form-element slds-size_1-of-1">


                                                <label class="slds-form-element__label" for="input-03">Recommender</label>


                                                    <div class="demo-only" style="height: 17rem;">


                                                        <div class="slds-filters__item slds-grid slds-grid_vertical-align-center">
                                                            <button class="slds-button_reset slds-grow slds-has-blur-focus">
                                                                <span class="slds-assistive-text">Edit filter:</span>
                                                                <span class="slds-show slds-text-body_small">Created Date</span>
                                                                <span class="slds-show">equals THIS WEEK</span>
                                                            </button>
                                                            <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-small" title="Remove equals THIS WEEK">
                                                                <svg class="slds-button__icon slds-button__icon_hint" aria-hidden="true">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                                                </svg>
                                                                <span class="slds-assistive-text">Remove filter: Created Date equals THIS WEEK</span>
                                                            </button>
                                                        </div>


                                                        <button class="slds-button slds-button_neutral slds-text-link">Add Recommender</button>



                                                        <section class="slds-popover slds-nubbin_top-left slds-dynamic-menu 2slds-hide" role="dialog" aria-label="My Favourites" aria-describedby="dialog-body-id-3"
                                                        style="position: absolute; left: 0px; top: 55px;">
                                                        <div class="slds-popover__body slds-p-horizontal_none" id="dialog-body-id-3">
                                                        <div class="slds-form-element">
                                                        <label class="slds-form-element__label slds-assistive-text" for="combobox-unique-id-1">Search</label>
                                                        <div class="slds-form-element__control">
                                                        <div class="slds-combobox_container">
                                                        <div class="slds-combobox slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right slds-m-around_small" role="none">
                                                        <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id-1" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Search Recommenders" />
                                                        <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                                        <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search" />
                                                        </svg>
                                                        </span>
                                                        </div>
                                                        <div id="listbox-unique-id" role="listbox">
                                                        <ul class="slds-listbox slds-listbox_vertical slds-dropdown_length-10" role="group" aria-label="My Favorites">
                                                        <li role="presentation" class="slds-listbox__item">
                                                        <div class="slds-media slds-listbox__option slds-listbox__option_plain" role="presentation">
                                                        <h3 class="removed--slds-text-title_caps" role="presentation">Recommenders</h3>
                                                        </div>
                                                        </li>
                                                        <li role="presentation" class="slds-listbox__item">
                                                        <div id="listbox-option-id-1" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                                                        <span class="slds-media__figure">
                                                        <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                                                            <img src="/assets/einstein-color.svg" />
                                                        <span class="slds-assistive-text">Description of icon when needed</span>
                                                        </span>
                                                        </span>
                                                        <span class="slds-media__body">
                                                        <span class="slds-listbox__option-text slds-listbox__option-text_entity">Fashion - Male - Suits</span>
                                                        <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">displays all the recommendations related to male suit pants</span>
                                                        </span>
                                                        </div>
                                                        </li>
                                                        <li role="presentation" class="slds-listbox__item">
                                                        <div id="listbox-option-id-2" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                                                        <span class="slds-media__figure">
                                                        <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                                                        <img src="/assets/einstein-color.svg" />
                                                        <span class="slds-assistive-text">Description of icon when needed</span>
                                                        </span>
                                                        </span>
                                                        <span class="slds-media__body">
                                                        <span class="slds-listbox__option-text slds-listbox__option-text_entity">Fashion - Female Evening Dress</span>
                                                        <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">displays all the recommendations related to female evening dresses</span>
                                                        </span>
                                                        </div>
                                                        </li>


                                                        </ul>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        <footer class="slds-popover__footer">
                                                        <ul>
                                                        <li>
                                                        <button class="slds-button slds-button_reset slds-p-vertical_xx-small slds-size_1-of-1">
                                                            Manage Recommenders ...
                                                        </button>
                                                        </li>
                                                        <li>
                                                        </li>
                                                        </ul>
                                                        </footer>
                                                        </section>
                                                    </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="slds-p-around_small slds-grid slds-col list-full slds-hide">
                                <div class="slds-p-horizontal_small slds-size_1-of-1 slds-large-size_1-of-1 2slds-text-align_center">
                                        <div class="slds-form-element__group">
                                        <div class="slds-form-element__row slds-p-bottom_small">
                                            <div class="slds-form-element slds-size_1-of-1">
                                                <label class="slds-form-element__label" for="input-03">ID (URL Suffix)</label>
                                                <input type="text" id="input-03" class="slds-input">
                                            </div>
                                        </div>
                                        <div class="slds-form-element__row">
                                            <div class="slds-form-element slds-size_1-of-1">


                                                <label class="slds-form-element__label" for="input-03">Product</label>
                                                <div class="slds-grid slds-grid_vertical-align-center slds-box">


                                                    <div style="width: 20rem;">
                                                        <div class="slds-file slds-file_card">
                                                        <figure>
                                                            <a href="javascript:void(0);" class="slds-file__crop">
                                                            <img src="/assets/product_image_1.jpg" alt="Description of the image"/>
                                                            </a>
                                                            <figcaption class="slds-file__title slds-file__title_card slds-file-has-actions">
                                                            <div class="slds-media slds-media_small slds-media_center">
                                                                <div class="slds-media__figure slds-line-height_reset">
                                                                <span class="slds-icon_container slds-hide" title="pdf">
                                                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#pdf"/>
                                                                    </svg>
                                                                    <span class="slds-assistive-text">pdf</span>
                                                                </span>
                                                                </div>
                                                                <div class="slds-media__body">
                                                                <span class="slds-file__text slds-truncate" title="Proposal.pdf">Product Name</span>
                                                                </div>
                                                            </div>
                                                            </figcaption>
                                                        </figure>
                                                        <div class="slds-file__actions-menu">
                                                            <div class="slds-button-group" role="group">
                                                            <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-x-small remove-products" title="Remove Selection">
                                                                <svg class="slds-button__icon" aria-hidden="true">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"/>
                                                                </svg>
                                                                <span class="slds-assistive-text">Remove Selection</span>
                                                            </button>
                                                            <button class="slds-hide slds-button slds-button_icon slds-button_icon slds-button_icon-x-small" aria-haspopup="true" title="More Actions">
                                                                <svg class="slds-button__icon" aria-hidden="true">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"/>
                                                                </svg>
                                                                <span class="slds-assistive-text">More Actions</span>
                                                            </button>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>




                                                </div>


                                            </div>
                                        </div>
                                        </div>
                                </div>
                            </div>



                            </div>




                            <!-- /CONTENT -->
                        </div>
                        <div id="tab-default-402" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-402__item">
                            <!-- RULES -->
                            {% include "_inc_rules.html"   %}
                            <!-- /RULES -->
                        </div>
                    </div>
                </div>


                <!--  /EDITOR CONTENT-->
            </div>
            <footer class="slds-modal__footer slds-grid">
                <div>
                    <button class="slds-button slds-button--neutral trigger-delete-component">Delete Component</button>
                </div>
                <div class="slds-col">
                    <button class="slds-button slds-button_neutral trigger-close-modal">Cancel</button>
                    <button class="slds-button slds-button_brand trigger-close-modal">Save</button>
                </div>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</div>
<!-- /EDITOR -->



<!-- /EINSTEIN COMPONENT EDITOR -->
