<ul class="slds-grid slds-grid_pull-padded">

    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-3">
      <div class="slds-file slds-file_card">
        <figure>
          <a href="javascript:void(0);" class="slds-file__crop">
            <img src="/assets/images/slide1.jpg" alt="Description of the image" />
          </a>
          <figcaption class="slds-file__title slds-file__title_card">
            <div class="slds-media slds-media_small slds-media_center">
              <div class="slds-media__figure slds-line-height_reset">
                <span class="slds-icon_container" title="pdf">
                  <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image" />
                  </svg>
                  <span class="slds-assistive-text">pdf</span>
                </span>
              </div>
              <div class="slds-media__body">
                <span class="slds-file__text slds-truncate" title="Proposal.pdf"><h2>slide1.jpg</h2</span>
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
    </li>
    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-3">
      <div class="slds-file slds-file_card">
        <figure>
          <a href="javascript:void(0);" class="slds-file__crop">
            <img src="/assets/images/slide1.jpg" alt="Description of the image" />
          </a>
          <figcaption class="slds-file__title slds-file__title_card">
            <div class="slds-media slds-media_small slds-media_center">
              <div class="slds-media__figure slds-line-height_reset">
                <span class="slds-icon_container" title="pdf">
                  <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image" />
                  </svg>
                  <span class="slds-assistive-text">pdf</span>
                </span>
              </div>
              <div class="slds-media__body">
                <span class="slds-file__text slds-truncate" title="Proposal.pdf"><h2>slide1.jpg</h2</span>
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
    </li>
    <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-3">
      <div class="slds-file slds-file_card">
        <figure>
          <a href="javascript:void(0);" class="slds-file__crop">
            <img src="/assets/images/slide1.jpg" alt="Description of the image" />
          </a>
          <figcaption class="slds-file__title slds-file__title_card">
            <div class="slds-media slds-media_small slds-media_center">
              <div class="slds-media__figure slds-line-height_reset">
                <span class="slds-icon_container" title="pdf">
                  <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image" />
                  </svg>
                  <span class="slds-assistive-text">pdf</span>
                </span>
              </div>
              <div class="slds-media__body">
                <span class="slds-file__text slds-truncate" title="Proposal.pdf"><h2>slide1.jpg</h2</span>
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
    </li>

</ul>
