<div class="button-container">
    <div class="slds-dropdown-trigger slds-p-around_small  slds-dropdown-trigger--click slds-m-left--xx-small 2slds-align_absolute-center" aria-expanded="false" id="component-selecta">
        <button class="slds-button slds-button_neutral slds-button--icon-more toggle-tooltip orange" aria-describedby="title" title="Add">
            <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
            </svg>
            <span class="slds-assistive-text">Add Component</span>
        </button>

        {#
        <div class="region_component_selector">
            <div class="slds-dropdown slds-hide slds-dropdown--center slds-dropdown—fluid slds-nubbin_top slds-dropdown_large slds-p-around_small">
                <ul class="slds-dropdown__list" role="menu">
                    <li class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
                        <span class="removed--slds-text-title_caps">Layout Components</span>
                    </li>
                    <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" class="add-2col-dummy" role="menuitem" tabindex="0">
                            <span class="slds-truncate" title="Table View">Layout 2 column</span>
                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#layout"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
                        <span class="removed--slds-text-title_caps">Content Components</span>
                    </li>

                    <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" class="add-text-dummy" role="menuitem" tabindex="0">
                            <span class="slds-truncate" title="Table View">Text</span>
                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#text_color"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" class="add-mediaselector-dummy" role="menuitem" tabindex="0">
                            <span class="slds-truncate" title="Table View">Image</span>
                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#description"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" class="add-targeted_banner-dummy" role="menuitem" tabindex="0">
                            <span class="slds-truncate" title="Table View">Targeted Banner</span>
                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" class="add-video-dummy" role="menuitem" tabindex="0">
                            <span class="slds-truncate" title="Table View">Video</span>
                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#video"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" class="add-slider-dummy" role="menuitem" tabindex="0">
                            <span class="slds-truncate" title="Table View">Slider / Carousel</span>
                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#layers"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" class="add-usp-dummy" role="menuitem" tabindex="0">
                            <span class="slds-truncate" title="Table View">Unique selling proposition</span>
                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#description"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" class="add-productpicker-dummy" role="menuitem" tabindex="0">
                            <span class="slds-truncate" title="Product Tile">Product tile</span>
                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#description"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        #}
    </div>
</div>







