<div class="slds-context-bar">
    <div class="slds-context-bar__primary slds-context-bar__item--divider-right">
        <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger--click slds-no-hover">
            <div class="slds-context-bar__icon-action">
                <button class="slds-button slds-icon-waffle_container slds-context-bar__button app-switch-trigger" title="Description of the icon when needed" id="app-switch-trigger">
                    <span class="slds-icon-waffle">
                        <span class="slds-r1"></span>
                        <span class="slds-r2"></span>
                        <span class="slds-r3"></span>
                        <span class="slds-r4"></span>
                        <span class="slds-r5"></span>
                        <span class="slds-r6"></span>
                        <span class="slds-r7"></span>
                        <span class="slds-r8"></span>
                        <span class="slds-r9"></span>
                    </span>
                    <span class="slds-assistive-text">Open App Launcher</span>
                </button>
            </div> <span class="slds-context-bar__label-action slds-context-bar__app-name">
            <span class="slds-truncate">Business Manager</span> </span>
        </div>
    </div>
    <nav class="slds-context-bar__secondary" role="navigation">
        <ul class="slds-grid">
            <li class="slds-context-bar__item"><a href="javascript:void(0);" class="slds-context-bar__label-action" title="Menu Item"><span class="slds-truncate" title="Menu Item">Home</span></a></li>
            <li class="slds-is-active slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger--hover" aria-haspopup="true">
                <a href="" class="slds-context-bar__label-action" title="Menu Item"> <span class="slds-truncate">Merchant Tools</span> </a>
                <div class="slds-context-bar__icon-action slds-p-left--none" tabindex="0">
                    <button class="slds-button slds-button--icon slds-context-bar__button" tabindex="-1">
                        <svg aria-hidden="true" class="slds-button__icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                        </svg> <span class="slds-assistive-text">Open menu item submenu</span> </button>
                </div>
                <div class="slds-dropdown slds-dropdown--right">
                    <ul class="slds-dropdown__list" role="menu">
                        <li class="slds-dropdown__item"><a href="javascript:void(0);" class="slds-context-bar__label-action" title="Menu Item"><span class="slds-truncate" title="Menu Item">Further items</span></a></li>
                    </ul>
                </div>
            </li>
            <li class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger--hover" aria-haspopup="true">
                <a href="" class="slds-context-bar__label-action" title="Menu Item"> <span class="slds-truncate">Administation</span> </a>
                <div class="slds-context-bar__icon-action slds-p-left--none" tabindex="0">
                    <button class="slds-button slds-button--icon slds-context-bar__button" tabindex="-1">
                        <svg aria-hidden="true" class="slds-button__icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                        </svg> <span class="slds-assistive-text">Open menu item submenu</span> </button>
                </div>
                <div class="slds-dropdown slds-dropdown--right">
                    <ul class="slds-dropdown__list" role="menu">
                        <li class="slds-dropdown__item"><a href="javascript:void(0);" class="slds-context-bar__label-action" title="Menu Item"><span class="slds-truncate" title="Menu Item">Further items</span></a></li>
                    </ul>
                </div>
            </li>

            <li class="slds-context-bar__item"><a href="javascript:void(0);" class="slds-context-bar__label-action" title="Menu Item"><span class="slds-truncate" title="Menu Item">Storefront</span></a></li>
        </ul>
    </nav>
    <div class="2slds-context-bar__item slds-grid slds-grid_vertical-align-center slds-p-right--small" style="margin-top:-5px">
        <div class="slds-col">
            <span class="slds-badge slds-badge_inverse slds-m-top--small">Sandbox</span>
        </div>
    </div>
    <div class="slds-context-bar__item slds-context-bar__object-switcher slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger--click app-trigger">
        <a href="javascript:void(0);" title="Object" class="slds-context-bar__label-action">
            <span class="slds-truncate">Site Genesis</span>
        </a>
        <div class="slds-context-bar__icon-action">
            <button class="slds-button slds-button--icon-container slds-button--icon-x-small" aria-haspopup="true" title="Open object switcher menu">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                </svg>
                <span class="slds-assistive-text">Open object switcher menu</span>
            </button>
        </div>
        <div class="slds-dropdown slds-dropdown--right">
            <ul class="slds-dropdown__list" role="menu">
                <li class="slds-dropdown__item" role="presentation">
                    <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                        <span class="slds-truncate">
                            <svg class="slds-icon slds-icon--small slds-icon-standard-case slds-m-right--small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#case"></use>
                            </svg>Site Genesis</span>
                    </a>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                    <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                        <span class="slds-truncate">
                            <svg class="slds-icon slds-icon--small slds-icon-custom-custom93 slds-m-right--small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom93"></use>
                            </svg>Site Genesis Global</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="slds-context-bar__item ">
        <div class="slds-context-bar__icon-action">
            <button class="slds-button slds-button--icon-container slds-button--icon-x-small slds-hide" aria-haspopup="true" title="Preview Site">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#new_window"></use>
                </svg>Storefront
                <span class="slds-assistive-text">Preview Site</span>
            </button>
            <button class="slds-button">
                <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#new_window" />
                </svg>Storefront</button>
        </div>
    </div>
</div>
