<div class="slds-hide" style="height: 640px;" id="basket_component_selector">
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-dropdown-components" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse js-close-dropdown" title="Close" id="">
                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Components</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-dropdown-components">
                <ul class="slds-dropdown__list" role="menu">
                    <li class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
                        <span class="slds-text-title_caps">Content Components</span>
                    </li>
                    <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" class="toggle-minicart" role="menuitem" tabindex="0">
                            <span class="slds-truncate" title="Product Tile">Mini Basket</span>
                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#description"></use>
                            </svg>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</div>
