<div class="slds-p-horizontal_none slds-size_1-of-1 slds-theme_shade image menu-border slds-size_1-of-1 placeholder placeholder-component-4">
    <div class="edit_view"></div>
    <div class="delete_view"></div>
<!-- TEXT COMPONENT PLACEHOLDER -->
    <!-- mini menu -->
    <div class="slds-grid slds-grid_align-center">
        <div class="mini-menu 2slds-hide slds-grid slds-grid_align-center text-component">
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-dragdrop-component" title="Move">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                    </svg> <span class="slds-assistive-text">Move</span> </button>
            </div>
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-edit-component" title="Edit">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                    </svg> <span class="slds-assistive-text">Edit</span> </button>
            </div>
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-delete-component" title="Delete">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                    </svg> <span class="slds-assistive-text">Delete</span> </button>
            </div>
        </div>
    </div>
    <!-- /mini menu -->

    <div class="slds-align_absolute-center slds-align_absolute-center slds-p-around_medium slds-grid slds-wrap">
        <div class="slds-size_1-of-1 slds-align_absolute-center">
            <h2 class="slds-m-bottom_xxsmall slds-text-heading--large header-holder">Header</h2>
        </div>
        <div class="slds-size_1-of-1 slds-align_absolute-center text-holder">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dapibus felis sit amet lacus condimentum, sit amet tristique velit euismod. Pellentesque vehicula erat vel lectus pharetra, at accumsan magna lacinia. Praesent et fermentum mi, at porta enim. Mauris bibendum, ante et bibendum euismod, felis ligula tincidunt lectus, sed condimentum sapien tellus eu massa. Morbi in ullamcorper diam. Curabitur porttitor dolor vel odio interdum, a gravida libero iaculis. Aenean non risus turpis. Suspendisse eu orci mauris. Quisque enim elit, faucibus et neque eu, efficitur malesuada odio. Pellentesque nec lectus odio. Quisque vehicula arcu eget finibus tincidunt. Nam ipsum libero, venenatis a vehicula nec, viverra et tellus.
        </div>
    </div>
<!-- /TEXT COMPONENT PLACEHOLDER -->
</div>
