<div class="slds-grid slds-col slds-grid_vertical slds-text-align_center page-bottom-section" style="opacity:0.2">
  <div class="slds-grid slds-align_absolute-center slds-border_bottom">
    <div class="slds-p-around_small slds-text-align_left slds-align-top">
      <h4>Locate Store</h4>
      <p>The Store Locator is designed to help you find the closest store near you.</p>
    </div>

    <div class="slds-p-around_small slds-text-align_left slds-align-top">
      <h4>Account</h4>
      <p>
        <ul>
          <li>My Account</li>
          <li>Check Order</li>
          <li>Wish List</li>
          <li>Gift Registry</li>
        </ul>
      </p>
    </div>

    <div class="slds-p-around_small slds-text-align_left slds-align-top">
      <h4>Customer Service</h4>
      <p>
        <ul>
          <li>Contact Us</li>
          <li>Gift Certificates</li>
          <li>Help</li>
          <li>Site Map</li>
        </ul>
      </p>
    </div>

    <div class="slds-p-around_small slds-text-align_left slds-align-top">
      <h4>About Us/h4>
        <p>
          <ul>
            <li>About Us</li>
            <li>Privacy</li>
            <li>Terms</li>
            <li>Jobs</li>
          </ul>
        </p>
      </div>

  </div>
  <div class="slds-grid slds-align_absolute-center">
    <div class="slds-p-around_small slds-text-align_left slds-align-top">
      <ul class="slds-list_horizontal">
        <li class="slds-p-right_small"><img src="/assets/linkedin-brands.svg" width="32"  /></li>
        <li class="slds-p-right_small"><img src="/assets/facebook-brands.svg" width="32"  /></li>
        <li class="slds-p-right_small"><img src="/assets/twitter-square-brands.svg" width="32"  /></li>
        <li><img src="/assets/arrow-alt-circle-up-solid.svg" width="32"  /></li>
      </ul>
    </div>
    <div class="slds-p-around_small slds-text-align_left slds-align-top">
      <p>© 2004-2018 Commerce Cloud, a Salesforce company. All Rights Reserved.</p>
      <p>This is a demo store only. Orders made will NOT be processed.</p>
    </div>
  </div>
</div>
