<div class="slds-grid">
    <div class="slds-border_right slds-p-right_small 2slds-p-top_small" style="min-width:200px;">

        <div class="slds-p-bottom--small">
          <button class="slds-button slds-button_neutral slds-size_small">
            <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#upload" />
            </svg>Upload Files
          </button>
        </div>

        <div class="slds-tree_container" role="application">
            <h4 class="removed--slds-text-title_caps slds-p-bottom_small" id="treeheading">Folders</h4>
            <div class="slds-tree_container" role="application">
              <ul class="slds-tree" role="tree" aria-labelledby="treeheading">
                <li role="treeitem" aria-level="1" aria-expanded="false" aria-label="Men">
                  <div class="slds-tree__item">
                    <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-hidden="true" tabindex="-1" title="Expand Tree Branch">
                      <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
                      </svg>
                      <span class="slds-assistive-text">Expand Tree Branch</span>
                    </button>
                    <span class="slds-truncate" title="Tree Branch">Men</span>
                  </div>
                  <ul role="group">
                    <li role="treeitem" aria-level="2">
                      <div class="slds-tree__item">
                        <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" aria-hidden="true" tabindex="-1" title="Expand Tree Item">
                          <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
                          </svg>
                          <span class="slds-assistive-text">Expand Tree Item</span>
                        </button>
                        <span class="slds-truncate" title="Tree Item">Tree Item</span>
                      </div>
                    </li>
                  </ul>
                </li>

                <li role="treeitem" aria-level="1" aria-expanded="true" aria-label="Women">
                  <div class="slds-tree__item">
                    <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-hidden="true" tabindex="-1" title="Expand Tree Branch">
                      <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
                      </svg>
                      <span class="slds-assistive-text">Expand Tree Branch</span>
                    </button>
                    <span class="slds-truncate" title="Tree Branch">Women</span>
                  </div>
                  <ul role="group">
                    <li role="treeitem" aria-level="2" aria-selected="true" tabindex="0">
                      <div class="slds-tree__item">
                        <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" aria-hidden="true" tabindex="-1" title="Expand Tree Item">
                          <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
                          </svg>
                          <span class="slds-assistive-text">Expand Tree Item</span>
                        </button>
                        <span class="slds-truncate" title="Tree Item">Selected Folder</span>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>





            <ul class="slds-tree slds-hide" role="tree" aria-labelledby="treeheading" aria-activedescendant="tree0-node1">
              <li id="tree0-node1" role="treeitem" aria-level="1" aria-expanded="true">
                  <div class="slds-tree__item slds-is-selected">
                      <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-controls="tree0-node1" title="Toggle">
                          <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                          </svg>
                          <span class="slds-assistive-text">Toggle</span>
                      </button><a id="tree0-node1__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Tree Branch">Selected Folder</a></div>
                  <ul class="slds-is-expanded" role="group" aria-labelledby="tree0-node1__label">
                    <li id="tree0-node3" role="treeitem" aria-level="1" aria-expanded="false">
                        <div class="slds-tree__item">
                            <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-controls="tree0-node2" title="Toggle">
                                <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <span class="slds-assistive-text">Toggle</span>
                            </button><a id="tree0-node1__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Tree Branch">Another Folder</a></div>
                        <ul class="slds-is-expanded" role="group" aria-labelledby="tree0-node1__label">
                        </ul>
                    </li>
                  </ul>
              </li>
              <li id="tree0-node2" role="treeitem" aria-level="1" aria-expanded="false">
                  <div class="slds-tree__item">
                      <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-controls="tree0-node2" title="Toggle">
                          <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                          </svg>
                          <span class="slds-assistive-text">Toggle</span>
                      </button><a id="tree0-node1__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Tree Branch">Another Folder</a></div>
                  <ul class="slds-is-expanded" role="group" aria-labelledby="tree0-node1__label">
                  </ul>
              </li>
            </ul>
        </div>
    </div>
    <div class="slds-p-left--small slds-p-right--small slds-grid slds-col">

      <!-- IMAGES -->
        <!--
        <div class="slds-size-1-of-1 slds-col">
          <ul class="slds-grid slds-grid_pull-padded" style="display: flex; flex-wrap: wrap;">
              <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-3 slds-p-around_small">
                  <div class="slds-file slds-file_card">
                    <figure>
                      <a href="javascript:void(0);" class="slds-file__crop">
                        <img src="/assets/slide1.jpg" alt="Description of the image" class="image-thumb" />
                      </a>
                      <figcaption class="slds-file__title slds-file__title_card">
                        <div class="slds-media slds-media_small slds-media_center">
                          <div class="slds-media__figure slds-line-height_reset">
                            <span class="slds-icon_container" title="pdf">
                              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image" />
                              </svg>
                              <span class="slds-assistive-text">jpg</span>
                            </span>
                          </div>
                          <div class="slds-media__body">
                            <span class="slds-file__text slds-truncate" title="slide1.jpgf">slide1.jpg</span>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
              </li>
              <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-3 slds-p-around_small">
                  <div class="slds-file slds-file_card">
                    <figure>
                      <a href="javascript:void(0);" class="slds-file__crop">
                        <img src="/assets/slide2.jpg" alt="Description of the image" class="image-thumb" />
                      </a>
                      <figcaption class="slds-file__title slds-file__title_card">
                        <div class="slds-media slds-media_small slds-media_center">
                          <div class="slds-media__figure slds-line-height_reset">
                            <span class="slds-icon_container" title="pdf">
                              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image" />
                              </svg>
                              <span class="slds-assistive-text">jpg</span>
                            </span>
                          </div>
                          <div class="slds-media__body">
                            <span class="slds-file__text slds-truncate" title="slide2.jpgf">slide2.jpg</span>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
              </li>
              <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-3 slds-p-around_small">
                  <div class="slds-file slds-file_card">
                    <figure>
                      <a href="javascript:void(0);" class="slds-file__crop">
                        <img src="/assets/slide3.jpg" alt="Description of the image" class="image-thumb" />
                      </a>
                      <figcaption class="slds-file__title slds-file__title_card">
                        <div class="slds-media slds-media_small slds-media_center">
                          <div class="slds-media__figure slds-line-height_reset">
                            <span class="slds-icon_container" title="pdf">
                              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image" />
                              </svg>
                              <span class="slds-assistive-text">jpg</span>
                            </span>
                          </div>
                          <div class="slds-media__body">
                            <span class="slds-file__text slds-truncate" title="slide3.jpgf">slide3.jpg</span>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
              </li>

              <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-3 slds-p-around_small">
                  <div class="slds-file slds-file_card">
                    <figure>
                      <a href="javascript:void(0);" class="slds-file__crop">
                        <img src="/assets/left-top.jpg" alt="Description of the image" class="image-thumb" />
                      </a>
                      <figcaption class="slds-file__title slds-file__title_card">
                        <div class="slds-media slds-media_small slds-media_center">
                          <div class="slds-media__figure slds-line-height_reset">
                            <span class="slds-icon_container" title="pdf">
                              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image" />
                              </svg>
                              <span class="slds-assistive-text">jpg</span>
                            </span>
                          </div>
                          <div class="slds-media__body">
                            <span class="slds-file__text slds-truncate" title="left-top.jpgf">left-top.jpg</span>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
              </li>
              <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-3 slds-p-around_small">
                  <div class="slds-file slds-file_card">
                    <figure>
                      <a href="javascript:void(0);" class="slds-file__crop">
                        <img src="/assets/left-bottom.jpg" alt="Description of the image" class="image-thumb" />
                      </a>
                      <figcaption class="slds-file__title slds-file__title_card">
                        <div class="slds-media slds-media_small slds-media_center">
                          <div class="slds-media__figure slds-line-height_reset">
                            <span class="slds-icon_container" title="pdf">
                              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image" />
                              </svg>
                              <span class="slds-assistive-text">jpg</span>
                            </span>
                          </div>
                          <div class="slds-media__body">
                            <span class="slds-file__text slds-truncate" title="left-bottom.jpgf">left-bottom.jpg</span>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
              </li>
              <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-3 slds-p-around_small">
                  <div class="slds-file slds-file_card">
                    <figure>
                      <a href="javascript:void(0);" class="slds-file__crop">
                        <img src="/assets/right.jpg" alt="Description of the image" class="image-thumb" />
                      </a>
                      <figcaption class="slds-file__title slds-file__title_card">
                        <div class="slds-media slds-media_small slds-media_center">
                          <div class="slds-media__figure slds-line-height_reset">
                            <span class="slds-icon_container" title="pdf">
                              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image" />
                              </svg>
                              <span class="slds-assistive-text">jpg</span>
                            </span>
                          </div>
                          <div class="slds-media__body">
                            <span class="slds-file__text slds-truncate" title="right.jpgf">right.jpg</span>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
              </li>


              <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-3 slds-p-around_small">
                  <div class="slds-file slds-file_card">
                    <figure>
                      <a href="javascript:void(0);" class="slds-file__crop">
                        <img src="/assets/banner1.jpg" alt="Description of the image" class="image-thumb" />
                      </a>
                      <figcaption class="slds-file__title slds-file__title_card">
                        <div class="slds-media slds-media_small slds-media_center">
                          <div class="slds-media__figure slds-line-height_reset">
                            <span class="slds-icon_container" title="pdf">
                              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image" />
                              </svg>
                              <span class="slds-assistive-text">jpg</span>
                            </span>
                          </div>
                          <div class="slds-media__body">
                            <span class="slds-file__text slds-truncate" title="banner1.jpgf">banner1.jpg</span>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
              </li>
              <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-3 slds-hide">
                  <div class="slds-file slds-file_card">
                    <figure>
                      <a href="javascript:void(0);" class="slds-file__crop">
                        <img src="/assets/slide2.jpg" alt="Description of the image" class="image-thumb" />
                      </a>
                      <figcaption class="slds-file__title slds-file__title_card">
                        <div class="slds-media slds-media_small slds-media_center">
                          <div class="slds-media__figure slds-line-height_reset">
                            <span class="slds-icon_container" title="pdf">
                              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image" />
                              </svg>
                              <span class="slds-assistive-text">jpg</span>
                            </span>
                          </div>
                          <div class="slds-media__body">
                            <span class="slds-file__text slds-truncate" title="slide2.jpgf">slide2.jpg</span>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
              </li>
              <li class="slds-p-horizontal_xx-small slds-size_1-of-2 slds-medium-size_1-of-3 slds-hide">
                  <div class="slds-file slds-file_card">
                    <figure>
                      <a href="javascript:void(0);" class="slds-file__crop">
                        <img src="/assets/slide3.jpg" alt="Description of the image" class="image-thumb" />
                      </a>
                      <figcaption class="slds-file__title slds-file__title_card">
                        <div class="slds-media slds-media_small slds-media_center">
                          <div class="slds-media__figure slds-line-height_reset">
                            <span class="slds-icon_container" title="pdf">
                              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image" />
                              </svg>
                              <span class="slds-assistive-text">jpg</span>
                            </span>
                          </div>
                          <div class="slds-media__body">
                            <span class="slds-file__text slds-truncate" title="slide3.jpgf">slide3.jpg</span>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
              </li>


          </ul>
        </div>
      -->
        <div class="slds-col">
            
        </div>


        <!-- /IMAGES -->
    </div>

</div>
