
<div class="slds-hide delete-component modal" id="modal-id-4-delete">
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open " aria-labelledby="header44" aria-describedby="modal-content-id-4-delete">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button--icon slds-modal__close slds-button--icon-inverse js-close-modal-id-4-delete" title="Close">
                    <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="header43" class="slds-text-heading--medium">Delete Component</h2>
            </header>
            <div class="slds-modal__content slds-p-around--medium slds-text-align_center" id="modal-content-id-4-delete">
                <p>Are you sure you want to delete this component?</p>
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button--neutral trigger-close-modal js-close-modal-id-4-delete">Cancel</button>
                <button class="slds-button slds-button_destructive action-delete-component">Delete</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop--open"></div>
</div>
