<div class="modal slds-hide" id="modal-publish">
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open " aria-labelledby="header44" aria-describedby="modal-content-id-3">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button--icon slds-modal__close slds-button--icon-inverse js-close-modal-id-101 trigger-close trigger-close-modal js-close-modal-id-101 trigger-cancel" title="Close" id="">
                    <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="header43" class="slds-text-heading--medium">Publish Page</h2>
            </header>
            <div class="slds-modal__content slds-p-around--medium slds-text-align_center" id="modal-content-id-3">
                <p class="slds-text-heading--large slds-m-bottom--x-small">You are about to publish this page!</p>
                <p class="slds-text-heading--medium slds-m-bottom--x-small">The page will be published at:</p>




<div class="slds-form slds-form_compound slds-p-top_small">
    <fieldset class="slds-form-element">
      <legend class="slds-form-element__label slds-form-element__legend slds-text-title_caps slds-text-align_left"></legend>
      <div class="slds-form-element__group">
        <div class="slds-form-element__row slds-grid">
          <div class="slds-form-element slds-size_1-of-2 slds-col slds-text-align_left">
            <label class="slds-form-element__label" for="input-01">Day</label>
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
              <input type="text" id="date-input-id" placeholder="12.12.2018" class="slds-input" />
              <button class="slds-button slds-button_icon slds-input__icon slds-input__icon--right" title="Select a date">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#event" />
                </svg>
                <span class="slds-assistive-text">Select a date</span>
              </button>
            </div>
          </div>
          <div class="slds-form-element slds-size_1-of-2 slds-col slds-text-align_left">
            <label class="slds-form-element__label" for="input-02">Time</label>
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
              <input type="text" id="date-input-id" placeholder="11:56:00 PM" class="slds-input" />
              <button class="slds-button slds-button_icon slds-input__icon slds-input__icon--right" title="Select a date">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clock" />
                </svg>
                <span class="slds-assistive-text">Select a date</span>
              </button>
            </div>
              


          </div>
        </div>
      </div>
    </fieldset>





</div>




            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button--neutral trigger-close-modal js-close-modal-id-101 trigger-cancel">Cancel</button>
                <button class="slds-button slds-button_brand js-save-modal-id-101 trigger-publish trigger-close-modal js-close-modal-id-101 trigger-cancel">Publish</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop--open"></div>
</div>
