<div class="slds-panel slds-panel_docked slds-panel_docked-left slds-p-left_none slds-is-open" aria-hidden="false">
  <div class="slds-panel__header">
    <button class="slds-hide slds-button slds-button_icon slds-button_icon-small" title="Open Panel" id="button_left_expand">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#forward"></use>
        </svg>
        <span class="slds-assistive-text">Close Filter Panel</span>
    </button>
    <h2 class="slds-panel__header-title slds-text-heading_small">Components</h2>
      <button class="slds-button slds-button_icon slds-panel__close slds-button_icon-small slds-hide" title="Close Panel" id="button_left_collapse">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#back"></use>
          </svg>
          <span class="slds-assistive-text">Close Filter Panel</span>
      </button>
    </div>
  
    
 {% include "_inc_builder-components.html" %}
   

  {#
  <div class="slds-panel__body slds-hide slds-p-left_none">
    <!-- sort: true -->
    <div class="list-group-item" style="background: green; height:20px">
      <div class="tool"><span class="my-handle">::</span> Row</div>
      <div class="slds-hide placeholder">Placeholder display</div>
      <div class="slds-hide   navigator">Navigator display</div>
    </div>
  </div>  
  #}  


</div>
