<div class="slds-grid slds-grid_vertical slds-col region region_container" style="background:#eee" id="region_container">
  <!-- REGION-->
  <ul id="" class="list slds-has-dividers_bottom-space region_list ui-sortable"></ul>
  <!-- /REGION-->
  <div class="slds-col slds-text-align_center slds-p-around_small">
    <button class="slds-button slds-button_neutral slds-button--icon-more button--add-component" aria-describedby="title" title="Add">
      <svg class="slds-button__icon" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
      </svg>
      <span class="slds-assistive-text">Add Component</span>
    </button>
  </div>
</div>
