<div class="modal slds-hide" id="modal-code">
    <section role="dialog" tabindex="-1" class="slds-modal slds-modal_large slds-fade-in-open " aria-labelledby="header44" aria-describedby="modal-content-id-3">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button--icon slds-modal__close slds-button--icon-inverse js-close-modal-id-101 trigger-close trigger-close-modal js-close-modal-id-101 trigger-cancel" title="Close" id="">
                    <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="header43" class="slds-text-heading--medium">Source Code</h2>
            </header>
            <div class="slds-modal__content slds-grow slds-p-around--medium slds-push slds-text-align_center" id="modal-content-id-3">
                <p>
                    <div class="slds-form-element slds-grow">
                        <!--label class="slds-form-element__label" for="textarea-id-01">Textarea Label</label-->
                        <div class="slds-form-element__control">
                            <textarea id="codeview" class="slds-textarea" style="height:100%" placeholder="Placeholder Text"></textarea>
                        </div>
                    </div>
                </p>

            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button--neutral trigger-close-modal js-close-modal-id-101 trigger-cancel">Cancel</button>
                <button class="slds-button slds-button_brand js-save-modal-id-101 trigger-publish trigger-close-modal js-close-modal-id-101 trigger-cancel">Save Code</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop--open"></div>
</div>
