<!-- MODAL SHOW COUPONS -->
<div class="slds-hide" 2style="height: 640px;" id="modal-coupons">
  <section role="dialog" tabindex="-1" aria-labelledby="modal-coupons-content" aria-modal="true" aria-describedby="modal-coupons-content" class="slds-modal slds-fade-in-open">
    <div class="slds-modal__container">
      <header class="slds-modal__header">
        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
          <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
          </svg>
          <span class="slds-assistive-text">Close</span>
        </button>
        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Assigned Customer Groups</h2>
      </header>
      <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">

        <ul class="slds-has-dividers_around-space">
          <li class="slds-item">Sample Code</li>
          <li class="slds-item">1234</li>
          <li class="slds-item">12345</li>
          <li class="slds-item">123456</li>
        </ul>


      </div>
    </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open"></div>
</div>
<!-- /MODAL SHOW COUPONS -->
