<nav>
<ul class="slds-has-dividers_bottom 2slds-has-block-links_space">
  <!-- item -->
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small" style="background:#f4f6f9">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);" class="action_level_1">catalog_search</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">catalogs</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">category_search</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">code_versions</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">custom_object_definitions</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">custom_objects</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">custom_objects_search</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">customer_lists</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">global_preferences</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">inventory_list_search</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">inventory_lists</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">PLACEHOLDER</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">job_execution_search</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">jobs</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">libraries</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">locale_info</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">product_search</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">products</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">role_search</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">roles</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">settings</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">site_preferences</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">site_search</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">sites</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">system_object_definition_search</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">system_object_definitions</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <li class="slds-item 2slds-p-around_small slds-p-left_small  slds-p-right_small slds-p-bottom_small slds-p-top_small">
      <div class="slds-grid slds-grid_vertical-align-center">
          <div class="slds-col slds-text-align_left">
            <a href="javascript:void(0);">users</a>
          </div>
          <div class="">
            <button class="slds-button slds-button_icon" title="Provide description of action">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
          </div>
      </div>
  </li>
  <!-- /item -->
</ul>
</nav>
