<div>
  <ul id="component_list" class="2list" role="menu">
    <li class="slds-dropdown__header slds-p-bottom_small slds-truncate layout_title" title="Menu Sub Heading" role="separator">
        <span class="slds-text-title_caps">Layout</span>
    </li>
      {% include "_inc_builder-component-row.html" %}
    <li class="slds-dropdown__header slds-truncate slds-p-bottom_small" title="Menu Sub Heading" role="separator">
        <span class="slds-text-title_caps">Content</span>
    </li>
      {% include "_inc_builder-component-banner.html" %}
      {% include "_inc_builder-component-category.html" %}
      {% include "_inc_builder-component-rtf.html" %}
  </ul>
</div>



  </ul>
