<div class="spinner">
    <table class="slds-table slds-table_bordered slds-table_resizable-cols slds-table_fixed-layout slds-table_striped" role="grid">
        <thead>
            <tr class="slds-line-height--reset">
                <th scope="col" style="width:3.25rem;" class="slds-text-align--right">
                    <div class="slds-th__action slds-th__action--form">
                        <span class="slds-checkbox">
                            <input type="checkbox" name="options" id="checkbox-170">
                            <label class="slds-checkbox__label" for="checkbox-170">
                                <span class="slds-checkbox--faux"></span>
                                <span class="slds-form-element__label slds-assistive-text">Select All</span>
                            </label>
                        </span>
                    </div>
                </th>
                <th class="slds-is-sortable slds-text-title--caps" scope="col" style="width:40%;" id="th_name" data-sort="string">
                    <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset" tabindex="0"> <span class="slds-assistive-text">Sort </span> <span class="slds-truncate" title="Name">Name</span>
                        <div class="slds-icon_container">
                            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                            </svg>
                        </div> <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span> </a>
                    <div>
                        <label for="cell-resize-handle-568" class="slds-assistive-text">Account Name column width</label>
                        <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-568" tabindex="0"> </div>
                </th>
                <th class="slds-is-sortable   slds-text-title--caps" scope="col" id="th_pagetype"  data-sort="string">
                    <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset" tabindex="0"> <span class="slds-assistive-text">Sort </span> <span class="slds-truncate" title="page Type">Page Type</span>
                        <div class="slds-icon_container">
                            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                            </svg>
                        </div> <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span> </a>
                    <div>
                        <label for="cell-resize-handle-568" class="slds-assistive-text">Account Name column width</label>
                        <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-568" tabindex="0"> </div>
                </th>
                <th class="slds-is-sortable   slds-text-title--caps" scope="col" style="width:20%;" id="th_id"   data-sort="string">
                    <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset" tabindex="0"> <span class="slds-assistive-text">Sort </span> <span class="slds-truncate" title="ID">ID</span>
                        <div class="slds-icon_container">
                            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                            </svg>
                        </div> <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span> </a>
                    <div>
                        <label for="cell-resize-handle-569" class="slds-assistive-text">Close Date column width</label>
                        <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-569" tabindex="0"> </div>
                </th>
                <th class="2slds-is-sortable   slds-text-title--caps" scope="col">
                    <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset" tabindex="0"> <span class="slds-assistive-text">Sort </span> <span class="slds-truncate" title="Status">Status</span>
                        <div class="slds-icon_container">
                            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                            </svg>
                        </div> <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span> </a>
                    <div>
                        <label for="cell-resize-handle-569" class="slds-assistive-text">Close Date column width</label>
                        <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-569" tabindex="0"> </div>
                </th>
                <th class="slds-is-sortable   slds-text-title--caps" scope="col" style="width:16em" id="th_created"  data-sort="string">
                    <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset" tabindex="0"> <span class="slds-assistive-text">Sort </span> <span class="slds-truncate" title="Created">Created</span>
                        <div class="slds-icon_container">
                            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                            </svg>
                        </div> <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span> </a>
                    <div>
                        <label for="cell-resize-handle-569" class="slds-assistive-text">Close Date column width</label>
                        <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-569" tabindex="0"> </div>
                </th>
                <th scope="col" style="width:3.25rem;">
                    <div class="slds-th__action"> <span class="slds-assistive-text">Actions</span> </div>
                </th>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>

    <div role="status" class="slds-spinner slds-spinner_brand slds-spinner_medium">
        <span class="slds-assistive-text">Loading</span>
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
    </div>


</div>
