<header class="header">
    <div class="main-container">
        <nav class="demos-nav">
            <a href="#demo1" class="demos-nav__link">demo1</a>
            <a href="#demo2" class="demos-nav__link">demo2</a>
            <a href="#demo3" class="demos-nav__link">demo3</a>
            <a href="#demo4" class="demos-nav__link">demo4</a>
        </nav>
    </div>
</header>
<section class="section">
    <h2 class="title">Demo 1</h2>
    <div id="demo1" class="cssui-slider cssui-slider_mod--animation-3dslide-to-left">
        <input id="cssui-slider-control-label1" type="radio" class="cssui-slider__switch" name="cssui-slider-control" checked>
        <label for="cssui-slider-control-label1" class="cssui-slider__control">open first slide</label>
        <input id="cssui-slider-control-label2" type="radio" class="cssui-slider__switch" name="cssui-slider-control">
        <label for="cssui-slider-control-label2" class="cssui-slider__control">open second slide</label>
        <input id="cssui-slider-control-label3" type="radio" class="cssui-slider__switch" name="cssui-slider-control">
        <label for="cssui-slider-control-label3" class="cssui-slider__control">open third slide</label>
        <div class="cssui-slider__slides">
            <div class="cssui-slider__slide">
                <div class="cssui-slider__content">
                    <div class="welcome">
                        <img class="avatar" src="https://stas-melnikov.ru/cliparts/lily.jpg" alt="Foto of Moreen Gill">
                        <div class="welcome__column">
                            <h2 class="welcome__msg">
                                Hi, I'm Moreen Gill
                                <span class="welcome__label">I'm a Web-Designer</span>
                            </h2>
                            <div class="socials">
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-twitter"></i>
                                    <span class="cssui-social__name">twitter</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-linkedin"></i>
                                    <span class="cssui-social__name">linkedin</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-codepen"></i>
                                    <span class="cssui-social__name">codepen</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cssui-slider__slide">
                <div class="cssui-slider__content">
                    <div class="welcome">
                        <img class="avatar" src="https://stas-melnikov.ru/cliparts/stas.jpg" alt="Foto of Stas Melnikov">
                        <div class="welcome__column">
                            <h2 class="welcome__msg">
                                Hi, I'm Stas Melnikov
                                <span class="welcome__label">I'm a UI developer</span>
                            </h2>
                            <div class="socials">
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-twitter"></i>
                                    <span class="cssui-social__name">twitter</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-linkedin"></i>
                                    <span class="cssui-social__name">linkedin</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-codepen"></i>
                                    <span class="cssui-social__name">codepen</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cssui-slider__slide">
                <div class="cssui-slider__content">
                    <div class="welcome">
                        <img class="avatar" src="https://stas-melnikov.ru/cliparts/ksenia.jpg" alt="Foto of Tiffani Bryana">
                        <div class="welcome__column">
                            <h2 class="welcome__msg">
                                Hi, I'm Tiffani Bryana
                                <span class="welcome__label">I'm a Graphic Designer</span>
                            </h2>
                            <div class="socials">
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-twitter"></i>
                                    <span class="cssui-social__name">twitter</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-linkedin"></i>
                                    <span class="cssui-social__name">linkedin</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-codepen"></i>
                                    <span class="cssui-social__name">codepen</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <h2 class="title">Demo 2</h2>
    <div id="demo2" class="cssui-slider cssui-slider_mod--animation-3dscale">
        <input id="cssui-slider-control-label4" type="radio" class="cssui-slider__switch" name="cssui-slider-control2" checked>
        <label for="cssui-slider-control-label4" class="cssui-slider__control">open first slide</label>
        <input id="cssui-slider-control-label5" type="radio" class="cssui-slider__switch" name="cssui-slider-control2">
        <label for="cssui-slider-control-label5" class="cssui-slider__control">open second slide</label>
        <input id="cssui-slider-control-label6" type="radio" class="cssui-slider__switch" name="cssui-slider-control2">
        <label for="cssui-slider-control-label6" class="cssui-slider__control">open third slide</label>
        <div class="cssui-slider__slides">
            <div class="cssui-slider__slide">
                <div class="cssui-slider__content">
                    <div class="welcome">
                        <img class="avatar" src="https://stas-melnikov.ru/cliparts/lily.jpg" alt="Foto of Moreen Gill">
                        <div class="welcome__column">
                            <h2 class="welcome__msg">
                                Hi, I'm Moreen Gill
                                <span class="welcome__label">I'm a Web-Designer</span>
                            </h2>
                            <div class="socials">
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-twitter"></i>
                                    <span class="cssui-social__name">twitter</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-linkedin"></i>
                                    <span class="cssui-social__name">linkedin</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-codepen"></i>
                                    <span class="cssui-social__name">codepen</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cssui-slider__slide">
                <div class="cssui-slider__content">
                    <div class="welcome">
                        <img class="avatar" src="https://stas-melnikov.ru/cliparts/stas.jpg" alt="Foto of Stas Melnikov">
                        <div class="welcome__column">
                            <h2 class="welcome__msg">
                                Hi, I'm Stas Melnikov
                                <span class="welcome__label">I'm a UI developer</span>
                            </h2>
                            <div class="socials">
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-twitter"></i>
                                    <span class="cssui-social__name">twitter</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-linkedin"></i>
                                    <span class="cssui-social__name">linkedin</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-codepen"></i>
                                    <span class="cssui-social__name">codepen</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cssui-slider__slide">
                <div class="cssui-slider__content">
                    <div class="welcome">
                        <img class="avatar" src="https://stas-melnikov.ru/cliparts/ksenia.jpg" alt="Foto of Tiffani Bryana">
                        <div class="welcome__column">
                            <h2 class="welcome__msg">
                                Hi, I'm Tiffani Bryana
                                <span class="welcome__label">I'm a Graphic Designer</span>
                            </h2>
                            <div class="socials">
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-twitter"></i>
                                    <span class="cssui-social__name">twitter</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-linkedin"></i>
                                    <span class="cssui-social__name">linkedin</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-codepen"></i>
                                    <span class="cssui-social__name">codepen</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <h2 class="title">Demo 3</h2>
    <div id="demo3" class="cssui-slider cssui-slider_mod--slide-to-left">
        <input id="cssui-slider-control-label7" type="radio" class="cssui-slider__switch" name="cssui-slider-control3" checked>
        <label for="cssui-slider-control-label7" class="cssui-slider__control">open first slide</label>
        <input id="cssui-slider-control-label8" type="radio" class="cssui-slider__switch" name="cssui-slider-control3">
        <label for="cssui-slider-control-label8" class="cssui-slider__control">open second slide</label>
        <input id="cssui-slider-control-label9" type="radio" class="cssui-slider__switch" name="cssui-slider-control3">
        <label for="cssui-slider-control-label9" class="cssui-slider__control">open third slide</label>
        <div class="cssui-slider__slides">
            <div class="cssui-slider__slide">
                <div class="cssui-slider__content">
                    <div class="welcome">
                        <img class="avatar" src="https://stas-melnikov.ru/cliparts/lily.jpg" alt="Foto of Moreen Gill">
                        <div class="welcome__column">
                            <h2 class="welcome__msg">
                                Hi, I'm Moreen Gill
                                <span class="welcome__label">I'm a Web-Designer</span>
                            </h2>
                            <div class="socials">
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-twitter"></i>
                                    <span class="cssui-social__name">twitter</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-linkedin"></i>
                                    <span class="cssui-social__name">linkedin</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-codepen"></i>
                                    <span class="cssui-social__name">codepen</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cssui-slider__slide">
                <div class="cssui-slider__content">
                    <div class="welcome">
                        <img class="avatar" src="https://stas-melnikov.ru/cliparts/stas.jpg" alt="Foto of Stas Melnikov">
                        <div class="welcome__column">
                            <h2 class="welcome__msg">
                                Hi, I'm Stas Melnikov
                                <span class="welcome__label">I'm a UI developer</span>
                            </h2>
                            <div class="socials">
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-twitter"></i>
                                    <span class="cssui-social__name">twitter</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-linkedin"></i>
                                    <span class="cssui-social__name">linkedin</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-codepen"></i>
                                    <span class="cssui-social__name">codepen</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cssui-slider__slide">
                <div class="cssui-slider__content">
                    <div class="welcome">
                        <img class="avatar" src="https://stas-melnikov.ru/cliparts/ksenia.jpg" alt="Foto of Tiffani Bryana">
                        <div class="welcome__column">
                            <h2 class="welcome__msg">
                                Hi, I'm Tiffani Bryana
                                <span class="welcome__label">I'm a Graphic Designer</span>
                            </h2>
                            <div class="socials">
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-twitter"></i>
                                    <span class="cssui-social__name">twitter</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-linkedin"></i>
                                    <span class="cssui-social__name">linkedin</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-codepen"></i>
                                    <span class="cssui-social__name">codepen</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <h2 class="title">Demo 4</h2>
    <div id="demo4" class="cssui-slider cssui-slider_mod--slide-to-top">
        <input id="cssui-slider-control-label10" type="radio" class="cssui-slider__switch" name="cssui-slider-control4" checked>
        <label for="cssui-slider-control-label10" class="cssui-slider__control">open first slide</label>
        <input id="cssui-slider-control-label11" type="radio" class="cssui-slider__switch" name="cssui-slider-control4">
        <label for="cssui-slider-control-label11" class="cssui-slider__control">open second slide</label>
        <input id="cssui-slider-control-label12" type="radio" class="cssui-slider__switch" name="cssui-slider-control4">
        <label for="cssui-slider-control-label12" class="cssui-slider__control">open third slide</label>
        <div class="cssui-slider__slides">
            <div class="cssui-slider__slide">
                <div class="cssui-slider__content">
                    <div class="welcome">
                        <img class="avatar" src="https://stas-melnikov.ru/cliparts/lily.jpg" alt="Foto of Moreen Gill">
                        <div class="welcome__column">
                            <h2 class="welcome__msg">
                                Hi, I'm Moreen Gill
                                <span class="welcome__label">I'm a Web-Designer</span>
                            </h2>
                            <div class="socials">
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-twitter"></i>
                                    <span class="cssui-social__name">twitter</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-linkedin"></i>
                                    <span class="cssui-social__name">linkedin</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-codepen"></i>
                                    <span class="cssui-social__name">codepen</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cssui-slider__slide">
                <div class="cssui-slider__content">
                    <div class="welcome">
                        <img class="avatar" src="https://stas-melnikov.ru/cliparts/stas.jpg" alt="Foto of Stas Melnikov">
                        <div class="welcome__column">
                            <h2 class="welcome__msg">
                                Hi, I'm Stas Melnikov
                                <span class="welcome__label">I'm a UI developer</span>
                            </h2>
                            <div class="socials">
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-twitter"></i>
                                    <span class="cssui-social__name">twitter</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-linkedin"></i>
                                    <span class="cssui-social__name">linkedin</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-codepen"></i>
                                    <span class="cssui-social__name">codepen</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cssui-slider__slide">
                <div class="cssui-slider__content">
                    <div class="welcome">
                        <img class="avatar" src="https://stas-melnikov.ru/cliparts/ksenia.jpg" alt="Foto of Tiffani Bryana">
                        <div class="welcome__column">
                            <h2 class="welcome__msg">
                                Hi, I'm Tiffani Bryana
                                <span class="welcome__label">I'm a Graphic Designer</span>
                            </h2>
                            <div class="socials">
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-twitter"></i>
                                    <span class="cssui-social__name">twitter</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-linkedin"></i>
                                    <span class="cssui-social__name">linkedin</span>
                                </a>
                                <a href="#0" class="cssui-social">
                                    <i class="icon icon-codepen"></i>
                                    <span class="cssui-social__name">codepen</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="main-container">
        <span>You liked?</span>
        <a href="https://www.paypal.me/melnik909" class="donate" rel="noopener noreferrer" target="_blank">Buy me a tea?</a>
        <a href="https://stas-melnikov.ru" class="melnik909" rel="noopener noreferrer" target="_blank">Developed by Stas Melnikov</a>
    </div>
</footer>