<div class="slds-size_2-of-12 slds-p-right_x-small">
    <div class="slds-form-element">
        <div class="slds-form-element__control">
            <div class="slds-combobox_container">
                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox" id="slds-combobox-picklist-tags">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                        <input type="text" class="slds-input slds-combobox__input" id="combobox-tags" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Tags" readonly="" />
                        <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down" />
                            </svg>
                            <span class="slds-assistive-text">Description of icon</span>
                        </span>
                    </div>
                    <div id="listbox-unique-id" role="listbox">
                        <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                                <li>
                                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right slds-p-around_small" role="none">
                                        <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="" />
                                        <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right slds-m-right_small">
                                            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search" />
                                            </svg>
                                        </span>
                                    </div>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">catalog_search</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">catalogs</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">category_search</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">code_versions</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">custom_object_definitions</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">custom_objects</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">custom_objects_search</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">customer_lists</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">global_preferences</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">inventory_list_search</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">inventory_lists</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">job_execution_search</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">jobs</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">libraries</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">locale_info</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">product_search</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">products</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">role_search</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">roles</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">settings</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">site_preferences</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">site_search</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">sites</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">system_object_definition_search</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">system_object_definitions</span>
                                        </span>
                                    </span>
                                </li>
                                <li role="presentation" class="slds-listbox__item">
                                    <span id="listbox-option-tags-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                        <span class="slds-media__figure">
                                            <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                            </svg>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="Option A">users</span>
                                        </span>
                                    </span>
                                </li>
                            </ul>

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
