<header class="header page-header-section" style="opacity: 0.2">
  <div id="navigation" role="navigation" class="header--contents main-center-bounds">

    <span class="header--nav-trigger js-content-trigger" data-content=".header--nav" role="button" data-initialized="true">
      <span class="header--nav-trigger-cross"></span>
    </span>

    <a class="header--section header--logo" href="/" title="Melissa &amp; Doug Home">
      <img src="/assets/melissa/md_logo.png" alt="Melissa &amp; Doug">
      <span class="visually-hidden">Melissa &amp; Doug</span>
    </a>

    <nav class="header--section header--nav">

      <div class="main-nav menu-category level-1">

        <div class="main-nav--item level-1">
          <a class="main-nav--item-anchor dropdown-carat level-1 main-nav-trigger has-sub-menu" href="https://www.melissaanddoug.com/our-toys/">Shop</a>
        </div>

        <div class="main-nav--item level-1">

          <a class="main-nav--item-anchor dropdown-carat level-1 main-nav-trigger has-sub-menu" href="https://www.melissaanddoug.com/shop-by/">Discover</a>


        </div>

        <div class="main-nav--item level-1">

          <a class="main-nav--item-anchor dropdown-carat level-1 main-nav-trigger " href="https://www.melissaanddoug.com/our-blog-placeholder/">
            Blog
          </a>


        </div>

        <div class="main-nav--item level-1">

          <a class="main-nav--item-anchor dropdown-carat level-1 main-nav-trigger " href="https://www.melissaanddoug.com/mission/">
            Mission
          </a>


        </div>

        <div class="main-nav--item user-info mobile-only">
          <a class="takebackchildhood" href="https://www.melissaanddoug.com/our-mission.html" title="#TakeBackChildhood">
            <span>#TakeBackChildhood</span>
          </a>

          <p class="utility-dropdown--title mobile-only">My Account</p>

          <a class="header--utility-item-anchor" href="https://www.melissaanddoug.com/account" title="Go to: Sign In">Sign In</a>

        </div>
      </div>
    </nav>
    <div class="header--section header-search js-main-search">

      <label for="q" class="search-form--trigger mobile-only"></label>
      <form role="search" action="/search" method="get" name="simpleSearch" class="search-form" novalidate="novalidate">
        <label class="hidden-label" for="q">Search Catalog</label>

        <input
          type="text"
          id="q"
          name="q"
          class="search-form--input js-content-trigger valid"
          data-content=".search-form"
          data-close-self="false"
          data-parent=".header-search"
          data-event="focus"
          value=""
          placeholder="Search"
          autocomplete="off"
          aria-invalid="false"
          data-initialized="true">
        <input type="hidden" name="lang" value="default">
        <span class="search-form--close mobile-only" data-action-close="true">Cancel</span>
        <button type="submit" class="search-form--submit">
          <span class="visually-hidden">Search</span></button>
      </form>
    </div>
    <!-- utility user menu -->
    <div class="header--utility">

      <div class="header--utility-item large-screens-only">
        <a class="takebackchildhood" href="https://www.melissaanddoug.com/our-mission.html" title="#TakeBackChildhood">
          <span>#TakeBackChildhood</span>
        </a>
      </div>

      <div class="header--utility-item user-help large-screens-only">
        <span class="header--utility-item-anchor user-help-trigger dropdown-carat js-content-trigger" data-content=".header--utility-dropdown" data-initialized="true">Need help?</span>
        <ul class="header--utility-dropdown user-help-dropdown">
          <li class="utility-dropdown--title dropdown-carat" data-action-close="true">Need help?</li>
          <li class="utility-dropdown--highlighted">
            <span class="speech-bubble">
              <p>Give us a call!</p>
              <p>We won't bite<span class="alt-link">.</span></p>
              <a href="tel:+1-800-718-5365" class="alt-link">1-800-718-5365</a>
            </span>
            <span class="character-popup">
              <img class="character-image" src="/on/demandware.static/Sites-melissaanddoug-Site/-/default/dw4c740b17/images/UI/MO_puppet_monster.png">
            </span>
          </li>
          <li class="utility-dropdown--item">
            <a href="mailto:care@melissaanddoug.com?Subject=Contact%20Us" class="alt-link">Email Us</a>
          </li>
          <li class="utility-dropdown--item">
            <a href="/helpcenter" class="alt-link">Help Center</a>
          </li>
          <li class="utility-dropdown--item">
            <a href="/helpcenter#returns-and-exchange" class="alt-link">Return an Item</a>
          </li>
        </ul>
      </div>

      <div class="header--utility-item user-info large-screens-only">

        <p class="utility-dropdown--title mobile-only">My Account</p>

        <a class="header--utility-item-anchor" href="https://www.melissaanddoug.com/account" title="Go to: Sign In">Sign In</a>

      </div>

      <div id="mini-cart" class="header--utility-item mini-cart">

        <!-- Report any requested source code -->

        <!-- Report the active source code -->

        <div class="header--minicart mini-cart-total">

          <a class="minicart--trigger mini-cart-link mini-cart-empty" href="https://www.melissaanddoug.com/cart" title="View Cart"></a>

        </div>

      </div>
    </div>
  </div>
</header>







{#
<!-- EDITOR HEADER -->
<div class="slds-grid slds-col slds-grid_vertical slds-text-align_center page-header-section" style="opacity:0.2">
  <div class="slds-grid header-banner" id="static-banner">
    <div class="slds-col">
      FREE 2-Day SHIPPING FOR ORDERS OVER $300
    </div>
  </div>
  <div class="slds-grid slds-wrap slds-p-around--small  slds-grid_vertical-align-center" id="editor-header">
      <div class="slds-p-horizontal_small">
          <span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
              <img src="/assets/sign-in.svg" style="height:20px;" />
              <span class="slds-assistive-text">Login</span>
          </span>
          Login</div>
      <div class="slds-p-horizontal_small slds-hide">
          <img src="/assets/flag-usa.svg" style="height:20px; width:auto" />
          USA
      </div>
      <div class="slds-p-horizontal_small slds-col slds-text-align--center"><img src="/assets/2016sf_CommerceCloud_logo_RGB.png" style="height:50px" /></div>
      <div class="slds-p-horizontal_small">
          <div class="slds-form-element__control">
              <div class="slds-input-has-icon slds-input-has-icon--right">
                  <svg aria-hidden="true" class="slds-input__icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                  </svg>
                  <input id="lookup-330" class="slds-lookup__search-input slds-input" type="search" placeholder="Search Keywords, Brands etc" aria-owns="lookup-330" role="combobox" aria-activedescendent="" aria-expanded="false" aria-autocomplete="list">
              </div>
          </div>
      </div>
      <div class="region slds-hide" id="region-header" style="
                                 width: 6rem;
                                 text-align: center;
                                 height: 4rem;
                                 padding-top: 1rem;
                                 ">
          <button class="slds-button slds-button_neutral slds-button--icon-more toggle-tooltip orange" aria-describedby="title" title="Add Component" id="trigger-minibasket">
              <svg class="slds-button__icon" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
              </svg>
              <span class="slds-assistive-text">Add Component</span>
          </button>
      </div>
      <div class="slds-p-horizontal_small 2slds-size_1-of-5 2slds-large-size_1-of-6 2slds-hide" id="mini-cart">
          <img src="/assets/shopping-bag.svg" style="height:20px; width:auto" />
          No Items.
      </div>
  </div>
  <div class="slds-grid main-menu">
    <div class="slds-p-around_small">
      <button class="slds-button 2slds-button_neutral">New Arrivals
        <svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
        </svg>
      </button>
    </div>
    <div class="slds-p-around_small">
      <button class="slds-button 2slds-button_neutral">Womens
        <svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
        </svg>
      </button>
    </div>
    <div class="slds-p-around_small">
      <button class="slds-button 2slds-button_neutral">Mens
        <svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
        </svg>
      </button>
    </div>
    <div class="slds-p-around_small">
      <button class="slds-button 2slds-button_neutral">Electronics
        <svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
        </svg>
      </button>

    </div>
    <div class="slds-p-around_small">
      <button class="slds-button 2slds-button_neutral">Top Sellers
        <svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
        </svg>
      </button>

    </div>
    <div class="slds-col">

    </div>
  </div>
</div>
<!-- /EDITOR HEADER -->
#}
