<!-- EDITOR -->
<div class="modal-editor-5 editor slds-hide image-component-editor">
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-describedby="modal-content-id-5" class="slds-modal slds-modal_large slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse trigger-close-modal" title="Close">
                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Image Component</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium modal-content-id-5">
                <!--  EDITOR CONTENT-->


                    <div class="editor">
                        <div class="slds-tabs_default">
                            <ul class="slds-tabs_default__nav" role="tablist">
                                <li class="slds-tabs_default__item 2slds-is-active" title="Item One" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-101" id="tab-default-101__item">Content</a></li>
                                <li class="slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-102" id="tab-default-102__item">Rules</a></li>
                            </ul>

                            <div id="tab-default-101" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-101__item">
                                {#
                                <!-- CONTENT -->
                                <h3 class="slds-text-heading--medium slds-m-bottom--x-small">Text</h3>
                                {% include "_inc_rtf.html"   %}
                                <p></p>
                                #}
                                <h3 class="slds-text-heading--medium slds-m-bottom--x-small">Image</h3>

                                {% include "_inc_image.html"   %}




                                <div class="slds-hide slds-grid slds-grid_vertical-align-center slds-box">
                                      <div style="width: 20rem;">
                                          <div class="slds-file slds-file_card">
                                            <figure>
                                              <a href="javascript:void(0);" class="slds-file__crop add-medias">
                                                  <img src="/assets/placeholder.png" alt="No Media Selected">
                                              </a>
                                              <figcaption class="slds-file__title slds-file__title_card slds-file-has-actions">
                                                <div class="slds-media slds-media_small slds-media_center">
                                                  <div class="slds-media__figure slds-line-height_reset">
                                                    <span class="slds-icon_container slds-hide" title="pdf">
                                                      <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#image"></use>
                                                      </svg>
                                                      <span class="slds-assistive-text">pdf</span>
                                                    </span>
                                                  </div>
                                                  <div class="slds-media__body">
                                                    <span class="slds-file__text slds-truncate" title="Proposal.pdf">No Media selected</span>
                                                  </div>
                                                </div>
                                              </figcaption>
                                            </figure>
                                            <div class="slds-file__actions-menu">
                                              <div class="slds-button-group" role="group">
                                                <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-x-small add-medias" title="Add Media">
                                                  <svg class="slds-button__icon" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                                                  </svg>
                                                  <span class="slds-assistive-text">Add Media</span>
                                                </button>
                                                <button class="slds-hide slds-button slds-button_icon slds-button_icon slds-button_icon-x-small" aria-haspopup="true" title="More Actions">
                                                  <svg class="slds-button__icon" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                                  </svg>
                                                  <span class="slds-assistive-text">More Actions</span>
                                                </button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>








                                </div>



                                <!-- /CONTENT -->
                            </div>
                            <div id="tab-default-102" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-102__item">
                                <!-- RULES -->
                                    {% include "_inc_rules.html"   %}
                                <!-- /RULES -->
                            </div>
                        </div>
                    </div>


                <!--  /EDITOR CONTENT-->
            </div>
            <footer class="slds-modal__footer slds-grid">
                <div>
                    <button class="slds-button slds-button--neutral trigger-delete-component">Delete Component</button>
                </div>
                <div class="slds-col">
                    <button class="slds-button slds-button_neutral trigger-close-modal">Cancel</button>
                    <button class="slds-button slds-button_brand trigger-save-modal">Save</button>
                </div>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</div>
<!-- /EDITOR -->
