<div class="cb-LeftPanel-container js-left-panel-container slds-hide" id="page-structure-menu">
  <div class="slds-panel slds-size_medium slds-panel_docked slds-panel_docked-left slds-is-open" aria-hidden="false">
    <div class="slds-panel__header slds-p-left_small">
      <h2 class="slds-panel__header-title slds-text-heading_small slds-truncate slds-text-align_left slds-p-left_none slds-m-left_none"
      style="text-align:left;" title="Page Structure">Page Structure</h2>
      <button class="slds-button slds-button_icon slds-button_icon-small slds-panel__close js-trigger-close" title="Collapse Panel Header">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
        </svg>
        <span class="slds-assistive-text">Collapse Panel Header</span>
      </button>
    </div>
    <div class="slds-panel__body slds-p-around_none">

      <div id="tab-properties" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-nav-properties__item"></div>
      <div id="tab-navigator" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-nav-navigator__item"></div>

      <ul class="slds-tree" role="tree" aria-labelledby="treeheading" id="tree-header">
          <li role="treeitem" aria-level="1" aria-expanded="true" aria-label="Tree Branch">
              <div class="slds-tree__item">
                  <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-hidden="true" tabindex="-1" title="Expand Tree Branch">
                      <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
                      </svg>
                      <span class="slds-assistive-text">Expand</span>
                  </button>
                  <span class="slds-size_1-of-1">
                      <span class="slds-tree__item-label slds-truncate" title="Tree Branch">Page Header
                      <svg class="slds-icon slds-icon-text-default slds-icon_xx-small" aria-hidden="true">
                          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#lock"></use>
                      </svg>
                  </span>
              </div>
              <ul role="group">
                  <li role="treeitem" aria-level="2" aria-selected="false">
                  <div class="slds-tree__item">
                      <button class="slds-button slds-button_icon slds-m-right_x-small slds-is-disabled" aria-hidden="true" tabindex="-1" title="Expand Tree Item">
                          <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
                          </svg>
                          <span class="slds-assistive-text">Expand</span>
                      </button>
                      <span class="slds-size_1-of-1">
                          <span class="slds-tree__item-label slds-truncate" title="Tree Item">Navigation</span>
                      </span>
                  </div>
                  </li>
              </ul>
          </li>
      </ul>



      <ul class="slds-tree" role="tree" aria-labelledby="treeheading">
          <li role="treeitem" aria-level="1" aria-expanded="true" aria-label="Tree Branch">
              <div class="slds-tree__item">
                  <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-hidden="true" tabindex="-1" title="Expand Tree Branch">
                      <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
                      </svg>
                      <span class="slds-assistive-text">Expand</span>
                  </button>
                  <span class="slds-size_1-of-1">
                      <span class="slds-tree__item-label slds-truncate" title="Tree Branch">Content</span>
                  </span>
              </div>
              <ul role="tree" class="slds-has-dividers_bottom-space" id="navigator_list">
                <li class="slds-nav-vertical__item">
                  1
                </li>
                <li class="slds-nav-vertical__item">
                  2
                </li>
              </ul>
          </li>
      </ul>

      <ul class="slds-tree" role="tree" aria-labelledby="treeheading" id="tree-footer">
          <li role="treeitem" aria-level="1" aria-expanded="true" aria-label="Tree Branch">
              <div class="slds-tree__item">
                  <button class="slds-button slds-button_icon slds-butt on_icon slds-m-right_x-small" aria-hidden="true" tabindex="-1" title="Expand Tree Branch">
                      <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
                      </svg>
                      <span class="slds-assistive-text">Expand</span>
                  </button>
                  <span class="slds-size_1-of-1">
                      <span class="slds-tree__item-label slds-truncate" title="">Page Footer
                      <svg class="slds-icon slds-icon-text-default slds-icon_xx-small" aria-hidden="true">
                          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#lock"></use>
                      </svg>
                  </span>
              </div>
              <ul role="group">
                  <li role="treeitem" aria-level="2" aria-selected="false">
                  <div class="slds-tree__item">
                      <button class="slds-button slds-button_icon slds-m-right_x-small slds-is-disabled" aria-hidden="true" tabindex="-1" title="Expand Tree Item">
                          <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
                          </svg>
                          <span class="slds-assistive-text">Expand</span>
                      </button>
                      <span class="slds-size_1-of-1">
                          <span class="slds-tree__item-label slds-truncate" title="Tree Item">Static Footer Content</span>
                      </span>
                  </div>
                  </li>
              </ul>
          </li>
      </ul>


    </div>
  </div>
</div>


<!--div class="cb-LeftPanel-container js-left-panel-container slds-hide" style="" id="component-palette-menu">
  <div class="cb-LeftPanel-header">
    <div class="cb-LeftPanel-headerTitleOption">
      <div class="cb-LeftPanel-headerTitle slds-truncate slds-text-heading--small" title="Components">Components</div>
    </div>
    <div class="cb-LeftPanel-headerCloseButton">
      <button class="slds-button slds-button--icon js-close" title="Close App Panel">
        <svg aria-hidden="true" class="slds-icon cb-LeftPanel-closeIcon">
          <use xlink:href="/sfsites/commeditor/external/slds/icons/utility-sprite/svg/symbols.svg#close"></use>
        </svg>
        <span class="slds-assistive-text">Close App Panel</span>
      </button>
    </div>
  </div>
  <div class="cb-LeftPanel-fixedHeightView  js-left-panel-view">
    <div class="cb-ComponentPalettePanel js-component-palette">
      <div data-aura-rendered-by="3:11;a" class="siteforceBuilderCommunityBuilderComponentPalettePanel" data-aura-class="siteforceBuilderCommunityBuilderComponentPalettePanel">
        <section aria-describedby="paletteHeader" data-aura-rendered-by="4:11;a">
          <div class="visualEditorPalette visualEditorStyle" data-aura-rendered-by="12:11;a" data-aura-class="visualEditorPalette visualEditorStyle" -->




            {#
            <div class="slds-form-element slds-p-left_small slds-p-top_small slds-p-right_small">
                <!--label class="slds-form-element__label" for="text-input-id-1">Input Label</label-->
                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left-right">
                    <svg class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search" />
                    </svg>
                    <input type="text" id="text-input-id-1" class="slds-input" placeholder="Search Components" />
                    <button class="slds-input__icon slds-input__icon_right slds-button slds-button_icon slds-hide">
                        <svg class="slds-button__icon slds-icon-text-light" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clear" />
                        </svg>
                        <span class="slds-assistive-text">Clear</span>
                    </button>
                </div>
            </div>


            <div>
                <ul id="component_list" class="slds-tree slds-p-top_small" role="tree" aria-labelledby="treeheading" id="tree-header">
                    <li role="treeitem" aria-level="1" aria-expanded="true" aria-label="Tree Branch">
                        <div class="slds-tree__item">
                            <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-hidden="true" tabindex="-1" title="Expand Tree Branch">
                                <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <span class="slds-assistive-text">Expand</span>
                            </button>
                            <span class="slds-size_1-of-1">
                                <span class="slds-tree__item-label slds-truncate" title="Layout (1)">Layout (1)</span>
                            </span>
                        </div>

                        <div class="slds-panel__body slds-m-left_small listTools" style="" id="listTools">
                            {% include "_inc_builder-component-row.html" %}
                        </div>
                    </li>
                    <li role="treeitem" aria-level="1" aria-expanded="true" aria-label="Tree Branch">
                        <div class="slds-tree__item">
                            <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-hidden="true" tabindex="-1" title="Expand Tree Branch">
                                <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <span class="slds-assistive-text">Expand</span>
                            </button>
                            <span class="slds-size_1-of-1">
                                <span class="slds-tree__item-label slds-truncate" title="Content (1)">Content (1)</span>
                            </span>
                        </div>

                        <div class="slds-panel__body slds-m-left_small listTools" style="" id="listToolsB">
                            {% include "_inc_builder-component-banner.html" %}
                        </div>
                    </li>
                </ul>
            </div>
            #}

            {#
            <div class="paletteTools" data-aura-rendered-by="13:11;a">
              <div class="paletteSearch" data-aura-rendered-by="15:11;a">
                <div data-aura-rendered-by="67:11;a" class="uiInput uiInputSearch uiInput--default uiInput--input" data-aura-class="uiInput uiInputSearch uiInput--default uiInput--input">
                  <div data-aura-rendered-by="20:11;a">
                    <input class=" input" type="text" aria-describedby="" placeholder="Search..." id="16:11;a" data-aura-rendered-by="21:11;a" data-interactive-lib-uid="6"><!--render facet: 22:11;a--></div>
                  <label class="uiLabel-hidden form-element__label uiLabel" for="16:11;a" data-aura-rendered-by="62:11;a" data-aura-class="uiLabel">
                    <span class="assistiveText" data-aura-rendered-by="63:11;a">Search...</span>
                  </label>
                </div>
                <lightning-icon class="paletteSearchIcon slds-icon-utility-search slds-icon_container" data-data-rendering-service-uid="78" data-aura-rendered-by="31:11;a">
                  <lightning-primitive-icon lightning-primitive-icon_primitive-icon-host="">
                    <svg focusable="false" data-key="search" aria-hidden="true" class="slds-icon slds-icon-text-default slds-icon_xx-small" lightning-primitive-icon_primitive-icon="">
                      <use xlink:href="/sfsites/commeditor/external/slds/icons/utility-sprite/svg/symbols.svg#search" lightning-primitive-icon_primitive-icon=""></use>
                    </svg>
                  </lightning-primitive-icon>
                </lightning-icon>
              </div>
            </div>
            <div class="sectionContainer" data-aura-rendered-by="34:11;a">
              <div class="sectionBody" data-aura-rendered-by="35:11;a">
                <section aria-describedby="sectionHeader1:189;a" data-aura-rendered-by="3:189;a" class="visualEditorPaletteSection" data-aura-class="visualEditorPaletteSection">
                  <h3 class="sectionHeader" id="sectionHeader1:189;a" data-aura-rendered-by="5:189;a">
                    <a class="sectionHeaderAnchor" aria-expanded="true" role="button" aria-controls="region1:189;a" data-aura-rendered-by="6:189;a" href="javascript:void(0);">
                      <lightning-icon class="sectionHeaderArrow slds-button__icon slds-icon-utility-chevrondown slds-icon_container forceIcon" data-data-rendering-service-uid="184" data-aura-rendered-by="9:189;a" data-aura-class="forceIcon">
                        <lightning-primitive-icon lightning-primitive-icon_primitive-icon-host="">
                          <svg focusable="false" data-key="chevrondown" aria-hidden="true" class="slds-icon slds-icon_xx-small" lightning-primitive-icon_primitive-icon="">
                            <use xlink:href="/sfsites/commeditor/external/slds/icons/utility-sprite/svg/symbols.svg#chevrondown" lightning-primitive-icon_primitive-icon=""></use>
                          </svg>
                        </lightning-primitive-icon>
                        <span class="slds-assistive-text">Collapse Section</span>
                      </lightning-icon>
                      <span class="sectionHeaderTitle uiOutputText" data-aura-rendered-by="12:189;a" data-aura-class="uiOutputText">Analytics</span><span class="sectionHeaderTitle uiOutputText" data-aura-rendered-by="16:189;a" data-aura-class="uiOutputText">(2)</span>
                    </a>
                  </h3>
                  <span class="collapsible" id="region1:189;a" data-aura-rendered-by="17:189;a">
                    <ul class="paletteItems" data-aura-rendered-by="19:189;a">
                      <li class="visualEditorPaletteItem" aria-hidden="false" data-palette-item-name="forceCommunity:dashboard" data-aura-rendered-by="31:189;a" data-aura-class="visualEditorPaletteItem">
                        <span class="visualEditorPaletteItemDraggable ui-draggable ui-draggable-handle" data-aura-rendered-by="33:189;a">
                          <a class="paletteItemAnchor" title="Displays a public dashboard from your Salesforce org on the community page" data-aura-rendered-by="34:189;a" href="javascript:void(0);">
                            <span data-aura-rendered-by="26:189;a" class="uiImage" data-aura-class="uiImage"><img
                              data-aura-rendered-by="24:189;a"
                              src="/sfsites/c/l/%7B%22mode%22%3A%22PROD%22%2C%22app%22%3A%22siteforceBuilder%3AcommunityBuilderApp%22%2C%22pathPrefix%22%3A%22%22%2C%22ls%22%3A1%7D/markup%3A%2F%2FforceCommunity%3Adashboard/resources.svg"
                              class="paletteItemImage"
                              alt=""></span><span class="paletteItemText" data-aura-rendered-by="27:189;a">Dashboard</span>
                            <!--render facet: 29:189;a-->
                          </a>
                        </span>
                      </li>
                      <li class="visualEditorPaletteItem" aria-hidden="false" data-palette-item-name="forceCommunity:reportChart" data-aura-rendered-by="50:189;a" data-aura-class="visualEditorPaletteItem">
                        <span class="visualEditorPaletteItemDraggable ui-draggable ui-draggable-handle" data-aura-rendered-by="52:189;a">
                          <a class="paletteItemAnchor" title="Displays a report chart on the community page" data-aura-rendered-by="53:189;a" href="javascript:void(0);">
                            <span data-aura-rendered-by="45:189;a" class="uiImage" data-aura-class="uiImage"><img
                              data-aura-rendered-by="43:189;a"
                              src="/sfsites/c/l/%7B%22mode%22%3A%22PROD%22%2C%22app%22%3A%22siteforceBuilder%3AcommunityBuilderApp%22%2C%22pathPrefix%22%3A%22%22%2C%22ls%22%3A1%7D/markup%3A%2F%2FforceCommunity%3AreportChart/resources.svg"
                              class="paletteItemImage"
                              alt=""></span><span class="paletteItemText" data-aura-rendered-by="46:189;a">Report Chart</span>
                            <!--render facet: 48:189;a-->
                          </a>
                        </span>
                      </li>
                    </ul>
                    <!--render facet: 59:189;a-->
                  </span>
                </section>


                <div class="paletteLoading hideEl forceInlineSpinner" aria-hidden="true" role="alert" data-aura-rendered-by="39:11;a" data-aura-class="forceInlineSpinner">
                  <!--unrender facet: 40:11;a-->
                </div>
              </div>
            </div>
          </div>
          <button class="slds-button slds-button_brand exchangeLink slds-truncate visualEditorStyle" type="button" title="Get more on the AppExchange" data-aura-rendered-by="53:11;a" data-aura-class="visualEditorStyle"><!--render facet: 54:11;a-->Get more on the AppExchange<!--render facet: 57:11;a--></button>
          #}


{#
<div class="slds-form-element slds-p-left_small slds-p-top_small slds-p-right_small">
    <!--label class="slds-form-element__label" for="text-input-id-1">Input Label</label-->
    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left-right">
        <svg class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search" />
        </svg>
        <input type="text" id="text-input-id-1" class="slds-input" placeholder="Search Components" />
        <button class="slds-input__icon slds-input__icon_right slds-button slds-button_icon slds-hide">
            <svg class="slds-button__icon slds-icon-text-light" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clear" />
            </svg>
            <span class="slds-assistive-text">Clear</span>
        </button>
    </div>
</div>


<div>
    <ul id="component_list" class="slds-tree slds-p-top_small" role="tree" aria-labelledby="treeheading" id="tree-header">
        <li role="treeitem" aria-level="1" aria-expanded="true" aria-label="Tree Branch">
            <div class="slds-tree__item">
                <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-hidden="true" tabindex="-1" title="Expand Tree Branch">
                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                    </svg>
                    <span class="slds-assistive-text">Expand</span>
                </button>
                <span class="slds-size_1-of-1">
                    <span class="slds-tree__item-label slds-truncate" title="Layout (1)">Layout (1)</span>
                </span>
            </div>

            <div class="slds-panel__body slds-m-left_small listTools" style="" id="listTools">
                {% include "_inc_builder-component-row.html" %}
            </div>
        </li>
        <li role="treeitem" aria-level="1" aria-expanded="true" aria-label="Tree Branch">
            <div class="slds-tree__item">
                <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-hidden="true" tabindex="-1" title="Expand Tree Branch">
                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                    </svg>
                    <span class="slds-assistive-text">Expand</span>
                </button>
                <span class="slds-size_1-of-1">
                    <span class="slds-tree__item-label slds-truncate" title="Content (1)">Content (1)</span>
                </span>
            </div>

            <div class="slds-panel__body slds-m-left_small listTools" style="" id="listToolsB">
                {% include "_inc_builder-component-banner.html" %}
            </div>
        </li>
    </ul>
</div>
#}



{#
<div class="cb-LeftPanel-container js-left-panel-container slds-hide" style="" id="page-structure-menu">
  <div class="cb-LeftPanel-header">
    <div class="cb-LeftPanel-headerTitleOption">
      <div class="cb-LeftPanel-headerTitle slds-truncate slds-text-heading--small" title="Components">Page Structure</div>
    </div>
    <div class="cb-LeftPanel-headerCloseButton">
      <button class="slds-button slds-button--icon js-close" title="Close App Panel">
        <svg aria-hidden="true" class="slds-icon cb-LeftPanel-closeIcon">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
        </svg>
        <span class="slds-assistive-text">Close App Panel</span>
      </button>
    </div>
  </div>
  <div class="cb-LeftPanel-fixedHeightView  js-left-panel-view">
    <div class="cb-ComponentPalettePanel js-component-palette">
      <div data-aura-rendered-by="3:11;a" class="siteforceBuilderCommunityBuilderComponentPalettePanel" data-aura-class="siteforceBuilderCommunityBuilderComponentPalettePanel">
        <section aria-describedby="paletteHeader" data-aura-rendered-by="4:11;a">
          <div class="visualEditorPalette visualEditorStyle" data-aura-rendered-by="12:11;a" data-aura-class="visualEditorPalette visualEditorStyle">
            <div class="paletteTools" data-aura-rendered-by="13:11;a">
              <div class="paletteSearch" data-aura-rendered-by="15:11;a">
                <div data-aura-rendered-by="67:11;a" class="uiInput uiInputSearch uiInput--default uiInput--input" data-aura-class="uiInput uiInputSearch uiInput--default uiInput--input">
                  <div data-aura-rendered-by="20:11;a">
                    <input class=" input" type="text" aria-describedby="" placeholder="Search..." id="16:11;a" data-aura-rendered-by="21:11;a" data-interactive-lib-uid="6"><!--render facet: 22:11;a--></div>
                  <label class="uiLabel-hidden form-element__label uiLabel" for="16:11;a" data-aura-rendered-by="62:11;a" data-aura-class="uiLabel">
                    <span class="assistiveText" data-aura-rendered-by="63:11;a">Search...</span>
                  </label>
                </div>
                <lightning-icon class="paletteSearchIcon slds-icon-utility-search slds-icon_container" data-data-rendering-service-uid="78" data-aura-rendered-by="31:11;a">
                  <lightning-primitive-icon lightning-primitive-icon_primitive-icon-host="">
                    <svg focusable="false" data-key="search" aria-hidden="true" class="slds-icon slds-icon-text-default slds-icon_xx-small" lightning-primitive-icon_primitive-icon="">
                      <use xlink:href="/sfsites/commeditor/external/slds/icons/utility-sprite/svg/symbols.svg#search" lightning-primitive-icon_primitive-icon=""></use>
                    </svg>
                  </lightning-primitive-icon>
                </lightning-icon>
              </div>
            </div>
            <div class="sectionContainer" data-aura-rendered-by="34:11;a">
              <div class="sectionBody" data-aura-rendered-by="35:11;a">
                <section aria-describedby="sectionHeader1:189;a" data-aura-rendered-by="3:189;a" class="visualEditorPaletteSection" data-aura-class="visualEditorPaletteSection">
                  <h3 class="sectionHeader" id="sectionHeader1:189;a" data-aura-rendered-by="5:189;a">
                    <a class="sectionHeaderAnchor" aria-expanded="true" role="button" aria-controls="region1:189;a" data-aura-rendered-by="6:189;a" href="javascript:void(0);">
                      <lightning-icon class="sectionHeaderArrow slds-button__icon slds-icon-utility-chevrondown slds-icon_container forceIcon" data-data-rendering-service-uid="184" data-aura-rendered-by="9:189;a" data-aura-class="forceIcon">
                        <lightning-primitive-icon lightning-primitive-icon_primitive-icon-host="">
                          <svg focusable="false" data-key="chevrondown" aria-hidden="true" class="slds-icon slds-icon_xx-small" lightning-primitive-icon_primitive-icon="">
                            <use xlink:href="/sfsites/commeditor/external/slds/icons/utility-sprite/svg/symbols.svg#chevrondown" lightning-primitive-icon_primitive-icon=""></use>
                          </svg>
                        </lightning-primitive-icon>
                        <span class="slds-assistive-text">Collapse Section</span>
                      </lightning-icon>
                      <span class="sectionHeaderTitle uiOutputText" data-aura-rendered-by="12:189;a" data-aura-class="uiOutputText">Analytics</span><span class="sectionHeaderTitle uiOutputText" data-aura-rendered-by="16:189;a" data-aura-class="uiOutputText">(2)</span>
                    </a>
                  </h3>
                  <span class="collapsible" id="region1:189;a" data-aura-rendered-by="17:189;a">
                    <ul class="paletteItems" data-aura-rendered-by="19:189;a">
                      <li class="visualEditorPaletteItem" aria-hidden="false" data-palette-item-name="forceCommunity:dashboard" data-aura-rendered-by="31:189;a" data-aura-class="visualEditorPaletteItem">
                        <span class="visualEditorPaletteItemDraggable ui-draggable ui-draggable-handle" data-aura-rendered-by="33:189;a">
                          <a class="paletteItemAnchor" title="Displays a public dashboard from your Salesforce org on the community page" data-aura-rendered-by="34:189;a" href="javascript:void(0);">
                            <span data-aura-rendered-by="26:189;a" class="uiImage" data-aura-class="uiImage"><img
                              data-aura-rendered-by="24:189;a"
                              src="/sfsites/c/l/%7B%22mode%22%3A%22PROD%22%2C%22app%22%3A%22siteforceBuilder%3AcommunityBuilderApp%22%2C%22pathPrefix%22%3A%22%22%2C%22ls%22%3A1%7D/markup%3A%2F%2FforceCommunity%3Adashboard/resources.svg"
                              class="paletteItemImage"
                              alt=""></span><span class="paletteItemText" data-aura-rendered-by="27:189;a">Dashboard</span>
                            <!--render facet: 29:189;a-->
                          </a>
                        </span>
                      </li>
                      <li class="visualEditorPaletteItem" aria-hidden="false" data-palette-item-name="forceCommunity:reportChart" data-aura-rendered-by="50:189;a" data-aura-class="visualEditorPaletteItem">
                        <span class="visualEditorPaletteItemDraggable ui-draggable ui-draggable-handle" data-aura-rendered-by="52:189;a">
                          <a class="paletteItemAnchor" title="Displays a report chart on the community page" data-aura-rendered-by="53:189;a" href="javascript:void(0);">
                            <span data-aura-rendered-by="45:189;a" class="uiImage" data-aura-class="uiImage"><img
                              data-aura-rendered-by="43:189;a"
                              src="/sfsites/c/l/%7B%22mode%22%3A%22PROD%22%2C%22app%22%3A%22siteforceBuilder%3AcommunityBuilderApp%22%2C%22pathPrefix%22%3A%22%22%2C%22ls%22%3A1%7D/markup%3A%2F%2FforceCommunity%3AreportChart/resources.svg"
                              class="paletteItemImage"
                              alt=""></span><span class="paletteItemText" data-aura-rendered-by="46:189;a">Report Chart</span>
                            <!--render facet: 48:189;a-->
                          </a>
                        </span>
                      </li>
                    </ul>
                    <!--render facet: 59:189;a-->
                  </span>
                </section>


                <div class="paletteLoading hideEl forceInlineSpinner" aria-hidden="true" role="alert" data-aura-rendered-by="39:11;a" data-aura-class="forceInlineSpinner">
                  <!--unrender facet: 40:11;a-->
                </div>
              </div>
            </div>
          </div>
          <button class="slds-button slds-button_brand exchangeLink slds-truncate visualEditorStyle" type="button" title="Get more on the AppExchange" data-aura-rendered-by="53:11;a" data-aura-class="visualEditorStyle"><!--render facet: 54:11;a-->Get more on the AppExchange<!--render facet: 57:11;a--></button>
        </section>
      </div>
    </div>
  </div>
</div>
#}
