<div class="slds-hide" id="popover_page-list">
    <section class="slds-popover slds-nubbin_top-left slds-dynamic-menu" role="dialog" aria-label="My Favourites" aria-describedby="dialog-body-id-3" id="">
        <div class="slds-popover__body slds-p-horizontal_none" id="dialog-body-id-3">
            <div class="slds-form-element">
                <div class="slds-form-element__control slds-p-left_small slds-p-right_small">
                    <button class="slds-button slds-button_neutral slds-size_1-of-1">
                      <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add" />
                      </svg>Add Page
                  </button>
                </div>
            </div>
            <div class="slds-form-element">
                <label class="slds-form-element__label slds-assistive-text" for="combobox-unique-id-1">Search</label>
                <div class="slds-form-element__control">
                    <div class="slds-combobox_container">
                        <div class="slds-combobox slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right slds-m-around_small" role="none">
                                <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id-1" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Find a page ..." />
                                <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                  <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search" />
                                  </svg>
                                </span>
                            </div>
                            <div id="listbox-unique-id" role="listbox">
                                <ul class="slds-listbox slds-listbox_vertical slds-dropdown_length-10" role="group" aria-label="Pages">
                                    <li role="presentation" class="slds-listbox__item">
                                        <div class="slds-media slds-listbox__option slds-listbox__option_plain" role="presentation">
                                            <h3 class="slds-text-title_caps" role="presentation">Pages</h3>
                                        </div>
                                    </li>
                                    <li role="presentation" class="slds-listbox__item">
                                        <div id="listbox-option-id-1" class="slds-media slds-listbox__option slds-listbox__option_entity 2slds-listbox__option_has-meta" role="option">
                                            <span class="slds-media__figure">
                                                <svg class="slds-icon slds-icon-text-default slds-icon_xx-small" aria-hidden="true">
                                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#page" />
                                                </svg>
                                              </span>
                                            <span class="slds-media__body">
                                              <span class="slds-listbox__option-text slds-listbox__option-text_entity slds-text-color_default">Another Page Name</span>
                                            </span>
                                        </div>
                                    </li>
                                    <li role="presentation" class="slds-listbox__item">
                                        <div id="listbox-option-id-2" class="slds-media slds-listbox__option slds-listbox__option_entity 2slds-listbox__option_has-meta" role="option">
                                            <span class="slds-media__figure">
                                                <svg class="slds-icon slds-icon-text-default slds-icon_xx-small" aria-hidden="true">
                                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#page" />
                                                </svg>
                                              </span>
                                            <span class="slds-media__body">
                                              <span class="slds-listbox__option-text slds-listbox__option-text_entity slds-text-color_default">Page Name</span>
                                            </span>
                                        </div>
                                    </li>



                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="slds-popover__footer slds-hide">
        </footer>
    </section>
</div>
