<div class="slds-grid">
    <!-- LEFT -->
    <div class="slds-col">
        <div class="slds-tree_container" role="application">
            <h4 class="removed--slds-text-title_caps" id="treeheading">Asset Libraries</h4>
            <ul class="slds-tree" role="tree" aria-labelledby="treeheading">
                <li id="tree0-node0" role="treeitem" aria-level="1">
                    <div class="slds-tree__item">
                        <button class="slds-button slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                            <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                            </svg> <span class="slds-assistive-text">Toggle</span> </button><a href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Folder">Spring 2017</a></div>
                </li>
                <li id="tree0-node1" role="treeitem" aria-level="1" aria-expanded="false">
                    <div class="slds-tree__item">
                        <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-controls="tree0-node1" title="Toggle">
                            <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                            </svg> <span class="slds-assistive-text">Toggle</span> </button><a id="tree0-node1__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Nested Folders">Summer Campaign 2017</a></div>
                    <ul class="slds-is-collapsed" role="group" aria-labelledby="tree0-node1__label">
                        <li id="tree0-node1-0" role="treeitem" aria-level="2">
                            <div class="slds-tree__item">
                                <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                    </svg> <span class="slds-assistive-text">Toggle</span> </button><a href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Folder">Folder</a></div>
                        </li>
                    </ul>
                </li>
                <li id="tree0-node2" role="treeitem" aria-level="1">
                    <div class="slds-tree__item">
                        <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-controls="tree0-node2" title="Toggle">
                            <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                            </svg> <span class="slds-assistive-text">Toggle</span> </button><a id="tree0-node2__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Nested Folders">Fall Campaign 2017</a></div>
                    <ul class="slds-is-collapsed" role="group" aria-labelledby="tree0-node2__label">
                        <li id="tree0-node2-0" role="treeitem" aria-level="2">
                            <div class="slds-tree__item">
                                <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                    </svg> <span class="slds-assistive-text">Toggle</span> </button><a href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Folder">Folder</a></div>
                        </li>
                    </ul>
                </li>
                <li id="tree0-node3" role="treeitem" aria-level="1">
                    <div class="slds-tree__item">
                        <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                            <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                            </svg> <span class="slds-assistive-text">Toggle</span> </button><a href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Folder">_temp media</a></div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /LEFT -->
    <!-- CENTER -->
    <div class="2slds-col slds-p-left_small slds-p-right_small">
        <div class="2slds-grid">

        <div class="slds-visual-picker slds-visual-picker_medium">
            <input type="radio" id="visual-picker-33" name="options" value="on" />
            <label for="visual-picker-33">
              <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                <img src="/assets/banner1.jpg" border="0" />
              </span>
              <span class="slds-visual-picker__body">
                <span class="slds-text-title">image name.jpg</span>
              </span>
              <span class="slds-icon_container slds-visual-picker__text-check">
                <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                </svg>
              </span>
            </label>
        </div>

        <div class="slds-visual-picker slds-visual-picker_medium">
            <input type="radio" id="visual-picker-34" name="options" value="on" />
            <label for="visual-picker-34">
              <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center"
              style="
                background:url('/assets/slide1.jpg') no-repeat center center fixed;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;
                  background-size: cover;
                "
              >
              </span>
              <span class="slds-visual-picker__body">
                <span class="slds-text-title">image name.jpg</span>
              </span>
              <span class="slds-icon_container slds-visual-picker__text-check">
                <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                </svg>
              </span>
            </label>
        </div>

        <div class="slds-visual-picker slds-visual-picker_medium" style="background: url('/assets/right.jpg');">
            <input type="radio" id="visual-picker-35" name="options" value="on" />
            <label for="visual-picker-35">
              <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                <img src="" border="0" />
              </span>
              <span class="slds-visual-picker__body">
                <span class="slds-text-title">image name.jpg</span>
              </span>
              <span class="slds-icon_container slds-visual-picker__text-check">
                <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                </svg>
              </span>
            </label>
        </div>





        </div>
    </div>
    <!-- /CENTER -->
    <!-- RIGHT -->
    <div class=" slds-col slds-p-around_small slds-theme_shade" style="width:240px">
        <h3 class="slds-text-heading--medium slds-m-bottom--x-small" data-reactid="21">Merchstein Suggestion</h3> <span class="text-body--default slds-m-bottom--x-small">We found and image which might suit your needs even better!</span>
        <div class="slds-p-around_small">
            <fieldset class="slds-form-element">
                <div class="slds-visual-picker slds-visual-picker_medium">
                    <input type="radio" id="visual-picker-15" name="options" value="off">
                    <label for="visual-picker-15">
                        <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                            <span>
                                <img src="assets/fashion2.jpg" width="100" />
                            </span>
                        </span>
                        <span class="slds-visual-picker__body">
                            <span class="slds-text-heading_small">Dress-dark.jpg</span>
                            <span class="slds-text-title">800kB<br />
                            12.12.2017 23:54:00PM</span>
                        </span>
                        <span class="slds-icon_container slds-visual-picker__text-check">
                            <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </fieldset>
        </div>
    </div>
    <!-- /RIGHT -->
</div>
