
<div class="slds-grid slds-p-around_small">
    <div class="slds-form-element slds-p-around_small">
        <label class="slds-form-element__label" for="textarea-id-01">en-US (selected locale)</label>
        <div class="slds-form-element__control">
            <textarea id="textarea-id-01" class="slds-textarea" placeholder="Placeholder Text"></textarea>
        </div>
    </div>

    <div class="slds-form-element slds-p-around_small">
        <label class="slds-form-element__label" for="textarea-id-02">en-UK</label>
        <div class="slds-form-element__control">
            <textarea id="textarea-id-02" class="slds-textarea" placeholder="Placeholder Text"></textarea>
        </div>
    </div>

    <div class="slds-form-element slds-p-around_small">
        <label class="slds-form-element__label" for="textarea-id-03">en-BEL</label>
        <div class="slds-form-element__control">
            <textarea id="textarea-id-03" class="slds-textarea" placeholder="Placeholder Text"></textarea>
        </div>
    </div>

    <div class="slds-form-element slds-p-around_small">
        <label class="slds-form-element__label" for="textarea-id-04">de-DE</label>
        <div class="slds-form-element__control">
            <textarea id="textarea-id-04" class="slds-textarea" placeholder="Placeholder Text"></textarea>
        </div>
    </div>

    <div class="slds-form-element slds-p-around_small">
        <label class="slds-form-element__label" for="textarea-id-05">de-CH</label>
        <div class="slds-form-element__control">
            <textarea id="textarea-id-05" class="slds-textarea" placeholder="Placeholder Text"></textarea>
        </div>
    </div>


</div>
