<div class="cb-LeftPanel-container js-left-panel-container slds-hide" id="component-palette-menu">
  <div class="slds-panel slds-size_medium slds-panel_docked slds-panel_docked-left slds-is-open" aria-hidden="false">
    <div class="slds-panel__header slds-p-left_small">
      <h2 class="slds-panel__header-title slds-text-heading_small slds-truncate slds-text-align_left slds-p-left_none slds-m-left_none"
      style="text-align:left;" title="Components">Components</h2>
      <button class="slds-button slds-button_icon slds-button_icon-small slds-panel__close js-trigger-close" title="Collapse Panel Header">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
        </svg>
        <span class="slds-assistive-text">Collapse Panel Header</span>
      </button>
    </div>
    <div class="slds-panel__body slds-p-around_none">

      <div class="slds-form-element slds-p-left_small slds-p-top_small slds-p-right_small">
          <!--label class="slds-form-element__label" for="text-input-id-1">Input Label</label-->
          <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left-right">
              <svg class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search" />
              </svg>
              <input type="text" id="text-input-id-1" class="slds-input" placeholder="Search Components" />
              <button class="slds-input__icon slds-input__icon_right slds-button slds-button_icon slds-hide">
                  <svg class="slds-button__icon slds-icon-text-light" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clear" />
                  </svg>
                  <span class="slds-assistive-text">Clear</span>
              </button>
          </div>
      </div>


      <div>
          <!--ul id="component_list" class="slds-tree slds-p-top_small" role="tree" aria-labelledby="treeheading" id="tree-header"-->
            <ul class="list" id="listTools">
              <li 1id="num1">
                <div class="component">
                  component -1
                </div>
                <div class="placeholder">
                  placeholder -1
                </div>
                <div class="structure">
                  structure -1
                </div>
              </li>
              <li 1id="num2">
                <div class="component">
                  component -2
                </div>
                <div class="placeholder">
                  placeholder -2
                </div>
                <div class="structure">
                  structure -2
                </div>
              </li>
              <li 1id="num3">
                <div class="component">
                  component -3
                </div>
                <div class="placeholder">
                  placeholder -3
                </div>
                <div class="structure">
                  structure -3
                </div>

              </li>
              <li 1id="num4">
                <div class="component">
                  component -4
                </div>
                <div class="placeholder">
                  placeholder -4
                </div>
                <div class="structure">
                  structure -4
                </div>

              </li>
            </ul>

              {#
              <li role="treeitem" aria-level="1" aria-expanded="true" aria-label="Tree Branch">
                  <div class="slds-tree__item">
                      <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-hidden="true" tabindex="-1" title="Expand Tree Branch">
                          <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                          </svg>
                          <span class="slds-assistive-text">Expand</span>
                      </button>
                      <span class="slds-size_1-of-1">
                          <span class="slds-tree__item-label slds-truncate" title="Layout (1)">Layout (1)</span>
                      </span>
                  </div>

                  <div class="slds-panel__body slds-m-left_small listTools" style="" id="listTools">
                      {% include "_inc_builder-component-row.html" %}
                  </div>
              </li>
              <li role="treeitem" aria-level="1" aria-expanded="true" aria-label="Tree Branch">
                  <div class="slds-tree__item">
                      <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-hidden="true" tabindex="-1" title="Expand Tree Branch">
                          <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                          </svg>
                          <span class="slds-assistive-text">Expand</span>
                      </button>
                      <span class="slds-size_1-of-1">
                          <span class="slds-tree__item-label slds-truncate" title="Content (1)">Content (1)</span>
                      </span>
                  </div>

                  <div class="slds-panel__body slds-m-left_small listTools" style="" id="listToolsB">
                      {% include "_inc_builder-component-banner.html" %}
                      {% include "_inc_builder-component-category.html" %}
                      {% include "_inc_builder-component-rtf.html" %}
                  </div>
              </li>
              #}
          </ul>
      </div>


    </div>
  </div>
</div>
