<div class="slds-p-horizontal_none slds-size_1-of-1 slds-theme_shade image menu-border placeholder slds-size_1-of-1 placeholder-component-38">
<!-- IMAGE COMPONENT PLACEHOLDER -->
    <!-- mini menu -->
    <div class="slds-grid slds-grid_align-center">
        <div class="mini-menu 2slds-hide slds-grid slds-grid_align-center 2image-component">
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-dragdrop-component" title="Move">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                    </svg> <span class="slds-assistive-text">Move</span> </button>
            </div>
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-edit-component" title="Edit">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                    </svg> <span class="slds-assistive-text">Edit</span> </button>
            </div>
            <div>
                <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-delete-component" title="Delete">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                    </svg> <span class="slds-assistive-text">Delete</span> </button>
            </div>
        </div>
    </div>
    <!-- /mini menu -->

    <div class="slds-align_absolute-center slds-align_absolute-center slds-p-around_medium slds-grid slds-wrap">
        <div class="slds-size_1-of-1 slds-align_absolute-center">
            <div class="slds-col image-back">
                <!--img src="https://fakeimg.pl/800x200/?text=Image-Placeholder" alt="" class="image-holder" /-->
                <div class="product-tile slds-hide slds-align_absolute-center" style="">
                    <div class="slds-grid">
                        <div class="">
                            <img src="assets/lb.jpg" style="height:10rem" />
                        </div>
                        <div class="slds-p-around--small slds-col">
                            <p><h3 class="slds-text-heading--large slds-m-bottom--x-small">The quick brown fox jumps over the lazy dog.</h3></p>
                            <p><h5 class="slds-text-heading--medium slds-m-bottom--x-small">Retail Price $495.00</h5></p>
                            {#
                            <p><h5 class="slds-text-heading--small slds-m-bottom--x-small">Spread collar, asymmetric zip front. </h5></p>
                            <p><h5 class="slds-text-heading--small slds-m-bottom--x-small">Lambskin Leather. </h5></p>
                            <p><h5 class="slds-text-heading--small slds-m-bottom--x-small">Cropped hem. </h5></p>
                            <p><h5 class="slds-text-heading--small slds-m-bottom--x-small">Professional leather clean. </h5></p>
                            <p><h5 class="slds-text-heading--small slds-m-bottom--x-small">Imported.</h5></p>
                            #}
                            <p><button class="slds-button slds-button--neutral">Details ...</button><button class="slds-button slds-button--neutral">Buy now!</button></p>
                        </div>
                        <div class="">
                            <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small close-tile" title="Edit">
                                <svg class="slds-button__icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                </svg> <span class="slds-assistive-text">Edit</span> </button>
                        </div>
                    </div>
                </div>
                <div class="image-holder">
                    <div class="clickspot" style="position: relative;left: 200px;top: 80px;">
                        <div class="ring ping"></div>
                        <div class="slds-grid slds-grid_align-center">
                            <div class="mini-menu slds-hide slds-grid slds-grid_align-center image-component">
                                <div>
                                    <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-edit-component" title="Edit">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                                        </svg> <span class="slds-assistive-text">Edit</span> </button>
                                </div>
                                <div>
                                    <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right slds-p-around_small js-trigger-delete-component" title="Delete">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                                        </svg> <span class="slds-assistive-text">Delete</span> </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <h2 class="slds-m-bottom_xxsmall slds-text-heading--large image-header-holder"></h2>
                <span class="image-text-holder"></span>
            </div>
        </div>
    </div>

    <style>
        .image-holder{
            position: relative;
            width: 100%;
            min-height: 300px;
        }
        div h2.image-header-holder,
        div h2.image-text-holder{
            position: absolute;
            top: 50%;
            left:0;
            width: 100%;
        }
    </style>
<!-- /IMAGE COMPONENT PLACEHOLDER -->
</div>
