<div class="slds-notify_container slds-hide" id="toast-id-1">
    <div class="slds-notify slds-notify_toast slds-theme_success" role="alert">
        <span class="slds-assistive-text">success</span>
        <span class="slds-icon_container slds-icon-utility-success slds-m-right_small slds-no-flex slds-align-top" title="Description of icon when needed">
        <svg class="slds-icon slds-icon_small" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#success"></use>
        </svg>
      </span>
        <div class="slds-notify__content">
            <h2 class="slds-text-heading_small ">The page has been deleted.</h2>
        </div>
        <button class="slds-button slds-button_icon slds-notify__close slds-button_icon-inverse" id="js-close-toast-id-1" title="Close">
            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg>
            <span class="slds-assistive-text">Close</span>
        </button>
    </div>
</div>

{#
<!-- Error Display Below -->
<div class="slds-notify_container slds-hide" id="toast-id-1">
    <div class="slds-notify slds-notify_toast slds-theme_error" role="alert">
        <span class="slds-assistive-text">error</span>
        <span class="slds-icon_container slds-icon-utility-success slds-m-right_small slds-no-flex slds-align-top" title="Description of icon when needed">
        <svg class="slds-icon slds-icon_small" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#error"></use>
        </svg>
      </span>
        <div class="slds-notify__content">
            <h2 class="slds-text-heading_small ">Can't create page because and then here the description.</h2>
        </div>
        <button class="slds-button slds-button_icon slds-notify__close slds-button_icon-inverse" id="js-close-toast-id-1" title="Close">
            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg>
            <span class="slds-assistive-text">Close</span>
        </button>
    </div>
</div>
#}
