<div class="slds-grid">
  <div class="slds-p-around_small slds-grid slds-col list-empty">
      <div class="slds-p-horizontal_small slds-size_1-of-1 slds-large-size_1-of-1 2slds-text-align_center">
            <div class="slds-form-element__group">
              <div class="slds-form-element__row slds-p-bottom_small">
                  <div class="slds-form-element slds-size_1-of-1">
                      <label class="slds-form-element__label" for="input-03">ID (URL Suffix)</label>
                      <input type="text" id="input-03" class="slds-input">
                  </div>
              </div>
              <div class="slds-form-element__row">
                  <div class="slds-form-element slds-size_1-of-1">


                      <label class="slds-form-element__label" for="input-03">Product</label>
                      <div class="slds-grid slds-grid_vertical-align-center slds-box">



                        <div style="width: 20rem;">
                            <div class="slds-file slds-file_card">
                              <figure>
                                <a href="javascript:void(0);" class="slds-file__crop add-products">
                                  <img src="/assets/images/placeholder-img@16x9.jpg" alt="No Product Selected" />
                                </a>
                                <figcaption class="slds-file__title slds-file__title_card slds-file-has-actions">
                                  <div class="slds-media slds-media_small slds-media_center">
                                    <div class="slds-media__figure slds-line-height_reset">
                                      <span class="slds-icon_container slds-hide" title="pdf">
                                        <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#pdf"/>
                                        </svg>
                                        <span class="slds-assistive-text">pdf</span>
                                      </span>
                                    </div>
                                    <div class="slds-media__body">
                                      <span class="slds-file__text slds-truncate" title="Proposal.pdf">No Product selected</span>
                                    </div>
                                  </div>
                                </figcaption>
                              </figure>
                              <div class="slds-file__actions-menu">
                                <div class="slds-button-group" role="group">
                                  <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-x-small add-products" title="Remove Selection">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"/>
                                    </svg>
                                    <span class="slds-assistive-text">Add Product</span>
                                  </button>
                                  <button class="slds-hide slds-button slds-button_icon slds-button_icon slds-button_icon-x-small" aria-haspopup="true" title="More Actions">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"/>
                                    </svg>
                                    <span class="slds-assistive-text">More Actions</span>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>





                        {#
                          <div>
                            <div class="slds-media__figure slds-medium-show">
                              <div class="slds-file slds-size_small">
                                <div class="slds-file__crop slds-file__crop_16-by-9">
                                  <img src="/assets/images/placeholder-img@16x9.jpg" alt="No Product Selected" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div>
                            <button class="slds-button slds-button_neutral selected_product add-products">Select Product ...</button>
                          </div>
                          #}




                      </div>


                  </div>
              </div>
            </div>
      </div>
  </div>
  {#
  <div class="slds-p-around_small slds-grid slds-col list-full slds-hide">
      <!-- PRODUCTS -->
      <div class="slds-p-horizontal_small slds-size_1-of-1 slds-large-size_1-of-1 slds-hide">
          <div class="image-thumb slds-p-right_small slds-p-bottom_small">
              <a href="javascript:void(0);" class="slds-box slds-box_link slds-box_x-small slds-media">
                  <div class="slds-align_absolute-center slds-m-left_xx-small">
                      <span><img src="/assets/slide1.jpg" width="90" /></span>
                  </div>
                  <div class="slds-media__body 2slds-border_left slds-p-around_small">
                      <h2 class="slds-truncate slds-text-heading_xsmall" title="">slide1.jpg</h2>
                  </div>
              </a>
          </div>
      </div>



      <div class="slds-grid slds-grid_vertical-align-center slds-box">
          <div>
            <div class="slds-media__figure slds-medium-show">
              <div class="slds-file slds-size_small">
                <div class="slds-file__crop slds-file__crop_16-by-9">
                  <img src="/assets/product_image_1.jpg" alt="Selected Product" />
                </div>
              </div>
            </div>
          </div>
          <div>
            <p class="slds-text-body_small slds-float_left">Aluminum Zirconium Tetrachlorohydrex GLY</p>
          </div>
          <div>

            <button class="slds-button slds-button_neutral">
              <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete" />
              </svg> Remove Product
            </button>

          </div>
      </div>






      <!-- /PRODUCTS -->
  </div>
  #}

  <div class="slds-p-around_small slds-grid slds-col list-full slds-hide">
      <div class="slds-p-horizontal_small slds-size_1-of-1 slds-large-size_1-of-1 2slds-text-align_center">
            <div class="slds-form-element__group">
              <div class="slds-form-element__row slds-p-bottom_small">
                  <div class="slds-form-element slds-size_1-of-1">
                      <label class="slds-form-element__label" for="input-03">ID (URL Suffix)</label>
                      <input type="text" id="input-03" class="slds-input">
                  </div>
              </div>
              <div class="slds-form-element__row">
                  <div class="slds-form-element slds-size_1-of-1">


                      <label class="slds-form-element__label" for="input-03">Product</label>
                      <div class="slds-grid slds-grid_vertical-align-center slds-box">


                        <div style="width: 20rem;">
                            <div class="slds-file slds-file_card">
                              <figure>
                                <a href="javascript:void(0);" class="slds-file__crop">
                                  <img src="/assets/product_image_1.jpg" alt="Description of the image"/>
                                </a>
                                <figcaption class="slds-file__title slds-file__title_card slds-file-has-actions">
                                  <div class="slds-media slds-media_small slds-media_center">
                                    <div class="slds-media__figure slds-line-height_reset">
                                      <span class="slds-icon_container slds-hide" title="pdf">
                                        <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/doctype-sprite/svg/symbols.svg#pdf"/>
                                        </svg>
                                        <span class="slds-assistive-text">pdf</span>
                                      </span>
                                    </div>
                                    <div class="slds-media__body">
                                      <span class="slds-file__text slds-truncate" title="Proposal.pdf">Product Name</span>
                                    </div>
                                  </div>
                                </figcaption>
                              </figure>
                              <div class="slds-file__actions-menu">
                                <div class="slds-button-group" role="group">
                                  <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-x-small" title="Remove Selection">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"/>
                                    </svg>
                                    <span class="slds-assistive-text">Remove Selection</span>
                                  </button>
                                  <button class="slds-hide slds-button slds-button_icon slds-button_icon slds-button_icon-x-small" aria-haspopup="true" title="More Actions">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"/>
                                    </svg>
                                    <span class="slds-assistive-text">More Actions</span>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>


                        {#
                          <div>
                            <div class="slds-media__figure slds-medium-show">
                              <div class="slds-file slds-size_small">
                                <div class="slds-file__crop slds-file__crop_16-by-9">
                                  <img src="/assets/product_image_1.jpg" alt="Selected Product" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="slds-col"><p class="slds-text-body_small slds-float_left">Aluminum Zirconium Tetrachlorohydrex GLY</p></div>
                          <div class=""><button class="slds-button slds-button_neutral selected_product add-products">Remove Product</button></div>
                        #}
                      </div>


                  </div>
              </div>
            </div>
      </div>
  </div>



</div>
