<div class="slds-is-relative slds-hide" style="height: 4.5rem;" id="notification-save">
  <div class="slds-notification-container">
    <div aria-live="assertive" aria-atomic="true" class="slds-assistive-text">event notification: Tesla - Renewal meeting</div>
    <section class="slds-notification" role="dialog" aria-labelledby="noti52" aria-describedby="dialog-body-id-18">
      <div class="slds-notification__body" id="dialog-body-id-18">
        <a class="slds-notification__target slds-media" href="javascript:void(0);">

            <span class="slds-icon_container slds-icon_container_circle slds-icon-action-description slds-media__figure close-notification" title="Description of icon when needed">
              <svg class="slds-icon slds-icon--small" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/action-sprite/svg/symbols.svg#check" />
              </svg>
              <span class="slds-assistive-text">Description of icon when needed</span>
            </span>



          <div class="slds-media__body">
            <h2 class="slds-text-heading--small slds-m-bottom--xx-small" id="noti52">
              <span class="slds-assistive-text">event notification:</span>Page has been saved.</h2>
            <p>12.12.2018 - 12:12:12 PM</p>
          </div>
        </a>
        <button class="slds-button slds-button_icon slds-button--icon-container slds-notification__close" title="Dismiss notification">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
          </svg>
          <span class="slds-assistive-text">Dismiss notification</span>
        </button>
      </div>
    </section>
  </div>
</div>
