<div class="slds-hide modal-id-10">
    <section role="dialog" tabindex="-1" class="slds-modal slds-modal_large  slds-modal_large slds-fade-in-open " aria-labelledby="header66" aria-describedby="modal-content-id-10">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button--icon slds-modal__close slds-button--icon-inverse js-close-modal-id-10" title="Close">
                    <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="header66" class="slds-text-heading--medium">Carousel (Vertical Navigation)</h2>
            </header>
            <div class="slds-modal__content slds-p-around--medium" id="modal-content-id-10">
                <div class="slds-border_bottom slds-p-bottom_small">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="text-input-id-1">Component Name</label>
                        <div class="slds-form-element__control">
                            <input type="text" id="text-input-id-1" class="slds-input" placeholder="Carousel">
                        </div>
                    </div>
                </div>
                <div class="slds-tabs_default">
                    <ul class="slds-tabs_default__nav" role="tablist">
                        <li class="slds-tabs_default__item" title="Item One" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="false" aria-controls="tab-default-101" id="tab-default-101__item">Content</a></li>
                        <li class="slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-102" id="tab-default-102__item">Rules</a></li>
                    </ul>
                    <div id="tab-default-101" class="slds-tabs_default__content" role="tabpanel" aria-labelledby="tab-default-101__item">
                        <!-- 1 -->
                        <div class="slds-grid">
                            <div class="slds-border_right" style="width: 200px;">
                                <!-- NAV TAB -->
                                <nav class="slds-nav-vertical" aria-label="Sub page">
                                    <div class="slds-nav-vertical__section">
                                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Slide 1</h2>
                                        <ul>
                                            <li class="slds-nav-vertical__item slds-is-active"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Image</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Text</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Link</a></li>
                                        </ul>
                                    </div>
                                    <div class="slds-nav-vertical__section">
                                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Slide 2</h2>
                                        <ul>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Image</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Text</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Link</a></li>
                                        </ul>
                                    </div>
                                    <div class="slds-nav-vertical__section">
                                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Slide 3</h2>
                                        <ul>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Image</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Text</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Link</a></li>
                                        </ul>
                                    </div>
                                    <div class="slds-nav-vertical__section">
                                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Slide 4</h2>
                                        <ul>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Image</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Text</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Link</a></li>
                                        </ul>
                                    </div>
                                    <div class="slds-nav-vertical__section">
                                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Slide 5</h2>
                                        <ul>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Image</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Text</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Link</a></li>
                                        </ul>
                                    </div>
                                    <div class="slds-nav-vertical__section">
                                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Slide 6</h2>
                                        <ul>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Image</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Text</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Link</a></li>
                                        </ul>
                                    </div>
                                    <div class="slds-nav-vertical__section">
                                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Slide 7</h2>
                                        <ul>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Image</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Text</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Link</a></li>
                                        </ul>
                                    </div>
                                    <div class="slds-nav-vertical__section">
                                        <h2 id="entity-header" class="slds-nav-vertical__title slds-text-title_caps">Slide 8</h2>
                                        <ul>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Image</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Text</a></li>
                                            <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Link</a></li>
                                        </ul>
                                    </div>
                                </nav>
                                <!-- /NAV TAB -->
                            </div>
                            <div class="slds-p-around_small">
                                <!-- CONTENT TAB -->
                                {% include "_inc_gallery.html"   %}
                                <!-- /CONTENT TAB -->
                            </div>
                        </div>
                        <!-- /1 -->
                    </div>
                    <div id="tab-default-102" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-102__item">
                        <!-- 2 -->
                        {% include "_inc_rules.html"   %}
                        <!-- /2 -->
                    </div>
                </div>
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button--neutral js-close-modal-id-10">Cancel</button>
                <button class="slds-button slds-button_brand js-save-modal-id-10">Save</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop--open"></div>
</div>






