
<div class="slds-text-align_right slds-p-bottom_small">
    <button class="slds-button slds-button--brand js-run-modalB">Run it now</button>
</div>

<div class="">
    <div class="slds-form slds-form_stacked">
        <div class="slds-col">
            <div class="slds-form-element slds-p-bottom--small">
                <label class="slds-form-element__label" for="input-unique-id">Start</label>
                <div class="slds-form-element__icon">
                    <button aria-describedby="help" class="slds-button slds-button_icon">
                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info" />
                        </svg>
                        <span class="slds-assistive-text">Help</span>
                    </button>
                </div>
                <div class="slds-form-element__control">
                    <input type="text" id="input-unique-id" class="slds-input" placeholder="Start" />
                </div>
            </div>
        </div>
        <div class="slds-col">
            <div class="slds-form-element slds-p-bottom--small">
                <label class="slds-form-element__label" for="input-unique-id">Count</label>
                <div class="slds-form-element__icon">
                    <button aria-describedby="help" class="slds-button slds-button_icon">
                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info" />
                        </svg>
                        <span class="slds-assistive-text">Help</span>
                    </button>
                </div>
                <div class="slds-form-element__control">
                    <input type="text" id="input-unique-id" class="slds-input" placeholder="Count" />
                </div>
            </div>
        </div>

        <div class="slds-col">
            <div class="slds-form-element slds-p-bottom--small">
                <label class="slds-form-element__label" for="input-unique-id">Select</label>
                <div class="slds-form-element__icon">
                    <button aria-describedby="help" class="slds-button slds-button_icon">
                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info" />
                        </svg>
                        <span class="slds-assistive-text">Help</span>
                    </button>
                </div>
                <div class="slds-form-element__control">
                    <input type="text" id="input-unique-id" class="slds-input" placeholder="Select" />
                </div>
            </div>
        </div>


        <div class="slds-col">
            <div class="slds-form-element slds-p-bottom--small">
                <label class="slds-form-element__label" for="input-unique-id">Expand</label>
                <div class="slds-form-element__icon">
                    <button aria-describedby="help" class="slds-button slds-button_icon">
                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info" />
                        </svg>
                        <span class="slds-assistive-text">Help</span>
                    </button>
                </div>
                <div class="slds-form-element__control">
                    <textarea id="input-unique-id" class="slds-textarea" placeholder="Placeholder Text"></textarea>
                </div>
            </div>
        </div>
    </div>

</div>








<!-- MODAL -->
<div class="demo-only slds-hide" style="min-height: 800px;" id="modalB">
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01B" aria-modal="true" aria-describedby="modal-content-id-1B"
             class="slds-modal slds-modal_large slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse js-close-modalB" title="Close">
                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Response</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <div class="slds-modal__content slds-p-around_medium slds-hide" id="modal-content-id-1B-loader">
                    <div role="status" class="slds-spinner slds-spinner_medium">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>


                <div class="slds-modal__content slds-p-around_medium 2slds-hide" id="modal-content-id-1B-stuff">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="textarea-id-01">Curl</label>
                        <div class="slds-form-element__control">
                            <textarea id="textarea-id-01" class="slds-textarea" placeholder="">curl -X POST --header 'Content-Type: application/json' --header 'Accept: application/json' --header 'Authorization: Bearer e458e5c3-93b8-401e-a90d-457a0eaca0b5' -d '{ \
                                "count": 0, \
                                "expand": [ \
                                "string" \
                                ], \
                                "query": {}, \
                                "select": "string", \
                                "sorts": [ \
                                { \
                                "field": "string", \
                                "sort_order": "asc" \
                                } \
                                ], \
                                "start": 0 \
                                }' 'https://demo-ocapi.demandware.net/s/-/dw/data/v17_8/catalog_search?client_id=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'

                            </textarea>
                        </div>
                    </div>
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="textarea-id-02">Response Body</label>
                        <div class="slds-form-element__control">
                            <textarea id="textarea-id-02" class="slds-textarea" placeholder="">no content</textarea>
                        </div>
                    </div>
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="textarea-id-03">Response Code</label>
                        <div class="slds-form-element__control">
                            <textarea id="textarea-id-03" class="slds-textarea" placeholder="">0</textarea>
                        </div>
                    </div>
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="textarea-id-02">Response Headers</label>
                        <div class="slds-form-element__control">
                            <textarea id="textarea-id-01" class="slds-textarea" placeholder="">{
                                "error": "no response from server"
                                }
                            </textarea>
                        </div>
                    </div>
                </div>

                <div class="slds-form-element">
                    <span class="slds-badge slds-m-bottom_large" style="background:#c23934; color: #fff;">5</span> Errors
                    <div class="slds-form-element">
                        <pre class="slds-box">
        <code class="">{
          "count": 0,
          "data": [
            {}
          ],
          "expand": [
            "string"
          ],
          "hits": [
            {
              "assigned_product_count": 0,
              "assigned_sites": [
                {
                  "customer_list_link": {
                    "customer_list_id": "string",
                    "link": "string",
                    "title": {}
                  },
                  "description": {},
                  <span style="color:red">"display_name": {},</span>
                  "id": "string",
                  "in_deletion": true,
                  "link": "string",
                  "storefront_status": "online"
                }
              ],
              <span style="color:red">"category_count": 0,</span>
              "creation_date": "2017-11-12T12:09:09.208Z",
              "description": {},
              "id": "string",
              "last_modified": "2017-11-12T12:09:09.208Z",
              "link": "string",
              <span style="color:red">"name": {},</span>
              "online": true,
              "owned_product_count": 0,
              "recommendation_count": 0,
              "root_category": "string"
            <span style="color:red">}</span>
          ],
          "next": {
            "count": 0,
            "start": 0
          },
          "previous": {
            "count": 0,
            "start": 0
          },
          <span style="color:red">"query": {},</span>
          "select": "string",
          "sorts": [
            {
              "field": "string",
              "sort_order": "asc"
            }
          ],
          "start": 0,
          "total": 0
        }</code></pre>
                    </div>
                </div>




            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral js-close-modalB">Close</button>
                <button class="slds-button slds-button_brand">Run Again</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</div>

<!-- /MODAL -->
