<div class="slds-hide" id="locale-warning">
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-50" aria-modal="true" aria-describedby="modal-content-50" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse js-trigger-close" title="Close">
                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-51" class="slds-text-heading_medium slds-hyphenate">Locale Selection: fr-FRA</h2>
                <p class="slds-m-top_x-small">You just switched the locale to: fr-FRA.<br>
                    For this locale exists no translation yet.<br>
                    How would you like to proceed?<br>
                </p>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-50">

                <fieldset class="slds-form-element">
                    <legend class="slds-form-element__legend slds-form-element__label slds-hide">Radio Group Label</legend>
                    <div class="slds-form-element__control">
                        <span class="slds-radio slds-p-bottom--small">
                            <input type="radio" id="radio-3" name="options" value="on">
                            <label class="slds-radio__label" for="radio-3">
                                <span class="slds-radio_faux"></span>
                                <span class="slds-form-element__label">I want to start with an empty page!</span>
                            </label>
                        </span>
                        <span class="slds-radio slds-p-bottom--small">
                            <input type="radio" id="radio-4" name="options" value="on">
                            <label class="slds-radio__label" for="radio-4">
                                <span class="slds-radio_faux"></span>
                                <span class="slds-form-element__label">I want to copy content from another locale:
                                    <button class="slds-button">en-EN
                                        <svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                        </svg>
                                    </button>
                                    <select class="slds-hide slds-select slds-m-top--small" id="select-01">
                                        <option>en-EN</option>
                                    </select>

                                </span>
                            </label>
                        </span>
                        <span class="slds-radio slds-p-bottom--small">
                            <input type="radio" id="radio-5" name="options" value="on">
                            <label class="slds-radio__label" for="radio-5">
                                <span class="slds-radio_faux"></span>
                                <span class="slds-form-element__label">Don’t  display this page for the selected language (fr-FRA)</span>
                            </label>
                        </span>
                    </div>
                </fieldset>


            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral js-trigger-close">Cancel</button>
                <button class="slds-button slds-button_brand js-trigger-close">Save</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</div>
