<div class="slds-context-bar__item slds-context-bar__object-switcher slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger--click app-trigger">
    <a href="javascript:void(0);" title="Object" class="slds-context-bar__label-action">
        <span class="slds-truncate">Site Genesis</span>
    </a>
    <div class="slds-context-bar__icon-action">
        <button class="slds-button slds-button--icon-container slds-button--icon-x-small" aria-haspopup="true" title="Open object switcher menu">
            <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
            </svg>
            <span class="slds-assistive-text">Open object switcher menu</span>
        </button>
    </div>
    <div class="slds-dropdown slds-dropdown--right">
        <ul class="slds-dropdown__list" role="menu">
            <li class="slds-dropdown__item" role="presentation">
                <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate">
                        <svg class="slds-icon slds-icon--small slds-icon-standard-case slds-m-right--small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#case"></use>
                        </svg>Site Genesis</span>
                </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
                <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="slds-truncate">
                        <svg class="slds-icon slds-icon--small slds-icon-custom-custom93 slds-m-right--small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom93"></use>
                        </svg>Site Genesis Global</span>
                </a>
            </li>
        </ul>
    </div>
</div>
