<script>
    $(document).ready(function() {
        //DRAG DROP MOVE AROUND
        var count = 0;

        $('.draggable').draggable({
            connectToSortable: '.list',
            helper: 'clone',
            start: function(event, ui) {
                $('.ui-draggable').not(ui.helper.css('z-index', '1')).css('z-index', '0');
                $('.ui-draggable').css('height', 'auto');
                ui.helper.children('.component').fadeOut(600);

            },
            stop: function(event, ui) {
                var navtxt = $(ui.helper).attr('title');

                savingAnimation();
                ui.helper.css('width', '100%');
                ui.helper.children('.add-component').fadeOut(600);
                ui.helper.children('div.component').fadeToggle().toggleClass('slds-hide slds-show');




                //add id to placeholder
                $(this).addClass('ui-draggable-dragged');
                ui.helper.attr('id', 'component_placeholder_' + count);


                //add navigator item
                var nav_item = '<li class="slds-item nav" id="navigator_placeholder_' + count + '"><span class="slds-tree__item-label slds-truncate" title="' + navtxt + '"><button class="slds-button slds-button__small 2slds-button_neutral hoverme">' + navtxt + '</button><button class="slds-button slds-button__small slds-float_right trash"><svg class="slds-button__icon slds-button__icon_left" aria-hidden="true"><use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use></svg></button></span></li>';
                $(nav_item).attr('id', 'navigator_placeholder_' + count);
                $(nav_item).addClass('listItem' + count);
                $(nav_item).attr('indexer', 'listItem' + count);
                ui.helper.addClass('listItem' + count);
                ui.helper.attr('indexer', 'listItem' + count);
                $('#navigator_list').append(nav_item);


                count++;

                $('.list .button-trigger-action--edit-component-row').click(function() {
                    var component_type = 'row';
                    $('.draggable .slds-drop-zone__container').removeClass('slds-is-hovered');
                    $(this).closest('.draggable .slds-drop-zone__container').toggleClass('slds-is-hovered');
                    var activeComponent = $(this).closest('.draggable').attr('id');
                    showProperties(component_type, activeComponent);
                    console.log('activeComponent is now: '+activeComponent);
                });


                $('.list .button-trigger-action--edit-component-banner').click(function() {
                    var component_type = 'banner';
                    $('.draggable .slds-drop-zone__container').removeClass('slds-is-hovered');
                    $(this).closest('.draggable .slds-drop-zone__container').toggleClass('slds-is-hovered');
                    var activeComponent = $(this).closest('.draggable').attr('id');
                    showProperties(component_type, activeComponent);
                    //alert('activeComponent is now: '+activeComponent);

                });

                $('.list .button-trigger-action--edit-component-category').click(function() {
                    var component_type = 'category';
                    $('.draggable .slds-drop-zone__container').removeClass('slds-is-hovered');
                    $(this).closest('.draggable .slds-drop-zone__container').toggleClass('slds-is-hovered');
                    var activeComponent = $(this).closest('.draggable').attr('id');
                    showProperties(component_type, activeComponent);
                    console.log('activeComponent is now: '+activeComponent);
                });

                $('#canvas_list .slds-drop-zone').mouseenter(function() {
                    var str = $(this).closest('#canvas_list li.draggable').attr('id');
                    var listitem = str.split('component_placeholder_');
                    var item = listitem[1];
                    $('#navigator_placeholder_'+item).removeClass('nav');
                    $('#navigator_placeholder_'+item).addClass('nav-hover');
                });
                $('#canvas_list .slds-drop-zone').mouseout(function() {
                    var str = $(this).closest('#canvas_list li.draggable').attr('id');
                    var listitem = str.split('component_placeholder_');
                    var item = listitem[1];
                    $('#navigator_placeholder_'+item).removeClass('nav-hover');
                    $('#navigator_placeholder_'+item).addClass('nav');
                });





                $('#navigator_list li').mouseenter(function() {
                    //on hover show the sub menu and change the background color
                    $(this).closest('#navigator_list li.slds-item').removeClass('nav');
                    $(this).closest('#navigator_list li.slds-item').addClass('nav-hover');
                    //now get the id and then highlight the related component
                    var str = $(this).closest('#navigator_list li.slds-item').attr('id');
                    var listitem = str.split('navigator_placeholder_');
                    var item = listitem[1];
                    //console.log('eelemtn id is: '+item);
                    $('#canvas_list #component_placeholder_'+item+' .slds-drop-zone__container').addClass('slds-is-hovered');


                });
                $('#navigator_list li').mouseout(function() {
                    //on hover show the sub menu and change the background color
                    $(this).closest('#navigator_list li.slds-item').addClass('nav');
                    $(this).closest('#navigator_list li.slds-item').removeClass('nav-hover');
                    $('#canvas_list .slds-drop-zone__container').removeClass('slds-is-hovered');
                });

                $('.hoverme').click(function() {
                    //scroll to div in canvas
                });




                $('.list button.button-trigger-action--delete-component , .trash').click(function() {
                    var activeComponentPlaceholder = undefined;
                    var activeNavigationPlaceholder = undefined;

                    var activeComponentPlaceholder = $(this).closest('li').attr('id');
                    if (activeComponentPlaceholder.match('navigator_placeholder_')) {

                        arr = activeComponentPlaceholder.split('navigator_placeholder_');
                        var activeNavigationPlaceholder = 'navigator_placeholder_' + arr[1];
                        var activeComponentPlaceholder = 'component_placeholder_' + arr[1];
                        arr = undefined;
                    }
                    if (activeComponentPlaceholder.match('component_placeholder_')) {
                        arr = activeComponentPlaceholder.split('component_');
                        var activeNavigationPlaceholder = 'navigator_' + arr[1];
                        arr = undefined;
                    }
                    $('#modal-id-4-delete').removeClass('slds-hide');
                    //DELETE ANY COMPONENT
                    $('.js-trigger-delete-component, .action-delete-component').click(function() {
                        $('#' + activeComponentPlaceholder).remove();
                        $('#' + activeNavigationPlaceholder).remove();

                        $('#modal-id-4-delete').addClass('slds-hide');
                        activeComponentPlaceholder = undefined;
                        activeNavigationPlaceholder = undefined;

                        if ($('#canvas_list > li.draggable').length != 0) {} else {
                            $('.component_properties').addClass('slds-hide');
                            $('.component_properties .placeholder').toggleClass('slds-hide');
                        }
                        return false;
                    });
                });
            }
        });
        $('.draggable').disableSelection();

        $('#navigator_list').sortable({

            start: function(event, ui){
                oldIndex = ui.item.index();
                $(this).addClass('sortable-hover');
            },
            stop: function(event, ui) {
                newIndex = ui.item.index();
                var str = ui.item.attr('id');
                var listitem = str.split("navigator_placeholder_");
                var moveitem = listitem[1];
                if (oldIndex > newIndex) {
                    $('#component_placeholder_'+moveitem).insertBefore('#canvas_list li:eq('+newIndex+')');
                }else{
                    $('#component_placeholder_'+moveitem).insertAfter('#canvas_list li:eq('+newIndex+')');
                };
                $('#navigator_list').removeClass('sortable-hover');

            }
        });
        $("#navigator_list").disableSelection();



        $('.list').sortable({
            revert: true,
            placeholder: 'ui-sortable-helper',
            start: function(event, ui) {
                list_width = $('#canvas_list').width();
                oldIndex = ui.item.index();
                ui.helper.css('height', 'auto');
                ui.helper.css('width', list_width);
                $('ul,li').disableSelection();
            },
            stop: function(event, ui, ) {
                newIndex = ui.item.index();
                var str = ui.item.attr('id');
                var listitem = str.split("component_placeholder_");
                var moveitem = listitem[1];


                if (oldIndex > newIndex) {
                    $('#navigator_placeholder_'+moveitem).insertBefore('#navigator_list li:eq('+newIndex+')');
                }else{
                    $('#navigator_placeholder_'+moveitem).insertAfter('#navigator_list li:eq('+newIndex+')');
                }
            },

        });
        $('.list').disableSelection();


        //PREVIEW HANDLING
        $('#trigger-preview-desktop').click(function() {
            $('#canvas_list').removeClass('desktop');
            $('#canvas_list').removeClass('tablet_landscape');
            $('#canvas_list').removeClass('tablet_portrait');
            $('#canvas_list').removeClass('phone_landscape');
            $('#canvas_list').removeClass('phone_portrait');
            $('#canvas_list').addClass('desktop');
            return false;
        });
        $('#trigger-preview-tablet_landscape').click(function() {
            $('#canvas_list').removeClass('desktop');
            $('#canvas_list').removeClass('tablet_landscape');
            $('#canvas_list').removeClass('tablet_portrait');
            $('#canvas_list').removeClass('phone_landscape');
            $('#canvas_list').removeClass('phone_portrait');
            $('#canvas_list').addClass('tablet_landscape');
            return false;
        });
        $('#trigger-preview-tablet_portrait').click(function() {
            $('#canvas_list').removeClass('desktop');
            $('#canvas_list').removeClass('tablet_landscape');
            $('#canvas_list').removeClass('tablet_portrait');
            $('#canvas_list').removeClass('phone_landscape');
            $('#canvas_list').removeClass('phone_portrait');
            $('#canvas_list').addClass('tablet_portrait');
            return false;
        });
        $('#trigger-preview-phone_landscape').click(function() {
            $('#canvas_list').removeClass('desktop');
            $('#canvas_list').removeClass('tablet_landscape');
            $('#canvas_list').removeClass('tablet_portrait');
            $('#canvas_list').removeClass('phone_landscape');
            $('#canvas_list').removeClass('phone_portrait');
            $('#canvas_list').addClass('phone_landscape');
            return false;
        });
        $('#trigger-preview-phone_portrait').click(function() {
            $('#canvas_list').removeClass('desktop');
            $('#canvas_list').removeClass('tablet_landscape');
            $('#canvas_list').removeClass('tablet_portrait');
            $('#canvas_list').removeClass('phone_landscape');
            $('#canvas_list').removeClass('phone_portrait');
            $('#canvas_list').addClass('phone_portrait');
            return false;
        });



        //SAVING ANIMATION
        function savingAnimation() {
            $('#status_txt').delay(500).fadeOut(1000, function() {
                $('#status_txt').text('Saving ...');
            }).fadeIn(1000).delay(500).fadeOut(1000, function() {
                $('#status_txt').text('Saved');
            }).fadeIn(1000);
        }



        //NAVIGATOR
        function showNavigation() {
        }
        function showProperties(component_type, activeComponent) {
            /*
            console.log('called editor and now the activeComponent is: '+activeComponent);
            console.log('called editor and now the component_type is: '+component_type);
            */
            $('#panel_editor .component_properties').addClass('slds-hide');
            $('#editor_' + component_type).removeClass('slds-hide');
            $('#editor_' + component_type).addClass('slds-show');

            //activate tab general
            $('#editor_' + component_type +' .tab_general').addClass('slds-active');
            $('#editor_' + component_type +' .tab_rules').removeClass('slds-active');

            $('#editor_' + component_type +' .tab_general_content').addClass('slds-show');
            $('#editor_' + component_type +' .tab_general_content').removeClass('slds-hide');
            $('#editor_' + component_type +' .tab_rules_content').removeClass('slds-show');
            $('#editor_' + component_type +' .tab_rules_content').addClass('slds-hide');
            $('.text-activeComponent').val(activeComponent);

            $('#panel_editor').removeClass('slds-hide');
        }

        //MEDIA SELECTOR
        $('#panel_right .slds-panel__close').click(function() {
            $('#panel_right').addClass('slds-hide');
            return false;
        });


        //Toggle Tab General
        $('.tab_general').click(function() {
            $('.tab_general').addClass('slds-active');
            $('.tab_rules').removeClass('slds-active');

            $('.tab_general_content').addClass('slds-show');
            $('.tab_general_content').removeClass('slds-hide');
            $('.tab_rules_content').removeClass('slds-show');
            $('.tab_rules_content').addClass('slds-hide');
            return false;
        });

        $('.tab_rules').click(function() {
            $('.tab_general').removeClass('slds-active');
            $('.tab_rules').addClass('slds-active');

            $('.tab_general_content').removeClass('slds-show');
            $('.tab_general_content').addClass('slds-hide');
            $('.tab_rules_content').addClass('slds-show');
            $('.tab_rules_content').removeClass('slds-hide');
            return false;
        });





        //GALLERY BROWSING
        $('.select_collectionA').click(function() {
            $('.select_collectionA').addClass('slds-is-selected');
            $('.collectionA').removeClass('slds-hide');

            $('.select_collectionB').removeClass('slds-is-selected');
            $('.collectionB').addClass('slds-hide');

            $('.select_collectionC').removeClass('slds-is-selected');
            $('.collectionC').addClass('slds-hide');

            $('.select_collectionD').removeClass('slds-is-selected');
            $('.collectionD').addClass('slds-hide');

            $('.select_collectionG').removeClass('slds-is-selected');
            $('.collectionG').addClass('slds-hide');
            return false;
        });


        $('.select_collectionB').click(function() {
            $('.select_collectionB').addClass('slds-is-selected');
            $('.collectionB').removeClass('slds-hide');

            $('.select_collectionA').removeClass('slds-is-selected');
            $('.collectionA').addClass('slds-hide');

            $('.select_collectionC').removeClass('slds-is-selected');
            $('.collectionC').addClass('slds-hide');

            $('.select_collectionD').removeClass('slds-is-selected');
            $('.collectionD').addClass('slds-hide');

            $('.select_collectionG').removeClass('slds-is-selected');
            $('.collectionG').addClass('slds-hide');
            return false;
        });


        $('.select_collectionC').click(function() {
            $('.select_collectionC').addClass('slds-is-selected');
            $('.collectionC').removeClass('slds-hide');

            $('.select_collectionB').removeClass('slds-is-selected');
            $('.collectionB').addClass('slds-hide');

            $('.select_collectionA').removeClass('slds-is-selected');
            $('.collectionA').addClass('slds-hide');

            $('.select_collectionD').removeClass('slds-is-selected');
            $('.collectionD').addClass('slds-hide');

            $('.select_collectionG').removeClass('slds-is-selected');
            $('.collectionG').addClass('slds-hide');
            return false;
        });

        $('.select_collectionD').click(function() {
            $('.select_collectionD').addClass('slds-is-selected');
            $('.collectionD').removeClass('slds-hide');

            $('.select_collectionB').removeClass('slds-is-selected');
            $('.collectionB').addClass('slds-hide');

            $('.select_collectionA').removeClass('slds-is-selected');
            $('.collectionA').addClass('slds-hide');

            $('.select_collectionC').removeClass('slds-is-selected');
            $('.collectionC').addClass('slds-hide');

            $('.select_collectionG').removeClass('slds-is-selected');
            $('.collectionG').addClass('slds-hide');
            return false;
        });


        $('.select_collectionG').click(function() {
            $('.select_collectionG').addClass('slds-is-selected');
            $('.collectionG').removeClass('slds-hide');

            $('.select_collectionB').removeClass('slds-is-selected');
            $('.collectionB').addClass('slds-hide');

            $('.select_collectionA').removeClass('slds-is-selected');
            $('.collectionA').addClass('slds-hide');

            $('.select_collectionC').removeClass('slds-is-selected');
            $('.collectionC').addClass('slds-hide');

            $('.select_collectionD').removeClass('slds-is-selected');
            $('.collectionD').addClass('slds-hide');
            return false;
        });






        //MEDIA SELECTOR
        $('.add-mediaselector-dummy').click(function() {
            console.log('media selector called');
            selected_image = undefined;
            $('.mediaselector-component-editor .image-figure-thumb').attr('src', '/assets/placeholder.png');
            $('.mediaselector-component-editor .file-name').html('No Image assigned');


            $('#banner-checkbox_everyone').prop('checked', false);
            $('#banner-checkbox_customergroupa').prop('checked', false);
            $('#banner-checkbox_customergroupb').prop('checked', false);

            //now open editor
            activeComponent = undefined;
            activeComponent = $(component_placeholder).attr('id');

            //add 1 to component count
            regionlimit = $('#' + closest_region + '_links .region_limit').text();
            regionlimit = Number(regionlimit) + 1;

            $('#' + closest_region + '_links .region_limit').text('');
            $('#' + closest_region + '_links .region_limit').text(regionlimit);

            $('.region_component_selector').toggleClass('slds-hide');
            $('.mediaselector-component-editor').toggleClass('slds-hide');

            $('.modal-content-id-37 .tab_general').addClass('slds-active');
            return false;
        });

        //BANNER COMPONENT
        $('.mediaselector-component-editor .image-figure, .add-image').click(function() {
            callerComponent = 'banner';
            $('.media-picker').toggleClass('slds-hide');
        });

        $('.media-component button.js-trigger-edit-component').click(function() {
            activeComponent = undefined;
            activeComponent = $(this).closest('li').attr('id');

            $('#banner-checkbox_everyone').prop('checked', false);
            $('#banner-checkbox_customergroupa').prop('checked', false);
            $('#banner-checkbox_customergroupb').prop('checked', false);


            //SET CHECKBOX VALUES
            if ($('#' + activeComponent).hasClass('Everyone')) {
                $('#banner-checkbox_everyone').prop('checked', true);
            }
            if ($('#' + activeComponent).hasClass('CustomergroupA')) {
                $('#banner-checkbox_customergroupa').prop('checked', true);
            }
            if ($('#' + activeComponent).hasClass('CustomergroupB')) {
                $('#banner-checkbox_customergroupb').prop('checked', true);
            }


            return false;
        });


        $('.media-component-editor button.trigger-save-modal').click(function() {
            selected_text = $('.slds-rich-text-area__content').html();
            selected_header = $('.slds-input-header').val();
            $('#' + activeComponent + ' .text-holder').html(selected_text);
            $('#' + activeComponent + ' .header-holder').html(selected_header);

            return false;
        });

        //IMAGE SELECT
        $('.image-thumb').click(function() {
            selected_image = $(this).closest('a').find('img').attr('src');
            console.log('selected image: '+selected_image);
            $('.slds-file_card').removeClass('selected');
            $(this).closest('.slds-file_card').addClass('selected');
            console.log('image selected: '+selected_image);
            return false;
        });

        //IMAGE SAVE
        $('.picker .trigger-save-modal').click(function() {
            console.log('close picker and set image: '+selected_image)
            $('#editor_banner .image-figure-thumb').attr('src', selected_image);
            $('#editor_banner .file-name').text(selected_image);
            $('.picker').addClass('slds-hide');
            $('.circle').toggleClass('slds-hide');
            /*
            if (callerComponent == 'banner') {
                $('#editor_banner .image-figure-thumb').attr('src', selected_image);
                $('#editor_banner .file-name').text(selected_image);
                $('.picker').addClass('slds-hide');
                $('.circle').toggleClass('slds-hide');
                //$('.mediaselector-component-editor').toggleClass('slds-hide');
            } else {
                $('#editor_banner .image-figure-thumb').attr('src', selected_image);
                $('#editor_banner .file-name').text(selected_image);
                $('.picker').addClass('slds-hide');
                $('.circle').toggleClass('slds-hide');
                $('.product-component-editor').toggleClass('slds-hide');

            }
            */
        });

        //NOW SET IMAGE TO PLACEHOLDER
        $('#panel_editor .trigger-save-modal').click(function(selected_image) {

            if (component_type = 'banner'){
                var activeComponent = $('.text-activeComponent').val();
                var selected_image = $('.file-name').text();
                $('#'+activeComponent+' .component .placeholder').addClass('slds-hide');
                $('#'+activeComponent+' .component .image-holder').removeClass('slds-hide');

                $('#'+activeComponent+' .component .image-holder').css('background-image', 'url(' + selected_image + ')');

                banner_header = $('.text-banner-header').val();
                banner_sub = $('.text-banner-sub').val();
                $('#' + activeComponent + ' .banner-header').html(banner_header);
                $('#' + activeComponent + ' .banner-sub').html(banner_sub);

                //alert('#'+activeComponent+' .image-holder'+ selected_image);
                console.log(selected_image);
                console.log(activeComponent);
            }
            if (component_type = 'category'){
                console.log('component type is category');
                var activeComponent = $('.text-activeComponent').val();
                console.log('save category');
            }
            if (component_type = 'row'){
                console.log('save row');
            }

        });



        /*

        //BANNER COMPONENT EDIT
        $('.placeholder-component-37 .js-trigger-edit-component, .js-trigger-media-edit-component').click(function() {
            alert();
            activeComponent = undefined;
            activeComponent = $(this).closest('li').attr('id');

            $('#banner-checkbox_everyone').prop('checked', false);
            $('#banner-checkbox_customergroupa').prop('checked', false);
            $('#banner-checkbox_customergroupb').prop('checked', false);


            //SET CHECKBOX VALUES
            if ($('#' + activeComponent).hasClass('Everyone')) {
                $('#banner-checkbox_everyone').prop('checked', true);
            }
            if ($('#' + activeComponent).hasClass('CustomergroupA')) {
                $('#banner-checkbox_customergroupa').prop('checked', true);
            }
            if ($('#' + activeComponent).hasClass('CustomergroupB')) {
                $('#banner-checkbox_customergroupb').prop('checked', true);
            }



            //GET IMAGE
            //imgUrl = $(this).closest('.placeholder').find('.image-holder').css('background-image');
            imgUrl = $('#' + activeComponent).find('.image-holder').css('background-image');

            patt = /\"|\'|\)/g;
            selected_image = '/assets/' + imgUrl.split('/').pop().replace(patt, '');

            //GET TEXTS
            banner_header = $('#' + activeComponent).find('.title').text();
            banner_sub = $('#' + activeComponent).find('.sub').text();

            $('.mediaselector-component-editor .image-figure-thumb').attr('src', selected_image);

            //SET TAB
            $('.modal-content-id-37 .tab_general').addClass('slds-active');
            $('.mediaselector-component-editor .text-banner-header').val(banner_header);
            $('.mediaselector-component-editor .text-banner-sub').val(banner_sub);
            $('.mediaselector-component-editor').toggleClass('slds-hide');
        });



        $('.js-trigger-media-edit-rules').click(function() {
            activeComponent = undefined;
            activeComponent = $(this).closest('li').attr('id');

            if (activeComponent.match('_links')) {
                arr = activeComponent.split('_');
                activeComponent = arr[0];
                arr = undefined;
            }

            $('#banner-checkbox_everyone').prop('checked', false);
            $('#banner-checkbox_customergroupa').prop('checked', false);
            $('#banner-checkbox_customergroupb').prop('checked', false);


            //SET CHECKBOX VALUES
            if ($('#' + activeComponent).hasClass('Everyone')) {
                $('#banner-checkbox_everyone').prop('checked', true);
            }
            if ($('#' + activeComponent).hasClass('CustomergroupA')) {
                $('#banner-checkbox_customergroupa').prop('checked', true);
            }
            if ($('#' + activeComponent).hasClass('CustomergroupB')) {
                $('#banner-checkbox_customergroupb').prop('checked', true);
            }



            //GET IMAGE
            //imgUrl = $(this).closest('.placeholder').find('.image-holder').css('background-image');
            imgUrl = $('#' + activeComponent).find('.image-holder').css('background-image');

            patt = /\"|\'|\)/g;
            selected_image = '/assets/' + imgUrl.split('/').pop().replace(patt, '');

            //GET TEXTS
            banner_header = $('#' + activeComponent).find('.title').text();
            banner_sub = $('#' + activeComponent).find('.sub').text();

            $('.mediaselector-component-editor .image-figure-thumb').attr('src', selected_image);

            //SET TAB
            $('.modal-content-id-37 .tab_rules').addClass('slds-active');
            $('.mediaselector-component-editor .text-banner-header').val(banner_header);
            $('.mediaselector-component-editor .text-banner-sub').val(banner_sub);
            $('.mediaselector-component-editor').toggleClass('slds-hide');

            //SET CHECKBOX VALUES
            if ($('#' + activeComponent).hasClass('Everyone')) {
                $('#banner-checkbox_everyone').prop('checked', true);
            }
            if ($('#' + activeComponent).hasClass('CustomergroupA')) {
                $('#banner-checkbox_customergroupa').prop('checked', true);
            }
            if ($('#' + activeComponent).hasClass('CustomergroupB')) {
                $('#banner-checkbox_customergroupb').prop('checked', true);
            }


        });

*/






        //PRODUCT PICKER SELECT COMPONENT
        $('.add-product').click(function() {
            $('.product-component-editor').toggleClass('slds-hide');
            $('#cat-pick').toggleClass('slds-hide');
            //$('.product-picker').toggleClass('slds-hide');
            /*
            $('#picker-tabs').toggleClass('slds-hide');
            $('#tab-default-2').toggleClass('slds-show');
            $('#select-search').toggleClass('slds-show');
            $('#combobox-unique-id1').toggleClass('slds-show');
            */

            return false;
        });


        //FILTER PRODUCT TABLE

        $("#kwd_search").keyup(function() {
            if ($(this).val() != "") {
                $("#my-table tbody>tr").hide();
                $("#my-table td:contains-ci('" + $(this).val() + "')").parent("tr").show();
            } else {
                $("#my-table tbody>tr").show();
            }
        });
        $.extend($.expr[":"], {
            "contains-ci": function(elem, i, match, array) {
                return (elem.textContent || elem.innerText || $(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
            }
        });


        //SELECT PRODUCT
        $('.slds-checkbox_faux').click(function() {
            selected_product_name = undefined;
            selected_product_brand = undefined;
            selected_product_price = undefined;
            selected_product_id = undefined;


            selected_product_name = $(this).closest('tr').find('.product-name').html();
            selected_product_brand = $(this).closest('tr').find('.product-brand').html();
            selected_product_price = $(this).closest('tr').find('.product-price').html();
            selected_product_image = $(this).closest('tr').find('.prod_img').attr('src');
        });

        $('.product-picker button.trigger-save-modal').click(function() {

            $('.product-picker').toggleClass('slds-hide');
            $('.product-component-editor').toggleClass('slds-hide');

            $('.product-picker div.list-empty').toggleClass('slds-hide');
            $('.product-picker div.list-full').toggleClass('slds-hide');

            $('.product-link').val(selected_product_name);

            return false;
        });

        $('#select-all-products').click(function () {
            $('.product-list .slds-checkbox_add-button input').prop('checked', true);
            $('.hrhr-1').removeAttr('disabled');
            $('#deselect-all-products, .deselect-all-products, #items-selected-more').toggleClass('slds-hide');
            $(this).toggleClass('slds-hide');
        });

        $('#deselect-all-products').click(function () {
            $('.product-list .slds-checkbox_add-button input').prop('checked', false);
            $('#select-all-products, .deselect-all-products, #items-selected-more').toggleClass('slds-hide');
            $(this).toggleClass('slds-hide');
            $('.slds-button_brand.hrhr-1').attr('disabled', 'disabled');
        });



        // Nested Categories Commerce Selector
        $('#trigger-nested').click(function() {
            $('.slds-is-child').toggleClass('slds-hide');
            $(this).toggleClass('is-opened');
        });

        $('.app-trigger').click(function() {
            $(this).toggleClass('slds-is-open');
        });

        $('.hide-select-product-2').click(function() {
            $('#select-product-23').toggleClass('slds-hide');
            $('#select-product-23').toggleClass('slds-show');
        });

        $('.slds-checkbox_faux').click(function() {
            $('#items-selected, #remove-all-trigger').removeClass('slds-hide');
            $('.einstein-placeholder-item').addClass('slds-hide');
            $('.einstein-item').removeClass('slds-hide');
            $('.hrhr-1').removeAttr('disabled');
        });

        $('#remove-all-trigger').click(function() {
            $('#remove-all-trigger, #items-selected').addClass('slds-hide');
            $('.product-list .slds-checkbox_add-button input').prop('checked', false);
            $('.hrhr-1').prop('disabled', true);
        });

        $('#combobox-unique-id1').change(function() {
            $('#tab-default-1, #placeholder-img, #item-counter, #empty-state-text').toggleClass('slds-hide');
        });

        $('#combobox-unique-id2').change(function() {
            $('.product-tile[aria-level="2"], .product-tile[aria-level="3"]').removeAttr('aria-level');
            $('.trigger-nested, .cat-path').toggleClass('slds-hide');
        });

        $('.hrhr').click(function() {
            var $checkbox = $('input.is-child');
            $checkbox.toggleClass('is-inhereted');
        });

        $('.hide-assign-to').click(function() {
            $('#assign-to').toggleClass('slds-hide');
        });

        $('.slds-section__title-action').click(function() {
            $(this).parent().parent().toggleClass('slds-is-open');
        });

        $('.is-child.is-inhereted + .slds-checkbox_faux').click(function() {
            $(this).removeClass('is-inhereted');
        });



        $('#select-product').click(function() {
            $('#select-intro, #picker-tabs, #select-search, #empty-state, #combobox-unique-id2').toggleClass('slds-hide');
        });

        $('#select-category').click(function() {
            $('#select-intro, #picker-tabs, #select-search, #tab-default-2, #combobox-unique-id1').toggleClass('slds-hide');
            $('#tab-default-2').toggleClass('slds-show');
        });


        $('.is-child.is-inhereted + .slds-checkbox_faux').click(function() {
            $(this).removeClass('is-inhereted');
        });

        $('#picker-tabs .checker').on('change', function(){
            if(this.checked){
                $('#picker-tabs .checker').prop('disabled', true);
                $(this).prop('disabled', false);
                //var checked_cat = $('label[for="'+ $this.attr('id') +'"]');
                checked_cat = $(this).closest('.slds-checkbox_add-button').find('.checker').attr('id');
                $('#assign-success').prop('disabled', false);
            }else{
                $('#picker-tabs .checker').prop('disabled', false);
                checked_cat = '';
                $('#assign-success').prop('disabled', true);
            }
        })

        $('#assign-success, .hrhr-1').click(function() {
            $('#picker-tabs .checker').prop('checked', false);
            $('#picker-tabs .checker').prop('disabled', false);
            $('#picker-tabs .checker').removeClass('is-inhereted');
            $('#assign-success').prop('disabled', true);


            $('.product-component-editor .image-figure-thumb').attr('src', 'assets/'+checked_cat+'.jpg');
            selected_image = 'assets/'+checked_cat+'.jpg';
            $('.product-link').val(checked_cat);
            $('#cat-pick').toggleClass('slds-hide');
            $('.product-component-editor').toggleClass('slds-hide');
        });





        //MODAL HANDLERS
        $('.trigger-close-modal').click(function() {
            $(this).closest('.modal').toggleClass('slds-hide');
            return false;
        });


        //SIDE PANEL COLLAPSE EXPAND
        $('#panel_left .slds-panel__close').click(function() {
            $('#panel_left').removeClass('left_expanded');
            $('#panel_left').addClass('left_collapsed');
            $('#panel_left .slds-dropdown__header').addClass('slds-hide');
            $('#button_left_expand').toggleClass('slds-hide');
            return false;
        });

        $('#button_left_expand').click(function() {
            $('#panel_left').removeClass('left_collapsed');
            $('#panel_left').addClass('left_expanded');
            $('#panel_left .slds-dropdown__header').removeClass('slds-hide');
            $('#button_left_expand').toggleClass('slds-hide');
            return false;
        });



        //POPOVER PREVIEW SETTINGS
        $('#trigger-preview-options').click(function() {
            $('#popover-preview-settings').toggleClass('slds-hide');
            return false;
        });
        $('#trigger-preview').click(function() {
            $('#panel_left').toggleClass('slds-hide');
            $('#panel_right').toggleClass('slds-hide');
            //$('.slds-drop-zone').toggleClass('slds-drop-zone slds-drop-zone_none');
            $('.component').toggleClass('component component-preview');
            $('#trigger-preview').toggleClass('slds-hide');
            $('#trigger-edit').toggleClass('slds-hide');
            $('#canvas_list').toggleClass('slds-drop-zone');
            $('#canvas_list').toggleClass('white transparent');
            return false;
        });
        $('#trigger-edit').click(function() {
            $('#panel_left').toggleClass('slds-hide');
            $('#panel_right').toggleClass('slds-hide');
            //$('.slds-drop-zone').toggleClass('slds-drop-zone_none slds-drop-zone');
            $('.component-preview').toggleClass('component-preview component');
            $('#trigger-preview').toggleClass('slds-hide');
            $('#trigger-edit').toggleClass('slds-hide');
            $('#canvas_list').toggleClass('slds-drop-zone');
            $('#canvas_list').toggleClass('transparent white');

            return false;
        });


        $('#popover-preview-settings button').click(function() {
            $('#popover-preview-settings').toggleClass('slds-hide');
            return false;
        });

        $('#button-navigator').click(function() {
            $('#panel_right').toggleClass('slds-hide');
            return false;
        });



        //SET FOCAL Point
        // Credit: https://github.com/jonom/jquery-focuspoint
        // Credit: https://github.com/jonom/jquery-focuspoint

        //$('.focal-holder').css('background-image','url('+$('.set-focal-point').attr('src')+')');

        $('.set-focal-point').click(function(e){

            var imageW = $(this).width();
            var imageH = $(this).height();

            //Calculate FocusPoint coordinates
            var offsetX = e.pageX - $(this).offset().left;
            var offsetY = e.pageY - $(this).offset().top;

            //Calculate CSS Percentages
            var percentageX = (offsetX/imageW)*100;
            //var percentageY = (offsetY/imageH)*100;
            //there must be a bug in here ... why is *10 working???
            var percentageY = (offsetY/imageH)*10;
            var backgroundPosition = percentageX.toFixed(0) + '% ' + percentageY.toFixed(0) + '%';

            //Move indicator
            $('.circle').css('top',(offsetY-10)+'px');
            $('.circle').css('left',(offsetX-10)+'px');
            // Set positioning
            $('.focal-holder').css('background-position',backgroundPosition);


        });



        //- end js

    });
</script>
