<section class="slds-popover 2slds-popover_walkthrough slds-nubbin_top delete-dialog slds-hide" role="dialog" aria-labelledby="" aria-describedby="" style="position:absolute;">
  <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon-inverse" title="Close dialog">
    <svg class="slds-button__icon" aria-hidden="true">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
    </svg>
    <span class="slds-assistive-text">Close dialog</span>
  </button>
  <header class="slds-popover__header slds-p-vertical_medium">
    <h2 id="dialog-heading-id-01" class="slds-text-heading_medium">Delete Component</h2>
  </header>
  <div class="slds-popover__body" id="dialog-body-id-619">
    <p>Are you sure you want to delete this component?</p>
  </div>
  <footer class="slds-popover__footer">
    <div class="slds-grid slds-grid_vertical-align-center">
      <button class="slds-button slds-button_brand slds-col_bump-left" id="bt-cancel">Cancel</button>
      <button class="slds-button slds-button_destructive slds-col_bump-left" id="bt-delete">Delete</button>
    </div>
  </footer>
</section>
