<div class="slds-size_8-of-12">
    <div class="slds-form-element">
        <div class="slds-form-element__control">
            <div class="slds-combobox_container">
                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox" id="slds-combobox-picklist-operations">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                        <input type="text" class="slds-input slds-combobox__input" id="combobox-operations" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Operations" readonly="" />
                        <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down" />
                            </svg>
                            <span class="slds-assistive-text">Description of icon</span>
                        </span>
                    </div>
                    <div id="listbox-unique-id" role="listbox">
                        <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                            <li>
                                <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right slds-p-around_small" role="none">
                                    <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="" />
                                    <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right slds-m-right_small">
                                        <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search" />
                                        </svg>
                                    </span>
                                </div>
                            </li>

                            <li role="presentation" class="slds-listbox__item">
                                <span id="listbox-option-operations-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                    <span class="slds-media__figure">
                                        <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                        </svg>
                                    </span>
                                    <span class="slds-media__body">
                                        <span class="slds-truncate" title="Option A">catalogs</span>
                                    </span>
                                </span>
                            </li>
                            <li role="presentation" class="slds-listbox__item">
                                <span id="listbox-option-operations-02" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                    <span class="slds-media__figure">
                                        <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                        </svg>
                                    </span>
                                    <span class="slds-media__body">
                                        <span class="slds-truncate" title="Option B">catalogs/<span style="color:#ccc">{catalogs_id}</span></span>
                                    </span>
                                </span>
                            </li>
                            <li role="presentation" class="slds-listbox__item">
                                <span id="listbox-option-operations-03" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                    <span class="slds-media__figure">
                                        <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                        </svg>
                                    </span>
                                    <span class="slds-media__body">
                                        <span class="slds-truncate" title="Option B">catalogs/<span style="color:#ccc">{catalogs_id}</span>categories</span>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
