<!-- Add New Wizard Start-->
<div class="slds-hide" id="add-table-entry">
  <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open" aria-labelledby="header43" aria-describedby="modal-content-id-1">
    <div class="slds-modal__container">
      <header class="slds-modal__header">
        <button class="slds-button slds-button--icon slds-modal__close slds-button--icon-inverse js-close-modal" title="Close">
          <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
          </svg>
          <span class="slds-assistive-text">Close</span>
        </button>
        <h2 id="header43" class="slds-text-heading--medium">Create New Meta Tag Rule</h2>
      </header>
      <div class="slds-modal__content slds-p-around--medium" id="modal-content-id-1">
        <div class="slds-form slds-form_compound">
          <div class="slds-form-element__row">
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="select-01">
                <abbr class="slds-required" title="required">*</abbr>Scope</label>
              <div class="slds-form-element__control">
                <div class="slds-select_container">
                  <select class="slds-select" id="select-01">
                    <option>Product Details Page</option>
                    <option selected="selected">Product Listing Page</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="select-021">
                <abbr class="slds-required" title="required">*</abbr>Locale</label>
              <div class="slds-form-element__control">
                <div class="slds-select_container">
                  <select class="slds-select" id="select-021">
                    <option value="default" selected="selected">Default&nbsp;</option>
                    <option value="zh">Chinese&nbsp;</option>
                    <option value="zh_CN">Chinese (China)&nbsp;</option>
                    <option value="nl">Dutch&nbsp;</option>
                    <option value="en">English&nbsp;</option>
                    <option value="en_CA">English (Canada)&nbsp;</option>
                    <option value="en_US">English (United States)&nbsp;</option>
                    <option value="fr">French&nbsp;</option>
                    <option value="fr_CA">French (Canada)&nbsp;</option>
                    <option value="fr_FR">French (France)&nbsp;</option>
                    <option value="de">German&nbsp;</option>
                    <option value="de_DE">German (Germany)&nbsp;</option>
                    <option value="it">Italian&nbsp;</option>
                    <option value="it_IT">Italian (Italy)&nbsp;</option>
                    <option value="ja">Japanese&nbsp;</option>
                    <option value="ja_JP">Japanese (Japan)&nbsp;</option>
                    <option value="es">Spanish&nbsp;</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="slds-form-element__row">
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="select-013">
                <abbr class="slds-required" title="required">*</abbr>Product ID:</label>
              <div class="slds-form-element__control">
                <div class="slds-input-has-icon slds-input-has-icon--right">
                  <svg aria-hidden="true" class="slds-input__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                  </svg>
                  <input id="lookup-330" class="slds-lookup__search-input slds-input" type="search" placeholder="Select Product" aria-owns="lookup-330" role="combobox" aria-activedescendent="" aria-expanded="false" aria-autocomplete="list" disabled="">
                </div>
              </div>
            </div>
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="select-0212">
                <abbr class="slds-required" title="required">*</abbr>Page Meta Tag ID</label>
              <div class="slds-form-element__control">
                <div class="slds-select_container">
                  <select class="slds-select" id="select-0212">
                    <option value="description">
                      description
                    </option>
                    <option value="keywords">
                      keywords
                    </option>
                    <option value="og:description">
                      og:description
                    </option>
                    <option value="og:image">
                      og:image
                    </option>
                    <option value="og:title">
                      og:title
                    </option>
                    <option value="og:url">
                      og:url
                    </option>
                    <option value="revisit-after" selected="selected">
                      revisit-after
                    </option>
                    <option value="robots">
                      robots
                    </option>
                    <option value="title">
                      title
                    </option>
                    <option value="twitter:image">
                      twitter:image
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="slds-form-element__row">
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="input-013">
                <abbr class="slds-required" title="required">*</abbr>Rule</label>
              <div class="slds-form-element__control">
                <textarea id="textarea-id-01" class="slds-textarea" placeholder="Placeholder Text"></textarea>
              </div>
            </div>
          </div>
          <div class="slds-form-element__row">
            <div class="slds-form-element">
              <button class="slds-button slds-button_neutral" id="assign-to-trigger">Assigned to</button>

                <ul class="slds-listbox slds-listbox_horizontal" role="listbox" aria-label="Selected Options:" aria-orientation="horizontal">
                  <li role="presentation">
                    <span class="slds-pill" role="option" tabindex="0" aria-selected="true">
        <span class="slds-pill__label" title="Full pill label verbiage mirrored here">Gazelle</span>
                    <span class="slds-icon_container slds-pill__remove" title="Remove">
          <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
          </svg>
          <span class="slds-assistive-text">Press delete or backspace to remove</span>
                    </span>
                    </span>
                  </li>
                  <li role="presentation">
                    <span class="slds-pill" role="option" aria-selected="true">
        <span class="slds-pill__label" title="Full pill label verbiage mirrored here">Superstar</span>
                    <span class="slds-icon_container slds-pill__remove" title="Remove">
          <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
          </svg>
          <span class="slds-assistive-text">Press delete or backspace to remove</span>
                    </span>
                    </span>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <footer class="slds-modal__footer">
        <button class="slds-button slds-button--neutral js-close-modal">Cancel</button>
        <button class="slds-button slds-button--brand js-close-modal show-created-toast">Save</button>
      </footer>
    </div>
  </section>
  <div class="slds-backdrop slds-backdrop--open"></div>
</div>
<!-- Add New Wizard End -->
