<div class="slds-hide" id="select-product">
  <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-list-builder" aria-labelledby="id-of-modalheader-h2" aria-describedby="modal-content-id-1">
    <div class="slds-modal__container">
      <header class="slds-modal__header">
        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse hide-select-product show_component" title="Close">
          <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
          </svg>
          <span class="slds-assistive-text">Close</span>
        </button>
        <h2 id="id-of-modalheader-h2" class="slds-text-heading_medium">Select Assignments</h2>
      </header>
      <div class="slds-modal__content" id="step-1">
        <div class="slds-p-vertical_x-small slds-p-horizontal_large slds-shrink-none slds-theme_shade slds-border_bottom">
          <div class="slds-form-element">
            <label class="slds-form-element__label slds-assistive-text" for="combobox-unique-id">Search</label>
            <div class="slds-form-element__control">
              <div class="slds-combobox_container">
                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                  <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                    <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Search">
                    <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                        <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                        </svg>
                        <span class="slds-assistive-text">Description of icon</span>
                    </span>
                  </div>
                  <div id="listbox-unique-id" role="listbox">
                    <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                      <li role="presentation" class="slds-listbox__item">
                        <span id="listbox-option-unique-id-01" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                            <span class="slds-media__figure">
                              <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                                </svg>
                                <span class="slds-assistive-text">Description of icon</span>
                        </span>
                        </span>
                        <span class="slds-media__body">
                              <span class="slds-listbox__option-text slds-listbox__option-text_entity">Acme</span>
                        <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Account • San Francisco</span>
                        </span>
                        </span>
                      </li>
                      <li role="presentation" class="slds-listbox__item">
                        <span id="listbox-option-unique-id-02" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                            <span class="slds-media__figure">
                              <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                                </svg>
                                <span class="slds-assistive-text">Description of icon</span>
                        </span>
                        </span>
                        <span class="slds-media__body">
                              <span class="slds-listbox__option-text slds-listbox__option-text_entity">Salesforce.com, Inc.</span>
                        <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Account • San Francisco</span>
                        </span>
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slds-pill_container slds-pill_container_bare">
            <div id="listbox-unique-id" role="listbox" aria-orientation="horizontal">
              <ul class="slds-listbox slds-listbox_horizontal" role="presentation">
                <li role="presentation" class="slds-listbox__item"><span class="slds-pill" role="option" tabindex="0" aria-selected="true"><span class="slds-pill__label" title="Option A">Flat Front Slim Pant</span><span class="slds-icon_container slds-pill__remove" title="Remove"><svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use></svg><span class="slds-assistive-text">Press delete or backspace to remove</span></span>
                  </span>
                </li>
                <li role="presentation" class="slds-listbox__item"><span class="slds-pill" role="option" aria-selected="true"><span class="slds-pill__label" title="Option B">Mitsubishi A90 Ser...</span><span class="slds-icon_container slds-pill__remove" title="Remove"><svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use></svg><span class="slds-assistive-text">Press delete or backspace to remove</span></span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="slds-grid slds-grid_align-spread">
            <div class="slds-text-title slds-m-top_x-small" aria-live="polite">2 Item(s) Selected</div>
            <button class="slds-button slds-button_neutral" id="advanced-search">Advanced Search</button>
          </div>
        </div>
        <div class="slds-p-around_medium2">
          <ul class="slds-accordion">
            <li class="slds-accordion__list-item">
              <section class="slds-accordion__section slds-is-open">
                <div class="slds-accordion__summary">
                  <h3 class="slds-text-heading_small slds-accordion__summary-heading">
            <button aria-controls="accordion-details-01" aria-expanded="true" class="slds-button slds-button_reset slds-accordion__summary-action">
              <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
              </svg>
              <span class="slds-truncate" title="Accordion summary">Products</span>
            </button>
          </h3>
                  <span class="slds-badge">12402</span>
                </div>
                <div aria-hidden="false" class="slds-accordion__content" id="accordion-details-01">
                  <div class="slds-media slds-media_center slds-p-around_small">
                    <div class="slds-media__figure">
                      <span class="slds-avatar slds-avatar_large">
        <img alt="Person name" src="/assets/images/avatar3.jpg" title="User avatar">
      </span>
                    </div>
                    <div class="slds-media__body">
                      <p class="slds-text-heading_small">Flat Front Slim Pant</p>
                    </div>
                    <div class="slds-media__figure slds-media__figure_reverse">
                      <div class="slds-checkbox_add-button">
                        <input type="checkbox" class="slds-assistive-text" id="add-checkbox-1212" value="on" checked="checked">
                        <label for="add-checkbox-1212" class="slds-checkbox_faux">
                          <span class="slds-assistive-text">Add product</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="slds-media slds-media_center slds-p-around_small slds-theme_shade">
                  <div class="slds-media__figure">
                    <span class="slds-avatar slds-avatar_large">
        <img alt="Person name" src="/assets/images/avatar3.jpg" title="User avatar">
      </span>
                  </div>
                  <div class="slds-media__body">
                    <p class="slds-text-heading_small">Mitsubishi A90 Series 65" Laser DLP® High Definition Television</p>
                  </div>
                  <div class="slds-media__figure slds-media__figure_reverse">
                    <div class="slds-checkbox_add-button">
                      <input type="checkbox" class="slds-assistive-text" id="add-checkbox-12121" value="on" checked="checked">
                      <label for="add-checkbox-12121" class="slds-checkbox_faux">
                        <span class="slds-assistive-text">Add product</span>
                      </label>
                    </div>
                  </div>
                </div>
              </section>
            </li>
            <li class="slds-accordion__list-item">
              <section class="slds-accordion__section">
                <div class="slds-accordion__summary">
                  <h3 class="slds-text-heading_small slds-accordion__summary-heading">
            <button aria-controls="accordion-details-02" aria-expanded="false" class="slds-button slds-button_reset slds-accordion__summary-action">
              <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
              </svg>
              <span class="slds-truncate" title="Accordion summary">Categories</span>
            </button>
          </h3>
                  <span class="slds-badge">31</span>
                </div>
                <div aria-hidden="true" class="slds-accordion__content" id="accordion-details-02">Categories</div>
              </section>
            </li>
            <li class="slds-accordion__list-item">
              <section class="slds-accordion__section">
                <div class="slds-accordion__summary">
                  <h3 class="slds-text-heading_small slds-accordion__summary-heading">
            <button aria-controls="accordion-details-03" aria-expanded="false" class="slds-button slds-button_reset slds-accordion__summary-action">
              <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
              </svg>
              <span class="slds-truncate" title="Accordion summary">Content Folders</span>
            </button>
          </h3>
                  <span class="slds-badge">29</span>
                </div>
                <div aria-hidden="true" class="slds-accordion__content" id="accordion-details-03">Content Folders</div>
              </section>
            </li>
            <li class="slds-accordion__list-item">
              <section class="slds-accordion__section">
                <div class="slds-accordion__summary">
                  <h3 class="slds-text-heading_small slds-accordion__summary-heading">
            <button aria-controls="accordion-details-03" aria-expanded="false" class="slds-button slds-button_reset slds-accordion__summary-action">
              <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
              </svg>
              <span class="slds-truncate" title="Accordion summary">Content Assets</span>
            </button>
          </h3>
                  <span class="slds-badge">142</span>
                </div>
                <div aria-hidden="true" class="slds-accordion__content" id="accordion-details-03">Content Assets</div>
              </section>
            </li>
          </ul>
        </div>
      </div>





<!-- advanced start-->

      <div class="slds-modal__content slds-grid slds-grow slds-hide" id="step-2">
        <div class="sidebar">
          <nav class="slds-nav-vertical" aria-label="Sub page">
            <div class="slds-nav-vertical__section">
              <ul>
                <li class="slds-nav-vertical__item slds-is-active"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header" aria-current="page">Products<span class="slds-badge slds-col_bump-left"><span class="slds-assistive-text">:</span>12402<span class="slds-assistive-text">New Items</span></span></a></li>
                <li class="slds-nav-vertical__item "><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Categories<span class="slds-badge slds-col_bump-left"><span class="slds-assistive-text">:</span>31<span class="slds-assistive-text">New Items</span></span></a></li>
                <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Content Folders<span class="slds-badge slds-col_bump-left"><span class="slds-assistive-text">:</span>29<span class="slds-assistive-text">New Items</span></span></a></li>
                <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Content Assets<span class="slds-badge slds-col_bump-left"><span class="slds-assistive-text">:</span>142<span class="slds-assistive-text">New Items</span></span></a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="slds-grid slds-grid_vertical">
          <div class="slds-p-vertical_x-small slds-p-horizontal_large slds-shrink-none slds-theme_shade">
            <div class="slds-form-element">
              <label class="slds-form-element__label slds-assistive-text" for="combobox-unique-id">Search</label>
              <div class="slds-form-element__control">
                <div class="slds-combobox_container">
                  <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                      <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Search Products">
                      <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                        <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                        </svg>
                        <span class="slds-assistive-text">Description of icon</span>
                      </span>
                    </div>
                    <div id="listbox-unique-id" role="listbox">
                      <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                        <li role="presentation" class="slds-listbox__item">
                          <span id="listbox-option-unique-id-01" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                            <span class="slds-media__figure">
                              <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                                </svg>
                                <span class="slds-assistive-text">Description of icon</span>
                          </span>
                          </span>
                          <span class="slds-media__body">
                              <span class="slds-listbox__option-text slds-listbox__option-text_entity">Acme</span>
                          <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Account • San Francisco</span>
                          </span>
                          </span>
                        </li>
                        <li role="presentation" class="slds-listbox__item">
                          <span id="listbox-option-unique-id-02" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                            <span class="slds-media__figure">
                              <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                                </svg>
                                <span class="slds-assistive-text">Description of icon</span>
                          </span>
                          </span>
                          <span class="slds-media__body">
                              <span class="slds-listbox__option-text slds-listbox__option-text_entity">Salesforce.com, Inc.</span>
                          <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Account • San Francisco</span>
                          </span>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slds-pill_container slds-pill_container_bare">
              <div id="listbox-unique-id" role="listbox" aria-orientation="horizontal">
              <ul class="slds-listbox slds-listbox_horizontal" role="presentation">
                <li role="presentation" class="slds-listbox__item"><span class="slds-pill" role="option" tabindex="0" aria-selected="true"><span class="slds-pill__label" title="Option A">Flat Front Slim Pant</span><span class="slds-icon_container slds-pill__remove" title="Remove"><svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use></svg><span class="slds-assistive-text">Press delete or backspace to remove</span></span>
                  </span>
                </li>
                <li role="presentation" class="slds-listbox__item"><span class="slds-pill" role="option" aria-selected="true"><span class="slds-pill__label" title="Option B">Mitsubishi A90 Ser...</span><span class="slds-icon_container slds-pill__remove" title="Remove"><svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use></svg><span class="slds-assistive-text">Press delete or backspace to remove</span></span>
                  </span>
                </li>
              </ul>
              </div>
            </div>
            <div class="slds-grid slds-grid_align-spread">
              <div class="slds-text-title slds-m-top_x-small" aria-live="polite">2 Item(s) Selected</div>
              <button class="slds-button slds-button_neutral" id="advanced-search-2">Simple Search</button>
            </div>
          </div>
          <div class="slds-scrollable slds-grow slds-grid">
            <div>
              {% include "_table-products.html" %}
            </div>
            <div class="slds-panel slds-grid slds-grid_vertical slds-nowrap slds-panel_filters slds-border_top " style="min-width: 300px; ">
              <div class="slds-form slds-form_stacked slds-grow slds-scrollable_y slds-grid slds-grid_vertical ">
                <div class="slds-filters ">
                  <div class="slds-filters__header slds-grid slds-has-divider_bottom-space ">
                    <h2 class="slds-align-middle slds-text-heading_small ">Filter</h2>
                  </div>
                  <div class="slds-filters__body ">
                    <ol class="slds-list_vertical slds-list_vertical-space ">
                      <li class="slds-item slds-hint-parent ">
                        <div class="slds-filters__item slds-grid slds-grid_vertical-align-center ">
                          <button href="javascript:void(0); " class="slds-button_reset slds-grow slds-has-blur-focus ">
                            <span class="slds-assistive-text ">Edit filter:</span>
                            <p class="slds-text-body_small ">Show Me</p>
                            <p>All Products</p>
                          </button>
                        </div>
                      </li>
                    </ol>
                    <h3 class="slds-text-body_small slds-m-vertical_x-small ">Matching all these filters</h3>
                    <ol class="slds-list_vertical slds-list_vertical-space ">
                      <li class="slds-item slds-hint-parent ">
                        <div class="slds-filters__item slds-grid slds-grid_vertical-align-center ">
                          <button href="javascript:void(0); " class="slds-button_reset slds-grow slds-has-blur-focus ">
                            <span class="slds-assistive-text ">Edit filter:</span>
                            <p class="slds-text-body_small ">Created Date</p>
                            <p>equals THIS WEEK</p>
                          </button>
                          <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-small " title="Remove equals THIS WEEK ">
                            <svg class="slds-button__icon slds-button__icon_hint " aria-hidden="true ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink " xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close "></use>
                            </svg>
                            <span class="slds-assistive-text ">Remove filter: Created Date equals THIS WEEK</span>
                          </button>
                        </div>
                      </li>
                      <li class="slds-item slds-hint-parent ">
                        <div class="slds-filters__item slds-grid slds-grid_vertical-align-center ">
                          <button href="javascript:void(0); " class="slds-button_reset slds-grow slds-has-blur-focus ">
                            <span class="slds-assistive-text ">Edit filter:</span>
                            <p class="slds-text-body_small ">List Price</p>
                            <p>greater than "500 "</p>
                          </button>
                          <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-small " title="Remove greater than &quot;500&quot; ">
                            <svg class="slds-button__icon slds-button__icon_hint " aria-hidden="true ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink " xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close "></use>
                            </svg>
                            <span class="slds-assistive-text ">Remove filter: List Price greater than "500 "</span>
                          </button>
                        </div>
                      </li>
                    </ol>
                  </div>
                  <div class="slds-filters__footer slds-grid slds-shrink-none ">
                    <button class="slds-button_reset slds-text-link " href="javascript:void(0); ">Add Filter</button>
                    <button class="slds-button_reset slds-text-link slds-col_bump-left " href="javascript:void(0); ">Remove All</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- advanced end-->



      <footer class="slds-modal__footer ">
        <button class="slds-button slds-button_brand hide-select-product">Select</button>
      </footer>
    </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open "></div>
</div>
