<div id="newAddress">
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="newAddress" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick="closeNewAddress()">
                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate slds-text-heading--large">Add Address</h2>
                <p class="slds-m-top_x-small">
                    <!-- info text -->
                </p>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <!-- FORM -->
                <fieldset class="slds-form-element slds-form-element_compound slds-form-element_address">
                    <div class="slds-form-element__control">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-1">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="form-element-id-04">Address Title</label>
                                    <div class="slds-form-element__control">
                                        <input type="text" id="form-element-id-05" required="" class="slds-input" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <legend class="slds-form-element__legend slds-form-element__label">Address</legend>
                    <div class="slds-form-element__control">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-1">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="form-element-id-04">Street</label>
                                    <div class="slds-form-element__control">
                                        <textarea id="form-element-id-04" required="" class="slds-textarea" placeholder=""></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-form-element__row">
                            <div class="slds-size_4-of-6">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="form-element-id-05">City</label>
                                    <div class="slds-form-element__control">
                                        <input type="text" id="form-element-id-05" required="" class="slds-input" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="slds-size_2-of-6">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="form-element-id-06">State/Province</label>
                                    <div class="slds-form-element__control">
                                        <input type="text" id="form-element-id-06" required="" class="slds-input" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-form-element__row">
                            <div class="slds-size_4-of-6">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="form-element-id-07">Zip/Postal Code</label>
                                    <div class="slds-form-element__control">
                                        <input type="text" id="form-element-id-07" required="" class="slds-input" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="slds-size_2-of-6">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="form-element-id-08">Country</label>
                                    <div class="slds-form-element__control">
                                        <input type="text" id="form-element-id-08" required="" class="slds-input" value="USA" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- //FORM -->
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick="closeNewAddress()">Cancel</button>
                <button class="slds-button slds-button_brand" onclick="saveNewAddress();alert('show toast');">Save</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</div>