<!-- Start Edit Entry -->
<div class="slds-hide slds-modal--medium" id="edit-table-entry">
<section role="dialog" tabindex="-1" class="slds-modal slds-modal--large slds-fade-in-open" aria-labelledby="header43" aria-describedby="modal-content-id-1">
    <div class="slds-modal__container">
      <header class="slds-modal__header">
        <button class="slds-button slds-button--icon slds-modal__close slds-button--icon-inverse js-close-modal-2" title="Close">
          <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
          </svg>
          <span class="slds-assistive-text">Close</span>
        </button>
        <h2 id="header43" class="slds-text-heading--medium">Edit Meta Tag Rule</h2>
      </header>

<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-212">

<div class="slds-form slds-form_compound">
    <div class="slds-form-element__row">
        <div class="slds-form-element slds-size_1-of-1">
            <label class="slds-form-element__label" for="select-01">
                <abbr class="slds-required" title="required">*</abbr>Name</label>
            <div class="slds-form-element__control">
                <input type="text" id="input-unique-id" class="slds-input" placeholder="Placeholder Text" value="{{ shared.editmodal.name }}">
            </div>
        </div>
    </div>
    <div class="slds-form-element__row">
        <div class="slds-form-element slds-size_1-of-2">
            <label class="slds-form-element__label" for="select-01">
                <abbr class="slds-required" title="required">*</abbr>Scope</label>
            <div class="slds-form-element__control">
                <div class="slds-select_container">
                    <select class="slds-select" id="select-01">
                        {% for scope in shared.scopes %}
                        <option value="{{ scope.label }}">{{ scope.label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="slds-form-element slds-size_1-of-2">
            <label class="slds-form-element__label" for="select-0212">
                <abbr class="slds-required" title="required">*</abbr>Page Meta Tag ID</label>
            <div class="slds-form-element__control">
                <div class="slds-select_container">
                    <select class="slds-select" id="select-0212">
                        <option value="title" selected="selected">title</option>
                        {% for type in shared.metatype %}
                        <option value="{{ type.label }}">{{ type.label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-form-element__row">
        <div class="slds-form-element slds-size_1-of-1">
            <label class="slds-form-element__label" for="input-013">
                <abbr class="slds-required" title="required">*</abbr>Rule</label>
            <div class="slds-rich-text-editor slds-form-element slds-grid slds-grid_vertical slds-nowrap">
                <div role="toolbar" id="content-toolbar" class="slds-rich-text-editor__toolbar slds-shrink-none">
                    <div class="slds-form-element slds-m-right_large">
                        <!-- <label class="slds-form-element__label slds-float_left editor-label" for="select-01">Locale</label> -->
                        <div class="slds-form-element__control slds-float_left">
                            <!--                       <div class="slds-select_container">
                        <select class="slds-select" id="select-01">
                          <option value="default" selected="selected">Default&nbsp;</option>
                          {% for locale in shared.locales %}
                          <option value="{{ locale.label }}">{{ locale.label }}&nbsp;</option>
                          {% endfor %}
                        </select>
                      </div> -->
                            <div class="slds-combobox_container slds-size_x-small">
                                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-picklist" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                        <input type="text" class="slds-input slds-combobox__input" id="locales-trigger" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Select locales" readonly="" />
                                        <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right" title="Description of icon when needed">
            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down" />
            </svg>
            <span class="slds-assistive-text">Description of icon</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul aria-label="Format text" class="slds-button-group-list">
                        {% for button in shared.buttons %}
                        <li>
                            <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button-tool" tabindex="0" title="{{ button.label }}" id="{{ button.id }}">{{ button.label }}</button>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="slds-rich-text-editor__textarea slds-grid">
                    <div id="content-area" aria-label="Compose text" contenteditable="true" class="slds-rich-text-area__content slds-text-color_weak slds-grow"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-form-element__row">
        <div class="slds-form-element slds-size_1-of-1">
            <label class="slds-form-element__label" for="input-unique-id">Description</label>
            <div class="slds-form-element__control">
                <textarea id="input-unique-id" class="slds-textarea" placeholder="Placeholder Text">{{ shared.editmodal.description }}</textarea>
            </div>
        </div>
    </div>
</div>
</div>

  <footer class="slds-modal__footer">
    <div class="slds-grid slds-grid_align-spread" id="item-counter">
      <div class="slds-col">
        <button class="slds-button slds-button--neutral trigger-657">Assignments (12)</button>
      </div>
      <div class="slds-col">
        <button class="slds-button slds-button--neutral js-close-modal-2">Cancel</button>
        <button class="slds-button slds-button--brand js-close-modal-2 trigger-modified-toast">Save</button>
      </div>
    </div>
  </footer>

    </div>
  </section>
  <div class="slds-backdrop slds-backdrop--open"></div>
</div>
<!-- End Edit Entry -->

<script type="text/javascript">
var contentArea = document.getElementById('content-area');

function isChild (obj, parentObj){
    while (obj != undefined && obj != null){
        if (obj == parentObj){
            return true;
        }
        obj = obj.parentNode;
    }
    return false;
}

function insertTextAtCursor(text) {
    var sel, range, html;
    sel = window.getSelection();

    if (!sel.anchorNode) {
      return;
    }

    range = sel.getRangeAt(0);

    if (!isChild(range.startContainer, contentArea)) {
      return;
    }

    range.deleteContents();
    text = text.replace(/&#39;/g, "'");

    var textNode = document.createTextNode(text);
    range.insertNode(textNode);
    range.setStartAfter(textNode);
    sel.removeAllRanges();
    sel.addRange(range);
}

$(document).ready(function() {

$( "#content-area" ).focusin(function() {
  $('.slds-rich-text-editor').addClass('slds-has-focus');
});

$( "#content-area" ).focusout(function() {
  $('.slds-rich-text-editor').removeClass('slds-has-focus');
});


 // Button Loop
{% for button in shared.buttons %}
  $('#{{ button.id }}').click(function() {

    insertTextAtCursor('{{ button.value }}');
  });
{% endfor %}

// Picklist Emu
    $('#locales-trigger').click(function() {
      $('#locales').toggleClass('slds-hide');
      new Tether({
        element: '#locales',
        target: '#locales-trigger',
        attachment: 'top left',
        targetAttachment: 'bottom left',
        targetOffset: '0 0',
        constraints: [{
          to: 'window',
          attachment: 'target',
          pin: true
        }]
      });
    });

    $('#locales .slds-dropdown__item').click(function() {
      $(this).toggleClass('slds-is-selected');
    });

    $('#locales #German').click(function() {
      $('#locales-trigger').attr("placeholder", "2 options selected");
    });

    $('#locales #German, #locales #English').addClass('slds-has-data');

// Tabs
    $('#tab-settings-trigger').click(function() {
      $(this).toggleClass('slds-is-active');
      $('#tab-assignments-trigger').toggleClass('slds-is-active');
      $('#tab-settings').addClass('slds-show');
      $('#tab-settings').removeClass('slds-hide');
      $('#tab-assingments').addClass('slds-hide');
      $('#tab-assingments').removeClass('slds-show');
    });

    $('#tab-assignments-trigger').click(function() {
      $(this).toggleClass('slds-is-active');
      $('#tab-settings-trigger').toggleClass('slds-is-active');
      $('#tab-assingments').addClass('slds-show');
      $('#tab-assingments').removeClass('slds-hide');
      $('#tab-settings').addClass('slds-hide');
      $('#tab-settings').removeClass('slds-show');
    });
});

</script>

<div class="slds-dropdown slds-dropdown_left slds-dropdown_small slds-hide" id="locales">
  <ul class="slds-dropdown__list" role="menu">
  {% for locale in shared.locales %}
    <li class="slds-dropdown__item slds-is-relative" role="presentation" id="{{ locale.label }}">
      <a href="javascript:void(0);" role="menuitemcheckbox" aria-checked="true" tabindex="0">
        <span class="slds-truncate" title="{{ locale.label }}">
          <svg class="slds-icon slds-icon_selected slds-icon_x-small slds-icon-text-default slds-m-right_x-small" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use></svg>
          {{ locale.label }}
        </span>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
