<div class="" id="page-form">
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-slide-up-open" aria-labelledby="header43" aria-describedby="modal-content-id-1">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button--icon slds-modal__close slds-button--icon-inverse js-close-modal-2" title="Close">
                    <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="header43" class="slds-text-heading--medium">New Page</h2>
            </header>
            <div  class="slds-modal__content slds-text-align--center slds-p-around--medium slds-border_bottom">
                <!--h1 class="slds-text-heading_large slds-hyphenate">Page Name & Title</h1-->
                <p class="2slds-m-top_x-small">Give your page a Name. <br />The Name will appear ... Is this necessary here?</p>
            </div>                
            
            <div class="slds-modal__content slds-p-around--medium slds-p-bottom--large" id="modal-content-id-1">
                <!-- FORM 1 -->
                <div class="slds-form slds-form_stacked" id="form_step-1">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="input-id-02">
                            <abbr class="slds-required" title="required">*</abbr>
                            Page Name
                        </label>
                        <div class="slds-form-element__control">
                            <input type="text" id="input-id-02" class="slds-input" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="slds-form slds-form_stacked slds-p-top_small" id="form_step-2">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="input-id-03">
                            SEO Url
                        </label>
                        <div class="slds-form-element__control">
                            <input type="text" id="input-id-03" class="slds-input" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="slds-form slds-form_stacked slds-p-top_small" id="form_step-2">
                    <div class="slds-form-element__control">
                        <span class="slds-checkbox">
                        <input type="checkbox" name="options" id="checkbox-01">
                        <label class="slds-checkbox__label" for="checkbox-01">
                            <span class="slds-checkbox_faux"></span>
                            <span class="slds-form-element__label">Searchable</span>
                        </label>
                        </span>
                    </div>
                </div>
                <div class="slds-form slds-form_stacked slds-p-top_small" id="form_step-2">
                    <div class="slds-form-element__control">
                        <span class="slds-checkbox">
                        <input type="checkbox" name="options" id="checkbox-02">
                        <label class="slds-checkbox__label" for="checkbox-02">
                            <span class="slds-checkbox_faux"></span>
                            <span class="slds-form-element__label">Include in Sitemap</span>
                        </label>
                        </span>
                    </div>
                </div>


                <!-- TAG CONTROL -->
                <div class="slds-form-element slds-m-top_small slds-border_top slds-p-top_small">
                <label class="slds-form-element__label" for="combobox-unique-id">Tags</label>
                <div class="slds-form-element__control">
                    <div class="slds-combobox_container slds-has-object-switcher">
                    <div class="slds-listbox_object-switcher slds-dropdown-trigger slds-dropdown-trigger_click">
                        <button class="slds-button slds-button_icon" aria-haspopup="true" title="Select object to search in">
                        <span class="slds-icon_container slds-icon-standard-account" title="Accounts">
                            <span class="slds-assistive-text">Add Tags</span>
                        </span>
                        </button>
                    </div>
                    <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                        <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-autocomplete="list" aria-controls="listbox-unique-id" 
                        autocomplete="off" role="textbox" placeholder="Add Tag">
                        </div>
                    </div>
                    </div>
                    <div id="listbox-selections-unique-id" role="listbox" aria-orientation="horizontal">
                    <ul class="slds-listbox slds-listbox_inline slds-p-top_xxx-small" role="group" aria-label="Selected Options:">
                        <li role="presentation" class="slds-listbox__item">
                            <span class="slds-pill slds-pill_link">
                            <a href="javascript:void(0);" class="slds-pill__action" title="Full pill label verbiage mirrored here">
                                <span class="slds-pill__label">Tag Label</span>
                            </a>
                            <button class="slds-button slds-button_icon slds-button_icon slds-pill__remove" title="Remove">
                                <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                </svg>
                                <span class="slds-assistive-text">Remove</span>
                            </button>
                            </span>
                        </li>
                    </ul>
                    </div>
                </div>
                </div>
                    



                
                <!-- /FORM 1 -->

            </div>
            <footer class="slds-modal__footer slds-grid slds-grid--align-spread">
                <button class="slds-button slds-button--neutral">Close</button>
                <div class="slds-progress slds-progress--shade">
                    <ol class="slds-progress__list">
                        <li class="slds-progress__item slds-is-active">
                            <button class="slds-button slds-progress__marker">
                                <span class="slds-assistive-text">Step 1</span>
                            </button>
                        </li>
                        <li class="slds-progress__item">
                            <button class="slds-button slds-progress__marker">
                                <span class="slds-assistive-text">Step 2</span>
                            </button>
                        </li>
                        <li class="slds-progress__item">
                            <button class="slds-button slds-progress__marker">
                                <span class="slds-assistive-text">Step 3</span>
                            </button>
                        </li>
                    </ol>
                    <div class="slds-progress-bar slds-progress-bar--x-small" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" role="progressbar">
                        <span class="slds-progress-bar__value" style="width:0%;">
              <span class="slds-assistive-text">Progress: 0%</span>
                        </span>
                    </div>
                </div>
                <a href="create_page-template.html">
                <button class="slds-button slds-button--brand">Next</button>
                </a>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop--open"></div>
</div>