<div class="slds-hide2" id="select-product-232">
  <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-list-builder" aria-labelledby="id-of-modalheader-h2" aria-describedby="modal-content-id-1">
    <div class="slds-modal__container">
      <header class="slds-modal__header">
        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse hide-select-product show_component" title="Close">
          <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
          </svg>
          <span class="slds-assistive-text">Close</span>
        </button>
        <h2 id="id-of-modalheader-h2" class="slds-text-heading_medium">Select Assignments</h2>
      </header>
      <div class="slds-modal__content">
        <div class="slds-p-vertical_x-small slds-p-horizontal_large slds-shrink-none slds-theme_shade slds-border_bottom">
          <div class="slds-form-element">
            <label class="slds-form-element__label slds-assistive-text" for="combobox-unique-id">Search</label>
            <div class="slds-form-element__control">
              <div class="slds-combobox_container">
                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                  <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                    <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Search by name or ID">
                    <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                        <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                        </svg>
                        <span class="slds-assistive-text">Description of icon</span>
                    </span>
                  </div>
                  <div id="listbox-unique-id" role="listbox">
                    <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                      <li role="presentation" class="slds-listbox__item">
                        <span id="listbox-option-unique-id-01" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                            <span class="slds-media__figure">
                              <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                                </svg>
                                <span class="slds-assistive-text">Description of icon</span>
                        </span>
                        </span>
                        <span class="slds-media__body">
                              <span class="slds-listbox__option-text slds-listbox__option-text_entity">Acme</span>
                        <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Account • San Francisco</span>
                        </span>
                        </span>
                      </li>
                      <li role="presentation" class="slds-listbox__item">
                        <span id="listbox-option-unique-id-02" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                            <span class="slds-media__figure">
                              <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                                </svg>
                                <span class="slds-assistive-text">Description of icon</span>
                        </span>
                        </span>
                        <span class="slds-media__body">
                              <span class="slds-listbox__option-text slds-listbox__option-text_entity">Salesforce.com, Inc.</span>
                        <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Account • San Francisco</span>
                        </span>
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slds-pill_container slds-pill_container_bare">
            <div id="listbox-unique-id" role="listbox" aria-orientation="horizontal">
              <ul class="slds-listbox slds-listbox_horizontal" role="presentation">
                <li role="presentation" class="slds-listbox__item"><span class="slds-pill" role="option" tabindex="0" aria-selected="true"><span class="slds-pill__label" title="Option A">Flat Front Slim Pant</span><span class="slds-icon_container slds-pill__remove" title="Remove"><svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use></svg><span class="slds-assistive-text">Press delete or backspace to remove</span></span>
                  </span>
                </li>
                <li role="presentation" class="slds-listbox__item"><span class="slds-pill" role="option" aria-selected="true"><span class="slds-pill__label" title="Option B">Mitsubishi A90 Ser...</span><span class="slds-icon_container slds-pill__remove" title="Remove"><svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use></svg><span class="slds-assistive-text">Press delete or backspace to remove</span></span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="slds-grid slds-grid_align-spread">
            <div class="slds-text-title slds-m-top_x-small" aria-live="polite">125 items • 2 Item(s) Selected</div>
            <!-- <button class="slds-button slds-button_neutral" id="advanced-search">Advanced Search</button> -->
          </div>
        </div>
        <div class="slds-tabs_default">
          <ul class="slds-tabs_default__nav slds-p-horizontal_large" role="tablist">
            <li class="slds-tabs_default__item  slds-is-active" title="Item One" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-1" id="tab-default-1__item">Products  <span class="slds-badge slds-badge_inverse slds-m-left_x-small">12425</span></a></li>
            <li class="slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-2" id="tab-default-2__item">Categories <span class="slds-badge slds-badge_inverse slds-m-left_x-small">25</span></a></li>
          </ul>
          <div id="tab-default-1" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">
            <div class="product-list slds-scrollable_y" style="max-height: 50vh;">
              {% for product in lol %}
              <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_large slds-border_bottom">
                <div class="slds-media__figure">
                  <span class="slds-avatar slds-avatar_large"><img alt="Person name" src="{{ product.img }}" title="{{ product.name }}"></span>
                </div>
                <div class="slds-media__body">
                  <p class="slds-text-heading_xsmall">{{ product.name }}</p>
                </div>
                <div class="slds-media__figure slds-media__figure_reverse">
                  <div class="slds-checkbox_add-button">
                    <input type="checkbox" class="slds-assistive-text" id="add-{{ product.name }}" value="on">
                    <label for="add-{{ product.name }}" class="slds-checkbox_faux">
                      <span class="slds-assistive-text">Add product</span>
                    </label>
                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="slds-text-align_center slds-m-top_medium slds-m-bottom_medium">
                <button class="slds-button slds-button_neutral">Show more</button>
              </div>
            </div>
          </div>
          <div id="tab-default-2" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item">Item Two Content</div>
        </div>
      </div>
      <footer class="slds-modal__footer ">
        <button class="slds-button slds-button_brand hide-select-product">Select</button>
      </footer>
    </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open "></div>
</div>
