<div id="data_modal" class="slds-hide">
    <div role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal--large slds" aria-labelledby="header43">
    <div class="slds-modal__container">
        <div class="slds-modal__header">
        <button class="slds-button slds-modal__close slds-button--icon-inverse close_modal" title="Close">
            <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg>
            <span class="slds-assistive-text close_modal">Close</span>
        </button>
        <h2 id="header43" class="slds-text-heading--medium">Edit Rule</h2>
        </div>
        <div class="slds-modal__content">
        


        <div class="slds-panel">
        
            <fieldset class="slds-form--compound slds-p-around--medium slds-border--bottom">
              <legend class="slds-form-element__label slds-text-title--caps">General</legend>
              <div class="slds-form-element__group">
                <div class="slds-form-element__row">
                  <div class="slds-form-element">
                    <label class="slds-form-element__label" for="input-01">Name</label>
                    <input type="text" id="input-01" class="slds-input" placeholder="Rule Name" />
                  </div>
                </div>

                <div class="slds-form-element__row">
                  <div class="slds-form-element">
                    <label class="slds-form-element__label" for="input-02">Rule Description</label>
                    <textarea class="slds-textarea">Description</textarea>
                  </div>
                </div>

              </div>
            </fieldset>


            <fieldset class="slds-form--compound slds-p-around--medium slds-border--bottom">
            <legend class="slds-form-element__label slds-text-title--caps">Test Rule</legend>
            <div class="slds-form-element__group">
              <div class="slds-form-element__row">
                <div class="slds-form-element">
                  <label class="slds-form-element__label" for="input-03">Custom Rule Expression</label>
                  <textarea class="slds-textarea" id="text-input-06">Description of the Rule.</textarea>
                </div>
              </div>
              <div class="slds-form-element__row">
                <div class="slds-form-element slds-size--1-of-2">
                  <label class="slds-form-element__label" for="input-04">Select Fulfillment Site</label>
                  <div class="slds-select_container">
                    <select class="slds-select" id="non-text-input-02">
                      <option>None</option>
                    </select>
                  </div>

                </div>
                <div class="slds-form-element slds-size--1-of-2">
                  <label class="slds-form-element__label" for="input-05">Order</label>
                  <input type="text" id="input-05" class="slds-input" value="1" />
                </div>
              </div>
            </div>
          </fieldset>        
        
        
        </div>














        </div>
        <div class="slds-modal__footer">
          <button class="slds-button slds-button--neutral close_modal">Cancel</button>
          <button type="button" class="slds-button slds-button--brand">Validate Rule</button>
        </div>
    </div>
    </div>
    <div class="slds-backdrop slds-backdrop--open"></div>
</div>

