<div class="slds-hide" id="create-collection">
  <section role="dialog" tabindex="-1" class="slds-modal slds-modal_medium2 slds-fade-in-open slds-list-builder" aria-labelledby="id-of-modalheader-h2"
    aria-describedby="modal-content-id-1">
    <div class="slds-modal__container">
      <header class="slds-modal__header">
        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse toggle-create-collection-modal show_component" title="Close">
          <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
          </svg>
          <span class="slds-assistive-text">Close</span>
        </button>
        <h2 id="id-of-modalheader-h2" class="slds-text-heading_medium">Create Collection of Sites</h2>
      </header>
      <div class="slds-modal__content">
        <div class="slds-grid">
          <div class="slds-col slds-size_2-of-5 slds-border_right">
            <div class="slds-form slds-form_compound slds-p-around--medium">
              <div class="slds-form-element__row">
                <div class="slds-form-element slds-size_1-of-1">
                  <label class="slds-form-element__label" for="input-013">
                    <abbr class="slds-required" title="required">*</abbr>Name</label>
                  <input type="text" id="input-013" class="slds-input" placeholder="Collection Name">
                </div>
              </div>
            </div>
          </div>
          <div class="slds-col slds-size_3-of-5">
            <div class="product-list slds-scrollable_y" style="max-height: 50vh;">
              {% for name in shared.sitenames %}              
              <div class="slds-media slds-media_center slds-p-vertical_xx-small slds-p-horizontal_medium slds-border_bottom product-tile">
                <div class="slds-media__body">
                  <p class="slds-text-heading_small2">{{ name.site }}</p>
                </div>
                <div class="slds-media__figure slds-media__figure_reverse">
                  <div class="slds-checkbox_add-button">
                    <input type="checkbox" class="slds-assistive-text" id="{{ name.site }}" value="on">
                    <label for="{{ name.site }}" class="slds-checkbox_faux collection">
                      <span class="slds-assistive-text">Add Collection</span>
                    </label>
                  </div>
                </div>
              </div>
              {% endfor %}              
            </div>
        </div>
        <footer class="slds-modal__footer">
          <button class="slds-button slds-button_neutral toggle-create-collection-modal">Cancel</button>
          <button class="slds-button slds-button_brand toggle-create-collection-modal" disabled="" id="collection-done">Create</button>
        </footer>
      </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open slds-backdrop_top"></div>
</div>

  <script type="text/javascript">
    $(document).ready(function () {
      $('.toggle-create-collection-modal').click(function() {
        $('#create-collection').toggleClass('slds-hide');
      });

      $('.slds-checkbox_faux.collection').click(function() {
        $('.items-selected').removeClass('slds-hide');
        $('.toggle-create-collection-modal').removeAttr('disabled');
      });
    });

  </script>