<div id="select-product-223">
  <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-list-builder" aria-labelledby="id-of-modalheader-h2" aria-describedby="modal-content-id-1">
    <div class="slds-modal__container">
      <header class="slds-modal__header">
        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse hrhr-1 show_component" title="Close">
          <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
          </svg>
          <span class="slds-assistive-text">Close</span>
        </button>
        <h2 id="id-of-modalheader-h2" class="slds-text-heading_medium">Select Navigation Type</h2>
      </header>
      <div class="slds-modal__content">
        <div class="slds-p-around_medium slds-theme_shade" id="select-intro">
          <a href="apps.html" class="slds-box slds-box_link slds-box_x-small slds-media slds-m-bottom_medium slds-color__background_gray-1" id="select-product">
            <div class="slds-media__body slds-p-around_small">
              <h2 class="slds-truncate slds-text-heading_medium" title="Share the knowledge">App Launcher</h2>
            </div>
          </a>
          <a href="menu.html" class="slds-box slds-box_link slds-box_x-small slds-media slds-m-bottom_medium slds-color__background_gray-1" id="select-product">
            <div class="slds-media__body slds-p-around_small">
              <h2 class="slds-truncate slds-text-heading_medium" title="Share the knowledge">Mega Menu</h2>
            </div>
          </a>
        </div>

      </div>

    </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open "></div>
</div>

