<!--
  Record Home Page Header
  https://www.lightningdesignsystem.com/components/page-headers/#flavor-record-home
-->
<div class="slds-page-header slds-page-header--object-home">
  <div class="slds-grid">
    <div class="slds-media">
      <div class="slds-media__figure">
        <span class="slds-icon_container slds-icon-standard-dashboard" title="Description of icon when needed">
          <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#dashboard" />
          </svg>
        </span>
      </div>
      <div class="slds-media__body">
        <nav>
          <ol class="slds-breadcrumb slds-line-height_reset">
            <li class="slds-breadcrumb__item">
              <span>Search</span>
            </li>
          </ol>
        </nav>
        <h1 class="slds-page-header__title slds-truncate slds-align-middle page-header-trigger" title="Meta Tag Rules">
            <button class="slds-button slds-button_reset slds-type-focus slds-truncate" aria-haspopup="true" title="">
              <span class="slds-grid slds-has-flexi-truncate slds-grid_vertical-align-center">
                <span class="slds-truncate" title="Meta Tag Rules">Meta Tag Rules</span>
                <span class="slds-icon_container slds-icon-utility-down" title="Description of icon when needed">
                  <svg class="slds-icon slds-icon--x-small slds-m-left_xx-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down" />
                  </svg>
                  <span class="slds-assistive-text">Description of icon</span>
                </span>
              </span>
            </button>
            </h1>
      </div>
    </div>
  </div>
  <div class="slds-grid">
    <div class="slds-col slds-align-middle">
      <p class="slds-text-body_small">125 items • Updated 13 minutes ago</p>
    </div>
    <div class="slds-col slds-no-flex slds-grid slds-align-bottom slds-hidden">
      <div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-m-left_x-small" aria-expanded="false">
        <button class="slds-button slds-button_icon slds-button_icon-more" aria-haspopup="true" title="List View Controls">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
          </svg>
          <svg class="slds-button__icon slds-button__icon_x-small" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
          </svg><span class="slds-assistive-text">List View Controls</span></button>
      </div>
      <div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-m-left_xx-small">
        <button class="slds-button slds-button_icon slds-button_icon-more" aria-haspopup="true" title="Change view">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#table"></use>
          </svg>
          <svg class="slds-button__icon slds-button__icon_x-small" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
          </svg><span class="slds-assistive-text">Change view</span></button>
      </div>
      <button class="slds-button slds-button_icon slds-m-left_xx-small slds-button_icon-border-filled" title="Edit List">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
        </svg><span class="slds-assistive-text">Edit List</span></button>
      <button class="slds-button slds-button_icon slds-m-left_xx-small slds-button_icon-border-filled" title="Refresh">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#refresh"></use>
        </svg><span class="slds-assistive-text">Refresh</span></button>
      <div class="slds-button-group" role="group">
        <button class="slds-button slds-button_icon slds-button_icon-border-filled" title="Charts">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chart"></use>
          </svg><span class="slds-assistive-text">Charts</span></button>
        <button class="slds-button slds-button_icon slds-button_icon-border-filled" title="Filters">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
          </svg><span class="slds-assistive-text">Filters</span></button>
      </div>
    </div>
  </div>
</div>
