<section class="slds-hide slds-popover" role="dialog" aria-label="Dialog Title" aria-describedby="dialog-body-id-263" id="iweurtz"><div class="slds-popover__body slds-p-horizontal_none">
    <ul class="slds-dropdown__list" role="menu">
      <li class="slds-dropdown__item" role="presentation">
        <a href="index.html" role="menuitem" tabindex="0">
          <div class="slds-media slds-media_center">
      <div class="slds-media__figure">
        <span class="slds-icon_container slds-icon-standard-dashboard" title="Description of icon when needed">
          <svg class="slds-icon slds-icon_small" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#dashboard" />
          </svg>
        </span>
      </div>
            <div class="slds-media__body">
              <span class="slds-truncate" title="Dashboard">Dashboard</span>
            </div>
          </div>
        </a>
      </li>
      <li class="slds-has-divider_top-space" role="separator"></li>
      <li class="slds-dropdown__item" role="presentation">
        <a href="data.html" role="menuitem" tabindex="0">
          <div class="slds-media slds-media_center">
            <div class="slds-media__figure">
              <span class="slds-icon_container slds-icon-custom-custom93" title="description of icon when needed">
          <svg class="slds-icon slds-icon_small" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom93"></use>
          </svg>
        </span>
            </div>
            <div class="slds-media__body">
              <span class="slds-truncate" title="Product Detail Page">Product Detail Page</span>
            </div>
          </div>
        </a>
      </li>

      <li class="slds-dropdown__item" role="presentation">
        <a href="data.html" role="menuitem" tabindex="0">
          <div class="slds-media slds-media_center">
            <div class="slds-media__figure">
              <span class="slds-icon_container slds-icon-standard-cms" title="description of icon when needed">
          <svg class="slds-icon slds-icon_small" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#cms"></use>
          </svg>
        </span>
            </div>
            <div class="slds-media__body">
              <span class="slds-truncate" title="Content Detail Page">Content Detail Page</span>
            </div>
          </div>
        </a>
      </li>

      <li class="slds-dropdown__item" role="presentation">
        <a href="data.html" role="menuitem" tabindex="0">
          <div class="slds-media slds-media_center">
            <div class="slds-media__figure">
              <span class="slds-icon_container slds-icon-standard-timesheet" title="description of icon when needed">
          <svg class="slds-icon slds-icon_small" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#timesheet"></use>
          </svg>
        </span>
            </div>
            <div class="slds-media__body">
              <span class="slds-truncate" title="Product Listing Page">Product Listing Page</span>
            </div>
          </div>
        </a>
      </li>

      <li class="slds-dropdown__item" role="presentation">
        <a href="data.html" role="menuitem" tabindex="0">
          <div class="slds-media slds-media_center">
            <div class="slds-media__figure">
              <span class="slds-icon_container slds-icon-standard-lead-list" title="description of icon when needed">
          <svg class="slds-icon slds-icon_small" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#lead_list"></use>
          </svg>
        </span>
            </div>
            <div class="slds-media__body">
              <span class="slds-truncate" title="Content Listing Page">Content Listing Page</span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
