<!--
  Record Home Page Header
  https://www.lightningdesignsystem.com/components/page-headers/#flavor-record-home
-->



<div class="slds-page-header slds-page-header--object-home">
  <div class="slds-grid">
    <div class="slds-col slds-has-flexi-truncate">
      <div class="slds-media slds-no-space slds-grow">
        <div class="slds-media__body">
          <p class="slds-text-title--caps slds-line-height--reset">Orders</p>
          <h1 class="slds-page-header__title slds-p-right--x-small">

            <div class="slds-dropdown-trigger slds-dropdown-trigger--click" aria-expanded="true">
              <button class="slds-button slds-button--reset slds-type-focus slds-truncate" aria-haspopup="true" title="">
                <span class="slds-grid slds-has-flexi-truncate slds-grid--vertical-align-center">
                  <span class="slds-truncate">All Orders</span>
                </span>
              </button>
              </div>

          </h1>
        </div>
      </div>
    </div>
    <!--div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom--xx-small">< ! - - here for the top buttons -- ></div-->

    <div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom--xx-small">
        <div class="slds-button-group" role="group">
            <button class="slds-button slds-button--neutral">New Order</button>
            <!--
            <div class="slds-button--last">
            <button class="slds-button slds-button--icon-border-filled" aria-haspopup="true">
                <svg aria-hidden="true" class="slds-button__icon">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                </svg>
                <span class="slds-assistive-text">More Actions</span>
            </button>
            </div>
            -->
        </div>
        </div>



  </div>

    <div class="slds-grid">
        <div class="slds-col slds-align-bottom">
        <p class="slds-text-body--small">2 orders • Sorted by Customer Name
        </div>

        <div class="slds-col slds-no-flex slds-grid slds-align-bottom">
            <!-- SEARCH FOR CUSTOMERS -->
                <div class="slds-form-element slds-lookup" data-select="single">
                    <div class="slds-form-element__control">
                        <div class="slds-input-has-icon slds-input-has-icon--right">
                        <svg aria-hidden="true" class="slds-input__icon">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                        </svg>
                        <input id="lookup-330" class="slds-lookup__search-input slds-input" type="search" placeholder="Search Orders" aria-owns="lookup-330" role="combobox" aria-activedescendent="" aria-expanded="false" aria-autocomplete="list" />
                        </div>
                    </div>
                </div>
            <!-- /SEARCH FOR CUSTOMERS -->
        </div>  

        <div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-m-left--x-small" aria-expanded="false">
            <button class="slds-button slds-button--icon-more" aria-haspopup="true">
                <svg aria-hidden="true" class="slds-button__icon">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
                </svg>
                <svg aria-hidden="true" class="slds-button__icon slds-button__icon--x-small">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                </svg>
                <span class="slds-assistive-text">List View Controls</span>
            </button>
        </div>

        <div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-m-left--xx-small" aria-expanded="false">
            <button class="slds-button slds-button--icon-more" aria-haspopup="true">
                <svg aria-hidden="true" class="slds-button__icon">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#table"></use>
                </svg>
                <svg aria-hidden="true" class="slds-button__icon slds-button__icon--x-small">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                </svg>
                <span class="slds-assistive-text">Change view</span>
            </button>
        </div>

        <button class="slds-button slds-m-left--xx-small slds-button--icon-border">
            <svg aria-hidden="true" class="slds-button__icon">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
            </svg>
            <span class="slds-assistive-text">Edit List</span>
        </button>

        <button class="slds-button slds-m-left--xx-small slds-button--icon-border">
            <svg aria-hidden="true" class="slds-button__icon">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#refresh"></use>
            </svg>
            <span class="slds-assistive-text">Refresh</span>
        </button>

        <div class="slds-button-group" role="group">
            <button class="slds-button slds-button--icon-border">
            <svg aria-hidden="true" class="slds-button__icon">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chart"></use>
            </svg>
            <span class="slds-assistive-text">Charts</span>
            </button>
            <button class="slds-button slds-button--icon-border">
            <svg aria-hidden="true" class="slds-button__icon">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
            </svg>
            <span class="slds-assistive-text">Filters</span>
            </button>
        </div>




    </div>

</div>  