<!--
  Record Home Page Header
  https://www.lightningdesignsystem.com/components/page-headers/#flavor-record-home
-->
<!-- PAGE HEADER -->
<div class="slds-page-header slds-page-header--object-home" role="banner">
  <div class="slds-grid">
    <div class="slds-col slds-has-flexi-truncate">
      <div class="slds-media slds-no-space slds-grow">
        <div class="slds-media__figure">
          <span class="slds-icon_container">
            <svg aria-hidden="true" class="slds-icon slds-icon-standard-lead">
              <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#user"></use>
            </svg>
          </span>
        </div>
        <div class="slds-media__body">
          <p class="slds-text-title--caps slds-line-height--reset">Customers</p>
          <button class="slds-button slds-type-focus slds-m-right--small slds-grid slds-truncate" aria-haspopup="true">
            <div class="slds-grid slds-grid--vertical-align-center slds-truncate">
              <h1 class="slds-page-header__title slds-truncate" title="">All Customers</h1>
              <svg aria-hidden="true" class="slds-button__icon slds-button__icon--right slds-no-flex">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom--xx-small">
      <div class="slds-button-group" role="group">
        <button class="slds-button slds-button--neutral">New Customer</button>
        <div class="slds-button--last">
          <button class="slds-button slds-button--icon-border-filled" aria-haspopup="true">
            <svg aria-hidden="true" class="slds-button__icon">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
            </svg>
            <span class="slds-assistive-text">More Actions</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="slds-grid">
    <div class="slds-col slds-align-bottom">
      <p class="slds-text-body--small">3 item(s) • Sorted by Name</p>
    </div>
    <div class="slds-col slds-no-flex slds-grid slds-align-bottom">

      <!-- SEARCH FOR CUSTOMERS -->
      <div class="slds-form-element slds-lookup" data-select="single">
        <div class="slds-form-element__control">
            <div class="slds-input-has-icon slds-input-has-icon--right">
            <svg aria-hidden="true" class="slds-input__icon">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
            </svg>
            <input id="lookup-330" class="slds-lookup__search-input slds-input" type="search" placeholder="Search Customers" aria-owns="lookup-330" role="combobox" aria-activedescendent="" aria-expanded="false" aria-autocomplete="list" />
            </div>
        </div>
        <div class="slds-lookup__menu" id="lookup-330">
            <div class="slds-lookup__item--label slds-text-body--small">Recent Accounts</div>
            <ul class="slds-lookup__list" role="listbox">
            <li role="presentation">
                <span class="slds-lookup__item-action slds-media slds-media--center" id="lookup-option-332" role="option">
                <svg aria-hidden="true" class="slds-icon slds-icon-standard-account slds-icon--small slds-media__figure">
                    <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                </svg>
                <div class="slds-media__body">
                    <div class="slds-lookup__result-text">The Boston Consulting Group</div>
                    <span class="slds-lookup__result-meta slds-text-body--small">Account • Boston</span>
                </div>
                </span>
            </li>
            <li role="presentation">
                <span class="slds-lookup__item-action slds-media slds-media--center" id="lookup-option-333" role="option">
                <svg aria-hidden="true" class="slds-icon slds-icon-standard-account slds-icon--small slds-media__figure">
                    <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                </svg>
                <div class="slds-media__body">
                    <div class="slds-lookup__result-text">Acuity</div>
                    <span class="slds-lookup__result-meta slds-text-body--small">Account • Sheboygan</span>
                </div>
                </span>
            </li>
            <li role="presentation">
                <span class="slds-lookup__item-action slds-media slds-media--center" id="lookup-option-334" role="option">
                <svg aria-hidden="true" class="slds-icon slds-icon-standard-account slds-icon--small slds-media__figure">
                    <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                </svg>
                <div class="slds-media__body">
                    <div class="slds-lookup__result-text">SAS Insistute</div>
                    <span class="slds-lookup__result-meta slds-text-body--small">Account • Cary</span>
                </div>
                </span>
            </li>
            <li role="presentation">
                <span class="slds-lookup__item-action slds-media slds-media--center" id="lookup-option-335" role="option">
                <svg aria-hidden="true" class="slds-icon slds-icon-standard-account slds-icon--small slds-media__figure">
                    <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                </svg>
                <div class="slds-media__body">
                    <div class="slds-lookup__result-text">Genentech</div>
                    <span class="slds-lookup__result-meta slds-text-body--small">Account • South San Francisco</span>
                </div>
                </span>
            </li>
            <li role="presentation">
                <span class="slds-lookup__item-action slds-media slds-media--center" id="lookup-option-336" role="option">
                <svg aria-hidden="true" class="slds-icon slds-icon-standard-account slds-icon--small slds-media__figure">
                    <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                </svg>
                <div class="slds-media__body">
                    <div class="slds-lookup__result-text">Camden Property Trust</div>
                    <span class="slds-lookup__result-meta slds-text-body--small">Account • Houston</span>
                </div>
                </span>
            </li>
            <li role="presentation">
                <span class="slds-lookup__item-action slds-media slds-media--center" id="lookup-option-337" role="option">
                <svg aria-hidden="true" class="slds-icon slds-icon-standard-account slds-icon--small slds-media__figure">
                    <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                </svg>
                <div class="slds-media__body">
                    <div class="slds-lookup__result-text">Salesforce.com, Inc.</div>
                    <span class="slds-lookup__result-meta slds-text-body--small">Account • San Francisco</span>
                </div>
                </span>
            </li>
            <li role="presentation">
                <span class="slds-lookup__item-action slds-lookup__item-action--label" id="lookup-option-338" role="option">
                <svg aria-hidden="true" class="slds-icon slds-icon--x-small slds-icon-text-default">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                </svg>
                <span class="slds-truncate">New Account</span>
                </span>
            </li>
            </ul>
        </div>

        </div>
      </div>  
      <!-- / SEARCH FOR CUSTOMERS -->


      <div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-m-left--x-small" aria-expanded="false">
        <button class="slds-button slds-button--icon-more" aria-haspopup="true">
          <svg aria-hidden="true" class="slds-button__icon">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
          </svg>
          <svg aria-hidden="true" class="slds-button__icon slds-button__icon--x-small">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
          </svg>
          <span class="slds-assistive-text">List View Controls</span>
        </button>
      </div>
      <button class="slds-button slds-m-left--xx-small slds-button--icon-border">
        <svg aria-hidden="true" class="slds-button__icon">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#refresh"></use>
        </svg>
        <span class="slds-assistive-text">Refresh</span>
      </button>
        <button class="slds-button slds-button--icon-border">
          <svg aria-hidden="true" class="slds-button__icon">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
          </svg>
          <span class="slds-assistive-text">Filters</span>
        </button>

    </div>
  </div>
</div>
<!-- / PAGE HEADER -->
