<!--
  Record Home Page Header
  https://www.lightningdesignsystem.com/components/page-headers/#flavor-record-home
-->
<div class="slds-page-header slds-page-header--object-home">
    <div>
        <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__body">
                        <div>
                            <nav class="slds-m-bottom--xx-small" role="navigation">
                                <nav role="navigation" aria-label="Breadcrumbs">
                                    <ol class="slds-breadcrumb slds-list--horizontal">
                                        <li class="slds-breadcrumb__item slds-text-title--caps"><a href="javascript:void(0);">Admin</a></li>
                                        <li class="slds-breadcrumb__item slds-text-title--caps"><a href="list.html">Pages</a></li>
                                    </ol>
                                </nav>
                            </nav>
                            <h1 class="slds-page-header__title slds-m-right--small slds-truncate slds-align-middle" title="Dictionary">Page Name / Title</h1></div>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom--xx-small">
                <button class="slds-button slds-button--neutral">Preview</button>
                <button class="slds-button slds-button--neutral trigger-add2">New</button>
            </div>
        </div>
        <div class="slds-grid">
            <div class="slds-col slds-align-bottom">
                <p class="slds-page-header__info">Category • Theme One</p>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-bottom">
                <div class="slds-form-element slds-hide">
                    <label class="slds-checkbox_toggle slds-grid">
                        <span class="slds-form-element__label slds-m-bottom_none">Edit Mode</span>
                        <input type="checkbox" name="checkbox" disabled="" aria-describedby="toggle-desc">
                        <span id="toggle-desc" class="slds-checkbox_faux_container" aria-live="assertive">
        <span class="slds-checkbox_faux"></span>
                        </span>
                    </label>
                </div>

<div class="slds-button-group" role="group">
    <button class="slds-button slds-button--icon-border slds-m-left--xx-small" id="trigger-phone">
        <svg class="slds-button__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#phone_portrait"></use>
        </svg>
        <span class="slds-assistive-text">Delete</span>
    </button>
    <button class="slds-button slds-button--icon-border slds-m-left--xx-small" id="trigger-tablet">
        <svg class="slds-button__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#tablet_landscape"></use>
        </svg>
        <span class="slds-assistive-text">Delete</span>
    </button>
    <button class="slds-button slds-button--icon-border slds-m-left--xx-small" id="trigger-desktop">
        <svg class="slds-button__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#desktop"></use>
        </svg>
        <span class="slds-assistive-text">Delete</span>
    </button>
</div>

                <div class="slds-button-group" role="group">
                    <button class="slds-button slds-button--icon-border slds-m-left--xx-small delete-trigger">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                        </svg><span class="slds-assistive-text">Delete</span></button>
                    <button aria-expanded="false" aria-haspopup="true" class="slds-button slds-button--icon-more ignore-click-HkBUxsHK3x" tabindex="0" id="page-settings-trigger">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
                        </svg>
                    </button>
                </div>



            </div>
        </div>
    </div>
</div>
