<!--
  Record Home Page Header
  https://www.lightningdesignsystem.com/components/page-headers/#flavor-record-home
-->
<div class="slds-panel slds-border_bottom">
    <div class="slds-grid slds-wrap">
        <div class="slds-p-around_medium">
            <!-- PAGE SELECTION -->
                <div class="slds-form-element__control">
                    <div class="slds-combobox_container slds-size_small">
                    <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-picklist" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                        <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Page Name" readonly="">
                        <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                            </svg>
                            <span class="slds-assistive-text">Description of icon</span>
                        </span>
                        </div>
                        <div id="listbox-unique-id" role="listbox">
                        <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                            <li role="presentation" class="slds-listbox__item">
                            <span id="listbox-option-unique-id-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                <span class="slds-media__figure">
                                <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                </svg>
                                </span>
                                <span class="slds-media__body">
                                <span class="slds-truncate" title="Option A"> Option A</span>
                                </span>
                            </span>
                            </li>
                            <li role="presentation" class="slds-listbox__item">
                            <span id="listbox-option-unique-id-02" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                <span class="slds-media__figure">
                                <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                </svg>
                                </span>
                                <span class="slds-media__body">
                                <span class="slds-truncate" title="Option B"> Option B</span>
                                </span>
                            </span>
                            </li>
                            <li role="presentation" class="slds-listbox__item">
                            <span id="listbox-option-unique-id-03" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                                <span class="slds-media__figure">
                                <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                </svg>
                                </span>
                                <span class="slds-media__body">
                                <span class="slds-truncate" title="Option ABCDEFGHIJKLMNOPQRSTUVWXYZ"> Option ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
                                </span>
                            </span>
                            </li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
            <!-- /PAGE SELECTION -->
        </div>
        <div class="slds-col_bump-left slds-p-top_small">
        <!-- Device Selector- -->
            <div class="slds-button-group" role="group">
                <button class="slds-button slds-button--icon-border slds-m-left--xx-small" id="trigger-phone">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#phone_portrait"></use>
                    </svg>
                    <span class="slds-assistive-text">Delete</span>
                </button>
                <button class="slds-button slds-button--icon-border slds-m-left--xx-small" id="trigger-tablet">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#tablet_landscape"></use>
                    </svg>
                    <span class="slds-assistive-text">Delete</span>
                </button>
                <button class="slds-button slds-button--icon-border slds-m-left--xx-small" id="trigger-desktop">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#desktop"></use>
                    </svg>
                    <span class="slds-assistive-text">Delete</span>
                </button>
            </div>        
        
        </div>
        <div class="slds-p-around_small">
        <!-- Publish -->
            <button class="slds-button slds-button_neutral">Publish</button>
        </div>
        <div class="slds-p-around_small">
        <!-- Preview -->
                <button class="slds-button slds-button--icon-border slds-m-left--xx-small" id="trigger-phone">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#preview"></use>
                    </svg>
                    <span class="slds-assistive-text">Preview</span>
                </button>
        </div>
    </div>
</div>



{#
<div class="slds-page-header slds-page-header--object-home">
    <div>
        <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__body">
                        <div>
                            <nav class="slds-m-bottom--xx-small" role="navigation">
                                <nav role="navigation" aria-label="Breadcrumbs">
                                    <ol class="slds-breadcrumb slds-list--horizontal">
                                        <li class="slds-breadcrumb__item slds-text-title--caps"><a href="javascript:void(0);">Admin</a></li>
                                        <li class="slds-breadcrumb__item slds-text-title--caps"><a href="javascript:void(0);">Search</a></li>
                                    </ol>
                                </nav>
                            </nav>
                            <h1 class="slds-page-header__title slds-m-right--small slds-truncate slds-align-middle" title="Dictionary">Dictionary</h1></div>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom--xx-small">
                    <button class="slds-button slds-button--neutral trigger-add">New</button>
            </div>
        </div>
        <div class="slds-grid">
            <div class="slds-col slds-align-bottom">
                <p class="slds-page-header__info">125 items • sorted by date</p>
            </div>

            <div class="slds-col slds-no-flex slds-grid slds-align-bottom">

                    <div class="slds-form-element__control">
                        <div class="slds-input-has-icon slds-input-has-icon--right">
                        <svg aria-hidden="true" class="slds-input__icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                        </svg>
                        <input id="lookup-330" class="slds-lookup__search-input slds-input" type="search" placeholder="Search Dictionary" aria-owns="lookup-330" role="combobox" aria-activedescendent="" aria-expanded="false" aria-autocomplete="list">
                        </div>
                    </div>

                    <div class="slds-button-group" role="group">
                        <button class="slds-button slds-button--icon-border slds-m-left--xx-small">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
                            </svg>
                            <span class="slds-assistive-text">Filter</span>
                        </button>
                        <button class="slds-button slds-button--icon-border slds-m-left--xx-small delete-trigger">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                            </svg><span class="slds-assistive-text">Delete</span></button>
                        <div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-button--last" id="HkBUxsHK3x">
                            <button aria-expanded="false" aria-haspopup="true" class="slds-button slds-button--icon-more ignore-click-HkBUxsHK3x" tabindex="0">
                                <svg class="slds-button__icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
                                </svg>
                                <svg aria-hidden="true" class="slds-button__icon slds-button__icon--x-small" viewBox="0 0 24 24" name="down">
                                    <path d="M3.8 6.5h16.4c.4 0 .8.6.4 1l-8 9.8c-.3.3-.9.3-1.2 0l-8-9.8c-.4-.4-.1-1 .4-1z"></path>
                                </svg>
                            </button>
                        </div>

                </div>
            </div>

        </div>
    </div>
</div>
#}