<!--
  Record Home Page Header
  https://www.lightningdesignsystem.com/components/page-headers/#flavor-record-home
-->

<div class="slds-page-header slds-page-header--object-home">
    <div>
        <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__body">
                        <div>
                            <nav class="slds-m-bottom--xx-small" role="navigation">
                                <nav role="navigation" aria-label="Breadcrumbs">
                                    <ol class="slds-breadcrumb slds-list--horizontal">
                                        <li class="slds-breadcrumb__item slds-text-title--caps"><a href="javascript:void(0);">Admin</a></li>
                                        <li class="slds-breadcrumb__item slds-text-title--caps"><a href="javascript:void(0);">Search</a></li>
                                    </ol>
                                </nav>
                            </nav>
                            <h1 class="slds-page-header__title slds-m-right--small slds-truncate slds-align-middle" title="Dictionary">Dictionary</h1></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-grid">
            <div class="slds-col slds-align-bottom">
                <p class="slds-page-header__info">125 items</p>
            </div>
        </div>
    </div>

</div>
