<div id="textbox-3" class="draggable">

    <div class="slds-p-horizontal_none slds-size_1-of-1 slds-hide slds-theme_shade image menu-border" id="textbox-3-placeholder">
    {% include "_inc-box-menu.html" %}
            <div class="slds-align_absolute-center slds-align_absolute-center slds-p-around_medium slds-grid slds-wrap">
                <div class="slds-size_1-of-1 slds-align_absolute-center">
                    <svg class="slds-button__icon slds-button__icon--large  slds-icon_large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#text_color"></use>
                    </svg>
                    <svg class="slds-button__icon slds-button__icon--large  slds-icon_large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#text_color"></use>
                    </svg>
                    <svg class="slds-button__icon slds-button__icon--large  slds-icon_large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#text_color"></use>
                    </svg>
                </div>
                <div>
                3 Column Text Block
                </div>

            </div>
    </div>
    <div class="slds-p-horizontal_none slds-size_1-of-1 slds-hide menu-border" id="textbox-3-content">
    {% include "_inc-box-menu.html" %}
        <!-- PLACEHOLDER -->
        <div class="slds-grid">
            <div class="slds-p-horizontal_small">
                <div class="slds-align_absolute-center slds-align_absolute-center slds-p-around_medium slds-grid slds-wrap" id="textoutput3A"></div>
            </div>
            <div class="slds-p-horizontal_small">
                <div class="slds-align_absolute-center slds-align_absolute-center slds-p-around_medium slds-grid slds-wrap" id="textoutput3B"></div>
            </div>
            <div class="slds-p-horizontal_small">
                <div class="slds-align_absolute-center slds-align_absolute-center slds-p-around_medium slds-grid slds-wrap" id="textoutput3C"></div>
            </div>
        </div>
        <!-- /PLACEHOLDER -->
    </div>

</div>
