<section class="slds-popover slds-popover_tooltip slds-nubbin_bottom slds-hide" role="dialog" aria-describedby="dialog-body-id-18" aria-label="Dialog Title" id="tooltip-sites">
    <div class="slds-popover__body" id="dialog-body-id-18">
      <ul>
        <li class="slds-item">adidas.com</li>
        <li class="slds-item">adidas.co.uk</li>
        <li class="slds-item">Site Title</li>
        <li class="slds-item">adidas.ca</li>
        <li class="slds-item">Brand Name 1</li>
      </ul>
    </div>
  </section>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.show-sites-tooltip').hover(function() {
        $('#tooltip-sites').toggleClass('slds-hide');
        new Tether({
          element: '#tooltip-sites',
          target: $(this),
          attachment: 'bottom center',
          targetAttachment: 'top center',
          targetOffset: '-10px 0',
          constraints: [{
            to: 'window',
            attachment: 'target',
            pin: true
          }]
        });
      });
    });

    </script>