<section class="slds-hide slds-popover slds-nubbin--top-left" role="dialog" aria-describedby="dialog-body-id-40" id="app-switch">
      <div class="slds-popover__body slds-p-horizontal--none" id="dialog-body-id-40">
        <div class="slds-combobox_container slds-is-open">
          <div class="slds-combobox">
            <div aria-expanded="true" aria-haspopup="listbox" class="slds-form-element slds-combobox__form-element" role="combobox">
              <label class="slds-form-element__label slds-assistive-text" for="combobox-unique-id">Search</label>
              <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right slds-m-around--small">
                <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Search Commerce Cloud Apps" />
                <svg class="slds-icon slds-icon--x-small slds-input__icon slds-input__icon--right" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                </svg>
              </div>
              <ul id="listbox-unique-id" class="slds-listbox slds-listbox--vertical slds-dropdown--length-10" role="listbox">
                <li role="presentation" class="slds-listbox__item">
                  <span class="slds-media slds-media--center slds-listbox__option slds-listbox__option--entity slds-listbox__option--has-meta" role="option">
                <span class="slds-media__figure">
                  <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                    <svg class="slds-icon slds-icon--small" aria-hidden="true">
                      <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                    </svg>
                    <span class="slds-assistive-text">Description of icon</span>
                  </span>
                  </span>
                  <span class="slds-media__body">
                  <span class="slds-listbox__option-text slds-listbox__option-text--entity">Account Manager
                </span>
                  </span>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <span class="slds-media slds-media--center slds-listbox__option slds-listbox__option--entity slds-listbox__option--has-meta" role="option">
                <span class="slds-media__figure">
                  <span class="slds-icon_container slds-icon-standard-case" title="Description of icon when needed">
                    <svg class="slds-icon slds-icon--small" aria-hidden="true">
                      <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#case"></use>
                    </svg>
                    <span class="slds-assistive-text">Description of icon</span>
                  </span>
                  </span>
                  <span class="slds-media__body">
                  <span class="slds-listbox__option-text slds-listbox__option-text--entity">Customer Service Center
                </span>
                  </span>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <span class="slds-media slds-media--center slds-listbox__option slds-listbox__option--entity slds-listbox__option--has-meta" role="option">
                <span class="slds-media__figure">
                  <span class="slds-icon_container slds-icon-standard-work-order" title="Description of icon when needed">
                    <svg class="slds-icon slds-icon--small" aria-hidden="true">
                      <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#work_order"></use>
                    </svg>
                    <span class="slds-assistive-text">Description of icon</span>
                  </span>
                  </span>
                  <span class="slds-media__body">
                  <span class="slds-listbox__option-text slds-listbox__option-text--entity">Control Center
                </span>
                  </span>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <span class="slds-media slds-media--center slds-listbox__option slds-listbox__option--entity slds-listbox__option--has-meta" role="option">
                <span class="slds-media__figure">
                  <span class="slds-icon_container slds-icon-custom-custom13" title="Description of icon when needed">
                    <svg class="slds-icon slds-icon--small" aria-hidden="true">
                      <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom13"></use>
                    </svg>
                    <span class="slds-assistive-text">Description of icon</span>
                  </span>
                  </span>
                  <span class="slds-media__body">
                  <span class="slds-listbox__option-text slds-listbox__option-text--entity">Order Management
                </span>
                  </span>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <span class="slds-media slds-media--center slds-listbox__option slds-listbox__option--entity slds-listbox__option--has-meta" role="option">
                <span class="slds-media__figure">
                  <span class="slds-icon_container slds-icon-custom-custom17" title="Description of icon when needed">
                    <svg class="slds-icon slds-icon--small" aria-hidden="true">
                      <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom17"></use>
                    </svg>
                    <span class="slds-assistive-text">Description of icon</span>
                  </span>
                  </span>
                  <span class="slds-media__body">
                  <span class="slds-listbox__option-text slds-listbox__option-text--entity">Analytics
                </span>
                  </span>
                </li>
                <li role="presentation" class="slds-listbox__item">
                  <span class="slds-media slds-media--center slds-listbox__option slds-listbox__option--entity slds-listbox__option--has-meta" role="option">
                <span class="slds-media__figure">
                  <span class="slds-icon_container slds-icon-custom-custom93" title="Description of icon when needed">
                    <svg class="slds-icon slds-icon--small" aria-hidden="true">
                      <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom93"></use>
                    </svg>
                    <span class="slds-assistive-text">Description of icon</span>
                  </span>
                  </span>
                  <span class="slds-media__body">
                  <span class="slds-listbox__option-text slds-listbox__option-text--entity">Stores
                </span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
