<section class="slds-hide slds-popover slds-nubbin_top-right" role="dialog" aria-label="Dialog Title" aria-describedby="dialog-body-id-help" id="id-help">

<ul class="slds-dropdown__list" role="menu">
  <li class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator"><span class="slds-text-title_caps">HELP & TRAINING</span></li>
  <li class="slds-dropdown__item" role="presentation"><a href="javascript:void(0);" role="menuitem" tabindex="0"><span class="slds-truncate" title="Menu Item One">Help Label 1</span></a></li>
  <li class="slds-dropdown__item" role="presentation"><a href="javascript:void(0);" role="menuitem" tabindex="0"><span class="slds-truncate" title="Menu Item One">Help Label 2</span></a></li>
</ul>

</section>
