<section class="slds-popover slds-nubbin_left slds-dynamic-menu slds-hide" role="dialog" aria-label="My Favourites" aria-describedby="dialog-body-id-3" id="assign-to">
  <div class="slds-popover__body slds-p-horizontal_none" id="dialog-body-id-3">
    <div class="slds-form-element">
      <label class="slds-form-element__label slds-assistive-text" for="combobox-unique-id">Search</label>
      <div class="slds-form-element__control">
        <div class="slds-combobox_container">
          <div class="slds-combobox slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right slds-m-around_small">
              <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Search Categories">
              <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                  <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                  </svg>
                  <span class="slds-assistive-text">Description of icon</span>
              </span>
            </div>
            <div id="listbox-unique-id" role="listbox">
                <ul class="slds-listbox slds-listbox_vertical slds-dropdown_length-10 slds-tree" role="tree" aria-labelledby="treeheading">
                  <li id="tree0-node0" role="treeitem" aria-level="1">
                    <div class="slds-tree__item">
                      <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                        </svg>
                        <span class="slds-assistive-text">Toggle</span>
                      </button><span tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">Tree Item</span>


                      <div class="slds-checkbox_add-button slds-button_assign">
  <input type="checkbox" class="slds-assistive-text" id="add-checkbox-1" value="on">
  <label for="add-checkbox-1" class="slds-checkbox_faux">
    <span class="slds-assistive-text">Add product</span>
  </label>
</div>


                      </div>
                  </li>
                  <li id="tree0-node1" role="treeitem" aria-level="1" aria-expanded="true">
                    <div class="slds-tree__item">
                      <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-controls="tree0-node1" title="Toggle">
                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                        </svg>
                        <span class="slds-assistive-text">Toggle</span>
                      </button><a id="tree0-node1__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Tree Branch">Tree Branch</a></div>
                    <ul class="slds-is-expanded" role="group" aria-labelledby="tree0-node1__label">
                      <li id="tree0-node1-0" role="treeitem" aria-level="2">
                        <div class="slds-tree__item">
                          <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                            <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                            </svg>
                            <span class="slds-assistive-text">Toggle</span>
                          </button><span tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">Tree Item</span>
                          <button class="slds-button slds-button_neutral slds-button_assign"><svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
  </svg></button></div>
                      </li>
                      <li id="tree0-node1-1" role="treeitem" aria-level="2" aria-expanded="true">
                        <div class="slds-tree__item">
                          <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-controls="tree0-node1-1" title="Toggle">
                            <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                            </svg>
                            <span class="slds-assistive-text">Toggle</span>
                          </button><a id="tree0-node1-1__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Tree Branch">Tree Branch</a></div>
                        <ul class="slds-is-expanded" role="group" aria-labelledby="tree0-node1-1__label">
                          <li id="tree0-node1-1-0" role="treeitem" aria-level="3">
                            <div class="slds-tree__item">
                              <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                                <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <span class="slds-assistive-text">Toggle</span>
                              </button><span tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">Tree Item</span>
                              <button class="slds-button slds-button_neutral slds-button_assign">Assign</button></div>
                          </li>
                          <li id="tree0-node1-1-1" role="treeitem" aria-level="3">
                            <div class="slds-tree__item">
                              <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                                <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <span class="slds-assistive-text">Toggle</span>
                              </button><span tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">Tree Item</span>
                              <button class="slds-button slds-button_neutral slds-button_assign">Assign</button></div>
                          </li>
                          <li id="tree0-node1-1-2" role="treeitem" aria-level="3" aria-expanded="false">
                            <div class="slds-tree__item">
                              <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-controls="tree0-node1-1-2" title="Toggle">
                                <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <span class="slds-assistive-text">Toggle</span>
                              </button><a id="tree0-node1-1-2__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Tree Branch">Tree Branch</a></div>
                            <ul class="slds-is-collapsed" role="group" aria-labelledby="tree0-node1-1-2__label">
                              <li id="tree0-node1-1-2-0" role="treeitem" aria-level="4">
                                <div class="slds-tree__item">
                                  <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Toggle</span>
                                  </button><span tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">Tree Item</span>
                                  <button class="slds-button slds-button_neutral slds-button_assign">Assign</button></div>
                              </li>
                              <li id="tree0-node1-1-2-1" role="treeitem" aria-level="4">
                                <div class="slds-tree__item">
                                  <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Toggle</span>
                                  </button><span tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">Tree Item</span>
                                  <button class="slds-button slds-button_neutral slds-button_assign">Assign</button></div>
                              </li>
                              <li id="tree0-node1-1-2-2" role="treeitem" aria-level="4">
                                <div class="slds-tree__item">
                                  <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Toggle</span>
                                  </button><span tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">Tree Item</span>
                                  <button class="slds-button slds-button_neutral slds-button_assign">Assign</button></div>
                              </li>
                            </ul>
                          </li>
                          <li id="tree0-node1-1-3" role="treeitem" aria-level="3" aria-expanded="true">
                            <div class="slds-tree__item">
                              <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-controls="tree0-node1-1-3" title="Toggle">
                                <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <span class="slds-assistive-text">Toggle</span>
                              </button><a id="tree0-node1-1-3__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Tree Branch">Tree Branch</a></div>
                            <ul class="slds-is-collapsed" role="group" aria-labelledby="tree0-node1-1-3__label">
                              <li id="tree0-node1-1-3-1" role="treeitem" aria-level="4">
                                <div class="slds-tree__item">
                                  <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Toggle</span>
                                  </button><span tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">Tree Item</span>
                                  <button class="slds-button slds-button_neutral slds-button_assign">Assign</button></div>
                              </li>
                              <li id="tree0-node1-1-3-2" role="treeitem" aria-level="4">
                                <div class="slds-tree__item">
                                  <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Toggle</span>
                                  </button><span tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">Tree Item</span>
                                  <button class="slds-button slds-button_neutral slds-button_assign">Assign</button></div>
                              </li>
                              <li id="tree0-node1-1-3-3" role="treeitem" aria-level="4">
                                <div class="slds-tree__item">
                                  <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Toggle</span>
                                  </button><span tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">Tree Item</span>
                                  <button class="slds-button slds-button_neutral slds-button_assign">Assign</button></div>
                              </li>
                              <li id="tree0-node1-1-3-4" role="treeitem" aria-level="4" aria-expanded="true">
                                <div class="slds-tree__item">
                                  <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-controls="tree0-node1-1-3-4" title="Toggle">
                                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Toggle</span>
                                  </button><a id="tree0-node1-1-3-4__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Tree Branch">Tree Branch</a></div>
                                <ul class="slds-is-expanded" role="group" aria-labelledby="tree0-node1-1-3-4__label">
                                  <li id="tree0-node1-1-3-4-1" role="treeitem" aria-level="5">
                                    <div class="slds-tree__item">
                                      <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Toggle</span>
                                      </button><span tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">Tree Item</span>
                                      <button class="slds-button slds-button_neutral slds-button_assign">Assign</button></div>
                                  </li>
                                  <li id="tree0-node1-1-3-4-2" role="treeitem" aria-level="5">
                                    <div class="slds-tree__item">
                                      <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Toggle</span>
                                      </button><span tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">Tree Item</span>
                                      <button class="slds-button slds-button_neutral slds-button_assign">Assign</button></div>
                                  </li>
                                  <li id="tree0-node1-1-3-4-3" role="treeitem" aria-level="5">
                                    <div class="slds-tree__item">
                                      <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Toggle</span>
                                      </button><span tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">Tree Item</span>
                                      <button class="slds-button slds-button_neutral slds-button_assign">Assign</button></div>
                                  </li>
                                </ul>
                              </li>
                              <li id="tree0-node1-1-3-5" role="treeitem" aria-level="4">
                                <div class="slds-tree__item">
                                  <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Toggle</span>
                                  </button><span tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">Tree Item</span>
                                  <button class="slds-button slds-button_neutral slds-button_assign">Assign</button></div>
                              </li>
                            </ul>
                          </li>
                          <li id="tree0-node1-1-4" role="treeitem" aria-level="3">
                            <div class="slds-tree__item">
                              <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                                <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                                </svg>
                                <span class="slds-assistive-text">Toggle</span>
                              </button><span tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">Tree Item</span>
                              <button class="slds-button slds-button_neutral slds-button_assign">Assign</button></div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li id="tree0-node2" role="treeitem" aria-level="1">
                    <div class="slds-tree__item">
                      <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-controls="tree0-node2" title="Toggle">
                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                        </svg>
                        <span class="slds-assistive-text">Toggle</span>
                      </button><a id="tree0-node2__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Tree Branch">Tree Branch</a></div>
                    <ul class="slds-is-collapsed" role="group" aria-labelledby="tree0-node2__label">
                      <li id="tree0-node2-0" role="treeitem" aria-level="2">
                        <div class="slds-tree__item">
                          <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                            <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                            </svg>
                            <span class="slds-assistive-text">Toggle</span>
                          </button><span tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">Tree Item</span>
                          <button class="slds-button slds-button_neutral slds-button_assign">Assign</button></div>
                      </li>
                    </ul>
                  </li>
                  <li id="tree0-node3" role="treeitem" aria-level="1">
                    <div class="slds-tree__item">
                      <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small slds-is-disabled" disabled="" title="Toggle">
                        <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                        </svg>
                        <span class="slds-assistive-text">Toggle</span>
                      </button><span tabindex="-1" role="presentation" class="slds-truncate" title="Tree Item">Tree Item</span>
                      <button class="slds-button slds-button_neutral slds-button_assign">Assign</button></div>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="slds-popover__footer popover-footer-trigger">
    <button class="slds-button slds-button--neutral hide-assign-to">Cancel</button>
    <button class="slds-button slds-button--brand hide-assign-to">Assign</button>
  </footer>
</section>
