<section class="slds-hide2 slds-popover slds-nubbin--top-left2" role="dialog" aria-describedby="dialog-body-id-4021" id="mega2">
  <div class="slds-popover__body slds-p-horizontal--none" id="dialog-body-id-4021">
    <div class="slds-p-horizontal_small">
      <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left-right">
          <svg class="slds-input__icon slds-input__icon--left" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
          </svg>
          <input type="text" aria-activedescendant="" aria-autocomplete="list" aria-controls="global-search-list-01" autocomplete="off" class="slds-input slds-lookup__search-input" id="admin-tools-search" placeholder="Search Administration Tools" role="textbox">
        </div>
    </div>
    <div class="slds-grid slds-gutters">
      <div class="slds-col">
        <div class="slds-dropdown_small">
          <ul class="slds-dropdown__list" role="menu">
            <li class="slds-dropdown__header slds-truncate" title="Content" role="separator">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-text-title_caps">Content</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Libraries">Libraries</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Library Folder">Library Folder</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Content Assets">Content Assets</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Import &amp; Export">Import &amp; Export</span>
              </a>
            </li>

            <li class="slds-dropdown__header slds-truncate" title="Customers" role="separator">
              <span class="slds-text-title_caps">Customers</span>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Customer Groups">Customer Groups</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Batch Processes">Batch Processes</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Import &amp; Export">Import &amp; Export</span>
              </a>
            </li>

            <li class="slds-dropdown__header slds-truncate" title="Custom Objects" role="separator">
              <span class="slds-text-title_caps">Custom Objects</span>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Custom Object Editor">Custom Object Editor</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Batch Processes">Batch Processes</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Import &amp; Export">Import &amp; Export</span>
              </a>
            </li>

            <li class="slds-dropdown__header slds-truncate" title="Site URLs" role="separator">
              <span class="slds-text-title_caps">Site URLs</span>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="URL Rules">URL Rules</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="URL Redirects">URL Redirects</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Dynamic Mapping">Dynamic Mapping</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Static Mapping">Static Mapping</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Robots">Robots</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Aliases">Aliases</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Customer CDN Settings">Customer CDN Settings</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Sitemaps">Sitemaps</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="URL Request Analyzer">URL Request Analyzer</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
  </div>
</section>