<section class="slds-hide slds-popover slds-nubbin--top-left2" role="dialog" aria-describedby="dialog-body-id-4021" id="mega2">
  <div class="slds-popover__body slds-p-horizontal--none" id="dialog-body-id-4021">
    <div class="slds-p-horizontal_small">
      <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left-right">
          <svg class="slds-input__icon slds-input__icon--left" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
          </svg>
          <input type="text" aria-activedescendant="" aria-autocomplete="list" aria-controls="global-search-list-01" autocomplete="off" class="slds-input slds-lookup__search-input" id="admin-tools-search" placeholder="Search Administration Tools" role="textbox">
        </div>
    </div>
    <div class="slds-grid slds-gutters2">
      <div class="slds-col">
        <div class="slds-dropdown_small">
          <ul class="slds-dropdown__list" role="menu">
            <li class="slds-dropdown__header slds-truncate" title="Replication" role="separator">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-text-title_caps">Replication</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Data Replication">Data Replication</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Code Replication">Code Replication</span>
              </a>
            </li>
            <li class="slds-dropdown__header slds-truncate" title="Organization" role="separator">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-text-title_caps">Organization</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Organization Profile">Organization Profile</span>
              </a>
            </li>

            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Users">Users</span>
              </a>
            </li>

            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Roles &amp; Permissions">Roles &amp; Permissions</span>
              </a>
            </li>

            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="WebDAV Client Permissions">WebDAV Client Permissions</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="slds-col">
        <div class="slds-dropdown_small">
          <ul class="slds-dropdown__list" role="menu">
            <li class="slds-dropdown__header slds-truncate" title="Sites" role="separator">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-text-title_caps">Sites</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Manage Sites">Manage Sites</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Customer Lists">Customer Lists</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Content Libraries">Content Libraries</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Batch Processes">Batch Processes</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Embedded CDN Settings">Embedded CDN Settings</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="slds-col">
        <div class="slds-dropdown_small">
          <ul class="slds-dropdown__list" role="menu">
            <li class="slds-dropdown__header slds-truncate" title="Site Development" role="separator">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-text-title_caps">Site Development</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Development Setup">Development Setup</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Code Deployment">Code Deployment</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="System Object Types">System Object Types</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Custom Object Types">Custom Object Types</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Custom Error Pages">Custom Error Pages</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Custom Maintenance Pages">Custom Maintenance Pages</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Deprecated API Usage">Deprecated API Usage</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Import &amp; Export">Import &amp; Export</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Site Import &amp; Export">Site Import &amp; Export</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Open Commerce API Settings">Open Commerce API Settings</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Customer Service Center Settings">Customer Service Center Settings</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="slds-col">
        <div class="slds-dropdown_small">
          <ul class="slds-dropdown__list" role="menu">
            <li class="slds-dropdown__header slds-truncate" title="Global Preferences" role="separator">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-text-title_caps">Global Preferences</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Locales">Locales</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Instance Time Zone">Instance Time Zone</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Change History">Change History</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="OAuth2 Providers">OAuth2 Providers</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Security">Security</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Store Locator Data">Store Locator Data</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Page Meta Tags">Page Meta Tags</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Feature Switches">Feature Switches</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Order Search">Order Search</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Sequence Numbers">Sequence Numbers</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Products">Products</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Retention Settings">Retention Settings</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Import &amp; Export">Import &amp; Export</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Global Timeouts">Global Timeouts</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Custom Preferences">Custom Preferences</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Analytics">Analytics</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="slds-col">
        <div class="slds-dropdown_small">
          <ul class="slds-dropdown__list" role="menu">
            <li class="slds-dropdown__header slds-truncate" title="Operations" role="separator">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-text-title_caps">Operations</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Job Schedules">Job Schedules</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Job History">Job History</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Job Schedules (deprecated)">Job Schedules (deprecated)</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Job History (deprecated)">Job History (deprecated)</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Job Statistics">Job Statistics</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Import &amp; Export">Import &amp; Export</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="GMV Reports">GMV Reports</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Custom Log Settings">Custom Log Settings</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Code Profiler">Code Profiler</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Pipeline Profiler">Pipeline Profiler</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Quota Status">Quota Status</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Change History">Change History</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Encryption Keys">Encryption Keys</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Private Keys and Certificates">Private Keys and Certificates</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Services">Services</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Service Status">Service Status</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="IP Address Geolocation Data">IP Address Geolocation Data</span>
              </a>
            </li>
            <li class="slds-dropdown__item" role="presentation">
              <a href="javascript:void(0);" role="menuitem" tabindex="0">
                <span class="slds-truncate" title="Predictive Intelligence">Predictive Intelligence</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
  </div>
</section>