                       <table role="grid" class="slds-table slds-table_fixed-layout slds-table_bordered slds-table_resizable-cols slds-no-row-hover slds-scrollable_none">
                            <thead>
                                <tr class="slds-line-height_reset">
                                    <th scope="col" style="width: 3.75rem;"></th>
                                    <th aria-label="Product Code" class="slds-is-sortable slds-is-resizable slds-text-title_caps" scope="col">
                                        <a href="javascript:void(0);" class="slds-th__action slds-text-link_reset" tabindex="-1">
                                            <span class="slds-assistive-text">Sort </span>
                                            <span class="slds-truncate" title="Product Image">Image</span>
                                            <div class="slds-icon_container">
                                                <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                                                </svg>
                                            </div>
                                            <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
                                        </a>
                                        <div class="slds-resizable">
                                            <label for="cell-resize-handle-30" class="slds-assistive-text">Product Code column width</label>
                                            <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-30" tabindex="-1">
                                            <span class="slds-resizable__handle">
                        <span class="slds-resizable__divider"></span>
                                            </span>
                                        </div>
                                    </th>
                                    <th aria-label="Name" class="slds-is-sortable slds-is-resizable slds-text-title_caps" scope="col">
                                        <a href="javascript:void(0);" class="slds-th__action slds-text-link_reset" tabindex="-1">
                                            <span class="slds-assistive-text">Sort </span>
                                            <span class="slds-truncate" title="Name">Name</span>
                                            <div class="slds-icon_container">
                                                <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                                                </svg>
                                            </div>
                                            <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
                                        </a>
                                        <div class="slds-resizable">
                                            <label for="cell-resize-handle-29" class="slds-assistive-text">Name column width</label>
                                            <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-29" tabindex="-1">
                                            <span class="slds-resizable__handle">
                        <span class="slds-resizable__divider"></span>
                                            </span>
                                        </div>
                                    </th>
                                    <th aria-label="Product Family" class="slds-is-sortable slds-is-resizable slds-text-title_caps" scope="col">
                                        <a href="javascript:void(0);" class="slds-th__action slds-text-link_reset" tabindex="-1">
                                            <span class="slds-assistive-text">Sort </span>
                                            <span class="slds-truncate" title="Product Family">SKU</span>
                                            <div class="slds-icon_container">
                                                <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                                                </svg>
                                            </div>
                                            <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
                                        </a>
                                        <div class="slds-resizable">
                                            <label for="cell-resize-handle-32" class="slds-assistive-text">Product Family column width</label>
                                            <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-32" tabindex="-1">
                                            <span class="slds-resizable__handle">
                        <span class="slds-resizable__divider"></span>
                                            </span>
                                        </div>
                                    </th>
                                    <th aria-label="List Price" class="slds-is-sortable slds-is-resizable slds-text-title_caps" scope="col">
                                        <a href="javascript:void(0);" class="slds-th__action slds-text-link_reset" tabindex="-1">
                                            <span class="slds-assistive-text">Sort </span>
                                            <span class="slds-truncate" title="List Price">Category</span>
                                            <div class="slds-icon_container">
                                                <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                                                </svg>
                                            </div>
                                            <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
                                        </a>
                                        <div class="slds-resizable">
                                            <label for="cell-resize-handle-31" class="slds-assistive-text">List Price column width</label>
                                            <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-31" tabindex="-1">
                                            <span class="slds-resizable__handle">
                        <span class="slds-resizable__divider"></span>
                                            </span>
                                        </div>
                                    </th>
                                    <th aria-label="List Price" class="slds-is-sortable slds-is-resizable slds-text-title_caps" scope="col">
                                        <a href="javascript:void(0);" class="slds-th__action slds-text-link_reset" tabindex="-1">
                                            <span class="slds-assistive-text">Sort </span>
                                            <span class="slds-truncate" title="List Price">List Price</span>
                                            <div class="slds-icon_container">
                                                <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                                                </svg>
                                            </div>
                                            <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
                                        </a>
                                        <div class="slds-resizable">
                                            <label for="cell-resize-handle-31" class="slds-assistive-text">List Price column width</label>
                                            <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-31" tabindex="-1">
                                            <span class="slds-resizable__handle">
                        <span class="slds-resizable__divider"></span>
                                            </span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                <tr class="slds-hint-parent">
                                    <td role="gridcell" tabindex="0" class="slds-text-align_right" style="width: 3.75rem;">
                                        <div class="slds-checkbox_add-button">
                                            <input type="checkbox" class="slds-assistive-text" id="{{ product.sku }}" tabindex="-1" value="on">
                                            <label for="{{ product.sku }}" class="slds-checkbox_faux">
                                                <span class="slds-assistive-text">Select item 1</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td role="gridcell">
                                        <div class="slds-truncate" title="Analytics Product"><img style="width: 60px; height: 60px;" src="{{ product.img }}" /></div>
                                    </td>
                                    <th scope="row">
                                        <div class="slds-truncate" title="Analytics">{{ product.name }}</div>
                                    </th>
                                    <td role="gridcell">
                                        <div class="slds-truncate" title="ANTLY">{{ product.sku }}</div>
                                    </td>
                                    <td role="gridcell">
                                        <div class="slds-truncate" title="5000.00">{{ product.category }}</div>
                                    </td>
                                    <td role="gridcell">
                                        <div class="slds-truncate" title="Analytics Product">{{ product.price }}</div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
