<!-- COMPONENT DETAILS -->
<div id="sidebar2" class="sidebar slds-p-around_none slds-m-around_none slds-hide">
    <div class="slds-panel slds-grid slds-grid_vertical slds-nowrap slds-panel_filters">
        <div class="slds-form slds-form_stacked slds-grow slds-scrollable_y slds-grid slds-grid_vertical">
            <div class="slds-filters">
                <div class="slds-filters__header slds-grid slds-has-divider_bottom-space">
                    <h2 class="slds-align-middle slds-text-heading_small">Product Tile</h2>
                    <button class="slds-button slds-button_icon slds-col_bump-left slds-button_icon slds-button_icon-small hide-product-panel" title="Close Filter Panel">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#forward"></use>
                        </svg>
                        <span class="slds-assistive-text">Close Filter Panel</span>
                    </button>
                </div>
                <div class="slds-filters__body">
                    <div class="slds-p-horizontal_small slds-size_1-of-1">
                        <div class="slds-tabs_default">
                            <ul class="slds-tabs_default__nav" role="tablist">
                                <li class="slds-tabs_default__item slds-is-active" title="Item One" role="presentation" id="tab-1">
                                    <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">Content</a>
                                </li>
                                <li class="slds-tabs_default__item" title="Item Three" role="presentation" id="tab-3">
                                    <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">Rules</a>
                                </li>
                            </ul>
                            <div id="tab-default-12" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">
                                <div class="slds-p-horizontal_small slds-size_1-of-1">
                                    <div class="slds-align_absolute-center slds-align_absolute-center slds-p-around_medium slds-grid slds-wrap slds-grid_pull-padded">
                                        <div class="slds-size_1-of-1 slds-align_absolute-center">
                                            <img src="https://unsplash.it/200/200/?random" />
                                        </div>
                                        <div class="slds-align_absolute-center slds-size_1-of-1 slds-text-heading_medium slds-p-bottom_x-small">Apple - Granny Smith</div>
                                        <div class="slds-align_absolute-center slds-size_1-of-1 slds-text-heading_small slds-p-bottom_x-small">29.99$</div>
                                    </div>
                                </div>
                                <button class="select-product slds-button slds-button_neutral">Change Product</button>
                            </div>
                            <div id="tab-default-2" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item">
                                <ul>
                                    <li class="ui-block slds-theme_shade slds-box slds-box_x-small">Body</li>
                                    <ul class="slds-is-nested">
                                        <li class="ui-block slds-theme_shade slds-box slds-box_x-small slds-m-top_small">Text Block</li>
                                    </ul>
                                </ul>
                            </div>
                            <div id="tab-default-32" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-3__item">
                                <h1>Schedule<h1>
                            <div class="slds-theme_shade slds-box slds-box_x-small slds-m-bottom_small">
                                10.16. 2017 - 12.31. 2017
                                MO, TUE, FRI
                                11:00 AM - 12:30 PM
                            </div>
                            <h1>Show for<h1>
                            <div class="slds-theme_shade slds-box slds-box_x-small slds-m-bottom_small">Locale: en-US</div>
                            <div class="slds-theme_shade slds-box slds-box_x-small slds-m-bottom_small">User: is logged in</div>
                            <div class="slds-theme_shade slds-box slds-box_x-small slds-m-bottom_small">Customer Groups: all</div>

                        </div>
                    </div>
            </div>








        </div>
        <div class="slds-filters__footer slds-grid slds-shrink-none">
        </div>
      </div>
    </div>
  </div>
</div>
