<!-- NAVIGATOR -->
<div class="slds-filters slds-p-around_none">
        <div class="slds-filters__header slds-grid slds-has-divider_bottom">
            <h2 class="slds-align-middle slds-text-heading_small">Navigator</h2>
            <button class="slds-button slds-button_icon slds-col_bump-left slds-button_icon slds-button_icon-small" title="Close Filter Panel" id="button-close-navigator">
            <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg>
            <span class="slds-assistive-text">Close Filter Panel</span>
            </button>
        </div>


    <ul id="navigator-holder" class="list slds-has-dividers_bottom-space slds-tree">
        <li role="treeitem" aria-level="1" aria-expanded="true" aria-label="Tree Branch" class="slds-p-left--small">
            <div class="slds-tree__item slds-p-left_none">
                <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-hidden="true" tabindex="-1" title="Expand Tree Branch">
                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright" />
                    </svg>
                    <span class="slds-assistive-text">Expand Tree Branch</span>
                </button>
                <span class="slds-truncate" title="Tree Branch">Region</span>
            </div>
            <ul role="group" id="navigator">


            </ul>
        </li>
    </ul>


{#
    <ul class="slds-tree slds-p-left_small slds-p-right_small" role="tree" aria-labelledby="treeheading" aria-activedescendant="tree0-node1" id="">
        <li id="" role="treeitem" aria-level="1" aria-expanded="true">
            <div class="slds-tree__item slds-p-left_none">
                <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-controls="tree0-node1" title="Toggle">
                    <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                    </svg>
                    <span class="slds-assistive-text">Toggle</span>
                </button>
                <a id="tree0-node1__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="REGION A">REGION A</a>
                <div class="slds-p-left_large slds-hide"><span class="slds-badge">2 of 1</span></div>
            </div>
        </li>
    </ul>
    <ul class="slds-tree slds-p-left_small slds-p-right_small" role="tree" aria-labelledby="treeheading" aria-activedescendant="tree0-node1" id="navigator-container">


    </ul>
</div>


<!-- /NAVIGATOR -->


<div class="slds-hide">
    <li id="" class="slds-tree__item dummy-component-4" role="treeitem" aria-level="1" aria-expanded="true">
        <div>
            <button class="slds-button slds-button_icon slds-button_icon slds-m-right_x-small" aria-controls="tree0-node1" title="Toggle">
                <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#justify_text"></use>
                </svg>
                <span class="slds-assistive-text">Toggle</span>
            </button>
            <a id="tree0-node1__label" href="javascript:void(0);" tabindex="-1" role="presentation" class="slds-truncate" title="Component Name">Column Component</a>
            <button class="slds-button slds-button_icon slds-button_icon slds-m-left_x-small" aria-controls="tree0-node1" title="Toggle">
                <svg class="slds-button__icon slds-button__icon_small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clock"></use>
                </svg>
                <span class="slds-assistive-text">Toggle</span>
            </button>
        </div>
    </li>

#}





</div>
