<div class="slds-max-medium-table--stacked">
<table class="slds-table slds-table--bordered slds-table--resizable-cols slds-table--fixed-layout" role="grid">
  <thead>
    <tr>
        <th></th>        
        <th class="slds-size--2-of-12 slds-m-vertical--small"></th>        
        <th></th>        
        <th colspan="2" class="slds-text-align--center"><div class="slds-m-around--small">Elapsed Time Own<div></th>
        <th colspan="2" class="slds-text-align--center"><div class="slds-m-around--small">Elapsed Time Total<div></th>
        <th colspan="2" class="slds-text-align--center"><div class="slds-m-around--small">CPU Time Own<div></th>
        <th colspan="2" class="slds-text-align--center"><div class="slds-m-around--small">CPU Time Total<div></th>
</tr>
<tr class="slds-line-height--reset slds-text-title--caps">
        <th class="slds-is-sortable slds-is-resizable slds-text-title--caps" scope="col">
            <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset" tabindex="0">
            <span class="slds-assistive-text">Sort </span>
            <span class="slds-truncate" title="Type">Type</span>
            <div class="slds-icon_container">
                <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                </svg>
            </div>
            <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
            </a>
            <div class="slds-resizable">
            <label for="cell-resize-handle-595" class="slds-assistive-text">Type</label>
            <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-595" tabindex="0" />
            <span class="slds-resizable__handle">
                <span class="slds-resizable__divider"></span>
            </span>
            </div>        
        </th>
        <th class="slds-size--4-of-12 slds-is-sortable slds-is-resizable slds-text-title--caps" scope="col">
            <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset" tabindex="0">
            <span class="slds-assistive-text">Sort </span>
            <span class="slds-truncate" title="Type">Name</span>
            <div class="slds-icon_container">
                <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                </svg>
            </div>
            <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
            </a>
            <div class="slds-resizable">
            <label for="cell-resize-handle-595" class="slds-assistive-text">Name</label>
            <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-595" tabindex="0" />
            <span class="slds-resizable__handle">
                <span class="slds-resizable__divider"></span>
            </span>
            </div>                
        </th>
        <th class="slds-is-sortable slds-is-resizable slds-text-title--caps" scope="col">
            <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset slds-float--right" tabindex="0">
            <div class="slds-icon_container">
                <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                </svg>
            </div>
            <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
            <span class="slds-assistive-text">Sort </span>
            <span class="slds-truncate" title="Type">Hits</span>
            </a>
            <div class="slds-resizable">
            <label for="cell-resize-handle-595" class="slds-assistive-text">Hits</label>
            <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-595" tabindex="0" />
            <span class="slds-resizable__handle">
                <span class="slds-resizable__divider"></span>
            </span>
            </div>                
        </th>


      <th class="slds-is-sortable slds-is-resizable slds-text-title--caps slds-is-sorted slds-is-sorted--desc slds-theme--shade" aria-sort="descending" scope="col">
        <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset slds-float--right" tabindex="0">
          <div class="slds-icon_container">
            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
            </svg>
          </div>
          <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
          <span class="slds-assistive-text">Sort </span>
          <span class="slds-truncate" title="Name">Sum</span>
        </a>
        <div class="slds-resizable">
          <label for="cell-resize-handle-595" class="slds-assistive-text">Sum</label>
          <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-595" tabindex="0" />
          <span class="slds-resizable__handle">
            <span class="slds-resizable__divider"></span>
          </span>
        </div>
      </th>   
    <th class="slds-is-sortable slds-is-resizable slds-text-title--caps" scope="col">
        <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset slds-float--right" tabindex="0">
          <div class="slds-icon_container">
            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
            </svg>
          </div>
          <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
          <span class="slds-assistive-text">Sort </span>
          <span class="slds-truncate" title="Name">AVG</span>
        </a>
        <div class="slds-resizable">
          <label for="cell-resize-handle-595" class="slds-assistive-text">AVG</label>
          <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-595" tabindex="0" />
          <span class="slds-resizable__handle">
            <span class="slds-resizable__divider"></span>
          </span>
        </div>
    </th>   


   <th class="slds-is-sortable slds-is-resizable slds-text-title--caps" scope="col">
        <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset slds-float--right" tabindex="0">
          <div class="slds-icon_container">
            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
            </svg>
          </div>
          <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
          <span class="slds-assistive-text">Sort </span>
          <span class="slds-truncate" title="Name">Sum</span>
        </a>
        <div class="slds-resizable">
          <label for="cell-resize-handle-595" class="slds-assistive-text">Sum</label>
          <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-595" tabindex="0" />
          <span class="slds-resizable__handle">
            <span class="slds-resizable__divider"></span>
          </span>
        </div>
    </th>   
    <th class="slds-is-sortable slds-is-resizable slds-text-title--caps" scope="col">
        <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset slds-float--right" tabindex="0">
          <div class="slds-icon_container">
            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
            </svg>
          </div>
          <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
          <span class="slds-assistive-text">Sort </span>
          <span class="slds-truncate" title="Name">AVG</span>
        </a>
        <div class="slds-resizable">
          <label for="cell-resize-handle-595" class="slds-assistive-text">AVG</label>
          <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-595" tabindex="0" />
          <span class="slds-resizable__handle">
            <span class="slds-resizable__divider"></span>
          </span>
        </div>
    </th>   
 

    <th class="slds-is-sortable slds-is-resizable slds-text-title--caps" scope="col">
        <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset slds-float--right" tabindex="0">
          <div class="slds-icon_container">
            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
            </svg>
          </div>
          <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
          <span class="slds-assistive-text">Sort </span>
          <span class="slds-truncate" title="Name">Sum</span>
        </a>
        <div class="slds-resizable">
          <label for="cell-resize-handle-595" class="slds-assistive-text">Sum</label>
          <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-595" tabindex="0" />
          <span class="slds-resizable__handle">
            <span class="slds-resizable__divider"></span>
          </span>
        </div>
    </th>   
    <th class="slds-is-sortable slds-is-resizable slds-text-title--caps" scope="col">
        <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset slds-float--right" tabindex="0">
          <div class="slds-icon_container">
            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
            </svg>
          </div>
          <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
          <span class="slds-assistive-text">Sort </span>
          <span class="slds-truncate" title="Name">AVG</span>
        </a>
        <div class="slds-resizable">
          <label for="cell-resize-handle-595" class="slds-assistive-text">AVG</label>
          <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-595" tabindex="0" />
          <span class="slds-resizable__handle">
            <span class="slds-resizable__divider"></span>
          </span>
        </div>
    </th>   

  <th class="slds-is-sortable slds-is-resizable slds-text-title--caps" scope="col">
        <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset slds-float--right" tabindex="0">
          <div class="slds-icon_container">
            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
            </svg>
          </div>
          <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
          <span class="slds-assistive-text">Sort </span>
          <span class="slds-truncate" title="Name">Sum</span>
        </a>
        <div class="slds-resizable">
          <label for="cell-resize-handle-595" class="slds-assistive-text">Sum</label>
          <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-595" tabindex="0" />
          <span class="slds-resizable__handle">
            <span class="slds-resizable__divider"></span>
          </span>
        </div>
    </th>   
    <th class="slds-is-sortable slds-is-resizable slds-text-title--caps" scope="col">
        <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset slds-float--right" tabindex="0">
          <div class="slds-icon_container">
            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
            </svg>
          </div>
          <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
          <span class="slds-assistive-text">Sort </span>
          <span class="slds-truncate" title="Name">AVG</span>
        </a>
        <div class="slds-resizable">
          <label for="cell-resize-handle-595" class="slds-assistive-text">AVG</label>
          <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-595" tabindex="0" />
          <span class="slds-resizable__handle">
            <span class="slds-resizable__divider"></span>
          </span>
        </div>
    </th>  
    
</tr>
  </thead>
  <tbody>
    <tr class="slds-hint-parent slds-table--col-bordered">
      <td role="gridcell" class="slds-">
        <div class="slds-truncate slds-text-align--left" title="BM_PAGE">BM_PAGE</div>
      </td>
      <th scope="row">
        <div class="slds-truncate slds-text-align--left" title="/Sites-Storefront"><a href="javascript:void(0);" class="show_modal">/Sites-Storefront</a></div>
      </th>
      <td role="gridcell">
        <div class="slds-truncate slds-text-align--right" title="45">45</div>
      </td>
      <td role="gridcell">
        <div class="slds-truncate slds-text-align--right" title="45390717">45390717</div>
      </td>
      <td role="gridcell">
        <div class="slds-truncate slds-text-align--right" title="45390717">45390717</div>
      </td>
      <td role="gridcell">
        <div class="slds-truncate slds-text-align--right" title="1008682.6">1008682.6</div>
      </td>
      <td role="gridcell">
        <div class="slds-truncate slds-text-align--right" title="1008682.6">1008682.6</div>
      </td>
      <td role="gridcell">
        <div class="slds-truncate slds-text-align--right" title="576848636">576848636</div>
      </td>
      <td role="gridcell">
        <div class="slds-truncate slds-text-align--right" title="576848636">576848636</div>
      </td>
      <td role="gridcell">
        <div class="slds-truncate slds-text-align--right" title="12818858.58">12818858.58</div>
      </td>
      <td role="gridcell">
        <div class="slds-truncate slds-text-align--right" title="12818858.58">12818858.58</div>
      </td>
    </tr>
  </tbody>
</table>    
    

</div>