<!DOCTYPE html>
<html lang="en" class="list-view">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>.: Page List :.</title>
    <meta name="robots" content="noindex, nofollow" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <!-- Prototype styles -->
    <link rel="stylesheet" href="/styles/index.css" />

    <script>
        {% include "pendo.html" %}
    </script>
</head>

<body>
    <!--
    Base Global Header component
    https://www.lightningdesignsystem.com/components/global-header/
  -->
      {% include "_inc_page-list_navigation.html" %}

    <main class="app-wrapper">

<div class="slds-brand-band slds-brand-band_medium slds-template_default">
    <div class="slds-card slds-has-bottom-magnet">
<div class="slds-page-header slds-page-header--object-home">
  <div>
    <div class="slds-grid">
      <div class="slds-col slds-has-flexi-truncate">
        <div class="slds-media slds-no-space slds-media_center slds-grow">
          <div class="slds-media__figure">
            <span class="slds-icon_container slds-icon-standard-cms">
                <svg class="slds-icon" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#cms"></use></svg>
            </span>
          </div>
          <div class="slds-media__body">
            <div>
              <nav role="navigation" aria-label="Breadcrumbs">
                <ol class="slds-breadcrumb slds-line-height_reset">
                   <li class="slds-breadcrumb__item"><span>Experience Editor</span></li>
                </ol>
              </nav>
              <h1 class="slds-page-header__title slds-m-right--small slds-truncate slds-align-middle" title="Meta Tag Rules">Pages</h1></div>
          </div>
        </div>
      </div>
      <div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom--xx-small">
        <div class="slds-button-group" role="group">
          <button class="slds-button slds-button--neutral trigger-add" id="js-open-modal-id-2">New</button>
        </div>
      </div>
    </div>
    <div class="slds-grid">
      <div class="slds-col slds-align-bottom">
        <p class="slds-page-header__info">1003 pages found. • sorted by create date</p>
      </div>
      <div class="slds-col slds-no-flex slds-grid slds-align-bottom">
        <div class="slds-form-element__control">
          <div class="slds-input-has-icon slds-input-has-icon--right">
            <svg aria-hidden="true" class="slds-input__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
            </svg>
            <input id="lookup-330" class="slds-lookup__search-input slds-input" type="search" placeholder="Search Editor Pages" aria-owns="lookup-330" role="combobox" aria-activedescendent="" aria-expanded="false" aria-autocomplete="list">
          </div>
        </div>
        <div class="slds-button-group" role="group">
          <button class="slds-button slds-button--icon-border slds-m-left--xx-small delete-trigger slds-button--last js-open-modal-id-1">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
            </svg><span class="slds-assistive-text">Delete</span></button>
          <div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-button--last" id="HkBUxsHK3x">
            <button aria-expanded="false" aria-haspopup="true" class="slds-hide slds-button slds-button--icon-more ignore-click-HkBUxsHK3x" tabindex="0">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
              </svg>
              <svg aria-hidden="true" class="slds-button__icon slds-button__icon--x-small" viewBox="0 0 24 24" name="down">
                <path d="M3.8 6.5h16.4c.4 0 .8.6.4 1l-8 9.8c-.3.3-.9.3-1.2 0l-8-9.8c-.4-.4-.1-1 .4-1z"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
        <!-- PAGES LIST -->









        <div class="page-content ui-scrollable slds-card slds-has-top-magnet">
            <div class="ui-sortable-handle scrollable uiScroller scroller-wrapper scroll-bidirectional native">
                <table class="slds-table slds-table_bordered slds-table_resizable-cols slds-table_fixed-layout slds-table_striped scroll" role="grid">
                    <thead>
                        <tr class="slds-line-height--reset">
                            <th scope="col" style="width:3.25rem;" class="slds-text-align--right">
                                <div class="slds-th__action slds-th__action--form">
                                  <span class="slds-checkbox">
                                      <input type="checkbox" name="options" id="checkbox-170">
                                      <label class="slds-checkbox__label" for="checkbox-170">
                                        <span class="slds-checkbox--faux"></span>
                                        <span class="slds-form-element__label slds-assistive-text">Select All</span>
                                      </label>
                                    </span>
                                </div>
                            </th>
                            <th class="slds-is-sortable   slds-text-title--caps" scope="col" style="width:40%;">
                                <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset" tabindex="0"> <span class="slds-assistive-text">Sort </span> <span class="slds-truncate" title="Account Name">Name</span>
                                    <div class="slds-icon_container">
                                        <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                                        </svg>
                                    </div> <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span> </a>
                                <div>
                                    <label for="cell-resize-handle-568" class="slds-assistive-text">Account Name column width</label>
                                    <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-568" tabindex="0"> </div>
                            </th>
                            <th class="slds-is-sortable   slds-text-title--caps" scope="col">
                                <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset" tabindex="0"> <span class="slds-assistive-text">Sort </span> <span class="slds-truncate" title="Account Name">Page Type</span>
                                    <div class="slds-icon_container">
                                        <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                                        </svg>
                                    </div> <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span> </a>
                                <div>
                                    <label for="cell-resize-handle-568" class="slds-assistive-text">Account Name column width</label>
                                    <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-568" tabindex="0"> </div>
                            </th>
                            <th class="slds-is-sortable   slds-text-title--caps" scope="col" style="width:20%;">
                                <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset" tabindex="0"> <span class="slds-assistive-text">Sort </span> <span class="slds-truncate" title="Close Date">ID</span>
                                    <div class="slds-icon_container">
                                        <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                                        </svg>
                                    </div> <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span> </a>
                                <div>
                                    <label for="cell-resize-handle-569" class="slds-assistive-text">Close Date column width</label>
                                    <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-569" tabindex="0"> </div>
                            </th>
                            <th class="slds-is-sortable   slds-text-title--caps" scope="col">
                                <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset" tabindex="0"> <span class="slds-assistive-text">Sort </span> <span class="slds-truncate" title="Close Date">Status</span>
                                    <div class="slds-icon_container">
                                        <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                                        </svg>
                                    </div> <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span> </a>
                                <div>
                                    <label for="cell-resize-handle-569" class="slds-assistive-text">Close Date column width</label>
                                    <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-569" tabindex="0"> </div>
                            </th>
                            <th class="slds-is-sortable   slds-text-title--caps slds-is-sorted slds-is-sorted_desc" scope="col" style="width:16em">
                                <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset" tabindex="0"> <span class="slds-assistive-text">Sort </span> <span class="slds-truncate" title="Creation Date">Created</span>
                                    <div class="slds-icon_container">
                                        <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                                        </svg>
                                    </div> <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span> </a>
                                <div>
                                    <label for="cell-resize-handle-569" class="slds-assistive-text">Close Date column width</label>
                                    <input type="range" min="20" max="1000" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-569" tabindex="0"> </div>
                            </th>
                            <th scope="col" style="width:3.25rem;">
                                <div class="slds-th__action"> <span class="slds-assistive-text">Actions</span> </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table-pages">
                        <tr class="slds-hint-parent">
                            <td role="gridcell" class="slds-text-align--right" style="width:3.25rem;">
                              <span class="slds-checkbox">
                                <input type="checkbox" name="options" id="id-">
                                <label class="slds-checkbox__label" for="id-">
                                  <span class="slds-checkbox--faux"></span> <span class="slds-form-element__label slds-assistive-text">Select item 1</span>
                                </label>
                              </span>
                            </td>
                            <td scope="row">
                                <div class="slds-truncate" title="test.adidas.de"><a href="page-editor.html">Spring Campaign 2017</a>
                                    <div class="slds-form-element__icon">
                                        <button aria-describedby="help" class="slds-button slds-button_icon" id="list_tooltipA">
                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Help</span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td role="gridcell">
                                <div class="slds-truncate" title="staging.adidas.de">Campaign</div>
                            </td>
                            <td role="gridcell">
                                <div class="slds-truncate" title="Site 2 / en_EN">Spring-Campaign-2017-ID</div>
                            </td>
                            <td role="gridcell">
                                <div class="slds-truncate" title="Site 2 / en_EN">online</div>
                            </td>
                            <td role="gridcell">
                                <div class="slds-truncate" title="Site 2 / en_EN">12.31.2017 21:21 PM</div>
                            </td>
                            <td role="gridcell" style="width:3.25rem;">
                                <div class="slds-dropdown-trigger slds-dropdown-trigger--click">
                                    <button class="slds-button slds-button--icon slds-button--icon-border-filled slds-button--icon-x-small" aria-haspopup="true" title="Show More">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                        </svg> <span class="slds-assistive-text">Show More</span> </button>
                                    <div class="slds-dropdown slds-dropdown--right">
                                        <ul class="slds-dropdown__list" role="menu">
                                            <li class="slds-dropdown__item" role="presentation"> '
                                                <a href="page-editor.html" role="menuitem" tabindex="0" class="trigger-edit"> <span class="slds-truncate" title="Menu Item One">Edit</span> </a>
                                            </li>
                                            <li class="slds-dropdown__item" role="presentation">
                                                <a href="javascript:void(0);" role="menuitem" tabindex="-1" class="js-open-modal-id-1"> <span class="slds-truncate" title="Menu Item Two">Delete</span> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="slds-hint-parent">
                            <td role="gridcell" class="slds-text-align--right" style="width:3.25rem;"> <span class="slds-checkbox">
                              <input type="checkbox" name="options" id="id-">
                              <label class="slds-checkbox__label" for="id-">
                                <span class="slds-checkbox--faux"></span> <span class="slds-form-element__label slds-assistive-text">Select item 1</span> </label>
                                      </span>
                                  </td>
                                  <td scope="row">
                                      <div class="slds-truncate" title="test.adidas.de"><a href="page-editor.html">Summer Campaign 2017</a>
                                          <div class="slds-form-element__icon">
                                              <button aria-describedby="help" class="slds-button slds-button_icon" id="list_tooltipB">
                                                  <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                                                  </svg>
                                                  <span class="slds-assistive-text">Help</span>
                                              </button>
                                          </div>
                                          {% include "_inc_list_item-popover.html" %}
                                      </div>
                                  </td>
                            <td role="gridcell">
                                <div class="slds-truncate" title="staging.adidas.de">Campaign</div>
                            </td>
                            <td role="gridcell">
                                <div class="slds-truncate" title="Site 2 / en_EN">Summer-Campaign-2017-ID</div>
                            </td>
                            <td role="gridcell">
                                <div class="slds-truncate" title="Site 2 / en_EN">online</div>
                            </td>
                            <td role="gridcell">
                                <div class="slds-truncate" title="Site 2 / en_EN">12.31.2017 21:21 PM</div>
                            </td>
                            <td role="gridcell" style="width:3.25rem;">
                                <div class="slds-dropdown-trigger slds-dropdown-trigger--click">
                                    <button class="slds-button slds-button--icon slds-button--icon-border-filled slds-button--icon-x-small" aria-haspopup="true" title="Show More">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                        </svg> <span class="slds-assistive-text">Show More</span> </button>
                                    <div class="slds-dropdown slds-dropdown--right">
                                        <ul class="slds-dropdown__list" role="menu">
                                            <li class="slds-dropdown__item" role="presentation"> '
                                                <a href="page-editor.html" role="menuitem" tabindex="0" class="trigger-edit"> <span class="slds-truncate" title="Menu Item One">Edit</span> </a>
                                            </li>
                                            <li class="slds-dropdown__item" role="presentation">
                                                <a href="javascript:void(0);" role="menuitem" tabindex="-1" class="js-open-modal-id-1"> <span class="slds-truncate" title="Menu Item Two">Delete</span> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="slds-hint-parent">
                            <td role="gridcell" class="slds-text-align--right" style="width:3.25rem;"> <span class="slds-checkbox">
                                <input type="checkbox" name="options" id="id-">
                                <label class="slds-checkbox__label" for="id-">
                                  <span class="slds-checkbox--faux"></span> <span class="slds-form-element__label slds-assistive-text">Select item 1</span> </label>
                                        </span>
                            </td>
                            <td scope="row">
                                <div class="slds-truncate" title="test.adidas.de"><a href="page-editor.html">Fall Campaign 2017</a>
                                    {% include "_inc_list_item-popover.html"   %}
                                    <div class="slds-form-element__icon">
                                        <button aria-describedby="help" class="slds-button slds-button_icon" id="list_tooltipC">
                                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Help</span>
                                        </button>
                                    </div>

                                </div>
                            </td>
                            <td role="gridcell">
                                <div class="slds-truncate" title="staging.adidas.de">Campaign</div>
                            </td>
                            <td role="gridcell">
                                <div class="slds-truncate" title="Site 2 / en_EN">Fall-Campaign-2017-ID</div>
                            </td>
                            <td role="gridcell">
                                <div class="slds-truncate" title="Site 2 / en_EN">online</div>
                            </td>
                            <td role="gridcell">
                                <div class="slds-truncate" title="Site 2 / en_EN">12.31.2017 21:21 PM</div>
                            </td>
                            <td role="gridcell" style="width:3.25rem;">
                                <div class="slds-dropdown-trigger slds-dropdown-trigger--click">
                                    <button class="slds-button slds-button--icon slds-button--icon-border-filled slds-button--icon-x-small" aria-haspopup="true" title="Show More">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                        </svg> <span class="slds-assistive-text">Show More</span> </button>
                                    <div class="slds-dropdown slds-dropdown--right">
                                        <ul class="slds-dropdown__list" role="menu">
                                            <li class="slds-dropdown__item" role="presentation"> '
                                                <a href="page-editor.html" role="menuitem" tabindex="0" class="trigger-edit"> <span class="slds-truncate" title="Menu Item One">Edit</span> </a>
                                            </li>
                                            <li class="slds-dropdown__item" role="presentation">
                                                <a href="javascript:void(0);" role="menuitem" tabindex="-1" class="js-open-modal-id-1"> <span class="slds-truncate" title="Menu Item Two">Delete</span> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>


                        {% include "page-table.html" %}


                    </tbody>
                </table>

                <div class="slds-grid slds-grid_align-center">
                  <div class="slds-col slds-p-around_small">
                    <button class="slds-button slds-button--brand" id="loadMore">View More</button>
                    <div class="slds-hide" id="showLess">Show less</div>
                  </div>
                </div>


            </div>
        </div>







        <!-- /PAGES LIST -->
        {% include "_inc_modal-delete-page.html" %}
        {% include "_inc_modal-newpage.html" %}
        {% include "_inc_toast-page-deleted.html" %}
        {% include "_inc_toast-page-created.html" %}

</div>
    </main>


        <!-- /PAGES POPPINS -->
        {% include "_inc-page-list_poppins.html" %}



    <script src="/scripts/app.js"></script>
    <script src="/scripts/vendor/svg4everybody.min.js"></script>
    <script>
        svg4everybody();
    </script>
    <!-- JAVASCRIPT -->
    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/jquery-ui.min.js'>
    </script>
    <script>
    <!-- START SCRIPT -->
        {% include '_inc_js.html'   %}
    <!-- END SCRIPT -->
    </script>
    <!-- /JAVASCRIPT -->

    <script>

        $('#list_tooltipA').click(function() {
            //alert( "Handler for .click() called." );
            $('#poppinA').toggleClass('slds-hide');
        });
        $('#list_tooltipB').click(function() {
            //alert( "Handler for .click() called." );
            $('#poppinB').toggleClass('slds-hide');
        });
        $('#list_tooltipC').click(function() {
            //alert( "Handler for .click() called." );
            $('#poppinC').toggleClass('slds-hide');
        });

        $('.slds-popover__close').click(function() {
            //$('#poppinC').toggleClass('slds-hide');
            $(this).closest('.slds-popover').toggleClass('slds-hide');
        });


    </script>


</body>

</html>
