<div class="slds-hide slds-p-around_small component-in-page slds-m-bottom--x-small slds-align_absolute-center  slds-size_1-of-1">
    <h1 class="slds-text-heading--large slds-m-bottom--x-small">Heading - h1</h1>
    <p>Lorem ipsum dolor sit amet,
        <strong>strong</strong> adipisicing elit, sed do
        <em>emphasis</em> tempor incididunt ut
        <u>underlined</u> et dolore
        <strike>strikethrough</strike> aliqua. Ut
        <sub>subscript</sub> ad
        <sup>superscript</sup> veniam,
        <abbr>quis</abbr> nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        <a href="#">link</a> in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h2 class="slds-text-heading--medium slds-m-bottom--x-small">Heading - h2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <ul>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        <a href="#">https://url.com/document/d/1dSOGKlCQtSG73NcSJB7qCJVjvjGNqc3L2Rw/ed</a> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
</div>
<div class="slds-hide component-placeholder slds-align_absolute-center">
    <div class="slds-grid">
        <div class="slds-p-horizontal_small slds-size_1-of-1">
            <span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
                    <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#announcement"></use>
                    </svg>
                    <span class="slds-assistive-text">Description of icon</span>
            </span>
            <h1 class="slds-text-heading--medium">Text Block</h1>
            <hr>
        </div>
    </div>
</div>

<div class="slds-size_1-of-1 slds-align_absolute-center slds-m-around_none">
    <div class="slds-context-bar__icon-action slds-dropdown-trigger slds-dropdown-trigger--click  slds-p-around_medium" aria-expanded="true">
        <button class="slds-button slds-button--icon-container slds-button_icon-border slds-button_icon-border-filled" style="" aria-haspopup="true" title="Add Component" id="Region_1_Add">
                  <svg class="slds-button__icon" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                  </svg>
                  <span class="slds-assistive-text">Add Components</span>
              </button>
        <div class="slds-dropdown slds-dropdown--center slds-dropdown—fluid slds-nubbin_top slds-dropdown_large slds-p-around_small">
            <!-- SEARCH -->
            <div class="slds-form-element">
                <label class="slds-form-element__label slds-assistive-text" for="combobox-unique-id">Search</label>
                <div class="slds-form-element__control">
                    <div class="slds-combobox_container">
                        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                                <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="">
                                <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                            </svg>
                            <span class="slds-assistive-text">Description of icon</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /SEARCH -->

            <ul class="slds-dropdown__list" role="menu">
                <li class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
                    <span class="slds-text-title_caps">Banners</span>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                    <a href="javascript:void(0);" class="show_component" role="menuitem" class="show_component" tabindex="0">
                        <span class="slds-truncate" title="Table View">Simple Banner</span>
                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                      </svg>
                    </a>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                    <a href="javascript:void(0);" role="menuitem" class="show_component" tabindex="-1">
                        <span class="slds-truncate" title="Kanban Board">Info Banner</span>
                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                      </svg>
                    </a>
                </li>
                <li class="slds-dropdown__item" role="presentation">
                    <a href="javascript:void(0);" role="menuitem" class="show_component" tabindex="-1">
                        <span class="slds-truncate" title="List View">Interactive Banner</span>
                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                      </svg>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>




<!-- format this -->