Commerce Builder<!DOCTYPE html>
<html lang="en" class="list-view">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>.: BUILDER :.</title>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <!-- Prototype styles -->
    <link rel="stylesheet" href="/styles/index.css"/>

  </head>

  <body>
    <main class="app-wrapper">
      <!-- BUILDER HEADER -->
      {% include "_inc_builder-header.html" %}
      <!-- /BUILDER HEADER -->
      <div id="page_editor" class="slds-grid slds-col">
        <div id="panel_left" class="2slds-col">
          <!-- PANEL LEFT -->
          {% include "_inc_builder-panel-left.html" %}
          <!-- /PANEL LEFT -->
        </div>
        <div id="canvas" class="slds-col slds-text-align_top" style="background:#fff">
          <!-- CANVAS -->
          <!-- /CANVAS -->
        </div>
        <div id="panel_right">
          <!-- PANEL RIGHT -->
          {% include "_inc_builder-panel-right.html" %}
          <!-- /PANEL RIGHT -->
        </div>
      </div>
    </main>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/vendor/svg4everybody.min.js"></script>
    <script>
      svg4everybody();
    </script>
    <!-- JAVASCRIPT -->
    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/jquery-ui.min.js'></script>
    {% include '_inc_js.html' %}
    <!-- /JAVASCRIPT -->

  </body>

</html>
