<!DOCTYPE html>
<html lang="en" class="editor">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>.: Page Editor :.</title>
  <meta name="robots" content="noindex, nofollow" />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
    <script>
        (function(apiKey){
            (function(p,e,n,d,o){var v,w,x,y,z;o=p[d]=p[d]||{};o._q=[];
                                 v=['initialize','identify','updateOptions','pageLoad'];for(w=0,x=v.length;w<x;++w)(function(m){
                                     o[m]=o[m]||function(){o._q[m===v[0]?'unshift':'push']([m].concat([].slice.call(arguments,0)));};})(v[w]);
                                 y=e.createElement(n);y.async=!0;y.src='https://cdn.pendo.io/agent/static/'+apiKey+'/pendo.js';
                                 z=e.getElementsByTagName(n)[0];z.parentNode.insertBefore(y,z);})(window,document,'script','pendo');

            // Call this whenever information about your visitors becomes available
            // Please use Strings, Numbers, or Bools for value types.
            pendo.initialize({
                visitor: {
                    id:              'VISITOR-UNIQUE-ID'   // Required if user is logged in
                    // email:        // Optional
                    // role:         // Optional

                    // You can add any additional visitor level key-values here,
                    // as long as it's not one of the above reserved names.
                },

                account: {
                    // id:           'ACCOUNT-UNIQUE-ID' // Highly recommended
                    // name:         // Optional
                    // planLevel:    // Optional
                    // planPrice:    // Optional
                    // creationDate: // Optional

                    // You can add any additional account level key-values here,
                    // as long as it's not one of the above reserved names.
                }
            });
        })('a6211f58-beb4-47b8-6f9a-f2d2d9db186d');
    </script>

</head>
<body>
  <!--
    Navigation Bar component
    https://www.lightningdesignsystem.com/components/global-navigation/
  -->
 <div class="slds-context-bar slds-p-left_none  slds-m-left_none">
     <div class="slds-context-bar__primary slds-context-bar__item_divider-right" style="min-width:275px">
    <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover slds-context-bar__item_divider-right2">
      <div class="slds-context-bar__icon-action 2slds-context-bar__item_divider-right">
        <button class="slds-button slds-icon-waffle_container slds-context-bar__button   slds-p-left_small   slds-p-right_small" title="Description of the icon when needed" id="back-to-list">
          <span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
            <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronleft"></use>
            </svg>
            <span class="slds-assistive-text">Description of icon</span>
          </span>
        </button>
      </div>
      <span class="slds-context-bar__label-action slds-context-bar__app-name slds-p-left--small">
        <span class="slds-truncate" title="App Name">Page Name</span>
      </span>
    </div>
  </div>
  <nav class="slds-context-bar__secondary" role="navigation">
    <ul class="slds-grid">
      <li class="slds-context-bar__item slds-context-bar__item_divider-right">
          <span class="slds-truncate slds-context-bar__label-action slds-text-color_weak" title="Tools">SiteGenesis</span>
      </li>
      <li class="slds-context-bar__item slds-context-bar__item_divider-right">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Locale">
          <span class="slds-truncate" title="Tools">(en-US)</span>
        </a>
          <div class="slds-context-bar__icon-action slds-dropdown-trigger slds-dropdown-trigger--click" aria-expanded="true" id="language-selecta">

              <button class="slds-button slds-button--icon-container slds-button--icon-x-small" aria-haspopup="true" title="settings">
                  <svg class="slds-button__icon" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                  </svg>
                  <span class="slds-assistive-text">Open object switcher menu</span>
              </button>
              <div class="slds-dropdown slds-dropdown--right">
                  <ul class="dropdown__list" role="menu">
                      <li class="slds-dropdown__item slds-is-selected" role="presentation">
                          <a href="javascript:void(0);" role="menuitemcheckbox" aria-checked="true" tabindex="0" id="trigger-us">
                              <span class="slds-truncate">
                                  <svg class="slds-icon slds-icon--selected slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                  </svg>en-US</span>
                          </a>
                      </li>
                      <li class="slds-dropdown__item slds-has-divider--top-space" role="presentation">
                          <a href="javascript:void(0);" role="menuitemcheckbox" aria-checked="true" tabindex="0" id="trigger-fr">
                              <span class="slds-truncate">
                                  <svg class="slds-icon slds-icon--selected slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                  </svg>fr-FRA</span>
                          </a>
                      </li>
                      <li class="slds-dropdown__item  slds-has-divider--top-space" role="presentation">
                          <a href="javascript:void(0);" role="menuitemcheckbox" tabindex="-1" id="trigger-de">
                              <span class="slds-truncate">
                                  <svg class="slds-icon slds-icon--selected slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                  </svg>de-DE</span>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </li>
        <li class="slds-context-bar__item slds-context-bar__icon-action slds-context-bar__item_divider-right" id="language-selecta">
            <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Locale" id="trigger_preview">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#preview"></use>
                </svg>
            </a>
            <div class="slds-hide slds-context-bar__icon-action slds-dropdown-trigger slds-dropdown-trigger--click" aria-expanded="true">

                <button class="slds-button slds-button--icon-container slds-button--icon-x-small" aria-haspopup="true" title="settings">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                    </svg>
                    <span class="slds-assistive-text">Open object switcher menu</span>
                </button>
                <div class="slds-dropdown slds-dropdown--right">
                    <ul class="dropdown__list" role="menu">
                        <li class="slds-dropdown__item slds-is-selected" role="presentation">
                            <a href="javascript:void(0);" role="menuitemcheckbox" aria-checked="true" tabindex="0" id="trigger-us">
                                <span class="slds-truncate">
                                    <svg class="slds-icon slds-icon--selected slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>en-US</span>
                            </a>
                        </li>
                        <li class="slds-dropdown__item slds-has-divider--top-space" role="presentation">
                            <a href="javascript:void(0);" role="menuitemcheckbox" aria-checked="true" tabindex="0" id="trigger-fr">
                                <span class="slds-truncate">
                                    <svg class="slds-icon slds-icon--selected slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>fr-FRA</span>
                            </a>
                        </li>
                        <li class="slds-dropdown__item  slds-has-divider--top-space" role="presentation">
                            <a href="javascript:void(0);" role="menuitemcheckbox" tabindex="-1" id="trigger-de">
                                <span class="slds-truncate">
                                    <svg class="slds-icon slds-icon--selected slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>de-DE</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
      <li class="slds-context-bar__item slds-content-bar__item_divider-right slds-p-left_small slds-p-right_small slds-border_right">
        <div class="slds-dropdown-trigger--click" id="device-selecta">
              <button class="slds-button slds-button--icon slds-button--icon-large" aria-haspopup="true" title="Show More">
                  <span class="slds-icon_container slds-icon-utility-announcement slds-p-top_x-small slds-p-left_x-small slds-p-right_x-small" title="Device Settings">
                      <svg class="slds-button__icon" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#desktop"></use>
                      </svg>

                          <span class="slds-assistive-text">Device Settings</span>
                  </span>
              </button>
              <div class="slds-dropdown slds-dropdown--left">
                  <ul class="slds-dropdown__list" role="menu">
                    <li class="slds-dropdown__item slds-is-selected" role="presentation">
                      <a href="javascript:void(0);" role="menuitemcheckbox" aria-checked="false" tabindex="0" id="trigger-desktop">
                        <span class="slds-truncate" title="List View">
                          <svg class="slds-icon slds-icon_selected slds-icon_x-small slds-icon-text-default slds-m-right_x-small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                          </svg>Desktop</span>
                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#desktop"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="slds-dropdown__item" role="presentation">
                      <a href="javascript:void(0);" role="menuitemcheckbox" aria-checked="false" tabindex="0" id="trigger-tablet">
                        <span class="slds-truncate" title="Kanban Board">
                          <svg class="slds-icon slds-icon_selected slds-icon_x-small slds-icon-text-default slds-m-right_x-small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                          </svg>Tablet - Portrait</span>
                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#tablet_portrait"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="slds-dropdown__item" role="presentation">
                      <a href="javascript:void(0);" role="menuitemcheckbox" aria-checked="true" tabindex="0" id="trigger-phone">
                        <span class="slds-truncate" title="Table View">
                          <svg class="slds-icon slds-icon_selected slds-icon_x-small slds-icon-text-default slds-m-right_x-small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                          </svg>Mobile - Portrait</span>
                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#phone_portrait"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
              </div>
          </div>
      </li>
    </ul>
  </nav>
     <div class="2slds-context-bar__item slds-grid slds-grid_vertical-align-center slds-p-right--small" style="margin-top:-5px" id="badge-offline">
         <div class="slds-col">
             <span class="slds-badge slds-badge_inverse slds-m-top--small">Page is offline</span>
         </div>
     </div>
     <div class="slds-grid slds-grid_vertical-align-center slds-p-right--small slds-hide" style="margin-top:-5px" id="badge-online">
         <div class="slds-col">
             <span class="slds-badge slds-badge_inverse slds-m-top--small" style="background:#a61a14">Page is online</span>
         </div>
     </div>

     {#
     slds-context-bar__object-switcher slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger--click
     #}
<div class="slds-context-bar__item">
    <ul class="slds-grid">
        <li class="slds-context-bar__item slds-context-bar__item_divider-right slds-hide" id="trigger-back-to-edit">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Back to Edit">
          <span class="slds-truncate" title="Tools">Back to Edit</span>
        </a>
        </li>
        {#
        <li class="slds-context-bar__item slds-context-bar__item_divider-right slds-context-bar__item_divider-left" id="trigger-preview">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Preview">
          <span class="slds-truncate" title="Tools">Preview</span>
        </a>
        </li>
        #}
        <li class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_hover">
            <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Menu Item"  id="trigger-preview">
                <span class="slds-truncate" title="Menu Item">Preview</span>
            </a>
            <div class="slds-context-bar__icon-action slds-p-left_none">
                <button class="slds-button slds-button_icon slds-button_icon slds-context-bar__button" aria-haspopup="true" title="Open menu item submenu">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                    </svg>
                    <span class="slds-assistive-text">Open menu item submenu</span>
                </button>
            </div>
            <div class="slds-dropdown slds-dropdown_right">
                <ul class="slds-dropdown__list" role="menu">
                    <li class="slds-dropdown__item slds-border_bottom" role="presentation">
                        <div class="slds-p-around_small">
                            <p class="slds-p-bottom_small">Scan QR code to preview page</p>
                            <img src="assets/qr.png" border="0" />
                        </div>
                    </li>
                    <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                            <span class="slds-truncate" title="Menu Item One">Preview in Storefront</span>
                        </a>
                    </li>
                </ul>
            </div>
            </li>

        <li class="slds-context-bar__item" id="trigger-publish">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Set Online">
          <span class="slds-truncate" title="Tools">Set Online</span>
        </a>
        </li>
        <li class="slds-context-bar__item slds-hide  slds-context-bar__item_divider-left" id="trigger-published">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Set Offline">
          <span class="slds-truncate" title="Tools">Set Offline</span>
        </a>
        </li>
    </ul>

  </div>
</div>



  {% include "_inc_filter-page.html" %}











  <main class="app-wrapper" id="noglobalheader">
    {% block content %}
      <!-- Content from HTML files gets injected here -->
    {% endblock %}

        {% include "_inc_dropdowncomponents.html"    %}


  </main>





<script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>

    <!-- JAVASCRIPT -->
    <script src = '/scripts/jquery-3.2.1.min.js'></script>
    <script src = '/scripts/jquery-ui.min.js'> </script>
    <script>
        {% include '_inc_js.html'   %}
    </script>



    <!-- /JAVASCRIPT -->
    {% include "_inc_modal-delete-page.html"   %}
    {% include "_inc_toast-page-deleted.html"   %}
    {% include "_inc_notification-save.html"   %}


    <script src="//github.hubspot.com/tether/dist/js/tether.js"></script>




</body>
</html>
