<!DOCTYPE html>
<html lang="en" class="list-view">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>.: Page Designer :.</title>
    <meta name="robots" content="noindex, nofollow" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <!-- Prototype styles -->
    <link rel="stylesheet" href="/styles/index.css" />

    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="ug0ns8z2dvqvxvi"></script>

</head>

<body>
    {% include "_inc_builder-popovers-toolbar.html" %}
    <main class="app-wrapper">
        {% include "_inc_modal-delete-component-4.html" %}
        {% include "_inc_modal_media-picker.html" %}
        {% include "_inc_modal_category-picker.html" %}
        {% include "_inc_modal_page-settings.html" %}
        {% include "_inc_modal_page-publish.html" %}

        {% include "_inc_modal_code-view.html" %}
        {% include "_inc_locale-warning.html" %}

        <!-- BUILDER HEADER -->
        {% include "_inc_builder-header.html" %}
        <!-- /BUILDER HEADER -->

        <div id="builder" class="slds-grid slds-col">
            <div id="pd-menu">
              {% include "_inc_pd-menu.html" %}
            </div>
            <div id="panel_editor" class="slds-hide modal">
                <!-- PANEL EDITOR RIGHT -->
                {% include "_inc_builder-panel-editor.html" %}
                <!-- /PANEL EDITOR  RIGHT -->
            </div>
            {#
            <div id="panel_left" class="2slds-col slds-p-left_none left-expanded">
                <!-- PANEL LEFT -->
                {% include "_inc_builder-panel-left.html" %}
                <!-- /PANEL LEFT -->
            </div>
            #}

            <div id="canvas" class="slds-col slds-text-align_top slds-p-around_small slds-scrollable_y slds-grid_vertical-align-top">
                  <!--div class="slds-drop-zone_drag__slot"-->
                    {% include "_inc_header-editor.html" %}
                    <!--div 3class="slds-align_absolute-center slds-col slds-grid slds-grid_vertical-align-start" class="2slds-align_absolute-center slds-m-top_medium slds-m-left_none"-->
                    <div class="2slds-align_absolute-center slds-col slds-grid">
                        <!-- EDITOR REGION 1 -->
                        <div class="region" id="region1" style="width:100%">
                          <!-- CANVAS -->
                          <div class="demo-only" style="padding-top:2rem">
                            <div class="dropzone" id="dropzone1">
                              <div class="slds-drop-zone__label">
                                <div class="slds-media slds-media_center">
                                  <div class="slds-media__figure">
                                    <span class="slds-icon_container slds-icon-utility-builder slds-current-color">
                                      <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#builder"></use>
                                      </svg>
                                    </span>
                                  </div>
                                  <div class="slds-media__body">
                                    <h2>Region 1</h2>
                                  </div>
                                </div>
                              </div>

                              <div id="listEditor" class="list-group slds-col slds-align_absolute-center slds-grid_vertical edit-mode" style=""></div>

                            </div>
                          </div>
                          <!-- /CANVAS -->
                        </div>
                        <!-- /EDITOR REGION 1 -->
                        <!-- EDITOR REGION 2 -->
                        {#
                        <div class="region slds-hide" id="region2" style="width:100%">
                        <!-- CANVAS -->
                          <div class="demo-only" style="padding-top:2rem">
                            <div class="dropzone" id="dropzone2">
                              <div class="slds-drop-zone__label">
                                <div class="slds-media slds-media_center">
                                  <div class="slds-media__figure">
                                    <span class="slds-icon_container slds-icon-utility-builder slds-current-color">
                                      <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#builder"></use>
                                      </svg>
                                    </span>
                                  </div>
                                  <div class="slds-media__body">
                                    <h2>Region 1</h2>
                                  </div>
                                </div>
                              </div>

                              <div id="listEditorB" class="list-group slds-col slds-align_absolute-center slds-grid_vertical edit-mode" style=""></div>

                            </div>
                          </div>
                          <!-- /CANVAS -->
                        </div>
                        <!-- /EDITOR REGION 2 -->
                        #}
                      </div>
                    <!--/div-->
                    {% include "_inc_footer-editor.html" %}
                </div>
            </div>
            {#
            <div id="panel_right">
                <!-- PANEL RIGHT -->
                {% include "_inc_builder-panel-right.html" %}
                <!-- /PANEL RIGHT -->
            </div>
            #}
        </div>
    </main>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/vendor/svg4everybody.min.js"></script>
    <script>
        svg4everybody();
    </script>


    <!-- JAVASCRIPT -->
    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/jquery-ui.min.js'></script>
    <script src='/scripts/utils.js'></script>
    <script src='/scripts/tether.min.js'></script>
    <!--script src='/scripts/repos.js'></script-->
    {% include '_inc_js.html' %}
    <!-- /JAVASCRIPT -->

</body>

</html>
