<!DOCTYPE html>
<html lang="en" class="list-view">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>.: Page List :.</title>
        <meta name="robots" content="noindex, nofollow" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <!-- Prototype styles -->
        <link rel="stylesheet" href="/styles/index.css" />

        {% include "_inc_pendo.html" ignore missing %}
    </head>

    <body>
        {% include "_inc_global-header.html" ignore missing %}

        <main class="app-wrapper">
            <div class="slds-brand-band slds-brand-band_medium slds-template_default">
              {% include "_inc_cp-list-header.html" ignore missing %}
              {% include "_inc_cp-list-template.html" ignore missing %}
            </div>
        </main>
        {% include "_inc_modal-delete-page.html" ignore missing %}
        {% include "_inc_modal-newpage.html" ignore missing %}
        {% include "_inc_toast-page-deleted.html" ignore missing %}
        {% include "_inc_toast-page-created.html" ignore missing %}


        <script src="/scripts/app.js"></script>
        <script src="/scripts/vendor/svg4everybody.min.js"></script>
        <script>
            svg4everybody();
        </script>
        <!-- JAVASCRIPT -->
        <script src='/scripts/jquery-3.2.1.min.js'></script>
        <script src='/scripts/jquery-ui.min.js'></script>
        <script src='/scripts/stupidtable.min.js'></script>

        <script src='/scripts/mock.js'></script>

        <!-- /JAVASCRIPT -->



        <script>
            $(function(){
                $('#page_list').stupidtable();
            });
        </script>

    </body>

</html>
