<!DOCTYPE html>
<html lang="en" class="editor">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>.: Page Editor :.</title>
  <meta name="robots" content="noindex, nofollow" />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
    <script>
        (function(apiKey){
            (function(p,e,n,d,o){var v,w,x,y,z;o=p[d]=p[d]||{};o._q=[];
                                 v=['initialize','identify','updateOptions','pageLoad'];for(w=0,x=v.length;w<x;++w)(function(m){
                                     o[m]=o[m]||function(){o._q[m===v[0]?'unshift':'push']([m].concat([].slice.call(arguments,0)));};})(v[w]);
                                 y=e.createElement(n);y.async=!0;y.src='https://cdn.pendo.io/agent/static/'+apiKey+'/pendo.js';
                                 z=e.getElementsByTagName(n)[0];z.parentNode.insertBefore(y,z);})(window,document,'script','pendo');

            // Call this whenever information about your visitors becomes available
            // Please use Strings, Numbers, or Bools for value types.
            pendo.initialize({
                visitor: {
                    id:              'VISITOR-UNIQUE-ID'   // Required if user is logged in
                    // email:        // Optional
                    // role:         // Optional

                    // You can add any additional visitor level key-values here,
                    // as long as it's not one of the above reserved names.
                },

                account: {
                    // id:           'ACCOUNT-UNIQUE-ID' // Highly recommended
                    // name:         // Optional
                    // planLevel:    // Optional
                    // planPrice:    // Optional
                    // creationDate: // Optional

                    // You can add any additional account level key-values here,
                    // as long as it's not one of the above reserved names.
                }
            });
        })('a6211f58-beb4-47b8-6f9a-f2d2d9db186d');
    </script>

</head>
<body>
  <!--
    Navigation Bar component
    https://www.lightningdesignsystem.com/components/global-navigation/
  -->
 <div class="slds-context-bar slds-p-left_none  slds-m-left_none">
     <div class="slds-context-bar__primary slds-context-bar__item_divider-right" style="min-width:275px">
    <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover slds-context-bar__item_divider-right2">
      <div class="slds-context-bar__icon-action 2slds-context-bar__item_divider-right">
        <button class="slds-button slds-icon-waffle_container slds-context-bar__button   slds-p-left_small   slds-p-right_small" title="Description of the icon when needed" id="back-to-list">
          <span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
            <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronleft"></use>
            </svg>
            <span class="slds-assistive-text">Description of icon</span>
          </span>
        </button>
      </div>
      <span class="slds-context-bar__label-action slds-context-bar__app-name slds-p-left--small">
        <span class="slds-truncate" title="App Name">Page Name</span>
      </span>
    </div>
  </div>
  <nav class="slds-context-bar__secondary" role="navigation">
    <ul class="slds-grid">
      <li class="slds-context-bar__item slds-context-bar__item_divider-right">
          <span class="slds-truncate slds-context-bar__label-action slds-text-color_weak" title="Tools">SiteGenesis</span>
      </li>
      <li class="slds-context-bar__item slds-context-bar__item_divider-right">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Locale">
          <span class="slds-truncate" title="Tools">(en-US)</span>
        </a>
          <div class="slds-context-bar__icon-action slds-dropdown-trigger slds-dropdown-trigger--click" aria-expanded="true" id="language-selecta">

              <button class="slds-button slds-button--icon-container slds-button--icon-x-small" aria-haspopup="true" title="settings">
                  <svg class="slds-button__icon" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                  </svg>
                  <span class="slds-assistive-text">Open object switcher menu</span>
              </button>
              <div class="slds-dropdown slds-dropdown--right">
                  <ul class="dropdown__list" role="menu">
                      <li class="slds-dropdown__item slds-is-selected" role="presentation">
                          <a href="javascript:void(0);" role="menuitemcheckbox" aria-checked="true" tabindex="0">
                              <span class="slds-truncate">
                                  <svg class="slds-icon slds-icon--selected slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                  </svg>en-US</span>
                          </a>
                      </li>
                      <li class="slds-dropdown__item slds-has-divider--top-space" role="presentation">
                          <a href="javascript:void(0);" role="menuitemcheckbox" aria-checked="true" tabindex="0">
                              <span class="slds-truncate">
                                  <svg class="slds-icon slds-icon--selected slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                  </svg>fr-FRA</span>
                          </a>
                      </li>
                      <li class="slds-dropdown__item  slds-has-divider--top-space" role="presentation">
                          <a href="javascript:void(0);" role="menuitemcheckbox" tabindex="-1">
                              <span class="slds-truncate">
                                  <svg class="slds-icon slds-icon--selected slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                  </svg>de-DE</span>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </li>
        <li class="slds-context-bar__item slds-context-bar__item_divider-right">
            <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Locale" id="trigger_preview">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
                </svg>
            </a>
            <div class="slds-hide slds-context-bar__icon-action slds-dropdown-trigger slds-dropdown-trigger--click" aria-expanded="true">

                <button class="slds-button slds-button--icon-container slds-button--icon-x-small" aria-haspopup="true" title="settings">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                    </svg>
                    <span class="slds-assistive-text">Open object switcher menu</span>
                </button>
                <div class="slds-dropdown slds-dropdown--right">
                    <ul class="dropdown__list" role="menu">
                        <li class="slds-dropdown__item slds-is-selected" role="presentation">
                            <a href="javascript:void(0);" role="menuitemcheckbox" aria-checked="true" tabindex="0">
                                <span class="slds-truncate">
                                    <svg class="slds-icon slds-icon--selected slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>en-US</span>
                            </a>
                        </li>
                        <li class="slds-dropdown__item slds-has-divider--top-space" role="presentation">
                            <a href="javascript:void(0);" role="menuitemcheckbox" aria-checked="true" tabindex="0">
                                <span class="slds-truncate">
                                    <svg class="slds-icon slds-icon--selected slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>fr-FRA</span>
                            </a>
                        </li>
                        <li class="slds-dropdown__item  slds-has-divider--top-space" role="presentation">
                            <a href="javascript:void(0);" role="menuitemcheckbox" tabindex="-1">
                                <span class="slds-truncate">
                                    <svg class="slds-icon slds-icon--selected slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>de-DE</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
      </ul>
  </nav>
  <div class="slds-context-bar__item slds-context-bar__object-switcher slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger--click">
    <ul class="slds-grid">
      <li class="slds-context-bar__item slds-context-bar__item_divider-right slds-hide" id="trigger-back-to-edit">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Back to Edit">
          <span class="slds-truncate" title="Tools">Back to Edit</span>
        </a>
      </li>
      <li class="slds-context-bar__item slds-context-bar__item_divider-right" id="trigger-preview">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Preview">
          <span class="slds-truncate" title="Tools">Preview</span>
        </a>
      </li>
      <li class="slds-context-bar__item" id="trigger-publish">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Set Online">
          <span class="slds-truncate" title="Tools">Set Online</span>
        </a>
      </li>
      <li class="slds-hide slds-context-bar__item" id="trigger-update">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Update">
          <span class="slds-truncate" title="Tools">Update</span>
        </a>
      </li>
      <li class="slds-context-bar__item slds-button_destructive slds-hide" id="trigger-published">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Set Offline">
          <span class="slds-truncate" title="Tools">Set Offline</span>
        </a>
      </li>
    </ul>

  </div>
</div>



    <section class="slds-hide slds-popover slds-nubbin_top list-element-popover" role="dialog"
             aria-describedby="dialog-body-id-6" aria-labelledby="dialog-heading-id-6" id="poppinD"
             style="min-width:680px; left: 153px; top: 5px;">
        <div class="2slds-hide slds-p-around_small slds-grid modal" style="min-height:90px;" id="">
            <div class="slds-p-left_small slds-p-right_small slds-p-bottom_small">
                <div class="slds-form slds-form_compound">
                    <div class="slds-form-element__row slds-grid">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="select-01">
                                <!--abbr class="slds-required" title="required">*</abbr-->Customer Groups:</label>
                            <div class="slds-form-element__control">
                                <div class="slds-select_container">
                                    <select class="slds-select" id="select-01">
                                        <option selected="selected">Everyone</option>
                                        <option>Customer Group A</option>
                                        <option>Customer Group B</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="select-01">
                                Display from:</label>
                            <div class="slds-form-element__control">
                                <input type="text" id="input-unique-id" class="slds-input" placeholder="--/--/----">
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="select-01">
                                Display to:</label>
                            <div class="slds-form-element__control">
                                <input type="text" id="input-unique-id" class="slds-input" placeholder="--/--/----">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="slds-p-left_small slds-p-right_small slds-p-bottom_small">
                <button class="slds-button slds-button_neutral slds-m-top_large">Apply</button>
            </div>
            <div class="2slds-col">
                <div class="">
                    <button class="slds-button slds-button_icon slds-col_bump-left slds-button_icon slds-button_icon-small js-close-modal-id-102 js-close-filter-view" title="Close Filter Panel">
                        <svg class="slds-button__icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                        </svg>
                        <span class="slds-assistive-text">Close Filter Panel</span>
                    </button>
                </div>
            </div>
        </div>
    </section>











  <main class="app-wrapper" id="noglobalheader">
    {% block content %}
      <!-- Content from HTML files gets injected here -->
    {% endblock %}
  </main>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>

    <!-- JAVASCRIPT -->
    <script src = '/scripts/jquery-3.2.1.min.js'></script>
    <script src = '/scripts/jquery-ui.min.js'> </script>
    <script>
        {% include '_inc_js.html' ignore missing %}
    </script>



    <!-- /JAVASCRIPT -->
    {% include "_inc_modal-delete-page.html" ignore missing %}
    {% include "_inc_toast-page-deleted.html" ignore missing %}

</body>
</html>
