<!DOCTYPE html>
<html lang="en" class="list-view">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>.: OCAPI Browser :.</title>
        <meta name="robots" content="noindex, nofollow" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <!-- Prototype styles -->
        <link rel="stylesheet" href="/styles/index.css" />

    </head>

    <body>
      {% include "_inc_global-header.html" ignore missing%}

        <main class="app-wrapper">

            <div class="slds-brand-band slds-brand-band_medium slds-template_default">
                <div class="slds-card slds-has-bottom-magnet">
                  {% include "_inc_page-header.html" ignore missing%}
                </div>
                <div class="slds-has-top-magnet slds-grid slds-grow">
                    <div class="slds-grow slds-grid layout-table-fix">
                        <div class="slds-scrollable_y slds-col">
                            <div class="slds-text-align_center">
                                <!-- CONTENT -->
                                  <div class="slds-grid" style="height:800px">
                                    <div class="slds-border--right" id="left-panel">
                                      <div class="" style="width: 320px; background-color: rgb(250, 250, 251);">
                                        <nav class="slds-nav-vertical slds-nav-vertical_shade" aria-label="Sub page">
                                          <div class="slds-nav-vertical__section">
                                            <ul>
                                              <li class="slds-nav-vertical__item slds-is-active">
                                                  <a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="folder-header">
                                                      <span class="slds-icon_container slds-icon-utility-open_folder slds-line-height_reset" title="Description of icon when needed">
                                                          <svg class="slds-icon slds-icon-text-default slds-icon_x-small slds-m-right_x-small orange" aria-hidden="true">
                                                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#record" />
                                                          </svg>
                                                          <span class="slds-assistive-text">GET</span>
                                                      </span>GET</a>
                                                </li>


                                                <li class="slds-nav-vertical__item">
                                                    <a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="folder-header">
                                                        <span class="slds-icon_container slds-icon-utility-open_folder slds-line-height_reset" title="Description of icon when needed">
                                                            <svg class="slds-icon slds-icon-text-default slds-icon_x-small slds-m-right_x-small blue" aria-hidden="true">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#record" />
                                                            </svg>
                                                            <span class="slds-assistive-text">PUSH</span>
                                                        </span>PUSH</a>
                                                </li>


                                                <li class="slds-nav-vertical__item">
                                                    <a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="folder-header">
                                                        <span class="slds-icon_container slds-icon-utility-open_folder slds-line-height_reset" title="Description of icon when needed">
                                                            <svg class="slds-icon slds-icon-text-default slds-icon_x-small slds-m-right_x-small red" aria-hidden="true">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#record" />
                                                            </svg>
                                                            <span class="slds-assistive-text">DELETE</span>
                                                        </span>DELETE</a>
                                                </li>

                                            </ul>
                                          </div>
                                        </nav>
                                      </div>
                                    </div>

                                    <div class="2slds-p-around--small slds-col slds-text-align--left" id="right-panel" style="height:800px">

                                        <div class="slds-tabs_default" style="height:800px">
                                            <ul class="slds-tabs_default__nav" role="tablist">
                                                <li class="slds-tabs_default__item 2slds-is-active" title="Item One" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="false" aria-controls="tab-default-1" id="tab-default-1__item">Documentation</a></li>
                                                <li class="slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Test Run</a></li>
                                            </ul>
                                            <div id="tab-default-1" class="slds-tabs_default__content slds-show slds-p-around--small" role="tabpanel" aria-labelledby="tab-default-1__item"><!-- Documentation -->
                                                {% include "_inc_documentation.html" ignore missing %}
                                            </div>
                                            <div id="tab-default-2" class="slds-tabs_default__content slds-hide slds-p-around--small" role="tabpanel" aria-labelledby="tab-default-2__item"><!-- Test Run -->
                                                {% include "_inc_testrun.html" ignore missing %}
                                            </div>
                                        </div>

                                    </div>


                                  </div>
                                <!-- /CONTENT -->
                            </div>
                        </div>
                    </div>
                </div>


                {#
                <div class="slds-has-top-magnet slds-grid slds-grow">
                    <div class="slds-grow slds-grid layout-table-fix">
                        <div class="slds-scrollable_y slds-col">
                            <div class="slds-text-align_center">
                                <!-- CONTENT -->
                                  <div class="slds-grid">
                                    <div class="slds-border--right 2slds-p-around--small" id="row-1" style="min-height: v">
                                        <!-- first level -->
                                      {% include "_inc_ocapi_level1.html" ignore missing %}
                                    </div>
                                    <div class="slds-border--right 2slds-p-around--small slds-hide" id="row-2">
                                      <!-- second level -->
                                    {% include "_inc_ocapi_level2.html" ignore missing %}
                                    </div>
                                    <div class="slds-border--right  slds-col slds-text-align_left slds-hide" id="row-3" style="background:#fff;">
                                      <!-- third level -->
                                    {% include "_inc_ocapi_level3.html" ignore missing %}
                                    </div>

                                    <div class="slds-col slds-text-align_center2 slds-align_absolute-center" id="row-loader">
                                    {% include "_inc_ocapi_loader.html" ignore missing%}
                                    </div>

                                  </div>

                                <!-- /CONTENT -->
                            </div>
                        </div>
                    </div>
                </div>
                #}
            </div>
        </main>





        <script src="/scripts/app.js"></script>
        <script src="/scripts/vendor/svg4everybody.min.js"></script>
        <script>
            svg4everybody();
        </script>
        <!-- JAVASCRIPT -->
        <script src='/scripts/jquery-3.2.1.min.js'></script>
        <script src='/scripts/jquery-ui.min.js'></script>
        <script src='/scripts/stupidtable.min.js'></script>

        <script>
            <!-- START SCRIPT -->
            {% include '_inc_js.html' ignore missing %}
                <!-- END SCRIPT -->
        </script>
        <!-- /JAVASCRIPT -->





    </body>

</html>
