<!DOCTYPE html>
<html lang="en" class="list-view">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>.: OCAPI Browser :.</title>
        <meta name="robots" content="noindex, nofollow" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <!-- Prototype styles -->
        <link rel="stylesheet" href="/styles/index.css" />

    </head>

    <body>
      {% include "_inc_global-header.html" ignore missing%}


        <main class="app-wrapper">

            <div class="slds-brand-band slds-brand-band_medium slds-template_default">
                <div class="slds-card slds-has-bottom-magnet">
                  {% include "_inc_page-header.html" ignore missing%}
                </div>
                <div class="slds-has-top-magnet slds-grid slds-grow">
                    <div class="slds-grow slds-grid layout-table-fix">
                        <div class="slds-scrollable_y slds-col">
                            <div class="slds-text-align_center">
                                <!-- CONTENT -->
                                  <div class="slds-grid">
                                    <div class="slds-border--right" id="left-panel">
                                      <div class="" style="width: 320px; background-color: rgb(250, 250, 251);">
                                        <nav class="slds-nav-vertical slds-nav-vertical_shade" aria-label="Sub page">
                                          <div class="slds-nav-vertical__section">
                                            <ul>
                                              <li class="slds-nav-vertical__item slds-is-active"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header" aria-current="page">GET</a></li>
                                              <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">PUSH</a></li>
                                              <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">PUT</a></li>
                                              <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">DELETE</a></li>
                                            </ul>
                                          </div>
                                        </nav>
                                      </div>
                                    </div>

                                    <div class="slds-p-around--small slds-col slds-text-align--left" id="right-panel">
                                      <div class="slds-grid">
                                        <div class="slds-col">
                                          <h2 class="slds-text-heading--medium slds-m-bottom--x-small">Table of contents</h2>
                                          <ul>
                                            <li><a href="#implementation">Implementation Notes</a></li>
                                            <li><a href="#request">Request</a></li>
                                            <li>
                                              <ul class="slds-is-nested">
                                                <li><a href="#path">Path Parameters</a></li>
                                                <li><a href="#body">Body Parameter</a></li>
                                              </ul>
                                            </li>
                                            <li><a href="#response">Response</a></li>
                                            <li>
                                              <ul class="slds-is-nested">
                                                <li><a href="#model">Model</a></li>
                                                <li><a href="#messages">Messages</a></li>
                                              </ul>
                                            </li>
                                          </ul>
                                        </div>
                                        <div>
                                          <button class="slds-button slds-button--brand">Try it now!</button>
                                        </div>
                                      </div>

                                      <div class="slds-grid slds-p-top--medium">
                                          <div>
                                            <h2 class="slds-text-heading--medium slds-m-bottom--x-small" id="implementation">Implementation Notes</h2>
                                            <p>
                                              Searches for catalogs.

                                              The query attribute specifies a complex query that can be used to narrow down the search. These are the list of searchable attributes:

                                              id - String name - String description - String creation_date - DateTime

                                              There are two additional fields that can be used as search filters. They are not attributes in CatalogWO object, but can be used as filters to query catalogs based on site assignments.

                                              is_master_catalog - Boolean is_storefront_catalog - Boolean

                                              On using is_master_catalog in the search query, catalogs without any site assignments are returned. On using is_storefront_catalog in the search query, catalogs with one or more site assignments are returned.

                                              The output of the query can also be sorted. These are the list of sortable attributes:

                                              id - String name - String description - String creation_date - DateTime
                                            </p>
                                          </div>
                                      </div>

                                      <div class="slds-grid slds-p-top--medium">
                                          <div class="slds-col">
                                            <h2 class="slds-text-heading--medium slds-m-bottom--x-small" id="request">Request</h2>
                                            <h3 class="slds-text-heading--small slds-m-bottom--x-small" id="path">Path Parameters</h3>
                                            <p>
                                              <table class="slds-table slds-table_bordered slds-table_cell-buffer" style="width: 100%">
                                                <thead>
                                                  <tr class="slds-text-title_caps">
                                                    <th scope="col">
                                                      <div class="slds-truncate" title="Opportunity Name">Parameter</div>
                                                    </th>
                                                    <th scope="col">
                                                      <div class="slds-truncate" title="Account Name">Description</div>
                                                    </th>
                                                    <th scope="col">
                                                      <div class="slds-truncate" title="Close Date">Data Type</div>
                                                    </th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <th scope="row" data-label="Opportunity Name">
                                                      <div class="slds-truncate" title="Cloudhub">catalog_id</div>
                                                    </th>
                                                    <td data-label="Account Name">
                                                      <div class="slds-truncate" title="Cloudhub">The id of the source catalog</div>
                                                    </td>
                                                    <td data-label="Close Date">
                                                      <div class="slds-truncate" title="4/14/2015">string</div>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <th scope="row" data-label="Opportunity Name">
                                                      <div class="slds-truncate" title="Cloudhub">category_id</div>
                                                    </th>
                                                    <td data-label="Account Name">
                                                      <div class="slds-truncate" title="Cloudhub">The id of the source category</div>
                                                    </td>
                                                    <td data-label="Close Date">
                                                      <div class="slds-truncate" title="4/14/2015">string</div>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <th scope="row" data-label="Opportunity Name">
                                                      <div class="slds-truncate" title="Cloudhub">target_catalog_id</div>
                                                    </th>
                                                    <td data-label="Account Name">
                                                      <div class="slds-truncate" title="Cloudhub">The id of the target catalog</div>
                                                    </td>
                                                    <td data-label="Close Date">
                                                      <div class="slds-truncate" title="4/14/2015">string</div>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <th scope="row" data-label="Opportunity Name">
                                                      <div class="slds-truncate" title="Cloudhub">target_category_id</div>
                                                    </th>
                                                    <td data-label="Account Name">
                                                      <div class="slds-truncate" title="Cloudhub">The id of the source catalog</div>
                                                    </td>
                                                    <td data-label="Close Date">
                                                      <div class="slds-truncate" title="4/14/2015">string</div>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <th scope="row" data-label="Opportunity Name">
                                                      <div class="slds-truncate" title="Cloudhub">type</div>
                                                    </th>
                                                    <td data-label="Account Name">
                                                      <div class="slds-truncate" title="Cloudhub">The type of ...</div>
                                                    </td>
                                                    <td data-label="Close Date">
                                                      <div class="slds-truncate" title="4/14/2015">string</div>
                                                    </td>
                                                  </tr>

                                                </tbody>
                                              </table>
                                            </p>
                                          </div>
                                      </div>


                                      <div>
                                        <div class="slds-p-top--medium">
                                          <h3 class="slds-text-heading--small slds-m-bottom--x-small" id="body">Body Parameter</h3>
                                          <div class="slds-box">
                                            <code><pre>{
  "count": 0,
  "data": [
    {}
  ],
  "expand": [
    "string"
  ],
  "hits": [
    {
      "assigned_product_count": 0,
      "assigned_sites": [
        {
          "customer_list_link": {
            "customer_list_id": "string",
            "link": "string",
            "title": {}
          },
          "description": {},
          "display_name": {},
          "id": "string",
          "in_deletion": true,
          "link": "string",
          "storefront_status": "online"
        }
      ],
      "category_count": 0,
      "creation_date": "2017-11-20T10:34:40.343Z",
      "description": {},
      "id": "string",
      "last_modified": "2017-11-20T10:34:40.343Z",
      "link": "string",
      "name": {},
      "online": true,
      "owned_product_count": 0,
      "recommendation_count": 0,
      "root_category": "string"
    }
  ],
  "next": {
    "count": 0,
    "start": 0
  },
  "previous": {
    "count": 0,
    "start": 0
  },
  "query": {},
  "select": "string",
  "sorts": [
    {
      "field": "string",
      "sort_order": "asc"
    }
  ],
  "start": 0,
  "total": 0
}
</pre>
</code>
                                          </div>

                                        </div>
                                      </div>



                                      <div class="slds-grid slds-p-top--medium">
                                          <div class="slds-col">
                                            <h2 class="slds-text-heading--medium slds-m-bottom--x-small" id="response">Response</h2>

                                            <h3 class="slds-text-heading--small slds-m-bottom--x-small" id="model">Model</h3>
                                            <div class="slds-box">
                                              <pre><code>{
                                                "count": 0,
                                                "expand": [
                                                  "string"
                                                ],
                                                "query": {},
                                                "select": "string",
                                                "sorts": [
                                                  {
                                                    "field": "string",
                                                    "sort_order": "asc"
                                                  }
                                                ],
                                                "start": 0
                                              }</code></pre>
                                            </div>



                                            <h3 class="slds-text-heading--small slds-p-top--medium slds-m-bottom--x-small" id="messages">Messages</h3>
                                            <p>
                                              <table class="slds-table slds-table_bordered slds-table_cell-buffer" style="width: 100%">
                                                <thead>
                                                  <tr class="slds-text-title_caps">
                                                    <th scope="col">
                                                      <div class="slds-truncate" title="Opportunity Name">HTTP Status Code</div>
                                                    </th>
                                                    <th scope="col">
                                                      <div class="slds-truncate" title="Account Name">Reason</div>
                                                    </th>
                                                    <th scope="col">
                                                      <div class="slds-truncate" title="Close Date">Response Model</div>
                                                    </th>
                                                    <th scope="col">
                                                      <div class="slds-truncate" title="Close Date">Headers</div>
                                                    </th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <th scope="row" data-label="Opportunity Name">
                                                      <div class="slds-truncate" title="Cloudhub">404</div>
                                                    </th>
                                                    <td>
                                                      &nbsp;
                                                    </td>
                                                    <td data-label="Account Name">
                                                      <div class="slds-truncate" title="Cloudhub">Thrown in case the source catalog or the target catalog do not exist</div>
                                                    </td>
                                                    <td data-label="Close Date">
                                                      <div class="slds-truncate" title="4/14/2015"></div>
                                                    </td>
                                                  </tr>

                                                </tbody>
                                              </table>
                                            </p>
                                          </div>
                                      </div>




                                    </div>


                                  </div>
                                <!-- /CONTENT -->
                            </div>
                        </div>
                    </div>
                </div>


                {#
                <div class="slds-has-top-magnet slds-grid slds-grow">
                    <div class="slds-grow slds-grid layout-table-fix">
                        <div class="slds-scrollable_y slds-col">
                            <div class="slds-text-align_center">
                                <!-- CONTENT -->
                                  <div class="slds-grid">
                                    <div class="slds-border--right 2slds-p-around--small" id="row-1" style="min-height: v">
                                        <!-- first level -->
                                      {% include "_inc_ocapi_level1.html" ignore missing %}
                                    </div>
                                    <div class="slds-border--right 2slds-p-around--small slds-hide" id="row-2">
                                      <!-- second level -->
                                    {% include "_inc_ocapi_level2.html" ignore missing %}
                                    </div>
                                    <div class="slds-border--right  slds-col slds-text-align_left slds-hide" id="row-3" style="background:#fff;">
                                      <!-- third level -->
                                    {% include "_inc_ocapi_level3.html" ignore missing %}
                                    </div>

                                    <div class="slds-col slds-text-align_center2 slds-align_absolute-center" id="row-loader">
                                    {% include "_inc_ocapi_loader.html" ignore missing%}
                                    </div>

                                  </div>

                                <!-- /CONTENT -->
                            </div>
                        </div>
                    </div>
                </div>
                #}
            </div>
        </main>





        <script src="/scripts/app.js"></script>
        <script src="/scripts/vendor/svg4everybody.min.js"></script>
        <script>
            svg4everybody();
        </script>
        <!-- JAVASCRIPT -->
        <script src='/scripts/jquery-3.2.1.min.js'></script>
        <script src='/scripts/jquery-ui.min.js'></script>
        <script src='/scripts/stupidtable.min.js'></script>

        <script>
            <!-- START SCRIPT -->
            {% include '_inc_js.html' ignore missing %}
                <!-- END SCRIPT -->
        </script>
        <!-- /JAVASCRIPT -->





    </body>

</html>
