<div class="slds-notify_container slds-hide" id="success-toast">
    <div class="slds-notify slds-notify_toast slds-theme_success" role="alert">
        <span class="slds-assistive-text">success</span>
        <span class="slds-icon_container slds-icon-utility-success slds-m-right_small slds-no-flex slds-align-top" title="Description of icon when needed">
        <svg class="slds-icon slds-icon_small" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#success"></use>
        </svg>
      </span>
        <div class="slds-notify__content">
            <h2 class="slds-text-heading_small ">Einstein dictionary recommendation was accepted.</h2>
        </div>
        <button class="slds-button slds-button_icon slds-notify__close slds-button_icon-inverse close-toast" title="Close">
            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg>
            <span class="slds-assistive-text">Close</span>
        </button>
    </div>
</div>
