<!DOCTYPE html>
<html lang="en">

<head>
    <title>.:index:.</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="/styles/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <script src="/scripts/rellax.min.js"></script>

</head>

<body id="body">

    {% include "_header.html" %}
    {% include "_script.html" %}
    {% include "_modal-address.html" %}




    <!-- MAIN PAGE -->
    <main class="app-wrapper">

        <!-- PROFILE -->
        <div class="slds-grid slds-m-top_large slds-m-bottom_large slds-align_absolute-center">
            <div class="slds-align-">
                <div class="section-divider">
                    <div class="title">
                        <h2 class="slds-text-heading--large"><strong>My Profile</strong></h2>
                        <h5 class="slds-text-heading--small">Carl the Shopper</h5>
                    </div>
                </div>
            </div>
        </div>


        <div class="slds-grid slds-wrap">

            <div class="slds-col slds-p-around_small slds-size_1-of-1 slds-large-size_3-of-12">
                <article class="slds-card">
                    <div class="slds-card__header slds-grid">
                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                            <div class="slds-media__body">
                                <h2 class="slds-card__header-title">
                                    <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="Accounts">
                                        <span>Profile</span>
                                    </a>
                                </h2>
                            </div>
                            <div class="slds-no-flex">
                                <button class="slds-button slds-button_neutral">Edit</button>
                            </div>
                        </header>
                    </div>
                    <div class="slds-card__body slds-card__body_inner">

                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="text-input-id-1">First Name</label>
                            <div class="slds-form-element__control">
                                <input type="text" id="text-input-id-1" readonly="" placeholder="" class="slds-input" value="Carl" />
                            </div>
                        </div>

                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="text-input-id-2">Last Name</label>
                            <div class="slds-form-element__control">
                                <input type="text" id="text-input-id-2" readonly="" placeholder="" class="slds-input" value="Shopper" />
                            </div>
                        </div>

                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="text-input-id-3">Phone Number</label>
                            <div class="slds-form-element__control">
                                <input type="text" id="text-input-id-3" readonly="" placeholder="" class="slds-input" value="+49-152-5801000000" />
                            </div>
                        </div>

                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="text-input-id-4">Email</label>
                            <div class="slds-form-element__control">
                                <input type="text" id="text-input-id-4" readonly="" placeholder="" class="slds-input" value="carl.shopper@shopping.com" />
                            </div>
                        </div>


                    </div>
                    <footer class="slds-card__footer">
                        <a class="slds-card__footer-action" href="javascript:void(0);">Logout
                            <span class="slds-assistive-text">Logout</span>
                        </a>
                    </footer>
                </article>
            </div>

            <div class="slds-col slds-p-around_small slds-size_1-of-1 slds-large-size_9-of-12">


                <article class="slds-card">
                    <div class="slds-card__header slds-grid">
                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                            <div class="slds-media__body">
                                <h2 class="slds-card__header-title">
                                    <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="Addresses (3)">
                                        <span>Addresses (3)</span>
                                    </a>
                                </h2>
                            </div>
                            <div class="slds-no-flex">
                                <button class="slds-button slds-button_neutral" onclick="openNewAddress()">New</button>
                            </div>
                        </header>
                    </div>
                    <div class="slds-card__body slds-card__body_inner">
                        <ul class="slds-grid slds-wrap slds-grid_pull-padded">
                            <li class="slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-4">
                                <article class="slds-tile slds-media slds-card__tile slds-hint-parent">
                                    <div class="slds-media__body">
                                        <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                                            <h3 class="slds-tile__title slds-truncate slds-text-heading--medium slds-m-bottom_small" title="Related Record Title 1">
                                                <a href="javascript:void(0);">Home</a>

                                                <span class="slds-badge">Default</span>


                                            </h3>
                                            <div class="slds-shrink-none">
                                                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small" aria-haspopup="true" title="More options">
                                                    <svg class="slds-button__icon slds-button__icon_hint" aria-hidden="true">
                                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                                    </svg>
                                                    <span class="slds-assistive-text">More options</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="slds-tile__detail">

                                            Carl Shopper<br>
                                            Preussenstr. 52<br>
                                            Berlin, 12524<br>
                                            +49-152-5801000000<br>

                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li class="slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-4">
                                <article class="slds-tile slds-media slds-card__tile slds-hint-parent">
                                    <div class="slds-media__body">
                                        <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                                            <h3 class="slds-tile__title slds-truncate slds-text-heading--medium slds-m-bottom_small" title="Related Record Title 1">
                                                <a href="javascript:void(0);">Office</a>
                                            </h3>
                                            <div class="slds-shrink-none slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
                                                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small" aria-haspopup="true" title="More options">
                                                    <svg class="slds-button__icon slds-button__icon_hint" aria-hidden="true">
                                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                                    </svg>
                                                    <span class="slds-assistive-text">Show More</span>
                                                </button>
                                                <div class="slds-dropdown slds-dropdown_right">
                                                    <ul class="slds-dropdown__list" role="menu" aria-label="Show More">
                                                        <li class="slds-dropdown__item" role="presentation">
                                                            <a href="javascript:void(0);" role="menuitem" tabindex="0">
                                                                <span class="slds-truncate" title="Menu Item One">Edit</span>
                                                            </a>
                                                        </li>
                                                        <li class="slds-dropdown__item" role="presentation">
                                                            <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                                                <span class="slds-truncate" title="Menu Item Three">Set as default address</span>
                                                            </a>
                                                        </li>
                                                        <li class="slds-has-divider_top-space" role="separator"></li>
                                                        <li class="slds-dropdown__item" role="presentation">
                                                            <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                                                <span class="slds-truncate" title="Menu Item Four">Delete Address</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>



                                        </div>
                                        <div class="slds-tile__detail">

                                            Carl Shopper<br>
                                            Leutraggraben 2-4<br>
                                            Jena, 07743<br>
                                            +49-152-5801000000<br>
                                            <!--dl class="slds-list_horizontal slds-wrap">
                                                <dt class="slds-item_label slds-text-color_weak slds-truncate" title="First Label">First Label:</dt>
                                                <dd class="slds-item_detail slds-truncate" title="Description for first label">Description for first label</dd>
                                                <dt class="slds-item_label slds-text-color_weak slds-truncate" title="Second Label">Second Label:</dt>
                                                <dd class="slds-item_detail slds-truncate" title="Description for second label">Description for second label</dd>
                                            </dl-->
                                        </div>
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </div>
                    {#
                    <footer class="slds-card__footer">
                        <a class="slds-card__footer-action" href="javascript:void(0);">View All
                            <span class="slds-assistive-text">Contacts</span>
                        </a>
                    </footer>
                    #}
                </article>



                <!--article class="slds-card slds-col">
                    <div class="slds-card__header slds-grid">
                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                            <div class="slds-media__body">
                                <h2 class="slds-card__header-title">
                                    <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="Accounts">
                                        <span>Addresses (3)</span>
                                    </a>
                                </h2>
                            </div>
                            <div class="slds-no-flex">
                                <button class="slds-button slds-button_neutral">New</button>
                            </div>
                        </header>
                    </div>
                    <div class="slds-card__body slds-card__body_inner">
                        <div class="slds-grid slds-col">
                            <div>
                                <strong>Home</strong><br>
                                Thomas Bartsch<br>
                                Preussenstr. 52<br>
                                Berlin, 12524<br>
                                +49-152-500049000<br>
                            </div>
                        </div>
                    </div>
                    <footer class="slds-card__footer slds-hide">
                        <a class="slds-card__footer-action" href="javascript:void(0);">View All Addresses
                            <span class="slds-assistive-text">Addresses</span>
                        </a>
                    </footer>
                </article-->
            </div>



            <div class="slds-col slds-p-around_small slds-size_1-of-1 slds-large-size_9-of-12 slds-grid slds-wrap">

                <div class="slds-col slds-has-dividers_around-space">
                    <div class="slds-item">
                        <h3 class="slds-tile__title slds-truncate" title="Anypoint Connectors">
                            Home
                        </h3>
                        Thomas Bartsch<br>
                        Preussenstr. 52<br>
                        Berlin, 12524<br>
                        +49-152-500049000<br>
                        
                    </div>
                </div>


                {#
                <div class="demo-only">
                    <ul class="slds-has-dividers_around-space">
                        <li class="slds-item">
                            <article class="slds-tile slds-tile_board">
                                <h3 class="slds-tile__title slds-truncate" title="Anypoint Connectors">
                                    <a href="javascript:void(0);">Anypoint Connectors</a>
                                </h3>
                                <div class="slds-tile__detail">
                                    <p class="slds-text-heading_medium">$500,000</p>
                                    <p class="slds-truncate" title="Company One">
                                        <a href="javascript:void(0);">Company One</a>
                                    </p>
                                    <p class="slds-truncate" title="Closing 9/30/2015">Closing 9/30/2015</p>
                                </div>
                            </article>
                        </li>
                        <li class="slds-item">
                            <article class="slds-tile slds-tile_board">
                                <h3 class="slds-tile__title slds-truncate" title="Cloudhub">
                                    <a href="javascript:void(0);">Cloudhub</a>
                                </h3>
                                <div class="slds-tile__detail">
                                    <p class="slds-text-heading_medium">$185,000</p>
                                    <p class="slds-truncate" title="Company Two">
                                        <a href="javascript:void(0);">Company Two</a>
                                    </p>
                                    <p class="slds-truncate slds-has-alert" title="Closing 12/15/2015">Closing 12/15/2015</p>
                                    <span class="slds-icon_container slds-tile_board__icon" title="description of icon when needed">
                                        <svg class="slds-icon slds-icon-text-warning slds-icon_x-small" aria-hidden="true">
                                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#warning"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Warning Icon</span>
                                    </span>
                                </div>
                            </article>
                        </li>
                        <li class="slds-item">
                            <article class="slds-tile slds-tile_board">
                                <h3 class="slds-tile__title slds-truncate" title="600 Widgets">
                                    <a href="javascript:void(0);">600 Widgets</a>
                                </h3>
                                <div class="slds-tile__detail">
                                    <p class="slds-text-heading_medium">$35,000</p>
                                    <p class="slds-truncate" title="Company Three">
                                        <a href="javascript:void(0);">Company Three</a>
                                    </p>
                                    <p class="slds-truncate" title="Closing 10/12/2015">Closing 10/12/2015</p>
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
                #}



            </div>


        </div>

        <!-- //PROFILE -->




        {% include "_footer.html" %}





    </main>
    <!-- //MAIN PAGE -->










</body>


</html>