<!DOCTYPE html>
<html lang="en" class="list-view">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>.: Campaign: Name :.</title>
        <meta name="robots" content="noindex, nofollow" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <!-- Prototype styles -->
        <link rel="stylesheet" href="/styles/index.css" />


    </head>

    <body><script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.18.13'><\/script>".replace("HOST", location.hostname));
//]]></script>

<div id="toast-action" class="slds-hide" style="height: 4rem;">
  <div class="slds-notify_container slds-is-relative">
    <div class="slds-notify slds-notify_toast slds-theme_success" role="alert">
      <span class="slds-assistive-text">success</span>
      <span class="slds-icon_container slds-icon-utility-success slds-m-right_small slds-no-flex slds-align-top" title="Description of icon when needed">
        <svg class="slds-icon slds-icon_small" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#success" />
        </svg>
      </span>
      <div class="slds-notify__content">
        <h2 class="slds-text-heading_small ">Action Name was done.</h2>
      </div>
      <button class="slds-button slds-button_icon slds-notify__close slds-button_icon-inverse" title="Close">
        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
        </svg>
        <span class="slds-assistive-text">Close</span>
      </button>
    </div>
  </div>
</div>




        <!--
Base Global Header component
https://www.lightningdesignsystem.com/components/global-header/
-->
        <header class="slds-global-header_container">
            <a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text--focus">Skip to Main Content</a>
            <div class="slds-global-header slds-grid slds-grid--align-spread">
                <div class="slds-global-header__item">
                    <div class="slds-global-header__logo">
                        <img src="/assets/images/logo-noname.svg" alt=""/>
                    </div>
                </div>
                <div class="slds-global-header__item slds-global-header__item--search">
                    <div class="slds-form-element slds-lookup">
                        <label class="slds-assistive-text" for="global-search-01">Search Salesforce</label>
                        <div class="slds-form-element slds-form-element__control slds-form-element lookup__search-control slds-input-has-icon slds-input-has-icon--left">
                            <svg aria-hidden="true" class="slds-input__icon">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                            </svg>
                            <input id="global-search-01" class="slds-input slds-lookup__search-input" type="search" placeholder="Search"/>
                        </div>
                    </div>
                </div>
                <ul class="slds-global-header__item slds-grid slds-grid--vertical-align-center">
                    <li class="slds-dropdown-trigger slds-dropdown-trigger--click slds-m-left--x-small">
                        <button class="slds-button" title="peredleten name" aria-haspopup="true">
                            <span class="slds-avatar slds-avatar--circle slds-avatar--medium">
                                <img src="/assets/images/avatar2.jpg" alt="peredleten name"/>
                            </span>
                        </button>
                    </li>
                </ul>
            </div>
            <!--
Navigation Bar component
https://www.lightningdesignsystem.com/components/global-navigation/
-->
            <div class="slds-context-bar">
                <div class="slds-context-bar__primary slds-context-bar__item_divider-right">
                    <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover">
                        <div class="slds-context-bar__icon-action">
                            <button class="slds-button slds-icon-waffle_container slds-context-bar__button" title="Description of the icon when needed">
                                <span class="slds-icon-waffle">
                                    <span class="slds-r1"></span>
                                    <span class="slds-r2"></span>
                                    <span class="slds-r3"></span>
                                    <span class="slds-r4"></span>
                                    <span class="slds-r5"></span>
                                    <span class="slds-r6"></span>
                                    <span class="slds-r7"></span>
                                    <span class="slds-r8"></span>
                                    <span class="slds-r9"></span>
                                </span>
                                <span class="slds-assistive-text">Open App Launcher</span>
                            </button>
                        </div>
                        <span class="slds-context-bar__label-action slds-context-bar__app-name">
                            <span class="slds-truncate" title="Commerce Cloud">Commerce Cloud</span>
                        </span>
                    </div>
                </div>
                <nav class="slds-context-bar__secondary" role="navigation">
                    <ul class="slds-grid">
                        <li class="slds-context-bar__item">
                            <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Home">
                                <span class="slds-truncate">Business Manager</span>
                            </a>
                        </li>
                        <li class="slds-context-bar__item slds-is-active">
                            <a href="index.html" class="slds-context-bar__label-action" title="Home">
                                <span class="slds-truncate">Campaigns</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="slds-context-bar__item slds-context-bar__object-switcher slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger--click app-trigger">
                    <a href="javascript:void(0);" title="Object" class="slds-context-bar__label-action">
                        <span class="slds-truncate">Site Genesis</span>
                    </a>
                    <div class="slds-context-bar__icon-action">
                        <button class="slds-button slds-button--icon-container slds-button--icon-x-small" aria-haspopup="true" title="Open object switcher menu">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                            </svg>
                            <span class="slds-assistive-text">Open object switcher menu</span>
                        </button>
                    </div>
                    <div class="slds-dropdown slds-dropdown--right">
                        <ul class="slds-dropdown__list" role="menu">
                            <li class="slds-dropdown__item" role="presentation">
                                <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate">
                                        <svg class="slds-icon slds-icon--small slds-icon-standard-case slds-m-right--small" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#case"></use>
                                        </svg>Site Genesis</span>
                                </a>
                            </li>
                            <li class="slds-dropdown__item" role="presentation">
                                <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate">
                                        <svg class="slds-icon slds-icon--small slds-icon-custom-custom93 slds-m-right--small" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom93"></use>
                                        </svg>Site Genesis Global</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </header>
        <main class="app-wrapper">

            <div class="slds-brand-band slds-brand-band_medium slds-template_default">
                <div class="slds-card slds-has-bottom-magnet">
                    <div class="slds-hide slds-page-header slds-page-header--object-home">
                        <div>
                            <div class="slds-grid">
                                <div class="slds-col slds-has-flexi-truncate">
                                    <div class="slds-media slds-no-space slds-media_center slds-grow">
                                        <div class="slds-media__figure">
                                            <span class="slds-icon_container slds-icon-standard-cms">
                                              <img src="assets/icon_a-b--test.svg" border="0" />
                                            </span>
                                        </div>
                                        <div class="slds-media__body">
                                            <div>
                                                <nav role="navigation" aria-label="Breadcrumbs">
                                                    <ol class="slds-breadcrumb slds-line-height_reset">
                                                        <li class="slds-breadcrumb__item"><span>Online Marketing</span></li>
                                                    </ol>
                                                </nav>
                                                <h1 class="slds-page-header__title slds-m-right--small slds-truncate slds-align-middle" title="Campaigns">Campaigns</h1></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- MENU INCL DROPDOWN -->
                                <div class="slds-col slds-no-flex slds-grid slds-align-top slds-p-bottom--xx-small 2slds-hide">
                                  <div class="slds-button-group" role="group">
                                    <button class="slds-button slds-button_neutral" id="">New</button>
                                    <button class="slds-button slds-button_neutral" id="" disabled>Delete</button>
                                    <div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-button_last slds-is-closed" id="ab-test--list-actions">
                                      <button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="Show More" id="ab-test--list-actions-trigger">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down" />
                                        </svg>
                                        <span class="slds-assistive-text">Show More</span>
                                      </button>
                                      <div class="slds-dropdown slds-dropdown_right slds-hide">
                                        <ul class="slds-dropdown__list" role="menu">
                                          <li class="slds-dropdown__item" role="presentation">
                                            <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                              <span class="slds-truncate" title="Enable">Enable</span>
                                            </a>
                                          </li>
                                          <li class="slds-dropdown__item" role="presentation">
                                            <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                              <span class="slds-truncate" title="Disable">Disable</span>
                                            </a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- /MENU INCL DROPDOWN -->
                            </div>
                            <div class="slds-grid">
                                <div class="slds-col slds-align-bottom">
                                    <p class="slds-page-header__info">4 results • <span id="sorted_txt">sorted by name (asc)</span></p>
                                </div>
                                <div class="slds-col slds-no-flex slds-grid slds-align-bottom">
                                    <div class="slds-form-element__control">
                                        <div class="slds-input-has-icon slds-input-has-icon--right">
                                            <svg aria-hidden="true" class="slds-input__icon">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                                            </svg>
                                            <input id="lookup-330" class="slds-lookup__search-input slds-input" type="search" placeholder="Search Campaigns" aria-owns="lookup-330" role="combobox" aria-activedescendent="" aria-expanded="false" aria-autocomplete="list">
                                        </div>
                                    </div>
                                    <div>
                                        <button class="slds-button slds-button--icon-border slds-m-left--xx-small delete-trigger slds-button--last js-open-modal-id-1">
                                            <svg class="slds-button__icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
                                            </svg><span class="slds-assistive-text">Delete</span></button>
                                        <div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-button--last" id="HkBUxsHK3x">
                                            <button aria-expanded="false" aria-haspopup="true" class="slds-hide slds-button slds-button--icon-more ignore-click-HkBUxsHK3x" tabindex="0">
                                                <svg class="slds-button__icon" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
                                                </svg>
                                                <svg aria-hidden="true" class="slds-button__icon slds-button__icon--x-small" viewBox="0 0 24 24" name="down">
                                                    <path d="M3.8 6.5h16.4c.4 0 .8.6.4 1l-8 9.8c-.3.3-.9.3-1.2 0l-8-9.8c-.4-.4-.1-1 .4-1z"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-page-header">
                      <div class="slds-grid">
                        <div class="slds-col slds-has-flexi-truncate">
                          <div class="slds-media slds-no-space slds-grow">
                            <div class="slds-media__figure">
                              <span class="slds-icon_container slds-icon-standard-opportunity" title="">
                                <svg class="slds-icon" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#campaign" />
                                </svg>
                              </span>
                            </div>
                            <div class="slds-media__body">
                              <nav>
                                <ol class="slds-breadcrumb slds-line-height_reset">
                                  <li class="slds-breadcrumb__item">
                                    <span>Online Marketing</span>
                                  </li>
                                </ol>
                              </nav>
                              <h1 class="slds-page-header__title slds-m-right_small slds-align-middle slds-truncate" title="Campaign Name (ID)">Campaign Name (ID)</h1>
                            </div>
                          </div>
                        </div>
                        <div class="slds-col slds-no-flex slds-grid slds-align-top">
                          {#
                          <div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-button_last slds-is-closed" id="">
                                                                <button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="Show More" id="ab-test--list-actions-trigger">
                                                                  <span class="slds-text-not-selected">Default Locale
                                                                  <svg class="slds-button__icon" aria-hidden="true">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                                                  </svg>
                                                                  </span>
                                                                  <span class="slds-assistive-text">Show More</span>
                                                                </button>
                                                                <div class="slds-dropdown slds-dropdown_right slds-hide">
                                                                  <ul class="slds-dropdown__list" role="menu">
                                                                    <li class="slds-dropdown__item" role="presentation">
                                                                      <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                                                        <span class="slds-truncate" title="Enable">Enable</span>
                                                                      </a>
                                                                    </li>
                                                                    <li class="slds-dropdown__item" role="presentation">
                                                                      <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                                                        <span class="slds-truncate" title="Disable">Disable</span>
                                                                      </a>
                                                                    </li>
                                                                    <li class="slds-has-divider_top-space" role="separator"></li>
                                                                    <li class="slds-dropdown__item" role="presentation">
                                                                      <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                                                        <span class="slds-truncate" title="Delete">Delete</span>
                                                                      </a>
                                                                    </li>
                                                                  </ul>
                                                                </div>
                                                              </div>
                                                              #}



                                                              <div class="slds-form-element slds-p-right--small">
                                                                <div class="slds-form-element__control">
                                                                  <div class="slds-select_container">
                                                                    <select class="slds-select" id="select-01">
                                                                      <option value="">Default Locale</option>
                                                                    </select>
                                                                  </div>
                                                                </div>
                                                              </div>


                          <div class="slds-button-group" role="group">
                            <button class="slds-button slds-button_neutral" id="js-open-modal-id-2">Edit</button>
                          </div>
                        </div>
                      </div>
                      <ul class="slds-grid slds-page-header__detail-row slds-col">
                        <li class="slds-truncate slds-p-right--small">
                          <p class="slds-text-title slds-truncate slds-m-bottom_xx-small" title="Description">Description</p>
                          <p class="slds-text-body_regular slds-truncate">Description goes into here Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim sapien sit amet condimentum elementum. Integer rutrum lacus eget venenatis fringilla. Etiam sem tortor.</p>
                        </li>
                        <li class="slds-col">
                            <div class="slds-float--right">
                              <label class="slds-checkbox_toggle slds-grid slds-col">
                                <!--span class="slds-form-element__label slds-m-bottom_none">Enabled</span-->
                                <input type="checkbox" name="checkbox" aria-describedby="toggle-desc" value="on" />
                                <span id="toggle-desc" class="slds-checkbox_faux_container slds-col" aria-live="assertive">
                                  <span class="slds-checkbox_faux"></span>
                                  <span class="slds-checkbox_on">Enabled</span>
                                  <span class="slds-checkbox_off">Disabled</span>
                                </span>
                              </label>
                            </div>
                        </li>
                      </ul>
                    </div>
                </div>
                <!-- PAGES DETAIL -->
                <div class="slds-grid slds-m-top_small">
                    <div class="slds-col  slds-size_1-of-1">
                      {% include "schedule-qualifiers.html" ignore missing %}
                    </div>
                </div>
                <!-- /PAGES DETAIL -->
            </div>
        </main>






        {% include "_inc_modal-delete-page.html" ignore missing %}
        {% include "_inc_modal-newpage.html" ignore missing %}
        {% include "_inc_modal-add.html" ignore missing %}
        {% include "_inc_toast-page-deleted.html" ignore missing %}
        {% include "_inc_toast-page-created.html" ignore missing %}

        {% include "_inc-page-list_poppins.html" ignore missing %}




        <script src="/scripts/app.js"></script>
        <script src="/scripts/vendor/svg4everybody.min.js"></script>
        <script>
            svg4everybody();
        </script>
        <!-- JAVASCRIPT -->
        <script src='/scripts/jquery-3.2.1.min.js'></script>
        <script src='/scripts/jquery-ui.min.js'></script>
        <script src='/scripts/stupidtable.min.js'></script>

        <script>
          {% include "_inc_js.html" ignore missing %}
        </script>

        <script>

            $('#list_tooltipA').click(function() {
                //alert( "Handler for .click() called." );
                $('#poppinA').toggleClass('slds-hide');
            });
            $('#list_tooltipB').click(function() {
                //alert( "Handler for .click() called." );
                $('#poppinB').toggleClass('slds-hide');
            });
            $('#list_tooltipC').click(function() {
                //alert( "Handler for .click() called." );
                $('#poppinC').toggleClass('slds-hide');
            });

            $('.slds-popover__close').click(function() {
                //$('#poppinC').toggleClass('slds-hide');
                $(this).closest('.slds-popover').toggleClass('slds-hide');
            });


            $(function(){
                $('#page_list').stupidtable();
            });
        </script>










    </body>

</html>
