<!DOCTYPE html>
<html>

<head>
    <title>.:cart:.</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="/styles/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <script src="/scripts/rellax.min.js"></script>

    <script>
        var rellax = new Rellax('.rellax');

        // Open the full screen search box
        function openSearch() {
            document.getElementById("searchOverlay").style.display = "block";
        }

        // Close the full screen search box
        function closeSearch() {
            document.getElementById("searchOverlay").style.display = "none";
        }


        // Show consent modal
        function checkCookies() {
            //document.getElementById("cookieConsent").style.display = "block";
            document.getElementById("cookieConsent").style.opacity = '1';
        }

        function closeCookies() {
            document.getElementById("cookieConsent").style.display = "none";
        }


        //Load PLP - needs to be removed
        function goPLP() {
            window.open('plp.html', '_self');
        }

        //Load PDP - needs to be removed
        function goPDP() {
            window.open('pdp.html', '_self');
        }
    </script>


</head>

<body>

    {% include "_header.html" %}


    <!-- MAIN PAGE -->
    <main class="app-wrapper">

        <div class="slds-grid slds-m-top_large slds-m-bottom_large slds-align_absolute-center">
            <div class="slds-align-">
                <div class="section-divider">
                    <div class="title">
                        <h2 class="slds-text-heading--large"><b>Your Cart</b></h2>
                        <h5 class="slds-text-heading--small">4 products</h5>
                    </div>
                </div>
            </div>
        </div>


        <div class="slds-scoped-notification slds-media slds-media_center slds-theme_error" role="status">
            <div class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-error" title="error">
                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#error"></use>
                    </svg>
                    <span class="slds-assistive-text">error</span>
                </span>
            </div>
            <div class="slds-media__body">
                <p>It looks as if duplicates exist for this lead.
                    <a href="javascript:void(0);">View Duplicates.</a>
                </p>
            </div>
        </div>


        <div class="slds-scoped-notification slds-media slds-media_center slds-theme_success" role="status">
            <div class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-success" title="success">
                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#success"></use>
                    </svg>
                    <span class="slds-assistive-text">success</span>
                </span>
            </div>
            <div class="slds-media__body">
                <p>Success! Your entry has been duplicated.
                    <a href="javascript:void(0);">View Duplicates.</a>
                </p>
            </div>
        </div>


        <div class="slds-scoped-notification slds-media slds-media_center slds-theme_warning" role="status">
            <div class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-warning" title="warning">
                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#warning"></use>
                    </svg>
                    <span class="slds-assistive-text">warning</span>
                </span>
            </div>
            <div class="slds-media__body">
                <p>It looks as if duplicates exist for this lead.
                    <a href="javascript:void(0);">View Duplicates.</a>
                </p>
            </div>
        </div>



        <div class="slds-scoped-notification slds-media slds-media_center slds-scoped-notification_dark" role="status">
            <div class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-info" title="information">
                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                    </svg>
                    <span class="slds-assistive-text">information</span>
                </span>
            </div>
            <div class="slds-media__body">
                <p>It looks as if duplicates exist for this lead.
                    <a href="javascript:void(0);">View Duplicates.</a>
                </p>
            </div>
        </div>


        <div class="slds-col slds-grid slds-wrap slds-p-around_medium">
            <div class="slds-col slds-size_1-of-1  slds-medium-size_1-of-2 slds-large-size_8-of-12">
                <!-- CART ITEMS -->
                <!-- PRODUCTS LOOP -->
                <div class="slds-col slds-grid slds-wrap">
                    {% for product in products %}
                    {% if loop.index0 < 4 %}
                    <div class="slds-col slds-grid">
                        <div class="slds-p-around_small slds-size_1-of-3 slds-medium-size_1-of-4 slds-large-size_2-of-12">
                            <div class="producttile-image slds-p-bottom_medium"><a href="pdp.html"><img src="/assets/products/energy/{{ product.image }}.jpg" /></a></div>
                        </div>
                        <div class="slds-p-around_small slds-col slds-size_1-of-3 slds-medium-size_2-of-4 slds-large-size_8-of-12">
                            <h4 class="slds-text-heading--medium"><b>{{ product.product_name }}</b></h4>
                            <p class="slds-p-top_medium"><span>flavor / {{ product.image }} oz</span></p>
                            <div class="slds-grid slds-size_1-of-12">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="select-01">Qty.</label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <select class="slds-select" id="select-01">
                                                <option value="">Please select</option>
                                                <option>1</option>
                                                <option>Option Two</option>
                                                <option>Option Three</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="slds-p-around_small slds-col slds-size_1-of-3 slds-medium-size_1-of-4 slds-large-size_2-of-12">
                            <h4 class="slds-text-heading--medium slds-float_right"><b><span class="tile-price">$ {{ product.new_price }}</span></b></h4>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- //PRODUCTS LOOP -->
                <!-- //CART ITEMS -->

            </div>
            <div class="slds-col slds-size_1-of-1  slds-medium-size_1-of-2 slds-large-size_4-of-12">
                <!-- CART DETAILS -->
                <div class="slds-p-around_small" style="background:#eee;">
                    <h4 class="slds-text-heading--medium slds-m-bottom_small"><b><span class="tile-price">Cart Summary</span></b></h4>

                    <div class="slds-col slds-grid slds-wrap slds-clearfix slds-gutter s">
                        <div class="slds-size_9-of-12 slds-m-bottom_small"><b>Sub Total</b></div>
                        <div class="slds-size_3-of-12 slds-m-bottom_small"><span class="slds-float_right">$ 23</span></div>

                        <div class="slds-size_9-of-12 slds-m-bottom_small">Est. Shipping</div>
                        <div class="slds-size_3-of-12 slds-m-bottom_small"><span class="slds-float_right">$ 4</span></div>

                        <div class="slds-size_9-of-12 slds-m-bottom_small">Est. Tax</div>
                        <div class="slds-size_3-of-12 slds-m-bottom_small"><span class="slds-float_right">$ 23</span></div>

                        <div class="slds-size_9-of-12 slds-m-bottom_small">Delivery & Tax based on <a href="">01803</a></div>
                        <div class="slds-size_3-of-12 slds-m-bottom_small"><span class="slds-float_right">$ 4</span></div>

                        <div class="slds-size_9-of-12 slds-m-bottom_small"><b>Estimated Total</b></div>
                        <div class="slds-size_3-of-12 slds-m-bottom_small"><span class="slds-float_right">$ 23</span></div>

                        <div class="slds-size_1-of-1 slds-col">
                            <button class="slds-button slds-button_brand">Proceed to Checkout</button>
                        </div>
                    </div>

                </div>
                <!-- //CART DETAILS -->
            </div>
        </div>









        {% include "_footer.html" %}










    </main>
    <!-- //MAIN PAGE -->










</body>


</html>