<!--
  Templates leverage Nunjucks, a powerful templating language:
  https://mozilla.github.io/nunjucks/

  # Don't want to use Nunjucks?
    It is entirely optional. Feel free to use normal HTML instead!
-->

<!--
  Extend the global template
-->
{% extends "_template.html" %}

<!--
  Page content (gets injected into the template)
-->
{% block content %}
{% include "_page-header_index.html" %}

<div class="page-content">
<div>
    <figure class="slds-m-top_large">
        <div class="slds-notify_container slds-notify_container--inline slds-illustration_container" data-reactid="170">
            <figure data-reactid="171">
                <img src="/assets/empty_page.svg" alt="" width="300">
            </figure>
            <h2 class="slds-text-heading--large slds-m-bottom--x-small">There is no page yet ...</h2>
            <p class="slds-text-heading--small slds-p-bottom-medium">You have not yet created a page yet.</p>
            <p class="slds-text-heading--small slds-p-bottom-medium">Why not <a href="index.html" tabindex="-1">creating a page</a> right now?</p>
        </div>
    </figure>

</div>
</div>



{% include "_modal_create_page-theme.html" %}



{% endblock %}
