<!DOCTYPE html>
<html lang="en" class="list-view">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>.: Page Designer :.</title>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <!-- Prototype styles -->
  </head>

  <body>
    <link rel="stylesheet" href="/styles/index.css"/>

    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/jquery-ui.min.js'></script>
    <script src='/scripts/utils.js'></script>
    <script src='/scripts/tether.min.js'></script>
    <script src='/scripts/dragula.min.js'></script>

    <!-- DROPBOX INTEGRATION -->
    <!--script src='https://www.dropbox.com/static/api/2/dropins.js' id="dropboxjs" data-app-key="ug0ns8z2dvqvxvi"></script-->

    <div class="container slds-grid slds-col">
      <!-- CONTAINER -->
      <div class="slds-col" id="left">
        <ul id="drag-elements">
          <li class="initial">
            <div class="menu-component">
              Name of Component
            </div>
            <div class="placeholder-component">
              Name of Component (Placeholder)
            </div>
            <div class="structure-component">
              Name of Component (structure)
            </div>
          </li>
          <li class="initial">
            <div class="menu-component">
              Name of Component 2
            </div>
            <div class="placeholder-component">
              Name of Component 2 (Placeholder)
            </div>
            <div class="structure-component">
              Name of Component 2 (structure)
            </div>
          </li>
        </ul>
      </div>
      <!--div class="slds-col" id="center">
        <div class="">
          <div class="slds-canvas_list slds-drop-zone" style="">
            <ul class="" id="drop-target" style="min-height:20rem"></ul>
          </div>
        </div>
      </div-->


      <div class="slds-col" style="padding-top:2rem" id="center">
        <div class="2slds-drop-zone 2slds-drop-zone_drag">
          <div class="slds-drop-zone__label">
            <div class="slds-media slds-media_center">
              <div class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-builder slds-current-color">
                  <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#builder"></use>
                  </svg>
                </span>
              </div>
              <div class="slds-media__body">
                <h2>Region 1</h2>
              </div>
            </div>
          </div>
          <div class="" style="width:100%;height:10rem">
            <ul class="" id="drop-target" style="min-height:20rem; background: orange"></ul>
          </div>
        </div>
      </div>




      <div class="slds-col" id="right">
        <ul id="page-structure"></ul>
      </div>
      <!-- /CONTAINER -->
    </div>


    <script>
    $(document).ready(function(){
      //-> SCRIPT
      var countess = 0;


      dragula([
        document.querySelector('#drag-elements'),
        document.querySelector('#drop-target')
      ], {
        /*
        revertOnSpill: true,
        copy: true
        */
        copy: function (el, source) {
          return source === document.getElementById('drag-elements')
        },
        accepts: function (el, target) {
          return target !== document.getElementById('drag-elements')
        }
      }).on('drop', function (el) {
        if (document.querySelector('#drop-target').children.length > 0) {
            // check if no class
            if (el.classList.contains('initial')) {
              console.log('no countess');
              //add count class
              el.classList.remove('initial');
              el.classList.add('component-' + countess);
              el.classList.remove('gu-transit');
              //
            }else{
              console.log('class exists already');
              el.classList.remove('gu-transit');
            }

            //copy content to both canvas and page structure
            //console.log('attribute is:' +el.classList.attr);
            document.querySelector('#page-structure').innerHTML = document.querySelector('#drop-target').innerHTML;
            console.log('align both content sides');

            //hover component and page structure
            $('#center li, #right li')
            .mouseover(function() {
              var hovered_component = $(this).attr('class');
              $('#center li.'+hovered_component).addClass('hover');
              $('#right  li.'+hovered_component).addClass('hover');
            })
            .mouseout(function() {
              $('#center li').removeClass('hover');
              $('#right  li').removeClass('hover');
            });



          //now add 1 to count
          countess++
        } else {
          /*
          document.querySelector('#page-structure').innerHTML = "Display";
          document.querySelector('#drop-target').innerHTML = 'Region 1';
          */
          console.log('no components in region');
        }
      });







      //<- SCRIPT
    });
    </script>


  </body>




</html>
