<!DOCTYPE html>
<html lang="en" class="list-view">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>.: Page Designer :.</title>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <!-- Prototype styles -->
  </head>

  <body>
    <link rel="stylesheet" href="/styles/index.css"/>
    <!-- Simple List -->

    <div class="slds-grid slds-col">
      <div class="slds-grid slds-col">
        <ul class="list" id="listTools">
          <li 1id="num1">
            <div class="component">
              <span class="handle">&varr;</span> component -1
            </div>
            <div class="placeholder">
              placeholder -1
              <ul class="">
                region
              </ul>
            </div>
            <div class="structure">
              structure -1
            </div>
          </li>
          <li 1id="num2">
            <div class="component">
              <span class="handle">&varr;</span> component -2
            </div>
            <div class="placeholder">
              placeholder -2
            </div>
            <div class="structure">
              structure -2
            </div>
          </li>
          <li 1id="num3">
            <div class="component">
              <span class="handle">&varr;</span> component -3
            </div>
            <div class="placeholder">
              placeholder -3
            </div>
            <div class="structure">
              structure -3
            </div>

          </li>
          <li 1id="num4">
            <div class="component">
              <span class="handle">&varr;</span> component -4
            </div>
            <div class="placeholder">
              placeholder -4
            </div>
            <div class="structure">
              structure -4
            </div>

          </li>
        </ul>
      </div>

      <div class="slds-grid slds-col" 2id="canvas">
          <ul class="list slds-list slds-col region" id="listEditor" 2style="background:#fff; min-height:100px; border:1px dashed #ccc;">

          </ul>
      </div>

      <div class="slds-grid slds-col">
        <ul class="list" id="page_structure">

        </ul>
      </div>

    </div>





    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/jquery-ui.min.js'></script>
    <script src='/scripts/utils.js'></script>
    <script src='/scripts/tether.min.js'></script>
    <script src='/scripts/dragula.min.js'></script>

    <script src = "/scripts/Sortable.js"></script>
    <script>

    /*
    $('.list').removeClass('hover');

    var optsA = {
      animation: 200,
      group: {
        name: 'child',
        pull: 'clone',
        put: false,
        ghostClass: 'sortable-ghost',
        revertClone: true,
        handle: '.my-handle'
      },
      onMove: function (evt) {
        $(".list").removeClass('hover');
        $(evt.to).addClass('hover');
      },
      onEnd: function (evt) {
        //$(".list").removeClass('hover');
        document.querySelector('#page_structure').innerHTML = document.querySelector('#listEditor').innerHTML;
        console.log('end');
      }
    }
    var optsB = {
      group: 'child',
      sort: true,
      onMove: function (evt) {
        $(".list").removeClass('hover');
        $(evt.to).addClass('hover');
      },
      onEnd: function (evt) {
        $(".list").removeClass('hover');
        console.log('end');
        document.querySelector('#page_structure').innerHTML = document.querySelector('#listEditor').innerHTML;
      }
    }

    var optsC = {
      animation: 200,
      sort: true,
      onMove: function(evt){
      },
      onRemove: function (evt) {
      },
      onEnd: function (evt){
        document.querySelector('#listEditor').innerHTML = document.querySelector('#page_structure').innerHTML;
      }
    }



    $('.slds-grid').hover(
      function() {
       //$(this).addClass('hover');
       console.log('mouseenter !');
     },
     function() {
       //$(this).removeClass('hover');
       console.log('mouseleave !');
     }
    );


    var el = document.getElementById('listTools');
    Sortable.create(el, optsA);

    var el = document.getElementById('listEditor');
    Sortable.create(el, optsB);

    var el = document.getElementById('page_structure');
    Sortable.create(el, optsC);
    */


    var drake = window.dragula({
      isContainer: function(el) {
        return el.tagName == 'UL';
      },
      moves: function(el, source, handle, sibling) {
      	return el.tagName == 'LI' && handle.className.indexOf('handle') >= 0;
      },
      accepts: function(el, target, source, sibling) {
      	return true;
      },
    });

    drake.on("drop", function() {
    	var order = [];
    	$("li").each(function() {
      	order.push($(this).text().slice(0, 1));
    	});
      alert(order);
    });

    </script>

    <style>
      #listEditor .component, #listEditor .structure{
        display: none;
      }
      #listTools .placeholder, #listTools .structure{
        display: none;
      }
      #page_structure .placeholder, #page_structure .component{
        display: none;
      }
      #listTools li:hover,
      .region li:hover,
      #page_structure li:hover{
        cursor: grab;
      }
    </style>

  </body>




</html>
