<!DOCTYPE html>
<html lang="en" class="list-view">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>.: Page Designer :.</title>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <!-- Prototype styles -->
  </head>

  <body>
    <link rel="stylesheet" href="/styles/index.css"/>
    <!-- Simple List -->

    <div class="slds-grid slds-col">
      <div class="slds-grid slds-col">
        <ul class="list" id="listTools">
          <li id="num1">item 111</li>
          <li id="num2">item 222</li>
          <li id="num3">item 333</li>
          <li id="num4">item 444</li>
        </ul>
      </div>

      <div class="slds-grid slds-col">
        <ul class="list slds-list slds-col" id="listEditor" 2style="background:#fff; min-height:100px; border:1px dashed #ccc;">

        </ul>
      </div>

      <div class="slds-grid slds-col">
        <ul class="list" id="page-structure">

        </ul>
      </div>

    </div>





    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/jquery-ui.min.js'></script>
    <script src='/scripts/utils.js'></script>
    <script src='/scripts/tether.min.js'></script>
    <script src='/scripts/dragula.min.js'></script>

    <script src = "/scripts/Sortable.js"></script>
    <script>

    $('.list').removeClass('hover');

    var optsA = {
      animation: 200,
      group: {
        name: 'child',
        pull: 'clone',
        put: false,
        ghostClass: 'sortable-ghost',
        revertClone: true,
        handle: '.my-handle'
      },
      onMove: function (evt) {
        $(".list").removeClass('hover');
        $(evt.to).addClass('hover');
      },
      onEnd: function (evt) {
        //$(".list").removeClass('hover');
        console.log('end');
      }
    }
    var optsB = {
      group: 'child',
      sort: true,
      onMove: function (evt) {
        $(".list").removeClass('hover');
        $(evt.to).addClass('hover');
      },
      onEnd: function (evt) {
        $(".list").removeClass('hover');
        console.log('end');
      }
    }


    $('.slds-grid').hover(
      function() {
       //$(this).addClass('hover');
       console.log('mouseenter !');
     },
     function() {
       //$(this).removeClass('hover');
       console.log('mouseleave !');
     }
    );


    var el = document.getElementById('listTools');
    Sortable.create(el, optsA);

    var el = document.getElementById('listEditor');
    Sortable.create(el, optsB);

    var el = document.getElementById('page-structure');
    Sortable.create(el);


    </script>

<style>
  .hover{
    background: red !important;
  }
</style>

  </body>




</html>
