<!DOCTYPE html>
<html lang="en" class="list-view">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>.: Page Designer :.</title>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <!-- Prototype styles -->
  </head>

  <body>
    <link rel="stylesheet" href="/styles/index.css"/>
    <!-- Simple List -->

    <div class="slds-grid slds-col">
      <div class="slds-grid slds-col">
        <ul class="list" id="listTools">
          <li id="num1">Row</li>
          <li id="num2">Banner</li>
          <li id="num3">Category</li>
          <li id="num4">Product</li>
        </ul>
      </div>

      <div class="slds-grid slds-col" id="canvas">

        <div class="slds-col slds-grid slds-wrap">
          <!--div class="slds-col slds-size_1-of-6">
            <span>1/6</span>
          </div>
          <div class="slds-col slds-size_1-of-6">
            <span>1/6</span>
          </div>
          <div class="slds-col slds-size_1-of-6">
            <span>1/6</span>
          </div>
          <div class="slds-col slds-size_1-of-6">
            <span>1/6</span>
          </div>
          <div class="slds-col slds-size_1-of-6">
            <span>1/6</span>
          </div>
          <div class="slds-col slds-size_1-of-6">
            <span>1/6</span>
          </div>
          <div class="slds-col slds-size_1-of-4">
            <span>1/4</span>
          </div>
          <div class="slds-col slds-size_1-of-4">
            <span>1/4</span>
          </div>
          <div class="slds-col slds-size_1-of-4">
            <span>1/4</span>
          </div>
          <div class="slds-col slds-size_1-of-4">
            <span>1/4</span>
          </div>
          <div class="slds-col slds-size_1-of-3">
            <span>1/3</span>
          </div>
          <div class="slds-col slds-size_1-of-3">
            <span>1/3</span>
          </div>
          <div class="slds-col slds-size_1-of-3">
            <span>1/3</span>
          </div-->
          <div class="slds-col slds-size_1-of-1">
            <ul class="list slds-list slds-col region">
              region 1
            </ul>
          </div>
          <div class="slds-col slds-size_1-of-2">
            <ul class="list slds-list slds-col region">
              region 2
            </ul>
          </div>
          <div class="slds-col slds-size_1-of-2">
            <ul class="list slds-list slds-col region">
              region 3
            </ul>
          </div>
        </div>




      </div>

      <div class="slds-grid slds-col">
        <ul class="list" id="page_structure">
        </ul>
      </div>

    </div>





    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/jquery-ui.min.js'></script>
    <script src='/scripts/utils.js'></script>
    <script src='/scripts/tether.min.js'></script>
    <script src='/scripts/dragula.min.js'></script>

    <script src = "/scripts/Sortable.js"></script>
    <script>

    $('.list').removeClass('hover');

    var optsA = {
      animation: 200,
      group: {
        name: 'child',
        pull: 'clone',
        put: false,
        ghostClass: 'sortable-ghost',
        revertClone: true,
        handle: '.my-handle'
      },
      onMove: function (evt) {
        $(".list").removeClass('hover');
        $(evt.to).addClass('hover');
      },
      onEnd: function (evt) {
        //$(".list").removeClass('hover');
        document.querySelector('#page_structure').innerHTML = document.querySelector('#page_structure').innerHTML;
        console.log('end');
      }
    }
    var optsB = {
      group: 'child',
      sort: true,
      onMove: function (evt) {
        $(".list").removeClass('hover');
        $(evt.to).addClass('hover');
      },
      onEnd: function (evt) {
        $(".list").removeClass('hover');
        console.log('end');
        document.querySelector('#page_structure').innerHTML = document.querySelector('#page_structure').innerHTML;
      }
    }

    var optsC = {
      animation: 200,
      sort: true,
      onMove: function(evt){
      },
      onRemove: function (/**Event*/evt) {
      },
      onEnd: function (evt){
        document.querySelector('#canvas').innerHTML = document.querySelector('#page_structure').innerHTML;
      }
    }



    $('.slds-grid').hover(
      function() {
       //$(this).addClass('hover');
       console.log('mouseenter !');
     },
     function() {
       //$(this).removeClass('hover');
       console.log('mouseleave !');
     }
    );

    //tool handling
    var el = document.getElementById('listTools');
    Sortable.create(el, optsA);

    //handling in canvas area
    var el = $('#canvas .region');
        $(el).each(function (i,e) {
            var sortable = Sortable.create(e, {
                animation: 150,
                //handle: '.drag-handle',
                group: 'child',
                sort: true,
                onMove: function (evt) {
                  //$(".list").removeClass('hover');
                  //$(evt.to).addClass('hover');
                  //document.querySelector('#page_structure').innerHTML = document.querySelector('#canvas').innerHTML;
                },
                onAdd:function (evt) {
                  document.querySelector('#page_structure').innerHTML = document.querySelector('#canvas').innerHTML;
                },
                onEnd: function (evt) {
                  //$(".list").removeClass('hover');
                  //console.log('end');
                  alert('end');
                  document.querySelector('#page_structure').innerHTML = document.querySelector('#canvas').innerHTML;
                }

            });
        })


    //tool handling
    var el = document.getElementById('page_structure');
    Sortable.create(el, optsC);


    </script>

<style>
  .hover{
    background: red !important;
  }
</style>

  </body>




</html>
