<!DOCTYPE html>
<html lang="en" class="list-view">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>.: Page Designer :.</title>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <!-- Prototype styles -->
  </head>

  <body>
    <link rel="stylesheet" href="/styles/index.css"/>

    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/jquery-ui.min.js'></script>
    <script src='/scripts/utils.js'></script>
    <script src='/scripts/tether.min.js'></script>
    <script src='/scripts/dragula.min.js'></script>

    <!-- DROPBOX INTEGRATION -->
    <!--script src='https://www.dropbox.com/static/api/2/dropins.js' id="dropboxjs" data-app-key="ug0ns8z2dvqvxvi"></script-->

    <div class="meta-container slds-grid slds-col">
      <!-- CONTAINER -->
      <div class="slds-col slds-size_2-of-12" id="left">
        <ul id="toolsA">
          <li class="initial">
            <div class="menu-component">
              Name of Component
            </div>
            <div class="placeholder-component">
              Name of Component (Placeholder)
            </div>
            <div class="structure-component">
              Name of Component (structure)
            </div>
          </li>
          <li class="initial">
            <div class="menu-component">
              Name of Component 2
            </div>
            <div class="placeholder-component">
              Name of Component 2 (Placeholder)
            </div>
            <div class="structure-component">
              Name of Component 2 (structure)
            </div>
          </li>
        </ul>
      </div>

      <div class="slds-col" id="canvas">

          <ul class="slds-col container" id="regionA" style="min-height:2rem; border:1px solid red; background: red; height:100%; width:100%">
          </ul>

          <ul class="slds-col container" id="regionB" style="min-height:2rem; border:1px solid red; background: blue; height:100%; width:100%">
          </ul>

          <ul class="slds-col container" id="regionC" style="min-height:2rem; border:1px solid red; background: yellow; height:100%; width:100%">
          </ul>

      </div>

      <!--div class="slds-col slds-size_8-of-12 container  hide-dropzone" style="padding-top:2rem;" id="center">
        <div class="slds-drop-zone slds-drop-zone_drag">
          <div class="slds-drop-zone__label slds-hide">
            <div class="slds-media slds-media_center">
              <div class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-builder slds-current-color">
                  <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#builder"></use>
                  </svg>
                </span>
              </div>
              <div class="slds-media__body">
                <h2>Region 1</h2>
              </div>
            </div>
          </div>
          <div class="slds-col" style="height:10rem">
            <ul class="slds-col" id="regionA" style="min-height:2rem; border:1px solid red; background: red; height:100%; width:100%">
            </ul>
          </div>
        </div>
      </div-->







      <div class="slds-col slds-size_2-of-12" id="right">
        <ul id="page-structure"></ul>
      </div>
      <!-- /CONTAINER -->
    </div>


<script>
$(document).ready(function(){
  console.clear();

  var first   = '#regionA';
  var second  = '#regionB';
  var third   = '#regionC';

  var containers = [
    document.querySelector(first),
    document.querySelector(second),
    document.querySelector(third)
  ];

  /*
  dragula([document.querySelector('#toolsA'), document.querySelector('.container')], {
    revertOnSpill: true,
    //containers: containers,
    copy: function (el, source) {
        return source === document.querySelector('#toolsA')
      },
      accepts: function (el, target) {
        return target !== document.querySelector('#toolsA')
      }
  })
  .on('drop', function(el) {
    document.querySelector('#page-structure').innerHTML = document.querySelector('#canvas').innerHTML;

  */



});
</script>


    <script>
    $(document).ready(function(){
      //-> SCRIPT
      var countess = 0;


      /*
      dragula([document.getElementById(toolsA), document.getElementById(center)],
      {
        revertOnSpill: true
      });
      */





      /*
      dragula([
        document.querySelector('#drag-elements'),
        document.querySelector('#drop-target')
      ], {
        copy: function (el, source) {
          return source === document.getElementById('drag-elements')
        },
        accepts: function (el, target) {
          return target !== document.getElementById('drag-elements')
        }
      })
      .on('over', function (el, container) {
          container.className += 'ex-over';
          var parenter = container.classList;
          console.log('class:'+container.classList);
          //$('.'+parenter).closest('.container').toggleClass('hide-dropzone show-dropzone');
          $('#center').removeClass('hide-dropzone');

        }).on('out', function (el, container) {
          console.log('out');
          container.className = container.className.replace('ex-over', '');
          $('#center').addClass('hide-dropzone');

        })
      .on('drop', function (el) {
        if (document.querySelector('#drop-target').children.length > 0) {
            // check if no class
            if (el.classList.contains('initial')) {
              console.log('no countess');
              //add count class
              el.classList.remove('initial');
              el.classList.add('component-' + countess);
              el.classList.remove('gu-transit');
              //
            }else{
              console.log('class exists already');
              el.classList.remove('gu-transit');
            }

            //copy content to both canvas and page structure
            //console.log('attribute is:' +el.classList.attr);
            document.querySelector('#page-structure').innerHTML = document.querySelector('#drop-target').innerHTML;
            console.log('align both content sides');

            //hover component and page structure
            $('#center li, #right li')
            .mouseover(function() {
              var hovered_component = $(this).attr('class');
              $('#center li.'+hovered_component).addClass('hover');
              $('#right  li.'+hovered_component).addClass('hover');
            })
            .mouseout(function() {
              $('#center li').removeClass('hover');
              $('#right  li').removeClass('hover');
            })
          //now add 1 to count
          countess++
        } else {
          console.log('no components in region');
        }
      });


      dragula([document.querySelector('#drop-target')]);


    */
    //<- SCRIPT
  });
    </script>


  </body>






</html>
