<!DOCTYPE html>
<html lang="en" class="list-view">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>.: Page Designer :.</title>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <!-- Prototype styles -->
  </head>

  <body>
    <link rel="stylesheet" href="/styles/index.css"/>


    <div class="tools" style="float:left; width:200px; height:800px; background: red">
      <ul class="sortable-group js-sortable-group js-drop-target">
        <li>tool</li>
      </ul>
    </div>

    <div class='sortable-container js-sortable-parent js-drop-target'>
      <ul class="sortable-group js-sortable-group js-drop-target">
        <li>Item 1a</li>
      </ul>

      <ul class="sortable-group js-sortable-group js-drop-target">
        <li>Item 2a</li>
      </ul>

      <ul class="sortable-group js-sortable-group js-drop-target">
        <li>Item 3a</li>
        <li>Item 4a</li>
        <li>Item 5a</li>
      </ul>

      <ul class="sortable-group js-sortable-group js-drop-target">
        <li>Item 1b</li>
        <li>Item 2b</li>
        <li>Item 3b</li>
        <li>Item 4b</li>
        <li>Item 5b</li>
      </ul>
    </div>





    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/jquery-ui.min.js'></script>
    <script src='/scripts/utils.js'></script>
    <script src='/scripts/tether.min.js'></script>
    <script>

    var wasMovedOut = function(elem) {
      return $(elem).parent().hasClass('js-sortable-parent');
    };

    function stopHandler(event, obj) {
      var elem = obj.item[0];
      var sampleSortableGroup = $('.js-sortable-group').first().clone().html('');

      // Wrap an item in a group
      if (wasMovedOut(elem)) {
        $(elem).wrap(sampleSortableGroup);
        sortableGroup = $(".js-sortable-group").sortable({
          connectWith: ".js-drop-target",
          stop: stopHandler,
        }).disableSelection();
      }

      // Remove
      if (this.children.length === 0) {
        this.remove();
      }
    }

    // Sortable Configuration
    $('.js-sortable-parent').sortable().disableSelection();

    var sortableGroup = $(".js-sortable-group").sortable({
      connectWith: ".js-drop-target",
      stop: stopHandler,
    }).disableSelection();



    </script>

    <style>
    body {
      margin: 100px;
    }

    .sortable-group {
      border: dashed 2px #dedede;
      background: #f2f2f2;
      padding: 10px;
    }

    .sortable-group li {
      cursor: move;
      margin-left: 20px;
    }

    .sortable-group--empty {
      pointer-events: none;
    }

    .ui-sortable-placeholder {
      outline: 2px solid red;
      visibility: visible !important;
    }


    </style>

  </body>




</html>
