<div>
  <div class="slds-tabs_default slds-p-around--medium">
    <ul class="slds-tabs_default__nav" role="tablist">
      <li class="slds-tabs_default__item" title="Item One" role="presentation"><a class="slds-tabs_default__link" href="campaign-detail.html" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">Schedule & Qualifiers</a></li>
      <li class="slds-tabs_default__item slds-is-active" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="campaign-detail-qualifiers.html" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Experiences (10)</a></li>
    </ul>
    <div id="tab-default-1" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">

      <div class="slds-size_1-of-1">
        <div class="slds-card-wrapper">
          <header>
            <h2 class="slds-text-heading_medium">Experiences</h2>
          </header>
            <article class="slds-card">
              <div class="slds-card__header slds-grid">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                  <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-standard-opportunity" title="description of icon when needed">
                      <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#cms" />
                      </svg>
                    </span>
                  </div>
                  <div class="slds-media__body">
                    <h2>
                      <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="[object Object]">
                        <span class="slds-text-heading_small">Slot Configurations</span>
                      </a>
                    </h2>
                  </div>
                </header>
                <div class="slds-no-flex">
                  <button class="slds-button slds-button_neutral dialog-add">Manage</button>
                </div>
              </div>
              <div class="slds-card__body slds-card__body_inner">

                  <table class="slds-table slds-table_fixed-layout slds-table_bordered slds-no-row-hover slds-table_cell-buffer">
                     <thead>
                       <tr class="slds-text-title_caps">
                         <th scope="col">
                           <div class="slds-truncate" title="">ID</div>
                         </th>
                         <th scope="col">
                           <div class="slds-truncate" title="">Slot</div>
                         </th>
                         <th scope="col">
                           <div class="slds-truncate" title="">Context</div>
                         </th>
                         <th scope="col">
                           <div class="slds-truncate" title="">Schedule</div>
                         </th>
                         <th scope="col">
                           <div class="slds-truncate" title="">Customer Groups</div>
                         </th>
                         <th scope="col">
                           <div class="slds-truncate" title="">Rank</div>
                         </th>
                         <th scope="col">
                           <div class="slds-truncate" title="">Status</div>
                         </th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr class="slds-hint-parent">
                         <th scope="row">
                           <div class="slds-truncate" title=""><a href="javascript:void(0);">CartFooterFeatured</a></div>
                         </th>
                         <td>
                           <div class="slds-truncate" title="">cart-footer</div>
                         </td>
                         <td>
                           <div class="slds-truncate" title=""></div>
                         </td>
                         <td>
                           <div class="slds-truncate" title="">11/17/2018 - 11/20/2018</div>
                         </td>
                         <td>
                           <div class="slds-truncate" title="">Big Spenders, Everyone, Registered, Unregistered</div>
                         </td>
                         <td>
                           <div class="slds-truncate" title=""></div>
                         </td>
                         <td>
                           <div class="slds-truncate" title=""></div>
                         </td>
                       </tr>
                     </tbody>
                   </table>

              </div>
              <footer class="slds-card__footer"><a href="javascript:void(0);" class="dialog-add">View All <span class="slds-assistive-text">entity type</span></a></footer>
            </article>
            <article class="slds-card">
              <div class="slds-card__header slds-grid">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                  <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-standard-opportunity" title="description of icon when needed">
                      <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#promotions" />
                      </svg>
                    </span>
                  </div>
                  <div class="slds-media__body">
                    <h2>
                      <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="[object Object]">
                        <span class="slds-text-heading_small">Promotions</span>
                      </a>
                    </h2>
                  </div>
                </header>
                <div class="slds-no-flex">
                  <button class="slds-button slds-button_neutral dialog-add">Manage</button>
                </div>
              </div>
              <div class="slds-card__body slds-card__body_inner">


                <table class="slds-table slds-table_fixed-layout slds-table_bordered slds-no-row-hover slds-table_cell-buffer">
                   <thead>
                     <tr class="slds-text-title_caps">
                       <th scope="col">
                         <div class="slds-truncate" title="">ID</div>
                       </th>
                       <th scope="col">
                         <div class="slds-truncate" title="">Schedule</div>
                       </th>
                       <th scope="col">
                         <div class="slds-truncate" title="">Customer Groups</div>
                       </th>
                       <th scope="col">
                         <div class="slds-truncate" title="">Source Codes</div>
                       </th>
                       <th scope="col">
                         <div class="slds-truncate" title="">Coupons</div>
                       </th>
                       <th scope="col">
                         <div class="slds-truncate" title="">Required Qualifiers</div>
                       </th>
                       <th scope="col">
                         <div class="slds-truncate" title="">Exclusivity</div>
                       </th>
                       <th scope="col">
                         <div class="slds-truncate" title="">Status</div>
                       </th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr class="slds-hint-parent">
                       <th scope="row">
                         <div class="slds-truncate" title=""><a href="javascript:void(0);">$50FixedProductsAmountAbove100</a></div>
                       </th>
                       <td>
                         <div class="slds-truncate" title="">11/17/2018 - 11/20/2018</div>
                       </td>
                       <td>
                         <div class="slds-truncate" title="">Big Spenders, Everyone, Registered, Unregistered</div>
                       </td>
                       <td>
                         <div class="slds-truncate" title="">affiliate-email, gaming-email</div>
                       </td>
                       <td>
                         <div class="slds-truncate" title=""></div>
                       </td>
                       <td>
                         <div class="slds-truncate" title="">Any</div>
                       </td>
                       <td>
                         <div class="slds-truncate" title="">-NONE-§</div>
                       </td>
                       <td>
                         <div class="slds-truncate" title="">NO</div>
                       </td>
                       <td>
                         <div class="slds-truncate" title="">Disabled</div>
                       </td>

                     </tr>
                   </tbody>
                 </table>



              </div>
              <footer class="slds-card__footer"><a href="javascript:void(0);" class="dialog-add">View All <span class="slds-assistive-text">entity type</span></a></footer>
            </article>
            <article class="slds-card">
            <div class="slds-card__header slds-grid">
              <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                  <span class="slds-icon_container slds-icon-standard-opportunity" title="description of icon when needed">
                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#rules" />
                    </svg>
                  </span>
                </div>
                <div class="slds-media__body">
                  <h2>
                    <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="[object Object]">
                      <span class="slds-text-heading_small">Sorting Rules</span>
                    </a>
                  </h2>
                </div>
              </header>
              <div class="slds-no-flex">
                <button class="slds-button slds-button_neutral dialog-add">Manage</button>
              </div>
            </div>
            <div class="slds-card__body slds-card__body_inner">



              <table class="slds-table slds-table_fixed-layout slds-table_bordered slds-no-row-hover slds-table_cell-buffer">
                 <thead>
                   <tr class="slds-text-title_caps">
                     <th scope="col">
                       <div class="slds-truncate" title="">ID</div>
                     </th>
                     <th scope="col">
                       <div class="slds-truncate" title="">Description</div>
                     </th>
                     <th scope="col">
                       <div class="slds-truncate" title="">Categories</div>
                     </th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr class="slds-hint-parent">
                     <th scope="row">
                       <div class="slds-truncate" title=""><a href="javascript:void(0);">$50FixedProductsAmountAbove100</a></div>
                     </th>
                     <td>
                       <div class="slds-truncate" title="">Sorts by price descending</div>
                     </td>
                     <td>
                       <div class="slds-truncate" title=""></div>
                     </td>

                   </tr>
                 </tbody>
               </table>




            </div>
            <footer class="slds-card__footer"><a href="javascript:void(0);" class="dialog-add">View All <span class="slds-assistive-text">entity type</span></a></footer>
          </article>
            <article class="slds-card">
            <div class="slds-card__header slds-grid">
              <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                  <span class="slds-icon_container slds-icon-standard-opportunity" title="description of icon when needed">
                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#keyword" />
                    </svg>
                  </span>
                </div>
                <div class="slds-media__body">
                  <h2>
                    <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="[object Object]">
                      <span class="slds-text-heading_small">Keyword Sorting Rules</span>
                    </a>
                  </h2>
                </div>
              </header>
              <div class="slds-no-flex">
                <button class="slds-button slds-button_neutral dialog-add">Manage</button>
              </div>
            </div>
            <div class="slds-card__body slds-card__body_inner">


              <table class="slds-table slds-table_fixed-layout slds-table_bordered slds-no-row-hover slds-table_cell-buffer">
                 <thead>
                   <tr class="slds-text-title_caps">
                     <th scope="col">
                       <div class="slds-truncate" title="">ID</div>
                     </th>
                     <th scope="col">
                       <div class="slds-truncate" title="">Description</div>
                     </th>
                     <th scope="col">
                       <div class="slds-truncate" title="">Categories</div>
                     </th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr class="slds-hint-parent">
                     <th scope="row">
                       <div class="slds-truncate" title="">price-low-to-high</div>
                     </th>
                     <td>
                       <div class="slds-truncate" title="">Sorts by price ascending</div>
                     </td>
                     <td>
                       <div class="slds-truncate" title=""></div>
                     </td>

                   </tr>
                 </tbody>
               </table>




            </div>
            <footer class="slds-card__footer"><a href="javascript:void(0);" class="dialog-add">View All <span class="slds-assistive-text">entity type</span></a></footer>
          </article>
        </div>
      </div>



    </div>
  </div>
</div>
