<!DOCTYPE html>
<html lang='en' class='list-view'>

<head>
  <meta charset='utf-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>.: Page Designer :.</title>
  <meta name='robots' content='noindex, nofollow' />
  <link rel='icon' type='image/png' href='/favicon.png' />
  <link rel='stylesheet' href='/styles/index.css' />
  <!-- Prototype styles -->
</head>

<body>

  <div id="left_container" style="float:left; background: yellow; width: 200px;">
    <ul id="left">
      <li>something</li>
      <li>something else</li>
      <li>
        <ul>
          sub hier
        </ul>
      </li>
    </ul>
  </div>

  <div id="right" style="background:red; float:left; margin-left:200px; width:200px;">
    hier
  </div>



  <div id="structure_container" style="background:red; float:left; margin-left:200px; width:200px;">
    <ul id="structure">
      page structure
    </ul>
  </div>



  <script src='/scripts/jquery-3.2.1.min.js'></script>
  <script src='/scripts/jquery-ui.min.js'></script>
  <script src='/scripts/utils.js'></script>
  <script src='/scripts/tether.min.js'></script>
  <script src='/scripts/dragula.min.js'></script>
  <script>
    dragula([document.getElementById("left"), document.getElementById("right")], {
        copy: function(el, source) {
          return source === document.getElementById("left")
        },
        accepts: function(el, target) {
          return target !== document.getElementById("left")
        }
      })
      .on('drag', function(el) {
        //el.className = el.className.replace('ex-moved', '');
        console.log("drag");
      }).on('drop', function(el) {
        console.log("drop");
        document.getElementById("structure").innerHTML = document.getElementById("right").innerHTML;
        //el.className += ' ex-moved';
      }).on('over', function(el, container) {
        console.log("over");
        //container.className += ' ex-over';
      }).on('out', function(el, container) {
        console.log("out");
        //container.className = container.className.replace('ex-over', '');
      });


    dragula([document.getElementById("structure")])
      .on('drop', function(el) {
        console.log("drop");
        document.getElementById("right").innerHTML = document.getElementById("structure").innerHTML;
        //el.className += ' ex-moved';
      });
  </script>






</body>

</html>
