<!DOCTYPE html>
<html lang='en' class='list-view'>

<head>
  <meta charset='utf-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>.: Page Designer :.</title>
  <meta name='robots' content='noindex, nofollow' />
  <link rel='icon' type='image/png' href='/favicon.png' />
  <link rel='stylesheet' href='/styles/index.css' />
  <!-- Prototype styles -->
</head>

<body>


<div class="slds-grid">
  <div class="container slds-col">
    <div class="element">element 1</div>
    <div class="element">element 2</div>
    <div class="element">element 3</div>
  </div>

  <div class="slds-col" id="canvas">
      <div class="slds-grid slds-grid_vertical">
        <div class="slds-col container slds-text-align_center">1</div>
        <div class="slds-col container">2</div>
      </div>
  </div>

  <div class="structure slds-col" id="structure">
    struktur
  </div>
</div>


  <style>
    ul,
    .container {
      background: #eee;
      min-width: 200px;
      margin-right: 100px;
      float: left
    }
  </style>


  <script src='/scripts/jquery-3.2.1.min.js'></script>
  <script src='/scripts/jquery-ui.min.js'></script>
  <script src='/scripts/utils.js'></script>
  <script src='/scripts/tether.min.js'></script>
  <script src='/scripts/dragula.min.js'></script>

  <script>
    //var containers = document.getElementsByClassName('container');
    //dragula(containers);

    var containers = $('.container').toArray();

    dragula(containers, {
      copy: true,
      isContainer: function(el) {
        return el.classList.contains('dragme');
      }
    })
    .on('drag', function(el) {
      //el.className = el.className.replace('ex-moved', '');
      console.log("drag");
    }).on('drop', function(el) {
      console.log("drop");
      document.getElementById("structure").innerHTML = document.getElementById("canvas").innerHTML;
      //el.className += ' ex-moved';
    }).on('over', function(el, container) {
      console.log("over");
      //container.className += ' ex-over';
    }).on('out', function(el, container) {
      console.log("out");
      //container.className = container.className.replace('ex-over', '');
    });


    dragula([document.getElementById("structure")])
      .on('drop', function(el) {
        console.log("drop");
        document.getElementById("canvas").innerHTML = document.getElementById("structure").innerHTML;
        //el.className += ' ex-moved';
      });

      dragula([document.getElementById("canvas")])
        .on('drop', function(el) {
          console.log("drop");
          document.getElementById("structure").innerHTML = document.getElementById("canvas").innerHTML;
          //el.className += ' ex-moved';
        });


    /*
    dragula([containers])
      .on('drop', function(el) {
        console.log("drop");
        //document.getElementById("right").innerHTML = document.getElementById("structure").innerHTML;
        //el.className += ' ex-moved';
      });
    */
  </script>





</body>

</html>
