<!DOCTYPE html>
<html lang='en' class='list-view'>

<head>
  <meta charset='utf-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>.: Page Designer :.</title>
  <meta name='robots' content='noindex, nofollow' />
  <link rel='icon' type='image/png' href='/favicon.png' />
  <link rel='stylesheet' href='/styles/index.css' />
  <!-- Prototype styles -->
</head>

<body>

  <ul id="first">
    <li>for first group only</li>
    <li>for first group only</li>
    <li>for first group only</li>
  </ul>

  <ul id="second">
    <li>for second group only</li>
    <li>for second group only</li>
    <li>for second group only</li>
  </ul>

  <ul id="third">
    <li>for third group only</li>
    <li>for third group only</li>
    <li>for third group only</li>
  </ul>



  <style>
    ul{
      background: #eee;
      width: 200px;
      margin-right: 100px;
      float: left
    }
  </style>


  <script src='/scripts/jquery-3.2.1.min.js'></script>
  <script src='/scripts/jquery-ui.min.js'></script>
  <script src='/scripts/utils.js'></script>
  <script src='/scripts/tether.min.js'></script>
  <script src='/scripts/dragula.min.js'></script>
  <!-- script>
    dragula([document.getElementById("left"), document.getElementById("right")], {
        copy: function(el, source) {
          return source === document.getElementById("left")
        },
        accepts: function(el, target) {
          return target !== document.getElementById("left")
        }
      })
      .on('drag', function(el) {
        //el.className = el.className.replace('ex-moved', '');
        console.log("drag");
      }).on('drop', function(el) {
        console.log("drop");
        document.getElementById("structure").innerHTML = document.getElementById("right").innerHTML;
        //el.className += ' ex-moved';
      }).on('over', function(el, container) {
        console.log("over");
        //container.className += ' ex-over';
      }).on('out', function(el, container) {
        console.log("out");
        //container.className = container.className.replace('ex-over', '');
      });


    dragula([document.getElementById("structure")])
      .on('drop', function(el) {
        console.log("drop");
        document.getElementById("right").innerHTML = document.getElementById("structure").innerHTML;
        //el.className += ' ex-moved';
      });
  </script-->

<script>
  var first = '#first';
  var second = '#second';
  var third = '#third';

  var containers = [
    document.querySelector(first),
    document.querySelector(second),
    document.querySelector(third)
  ];


  dragula({
    containers: containers,
    revertOnSpill: true,
    direction: 'vertical',

    copy: function (el, source) {
      return el.className === 'you-may-copy-us';
    },

    accepts: function (el, target, source, sibling) {
        // accept drags only if the drop target is the same
        // as the source container the element came from
        return target == source;
    }
  });


</script>




</body>

</html>
