<ul id="first">
  <li>for first group only</li>
  <li>for first group only</li>
  <li>for first group only</li>
</ul>

<ul id="second">
  <li>for second group only</li>
  <li>for second group only</li>
  <li>for second group only</li>
</ul>

<ul id="third">
  <li>for third group only</li>
  <li>for third group only</li>
  <li>for third
</ul>



<script>
  var first = '#first';
  var second = '#second';
  var third = '#third';

  var containers = [
    document.querySelector(first),
    document.querySelector(second),
    document.querySelector(third)
  ];

  dragula({
    containers: containers,
    revertOnSpill: true,
    direction: 'vertical'
  });

/*
dragula(containers, {
  isContainer: function (el) {
    return false; // only elements in drake.containers will be taken into account
  },
  moves: function (el, source, handle, sibling) {
    return true; // elements are always draggable by default
  },
  accepts: function (el, target, source, sibling) {
    return true; // elements can be dropped in any of the `containers` by default
  },
  invalid: function (el, handle) {
    return false; // don't prevent any drags from initiating by default
  },
  direction: 'vertical',             // Y axis is considered when determining where an element would be dropped
  copy: false,                       // elements are moved by default, not copied
  copySortSource: false,             // elements in copy-source containers can be reordered
  revertOnSpill: false,              // spilling will put the element back where it was dragged from, if this is true
  removeOnSpill: false,              // spilling will `.remove` the element, if this is true
  mirrorContainer: document.body,    // set the element that gets mirror elements appended
  ignoreInputTextSelection: true     // allows users to select input text, see details below
});
*/
</script>


<script src='/scripts/jquery-3.2.1.min.js'></script>
<script src='/scripts/jquery-ui.min.js'></script>
<script src='/scripts/utils.js'></script>
<script src='/scripts/tether.min.js'></script>
<script src='/scripts/dragula.min.js'></script>
