<!--
  Templates leverage Nunjucks, a powerful templating language:
  https://mozilla.github.io/nunjucks/

  # Don't want to use Nunjucks?
    It is entirely optional. Feel free to use normal HTML instead!
-->

<!--
  Extend the global template
-->
{% extends "_template-beta.html" %}

<!--
  Page content (gets injected into the template)
-->
{% block content %}
{% include "_page-header_beta.html" %}
{% include "_include_component_details.html" %}








<div class="page_content">
    <!-- TOP SECTION -->
    <div class="slds-grid slds-border_bottom slds-grid slds-page-header__detail-row slds-m-top_none slds-m-bottom_none slds-grid_vertical-align-top">
      <div class="slds-col slds-p-horizontal_small">
        <!-- LOCALE SELECT -->
          <div class="slds-form-element">
              <label class="slds-form-element__label" for="combobox-unique-id">Locale</label>
              <div class="slds-form-element__control">
                <div class="slds-combobox_container slds-size_xsmall">
                  <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-picklist" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                      <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="All" readonly="">
                      <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                        <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                        </svg>
                        <span class="slds-assistive-text">Description of icon</span>
                      </span>
                    </div>
                    <div id="listbox-unique-id" role="listbox">
                      <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                        <li role="presentation" class="slds-listbox__item">
                          <span id="listbox-option-unique-id-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                            <span class="slds-media__figure">
                              <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                              </svg>
                            </span>
                            <span class="slds-media__body">
                              <span class="slds-truncate" title="Option A"> Option A</span>
                            </span>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
          </div>        
        <!-- /LOCALE SELECT -->
      </div>
      <div class="slds-col slds-p-horizontal_small">
        <!-- CUSTOMER GROUPS SELECT -->
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="combobox-unique-id">Customer Groups</label>
              <div class="slds-form-element__control">
                <div class="slds-combobox_container slds-size_xsmall">
                  <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-picklist" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                      <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Select an Option" readonly="">
                      <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                        <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                        </svg>
                        <span class="slds-assistive-text">Description of icon</span>
                      </span>
                    </div>
                    <div id="listbox-unique-id" role="listbox">
                      <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                        <li role="presentation" class="slds-listbox__item">
                          <span id="listbox-option-unique-id-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                            <span class="slds-media__figure">
                              <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                              </svg>
                            </span>
                            <span class="slds-media__body">
                              <span class="slds-truncate" title="Option A"> Option A</span>
                            </span>
                          </span>
                        </li>
                        <li role="presentation" class="slds-listbox__item">
                          <span id="listbox-option-unique-id-02" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                            <span class="slds-media__figure">
                              <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                              </svg>
                            </span>
                            <span class="slds-media__body">
                              <span class="slds-truncate" title="Option B"> Option B</span>
                            </span>
                          </span>
                        </li>
                        <li role="presentation" class="slds-listbox__item">
                          <span id="listbox-option-unique-id-03" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                            <span class="slds-media__figure">
                              <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                              </svg>
                            </span>
                            <span class="slds-media__body">
                              <span class="slds-truncate" title="Option ABCDEFGHIJKLMNOPQRSTUVWXYZ"> Option ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
                            </span>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>        
        <!-- /CUSTOMER GROUPS SELECT -->
      </div>      
      <div class="slds-col slds-p-horizontal_small slds-hide">
        <!-- DATE SELECT -->
          <div class="slds-form-element slds-dropdown-trigger slds-dropdown-trigger_click slds-is-closed">
            <label class="slds-form-element__label" for="date-input-id">Page is visible</label>
            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
              <input type="text" id="date-input-id" placeholder="Always" class="slds-input">
              <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" title="Select a date">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#event"></use>
                </svg>
                <span class="slds-assistive-text">Select a date</span>
              </button>
            </div>
            <div aria-hidden="false" aria-label="Date picker: June" class="slds-datepicker slds-dropdown slds-dropdown_left" role="dialog">
              <div class="slds-datepicker__filter slds-grid">
                <div class="slds-datepicker__filter_month slds-grid slds-grid_align-spread slds-grow">
                  <div class="slds-align-middle">
                    <button class="slds-button slds-button_icon slds-button_icon-container" title="Previous Month">
                      <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#left"></use>
                      </svg>
                      <span class="slds-assistive-text">Previous Month</span>
                    </button>
                  </div>
                  <h2 aria-atomic="true" aria-live="assertive" class="slds-align-middle" id="month">June</h2>
                  <div class="slds-align-middle">
                    <button class="slds-button slds-button_icon slds-button_icon-container" title="Next Month">
                      <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#right"></use>
                      </svg>
                      <span class="slds-assistive-text">Next Month</span>
                    </button>
                  </div>
                </div>
                <div class="slds-shrink-none">
                  <label class="slds-assistive-text" for="select-01">Pick a Year</label>
                  <div class="slds-select_container">
                    <select class="slds-select" id="select-01">
                      <option>2014</option>
                      <option>2015</option>
                      <option>2016</option>
                    </select>
                  </div>
                </div>
              </div>
              <table aria-labelledby="month" aria-multiselectable="true" class="slds-datepicker__month" role="grid">
                <thead>
                  <tr id="weekdays">
                    <th id="Sunday" scope="col">
                      <abbr title="Sunday">Sun</abbr>
                    </th>
                    <th id="Monday" scope="col">
                      <abbr title="Monday">Mon</abbr>
                    </th>
                    <th id="Tuesday" scope="col">
                      <abbr title="Tuesday">Tue</abbr>
                    </th>
                    <th id="Wednesday" scope="col">
                      <abbr title="Wednesday">Wed</abbr>
                    </th>
                    <th id="Thursday" scope="col">
                      <abbr title="Thursday">Thu</abbr>
                    </th>
                    <th id="Friday" scope="col">
                      <abbr title="Friday">Fri</abbr>
                    </th>
                    <th id="Saturday" scope="col">
                      <abbr title="Saturday">Sat</abbr>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td aria-disabled="true" aria-selected="false" class="slds-disabled-text" role="gridcell">
                      <span class="slds-day">31</span>
                    </td>
                    <td aria-selected="false" role="gridcell" tabindex="0">
                      <span class="slds-day">1</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">2</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">3</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">4</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">5</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">6</span>
                    </td>
                  </tr>
                  <tr>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">7</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">8</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">9</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">10</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">11</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">12</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">13</span>
                    </td>
                  </tr>
                  <tr>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">14</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">15</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">16</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">17</span>
                    </td>
                    <td aria-selected="false" class="slds-is-today" role="gridcell">
                      <span class="slds-day">
                        <span class="slds-assistive-text">Today: </span>18</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">19</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">20</span>
                    </td>
                  </tr>
                  <tr class="">
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">21</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">22</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">23</span>
                    </td>
                    <td aria-selected="false" class="" role="gridcell">
                      <span class="slds-day">24</span>
                    </td>
                    <td aria-selected="false" class="" role="gridcell">
                      <span class="slds-day">25</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">26</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">27</span>
                    </td>
                  </tr>
                  <tr>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">28</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">29</span>
                    </td>
                    <td aria-selected="false" role="gridcell">
                      <span class="slds-day">30</span>
                    </td>
                    <td aria-disabled="true" aria-selected="false" class="slds-disabled-text" role="gridcell">
                      <span class="slds-day">1</span>
                    </td>
                    <td aria-disabled="true" aria-selected="false" class="slds-disabled-text" role="gridcell">
                      <span class="slds-day">2</span>
                    </td>
                    <td aria-disabled="true" aria-selected="false" class="slds-disabled-text" role="gridcell">
                      <span class="slds-day">3</span>
                    </td>
                    <td aria-disabled="true" aria-selected="false" class="slds-disabled-text" role="gridcell">
                      <span class="slds-day">4</span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="7" role="gridcell">
                      <span class="slds-show_inline-block slds-text-link slds-p-bottom_x-small">Today</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>          
        <!-- /DATE SELECT -->
      </div>      
      <div class="slds-p-horizontal_small slds-size_1-of-2 slds-medium-size_5-of-6 slds-large-size_9-of-12">
        <!-- TIMELINE -->
        <div class="slds-form-element">
            <label class="slds-form-element__label" for="combobox-unique-id">Timeline</label>
            <div class="slds-progress-bar slds-progress-bar_x-small" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25%" role="progressbar">
              <span class="slds-progress-bar__value">
                <span class="slds-assistive-text">Range Selected: None</span>
              </span>
            </div>

        </div>
        <!-- /TIMELINE -->
      </div>
    </div>
    <!-- /TOP SECTION -->
    
    <div class="slds-grid">
        <div class="slds-col slds-size_1-of-3 slds-medium-size_1-of-6 slds-large-size_2-of-12 slds-border_right 2slds-panel slds-m-right_none" style="min-height:800px">

          <div class="slds-grid">
            <div class="slds-col slds-p-around_medium slds-text-align_center"  id="tab_menu_components">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#puzzle"></use>
                </svg>
            </div>
            <div class="slds-col slds-p-around_medium background_inactive slds-text-align_center"  id="tab_menu_navigator">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#summary"></use>
                </svg>
            </div>
          </div>
          <!-- TOOLS AREA -->
            <div class="init slds-p-around_small 2slds-panel" id="menu_components">
              <!-- COMPONENTS -->
                <div class="slds-p-bottom_small">
                    <span class="slds-media slds-listbox__option slds-listbox__option_plain">
                    <h3 class="slds-text-title_caps" role="presentation">Media Components</h3>
                    </span>                          
                </div>
                <div id="text1" class="block slide">
                    <!-- SMALL -->
                    <div class="small slds-p-around_small">
                            <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                            <svg class="slds-icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                            </svg>
                            <span class="slds-assistive-text">Description of icon</span>
                            </span>
                            <span class="slds-truncate" title="Table View">Simple Banner</span>
                    </div>
                    <!-- /SMALL -->
                    <!-- LARGE -->              
                    <div class="slds-hide large slds-p-around_small slds-grid">        
                        <div class="slds-col">
                            <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                                <svg class="slds-icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                                </svg>
                                <span class="slds-assistive-text">Description of icon</span>
                            </span>
                            <span class="slds-truncate" title="Table View">Simple Banner</span>
                        </div>
                        <div class="slds-col_bump-left">
                            <div class="slds-button-group" role="group">
                            <button class="slds-button slds-button_icon slds-button_icon-border" aria-pressed="false" title="Edit" id="edit_this">
                                <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                                </svg>
                                <span class="slds-assistive-text">Edit A</span>
                            </button>
                            <button class="slds-hide slds-button slds-button_icon slds-button_icon-border" aria-pressed="false" title="Copy">
                                <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#copy"></use>
                                </svg>
                                <span class="slds-assistive-text">Duplicate</span>
                            </button>
                            <button class="slds-button slds-button_icon slds-button_icon-more delete_component" aria-haspopup="true" title="Delete">
                                <svg class="slds-button__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                                </svg>
                                <span class="slds-assistive-text">Provide description of action</span>
                            </button>
                            </div>            
                        </div>            

                    </div>
                    <!-- /LARGE -->                            
                    <!-- CONTENT -->              
                    <div class="slds-hide content image slds-p-around_small slds-grid">
                    </div>
                    <!-- /CONTENT -->
                </div>
              <!-- /COMPONENTS -->
            </div>
            <div class="init slds-p-around_small 2slds-panel slds-hide" id="menu_navigator">
              <!-- NAVIGATOR -->
                <div id="tab-default-2" class="slds-tabs_default__content slds-hide slds-show dom-tree" role="tabpanel" aria-labelledby="tab-default-2__item">
                    <ul>
                        <li class="ui-block slds-theme_shade slds-box slds-box_x-small">Body</li>
                        <ul class="slds-is-nested">
                            <li class="ui-block slds-theme_shade slds-box slds-box_x-small slds-m-top_small">Text Block</li>
                        </ul>    
                    </ul>
                </div>
              <!-- /NAVIGATOR -->
            </div>
          <!-- /TOOLS AREA -->  

        </div>



        <div class="slds-col slds-size_1-of-3 slds-medium-size_5-of-6 slds-large-size_10-of-12">
            <!-- REGION 1 -->
            <div class="slds-grid slds-border_bottom slds-m-top_none region" id="Region_1">
              <div class="region_marker"><span class="slds-p-around_small slds-text-body_small">Region 1</span></div>
                <div class="list slds-col slds-border-top slds-border-left slds-border-right slds-border-bottom"></div>
                <div id="helper"></div>

            {#
            <div class="slds-col slds-align_absolute-center slds-m-around_none">
                <div class="slds-context-bar__icon-action slds-dropdown-trigger slds-dropdown-trigger--click  slds-p-around_medium" aria-expanded="true">
                    <button class="slds-button slds-button--icon-container slds-button_icon-border slds-button_icon-border-filled" aria-haspopup="true" title="Add Component" id="Region_1_Add">
                        <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                        </svg>
                        <span class="slds-assistive-text">Add Components</span>
                    </button>
                    <div class="slds-dropdown slds-dropdown--center slds-dropdown—fluid slds-nubbin_top slds-dropdown_large slds-p-around_small">
                        <!-- SEARCH -->
                        <div class="slds-form-element">
                        <label class="slds-form-element__label slds-assistive-text" for="combobox-unique-id">Search</label>
                        <div class="slds-form-element__control">
                            <div class="slds-combobox_container">
                            <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                                <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                                <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="">
                                <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                                    <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Description of icon</span>
                                </span>
                                </div>                    
                            </div>
                            </div>
                        </div>
                        </div>
                        <!-- /SEARCH -->

                        <ul class="slds-dropdown__list" role="menu">
                        <li class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
                            <span class="slds-text-title_caps">Banners</span>
                        </li>                
                        <li class="slds-dropdown__item" role="presentation">
                            <a href="javascript:void(0);" class="show_component" role="menuitem" class="show_component"  tabindex="0">
                            <span class="slds-truncate" title="Table View">Simple Banner</span>
                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                            </svg>
                            </a>
                        </li>
                        <li class="slds-dropdown__item" role="presentation">
                            <a href="javascript:void(0);" role="menuitem" class="show_component"  tabindex="-1">
                            <span class="slds-truncate" title="Kanban Board">Info Banner</span>
                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                            </svg>
                            </a>
                        </li>
                        <li class="slds-dropdown__item" role="presentation">
                            <a href="javascript:void(0);" role="menuitem" class="show_component"  tabindex="-1">
                            <span class="slds-truncate" title="List View">Interactive Banner</span>
                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                            </svg>
                            </a>
                        </li>
                        </ul>
                        
                    </div>
                </div>      
            </div>
            #}
            </div>
            <!-- /REGION 1 -->

            <!-- REGION 2 -->
            <div class="slds-grid slds-border_bottom slds-m-top_none region" id="Region_2">
              <div class="region_marker"><span class="slds-p-around_small slds-text-body_small">Region 2</span></div>
                <div class="list slds-col slds-border-top slds-border-left slds-border-right slds-border-bottom"></div>
                <div id="helper"></div>

            {#
            <div class="slds-col slds-align_absolute-center slds-m-around_none">            
                <div class="slds-context-bar__icon-action slds-dropdown-trigger slds-dropdown-trigger--click  slds-p-around_medium" aria-expanded="true">
                    <button class="slds-button slds-button--icon-container slds-button_icon-border slds-button_icon-border-filled" aria-haspopup="true" title="Add Component" id="Region_1_Add">
                        <svg class="slds-button__icon" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                        </svg>
                        <span class="slds-assistive-text">Add Components</span>
                    </button>
                    <div class="slds-dropdown slds-dropdown--center slds-dropdown—fluid slds-nubbin_top slds-dropdown_large slds-p-around_small">
                        <!-- SEARCH -->
                        <div class="slds-form-element">
                        <label class="slds-form-element__label slds-assistive-text" for="combobox-unique-id">Search</label>
                        <div class="slds-form-element__control">
                            <div class="slds-combobox_container">
                            <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                                <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                                <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="">
                                <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                                    <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Description of icon</span>
                                </span>
                                </div>                    
                            </div>
                            </div>
                        </div>
                        </div>
                        <!-- /SEARCH -->

                        <ul class="slds-dropdown__list" role="menu">
                        <li class="slds-dropdown__header slds-truncate" title="Menu Sub Heading" role="separator">
                            <span class="slds-text-title_caps">Banners</span>
                        </li>                
                        <li class="slds-dropdown__item" role="presentation">
                            <a href="javascript:void(0);" role="menuitem" class="show_component"  tabindex="0">
                            <span class="slds-truncate" title="Table View">Simple Banner</span>
                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                            </svg>
                            </a>
                        </li>
                        <li class="slds-dropdown__item" role="presentation">
                            <a href="javascript:void(0);" role="menuitem" class="show_component"  tabindex="-1">
                            <span class="slds-truncate" title="Kanban Board">Info Banner</span>
                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                            </svg>
                            </a>
                        </li>
                        <li class="slds-dropdown__item" role="presentation">
                            <a href="javascript:void(0);" role="menuitem" class="show_component"  tabindex="-1">
                            <span class="slds-truncate" title="List View">Interactive Banner</span>
                            <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-left_small slds-shrink-none" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#image"></use>
                            </svg>
                            </a>
                        </li>
                        </ul>
                        
                    </div>
                </div>      
            </div>
            #}
            </div>
            <!-- /REGION 2 -->
        </div>
        <!-- div class="slds-col slds-size_1-of-3 slds-medium-size_1-of-6 slds-large-size_3-of-12 slds-panel slds-border_left slds-theme_shade"></div -->
    </div>

  <!-- iframe src="http://puma.com/de/de/select/stampd" width="100%" height="100%" style="border: 0; height: calc(100vh - 195px); pointer-events: none;"></iframe -->
  <!-- <iframe src="composer_files/saved_resource.html" width="100%" height="100%" style="border: 0; height: calc(100vh - 195px); pointer-events: none;"></iframe>   -->
</div>


<style>
#sidebar{
  z-index: 10000;
  /*background: #fff;*/
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30%;
  height: 100%;
  min-width: 300px;
  /*box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.16);*/
}
#sidebar div.slds-panel{
  height:100%;
}

.region{
    border: 1px solid rgba(74, 144, 226, 0.5);
}

.region:hover{
    border: 1px solid rgba(74, 144, 226, 1.0);
}

.selected{

}

.ui-draggable-helper{

}


.block.ui-draggable.ui-draggable-handle.block_dropped {
    background: #fff;
    /*border: 1px dashed blue;*/
    border-bottom: 1px dashed #d8edff;
}


.ui-sortable-helper {
  transition: none !important;
  animation: pulse 0.4s alternate infinite;
}

.sortable-placeholder {
  height: 60px;
  width: 5px;
  border-left: 2px solid #4999DA; 
  margin: 0 0 0.75rem 0;
  position: relative;
  z-index: 6;
}

@keyframes pulse {
  100% { transform: scale(1.1); } 
}

.cloned-slides {
  .slide {
    position: absolute;
    z-index: 1;
    &:before {
      content: attr(data-pos);
    }
  }
}
.content .image{
  min-height: 120px;
  background:yellow;
}

#menu_components:hover,
#menu_navigator:hover{
  cursor:pointer;
}


.region_marker{
    position: absolute;
    z-index: 1000;
    background: #0070d2;
    padding: 3px;
    color: #fff;
    opacity: 0.5;
    left: 55%;
}

.background_inactive{
  background: #e0e5ee;
}


.list{
  min-height: 50px;
}


.component-menu{
  position:absolute;
  margin-left: 49%;
  z-index:10000;
}

</style>





{% endblock %}




