<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Salesforce Commerce Cloud - Commerce Selector</title>
  <meta name="robots" content="noindex, nofollow">
  <link rel="icon" type="image/png" href="/favicon.png">
  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
  <div class="slds-layout-frame"></div>
  <div id="select-product-23">
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-list-builder" aria-labelledby="id-of-modalheader-h2" aria-describedby="modal-content-id-1">
      <div class="slds-modal__container">
        <header class="slds-modal__header">
          <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse hrhr-1 show_component" title="Close">
            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2 id="id-of-modalheader-h2" class="slds-text-heading_medium">Select Assignments</h2>
        </header>
        <div class="slds-modal__content">
          <div class="slds-p-vertical_x-small slds-p-horizontal_medium slds-shrink-none slds-theme_shade slds-border_bottom" id="select-search">
            <div class="slds-form-element">
              <label class="slds-form-element__label slds-assistive-text" for="combobox-unique-id">Search</label>
              <div class="slds-form-element__control">
                <div class="slds-combobox_container">
                  <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                      <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id2" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Search by name or ID">
                      <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right" title="Description of icon when needed">
                        <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                        </svg>
                        <span class="slds-assistive-text">Description of icon</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slds-grid">
            <div class="slds-col">
              <div id="empty-state" class="">
                <img id="placeholder-img" class="slds-align_absolute-center slds-m-top_medium slds-m-bottom_xx-large" src="assets/empty-2.svg">
                <p id="empty-state-text" class="slds-text-heading_large slds-text-align_center slds-m-bottom_large" style="width: 100%;">Start a search for products.</p>
              </div>
            </div>
          </div>
        </div>
        <footer class="slds-modal__footer">
          <button class="slds-button slds-button_neutral hrhr-1">Cancel</button>
          <button class="slds-button slds-button_brand hrhr-1" disabled="" id="assign-success">Select</button>
        </footer>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open "></div>
  </div>
</body>

</html>
