<!DOCTYPE html>
<html lang="en" class="list-view">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>.: Page Designer :.</title>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/styles/index.css"/>
    <!-- Prototype styles -->
  </head>

  <body>

    {% include "_inc_builder-popover-previewsettings.html" %}
    <main class="app-wrapper">
        {% include "_inc_modal-delete-component-4.html" %}
        {% include "_inc_modal_media-picker.html" %}
        {% include "_inc_modal_category-picker.html" %}
        {% include "_inc_modal_page-settings.html" %}
        {% include "_inc_modal_page-publish.html" %}

        {% include "_inc_modal_code-view.html" %}
        {% include "_inc_locale-warning.html" %}

        <!-- BUILDER HEADER -->
        {% include "_inc_builder-header.html" %}
        <!-- /BUILDER HEADER -->

        <div id="builder" class="slds-grid slds-col">
            <div id="pd-menu" class="slds-hide">
              {% include "_inc_pd-menu.html" %}
            </div>
            <div id="panel_editor" class="slds-hide modal">
                <!-- PANEL EDITOR RIGHT -->
                {% include "_inc_builder-panel-editor.html" %}
                <!-- /PANEL EDITOR  RIGHT -->
            </div>


            <div id="canvas" class="slds-hide slds-col slds-text-align_top slds-p-around_small slds-scrollable_y slds-grid_vertical-align-top">
                  <!--div class="slds-drop-zone_drag__slot"-->
                    {% include "_inc_header-editor.html" %}
                    <!--div 3class="slds-align_absolute-center slds-col slds-grid slds-grid_vertical-align-start" class="2slds-align_absolute-center slds-m-top_medium slds-m-left_none"-->
                    <div class="2slds-align_absolute-center slds-col slds-grid">
                        <!-- EDITOR REGION 1 -->
                        <div class="region" id="region1" style="width:100%">
                          <!-- CANVAS -->
                          <div class="demo-only" style="padding-top:2rem">
                            <div class="dropzone" id="dropzone1">
                              <div class="slds-drop-zone__label">
                                <div class="slds-media slds-media_center">
                                  <div class="slds-media__figure">
                                    <span class="slds-icon_container slds-icon-utility-builder slds-current-color">
                                      <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#builder"></use>
                                      </svg>
                                    </span>
                                  </div>
                                  <div class="slds-media__body">
                                    <h2>Region 1</h2>
                                  </div>
                                </div>
                              </div>

                              <div class="list-group slds-col slds-grid_vertical edit-mode" style="">
                                  <ul id="listEditor" class="connected sortable listCenter slds-grid slds-grid_vertical slds-col ui-sortable"  style="min-height:40px;">

                                  </ul>
                              </div>

                            </div>
                          </div>
                          <!-- /CANVAS -->
                        </div>
                        <!-- /EDITOR REGION 1 -->


                      </div>
                    <!--/div-->
                    {% include "_inc_footer-editor.html" %}
                </div>

    </div>



    <!--ul id="listEditor" class="connected sortable listCenter">
    </ul-->


    <ul id="listStructure" class="sortable listRight">
    </ul>





    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/jquery-ui.min.js'></script>
    <script src='/scripts/utils.js'></script>
    <script src='/scripts/tether.min.js'></script>
    {% include '_inc_js-2.html' %}
    <script>
    var clone, before, parent
    $('.sortable').sortable({
        connectWith: '.sortable',
        helper: "clone",
        start: function (event, ui) {
            $(ui.item).show();
            clone = $(ui.item).clone();

            before = $(ui.item).prev();
            parent = $(ui.item).parent();
        },
        receive: function (event, ui) {
            //only when dropped from one to another!
            if (before.length) before.after(clone);
            else parent.prepend(clone);
            console.log('dropped something in the center');
            document.querySelector('#listStructure').innerHTML = document.querySelector('#listEditor').innerHTML;
        }

    }).disableSelection();

    /*

    $('.listCenter').sortable({
      stop: function( event, ui ) {
        console.log('sorted in the center');
        document.querySelector('#listStructure').innerHTML = document.querySelector('#listEditor').innerHTML;
      }
    }).disableSelection();

    $('.listSub').sortable({
      stop: function( event, ui ) {
        console.log('sorted sub elements in the center');
        //document.querySelector('#listStructure').innerHTML = document.querySelector('#listEditor').innerHTML;
      }
    }).disableSelection();

    $('#listStructure').sortable({
      stop: function( event, ui ) {
        console.log('sorted at the right side');
        document.querySelector('#listEditor').innerHTML = document.querySelector('#listStructure').innerHTML;
      }
    }).disableSelection();

    */
    </script>

    <style>

      .listLeft, .listCenter, .listRight{
        /*
        width: 200px;
        float: left;
        margin-right: 20px;
        border: 1px solid red;
        */
      }

      #listEditor .component, #listEditor .structure{
        display: none;
      }
      #listTools ., #listTools .structure{
        display: none;
      }
      #page_structure ., #page_structure .component{
        display: none;
      }
      #listTools li:hover,
      .region li:hover,
      #page_structure li:hover{
        cursor: grab;
      }

      .sortable1{
        width: 300px;
        float: left;
      }

      .sortable2{
        width: 300px;
        float: left;
      }

      #tools .listSub{
        display: none;
      }
      #listEditor .listSub{
        float: left;
      }

      li{
        /*margin-left: 10px;*/
      }

      ul{
        /*margin-left: 20px;*/
        min-height: 20px;
        /*border: 1px solid blue;*/
      }
      .listSub{
        background: green;
        min-width: 20px;
      }
    </style>

  </body>




</html>
