<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salesforce Lightning Design System Starter Kit</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-container--center slds-container_large">
    <div class="banner">
    <div class="content">

    <!-- <img src="http://www.stevensegallery.com/400/400" /> -->
    <div class="">Headline</div>
    <div class="">Subline</div>
  </div>
  </div>
  </div>

  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
