<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salesforce Lightning Design System Starter Kit</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>

<body>
  <div class="slds-container--center slds-container_x-large">
    <div class="slds-grid slds-wrap slds-gutters_x-small">

      {% for one in shared.banner %}
      <div class="banner slds-col slds-size_1-of-1 slds-medium-size_3-of-3">
        <div class="boxed" style="background-image: url('{{ one.img }}')">
          <div class="content">
            <div class="slds-text-heading_large">{{ one.headline }}</div>
            <div class="slds-text-heading_small">{{ one.sub }}</div>
          </div>
        </div>
      </div>
      {% endfor %}

      {% for square in shared.squares %}
      <div class="square slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
        <div class="boxed" style="background-image: url('{{ square.img }}')">
          <div class="content">
            <div class="slds-text-heading_medium">{{ square.headline }}</div>
            <div class="slds-text-heading_small">{{ square.sub }}</div>
          </div>
        </div>
      </div>
      {% endfor %}

      {% for rect in shared.rects %}
      <div class="rect slds-col slds-size_1-of-1 slds-medium-size_2-of-4">
        <div class="boxed" style="background-image: url('{{ rect.img }}')">
          <a href="{{ rect.url }}" title="{{ rect.headline }}">
            <div class="content">
              <div class="slds-text-heading_medium">{{ rect.headline }}</div>
              <div class="slds-text-heading_small">{{ rect.sub }}</div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}

      {% for slot in shared.slots %}
      <div class="slot slds-col slds-size_1-of-2 slds-medium-size_1-of-4">
        <div class="boxed" style="background-image: url('{{ slot.img }}')">
          <div class="content">
            <div class="slds-text-heading_medium">{{ slot.headline }}</div>
            <div class="slds-text-heading_small">{{ rect.sub }}</div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>

</html>