<!DOCTYPE html>
<html lang="en" class="list-view">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>.: Page List :.</title>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <!-- Prototype styles -->
    <link rel="stylesheet" href="/styles/index.css"/>
  </head>

  <body>
    <div class="main slds-theme_shade">
      <h1 class="slds-text-heading_small slds-p-around_small"><a href="error-entirepage_list.html" target="_blank">Error entire page - List View</a></h1>
      <h1 class="slds-text-heading_small slds-p-around_small"><a href="error-component_list.html" target="_blank">Error component - List View</a></h1>
      <h1 class="slds-text-heading_small slds-p-around_small"><a href="error-component_detail.html" target="_blank">Error component - Detail View</a></h1>
    </div>






  </body>

</html>
