<!--
  Templates leverage Nunjucks, a powerful templating language:
  https://mozilla.github.io/nunjucks/

  # Don't want to use Nunjucks?
    It is entirely optional. Feel free to use normal HTML instead!
-->

<!--
  Extend the global template
-->
{% extends "_template.html" %}

<!--
  Page content (gets injected into the template)
-->
{% block content %}

{% include "_page-header-filtered.html" %}

<div class="content-frame-container slds-grow">
<div class="content-frame slds-scrollable_y">
<h1>Look, last night was a mistake.</h1>
<p>No! Don't jump! You know the worst thing about being a slave? They make you work, but they don't pay you or let you go. But, like most politicians, he promised more than he could deliver. Or a guy who burns down a bar for the insurance money!</p>
<p>We're also Santa Claus! And I'd do it again! And perhaps a third time! But that would be it. <strong> Do a flip!</strong> <em> No!</em> Don't jump!</p>
<h2>I videotape every customer that comes in here, so that I may blackmail them later.</h2>
<p>Bender, hurry! This fuel's expensive! Also, we're dying! Anyhoo, your net-suits will allow you to experience Fry's worm infested bowels as if you were actually wriggling through them. Would you censor the Venus de Venus just because you can see her spewers?</p>
<ol>
<li>No, I'm Santa Claus!</li><li>If rubbin' frozen dirt in your crotch is wrong, hey I don't wanna be right.</li><li>The alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate.</li>
</ol>

<h3>You'll have all the Slurm you can drink when you're partying with Slurms McKenzie!</h3>
<p>The key to victory is discipline, and that means a well made bed. You will practice until you can make your bed in your sleep. Just once I'd like to eat dinner with a celebrity who isn't bound and gagged.</p>
<ul>
<li>Oh God, what have I done?</li><li>And until then, I can never die?</li><li>Ah, computer dating. It's like pimping, but you rarely have to use the phrase "upside your head."</li>
</ul>

<p>It doesn't look so shiny to me. Pansy. No! Don't jump! Wow! A superpowers drug you can just rub onto your skin? You'd think it would be something you'd have to freebase. Fatal.</p>
<p>Anyhoo, your net-suits will allow you to experience Fry's worm infested bowels as if you were actually wriggling through them. I'm a thing. Now Fry, it's been a few years since medical school, so remind me. Disemboweling in your species: fatal or non-fatal?</p>
<p>Ah, yes! John Quincy Adding Machine. He struck a chord with the voters when he pledged not to go on a killing spree. Now, now. Perfectly symmetrical violence never solved anything. So I really am important? How I feel when I'm drunk is correct?</p>
<p>We don't have a brig. I saw you with those two "ladies of the evening" at Elzars. Explain that. You wouldn't. Ask anyway! And when we woke up, we had these bodies.</p>
<p>Hey, you add a one and two zeros to that or we walk! Also Zoidberg. Then throw her in the laundry room, which will hereafter be referred to as "the brig". Bender! Ship! Stop bickering or I'm going to come back there and change your opinions manually!</p>
<p>Oh, how I wish I could believe or understand that! There's only one reasonable course of action now: kill Flexo! Fetal stemcells, aren't those controversial? Uh, is the puppy mechanical in any way? Leela, Bender, we're going grave robbing.</p>
<p>Maybe I love you so much I love you no matter who you are pretending to be. Does anybody else feel jealous and aroused and worried? Yes, except the Dave Matthews Band doesn't rock. Oh God, what have I done?</p>
<p>Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! I meant 'physically'. Look, perhaps you could let me work for a little food? I could clean the floors or paint a fence, or service you sexually?</p>
<p>You're going back for the Countess, aren't you? Tell her she looks thin. Oh, but you can. But you may have to metaphorically make a deal with the devil. And by "devil", I mean Robot Devil. And by "metaphorically", I mean get your coat.</p>
<p>Who's brave enough to fly into something we all keep calling a death sphere? Oh Leela! You're the only person I could turn to; you're the only person who ever loved me. We're rescuing ya. Bender! Ship! Stop bickering or I'm going to come back there and change your opinions manually!</p>
<p>Then we'll go with that data file! Oh, all right, I am. But if anything happens to me, tell them I died robbing some old man. A true inspiration for the children. I can explain. It's very valuable.</p>
<h1>Look, last night was a mistake.</h1>
<p>No! Don't jump! You know the worst thing about being a slave? They make you work, but they don't pay you or let you go. But, like most politicians, he promised more than he could deliver. Or a guy who burns down a bar for the insurance money!</p>
<p>We're also Santa Claus! And I'd do it again! And perhaps a third time! But that would be it. <strong> Do a flip!</strong> <em> No!</em> Don't jump!</p>
<h2>I videotape every customer that comes in here, so that I may blackmail them later.</h2>
<p>Bender, hurry! This fuel's expensive! Also, we're dying! Anyhoo, your net-suits will allow you to experience Fry's worm infested bowels as if you were actually wriggling through them. Would you censor the Venus de Venus just because you can see her spewers?</p>
<ol>
<li>No, I'm Santa Claus!</li><li>If rubbin' frozen dirt in your crotch is wrong, hey I don't wanna be right.</li><li>The alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate.</li>
</ol>

<h3>You'll have all the Slurm you can drink when you're partying with Slurms McKenzie!</h3>
<p>The key to victory is discipline, and that means a well made bed. You will practice until you can make your bed in your sleep. Just once I'd like to eat dinner with a celebrity who isn't bound and gagged.</p>
<ul>
<li>Oh God, what have I done?</li><li>And until then, I can never die?</li><li>Ah, computer dating. It's like pimping, but you rarely have to use the phrase "upside your head."</li>
</ul>

<p>It doesn't look so shiny to me. Pansy. No! Don't jump! Wow! A superpowers drug you can just rub onto your skin? You'd think it would be something you'd have to freebase. Fatal.</p>
<p>Anyhoo, your net-suits will allow you to experience Fry's worm infested bowels as if you were actually wriggling through them. I'm a thing. Now Fry, it's been a few years since medical school, so remind me. Disemboweling in your species: fatal or non-fatal?</p>
<p>Ah, yes! John Quincy Adding Machine. He struck a chord with the voters when he pledged not to go on a killing spree. Now, now. Perfectly symmetrical violence never solved anything. So I really am important? How I feel when I'm drunk is correct?</p>
<p>We don't have a brig. I saw you with those two "ladies of the evening" at Elzars. Explain that. You wouldn't. Ask anyway! And when we woke up, we had these bodies.</p>
<p>Hey, you add a one and two zeros to that or we walk! Also Zoidberg. Then throw her in the laundry room, which will hereafter be referred to as "the brig". Bender! Ship! Stop bickering or I'm going to come back there and change your opinions manually!</p>
<p>Oh, how I wish I could believe or understand that! There's only one reasonable course of action now: kill Flexo! Fetal stemcells, aren't those controversial? Uh, is the puppy mechanical in any way? Leela, Bender, we're going grave robbing.</p>
<p>Maybe I love you so much I love you no matter who you are pretending to be. Does anybody else feel jealous and aroused and worried? Yes, except the Dave Matthews Band doesn't rock. Oh God, what have I done?</p>
<p>Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! I meant 'physically'. Look, perhaps you could let me work for a little food? I could clean the floors or paint a fence, or service you sexually?</p>
<p>You're going back for the Countess, aren't you? Tell her she looks thin. Oh, but you can. But you may have to metaphorically make a deal with the devil. And by "devil", I mean Robot Devil. And by "metaphorically", I mean get your coat.</p>
<p>Who's brave enough to fly into something we all keep calling a death sphere? Oh Leela! You're the only person I could turn to; you're the only person who ever loved me. We're rescuing ya. Bender! Ship! Stop bickering or I'm going to come back there and change your opinions manually!</p>
<p>Then we'll go with that data file! Oh, all right, I am. But if anything happens to me, tell them I died robbing some old man. A true inspiration for the children. I can explain. It's very valuable.</p>
<h1>Look, last night was a mistake.</h1>
<p>No! Don't jump! You know the worst thing about being a slave? They make you work, but they don't pay you or let you go. But, like most politicians, he promised more than he could deliver. Or a guy who burns down a bar for the insurance money!</p>
<p>We're also Santa Claus! And I'd do it again! And perhaps a third time! But that would be it. <strong> Do a flip!</strong> <em> No!</em> Don't jump!</p>
<h2>I videotape every customer that comes in here, so that I may blackmail them later.</h2>
<p>Bender, hurry! This fuel's expensive! Also, we're dying! Anyhoo, your net-suits will allow you to experience Fry's worm infested bowels as if you were actually wriggling through them. Would you censor the Venus de Venus just because you can see her spewers?</p>
<ol>
<li>No, I'm Santa Claus!</li><li>If rubbin' frozen dirt in your crotch is wrong, hey I don't wanna be right.</li><li>The alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate.</li>
</ol>

<h3>You'll have all the Slurm you can drink when you're partying with Slurms McKenzie!</h3>
<p>The key to victory is discipline, and that means a well made bed. You will practice until you can make your bed in your sleep. Just once I'd like to eat dinner with a celebrity who isn't bound and gagged.</p>
<ul>
<li>Oh God, what have I done?</li><li>And until then, I can never die?</li><li>Ah, computer dating. It's like pimping, but you rarely have to use the phrase "upside your head."</li>
</ul>

<p>It doesn't look so shiny to me. Pansy. No! Don't jump! Wow! A superpowers drug you can just rub onto your skin? You'd think it would be something you'd have to freebase. Fatal.</p>
<p>Anyhoo, your net-suits will allow you to experience Fry's worm infested bowels as if you were actually wriggling through them. I'm a thing. Now Fry, it's been a few years since medical school, so remind me. Disemboweling in your species: fatal or non-fatal?</p>
<p>Ah, yes! John Quincy Adding Machine. He struck a chord with the voters when he pledged not to go on a killing spree. Now, now. Perfectly symmetrical violence never solved anything. So I really am important? How I feel when I'm drunk is correct?</p>
<p>We don't have a brig. I saw you with those two "ladies of the evening" at Elzars. Explain that. You wouldn't. Ask anyway! And when we woke up, we had these bodies.</p>
<p>Hey, you add a one and two zeros to that or we walk! Also Zoidberg. Then throw her in the laundry room, which will hereafter be referred to as "the brig". Bender! Ship! Stop bickering or I'm going to come back there and change your opinions manually!</p>
<p>Oh, how I wish I could believe or understand that! There's only one reasonable course of action now: kill Flexo! Fetal stemcells, aren't those controversial? Uh, is the puppy mechanical in any way? Leela, Bender, we're going grave robbing.</p>
<p>Maybe I love you so much I love you no matter who you are pretending to be. Does anybody else feel jealous and aroused and worried? Yes, except the Dave Matthews Band doesn't rock. Oh God, what have I done?</p>
<p>Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! I meant 'physically'. Look, perhaps you could let me work for a little food? I could clean the floors or paint a fence, or service you sexually?</p>
<p>You're going back for the Countess, aren't you? Tell her she looks thin. Oh, but you can. But you may have to metaphorically make a deal with the devil. And by "devil", I mean Robot Devil. And by "metaphorically", I mean get your coat.</p>
<p>Who's brave enough to fly into something we all keep calling a death sphere? Oh Leela! You're the only person I could turn to; you're the only person who ever loved me. We're rescuing ya. Bender! Ship! Stop bickering or I'm going to come back there and change your opinions manually!</p>
<p>Then we'll go with that data file! Oh, all right, I am. But if anything happens to me, tell them I died robbing some old man. A true inspiration for the children. I can explain. It's very valuable.</p>
</div>


</div>

{% endblock %}
