<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Commerce Cloud Meta Tags - Designed by Christian Mücke</title>
  <meta name="robots" content="noindex, nofollow" />
  <meta name="author" content="Christian Mücke">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
  <div class="slds-layout-frame">
    <div class="slds-layout">
      <div class="slds-layout-header">
        {% include "_header.html" %}
        <div class="app-header-placeholder"></div>
        {% include "_nav-menu.html" %}
      </div>
        <div class="slds-grid slds-grid_vertical slds-brand-band slds-brand-band_medium slds-template_default slds-template_bottom-magnet">
          {% include "_page-header.html" %}

          <div class="slds-has-top-magnet slds-grid slds-grow" style="overflow-x: hidden;">
            <div class="slds-grow slds-grid layout-table-fix">
              <div class="slds-scrollable_y" id="grid-content">
                {% include "_table-data.html" %}
              </div>
              <div id="filtersection" class="slds-border--left">
                <div class="slds-scrollable_y" id="filters">
                  {% include "_filter.html" %}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>


    {% include "_modal-app-launcher.html" %}
    {% include "_popover-mega.html" %}
    {% include "_popover-mega-ad.html" %}
    {% include "_page-header-menu.html" %}
    <script src="/scripts/tether.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/vendor/svg4everybody.min.js"></script>
    <script>
    svg4everybody();

    </script>
    <script type="text/javascript">
    $(document).ready(function() {

      $('#trigger-mega').click(function() {
        $('#mega2:not(.slds-hide)').toggleClass('slds-hide');
        $('#mega').toggleClass('slds-hide');
        new Tether({
          element: '#mega',
          target: '#trigger-mega',
          attachment: 'top left',
          targetAttachment: 'bottom center',
          targetOffset: '3px -310px'
        });
      });

      $('#trigger-admin').click(function() {
        $('#mega:not(.slds-hide)').toggleClass('slds-hide');
        $('#mega2').toggleClass('slds-hide');
        new Tether({
          element: '#mega2',
          target: '#trigger-admin',
          attachment: 'top left',
          targetAttachment: 'bottom center',
          targetOffset: '3px -445px'
        });
      });

    });

    </script>
</body>

</html>
