<!DOCTYPE html>
<html>
<head>
	<title>.:4:.</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/styles/index.css" />
    
    <style>
    #nav-bar-wrapper {
        display: flex;
        position: relative;
        width: 100%;
        height: 6rem;
        padding: 0 4rem;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
        transition: opacity .3s cubic-bezier(.38,.41,.27,1),height .3s cubic-bezier(.38,.41,.27,1),visibility .3s;
        background: #fff;
    }    
    @media only screen and (min-width: 768px)
        #nav-bar-wrapper {
            padding: 0 4rem;
            height: 12rem;
        }
    
    </style>
</head>
<body>

	<html>
	    <head>
	        <link rel="stylesheet" href="menu.css">
	    </head>
	    <body>
            
            <nav>
                <div id="nav-bar-wrapper">
                    <a href="/" class="logo"><img src="/assets/logo-alpine-group.svg" /></a>
                    <ul class="nav-items slds-list_horizontal">
                        <li><a href="#dont">Alpine Nutrition</a></li>
                        <li><a href="#forget">Alpine Energy</a></li>
                        <li><a href="#forget">Alpine Blends</a></li>
                        <li><a href="#forget">Alpine Machinery</a></li>
                    </ul>
                    <div id="icon-search">
						<a href="#dont">
							<span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
							<svg class="slds-icon slds-icon-text-default slds-icon_small" aria-hidden="true">
							<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
							</svg>
							<span class="slds-assistive-text">Description of icon when needed</span>
							</span>						
						</a>
                    </div>
                    <div id="icon-user">
						<a href="#dont">
							<span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
							<svg class="slds-icon slds-icon-text-default slds-icon_small" aria-hidden="true">
							<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#user"></use>
							</svg>
							<span class="slds-assistive-text">Description of icon when needed</span>
							</span>						
						</a>
                    </div>
                    <div id="icon-cart">
						<a href="#dont">
							<span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
							<svg class="slds-icon slds-icon-text-default slds-icon_small" aria-hidden="true">
							<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#cart"></use>
							</svg>
							<span class="slds-assistive-text">Description of icon when needed</span>
							</span>						
						</a>
                    </div>
                </div>
            </nav>
            
            
            
            
            {#
	        <header class="header">
				<input class="menu-btn" type="checkbox" id="menu-btn" />
				<label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
				<a href="/" class="logo"><img src="/assets/logo-alpine-group.svg" /></a>
				<ul class="menu">
	                <li><a href="#dont">Alpine Nutrition</a></li>
	                <li><a href="#forget">Alpine Energy</a></li>
					<li><a href="#forget">Alpine Blends</a></li>
					<li><a href="#forget">Alpine Machinery</a></li>
	            </ul>
                
				<ul class="user">
	                <li>
						<a href="#dont">
							<span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
							<svg class="slds-icon slds-icon-text-default slds-icon_small" aria-hidden="true">
							<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
							</svg>
							<span class="slds-assistive-text">Description of icon when needed</span>
							</span>						
						</a>
					</li>
	                <li>
						<a href="#dont">
							<span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
							<svg class="slds-icon slds-icon-text-default slds-icon_small" aria-hidden="true">
							<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#user"></use>
							</svg>
							<span class="slds-assistive-text">Description of icon when needed</span>
							</span>						
						</a>
					</li>
	                <li><a href="#forget">
							<span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
							<svg class="slds-icon slds-icon-text-default slds-icon_small" aria-hidden="true">
							<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#cart"></use>
							</svg>
							<span class="slds-assistive-text">Description of icon when needed</span>
							</span>						
					</a></li>
	            </ul>
                
                
	        </header>
            #}
					<main class="app-wrapper">
						<div>
							something for the content in here
						</div>
				</main>
	</body>
	</html>



</body>
</html>
