
<!DOCTYPE html>
<html lang="en" class="list-view">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>.: Page Designer :.</title>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/styles/index.css"/>
    <!-- Prototype styles -->
  </head>

  <body>

    {% include "_inc_builder-popovers-toolbar.html" %}
    <main class="app-wrapper">

<div class="slds-grid slds-col">
  <div id="left" class="slds-col">
    <div class="item">1
      <!--div class="insert"></div>
      <div class="component">component 1</div>
      <div class="placeholder">placeholder 1</div>
      <div class="nav">nav 1</div-->
    </div>
    <div class="item">2
      <!--div class="insert"></div>
      <div class="component">component 2</div>
      <div class="placeholder">placeholder 2</div>
      <div class="nav">nav 2</div-->
    </div>
  </div>

  <div id="right" class="slds-col">region</div>

  <div id="center" class="slds-col">structure</div>
</div>

</main>

<script src='/scripts/jquery-3.2.1.min.js'></script>
<script src='/scripts/jquery-ui.min.js'></script>
<script src='/scripts/utils.js'></script>
<script src='/scripts/tether.min.js'></script>
<script src='/scripts/Sortable.min.js'></script>


<script>
  new Sortable(left, {
      group: {
          name: 'shared',
          pull: 'clone',
          put: false
      },
      animation: 150,
      sort: false,
    	onEnd: function (evt) {
        if (evt.to.id == 'right'){
          document.getElementById("center").innerHTML = document.getElementById("right").innerHTML;
        }
        if (evt.to.id == 'center'){
          console.log('center');
          document.getElementById("right").innerHTML = document.getElementById("center").innerHTML;
        }
    	}
  });
  new Sortable(right, {
      group: {
          name: 'shared',
          pull: false
      },
      animation: 150,
      onEnd: function (evt) {
        if (evt.to.id == 'right'){
          document.getElementById("center").innerHTML = document.getElementById("right").innerHTML;
        }
        if (evt.to.id == 'center'){
          console.log('center');
          document.getElementById("right").innerHTML = document.getElementById("center").innerHTML;
        }
    	}
  });

  new Sortable(center, {
      group: {
          name: 'shared',
          pull: false,
          put: false
      },
      animation: 150,
      onEnd: function (evt) {
        if (evt.to.id == 'right'){
          document.getElementById("center").innerHTML = document.getElementById("right").innerHTML;
        }
        if (evt.to.id == 'center'){
          console.log('center');
          document.getElementById("right").innerHTML = document.getElementById("center").innerHTML;
        }
    	}
  });
 </script>

</body>

<style>
  #right .sortable-ghost,
  #center .sortable-ghost{
    background: green;
    height: 3px;
    overflow:hidden;
</style>


</html>
