  {% for page in pages %}
  <tr class="slds-hint-parent">
      <td role="gridcell" class="slds-text-align--right" style="width:3.25rem;"> <span class="slds-checkbox">
          <input type="checkbox" name="options" id="id-{{ page.id }}">
          <label class="slds-checkbox__label" for="id-{{ page.id }}">
            <span class="slds-checkbox--faux"></span> <span class="slds-form-element__label slds-assistive-text">Select item </span> </label>
                  </span>
      </td>
      <td scope="row">
          <div class="slds-truncate" title="test.adidas.de"><a href="page-editor.html">{{ page.name}}</a>
              <div class="slds-form-element__icon slds-hide">
                  <button aria-describedby="help" class="slds-button slds-button_icon" id="list_tooltipC">
                      <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                      </svg>
                      <span class="slds-assistive-text">Help</span>
                  </button>
              </div>

          </div>
      </td>
      <td role="gridcell">
          <div class="slds-truncate" title="staging.adidas.de">Campaign</div>
      </td>
      <td role="gridcell">
          <div class="slds-truncate" title="Site 2 / en_EN">{{ page.id}}</div>
      </td>
      <td role="gridcell">
          <div class="slds-truncate" title="Site 2 / en_EN">{{ page.status}}</div>
      </td>
      <td role="gridcell">
          <div class="slds-truncate" title="Site 2 / en_EN">{{ page.created }}</div>
      </td>
      <td role="gridcell" style="width:3.25rem;">
          <div class="slds-dropdown-trigger slds-dropdown-trigger--click">
              <button class="slds-button slds-button--icon slds-button--icon-border-filled slds-button--icon-x-small" aria-haspopup="true" title="Show More">
                  <svg class="slds-button__icon" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                  </svg> <span class="slds-assistive-text">Show More</span> </button>
                  <div class="slds-dropdown slds-dropdown--right">
                      <ul class="slds-dropdown__list" role="menu">
                          <li class="slds-dropdown__item" role="presentation"> '
                              <a href="page-editor.html" role="menuitem" tabindex="0" class="trigger-edit"> <span class="slds-truncate" title="Menu Item One">Edit</span> </a>
                          </li>
                          <li class="slds-dropdown__item" role="presentation">
                              <a href="javascript:void(0);" role="menuitem" tabindex="-1" class="js-open-modal-id-1"> <span class="slds-truncate" title="Menu Item Two">Delete</span> </a>
                          </li>
                      </ul>
                  </div>
          </div>
      </td>
  </tr>

  {% endfor %}
