<!-- Templates leverage Nunjucks, a powerful templating language: https://mozilla.github.io/nunjucks/ # Don't want to use Nunjucks? It is entirely optional. Feel free to use normal HTML instead! -->
<!-- Extend the global template -->
{% extends "_template-editor.html" %}

<!-- Page content (gets injected into the template) -->
{% block content %}

  <div class="slds-grid">
    <div class="slds-border--right slds-p-around_small" id="tools">
      {% include "_sidebar-tools.html" %}
    </div>
    <div class="slds-border--right slds-p-left_none slds-p-right_none" id="sidebar-navigator">
      <!-- NAVIGATOR -->
      {% include "_sidebar_navigator.html" %}
      <!-- /NAVIGATOR -->
    </div>
    <div class="slds-col">
      {% include "_inc_preview-settings.html" %}
      <div class="slds-col page-content region" id="2editor">



        <div class="slds-container--center slds-container_x-large inner-design">
            <div class="slds-grid slds-wrap slds-gutters_x-small">

              {# include "_inc_header-editor.html" #}

              <iframe src="iframe-header-editor.html"  style="padding: 0; margin: 0; width: 100%; height: 60px; border:0"/></iframe>


              <div class="banner slds-col slds-size_1-of-1 slds-medium-size_3-of-3" id="row_1">
                <div class="slds-grid slds-grid_vertical region" style="background:#fff"  id="regionEins">
                  <!-- REGION-->
                  <ul id="region1" class="list slds-has-dividers_bottom-space region_container"></ul>
                  <!-- /REGION-->
                  {% include "_inc_button_addcomponent.html" %}
                </div>
              </div>



              <div class="square slds-col slds-size_1-of-1 slds-medium-size_1-of-3" id="row_2">
                <div class="slds-grid slds-grid_vertical region" style="background:#fff" id="regionZweiEins">
                  <!-- REGION-->
                  <ul id="region2_1" class="list slds-has-dividers_bottom-space region_container"></ul>
                  <!-- /REGION-->
                  {% include "_inc_button_addcomponent.html" %}
                </div>
              </div>

              <div class="square slds-col slds-size_1-of-1 slds-medium-size_1-of-3" id="row_3">
                <div class="slds-grid slds-grid_vertical region" style="background:#fff" id="regionZweiZwei">
                  <!-- REGION-->
                  <ul id="region2_2" class="list slds-has-dividers_bottom-space region_container"></ul>
                  <!-- /REGION-->
                  {% include "_inc_button_addcomponent.html" %}
                </div>
              </div>

              <div class="square slds-col slds-size_1-of-1 slds-medium-size_1-of-3" id="row_4">
                <div class="slds-grid slds-grid_vertical region" style="background:#fff" id="regionZweiDrei">
                  <!-- REGION-->
                  <ul id="region2_3" class="list slds-has-dividers_bottom-space region_container"></ul>
                  <!-- /REGION-->
                  {% include "_inc_button_addcomponent.html" %}
                </div>
              </div>



              <div class="rect slds-col slds-size_1-of-1 slds-medium-size_2-of-4" id="row_5">
                <div class="slds-grid slds-grid_vertical region" style="background:#fff" id="regionDreiEins">
                  <!-- REGION-->
                  <ul id="region3-1" class="list slds-has-dividers_bottom-space region_container"></ul>
                  <!-- /REGION-->
                  {% include "_inc_button_addcomponent.html" %}
                </div>
              </div>

              <div class="rect slds-col slds-size_1-of-1 slds-medium-size_2-of-4" id="row_6">
                <div class="slds-grid slds-grid_vertical region" style="background:#fff" id="regionDreiZwei">
                  <!-- REGION-->
                  <ul id="region3-2" class="list slds-has-dividers_bottom-space region_container"></ul>
                  <!-- /REGION-->
                  {% include "_inc_button_addcomponent.html" %}
                </div>
              </div>



              <div class="slot slds-col slds-size_1-of-2 slds-medium-size_1-of-4" id="row_7">
                <div class="slds-grid slds-grid_vertical region" style="background:#fff" id="regionVierEins">
                  <!-- REGION-->
                  <ul id="region4-1" class="list slds-has-dividers_bottom-space region_container"></ul>
                  <!-- /REGION-->
                  {% include "_inc_button_addcomponent.html" %}
                </div>
              </div>

              <div class="slot slds-col slds-size_1-of-2 slds-medium-size_1-of-4" id="row_8">
                <div class="slds-grid slds-grid_vertical region" style="background:#fff" id="regionVierZwei">
                  <!-- REGION-->
                  <ul id="region4-2" class="list slds-has-dividers_bottom-space region_container"></ul>
                  <!-- /REGION-->
                  {% include "_inc_button_addcomponent.html" %}
                </div>
              </div>

              <div class="slot slds-col slds-size_1-of-2 slds-medium-size_1-of-4" id="row_9">
                <div class="slds-grid slds-grid_vertical region" style="background:#fff" id="regionVierDrei">
                  <!-- REGION-->
                  <ul id="region4-3" class="list slds-has-dividers_bottom-space region_container"></ul>
                  <!-- /REGION-->
                  {% include "_inc_button_addcomponent.html" %}
                </div>
              </div>

              <div class="slot slds-col slds-size_1-of-2 slds-medium-size_1-of-4" id="row_10">
                <div class="slds-grid slds-grid_vertical region" style="background:#fff" id="regionVierVier">
                  <!-- REGION-->
                  <ul id="region4-4" class="list slds-has-dividers_bottom-space region_container"></ul>
                  <!-- /REGION-->
                  {% include "_inc_button_addcomponent.html" %}
                </div>
              </div>



              <div class="banner slds-col slds-size_1-of-1 slds-medium-size_3-of-3" id="row_11">
                <div class="slds-grid slds-grid_vertical region" style="background:#fff"  id="regionFuenf">
                  <!-- REGION-->
                  <ul id="region5" class="list slds-has-dividers_bottom-space region_container"></ul>
                  <!-- /REGION-->
                  {% include "_inc_button_addcomponent.html" %}
                </div>
              </div>


            </div>
          </div>


          <div class="footer">
            {# include "_inc_bottom_locked.html" #}

            <iframe src="iframe-bottom-locked.html" style="padding: 0; margin: 0; width: 100%; height: 550px; border:0" /></iframe>
          </div>









        {#
        {%include "_inc_header-editor.html" %}
        <!-- ROW 1 -->
        <div class="slds-grid slds-large-size_12-of-12 slds-grid_vertical region" style="background:#fff;" id="regionEins">
          <!-- REGION-->
          <ul id="region1" class="list slds-has-dividers_bottom-space"></ul>
          <!-- /REGION-->
          <div>
              {% include "_inc_button_addcomponent.html" %}
          </div>
        </div>
        <!-- /ROW 1 -->

        <!-- ROW 2 -->
        <div class="slds-grid">
          <div class="slds-grid slds-grid_vertical slds-large-size_4-of-12 region" style="background:#fff" id="regionZwei_Eins">
            <!-- REGION-->
            <ul id="region2_1" class="list slds-has-dividers_bottom-space"></ul>
            <!-- /REGION-->
            {% include "_inc_button_addcomponent.html" %}
          </div>
          <div class="slds-grid slds-grid_vertical slds-large-size_4-of-12 region" style="background:#fff" id="regionZwei_Zwei">
            <!-- REGION-->
            <ul id="region2_2" class="list slds-has-dividers_bottom-space"></ul>
            <!-- /REGION-->
            {% include "_inc_button_addcomponent.html" %}
          </div>
          <div class="slds-grid slds-grid_vertical slds-large-size_4-of-12 region" style="background:#fff" id="regionZwei_Drei">
            <!-- REGION-->
            <ul id="region2_3" class="list slds-has-dividers_bottom-space"></ul>
            <!-- /REGION-->
            {% include "_inc_button_addcomponent.html" %}
          </div>
        </div>
        <!-- /ROW 2 -->

        <!-- ROW 3 -->
        <div class="slds-grid">
          <div class="slds-grid slds-grid_vertical slds-large-size_6-of-12 region" style="background:#fff" id="regionDrei_Eins">
            <!-- REGION-->
            <ul id="region2-1" class="list slds-has-dividers_bottom-space"></ul>
            <!-- /REGION-->
            {% include "_inc_button_addcomponent.html" %}
          </div>
          <div class="slds-grid slds-grid_vertical slds-large-size_6-of-12 region" style="background:#fff" id="regionDrei_Zwei">
            <!-- REGION-->
            <ul id="region2-1" class="list slds-has-dividers_bottom-space"></ul>
            <!-- /REGION-->
            {% include "_inc_button_addcomponent.html" %}
          </div>
        </div>
        <!-- /ROW 3 -->


        <!-- ROW 4 -->
        <div class="slds-grid">
          <div class="slds-grid slds-grid_vertical slds-large-size_3-of-12 region" style="background:#fff" id="regionVier_Eins">
            <!-- REGION-->
            <ul id="region2-1" class="list slds-has-dividers_bottom-space region_list"></ul>
            <!-- /REGION-->
            {% include "_inc_button_addcomponent.html" %}
          </div>
          <div class="slds-grid slds-grid_vertical slds-large-size_3-of-12 region" style="background:#fff" id="regionVier_Zwei">
            <!-- REGION-->
            <ul id="region2-1" class="list slds-has-dividers_bottom-space region_list"></ul>
            <!-- /REGION-->
            {% include "_inc_button_addcomponent.html" %}
          </div>
          <div class="slds-grid slds-grid_vertical slds-large-size_3-of-12 region" style="background:#fff" id="regionVier_Drei">
            <!-- REGION-->
            <ul id="region2-1" class="list slds-has-dividers_bottom-space region_list"></ul>
            <!-- /REGION-->
            {% include "_inc_button_addcomponent.html" %}
          </div>
          <div class="slds-grid slds-grid_vertical slds-large-size_3-of-12 region" style="background:#fff" id="regionVier_Vier">
            <!-- REGION-->
            <ul id="region2-1" class="list slds-has-dividers_bottom-space region_list"></ul>
            <!-- /REGION-->
            {% include "_inc_button_addcomponent.html" %}
          </div>
        </div>
        <!-- /ROW 4 -->

        <!-- ROW 5 -->
        <div class="slds-grid slds-large-size_12-of-12 slds-grid_vertical region" style="background:#fff"  id="regionFuenf">
          <!-- REGION-->
          <ul id="region1" class="list slds-has-dividers_bottom-space"></ul>
          <!-- /REGION-->
          {% include "_inc_button_addcomponent.html" %}
        </div>
        <!-- /ROW 5 -->


        <div class="footer">
          {% include "_inc_bottom_locked.html" %}
          <!--iframe src="_inc_bottom_locked.html" /></iframe-->
        </div>
        #}

      </div>
    </div>
  </div>

{#
<div class="slds-grid slds-grid_align-center">
    <div class="slds-grid slds-large-size_2-of-12 slds-grid_vertical slds-text-align_center slds-p-around_small 2region slds-theme_shade slds-border_right slds-border_bottom">
        <!-- NAVIGATOR -->
        <ul id="navigator" class="list slds-has-dividers_bottom-space">

        </ul>
        <!-- /NAVIGATOR -->
    </div>
</div>
#}

{% include "_inc_dropdowncomponents.html" %}

  <!-- ALL DUMMIES -->
  <div id="alldummies">
    {% include "_inc_all_dummies.html" %}
  </div>


  {% include "_inc_toolbar.html" %}
  {% include "_inc_modal-properties-page.html" %}
  {% include "_inc_modal-publish.html" %}
  {% include "_inc_modal-unpublish.html" %}
  {% include "_inc_toast-published.html" %}
  {% include "_inc_toast-unpublished.html" %}
  {% include "_inc_modal-delete-component.html" %}


{#
  {% include "_inc_modal_4_editor.html" %}
  {% include "_inc_modal_5_editor.html" %}
  {% include "_inc_modal_31_editor.html" %}
  {% include "_inc_modal_32_editor.html" %}
  {% include "_inc_modal_33_editor.html" %}
  {% include "_inc_modal_34_editor.html" %}
  {% include "_inc_modal_35_editor.html" %}

  {% include "_inc_modal_38_editor.html" %}
  {% include "_inc_modal_40_editor.html" %}
  {% include "_inc_modal_basket_editor.html" %}
#}

  {% include "products.html" %}
  {% include "_inc_dropdown-basket.html" %}

  {% include "_inc_modal_media-picker.html" %}


  {% include "_inc_modal_banner_editor.html" %}
  {% include "_inc_modal_product_editor.html" %}
  {% include "_inc_modal_row_editor.html" %}

  {% include "_inc_modal_locale-warning.html" %}
  {% include "_inc_toast-page-rules.html" %}

  {% include "_inc_dummy_col.html" %}

  {% include "_inc_pick_cat.html" %}


{% endblock %}
