<!DOCTYPE html>
<html lang="en">

<head>
    <title>.:index:.</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="/styles/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <script src="/scripts/rellax.min.js"></script>
</head>

<body id="body">

    {% include "_header.html" %}
    {% include "_script.html" %}


    <!-- MAIN PAGE -->
    <main class="app-wrapper">
        <!-- PRODUCT DETAIL -->


        {% for product in products %}
            {% if loop.index0 < 1 %}
                <div class="slds-grid slds-wrap">
                <div class="slds-col  slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                    <div class="slds-col slds-grid slds-wrap">
                        <div class="slds-size_2-of-12 slds-p-around_small white">
                            <ul>
                                <li class="slds-p-around_small"><img src="/assets/products/energy/{{ product.image }}.jpg" /></li>
                                <li class="slds-p-around_small"><img src="/assets/products/energy/{{ product.image }}.jpg" /></li>
                                <li class="slds-p-around_small"><img src="/assets/products/energy/{{ product.image }}.jpg" /></li>
                            </ul>
                        </div>    
                        <div class="slds-size_10-of-12">
                            <img src="/assets/products/energy/{{ product.image }}.jpg" />
                        </div>
                    </div>
                </div>

                <div class="slds-col  slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_2-of-3 slds-p-around_x-large">
                <img src="/assets/logo-energy.svg" class="fill-black pdp-brand slds-p-bottom_large" />
                <h2 class="slds-text-heading--large slds-p-bottom_large"><b>{{ product.product_name }}</b></h2>
                <div class="slds-p-bottom_large">
                    <img src="/assets/star-half.svg" class="star-small" />
                    <img src="/assets/star-empty.svg" class="star-small" />
                    <img src="/assets/star-empty.svg" class="star-small" />
                    <img src="/assets/star-empty.svg" class="star-small" />
                    <img src="/assets/star-empty.svg" class="star-small" />                
                </div>
                <p class="slds-text-heading--small slds-p-bottom_medium"><i>pack of 16 Oz.</i></p>
                <p class="slds-text-heading--small">{{ product.product_description_long }}</p>
                <hr>
                <p class="slds-text-heading--large">
                    <span class="slds-text-heading--small slds-m-right_small">
                        <span style="text-decoration: line-through">$ {{ product.new_price }}</span>
                    </span> 
                    <b>$ {{ product.old_price }}</b>
                </p>
                <div class="slds-grid slds-p-top_medium">
                    <div><input type="text" value="1" class="slds-input" style="text-align: right; width:5rem; margin-right: 0.5em;"></div>
                    <div><a href="cart.html"><button class="slds-button slds-button_neutral">Add to Cart</button></a></div>
                </div>
                <hr>
                <ul class="slds-accordion">
                    <li class="slds-accordion__list-item">
                        <section class="slds-accordion__section slds-is-open">
                            <div class="slds-accordion__summary">
                                <h3 class="slds-accordion__summary-heading">
                                    <button aria-controls="accordion-details-01" aria-expanded="true" class="slds-button slds-button_reset slds-accordion__summary-action">
                                        <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                        </svg>
                                        <span class="slds-accordion__summary-content" title="Benefits">Benefits</span>
                                    </button>
                                </h3>
                            </div>
                            <div class="slds-accordion__content" id="accordion-details-01">{{ product.product_description }}</div>
                        </section>
                    </li>
                    <li class="slds-accordion__list-item">
                        <section class="slds-accordion__section">
                            <div class="slds-accordion__summary">
                                <h3 class="slds-accordion__summary-heading">
                                    <button aria-controls="accordion-details-03" aria-expanded="false" class="slds-button slds-button_reset slds-accordion__summary-action">
                                        <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                        </svg>
                                        <span class="slds-accordion__summary-content" title="Accordion summary">Ingredients</span>
                                    </button>
                                </h3>
                            </div>
                            <div hidden="" class="slds-accordion__content" id="accordion-details-03">{{ product.product_description }}</div>
                        </section>
                    </li>
                </ul>

        </div>        
        
        

            </div>
            {% endif %}
        {% endfor %}


            <!-- //PRODUCT DETAIL -->

            <!-- AD PRODUCTS -->
            <div class="slds-grid slds-m-top_large slds-m-bottom_large slds-align_absolute-center">
                <div class="slds-align-">
                    <div class="section-divider">
                        <div class="title">
                            <h2 class="slds-text-heading--large"><b>You might also like</b></h2>
                            <h5 class="slds-text-heading--small">4 products found</h5>
                        </div>
                    </div>
                </div>
            </div>



            <div class="slds-grid slds-wrap slds-gutters slds-gutters_x-small">
                {% for product in products %}
                {% if loop.index0 < 4 %}
                <div class="slds-col slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_3-of-12">
                    <div class="producttile slds-m-bottom_small" style="text-align:center" onclick="goPDP()">
                        <div class="producttile-image slds-p-bottom_medium"><img src="/assets/products/energy/{{ product.image }}.jpg" /></div>
                        <h4 class="slds-text-heading--medium"><b>{{ product.product_name }}</b></h4>
                        <p class="slds-p-top_medium"><span>flavor / {{ product.image }} oz</span></p>
                        <p><span class="tile-price">$ {{ product.new_price }}</span></p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <!-- //AD PRODUCTS -->


            <!-- PRODUCTS -->
            <div class="slds-grid slds-m-top_large slds-m-bottom_large slds-align_absolute-center">
                <div class="slds-align-">
                    <div class="section-divider">
                        <div class="title">
                            <h2 class="slds-text-heading--large"><b>Other Products in the same category</b></h2>
                            <h5 class="slds-text-heading--small">12 products found.</h5>
                        </div>
                    </div>
                </div>
            </div>



            <div class="slds-grid slds-wrap slds-gutters slds-gutters_x-small">
                {% for product in products %}
                {% if loop.index0 < 12 %}
                <div class="slds-col slds-size_1-of-2  slds-medium-size_1-of-4 slds-large-size_2-of-12">
                    <div class="producttile slds-m-bottom_small" style="text-align:center">
                        <div class="producttile-image slds-p-bottom_medium"><img src="/assets/products/drinks/{{ product.image }}.jpg" /></div>
                        <h4 class="slds-text-heading--medium"><b>{{ product.product_name }}</b></h4>
                        <p class="slds-p-top_medium"><span>flavor / {{ product.image }} oz</span></p>
                        <p><span class="tile-price">$ {{ product.new_price }}</span></p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <!-- //PRODUCTS -->





            <!-- OTHER CATEGORIES -->
            <div class="slds-grid slds-wrap slds-p-bottom_large">

                <div class="slds-col  slds-size_1-of-1  slds-medium-size_1-of-2 slds-large-size_6-of-12 ad-banner-static categories-home categories-home_blends">
                    <div class="cat-tile-overlay" onclick="goPLP()">
                        <div class="slds-text-heading--large" style="color: #fff;">Discover</div>
                    </div>
                    <a href="plp.html" class="cat-tile-link">
                        <div class="banner-tagline">
                            <img src="/assets/logo-blends.svg" alt="Alpine Group Logo" />
                            <!--h1 class="slds-text-heading--large font-white">Nature at it's best.</h1-->
                        </div>
                    </a>
                </div>
                <div class="slds-col  slds-size_1-of-1  slds-medium-size_1-of-2 slds-large-size_6-of-12 ad-banner-static categories-home categories-home_nutrition">
                    <div class="cat-tile-overlay" onclick="goPLP()">
                        <div class="slds-text-heading--large" style="color: #fff;">Discover</div>
                    </div>
                    <a href="plp.html" class="cat-tile-link">
                        <div class="banner-tagline">
                            <img src="/assets/logo-nutrition.svg" alt="Alpine Group Logo" />
                            <!--h5 class="slds-text-heading--small font-white">See more</h5-->
                        </div>
                    </a>
                </div>
            </div>
            <!-- //OTHER CATEGORIES -->




    {% include "_footer.html" %}








    </main>
    <!-- //MAIN PAGE -->










   

</body>


</html>