<!DOCTYPE html>
<html lang="en">

<head>
    <title>.:pdp:.</title>
    {% include "_include_sources.html" %}
</head>

<body id="body">

    {% include "_header.html" %}
    {% include "_script.html" %}


    <script>
        //console.log(urlParams.getAll('id'));    
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const page_id = urlParams.get('id')
        console.log(page_id);
    </script>


    <!-- MAIN PAGE -->
    <main class="app-wrapper">
        <!-- PRODUCT DETAIL -->


        {% for product in products %}
        {% if loop.index0 < 1 %}
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                <div class="slds-col slds-grid slds-wrap">
                    <div class="slds-size_2-of-12 slds-p-around_small white">
                        <ul>
                            <li class="slds-p-around_small"><img src="/assets/products/energy/{{ product.image }}.jpg" /></li>
                            <li class="slds-p-around_small"><img src="/assets/products/energy/{{ product.image }}.jpg" /></li>
                            <li class="slds-p-around_small"><img src="/assets/products/energy/{{ product.image }}.jpg" /></li>
                        </ul>
                    </div>
                    <div class="slds-size_10-of-12">
                        <img src="/assets/products/energy/{{ product.image }}.jpg" />
                    </div>
                </div>
            </div>

            <div class="slds-col  slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_2-of-3 slds-p-around_x-large">
                <img src="/assets/logo-energy.svg" class="fill-black pdp-brand slds-p-bottom_large" />
                <h2 class="slds-text-heading--large slds-p-bottom_large"><strong>{{ product.product_name }}</strong></h2>
                <div class="slds-p-bottom_large">
                    <span class="slds-icon_container null slds-icon__svg--default"><svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                            <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom11"></use>
                        </svg></span>
                    <span class="slds-icon_container null slds-icon__svg--default"><svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                            <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom11"></use>
                        </svg></span>
                    <span class="slds-icon_container null slds-icon__svg--default"><svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                            <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom11"></use>
                        </svg></span>
                    <span class="slds-icon_container null slds-icon__svg--default"><svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                            <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom11"></use>
                        </svg></span>
                </div>
                <p class="slds-text-heading--small slds-p-bottom_medium"><i>pack of 16 Oz.</i></p>
                <p class="slds-text-heading--small">{{ product.product_description_long }}</p>
                <hr>
                <p class="slds-text-heading--large">
                    <span class="slds-text-heading--small slds-m-right_small">
                        <span style="text-decoration: line-through">$ {{ product.new_price }}</span>
                    </span>
                    <strong>$ {{ product.old_price }}</strong>
                </p>
                <div class="slds-grid slds-p-top_medium" id="desktop_action">
                    <div><input type="text" value="1" class="slds-input" style="text-align: right; width:5rem; margin-right: 0.5em;"></div>
                    <div class="slds-col">
                        <a href="cart.html">
                            <button class="slds-button slds-button_brand slds-button_stretch">
                                <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#cart"></use>
                                </svg>
                                Add to Cart
                            </button>
                        </a>
                    </div>
                </div>
                <hr>
                <ul class="slds-accordion">
                    <li class="slds-accordion__list-item">
                        <section class="slds-accordion__section slds-is-open">
                            <div class="slds-accordion__summary">
                                <h3 class="slds-accordion__summary-heading">
                                    <button aria-controls="accordion-details-01" aria-expanded="true" class="slds-button slds-button_reset slds-accordion__summary-action">
                                        <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                        </svg>
                                        <span class="slds-accordion__summary-content" title="Benefits">Benefits</span>
                                    </button>
                                </h3>
                            </div>
                            <div class="slds-accordion__content" id="accordion-details-01">{{ product.product_description }}</div>
                        </section>
                    </li>
                    <li class="slds-accordion__list-item">
                        <section class="slds-accordion__section">
                            <div class="slds-accordion__summary">
                                <h3 class="slds-accordion__summary-heading">
                                    <button aria-controls="accordion-details-03" aria-expanded="false" class="slds-button slds-button_reset slds-accordion__summary-action">
                                        <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
                                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
                                        </svg>
                                        <span class="slds-accordion__summary-content" title="Accordion summary">Ingredients</span>
                                    </button>
                                </h3>
                            </div>
                            <div hidden="" class="slds-accordion__content" id="accordion-details-03">{{ product.product_description }}</div>
                        </section>
                    </li>
                </ul>

            </div>



        </div>
        {% endif %}
        {% endfor %}


        <!-- //PRODUCT DETAIL -->

        <!-- AD PRODUCTS -->
        <div class="slds-grid slds-m-top_large slds-m-bottom_large slds-align_absolute-center">
            <div class="slds-align-">
                <div class="section-divider">
                    <div class="title">
                        <h2 class="slds-text-heading--large"><strong>You might also like</strong></h2>
                        <h5 class="slds-text-heading--small">4 products found</h5>
                    </div>
                </div>
            </div>
        </div>



        <div class="slds-grid slds-wrap slds-gutters slds-gutters_x-small">
            {% for product in products %}
            {% if loop.index0 < 4 %}
            <div class="slds-col slds-size_1-of-2 slds-medium-size_1-of-4 slds-large-size_3-of-12">
                <a href="pdp.html?id={{ product.id }}">
                    <div class="producttile slds-m-bottom_small" style="text-align:center" onclick="goPDP()">
                        <div class="producttile-image slds-p-bottom_medium"><img src="/assets/products/energy/{{ product.image }}.jpg" /></div>
                        <h4 class="slds-text-heading--medium"><strong>{{ product.product_name }}</strong></h4>
                        <p class="slds-p-top_medium"><span>flavor / {{ product.image }} oz</span></p>
                        <p><span class="tile-price">$ {{ product.new_price }}</span></p>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- //AD PRODUCTS -->


        <!-- PRODUCTS -->
        <div class="slds-grid slds-m-top_large slds-m-bottom_large slds-align_absolute-center">
            <div class="slds-align-">
                <div class="section-divider">
                    <div class="title">
                        <h2 class="slds-text-heading--large"><strong>Other Products in the same category</strong></h2>
                        <h5 class="slds-text-heading--small">12 products found.</h5>
                    </div>
                </div>
            </div>
        </div>



        <div class="slds-grid slds-wrap slds-gutters slds-gutters_x-small">
            {% for product in products %}
            {% if loop.index0 < 12 %}
            <div class="slds-col slds-size_1-of-2  slds-medium-size_1-of-4 slds-large-size_2-of-12">
                <a href="pdp.html?id={{ product.id }}">
                    <div class="producttile slds-m-bottom_small" style="text-align:center">
                        <div class="producttile-image slds-p-bottom_medium"><img src="/assets/products/drinks/{{ product.image }}.jpg" /></div>
                        <h4 class="slds-text-heading--medium"><strong>{{ product.product_name }}</strong></h4>
                        <p class="slds-p-top_medium"><span>flavor / {{ product.image }} oz</span></p>
                        <p><span class="tile-price">$ {{ product.new_price }}</span></p>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- //PRODUCTS -->





        <!-- OTHER CATEGORIES -->
        <div class="slds-grid slds-wrap slds-p-bottom_large">

            <div class="slds-col  slds-size_1-of-1  slds-medium-size_1-of-2 slds-large-size_6-of-12 ad-banner-static categories-home categories-home_blends">
                <div class="cat-tile-overlay" onclick="goPLP()">
                    <div class="slds-text-heading--large" style="color: #fff;">Discover</div>
                </div>
                <a href="plp.html" class="cat-tile-link">
                    <div class="banner-tagline">
                        <img src="/assets/logo-blends.svg" alt="Alpine Group Logo" />
                        <!--h1 class="slds-text-heading--large font-white">Nature at it's best.</h1-->
                    </div>
                </a>
            </div>
            <div class="slds-col  slds-size_1-of-1  slds-medium-size_1-of-2 slds-large-size_6-of-12 ad-banner-static categories-home categories-home_nutrition">
                <div class="cat-tile-overlay" onclick="goPLP()">
                    <div class="slds-text-heading--large" style="color: #fff;">Discover</div>
                </div>
                <a href="plp.html" class="cat-tile-link">
                    <div class="banner-tagline">
                        <img src="/assets/logo-nutrition.svg" alt="Alpine Group Logo" />
                        <!--h5 class="slds-text-heading--small font-white">See more</h5-->
                    </div>
                </a>
            </div>
        </div>
        <!-- //OTHER CATEGORIES -->

        <!-- link to check out -->
        <div class="slds-p-around_small" id="sticky">
            <div class="slds-col slds-grid slds-grid slds-grid_vertical-align-center">
                <div class="slds-col2 slds-p-right_medium">
                    <div class="slds-form-element">
                        <div class="slds-form-element__control">
                            <div class="slds-select_container">
                                <select class="slds-select" id="select-01">
                                    <option value="">1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-col">
                    <a href="cart.html">
                        <button class="slds-button slds-button_brand slds-button_stretch">
                            <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#cart"></use>
                            </svg>
                            Add to Cart
                        </button>
                    </a>

                </div>
            </div>
        </div>
        <!-- //link to check out -->





        {% include "_footer.html" %}
        {% include "_search_modal.html" %}








    </main>
    <!-- //MAIN PAGE -->


</body>


<script>
    $.fn.isInViewport = function() {
        var elementTop = $(this).offset().top;
        var elementBottom = elementTop + $(this).outerHeight();

        var viewportTop = $(window).scrollTop();
        var viewportBottom = viewportTop + $(window).height();

        return elementBottom > viewportTop && elementTop < viewportBottom;
    };
    $('main').on('resize scroll', function(responsive) {

        if ($(window).width() <= 700) {
            // is mobile device
            $('#sticky').show();
            $('#desktop_action').hide();
        } else {
            $('#sticky').hide();
        }

    });
</script>


</html>