<!DOCTYPE html>
<html lang="en">

<head>
    <title>.:privacy:.</title>
    {% include "_include_sources.html" %}
</head>

<body id="body">

    {% include "_header.html" %}
    {% include "_script.html" %}
    {% include "_modal-address.html" %}
    {% include "_modal-profile.html" %}




    <!-- MAIN PAGE -->
    <main class="app-wrapper">

        <!-- PROFILE -->
        <div class="slds-grid slds-m-top_large slds-m-bottom_large slds-align_absolute-center">
            <div class="slds-align-">
                <div class="section-divider">
                    <div class="title">
                        <h1 class="slds-text-heading--large"><strong>Privacy Policy</strong></h1>
                        <!--h5 class="slds-text-heading--small">Carl the Shopper</h5-->
                    </div>
                </div>
            </div>
        </div>


        <div class="slds-grid slds-wrap //slds-align_absolute-center slds-p-bottom--medium">

            <div class="slds-col slds-p-around_small slds-size_1-of-1 slds-large-size_3-of-12" id="in_page">
                <article class="slds-card" id="desktop-nav">
                    <div class="slds-card__header slds-grid">
                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                            <div class="slds-media__body">
                                <h2 class="slds-card__header-title">
                                    <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="Accounts">
                                        <span>Privacy Policy</span>
                                    </a>
                                </h2>
                            </div>
                        </header>
                    </div>
                    <div class="slds-card__body slds-card__body_inner">
                        <nav>
                            <ul class="slds-has-dividers_bottom-space">
                                <li class="slds-item"><a href="#A">How we collect and use information</a></li>
                                <li class="slds-item"><a href="#B">How we share information</a></li>
                                <li class="slds-item"><a href="#C">Your choices</a></li>
                                <li class="slds-item"><a href="#D">Correcting or updating your information</a></li>
                                <li class="slds-item"><a href="#E">Cookies</a></li>
                                <li class="slds-item"><a href="#F">Interest-based advertising</a></li>
                                <li class="slds-item"><a href="#G">Children</a></li>
                                <li class="slds-item"><a href="#H">Third parties and social media</a></li>
                                <li class="slds-item"><a href="#I">Safeguarding your PI</a></li>
                            </ul>
                        </nav>

                    </div>
                </article>
                <div class="slds-form-element" id="mobile-nav">
                    <label class="slds-form-element__label" for="select-01">Select Label</label>
                    <div class="slds-form-element__control">
                        <div class="slds-select_container">
                            <select class="slds-select" id="select-01"  onchange="location = this.value;">
                                <option value="#A">How we collect and use information</option>
                                <option value="#B">How we share information</option>
                                <option value="#C">Your choices</option>
                                <option value="#D">Correcting or updating your information</option>
                                <option value="#E">Cookies</option>
                                <option value="#F">Interest-based advertising</option>
                                <option value="#G">Children</option>
                                <option value="#H">Third parties and social media</option>
                                <option value="#I">Safeguarding your PI</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CONTENT -->
            <div class="slds-col slds-p-around_small slds-size_1-of-1 slds-large-size_9-of-12">


                <section>



                    <p>This policy describes how alpine and its parent, subsidiary, and affiliate companies (collectively, “alpine,” “we,” or “us”) collect, use and share information collected through the mail, alpine retail stores and wholesale accounts, alpine.com and other websites that link to this privacy policy, and alpine mobile services including our mobile application (the “App”) (collectively, the “alpine Services”).</p>

                    <h2 class="slds-text-heading--large slds-p-top--medium slds-p-bottom--medium" id="A">HOW WE COLLECT AND USE INFORMATION</h2>
                    <h3 class="slds-text-heading--medium slds-p-top--small slds-p-bottom--small">Data and Personal Information (“PI”)</h3>
                    <p>We or our vendors may collect data and/or personal information (“PI”) such as your name, your contact information, your shipping information, and your billing information (such as credit card account data). We collect PI when you provide it to us through your use of the alpine Services, for example when you interact with our websites, place an order, or sign up for our mailing list. We also receive limited PI when you choose to download or request the App. We may combine the PI we collect with additional information from other third-party sources.</p>

                    <p>We use the PI that we collect to provide the alpine Services (such as to process and ship your orders or respond to customer service requests), to analyze and improve the alpine Services, and to conduct marketing. If you register for email or if you provide your email address to us, we will send you emails about a variety of topics such as store events, new products, special sales, promotional offers from our affiliates or other selected business partners, environmental issues, and employment opportunities. Please see below for your choices regarding how we collect, use and share your PI.</p>

                    <p>We share email activity data with our marketing email provider to help them better target email deployments to consumers. While our marketing email provider has access to email address and email activity and may share bulk/non-specific activity data, no email addresses or specific email actions are ever shared with other third parties. Should a consumer wish to opt out of this sharing, that consumer simply needs to opt out of marketing email from us.</p>

                    <h3 class="slds-text-heading--medium slds-p-top--small slds-p-bottom--small">Geographic Location</h3>
                    <p>Our App uses the GPS feature of your mobile device to determine the location of the device. We and our third-party vendors or partners may collect and use this geographic location data for purposes such as the functioning of the App, to make our advertising more relevant, and to improve alpine Services. For example, we use the location information to provide the address and directions for the nearest alpine retail location. We do not store geographic location data in combination with other PI. If you do not want us or third parties to collect and use your device’s geographic location, you can control this function in your application settings (if your device offers this type of control), by disabling location services for your device, or by uninstalling the App, but these choices will affect your ability to use the App.</p>

                    <h3 class="slds-text-heading--medium slds-p-top--small slds-p-bottom--small">Usage Information and Analytics</h3>
                    <p>We automatically collect certain usage information when you use alpine Services. For example, we collect information about the devices you use to connect to our services (such as the IP address of your computer or numeric identifier of your mobile device) and about how you use alpine Services (such as what time you visit our websites). We, and our advertisers and ad servers, may also collect information outside the alpine Services to measure the success of our advertising campaigns. We use the information that we collect for a variety of purposes such as to provide and improve the alpine Services, and to analyze and offer our advertising.</p>

                    <p>Our website also uses third-party analytics vendors such as Google Analytics. Please click here for more information about how data is collected and processed in connection with the Google Analytics service. We and our third-party vendors or partners use analytics data for a variety of purposes such as to improve the design and content of our websites, to help us learn things like what pages are most attractive to all of our visitors and what promotions visitors like to see, and to gauge the success of our advertising campaigns.</p>

                    <h3 class="slds-text-heading--medium slds-p-top--small slds-p-bottom--small">Information You Post</h3>
                    <p>All information that you share about yourself, whether of a personal nature or not, in a public open forum – such as on a social network – is likely public information. If you don’t want it to be public, please don’t post it.</p>

                    <h2 class="slds-text-heading--large slds-p-top--medium slds-p-bottom--medium" id="B">HOW WE SHARE INFORMATION</h2>
                    <p>We do not disclose your PI to third parties, except as follows:<br>
                        To companies that provide services to us or perform functions on our behalf (such as processing credit card payments or taking orders) and have agreed to use your information only for the purposes we request;
                        For us to send offers to alpine customers on behalf of our affiliated companies and on behalf of other non-affiliated partners (such as environmental groups that we support);
                        To other selected reputable companies, we may disclose your name and postal address (but not your email address or credit card information) so that they can mail you information that may interest you;
                        When we believe disclosure is appropriate to comply with applicable law, legal process, and/or governmental authorities;
                        When we believe disclosure is appropriate to enforce our Terms of Use and other agreements, or to protect our rights, our customers, our property, our employees, or others; and
                        If we are involved in a merger, acquisition, bankruptcy, partial or total sale of assets, or other corporate change.
                        We may disclose de-identified, aggregated, or other non-personal information to third parties in our discretion. The alpine Services or our offerings on social media platforms may include commenting, forums, sharing, or other similar features. Information that you provide using these features may be available to other users or the general public.</p>

                    <h2 class="slds-text-heading--large slds-p-top--medium slds-p-bottom--medium" id="C">YOUR CHOICES</h2>
                    <p>With your PI – like the information you give us to fulfill an order – you have the option to change or correct your information and the choice of not hearing from us again. There are several ways you can control our use of your PII in connection with marketing and promotions.</p>

                    <p>To remove your name from our lists. You can choose to decline communications from us at the point that we request your PI. After we have collected your PI, you can choose to stop our communications or our service or stop us from sharing your information with other companies for their marketing purposes. To exercise any of these options, please contact us by mail, email, or telephone using the contact information below.</p>

                    <p>To stop email communications. If you receive email communications from us and want to opt out of receiving such communications in the future, you can click the “Unsubscribe” link at the bottom of the promotional email.
                        To stop collection of geographic location. If you do not want us to collect your device’s geographic location through our App, you can disable that function when you first use the App or in your device settings. This will prevent you from using some features of the App.</p>

                    <p>Other choices. Please see below to learn about your choices with regard to our use of cookies and interest-based advertising.</p>

                    <h2 class="slds-text-heading--large slds-p-top--medium slds-p-bottom--medium" id="D">CORRECTING OR UPDATING YOUR INFORMATION</h2>
                    <p>If you would like to request changes to the PI that you have previously provided to us, please contact us by mail, email, or telephone using the contact information below.</p>

                    <h2 class="slds-text-heading--large slds-p-top--medium slds-p-bottom--medium" id="E">COOKIES</h2>
                    <p>We may use “cookies,” “web beacons,” and other similar technologies to collect information in connection with the alpine Services and our advertisements. A “cookie” is a computer file that acts as an identification card for your computer to distinguish your browser from others and enable us to serve you better. For example, we use cookies to save products in your shopping cart while you browse our websites and to track the effectiveness of our marketing and advertising campaigns. Similarly, a “web beacon” is a technology that can recognize specific cookies and convey information about that browser. We may also use technologies, such as our own cookies, to provide you with personalized online display advertising tailored to your interests.</p>

                    <p>Most browsers accept cookies automatically. You may be able to set your browser to reject and/or delete cookies. For instructions, check your browser’s technical information. However, if you reject or delete cookies then this may disable or interfere with features of the alpine Services or other websites you visit. We recommend that you leave cookies “turned on” so we can offer you a better shopping experience on our sites.</p>

                    <h2 class="slds-text-heading--large slds-p-top--medium slds-p-bottom--medium" id="F">INTEREST-BASED ADVERTISING</h2>
                    We may work with third-party advertising companies that collect and use information about your online activities across sites over time, in order to deliver more relevant advertising when you are using the alpine Services and elsewhere on the Internet. This practice is known as interest-based advertising. You may visit www.aboutads.info to learn more and to opt out of this type of advertising by companies participating in the Digital Advertising Alliance self-regulatory program. We do not operate or control this site and are not responsible for the opt-out choices available there. Note that electing to opt out will not stop advertising from appearing in your browser or applications. It may make the ads you see less relevant to your interests. If you delete, block or otherwise restrict cookies or use a different computer or Internet browser, you may need to renew your opt-out choice.

                    <h2 class="slds-text-heading--large slds-p-top--medium slds-p-bottom--medium" id="G">CHILDREN</h2>
                    The online alpine Services are not intended for the use of individuals under the age of 16, and we do not knowingly collect information online from individuals under the age of 16.

                    <h2 class="slds-text-heading--large slds-p-top--medium slds-p-bottom--medium" id="H">THIRD PARTIES AND SOCIAL MEDIA</h2>
                    Our websites and App may contain links to third-party online properties. Such third parties have their own policies that govern their collection, use, and disclosure of information. We suggest that you read their privacy policies to learn about their practices.

                    <p>Social media provides tools that many of our customers use and enjoy, and we include links to various social media platforms on our websites. If you interact with these social media tools through our websites, your experience on those social media sites will be governed by the privacy and other policies of those sites. So, the privacy settings you have chosen on those sites will determine the degree to which your information is made public. We encourage you to choose your privacy settings on those sites accordingly.</p>

                    <h2 class="slds-text-heading--large slds-p-top--medium slds-p-bottom--medium" id="I">SAFEGUARDING YOUR PI</h2>
                    <p>We have reasonable and appropriate physical, electronic, and administrative measures in place to safeguard the security of your personal information. However, when you communicate with customer service via email or chat on our websites, these communications may not be encrypted. For that reason, we ask that you do not share sensitive information via these communication channels.</p>

                </section>


            </div>
            <!-- //CONTENT -->




        </div>

        <!-- //PROFILE -->




        {% include "_footer.html" %}
        {% include "_search_modal.html" %}





    </main>
    <!-- //MAIN PAGE -->










</body>


</html>