

<div class="slds-hide product-component-editor" style="height: 640px;" id="my-table">
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_large" aria-labelledby="id-of-modalheader-h2" aria-modal="true" aria-describedby="modal-content-id-35">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse trigger-close-modal" title="Close">
                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="id-of-modalheader-h2" class="slds-text-heading_medium">Product Tile</h2>
                {#<p class="slds-m-top_x-small">Pricebook: Salesforce Products</p>#}
            </header>
            <div class="slds-modal__content slds-grid 2slds-nowrap" id="modal-content-id-35">
                <!-- MODAL CONTENT -->

                <!--  EDITOR CONTENT-->


                <div class="editor slds-col sldsgrid">
                    <div class="slds-tabs_default">
                        <ul class="slds-tabs_default__nav" role="tablist">
                            <li class="slds-tabs_default__item 2slds-is-active" title="Item One" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-351" id="tab-default-351__item">Content</a></li>
                            <li class="slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-352" id="tab-default-352__item">Rules</a></li>
                            <li class="slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-353" id="tab-default-353__item">Localization</a></li>
                        </ul>

                        <div id="tab-default-351" class="slds-tabs_default__content slds-show slds-grid slds-p-top_none" role="tabpanel" aria-labelledby="tab-default-351__item">
                            <!-- CONTENT -->


                            <div class="slds-grid">
                                <div class="slds-col">
                                    <!-- SEARCH -->
                                    <div class="2slds-col slds-grid slds-grid_vertical 2slds-nowrap">
                                        <div class="slds-p-vertical_x-small slds-p-horizontal_large slds-shrink-none slds-theme_shade">
                                            <div class="slds-form-element">
                                                <label class="slds-form-element__label slds-assistive-text" for="combobox-unique-id">Search</label>
                                                <div class="slds-form-element__control">
                                                    <div class="slds-combobox_container">
                                                        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                                                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                                                <input type="text" class="slds-input slds-combobox__input" id="kwd_search" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Search Salesforce" />
                                                                <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                                                    <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search" />
                                                                    </svg>
                                                                </span>
                                                            </div>
                                                            <div id="listbox-unique-id" role="listbox">
                                                                <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
                                                                    <li role="presentation" class="slds-listbox__item">
                                                                        <span id="listbox-option-unique-id-01" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                                                                            <span class="slds-media__figure">
                                                                                <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                                                                                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account" />
                                                                                    </svg>
                                                                                    <span class="slds-assistive-text">Description of icon</span>
                                                                                </span>
                                                                            </span>
                                                                            <span class="slds-media__body">
                                                                                <span class="slds-listbox__option-text slds-listbox__option-text_entity">Acme</span>
                                                                                <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Account • San Francisco</span>
                                                                            </span>
                                                                        </span>
                                                                    </li>
                                                                    <li role="presentation" class="slds-listbox__item">
                                                                        <span id="listbox-option-unique-id-02" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                                                                            <span class="slds-media__figure">
                                                                                <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                                                                                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account" />
                                                                                    </svg>
                                                                                    <span class="slds-assistive-text">Description of icon</span>
                                                                                </span>
                                                                            </span>
                                                                            <span class="slds-media__body">
                                                                                <span class="slds-listbox__option-text slds-listbox__option-text_entity">Salesforce.com, Inc.</span>
                                                                                <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">Account • San Francisco</span>
                                                                            </span>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-pill_container slds-pill_container_bare">
                                                <div id="listbox-unique-id" role="listbox">
                                                    <ul class="slds-listbox" role="presentation">
                                                        <li role="presentation" class="slds-listbox__item">
                                                            <span class="slds-pill" role="option" tabindex="0" aria-selected="true">
                                                                <span class="slds-pill__label" title="Analytics">Sample Filter</span>
                                                                <span class="slds-icon_container slds-pill__remove" title="Remove">
                                                                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
                                                                    </svg>
                                                                    <span class="slds-assistive-text">Press delete or backspace to remove</span>
                                                                </span>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="slds-text-title slds-m-top_x-small" aria-live="polite">1 Item(s) Selected</div>
                                        </div>
                                        <div class="slds-scrollable slds-grow">
                                            <table role="grid" class="slds-table slds-table_fixed-layout slds-table_bordered slds-table_resizable-cols slds-no-row-hover slds-scrollable_none">
                                                <thead>
                                                    <tr class="slds-line-height_reset">
                                                        <th scope="col" style="width: 3.75rem;"></th>
                                                        <th aria-label="Product Family" aria-sort="none" class="slds-is-sortable slds-is-resizable slds-text-title_caps" scope="col">
                                                            <a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1">
                                                                <span class="slds-assistive-text">Sort by: </span>
                                                                <span class="slds-truncate" title="Product Family">Image</span>
                                                                <div class="slds-icon_container">
                                                                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown" />
                                                                    </svg>
                                                                </div>
                                                            </a>
                                                            <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true">Sorted none</span>
                                                            <div class="slds-resizable">
                                                                <input type="range" min="20" max="1000" aria-label="Product Family column width" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-20" tabindex="-1" />
                                                                <span class="slds-resizable__handle">
                                                                    <span class="slds-resizable__divider"></span>
                                                                </span>
                                                            </div>
                                                        </th>
                                                        <th aria-label="Name" aria-sort="none" class="slds-is-sortable slds-is-resizable slds-text-title_caps" scope="col">
                                                            <a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1">
                                                                <span class="slds-assistive-text">Sort by: </span>
                                                                <span class="slds-truncate" title="Name">Name</span>
                                                                <div class="slds-icon_container">
                                                                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown" />
                                                                    </svg>
                                                                </div>
                                                            </a>
                                                            <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true">Sorted none</span>
                                                            <div class="slds-resizable">
                                                                <input type="range" min="20" max="1000" aria-label="Name column width" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-17" tabindex="-1" />
                                                                <span class="slds-resizable__handle">
                                                                    <span class="slds-resizable__divider"></span>
                                                                </span>
                                                            </div>
                                                        </th>
                                                        <th aria-label="Product Code" aria-sort="none" class="slds-is-sortable slds-is-resizable slds-text-title_caps" scope="col">
                                                            <a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1">
                                                                <span class="slds-assistive-text">Sort by: </span>
                                                                <span class="slds-truncate" title="Product Code">Brand</span>
                                                                <div class="slds-icon_container">
                                                                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown" />
                                                                    </svg>
                                                                </div>
                                                            </a>
                                                            <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true">Sorted none</span>
                                                            <div class="slds-resizable">
                                                                <input type="range" min="20" max="1000" aria-label="Product Code column width" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-18" tabindex="-1" />
                                                                <span class="slds-resizable__handle">
                                                                    <span class="slds-resizable__divider"></span>
                                                                </span>
                                                            </div>
                                                        </th>
                                                        <th aria-label="List Price" aria-sort="none" class="slds-is-sortable slds-is-resizable slds-text-title_caps" scope="col">
                                                            <a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1">
                                                                <span class="slds-assistive-text">Sort by: </span>
                                                                <span class="slds-truncate" title="List Price">Price</span>
                                                                <div class="slds-icon_container">
                                                                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown" />
                                                                    </svg>
                                                                </div>
                                                            </a>
                                                            <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true">Sorted none</span>
                                                            <div class="slds-resizable">
                                                                <input type="range" min="20" max="1000" aria-label="List Price column width" class="slds-resizable__input slds-assistive-text" id="cell-resize-handle-19" tabindex="-1" />
                                                                <span class="slds-resizable__handle">
                                                                    <span class="slds-resizable__divider"></span>
                                                                </span>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for product in products %}
                                                    <tr class="product-row{{ product.id }}">
                                                        <td role="gridcell" tabindex="0" class="slds-text-align_right" style="width: 3.75rem;">
                                                            <div class="slds-checkbox_add-button">
                                                                <input type="checkbox" class="slds-assistive-text" id="product-row{{ product.id }}" tabindex="-1" value="on" />
                                                                <label for="product-row{{ product.id }}" class="slds-checkbox_faux">
                                                                    <span class="slds-assistive-text">Select item 1</span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td role="gridcell">
                                                            <div class="slds-truncate product-image" title="Image"><img class="prod_img" src="{{ product.Image }}" /></div>
                                                        </td>
                                                        <th scope="row">
                                                            <div class="slds-truncate product-name" title="Product">{{ product.Product }}</div>
                                                        </th>
                                                        <td role="gridcell">
                                                            <div class="slds-truncate product-brand" title="Brand">{{ product.Brand }}</div>
                                                        </td>
                                                        <td role="gridcell">
                                                            <div class="slds-truncate product-price" title="Price">{{ product.Price }}</div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- /SEARCH -->
                                </div>
                                <div class="slds-col slds-border_left">
                                    <!-- RECOMMENDATIOn -->
                                    <div class="slds-col product-recommendation slds-border-left 2slds-p-around_small slds-hide slds-text-align_center" style="min-width:300px">

                                        <div class="slds-filters__header slds-grid slds-has-divider_bottom-space">
                                                <h2 class="slds-align-middle slds-text-heading_medium">Recommendations</h2>
                                                <button class="slds-button slds-button_icon slds-col_bump-left slds-button_icon slds-button_icon-small" title="Close Filter Panel">
                                                  <svg class="slds-button__icon" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#forward" />
                                                  </svg>
                                                  <span class="slds-assistive-text">Close Recommendations Panel</span>
                                                </button>
                                        </div>

                                      {#
                                        <div class="slds-grid">
                                            <div class="slds-col"><h2 class="slds-text-heading--medium slds-m-bottom--x-small slds-text-align_center slds-p-left_small">Recommendation</h2></div>
                                        </div>
                                        #}

                                        <fieldset class="slds-form-element slds-p-top_small">
                                            <div class="slds-form-element__control">
                                                <div class="slds-visual-picker slds-visual-picker_large">
                                                    <input type="radio" id="visual-picker-17" name="options" value="on" />
                                                    <label for="visual-picker-17">
                                                        <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                                                            <span><img src="http://lorempixel.com/120/200/abstract/" /></span>
                                                        </span>
                                                        <span class="slds-visual-picker__body">
                                                            <span class="slds-text-heading_small">Aluminum Zirconium Tetrachlorohydrex GLY</span>
                                                            <span class="slds-text-title">by: Axe</span>
                                                            <span class="slds-text-title">price: $ 47.61</span>
                                                        </span>
                                                        <span class="slds-icon_container slds-visual-picker__text-check">
                                                            <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                                            </svg>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </fieldset>

                                    </div>
                                    <div class="slds-col product-recommendation slds-border-left slds-p-around_small slds-hide slds-text-align_center" style="min-width:300px">
                                        <!--
                                        <div class="slds-grid">
                                            <div class="slds-col"><h2 class="slds-text-heading--medium slds-m-bottom--x-small slds-text-align_center slds-p-left_small">Recommendation</h2></div>
                                        </div>
                                        -->

                                        <fieldset class="slds-form-element">
                                            <div class="slds-form-element__control">
                                                <div class="slds-visual-picker slds-visual-picker_large">
                                                    <input type="radio" id="visual-picker-12" name="options" value="on" />
                                                    <label for="visual-picker-12">
                                                        <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center">
                                                            <span><img src="assets/einstein_empty_state.svg" width="200" /></span>
                                                        </span>
                                                        <span class="slds-visual-picker__body">
                                                            <span class="slds-text-heading_small">Personalized Product Recommendation</span>
                                                        </span>
                                                        <span class="slds-icon_container slds-visual-picker__text-check">
                                                            <svg class="slds-icon slds-icon-text-check slds-icon_x-small" aria-hidden="true">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                                                            </svg>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </fieldset>

                                    </div>
                                    <!-- /RECOMMENDATIOn -->
                                </div>
                            </div>

                            <!-- /CONTENT -->
                        </div>
                        <div id="tab-default-352" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-352__item">
                            <!-- RULES -->
                            {% include "_inc_rules.html" ignore missing %}
                            <!-- /RULES -->
                        </div>
                    </div>
                </div>


                <!--  /EDITOR CONTENT-->




























                <!-- /MODAL CONTENT -->
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral trigger-close-modal">Cancel</button>
                <button class="slds-button slds-button_brand trigger-save-modal">Save</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</div>
