<!--
  Templates leverage Nunjucks, a powerful templating language:
  https://mozilla.github.io/nunjucks/

  # Don't want to use Nunjucks?
    It is entirely optional. Feel free to use normal HTML instead!
-->

<!--
  Extend the global template
-->
{% extends "_template.html" %}

<!--
  Page content (gets injected into the template)
-->
{% block content %}
{% include "_page-header.html" %}

<div class="page-content">
<div class="sidebar">
    <nav class="slds-nav-vertical" aria-label="Sub page">
        <div class="slds-nav-vertical__section">
            <ul>
                <li class="slds-nav-vertical__item"><a href="blank.html" class="slds-nav-vertical__action" aria-describedby="entity-header" aria-current="page">Hostnames</a></li>
                <li class="slds-nav-vertical__item slds-is-active"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Sites</a></li>
                <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Default Paths</a></li>
                <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Redirects</a></li>
                <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">Site Paths</a></li>
                <li class="slds-nav-vertical__item"><a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header">User Agent Rules</a></li>
            </ul>
        </div>
    </nav>
</div>

<div>
<ul class="slds-accordion">
  <li class="slds-accordion__list-item">
    <section class="slds-accordion__section slds-is-open">
      <div class="slds-accordion__summary">
        <h3 class="slds-text-heading--small slds-accordion__summary-heading">
          <button aria-controls="accordion-details-01" aria-expanded="true" class="slds-button slds-button--reset slds-accordion__summary-action">
            <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
            </svg>
            <span class="slds-truncate" title="Accordion summary">Site Name One</span>
          </button>
        </h3>
        <div class="slds-dropdown-trigger slds-dropdown-trigger--click">
            <button class="slds-button slds-button--icon slds-button--icon-border-filled slds-button--icon-x-small" aria-haspopup="true" title="Show More">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                </svg>
                <span class="slds-assistive-text">Show More</span>
            </button>
            <div class="slds-dropdown slds-dropdown--right">
                <ul class="slds-dropdown__list" role="menu">
                    <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" role="menuitem" tabindex="0" class="trigger-edit">
                            <span class="slds-truncate" title="Menu Item One">Edit</span>
                        </a>
                    </li>
                    <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" role="menuitem" tabindex="0">
                            <span class="slds-truncate" title="Menu Item One">Copy</span>
                        </a>
                    </li>
                    <li class="slds-dropdown__item" role="presentation">
                        <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                            <span class="slds-truncate" title="Menu Item Two">Delete</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
      <div aria-hidden="false" class="slds-accordion__content" id="accordion-details-01">

<table class="slds-table slds-table--bordered slds-table--cell-buffer">
  <thead>
    <tr class="slds-text-title--caps">
      <th scope="col">
        <div class="slds-truncate" title="Development">Development</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Staging">Staging</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Production">Production</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" data-label="Opportunity Name">
        <div class="slds-truncate" title="dev.adidas.co.uk">
          <div class="slds-truncate" title="test.adidas.co.uk">dev.adidas.co.uk</div>
        </div>
      </td>
      <td data-label="Account Name">
        <div class="slds-truncate" title="test.adidas.co.uk">test.adidas.co.uk</div>
      </td>
      <td data-label="Close Date">
        <div class="slds-truncate" title="adidas.co.uk">adidas.co.uk <span class="slds-badge">https://</span></div>
      </td>
    </tr>
    <tr>
      <td scope="row" data-label="Opportunity Name">
        <div class="slds-truncate" title="dev.adidas.com">
          <div class="slds-truncate" title="test.adidas.com">dev.adidas.com</div>
        </div>
      </td>
      <td data-label="Account Name">
        <div class="slds-truncate" title="test.adidas.com">test.adidas.com</div>
      </td>
      <td data-label="Close Date">
        <div class="slds-truncate" title="adidas.com">adidas.com</div>
      </td>
    </tr>
    <tr>
      <td scope="row" data-label="Opportunity Name">
        <div class="slds-truncate" title="dev.adidas.de">
          <div class="slds-truncate" title="test.adidas.de">dev.adidas.de</div>
        </div>
      </td>
      <td data-label="Account Name">
        <div class="slds-truncate" title="test.adidas.de">test.adidas.de</div>
      </td>
      <td data-label="Close Date">
        <div class="slds-truncate" title="adidas.de">adidas.de</div>
      </td>
    </tr>
  </tbody>
</table>

      </div>
    </section>
  </li>
  <li class="slds-accordion__list-item">
    <section class="slds-accordion__section">
      <div class="slds-accordion__summary">
        <h3 class="slds-text-heading--small slds-accordion__summary-heading">
          <button aria-controls="accordion-details-02" aria-expanded="false" class="slds-button slds-button--reset slds-accordion__summary-action">
            <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
            </svg>
            <span class="slds-truncate" title="Accordion summary">Accordion summary</span>
          </button>
        </h3>
        <button class="slds-button slds-button--icon slds-button--icon-border-filled slds-button--icon-x-small slds-shrink-none" aria-haspopup="true">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
          </svg>
          <span class="slds-assistive-text">More Options</span>
        </button>
      </div>
      <div aria-hidden="true" class="slds-accordion__content" id="accordion-details-02">Accordion details - B</div>
    </section>
  </li>
  <li class="slds-accordion__list-item">
    <section class="slds-accordion__section">
      <div class="slds-accordion__summary">
        <h3 class="slds-text-heading--small slds-accordion__summary-heading">
          <button aria-controls="accordion-details-03" aria-expanded="false" class="slds-button slds-button--reset slds-accordion__summary-action">
            <svg class="slds-accordion__summary-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
            </svg>
            <span class="slds-truncate" title="Accordion summary">Accordion summary</span>
          </button>
        </h3>
        <button class="slds-button slds-button--icon slds-button--icon-border-filled slds-button--icon-x-small slds-shrink-none" aria-haspopup="true">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
          </svg>
          <span class="slds-assistive-text">More Options</span>
        </button>
      </div>
      <div aria-hidden="true" class="slds-accordion__content" id="accordion-details-03">Accordion details - C</div>
    </section>
  </li>
</ul>
</div>

{% endblock %}
