<!DOCTYPE html>
<html lang="en" class="list-view">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>.: Page Designer :.</title>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/styles/index.css"/>
    <!-- Prototype styles -->

    <script language="javascript" src='/scripts/jquery-3.2.1.min.js'></script>
    <script language="javascript" src='/scripts/jquery-ui.min.js'></script>
    <script language="javascript" src='/scripts/utils.js'></script>
    <script language="javascript" src='/scripts/tether.min.js'></script>
    <script language="javascript" src='/scripts/html5sortable.js'></script>

  </head>

  <body>

<div class="slds-col slds-grid">
  <div class="slds-col">
    <div class="slds-has-dividers_around-space tools">
      <div class="slds-item disabled">Components</div>
      <div>
        <div class="component">component 1</div>
        <div class="slds-drop-zone">
          <div class="slds-drop-zone__container 2slds-is-hovered" tabindex="-1">
            <div class="slds-drop-zone__label slds-drop-zone__label_container">
              <div class="slds-media slds-media_center">
                <div class="slds-media__figure">
                  <span class="slds-icon_container slds-icon-utility-connected_apps slds-current-color">
                    <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#connected_apps"></use>
                    </svg>
                  </span>
                </div>
                <div class="slds-media__body">
                  <h2>
                    <button class="slds-drop-zone__label_button slds-button_reset">
                      <span class="slds-assistive-text">Edit: </span>
                      <span>Banner</span>
                    </button>
                  </h2>
                </div>
              </div>
            </div>
            <div class="demo-only demo-component" style="width:100%;height:10rem"></div>
            <div class="slds-drop-zone__actions">
              <div class="slds-button-group" role="group">
                <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small" title="Move">
                  <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                  </svg>
                  <span class="slds-assistive-text">Move</span>
                </button>
                <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small" title="Close">
                  <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                  </svg>
                  <span class="slds-assistive-text">Close</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="page_structure">component 1</div>
      </div>
    </div>
  </div>

  <div class="slds-col slds-p-left_small" id="canvas">
    <div class="slds-drop-zone slds-m-top_small region" style="min-height:20px; margin-top:2rem">
    </div>
  </div>

  <div class="slds-col slds-p-left_small" id="pagestructure">
    page structure
  </div>

</div>

    <style>
      .sortable-placeholder{
        border: 1px solid green;
        height: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .tools .component{
        display: block
      }
      .tools .page_structure,
      .tools .slds-drop-zone{
        display: none;
      }
      #canvas .slds-drop-zone{
        display: block;
      }
      #canvas .page_structure,
      #canvas .component{
        display: none;
      }
      #pagestructure .pagestructure{
        display: block
      }
      #pagestructure .slds-drop-zone,
      #pagestructure .component{
        display: none;
      }
    </style>

    <script>
      //sortable('.tools');
      sortable('.tools', {
        items: ':not(.disabled)',
        acceptFrom: false,
        copy: true,
      });

      sortable('.region', {
        acceptFrom: '.tools,.region'
      });

      document.querySelector('#canvas .region').addEventListener('sortupdate', function(e){
        sortable('reload');
  			console.log('Sortupdate: ', document.querySelector('#canvas').innerHTML);
        document.querySelector('#pagestructure').innerHTML = document.querySelector('#canvas').innerHTML;
        sortable('reload');

        sortable('.region', {
          acceptFrom: '.tools,.region'
        });

      });
      /*
      document.querySelector('#pagestructure .region').addEventListener('sortupdate', function(e){
        sortable('reload');
  			console.log('Sortupdate: ', document.querySelector('#pagestructure').innerHTML);
        document.querySelector('#canvas').innerHTML = document.querySelector('#pagestructure').innerHTML;
        sortable('reload');

        sortable('.region', {
          acceptFrom: '.tools,.region'
        });

      });
      */
      /* Events fired on the drop target */
      var dropzone = document.querySelector('.region');
      dropzone.ondragover = function(event) {
        event.preventDefault();
        console.log('over');
        $(this).addClass('slds-drop-zone');
        $(this).addClass('slds-drop-zone_drag');
      };
      dropzone.ondragleave = function(event) {
        event.preventDefault();
        console.log('out');
      };
    </script>

  </body>
</html>
