<!DOCTYPE html>
<html lang="en" class="list-view">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>.: Page Designer :.</title>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/styles/index.css"/>
    <!-- Prototype styles -->
  </head>

  <body>

    {% include "_inc_builder-popovers-toolbar.html" %}
    <main class="app-wrapper slds-grid">

      <div class="tools slds-col">
        <div class="slds-drop-zone__container 2slds-is-hovered" style="margin-top:2rem">
          <div class="slds-drop-zone__label slds-drop-zone__label_container">
            <div class="slds-media slds-media_center">
              <div class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-connected_apps slds-current-color">
                  <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#connected_apps"></use>
                  </svg>
                </span>
              </div>
              <div class="slds-media__body">
                <h2>
                  <button class="slds-drop-zone__label_button slds-button_reset">
                    <span class="slds-assistive-text">Edit: </span>
                    <span>Component Name A</span>
                  </button>
                </h2>
              </div>
            </div>
          </div>
          <div class="slds-p-around_small slds-text-align_center" style="">
            <p>Banner A</p>
            <p>
              <span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
                <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#announcement"></use>
                </svg>
                <span class="slds-assistive-text">Banner A</span>
              </span>
            </p>
          </div>
          <div class="slds-drop-zone__actions">
            <div class="slds-button-group" role="group">
              <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small" title="Move">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                </svg>
                <span class="slds-assistive-text">Move</span>
              </button>
              <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small" title="Close">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                </svg>
                <span class="slds-assistive-text">Close</span>
              </button>
            </div>
          </div>
        </div>

        <div class="slds-drop-zone__container 2slds-is-hovered" style="margin-top:2rem">
          <div class="slds-drop-zone__label slds-drop-zone__label_container">
            <div class="slds-media slds-media_center">
              <div class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-connected_apps slds-current-color">
                  <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#connected_apps"></use>
                  </svg>
                </span>
              </div>
              <div class="slds-media__body">
                <h2>
                  <button class="slds-drop-zone__label_button slds-button_reset">
                    <span class="slds-assistive-text">Edit: </span>
                    <span>Component Name B</span>
                  </button>
                </h2>
              </div>
            </div>
          </div>
          <div class="slds-p-around_small slds-text-align_center" style="">
            <p>Banner B</p>
            <p>
              <span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
                <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#announcement"></use>
                </svg>
                <span class="slds-assistive-text">Banner B</span>
              </span>
            </p>
          </div>
          <div class="slds-drop-zone__actions">
            <div class="slds-button-group" role="group">
              <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small" title="Move">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                </svg>
                <span class="slds-assistive-text">Move</span>
              </button>
              <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small" title="Close">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                </svg>
                <span class="slds-assistive-text">Close</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="slds-col" id="canvas">
            <!-- DROP ZONE 1 -->
            <div class="slds-drop-zone 2slds-drop-zone_drag" 2ondragover="allowDrop(event)" 2ondragleave="resetDrop(event)" style="min-height: 2rem">
              {#
                <div class="slds-drop-zone__label">
                  <div class="slds-media slds-media_center">
                    <div class="slds-media__figure">
                      <span class="slds-icon_container slds-icon-utility-builder slds-current-color">
                        <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#builder"></use>
                        </svg>
                      </span>
                    </div>
                    <div class="slds-media__body">
                      <h2>Region 1</h2>
                    </div>
                  </div>
                </div>
                <div class="slds-drop-zone__container 2slds-is-hovered" style="margin-top:2rem;">
                  <div class="slds-drop-zone__label slds-drop-zone__label_container">
                    <div class="slds-media slds-media_center">
                      <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-utility-connected_apps slds-current-color">
                          <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#connected_apps"></use>
                          </svg>
                        </span>
                      </div>
                      <div class="slds-media__body">
                        <h2>
                          <button class="slds-drop-zone__label_button slds-button_reset">
                            <span class="slds-assistive-text">Edit: </span>
                            <span>Component Name A</span>
                          </button>
                        </h2>
                      </div>
                    </div>
                  </div>
                  <div class="slds-p-around_small slds-text-align_center" style="">
                    <p>Banner A</p>
                    <p>
                      <span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
                        <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#announcement"></use>
                        </svg>
                        <span class="slds-assistive-text">Banner A</span>
                      </span>
                    </p>
                  </div>
                  <div class="slds-drop-zone__actions">
                    <div class="slds-button-group" role="group">
                      <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small" title="Move">
                        <svg class="slds-button__icon" aria-hidden="true">
                          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                        </svg>
                        <span class="slds-assistive-text">Move</span>
                      </button>
                      <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small" title="Close">
                        <svg class="slds-button__icon" aria-hidden="true">
                          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                        </svg>
                        <span class="slds-assistive-text">Close</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="slds-drop-zone__container 2slds-is-hovered">
                  <div class="slds-drop-zone__label slds-drop-zone__label_container">
                    <div class="slds-media slds-media_center">
                      <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-utility-connected_apps slds-current-color">
                          <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#connected_apps"></use>
                          </svg>
                        </span>
                      </div>
                      <div class="slds-media__body">
                        <h2>
                          <button class="slds-drop-zone__label_button slds-button_reset">
                            <span class="slds-assistive-text">Edit: </span>
                            <span>Component Name B</span>
                          </button>
                        </h2>
                      </div>
                    </div>
                  </div>
                  <div class="slds-p-around_small slds-text-align_center" style="">
                    <p>Banner B</p>
                    <p>
                      <span class="slds-icon_container slds-icon-utility-announcement" title="Description of icon when needed">
                        <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#announcement"></use>
                        </svg>
                        <span class="slds-assistive-text">Banner B</span>
                      </span>
                    </p>
                  </div>
                  <div class="slds-drop-zone__actions">
                    <div class="slds-button-group" role="group">
                      <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small" title="Move">
                        <svg class="slds-button__icon" aria-hidden="true">
                          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#move"></use>
                        </svg>
                        <span class="slds-assistive-text">Move</span>
                      </button>
                      <button class="slds-button slds-button_icon slds-button_icon-brand slds-button_icon-x-small" title="Close">
                        <svg class="slds-button__icon" aria-hidden="true">
                          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                        </svg>
                        <span class="slds-assistive-text">Close</span>
                      </button>
                    </div>
                  </div>
                </div>
              #}
            </div>
            <!-- /DROP ZONE 1 -->
      </div>

      <!-- PAGE STRUCTURE -->
      <div class="slds-col" id="pagestructure" style="z-index:10000000; display: none;">
        pagestructure
      </div>
      <!-- /PAGE STRUCTURE -->




    </main>

    <script language="javascript" src='/scripts/jquery-3.2.1.min.js'></script>
    <script language="javascript" src='/scripts/jquery-ui.min.js'></script>
    <script language="javascript" src='/scripts/utils.js'></script>
    <script language="javascript" src='/scripts/tether.min.js'></script>
    <script language="javascript" src='/scripts/html5sortable.js'></script>

    <script src="/scripts/jquery.caret.min.js"></script>
    <script src="/scripts/jquery.tag-editor.js"></script>


<script>
  /*
  function allowDrop(event) {
    $(this).addClass('slds-is-hovered');
    console.log('allow drop');
  }
  function drop(event) {
    event.target.style.border = "none";
    console.log('drop');
  }
  function resetDrop(event) {
    event.target.style.border = "none";
    console.log('reset Drop');
  }
  function dragStart(event) {
    console.log('drag start');
  }
  */

  //SORTABLE CLONING - sortable('.tools');

  sortable('.tools', {
    items: ':not(.disabled)',
    acceptFrom: false,
    copy: true
  });

  sortable('.slds-drop-zone', {
    forcePlaceholderSize: true,
    items: ':not(.disabled)',
    acceptFrom: '.slds-drop-zone, .tools',
  });



  document.querySelector('#canvas .slds-drop-zone').addEventListener('sortupdate', function(e){
    //sortable('reload');
    console.log('updated canvas');


    //document.querySelector('#canvas').innerHTML = document.querySelector('#pagestructure').innerHTML;
    $('#canvas .slds-drop-zone__container').css('display', '')
    console.log(document.querySelector('#canvas').innerHTML);
    document.querySelector('#pagestructure').innerHTML = document.querySelector('#canvas').innerHTML;
    //$('#pagestructure .slds-drop-zone__container').css('display', '')
    //sortable('reload');

  });




  /*
  sortable('#pagestructure .region', {
    //acceptFrom: '.tools,.region'
  });
  */

  /*
  document.querySelector('#canvas ul').addEventListener('sortupdate', function(e){
    sortable('reload');
    console.log('updated canvas');
    document.querySelector('#pagestructure').innerHTML = document.querySelector('#canvas').innerHTML;
    $('#pagestructure .component').css('display', '')
    $('#canvas .component').css('display', '')
    sortable('reload');

  });

  document.querySelector('#pagestructure ul').addEventListener('sortupdate', function(e){
    sortable('reload');
    console.log('update structure');
    document.querySelector('#canvas').innerHTML = document.querySelector('#pagestructure').innerHTML;
    $('#pagestructure .component').css('display', '')
    $('#canvas .component').css('display', '')
    sortable('reload');
  });
  */

  //PD MENU
  $('.js-component-palette-button').click(function() {
    $('.js-component-palette-button').removeClass('is-active');
    $('#component-palette-menu').addClass('slds-hide');
    $('.js-page-structure-button').removeClass('is-active');
    $('#page-structure-menu').addClass('slds-hide');
    $('#modal-page-settings').addClass('slds-hide');
    $('.js-component-palette-button').addClass('is-active');
    $('#component-palette-menu').removeClass('slds-hide');
  });

  //PAGE STRUCTURE
  $('.js-page-structure-button').click(function() {
    $('.js-component-palette-button').removeClass('is-active');
    $('#component-palette-menu').addClass('slds-hide');
    $('.js-page-structure-button').removeClass('is-active');
    $('#page-structure-menu').addClass('slds-hide');
    $('#modal-page-settings').addClass('slds-hide');
    $('.js-page-structure-button').toggleClass('is-active');
    $('#page-structure-menu').toggleClass('slds-hide');
  });

  //PAGE SETTINGS
  $('.js-page-settings-button').click(function() {
    $('.js-component-palette-button').removeClass('is-active');
    $('#component-palette-menu').addClass('slds-hide');
    $('.js-page-structure-button').removeClass('is-active');
    $('#page-structure-menu').addClass('slds-hide');
    $('#modal-page-settings').addClass('slds-hide');

    /*
    $('#page-settings-general').removeClass('slds-active');
    $('#page-settings-seo').removeClass('slds-active');
    $('#page-settings-rules').removeClass('slds-active');
    $('#tab-default-11').removeClass('slds-show');
    $('#tab-default-21').removeClass('slds-show');
    $('#tab-default-31').removeClass('slds-show');
    $('#tab-default-32').removeClass('slds-show');

    $('#tab-default-11').addClass('slds-hide');
    $('#tab-default-21').addClass('slds-hide');
    $('#tab-default-31').addClass('slds-hide');
    $('#tab-default-32').addClass('slds-hide');

    $('#tab-default-11').addClass('slds-show');
    */

    $('#page-settings-general').addClass('slds-active');
    $('#modal-page-settings').toggleClass('slds-hide');
  });

  /*
  $('#region1').hover(function(){
    console.log('in');
    $('#dropzone1').toggleClass('slds-drop-zone');
    $('#dropzone1').toggleClass('slds-drop-zone_drag');
    return false;
  });
  */


  //CLOSE PD Panels
  $('#component-palette-menu .js-trigger-close').click(function(e) {
      console.log('close component palette now');
      $('.js-component-palette-button').removeClass('is-active');
      $('#component-palette-menu').addClass('slds-hide');
  });

  $('#page-structure-menu .js-trigger-close').click(function(e) {
      //console.log('close component palette now');
      $('.js-page-structure-button').removeClass('is-active');
      $('#page-structure-menu').addClass('slds-hide');
  });




</script>


<style>
.sortable-placeholder{
  background: green;
  height:10px
}
</style>


</body>
</html>
