<!DOCTYPE html>
<html lang="en" class="list-view">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>.: Page Designer :.</title>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="/styles/index.css"/>
    <!-- Prototype styles -->
  </head>

  <body>


    <div class="slds-grid slds-col">
      <div class="slds-col">
        <ul id="components">
          <li><div>New Item</div>
            <ul>list</ul>
          </li>
        </ul>
      </div>
      <div class="slds-col">
        <div id="canvas">
            <ul>
                <li ><div>Item 2</div>
                  <ul></ul>
                   <ul>
                        <li ><div>Item 1 1</div>
                          <ul></ul>
                        </li>
                        <li ><div>Item 1 2</div>
                          <ul></ul>
                        </li>
                        <li ><div>Item 1 3</div>
                          <ul></ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
      </div>

    </div>


  </body>

<script src='/scripts/jquery-3.2.1.min.js'></script>
<script src='/scripts/jquery-ui.min.js'></script>
<script src='/scripts/utils.js'></script>
<script src='/scripts/tether.min.js'></script>


<script>
$('#components li').draggable({
  helper: 'clone',
  connectToSortable: '#canvas ul'
});

$('#canvas ul').sortable({
  connectWith: '#canvas ul',
  placeholder: 'ui-state-highlight',
  toleranceElement:'ul'
});
</script>



</html>
