<!--
  Templates leverage Nunjucks, a powerful templating language:
  https://mozilla.github.io/nunjucks/

  # Don't want to use Nunjucks?
    It is entirely optional. Feel free to use normal HTML instead!
-->
<!--
  Extend the global template
-->
{% extends "_template.html" %}
<!--
  Page content (gets injected into the template)
-->
{% block content %} {% include "_page-header-filtered.html" %}
<div class="content-frame-container slds-grow">
    <div class="content-frame slds-scrollable_y">
        <ul class="slds-listbox slds-listbox_horizontal slds-p-top_xxx-small" role="group" aria-label="Selected Options:">
            <li role="presentation" class="slds-listbox__item">
                <span class="slds-pill" role="option" tabindex="0" aria-selected="true">
            <span class="slds-pill__label" title="Option A">English</span>
                <span class="slds-icon_container slds-pill__remove" title="Remove">
              <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
              </svg>
              <span class="slds-assistive-text">Press delete or backspace to remove</span>
                </span>
                </span>
            </li>
            <li role="presentation" class="slds-listbox__item">
                <span class="slds-pill" role="option" aria-selected="true">
            <span class="slds-pill__label" title="Option B">Stop Words</span>
                <span class="slds-icon_container slds-pill__remove" title="Remove">
              <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
              </svg>
              <span class="slds-assistive-text">Press delete or backspace to remove</span>
                </span>
                </span>
            </li>
        </ul>
        <div>
            <table class="slds-table slds-table_bordered slds-table_resizable-cols slds-table_fixed-layout slds-table_striped" role="grid">
                <thead>
                    <tr class="slds-line-height--reset">
                        <th scope="col" style="width:3.25rem;" class="slds-text-align--right">
                            <div class="slds-th__action slds-th__action--form">
                                <span class="slds-checkbox">
            <input type="checkbox" name="options" id="checkbox-170" />
            <label class="slds-checkbox__label" for="checkbox-170">
              <span class="slds-checkbox--faux"></span>
                                <span class="slds-form-element__label slds-assistive-text">Select All</span>
                                </label>
                                </span>
                            </div>
                        </th>
                        <th class="slds-is-sortable slds-is-resizable slds-text-title--caps" scope="col">
                            <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset" tabindex="0">
                                <span class="slds-assistive-text">Sort </span>
                                <span class="slds-truncate" title="Name">Value</span>
                                <div class="slds-icon_container">
                                    <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                                    </svg>
                                </div>
                                <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
                            </a>
                        </th>
                        <th class="slds-is-sortable slds-is-resizable slds-text-title--caps" scope="col">
                            <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset" tabindex="0">
                                <span class="slds-assistive-text">Sort </span>
                                <span class="slds-truncate" title="Account Name">Type</span>
                                <div class="slds-icon_container">
                                    <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                                    </svg>
                                </div>
                                <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
                            </a>
                        </th>
                        <th class="slds-is-sortable slds-is-resizable slds-text-title--caps" scope="col">
                            <a href="javascript:void(0);" class="slds-th__action slds-text-link--reset" tabindex="0">
                                <span class="slds-assistive-text">Sort </span>
                                <span class="slds-truncate" title="Close Date">Locale</span>
                                <div class="slds-icon_container">
                                    <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-is-sortable__icon" aria-hidden="true">
                                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown"></use>
                                    </svg>
                                </div>
                                <span class="slds-assistive-text" aria-live="assertive" aria-atomic="true"></span>
                            </a>
                        </th>
                        <th scope="col" style="width:3.25rem;">
                            <div class="slds-th__action">
                                <span class="slds-assistive-text">Actions</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for dictionary in dictionaries %}
                    <tr class="slds-hint-parent">
                        <td role="gridcell" class="slds-text-align--right" style="width:3.25rem;">
                            <span class="slds-checkbox">
          <input type="checkbox" name="options" id="{{ dictionary.id }}" />
          <label class="slds-checkbox__label" for="{{ dictionary.id }}">
            <span class="slds-checkbox--faux"></span>
                            <span class="slds-form-element__label slds-assistive-text">Select item 1</span>
                            </label>
                            </span>
                        </td>
                        <td scope="row">
                            <div class="slds-truncate" title="test.adidas.de">{{ dictionary.value }}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title="staging.adidas.de">{{ dictionary.locale }}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title="Site 2 / en_EN">{{ dictionary.type }}</div>
                        </td>
                        <td role="gridcell" style="width:3.25rem;">
                            <div class="slds-dropdown-trigger slds-dropdown-trigger--click">
                                <button class="slds-button slds-button--icon slds-button--icon-border-filled slds-button--icon-x-small" aria-haspopup="true" title="Show More">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Show More</span>
                                </button>
                                <div class="slds-dropdown slds-dropdown--right">
                                    <ul class="slds-dropdown__list" role="menu">
                                        <li class="slds-dropdown__item" role="presentation">
                                            <a href="javascript:void(0);" role="menuitem" tabindex="0" class="trigger-edit">
                                                <span class="slds-truncate" title="Menu Item One">Edit</span>
                                            </a>
                                        </li>
                                        <li class="slds-dropdown__item" role="presentation">
                                            <a href="javascript:void(0);" role="menuitem" tabindex="-1" class="delete-trigger">
                                                <span class="slds-truncate" title="Menu Item Two">Delete</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="slds-text-align_center slds-m-top_medium slds-m-bottom_medium">
                <button class="slds-button slds-button_neutral">Show more</button>
            </div>
        </div>
    </div>
    {% endblock %}
