<div class="demo-only" style="height: 34rem;">
    <button class="slds-button slds-button_neutral 2slds-button_icon 3slds-button_icon-border-filled" title="Show Favorites">
    Select Recommender
    <span class="slds-assistive-text">Show Recommenders</span>
    </button>
    <section class="slds-popover slds-nubbin_top-left slds-dynamic-menu slds-hide" role="dialog" aria-label="My Favourites" aria-describedby="dialog-body-id-3" 
    style="position: absolute; left: 0px; top: 55px;">
    <div class="slds-popover__body slds-p-horizontal_none" id="dialog-body-id-3">
    <div class="slds-form-element">
    <label class="slds-form-element__label slds-assistive-text" for="combobox-unique-id-1">Search</label>
    <div class="slds-form-element__control">
    <div class="slds-combobox_container">
    <div class="slds-combobox slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right slds-m-around_small" role="none">
    <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id-1" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Search Recommenders" />
    <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
    <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search" />
    </svg>
    </span>
    </div>
    <div id="listbox-unique-id" role="listbox">
    <ul class="slds-listbox slds-listbox_vertical slds-dropdown_length-10" role="group" aria-label="My Favorites">
    <li role="presentation" class="slds-listbox__item">
    <div class="slds-media slds-listbox__option slds-listbox__option_plain" role="presentation">
    <h3 class="slds-text-title_caps" role="presentation">Recommenders</h3>
    </div>
    </li>
    <li role="presentation" class="slds-listbox__item">
    <div id="listbox-option-id-1" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
    <span class="slds-media__figure">
    <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
        <img src="/assets/einstein-color.svg" />
    <span class="slds-assistive-text">Description of icon when needed</span>
    </span>
    </span>
    <span class="slds-media__body">
    <span class="slds-listbox__option-text slds-listbox__option-text_entity">Fashion - Male - Suits</span>
    <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">displays all the recommendations related to male suit pants</span>
    </span>
    </div>
    </li>
    <li role="presentation" class="slds-listbox__item">
    <div id="listbox-option-id-2" class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
    <span class="slds-media__figure">
    <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
    <img src="/assets/einstein-color.svg" />
    <span class="slds-assistive-text">Description of icon when needed</span>
    </span>
    </span>
    <span class="slds-media__body">
    <span class="slds-listbox__option-text slds-listbox__option-text_entity">Fashion - Female Evening Dress</span>
    <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">displays all the recommendations related to female evening dresses</span>
    </span>
    </div>
    </li>
    
    
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <footer class="slds-popover__footer">
    <ul>
    <li>
    <button class="slds-button slds-button_reset slds-p-vertical_xx-small slds-size_1-of-1">
        Manage Recommenders ...
    </button>
    </li>
    <li>
    </li>
    </ul>
    </footer>
    </section>
    </div>
